[2016-12-07 20:22] kgooble commented on #318
@rampara After resolving the client jars, the sample project worked! Thank you! I'm going to see if I can get my own project to work now.

[2016-12-07 20:47] kgooble commented on #318
Just an update: Rewarded ads successfully load Vungle ads for me now. Thanks so much for the help!

[2016-12-07 20:47] #318 closed

[2016-12-08 08:53] sam-mckay commented on #289
@rampara That issue has now been resolved but it didn't seem to want to copy the frameworks over, and i'm yet to test manually copying them over as suggested here:
https://groups.google.com/forum/#!topic/google-admob-ads-sdk/55COuO1SH2M

[2016-12-08 08:56] sam-mckay commented on #315
@ozbra see this link for a fix to cocoapods https://groups.google.com/forum/#!topic/google-admob-ads-sdk/55COuO1SH2M

[2016-12-08 20:11] rampara commented on #289
@sam-mckay Are you seeing issues with frameworks not being copied over with the latest version of the plugin (v3.1.3). The latest release pulls in fixes from the JarResolver library that addresses iOS framework resolution issues. Also, are you seeing any output in the Unity console that may indicate why frameworks are not being copied over?

[2016-12-09 21:11] tommyzat opened #320 "New commit made everything worse?"
Hello, since the new commit on 3.1.3 NOTHING works now. Banners don't appear, and input controls are completely ignored. Why?

[2016-12-10 00:38] rampara commented on #320
Are you seeing this issue on Android or on iOS? Do you see any output in logcat or the Xcode console that may indicate the cause of the issue?

[2016-12-10 10:57] #314 closed

[2016-12-10 11:00] chuakc92 commented on #312
Yes, for anyone having these issues, look up ALL Deps files related to Google and change the "9.8+" to "LATEST". Remove any 9.8.0 files you may have in Android >> Plugins and Resolve Jars.

[2016-12-10 11:02] chuakc92 commented on #283
Try looking up Google.JarResolver.dll and remove it.

[2016-12-12 13:24] marekdaniluk opened #321 "Conflicts with Play games plugin on iOS"
Latest versions of both plugins gives Unity build error:
[code]
You can reproduce this issue on clean project and trying to create xcode project from Unity.

[2016-12-14 00:21] birdkingz opened #322 "Interstitial ads not showing full screen on iPhone 6 Plus"
Happens on v3.1.3
Please check the attached screenshot:

https://drive.google.com/open?id=0B79FLKapSRPscTBoMVZWV1N5X0U

EDIT: Using Google Mobile Ads iOS SDK v7.15

[2016-12-14 23:48] rampara commented on #322
Is this issue consistently reproducible for you? Are you able to capture a Charles log for an ad request where you see the incorrectly rendered interstitial?

[2016-12-15 00:20] birdkingz commented on #322
Yes, every time the ads appear it will appear in this way.
Where/How can I capture a "Charles log"?

[2016-12-15 01:04] trtuanpham commented on #311
@rampara i use print of unity

[2016-12-15 01:10] trtuanpham commented on #311
@rampara I don't see it in editor and debug in android

[2016-12-15 18:51] siddharth3322 commented on #287
@rampara At present I was facing same issue when I try to load rewarded video.
I was using Unity ad network for 3rd party mediation purpose.

![screen shot 2016-12-16 at 12 15 04 am]

Also attaching image for admob settings:

![screen shot 2016-12-16 at 12 20 06 am]

I have already integrate Unity Ads SDK into project using Asset Store.
Please give me some help into this.

(https://cloud.githubuse

[2016-12-15 23:50] rampara commented on #321
@marekdaniluk are you using any other plugins that use the JarResolver library in your Unity project? Also, can you try setting the target minimum iOS value to a higher value in your player build settings?

[2016-12-16 00:02] rampara commented on #287
@siddharth3322 is this error always reproducible or are you able to successfully request and display ads from Unity Ads sometimes? Do you see any other output in logcat that may indicate the cause of the error? Can you try integrating the Unity Ads SDK available in their [public repo](https://github.com/Unity-Technologies/unity-ads-android) rather than the one distributed through the asset store.

[2016-12-16 00:04] rampara commented on #311
@trtuanpham I'm having trouble reproducing this behavior. Can you provide me a link to a Unity project (preferably a stripped down sample app similar to the one included in this repo) that exhibits this issue to help me debug.

[2016-12-16 00:06] rampara commented on #322
Can you provide me with the ad unit you are using to request interstitial ads? Also, the official [Charles](https://www.charlesproxy.com/documentation/) has documentation on how to setup a Charles proxy as well as collect logs.

[2016-12-16 03:02] chuakc92 commented on #313
Try removing Google.JarResolver.dll.

[2016-12-16 10:38] marekdaniluk commented on #321
@rampara no, only those two plugins. I imported them to new project using Unity 5.3.6p2 and Target minimum iOS version set to 6.0. I am afraid I am tied to this configuration.

[2016-12-17 00:44] birdkingz commented on #322
It seems the ads is working fine now.
I'm guessing maybe is the publisher site using the wrong image size as an ad.

[2016-12-17 00:44] #322 closed

[2016-12-17 07:38] ForestJungle opened #323 "Why Fill rate of Reward Admob is too Low?"
Hello Admob Team.I integrated Vungle and Unity ads via Reward Admob.at this time Video only show unity ads without don't have Vungle.
I wanna why fill rate of admob is too low?I send request 1000 times but impression very low.
![image](https://cloud.githubusercontent.com/assets/21006187/21285676/d59c700e-c471-11e6-901c-62bd69f99df0.png)

[2016-12-19 19:03] rampara commented on #323
This issue tracker is meant for bugs and feature requests specific to the Google Mobile Ads Unity plugin. The Google Mobile Ads [support forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) would be a more appropriate place to get support for low fill rate .

[2016-12-19 19:03] #323 closed

[2016-12-19 19:49] rampara commented on #321
Latest versions of both Google Mobile Ads and Google Play Games require an iOS 7.0 or higher deployment target.

[2016-12-20 18:39] rampara commented on #291
Closing issue to due its age and non-response. Please re-open if this issue persists for you.

[2016-12-20 18:39] #291 closed

[2016-12-21 00:46] Vinicioslc opened #324 "Is this a common bug? How i Fix ?"
Is this a common bug? Where can I fix it? I never got into an error, so extensive... :sweat:
Error appears inside editor...
![screenshot_1](https://cloud.githubusercontent.com/assets/10997022/21373428/112fd7e6-c706-11e6-9e77-4f0c4477199e.png)

[2016-12-22 09:13] ForestJungle opened #325 "[UNITY] Crash game Android when finisish reward video Vungle via Admob Mediation?"
Hello Everyone.I'm having a big problems.I use reward admob with Unity ads and Vungle Ads.After Video finish Unity ads does work but Vunlge is not.
When I click X button to turn off Vungle ads then Game crash.Can anyone suggestion for me? Thanks a lot! :)

[2016-12-22 09:14] ForestJungle commented on #309
Hello Everyone.I'm having a big problems.I use reward admob with Unity ads and Vungle Ads.After Video finish Unity ads does work but Vunlge is not.
When I click X button to turn off Vungle ads then Game crash.Can anyone suggestion for me? Thanks a lot! :)

[2016-12-23 22:14] Vinicioslc commented on #324
Forbiden this guys im so dumb im using now admob plugin

[2016-12-27 13:11] spixy opened #326 "Banner ad clipped"
Hi, I am using responsive banner ad with
`new AdSize((int)(115200 / Screen.dpi), (int)(18000 / Screen.dpi))`
(its default banner size 350x50 but scaled with DPI)

But sometimes the ad content is clipped like this:
![admob](https://cloud.githubusercontent.com/assets/4542110/21500232/271628ee-cc3d-11e6-94a7-5d476cac6e20.jpg)

Is it problem in unity plugin or in AdMob or did I use not supported banne

[2016-12-27 19:29] nekenPL opened #327 "Converting managed assemblies to C++"
Hi,

I installed latest GoogleAds plugin to my project. On iOS platform, when I want to build a project, its stuck on "Converting managed assemblies to C++".

Any advice?

[2016-12-28 00:07] GameSeekerAtlas opened #328 "Debug Log functions are not working from callbacks"
None of Debug Log methods are working if called from EventHandler.
inherited Debug Log methods are not working too.

[code]

[2016-12-28 21:54] TimLCooley opened #329 "Price not being called in a live build on Google Play"
I am trying to pull in the price for In App Purchases (IAP) using Unity Ads and AdMob.

Original post here:  [Original Post](http://stackoverflow.com/questions/41310005/how-do-i-get-the-price-from-admob-in-unity-aip?noredirect=1#comment69938342_41310005)
It has pictures.

CODE:
`public void InitializePurchasing()
{
    // If we have already connected to Purchasing ...
    if (IsInitialized())

[2016-12-29 00:28] TimLCooley commented on #329
I figured it out.  The code was being called too early.

[2016-12-29 00:28] #329 closed

[2016-12-29 02:25] jun496 opened #330 "[Unity 5.5.0p3] Build failure : Unable to convert classes into dex format. (With Google Play Service plugin)"
I have already read all issues,
and I've check "Conflicts with Play games plugin #283", but that was not for me.

Google Mobile Ads and Google Play service plugin are lastest version,
I updated AdroidSDK to lastest,
There is no duplicated aar or jar files,
There is no firebase files,
but I have build error now.
Only way to make successful build is remove plugin for Google Mobile Ads.

Please let m

[2017-01-02 14:31] roncrisostomo opened #331 "Ads don't show on Android when using Unity 5.6.0b3"
I'm running Google Mobile Ads 3.1.3 on an empty project. It works fine on Unity 5.5, but not on Unity 5.6 for Android (iOS runs fine). Logcat says "Ad finished loading", but nothing shows on screen.

I'm aware that the version of Unity I'm using is still a beta so problems like this are to be expected. Reverting to an older version is not an option for us unfortunately, because 5.6 brings somethin

[2017-01-03 21:23] kgooble opened #332 "View provider for loaded ad"
I didn't see any documentation for this anywhere, so I was wondering if it is possible to know which provider provided the ad that we just loaded/showed the user? For example, I've integrated ad mediation for Vungle and AdColony. If AdMob provides me with an ad from Vungle, is it possible to know this in the code when the ad is finished loading?

Thank you!

[2017-01-04 21:02] s4relok opened #333 "Unity Cloud Build for iOS doesn't support cocoapods"
Currently Unity Cloud Build doesn't support cocoapods.

`'pod' command not found; unable to generate a usable Xcode project.`

Is it possible to integrate the latest version of the plugin without using cocoapods at all?

Should I just add iOS Mobile Ads SDK to my project to solve the problem?

[2017-01-06 20:29] rampara commented on #332
The Google Mobile Ads SDK does provide the ability to get the mediation adapter class name for an ad view. Will add corresponding Unity APIs for this functionality.

[2017-01-06 22:44] rampara commented on #328
What platform are you deploying your Unity app to ? Did a quick test with the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repo and the `MonoBehaviour.print()` (should be identical to `Debug.Log`) calls from ad event EventHandlers are working without issue for me on both iOS and Android.

[2017-01-06 22:48] rampara commented on #330
Looks like your running into the [dex limit](https://developer.android.com/studio/build/multidex.html#about). As a workaround you can try the following:

1. Remove any libraries that are not required for you app.
2. Use the [Lite Ads SDK](https://firebase.google.com/docs/admob/android/lite-sdk) for your Unity app. To use the lite SDK update the Google Mobile Ads SDK dependency declaration in `AdMo

[2017-01-06 23:00] rampara commented on #325
Is your issue the when closing a Vungle mediated rewarded video ad you're experiencing a crash? If so, what platform are you deploying your Unity app to (Android or iOS)? Do you see any output in logcat or in the Xcode console that might indicate the cause of the error? Are you using the latest versions of the Vungle SDK and adapter?

[2017-01-06 23:02] rampara commented on #309
Closing this issue as your original issue seems to have been resolved and your latest comment is a duplicate of #325.

[2017-01-06 23:02] #309 closed

[2017-01-06 23:06] rampara commented on #324
Are you using the latest version of this plugin? The error is are running into is caused by the [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library being unable to locate the firebase unity dependency on your machine. If you were not prompted to do so by the JarResolver library, you should ensure this dependency is downloaded and available on your machine.

[2017-01-06 23:07] rampara commented on #326
Are you seeing this issue across all banners or only for certain requests? Are you able capture a Charles log for an ad request where you run into this issue?

[2017-01-06 23:09] rampara commented on #327
Are you also running into issues building and running the [sample application](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repo?

[2017-01-07 00:18] rampara commented on #308
Closing due to non-response. Please re-open if this issue persists for you.

[2017-01-07 00:18] #308 closed

[2017-01-08 10:53] devaniumesh opened #334 "Interestial Ads Not Showing on Live Android Device for Game Build in Unity 4.6"
Detailed Question posted on Stack-overflow
[http://stackoverflow.com/questions/41531875/interestial-ads-not-showing-on-live-android-device-for-game-build-in-unity-4-6](http://stackoverflow.com/questions/41531875/interestial-ads-not-showing-on-live-android-device-for-game-build-in-unity-4-6)

[2017-01-08 15:00] GameSeekerAtlas commented on #328
it is not a big deal but still can't manage to work Debug.Log() with debughandler from callbacks.
[drive link](https://drive.google.com/open?id=0B1exfgPdvHaxaTNmejRMb2dHQm8)

[2017-01-09 19:50] technohowl opened #335 "Rewarded Video Frequency Capping don't work"
Frequency capping do not work for rewarded videos. (I have not tested the interstitials.)

I have setup 2 impressions per hour for rewarded video ad unit. Even then I am able to load and show rewarded video.

[2017-01-12 02:07] ericleich commented on #335
There is an open bug that's being investigated internally with frequency capping in AdMob. Note that the problem and eventual fix will be at the ad serving level, which means it won't require a Unity plugin update, nor a Google Mobile Ads SDK update, once the fix happens.

I'm closing this issue since there's nothing the Unity plugin can do here.

[2017-01-12 02:07] #335 closed

[2017-01-12 03:42] 850176300 opened #336 "CommandInvokationFailure: Failed to re-package resources. See the Console for details."
CommandInvokationFailure: Failed to re-package resources. See the Console for details.
E:\Android\sdk\build-tools\25.0.0\aapt.exe package --auto-add-overlay -v -f -m -J gen -M AndroidManifest.xml -S "res" -I "E:/Android/sdk\platforms\android-25\android.jar" -F bin/resources.ap_ --extra-packages com.jellygame.nailsalon

stderr[
AndroidManifest.xml:16: error: Error: No resource found that matches th

[2017-01-12 18:56] rampara commented on #336
It doesn't seem like the JarResolver library copied the required Google Play Services AARs into the `Assets/Plugins/Android` directory of your project. Can you post the contents of this directory? If this directory does not contain the required Play Services AARs you can force dependency resolution by selecting `Assets->Google Play Services->Resolve Client Jars` in the Unity editor.

[2017-01-12 19:28] rampara commented on #328
Using the project you linked, I'm seeing log output (under the `Unity` tag in logcat) from the ad loaded callbacks without issue. What platform (iOS or Android) are you seeing this issue on?

[2017-01-13 16:07] kgooble commented on #332
Thank you @rampara, looking forward to this change!

[2017-01-13 19:33] rampara commented on #334
@devaniumesh within the `Ads` and `Unity` tags under logcat, do you see any output that may indicate why you're not seeing ads? Are you also unable to request and display ads with the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repo?

[2017-01-14 10:08] GameSeekerAtlas commented on #328
unity 5.5.0f3
android x86 device
there is no outputs from helloworld sample too.

maybe that problem is about my setup.
thanks for looking, i workaround that with custom onsceen debug.
you may close this, or if you want more information i can support.

[2017-01-14 13:16] stantler opened #337 "CommandInvokationFailure: Failed to re-package resources. See the Console for details."
Unity 5.5.0f3 - empty project
Plugin v3.1.3
Resolver version: 10101

[code]

And when I start JarResolver (`Assets->Play Services Resolver->Android resolver->Resolve clients Jars`) it throws error:
`XmlException: Document element did not appear.  Line 1, position 1.
Mono.Xml2.XmlTextReader.Read ()
System.Xml.XmlTextReader.Read ()
Google.JarResolver.PlayServicesSupport.ProcessMetadata (Google.JarRe

[2017-01-17 18:34] rampara commented on #337
It doesn't seem like the JarResolver library copied the required Google Play Services AARs into the `Assets/Plugins/Android` directory of your project. Can you post the contents of this directory? If this directory does not contain the required Play Services AARs you can force dependency resolution by selecting `Assets->Google Play Services->Resolve Client Jars` in the Unity editor.

[2017-01-17 18:36] rampara commented on #328
Closing the issue as it's not reproducible.

[2017-01-17 18:36] #328 closed

[2017-01-17 18:40] rampara commented on #320
Closing issue due to non-response. If this issue persists for you please re-open.

[2017-01-17 18:40] #320 closed

[2017-01-17 20:13] stantler commented on #337
As I mentioned previously my `Assets/Plugins/Android` folder have only `GoogleMobileAdsPlugin` from plugin.

And `Assets->Google Play Services->Resolve Client Jars` throws error:

`XmlException: Document element did not appear. Line 1, position 1. Mono.Xml2.XmlTextReader.Read () System.Xml.XmlTextReader.Read () Google.JarResolver.PlayServicesSupport.ProcessMetadata (Google.JarResolver.Dependency d

[2017-01-18 08:46] Kaldarash opened #338 "`Google.VersionHandler' has already been imported."
Updating my project to the new version of this mobile plugin and the play games plugin, and I get this error:
`error CS1704: An assembly with the same name `Google.VersionHandler' has already been imported. Consider removing one of the references or sign the assembly
Assets/PlayServicesResolver/Editor/Google.VersionHandler.dll (Location of the symbol related to previous error)
Assets/PlayServicesR

[2017-01-18 22:19] rampara commented on #338
Can you try deleting the contents of the `Assets/PlayServicesResolver` directory of your Unity project and re-importing the latest version of this plugin.

[2017-01-20 05:54] openxcellstudio opened #339 "TestMode"
hi,
if you also provide test mode bool in your script than it will be good for check ads in test-mode.
so that if check box is on than it will automatically fetch device id and add in to create request.

this is for suggestion

thanks.

[2017-01-20 18:45] Rainking80 commented on #338
I see the same thing! I did the reimporting and error still appears...

[2017-01-20 18:46] rampara commented on #338
@Rainking80 Can you post the contents of your `Assets/PlayServicesResolver` directory?

[2017-01-20 18:51] Rainking80 commented on #338
You mean like this:
![pservices](https://cloud.githubusercontent.com/assets/5574367/22161246/d2c1a488-df49-11e6-8a13-c6a7ae660f51.PNG)

[2017-01-20 18:55] rampara commented on #339
Requiring the device identifier to enable test mode was a conscious decision in the GMA SDK which has been mirrored in this plugin. Having test mode set with a bool means test mode applies universally to all devices and distributing an app without removing the test mode call would result in lost revenue.

[2017-01-20 18:55] #339 closed

[2017-01-20 19:03] Rainking80 commented on #338
Me again: I reimported the plugin again - same issue. I restarted unity 2 or 3 times then a "Google plugin is ready to use" popup appeared and now it seems to work!

[2017-01-20 19:05] rampara commented on #338
Glad you were able to get everything working.

[2017-01-20 19:44] rampara commented on #337
Missed the stack trace you included at the bottom of your original post. That error looks like one of the Play Services pom files that describes Play Services dependencies in XML is malformed. Can you re-downloading the latest Play Services files.

[2017-01-23 10:45] SHAKEELABDULKARIM opened #340 "Error building Player: CommandInvokationFailure: Failed to re-package resources"
i am using unity 4.6.9 and this error is show i have updated android sdk. whatever plugin version is this error occurs when i make build for android

Error building Player: CommandInvokationFailure: Failed to re-package resources. See the Console for details.
/Users/Shakeel/Library/Android/sdk/build-tools/25.0.2/aapt package --auto-add-overlay -v -f -m -J gen -M AndroidManifest.xml -S "res" -I "/U

[2017-01-23 11:49] PAHeartBeat commented on #340
I think you missing "google-play-services_lib" folder in andorid folder
you can get this folder from "AndroidSDK/Extras/google/google-play-services/libproject/" and copy "google-play-services_lib" it to your Android folder inside Unity Project /Assets/Plugin/Android.

[2017-01-23 12:00] SHAKEELABDULKARIM commented on #340
I have mac book and there is no libproject

[2017-01-23 12:17] PAHeartBeat commented on #340
Please download ZIP file for "google_play_services_lib" it from above given link you can use 23 or 29 which I have used both version for my project it will work.

[2017-01-23 13:05] SHAKEELABDULKARIM commented on #340
Thank you very much!

[2017-01-23 20:23] stantler commented on #337
I solved this problem by compete removal and fresh installation of Android Studio and SDK

[2017-01-23 20:23] #337 closed

[2017-01-23 22:03] rampara commented on #340
Closing this issue as it seems to have been resolved. Please re-open the issue if it persists for you.

[2017-01-23 22:03] #340 closed

[2017-01-23 22:04] rampara commented on #331
Thanks for bringing this issue to light. Should be pushing a fix for this soon.

[2017-01-23 22:05] rampara commented on #319
Closing this issue due to non-response. If you're still having difficulty showing ads after they have loaded, please re-open this issue.

[2017-01-23 22:05] #319 closed

[2017-01-23 22:07] rampara commented on #287
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:07] #287 closed

[2017-01-23 22:08] rampara commented on #311
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:08] #311 closed

[2017-01-23 22:10] rampara commented on #294
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:10] #294 closed

[2017-01-23 22:12] rampara commented on #283
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:12] #283 closed

[2017-01-23 22:12] rampara commented on #305
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:12] #305 closed

[2017-01-23 22:16] rampara commented on #289
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:16] #289 closed

[2017-01-23 22:23] rampara commented on #324
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-23 22:23] #324 closed

[2017-01-24 00:27] rampara commented on #321
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-24 00:27] #321 closed

[2017-01-24 00:31] rampara commented on #269
The GMA SDK will automatically use location data from users who have granted your apps permission to do so. More information can be found in this [help center article](https://support.google.com/admob/answer/6373176?hl=en).

[2017-01-24 00:31] #269 closed

[2017-01-24 03:30] duchanhleo opened #341 "Height of the smart banner"
I have an issue with using SMART_BANNER
It is very important for me to know what height of banner, for example for prevention of overlay banner on some UI controls.
So as height of smart banner depends from device, i can't calculate banner height in Unity3D, as i can do for other banner types

Any ideas how this problem can be solved?

[2017-01-24 06:55] litemesa commented on #319
Oh, sorry, I forgot to leave a comment: you workoraund works perfectly, thank you

[2017-01-24 12:32] PAHeartBeat commented on #341
Smart banner size  will be one of these
320 x 50 (mostly iPhone Portrait)
300 x 250 (Rare case)
468 x 60 (mostly iPad Portrait)
728 x 90 (mostly iPad Landscape)

you can calculate hight of banner on base of it I use Ortho camsize * 200 is pixel height of the game so I put space at top / bottom of 1 Unity Unit. its works for me.

[2017-01-24 20:06] rampara commented on #341
How the ad heights (in density-independent pixel [dp]) is determinted is explained in our [banner developer docs](https://firebase.google.com/docs/admob/android/banner#smart_banners).

[2017-01-26 00:18] rampara commented on #273
The latest release of this plugin (v3.2.0) adds this functionality.

[2017-01-26 00:18] #273 closed

[2017-01-26 00:19] rampara commented on #295
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-26 00:19] #295 closed

[2017-01-26 00:21] rampara commented on #313
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-01-26 00:21] #313 closed

[2017-01-26 00:22] rampara commented on #312
Closing this issue as the latest version of the Play Services Resolver library should account for conflicting versions of dependencies.

[2017-01-26 00:22] #312 closed

[2017-01-26 00:23] rampara commented on #331
The latest version of the plugin (v3.2.0) resolves this issue.

[2017-01-26 00:23] #331 closed

[2017-01-26 00:25] #341 closed

[2017-01-26 11:17] Aenyhm opened #342 "No valid name for platform: 11 in Unity 5.5"
Hi,

I have the following error in Unity 5.5.1:

![capture d ecran 2017-01-26 a 09 55 05](https://cloud.githubusercontent.com/assets/825466/22329362/40c1ca3c-e3c1-11e6-850e-6c12ca9cd880.png)

I have tested with versions 3.1.3 and 3.2.0 of the plugin.

[2017-01-28 00:05] rampara commented on #342
Which platform are you attempting to build for when you run into this issue?

[2017-01-28 08:47] Aenyhm commented on #342
Any platform I use (Android, iOS, WebGL).

When I change code and I go back to Unity, the modal sometimes appears after the Editor refreshed.

It seems to be linked to PlayServicesResolver.

[2017-02-01 10:00] AZERQSDF opened #343 "Module 'GoogleMobileAds' not found"
Hi im new I have problem on xcode
<img width="898" alt="capture d ecran 2017-01-31 a 19 30 39" src="https://cloud.githubusercontent.com/assets/25478076/22502440/c08c7dfa-e864-11e6-9013-6d38c0a2f994.png">

Libraries/Plugins/iOS/GADUNativeCustomTemplateAd.h:4:9: Module 'GoogleMobileAds' not found

without plugins GoogleMobileAds It works without problems plz how fix the problem

[2017-02-01 18:47] rampara commented on #343
It looks like the GMA Framework wasn't added the the XCode project generated by Unity. Are you using the latest version of the plugin (3.2.0) ? Do you see any output in the Unity console that may indicate why the GMA SDK failed to be included in the generated XCode project? If you generate another iOS project, are you still seeing this issue?

[2017-02-01 19:32] AZERQSDF commented on #343
yes I use v3.2.0
in Unity console No problem

[2017-02-02 19:32] BaglGames opened #344 "DummyClient.cs warnings"
I'm using Unity 5.5.1f1, how to fix it?

![image](https://cloud.githubusercontent.com/assets/25513945/22564799/d83e4e78-e996-11e6-8707-dd30507d9fcb.png)

[2017-02-02 20:37] rampara commented on #344
You can ignore the warnings for now, they aren't indicative of any issues in the behavior of the plugin. Will address them in an upcoming update.

[2017-02-02 20:40] rampara commented on #343
Is the problem reproducible when you try and generate a different Xcode project? Within the generated Xcode project, do you see the GoogleMobileAds framework under `Frameworks` as shown below?

<img width="459" alt="screen shot 2017-02-02 at 12 38 51 pm" src="https://cloud.githubusercontent.com/assets/11047881/22567436/b774d092-e944-11e6-8da4-b9a8bcfdceb8.png">

[2017-02-02 21:28] BaglGames commented on #344
Ok, thank you very much!

[2017-02-02 22:11] AZERQSDF commented on #343
yes GoogleMobileAds framework  Does not exist
<img width="1440" alt="capture d ecran 2017-02-02 a 22 03 05" src="https://cloud.githubusercontent.com/assets/25478076/22570689/4ee1ae60-e994-11e6-85d2-a116425302a7.png">

[2017-02-02 23:26] rampara commented on #343
Do you see any output at all in the Unity console when generating an Xcode project?

[2017-02-02 23:27] rampara commented on #344
No problem.

[2017-02-03 10:09] AZERQSDF commented on #343
![capture d ecran 2017-02-03 a 10 05 59](https://cloud.githubusercontent.com/assets/25478076/22587182/8324eb1a-e9f8-11e6-8646-aa684c301171.jpg)

[2017-02-03 18:39] rampara commented on #343
Can you [install Cocoapods](https://guides.cocoapods.org/using/getting-started.html) on your development machine and see if this issue persists for you?

[2017-02-03 21:45] rampara commented on #342
I'm having trouble reproducing this issue. Using Unity 5.5.1f1, I'm able to successfully build the sample app included in this repo and deploy to Android. Can you try importing this plugin into a clean Unity app (such as our sample app) and test if your issue is still reproducible?

[2017-02-04 00:04] dev-dano opened #345 "Podfile doesn't get created"
All of a sudden, for no reason, podfile doesn't get created with Xcode project file. I tried reinstalling cocoapods but that does not solve the issue.

[2017-02-04 08:18] 2rusbekov opened #346 "IOs build errors"
Hi. Got next issues. v3.2.0. Unity 5.5.1

![shot](https://cloud.githubusercontent.com/assets/9072463/22617009/7d278582-eae4-11e6-9c70-d02a5c1b78ca.PNG)

[2017-02-04 17:04] gnchishti commented on #327
Hi,

did you find any solution to this problem. I am building for my iOS, Unity 5.4.0. while building when it reaches to "Converting managed assemblies to C++". It never proceeds for next processing. Even when I left it as it is.. it spent whole night... it was on same message on building bar. "Converting managed assemblies to C++"..

please any solution to this?

[2017-02-05 20:28] AZERQSDF commented on #343
thx I fix the problem https://www.youtube.com/watch?v=rxO_rcMxGU4

[2017-02-05 20:28] #343 closed

[2017-02-06 02:49] ipulcrimx opened #347 "AndroidJavaException: java.lang.ClassNotFoundException: com.google.unity.ads.UnityAdListener"
Hi...
I got this same problem with admob today...
this is the error code from logcat
`AndroidJavaException: java.lang.ClassNotFoundException: com.google.unity.ads.UnityAdListener
                                                                    java.lang.ClassNotFoundException: com.google.unity.ads.UnityAdListener
                                                                        at java.la

[2017-02-06 18:50] rampara commented on #327
@gnchishti is this problem reproducible for you with the [sample application](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included  in this repo?

[2017-02-06 18:52] rampara commented on #346
Within your Xcode project, can you try navigating to the the project Build Settings panel, searching for “module” and setting `Enable Modules (C and Objective-C)` to `YES`.

[2017-02-06 18:55] rampara commented on #345
When generating an Xcode project from Unity, do you see any output in the Unity console that may indicate what might be causing the issue?

[2017-02-07 02:08] gnchishti commented on #327
What should I use in this repo?

The way its using google ads? I have approximately same code.

[2017-02-07 05:29] dev-dano commented on #345
I only see a few unused variable warnings but that shouldn't be an issue. My guess is that AdMobDependencies script is not properly loading when generating Xcode project file.

[2017-02-07 09:47] vain-g commented on #346
Most errors disapeared but next
Umbrella header "GoogleMobleAds.h" not found
Could not build module "GoogleMobileAds"

[2017-02-07 09:48] 2rusbekov commented on #346
Most errors disapeared but next
Umbrella header "GoogleMobleAds.h" not found
Could not build module "GoogleMobileAds"

[2017-02-07 10:36] PAHeartBeat commented on #346
Hi @2rusbekov,

I think its issue of Framework reference setting in XCode, we face that issue in past lots-of time when we use AdMob 3rd Party Plugin, that time we use a trick.

Just remove "GoogleMobileAds.framework" from "Target => General => Linked Framework and Libraries"  and re-drag n Drop in it there.

[2017-02-07 11:48] AZERQSDF commented on #251
How fix the problem
https://www.youtube.com/watch?v=rxO_rcMxGU4

[2017-02-07 13:07] 2rusbekov commented on #346
@PAHeartBeat
Thanks for reply, but it didn't work for me.

[2017-02-07 13:42] PAHeartBeat commented on #346
@2rusbekov

I can understand may it not work for you cos its trick to make fool :) XCode, but may some time its not work. as I also used in few month ago when we used 3rd part AdMob.

you can use this link https://www.youtube.com/watch?v=rxO_rcMxGU4. may it will help you. you can download latest / older version of AdMob SDK for iOS as per your choice.

or you can also that Framework in you asset f

[2017-02-07 19:03] rampara commented on #346
As @PAHeartBeat mentioned, it looks like the GMA framework didn't make it into the Unity generated Xcode project. Do you see any output in the Unity console when building the Xcode project that might indicate what went wrong? Do you have Cocoapods installed on your development machine?

[2017-02-07 19:13] rampara commented on #327
Using the stripped down sample app (linked in my previous message) will help determine if the issue you're running into is caused strictly by the plugin or if there else something else in your Unity project causing the problem.

[2017-02-07 19:44] bence98 commented on #342
I can confirm this bug. Using version 3.2.0 with Unity v5.5.1xf1. Happens to an _empty_ project as soon as I import the unitypackage. Attempting to open that project again then results in the same message.

[2017-02-07 19:45] rampara commented on #345
I'm having trouble reproducing this issue. Have you modified the plugin or the Jar Resolver library in any way? Which version of Unity are you using?

[2017-02-07 19:48] bence98 commented on #100
Totally agree. I personally don't use WP, but one of my acquaintances does, but now he can't install our game :(

[2017-02-07 22:21] rampara commented on #347
In your generated Android Studio project, do you have a dependency entry within your app-level build.gradle file compiles in the GMA Plugin lib project? The line should look like the following:

`compile project(':GoogleMobileAdsPlugin')`

[2017-02-07 22:23] rampara commented on #342
It's really strange that I can't reproduce this. Which OS is the machine you are developing on using?

[2017-02-08 01:33] dev-dano commented on #345
I only added IOSNativeShare and ISNNativeCore into the IOS folder in Plugins folder. I am using the latest version of Unity and Xcode.

[2017-02-08 05:26] bence98 commented on #342
Linux (Kubuntu 16.04 LTS)

[2017-02-10 02:24] forest7194 commented on #346
Admob Plug-in v3.2.0, Unity 5.5.1, Xcode 8.2.1
When I build an empty Unity project with Admob plug-in implemented. I got the same error just like @2rusbekov. After I Enable Modules (C and Objective-C) to YES, there is only one error left, it said "Module 'GoogleMobileAds' not found".

![screen shot 2017-02-10 at 9 04 41 am](https://cloud.githubusercontent.com/assets/25660223/22811201/00db2624-ef70

[2017-02-10 06:01] PAHeartBeat commented on #346
Hi @forest7194,

This is the framework reference issue in xCode. its happen some time.

If you not fine "GoogleMobileAds.framework" in project file, just jump to step 3.
Try this trick
1. Remove  "GoogleMobileAds.framework" from "Target => General => Linked Framework and Libraries"
2. Delete ""GoogleMobileAds.framework" from project.
3. Now re-add "GoogleMobileAds.framework" from downloaded locati

[2017-02-10 07:25] forest7194 commented on #346
Thank @PAHeartBeat, you tried your solution and it work! You have saved my day!

After I fix that, there is another error with GoogleMobileAds framework file "Umbrella header 'GoogleMobileAds' not found". After digging around, I found out it is because my unzip tool make GoogleMobileAds framework .zip file broken. So I change to another unzip program and it work perfectly. Hope it will save someon

[2017-02-12 14:25] srikanthch888 opened #348 "GetTexture2DFromByteArray'"
GetTexture2DFromByteArray'

[2017-02-12 14:26] srikanthch888 commented on #348
When I import asset in unity  it get's error
"GetTexture2DFromByteArray'"

[2017-02-12 15:43] malisasmaz opened #349 "AdmobDependencies.cs Error"
Assets/googleads-mobile-unity-master/source/plugin/Assets/GoogleMobileAds/Editor/AdMobDependencies.cs(30,36): error CS0103: The name `Google' does not exist in the current context

[2017-02-13 20:00] 2rusbekov commented on #346
@PAHeartBeat, thanks. Redownloaded framework and seems like everything works.

[2017-02-13 20:28] rampara commented on #349
Are you using the latest version of this plugin? Does the `Assets/PlayServicesResolver/Editor` directory of your Unity project include the files listed in the screenshot below?

<img width="474" alt="screen shot 2017-02-13 at 12 27 03 pm" src="https://cloud.githubusercontent.com/assets/11047881/22901827/d7c8ca96-f1e7-11e6-9f98-264f86645192.png">

[2017-02-13 20:29] rampara commented on #348
Are you using the latest version of the plugin? Have you modified the plugin in any way? Are you able to reproduce this error in an empty Unity project?

[2017-02-13 20:31] kujo87 commented on #348
Do you have your own class somewhere called Utils that isn't in its own namespace? I had this issue, and so had to add in Common.Utils.GetTexture2DFromByteArray to the CustomNativeTemplate class to make it pass

[2017-02-13 20:34] rampara commented on #348
+1 to @kujo87's comment.

[2017-02-13 20:39] rampara commented on #345
Have you disabled asset post processing in any way? Are you able to reproduce the issue in an empty Unity project?

[2017-02-13 21:48] GarthSmith commented on #333
This plugin breaks Unity Cloud Build. We no longer get automated builds.

[code]

Has anyone found a workaround to allow us to make builds again?

[2017-02-16 20:08] gokhanci opened #350 "Ios Build Error"
Win32Exception: ApplicationName='gem', CommandLine='environment', CurrentDirectory='C:\Users\Gokhan\Desktop\Games\JU-PU'
System.Diagnostics.Process.Start_noshell (System.Diagnostics.ProcessStartInfo startInfo, System.Diagnostics.Process process)
System.Diagnostics.Process.Start_common (System.Diagnostics.ProcessStartInfo startInfo, System.Diagnostics.Process process)
System.Diagnostics.Process.Sta

[2017-02-20 23:26] sten360 opened #351 "More positioning options for Banner Ads"
Hi,

the past 2 days I've been working on implementing ads to my game with this plugin. I had planned to show the banners a specific way, but it didn't take long to figure out that there's pretty much no way to position them aside from top/bottom/left/right. After that I made the decision to just leave the banner at the top and move my UI accordingly while a banner is displayed, except that turned

[2017-02-21 11:05] smumair06 opened #352 "Wrong Banner Position for iOS"
I have created a banner with Top Position specified and it works perfect on android devices but on iOS it is shown at top left of the screen, though adPosition is Top.
Even, I have printed the value of adPosition in GADUBanner.m class using NSLog and it prints 0, which is
kGADAdPositionTopOfScreen = 0,          ///< Top of screen.

I have iPhone 5S with OS 10.2.1

[2017-02-22 06:24] rampara commented on #352
Thanks for reporting this issue. Will be pushing out a fix shortly.

[2017-02-22 07:08] rampara commented on #346
@2rusbekov Closing this issue as it seems to have been resolved for you. However, the JarResolver library included in this plugin has an IOSResolver component that should have included the required GMA framework in the generated XCode project. If this didn't occur, there should be output in the Unity console indicating the reason dependency resolution failed.

[2017-02-22 07:08] #346 closed

[2017-02-22 07:15] rampara commented on #333
Currently, the [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library does not support Unity Cloud builds, but we are working to fill that gap in functionality. Look for an update on this soon.

[2017-02-22 09:26] keepup opened #353 "Wrong Banner Position.Bottom for Android(No Physical/Capacitive Buttons)"
For only On-Screen Buttons(No Physical/Capacitive Buttons) Android Device, set banner position at bottom. Banner show like this:
![screenshot_20170222-165434](https://cloud.githubusercontent.com/assets/6658290/23205125/bd4d25ca-f923-11e6-9161-b4875ca75c11.png)
![screenshot_20170222-165441](https://cloud.githubusercontent.com/assets/6658290/23205127/be4fcce8-f923-11e6-9a00-81923d395501.png)

[2017-02-23 07:55] rampara commented on #353
A fix for this issue has been implemented and should be pushed out shortly.

[2017-02-23 08:13] rampara commented on #351
As of v3.2.0, `BannerView` objects can be instantiated with an x and y values for position in addition to an`AdPosition`.

As for your second issue, when you say other functions are working fine, are you able to see `Debug.log` output when called from any other function other than ad event handlers?

[2017-02-23 08:14] rampara commented on #350
Can you elaborate on this error? Is this output you see in the Unity console when trying to create and iOS build? What version of Unity and plugin are you using? What OS is the development machine you are attempting to build on?

[2017-02-24 07:48] azharyounus commented on #350
I got the same error in console when building game for iOS. Unity version is 5.5.0. building game on windows 8 machine.

[2017-02-27 05:54] gokhanci opened #355 "Ios Build Error"
Win32Exception: ApplicationName='gem', CommandLine='environment', CurrentDirectory='C:\Users\Gokhan\Desktop\Games\JU-PU'
System.Diagnostics.Process.Start_noshell (System.Diagnostics.ProcessStartInfo startInfo, System.Diagnostics.Process process)
System.Diagnostics.Process.Start_common (System.Diagnostics.ProcessStartInfo startInfo, System.Diagnostics.Process process)
System.Diagnostics.Process.Sta

[2017-03-01 08:31] cocosUnity opened #356 "ios 端 插页只展示1次 后面就不展示了"
安卓端展示正常，ios 端 插页只展示1次 后面就不展示了。

[2017-03-01 08:46] cocosUnity opened #357 "The interstitial ad on the ios device is displayed only once"
With the same item, the Interstitial on the Android device are displayed properly, and the ios device only shows once.

[2017-03-01 10:10] thienphung commented on #139
Could not find method android.security.NetworkSecurityPolicy.
getInstance, referenced from method com.google.android.gms.internal.zzig.zzb

I tried to fightout same problem:
https://developer.android.com/reference/android/security/NetworkSecurityPolicy.html#getInstance()
Added in API level 23

[2017-03-01 18:29] rampara commented on #357
In the iOS GMA SDK, `GADInterstitial` is a one time use object. Since the Google Mobile Ads Unity plugin is a wrapper for the Google Mobile Ads Unity SDK, the same limitations apply. You can find more information on our [developer docs](https://firebase.google.com/docs/admob/ios/interstitial#only_show_gadinterstitial_once). Every time you make a interstitial ad request, you should use a new inters

[2017-03-01 18:30] #357 closed

[2017-03-01 18:31] rampara commented on #356
Closing as duplicate of #357

[2017-03-01 18:31] #356 closed

[2017-03-01 19:43] rampara commented on #139
The message you referenced is a warning and shouldn't cause any issues within your app. Is that not the case for you?

[2017-03-02 07:16] yusufyildiz86 opened #358 "Admob ads does not show up after linking"
Details of the issue is as follows:
- http://stackoverflow.com/questions/42527082/admob-ads-does-not-show-up-after-linking

[2017-03-02 12:50] ChaimHong commented on #241
Hi All,
I have similar problem please find my log below. Could anybody help me? Whole week i try to figure it out.

`I/Ads: Starting ad request.
I/Ads: No fill from ad server.
W/Ads: Failed to load ad: 3
I/Unity: HandleNativeExpressAdFailedToReceiveAd event received with message: No fill

         (Filename: ./artifacts/generated/common/runtime/DebugBindings.gen.cpp Line: 51)
D/AdsUnity: Calling d

[2017-03-02 19:06] rampara commented on #241
@ChaimHong Are banners and interstitials loading correctly for you or do all ad formats fail to load?

[2017-03-02 20:05] Everest1986 commented on #241
@ChaimHong  Did you use some Xiaomi device to test ads ?

[2017-03-03 01:57] athenaisoft opened #359 "PHOTO INTERSTITIAL OPENS IN APP BROWSER"
I have a game on iOS and Android:
Some times when i show a photo interstitial, it loads inside a browser.
I don't like that! It feels like a bug for users of my game.
Am i doing something wrong or is this normal??

[2017-03-03 02:57] rampara commented on #358
Can you provide the ad unit for which you're experiencing this issue? Which version of Google Play services did you build your Unity app with? During testing, did you only utilize test ads, or were you able to receive live ads as well?

[2017-03-03 02:59] rampara commented on #359
Are you experiencing this behavior on Android, iOS or both platforms? Are you able to get a video of this behavior?

[2017-03-03 03:03] athenaisoft commented on #359
I only tested it on Android. Now im going to test it on iOS and i will let you know.
Video interstitials seem to work fine, without the browser.
The browser appears only for photo interstitials.

![17105783_10212309139189382_180269674_o 2](https://cloud.githubusercontent.com/assets/26154412/23536606/d9d9e94e-ffa4-11e6-9789-131a40e72328.png)

[2017-03-03 03:19] athenaisoft commented on #359
Any idea of why this is happening?

Here is the code im using to show ads:

`   AdRequest request;
    InterstitialAd deathVideoInterstitial;
    InterstitialAd deathPhotoInterstitial;

    void Awake()
    {
        if (instance == null)
        {
            instance = this;
        }
    }

    void Start()
    {
        request = new AdRequest.Builder().Build();
        LoadDeathVideoInterstit

[2017-03-03 04:19] josephbk117 commented on #347
This problem is still persisting , now that I am using play service 10.0.2. App keeps crashing on start up after the unity splash screen.

[2017-03-03 04:37] yusufyildiz86 commented on #358
This is solved by helping Google Admob Team. When I go to my AdSense account that warns me "Your ad units are not displaying ads because you haven't provided your account payments information yet.". I added a payment method and it works now.

[2017-03-03 04:37] #358 closed

[2017-03-04 04:32] athenaisoft commented on #359
anyone?? please help!!

[2017-03-04 19:18] YHSX88 opened #360 "RewardedVideo NOT working iOS with AdMob SDK 7.18"
Using:
Xcode: Version 8.2.1 (8C1002)
Unity: 5.5.0f3
AdMob SDK: cocopods:
source 'https://github.com/CocoaPods/Specs.git'
install! 'cocoapods', :integrate_targets => false
platform :ios, ‘9.0’

target 'Unity-iPhone' do
pod 'Google-Mobile-Ads-SDK', '~> 7.18'
end

When click the reward button on the iPhone I'm gettting meesage in Xcode:
**"2017-03-04 20:46:33.158287 MyAppName[991:262895] <Google> Ign

[2017-03-06 04:12] thienphung commented on #139
Hello rampara

this cause was fixed for me but admob still not showing only loaded

[code]

Thanks.

[2017-03-06 20:23] rampara commented on #360
Taking a look at the code snippets you provided, it doesn't seem like there should be an issue. Are you waiting after making your initial request to receive either the `OnAdFailedToLoad` or `OnAdLoaded` ad events before making a second ad request?

[2017-03-06 20:39] YHSX88 commented on #360
Well how long I should wait I'm waiting like 10 - 30 sec and I tried again but the thing is that with the first attempt is saying that there is request already. That's the strange thing and with the editor I'm seeing the debug logs say that the add should Show. i.e. no issue at all.

[2017-03-06 22:12] rampara commented on #353
This issue has been fixed in the latest version of the plugin (v3.3.0).

[2017-03-06 22:12] #353 closed

[2017-03-06 22:13] rampara commented on #352
This issue has been fixed in the latest version of the plugin (v3.3.0).

[2017-03-06 22:13] #352 closed

[2017-03-06 22:13] rampara commented on #344
This issue has been resolved by #354.

[2017-03-06 22:13] #344 closed

[2017-03-06 22:15] rampara commented on #288
The developer docs have been updated with a new page on how to set up [mediation](https://firebase.google.com/docs/admob/unity/mediation). Also, AdMob demand for rewarded video is now publicly available so you can request and display rewarded video ads without setting up mediation.

[2017-03-06 22:15] #288 closed

[2017-03-06 22:16] rampara commented on #242
Closing as this issue has now been fixed.

[2017-03-06 22:16] #242 closed

[2017-03-06 22:18] rampara commented on #143
In-app purchase support for the Google Mobile Ads plugin has been removed since the GMA SDK no longer supports in-app purchase ads.

[2017-03-06 22:18] #143 closed

[2017-03-06 22:20] rampara commented on #336
Closing this issue due to the lack of response. If this problem still persists for you please re-open the issue.

[2017-03-06 22:20] #336 closed

[2017-03-06 22:21] rampara commented on #330
Closing this issue due to the lack of response. If this problem still persists for you please re-open the issue.

[2017-03-06 22:21] #330 closed

[2017-03-06 22:21] rampara commented on #326
Closing this issue due to the lack of response. If this problem still persists for you please re-open the issue.

[2017-03-06 22:21] #326 closed

[2017-03-06 22:21] rampara commented on #334
Closing this issue due to the lack of response. If this problem still persists for you please re-open the issue.

[2017-03-06 22:21] #334 closed

[2017-03-06 22:22] rampara commented on #338
Closing this issue due to the lack of response from @Kaldarash . If this problem still persists for you please re-open the issue.

[2017-03-06 22:22] #338 closed

[2017-03-06 22:31] rampara commented on #347
If your app is crashing due to the same java.lang.ClassNotFoundException from your original post, it seems for some reason the `unity-plugin-library` JAR file from `Assets/Plugins/Android/GoogleMobileAdsPlugin/libs` is not making it into your Unity build. I would try removing all plugin related files from your project and re-integrating the latest version of the plugin.

[2017-03-06 23:02] rampara commented on #360
After 30 seconds, your ad request should timeout and you should receive the `OnAdFailedToLoad` ad event. Getting the `Ignoring request. Another request is already in progress.` message on your first ad request is not expected behavior and I'm having trouble reproducing that. Are you also seeing the same behavior in the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/sa

[2017-03-07 00:00] rampara commented on #139
The log snippet you included doesn't seems include much information to help debug your issue. What kind of ad format are you trying to request? Do you receive the `OnAdFailedToLoad` ad event? Are you able to successfully request and display ads with the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repo?

[2017-03-07 17:55] YHSX88 commented on #360
I just tried with the HelloWorld App and again not working very strange I just changed the device test ID and the ads Units IDs. Bear in mind the test were done by setting deployment targets to 6.0 and then to 9.0. My app was set to 9.0

Here is log from Xcode
[code]

Something else to point out: I'm successfully getting banner and interstitial with the test hello world app.

P.S. I succeeded in i

[2017-03-07 19:15] rampara commented on #360
Can making a request with the rewarded video test ad unit for iOS (ca-app-pub-3940256099942544/1712485313).

[2017-03-07 19:30] YHSX88 commented on #360
Hi just to let you know I subscribed for this event and below are the logs:

[code]

I'll try now to make request with the ad Unit you posted.

[2017-03-07 19:31] rampara commented on #359
@athenaisoft A small number interstitial ads can be rendered in [chrome custom tabs](https://developer.chrome.com/multidevice/android/customtabs). However, this behavior should only apply to a very small percentage of ads seen by your users and by in large the standard interstitial experience is what your users will see.

[2017-03-07 19:31] #359 closed

[2017-03-07 19:53] YHSX88 commented on #360
Same thing I can't believe it's something else what I'm missing can you please post the test project you are using i mean your version that is working. This is the debug log:

[code]

[2017-03-07 21:25] rampara commented on #360
Can you try removing the call to `AddTestDevice` with your device id when building your `AdRequest` object. The ad unit I provided in my earlier post is a test ad unit, so you shouldn't run into any issues when using it without adding a test device id.

[2017-03-07 21:39] YHSX88 commented on #360
Now with the test app and this adunit that you gave me is WORKING. I removed the test device and test emulator options. So how do you explain this ?

(Filename: /Users/builduser/buildslave/unity/build/artifacts/generated/common/runtime/DebugBindings.gen.cpp Line: 51)

[code]

BTW I tried to create a another adUnit in my AdMob Acc but it was not working , I also tried previously without test device

[2017-03-08 01:12] rampara commented on #360
Not being able to receive rewarded video ads with the test device option set is currently an ad serving issue with AdMob. You can expect this issue to be addressed soon. For the time being to test rewarded video ads, you can remove the test device option and use the test ad unit as a workaround.

[2017-03-08 03:26] armnotstrong opened #361 "using example to request a bannerView sometimes will not show ads on android"
And the logcat complain that `03-08 11:08:52.940: I/Ads(9581): Ad is not visible. Not refreshing ad.`
But sometimes (maybe the first launch of the app it will show ads, but not stable as press the request banner button) explicitly call `bannerView.show()` in `eventHandleOnLoad()` will not work either.

[code]

[2017-03-08 03:30] armnotstrong commented on #361
And Here is the log point of `show ads please!!!` in the above log, and I also try to get the args, but it seems, there is no information here.
[code]

[2017-03-08 10:29] armnotstrong commented on #230
Hi, I meet with the same issue with the same device mode (Huawei P8), I Have already reset the device to it's factory mode, so that I thinks it at least is not an AdBlocking app that do the mess. Maybe it's the EMUI is messing around with blocking stuff?

[2017-03-08 18:29] #360 closed

[2017-03-08 18:29] YHSX88 commented on #360
thanks

[2017-03-08 19:58] AdnanNazir commented on #327
Using the stripped down sample app still hangs unity editor at Converting managed assemblies to c++
Can this be because I don't have repo for google mobile ads is installed?

[2017-03-09 02:41] ChaimHong commented on #241
@rampara just interstitials/rewardvideo fail

[2017-03-09 02:42] ChaimHong commented on #241
@rampara @Everest1986 now all ad formats success to load

[2017-03-09 03:17] DEKAGATO commented on #350
I  got same this error with unity 5.5 and admob ver 3.3.0. my project was added googlemobileadssdkios

[2017-03-09 03:29] DEKAGATO commented on #355
Did you get solution for this ? i also up to Admob ver 3.3.0 but nothing change

[2017-03-09 03:34] sarveshpalav opened #362 "Where is the Unity Package File ?"

[2017-03-09 17:26] rampara commented on #362
You can either download the Unity package file from the [releases](https://github.com/googleads/googleads-mobile-unity/releases) section of this repository or build it with the gradle build script included in the root directory of this repository.

[2017-03-09 17:26] #362 closed

[2017-03-09 17:27] rampara commented on #241
Glad you were able to get everything working.

[2017-03-09 17:28] rampara commented on #327
I don't understand what you mean by not having the repo for google mobile ads is installed. Are you not including the Unity package for the latest version of this plugin in your project?

[2017-03-09 17:30] rampara commented on #361
Are you able to request and display ads with the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repository?

[2017-03-09 17:33] rampara commented on #230
@armnotstrong this plugin does not log any messages under the `AdCheck` tag. If this behavior is not present on other devices for you, I would dig further into if there are any apps or features baked into the OS that performs ad blocking.

[2017-03-10 03:04] sarveshpalav commented on #362
Thank You :)

[2017-03-10 14:20] Seani6 opened #363 "Latest builds not supporting API level lower than 14"
I noticed that since v3.1.3 the plugin had a minimum SDK level set to 14 in the manifest and setting that to 9 would crash on older android versions.

The cause of the crash is both the uses of which crashes the app with a NoSuchMethodError exception.
`mPopupWindow.getContentView().setSystemUiVisibility(visibilityFlags);`

**(Line 170 in Banner.java and line 168 in NativeExpressAd.java)**

I'm not

[2017-03-10 18:42] rampara commented on #363
@Seani6 Support for Android SDKs < 14 has been dropped by the Google Mobile Ads SDK as well as Play Services. Since this plugin is a wrapper on top of the GMA SDK, it will have the same restrictions.

[2017-03-10 18:50] qamarngr commented on #327
Same Problem with me, I created a new projected and imported unity package GoogleMobileAds Version 3.3.0 into my project. Built for iOS Simulator SDK, its stuck in "converting managed assemblies to c++" ! I waited for 20 minutes but had to Force quit unity.

[2017-03-11 00:13] Seani6 commented on #363
Ah darn that's a shame.

Well is there any issues with the fixes I suggested in my post? From the test devices we had removing the setSystemUiVisibility(..) lines on SDK < 14 seemed to fix everything but will it cause issues on certain android versions or in any specific situations?

[2017-03-11 00:41] rampara commented on #363
The purpose of those two lines is to correctly position the ad views in immersive modes where the nav bar is hidden. Since ad views are placed in a PopUpWindow, the window will need to have to same UI visibility flags to ensure ad views are not offset by size of the nav bar. Since immersive mode was only introduced in API 19 (don't think they're any devices with nav buttons running an older versio

[2017-03-11 00:44] rampara commented on #327
@qamarngr Unity discourages developing and testing against the iOS Simulator SDK as it doesn't properly emulate the performance or behavior you'll get with actual devices. Are you seeing the same behavior when deploying to actual devices?

[2017-03-11 02:36] duchanhleo opened #364 "[GoogleMobileAds v3.3.0] Bottom banner is showing with a padding"
Hello,
I just replace v3.3.0 into my sample without any changes. It not show in bottom as below screen.
Are there any new code to show banner at bottom?
![screenshot](https://cloud.githubusercontent.com/assets/20719577/23819761/5a575fcc-063d-11e7-8e1f-a60fa35ce828.png)

[2017-03-11 08:55] qamarngr commented on #327
@rampara I get same behavior while building for Device SDK Unfortunately!

[2017-03-11 20:25] rampara commented on #364
Strange, this issue should have been fixed in the latest version of the plugin (v3.3.0) and is now working correctly for me as shown below.

![screencap](https://cloud.githubusercontent.com/assets/11047881/23826645/6c3265f8-0655-11e7-8117-8c984ad25002.png)

Can you try a quick test by integrating the plugin into a clean app, such as the sample included in this repo. If this issue still persists fo

[2017-03-11 20:28] rampara commented on #327
@qamarngr I'm having trouble reproducing this behavior. I'm able to build the sample app from this repo and an empty Unity project, after integrating this plugin, without issue. What OS is your development machine?

[2017-03-11 20:55] qamarngr commented on #327
I am using OS 10.12.3 Sierra.  One more thing may be helpful that my unity
is personal edition.

On Mar 12, 2017 1:28 AM, "rampara" <notifications@github.com> wrote:

[2017-03-11 22:22] rampara commented on #325
Closing this issue due to non-response. Please reopen if this issue persists for you.

[2017-03-11 22:22] #325 closed

[2017-03-12 22:03] rampara commented on #327
I have the same environment as you and not running into the issue on the personal edition of Unity 5.5.1f1 either. Are you also running the latest version of Xcode and associated tools?

[2017-03-13 09:23] qamarngr commented on #327
I am using Xcode 8.2.1, BTW which associated tools? Please let me know some
hints so that I can figure out If the problem is at my end or issue in
Plugin. I am really worried about it.

On Mon, Mar 13, 2017 at 3:03 AM, rampara <notifications@github.com> wrote:

[2017-03-13 10:12] #363 closed

[2017-03-13 14:28] dev-dano commented on #345
I was able to reproduce the issue in an empty project. May I ask which version of Unity and Xcode you are using to reproduce this issue?

[2017-03-13 17:33] rampara commented on #345
My setup is the following:

XCode: 8.2.1
Unity. 5.5.1f1
Cocoapods: 1.1.1
GMA Plugin: 3.3.0

With the setup described above, I'm able to build the sample application included in this repo and display ads.

[2017-03-13 19:19] sharklab opened #365 "java.lang.ClassNotFoundException: Didn't find class "com.google.android.chimera.Fragment""
I'm not able to make Rewarded video working, anyone have this same issue?

`Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.android.chimera.Fragment" on path: DexPathList[[zip file "/data/user_de/0/com.google.android.gms/app_chimera/m/0000000f/DynamiteModulesA_GmsCore_prodmnc_xxhdpi_release.apk"],nativeLibraryDirectories=[/data/user_de/0/com.google.android.gms/app_chimer

[2017-03-13 20:26] rampara commented on #365
Can you check if the `JarResolver` library successfully copied the required Google Play services and Google Mobile Ads dependencies into the `Assets/Plugins/Android` directory of your Unity project? Can you post the contents of this directory? If you don't see the Play services AARs in this directory, you can manually force the resolution of these dependencies by selecting `Assets->Google Play Ser

[2017-03-14 05:03] bee0806 commented on #241
hello there i have similar problem too. All of the ads fail to load. I've already test the sample application from this repository, but the result is same. the ads didn't show. here is my logcat :

I/Ads     (21552): Ad is not visible. Not refreshing ad.
I/Ads     (21552): Scheduling ad refresh 60000 milliseconds from now.
I/Ads     (21552): Ad is not visible. Not refreshing ad.
I/Ads     (21552):

[2017-03-14 10:47] rchallenger opened #366 "NonClickable area behind banner though it was hidden"
We have a scene #2 with button at the bottom of the screen. The scene loading as second scene after application starts. The scene #1 is the first scene to start. It contains AdsManager, which performs initialization of GoogleAds api and requests bannerAd. This scene is empty and it loads scene #2 exactly after MonoBehaviour.Start().
After creating new BannerView with necessary params and calling b

[2017-03-14 17:36] rampara commented on #241
@bee0806 You seem to be running into network errors. Does the device you're testing with have full network connectivity?

[2017-03-14 17:47] rampara commented on #327
I'm not sure what else could be causing the problem as have the same environment setup as you. However, I don't believe the caiuse is with the plugin as I, and numerous other people, are able to build and deploy to iOS without issue.

[2017-03-14 23:07] rampara commented on #366
This has been fixed with f0efba71db9adc9bca18d2964bf20e629964ff53.

[2017-03-14 23:07] #366 closed

[2017-03-15 03:32] bee0806 commented on #241
@rampara so the problem is the network. i wonder, does admob need strong network connection?. my network working fine with browsing and downloading or it just need stable connection?.

[2017-03-15 16:18] AdnanNazir opened #367 "Interstitial is Appearing only once."
Hello guys.
Do you think I need to destroy the interstitial ad each time ???
Here is my code,
 I have even tried destroying interstitial ads but still no luck.
`private InterstitialAd interstitial;
    private void RequestInterstitial()
    {
#if UNITY_EDITOR
        string adUnitId = "unused";
#elif UNITY_ANDROID
            string adUnitId = "cXXXX";
#elif UNITY_IOS
            string adUnitId =

[2017-03-15 17:26] rampara commented on #367
What behavior are you currently seeing with this code? What platform (iOS or Android) are you deploying to? Why are you destroying the interstitial from the `OnAdOpened` event?

[2017-03-15 17:42] rampara commented on #241
The likely cause of the error you'e seeing is a timeout in receiving an ad response from the AdMob ad server. This timeout is probably more aggressive than the ones used by the apps you're using for browsing.

[2017-03-16 02:26] bee0806 commented on #241
thanks @rampara it make me clear now. i'll check it out and try it with other connection. thanks for the supports.

[2017-03-16 07:21] AdnanNazir commented on #367
I am on Testing it on Android.
The Ads loads only once or sometimes twice thrice !
Never more than that.
Even by destroying Interstitial .

[2017-03-16 07:30] AdnanNazir commented on #367
Which sample project are you talking about ?
The HelloWorld Example doesn't show how to request and load and destroy interstitial .
There are buttons for requesting, showing and destroying interstitial which can't be used in a real game. They are for just testing purposes.
What would be best practice to load ads ?
Can anyone help ?

[2017-03-16 09:09] AdnanNazir opened #368 "Test ads are working but real ads never work"
Hello, I have a pretty old Unity game that I recently updated. I have removed all ads sdks and using newest ad mob sdk only.
I am strange issues, Test ads are always working both interstitial and banners with ids (mentioned below) that are in the Demo/Sample example.

Banner: ca-app-pub-3940256099942544/6300978111
Interstitial: ca-app-pub-3940256099942544/1033173712

I even get
Calling loadAd() on

[2017-03-16 11:16] nikhiljolly opened #369 "Unity Cloud Build Error"
Hi,
I am facing an issue when using Unity Cloud Build. I am able to make manual builds successfully without any errors.

Getting these errors both in iOS and Droid builds:

[Unity] Assets/GoogleMobileAds/Editor/AdMobDependencies.cs(53,28): error CS0103: The name `Google' does not exist in the current context
[Unity] Assets/GoogleMobileAds/Editor/AdMobDependencies.cs(58,9): error CS0103: The name `

[2017-03-16 17:36] rampara commented on #368
If you handle the `OnAdFailedLoad` ad event, what error code you do you see?

[2017-03-17 05:59] daneric commented on #365
I have same problem. I found the aar files under the Assets/Plugins/Android directory and I did Assets->Google Play Services->Resolve Client Jars in the Unity editor also. But problem already exists.

[2017-03-17 10:31] AdnanNazir commented on #368
I'll check and let you know !

[2017-03-17 10:33] AdnanNazir opened #370 "Latest Google Admob Plugin for Unity seems Broken"
Please see this when I click PlayServiceResolver>PackageManage>Settings
then I am seeing this
![capture](https://cloud.githubusercontent.com/assets/6734301/24039458/116e9048-0b27-11e7-8971-dcdc1f0b6ca5.PNG)

[2017-03-17 13:17] AdnanNazir commented on #368
I am getting these logs.

HandleInterstitialFailedToLoad event received with message: Internal error
 HandleFailedToReceiveAd event received with message: Internal error

[2017-03-17 13:34] AdnanNazir commented on #370
This issue can be closed. It takes just a bit of time for downloading and then the issue resolves itself. Could be issue because of my internet.

[2017-03-17 13:34] Mario185 opened #371 "Loading of Rewarded Video Ads With TestDevices fails"
Hi,
I want to use the new Rewarded Video ads.
But how can I test them?
When I add TestDevices to the AdRequest loading of the ad fails with the message "Internal Error". Without TestDevices everything seems to work fine.

So this would fail and wold trigger the OnAdFailedToLoad event:
`var adRequest = new AdRequest.Builder().AddTestDevice("[DEVICE ID GOES HERE]").Build();
RewardBasedVideoAd.Instan

[2017-03-19 11:39] nekenPL commented on #327
In my case there was a problem with cocapods installation on my MacOs.

2017-03-14 18:47 GMT+01:00 rampara <notifications@github.com>:

[2017-03-19 17:13] KVinS opened #372 "Campaigns"
Hello! I'm using this plugin.
Recently, I decided to try Mediated house ads to promote my new games inside my applications.
I made several companies. Requests go to them, but Impressions 0. What could be the matter? Has anyone come across? Does this plugin support the сampaigns?

[2017-03-20 09:59] martineca opened #373 "Plugin killing fps when downloading ads"
Hi folks,

I'm using this plugin in a 2d scrolling game but whenever a new ad is requested there is significant drop in fps which affect my game as the scrolling camera become choppy. It's doing it on some phones like sony 4ge, lg g4s etc.. as on other like most samsungs the issue is not there.

I need to find solution to this one because I can't go further with the game when I know it's lagging f

[2017-03-20 15:05] XiveStudio opened #374 "Google Mobile Ads Rewarded ad not loading : Internal error [Unity] [Game] [GoogleMobileAds plugin]"
Hello,

i have been searching for solution to fix Ad not loading and cant find any.

I am new to all this.
I have developed game using Unity 5.5.0f3
Used Google Mobile Ads Unity Plugin v3.3.0
referred to Youtube video : Unity and AdMob Rewarded Video - Mobile Ads Garage #14
I have created two ad units
Banner works fine
Rewarded ad not loading on phone nor emulator
(as seen in below image)
![captur

[2017-03-20 21:23] rampara commented on #374
Currently, when your device is set as a test device, AdMob will fail to serve any rewarded video ads to your device. You can expect this issue to be addressed soon. For the time being, to test rewarded video ads you can remove the test device option and use the test ad units listed below as a workaround.

Android - ca-app-pub-3940256099942544/5224354917
iOS - ca-app-pub-3940256099942544/1712485313

[2017-03-20 21:28] rampara commented on #372
@KVinS this plugin does support house ad campaigns. However, this issue tracker is strictly for issues related to the plugin. For help debugging your ad serving issue I would recommend reaching out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-03-20 21:28] #372 closed

[2017-03-20 21:30] rampara commented on #371
Currently, when your device is set as a test device, AdMob will fail to serve any rewarded video ads to your device. You can expect this issue to be addressed soon. For the time being, to test rewarded video ads you can remove the test device option and use the test ad units listed below as a workaround.

Android - ca-app-pub-3940256099942544/5224354917
iOS - ca-app-pub-3940256099942544/1712485313

[2017-03-20 21:30] rampara commented on #371
closing as duplicate of #374.

[2017-03-20 21:30] #371 closed

[2017-03-20 21:31] rampara commented on #370
Closing issue as requested.

[2017-03-20 21:31] #370 closed

[2017-03-20 21:35] rampara commented on #241
Glad to be of help.

[2017-03-20 21:37] rampara commented on #367
When you interstitial fails to load after the first time, what error code are you receiving in the `OnAdFailedToLoad` ad event?

[2017-03-20 21:42] rampara commented on #348
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-03-20 21:42] #348 closed

[2017-03-20 21:44] rampara commented on #365
@daneric is the class that cannot be found `com.google.android.chimera.Fragment` for you as well?

[2017-03-20 21:56] rampara commented on #368
If test ad units are serving without issue, the problem is likely to do with your ad unit configuration. You can try reaching out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for more help.

[2017-03-20 21:58] rampara commented on #369
Currently, the JarResolver library does not support Unity Cloud builds, but we are working to fill that gap in functionality. Look for an update on this soon. Closing as duplicate of #333.

[2017-03-20 21:59] #369 closed

[2017-03-20 22:00] rampara commented on #349
As this sounds like Unity Cloud Build support issue, I'm closing this as a duplicate of #333. If your issue is unrelated to Unity Cloud Build, please re-open the issue.

[2017-03-20 22:00] #349 closed

[2017-03-20 22:21] rampara commented on #373
At ad request time, the plugin doesn't perform any operations that would impact the frame-rate in any meaningful way and the issue can be attributed to the GMA Android SDK. This frame-rate drop you're experiencing is likely only to be experienced on much slower Android hardware but the Android SDK team is aware of the issue and working on improvements. These improvements will make it into future r

[2017-03-21 09:08] martineca opened #375 "Plugin killing fps"
For some reason it's not letting me comment on my old thread. I don't think that 1.5 quad core is a slow android hardware whereas there is no lag on samsung with 1.2 quad cpu. I haven't see my phone to lag on other games that are using admob so I don't really think it's the suggested issue by rampara.

[2017-03-21 18:27] Daikokuyasoft opened #376 "What is 'Project GPM data does not exist. Creating new object.' with pulgin 3.3"
Hello,　
I 'm tring  Admob banner on my project.

I use ;
Unity 5.5.0f3 Personal (64bit)
plugin Version 3.3.0 of the Google Mobile Ads Unity Plugin

Imported all and made Admob.cs.
I put adUnitId to following part . "ca-app-pub-xxxxxxxxxxxx/xxxxxxxxxxx"

----------------------------------------------

using System.Collections;
using UnityEngine;
using GoogleMobileAds.Api;

public class AdMob : Mono

[2017-03-21 21:28] rampara commented on #376
If you handle the `OnAdFailedToLoad` event for the `BannerView`, you'll get more information on why the ad failed to load. You can also check logcat under the `Ads` tag.

[2017-03-21 21:45] rampara commented on #373
@martineca are you seeing this issue for all ad types or just for specific ones? Do you see a pattern in Android OS version on the devices that experience a slowdown vs those that don't? Can you provide a list of all devices where you're experiencing the issue (I can try to reproduce the issue on an identical device).

[2017-03-21 21:46] rampara commented on #375
Responded to your original issue #373 and closing this as a duplicate.

[2017-03-21 21:46] #375 closed

[2017-03-21 21:54] rampara commented on #327
You can also check the Unity console (if you haven't already) while building for any more information on what might be causing your issue.

[2017-03-21 22:06] qamarngr commented on #327
My issue was resolved. Noticed that issue was in steps which I was
following

Issue:
1) Create new project
2) switch platform to android
3) import Googleadsplugin
4) switch to ios platform
5) build for ios ---> stuck on converting mamaged.....

Working:
1) create project
2) switch to ios platform
3) import Googleadsplugin and build ---> waoo build successful .

Thanks for so much support whereas i

[2017-03-22 00:31] Daikokuyasoft commented on #376
Thank you for your quick replay.
Unfortunately , I don't understand what you mean because I 'm a beginner.
I just made this script and empty object.
What is OnAdFailedToLoad event for the BannerView, or  logcat under the Ads tag?
Do I need more code?
Please give me some advice again.
Thank you.

[2017-03-22 16:12] XiveStudio commented on #376
Hello, this code might help to get Error Logs :

[code]

**For Android App Only (sorry dont know for IOS Unity App Debugging) :**
Once you add this,
connect  your Android phone (USB Debugging should be on) to the Computer ,
go to your Android SDK folder / platform-tools / open CMD here and type :

` adb logcat -s Unity ActivityManager PackageManager dalvikvm DEBUG`

and hit enter

now it will log

[2017-03-22 16:41] martineca commented on #373
It's lagging when loading banner content or interstitial. After it has loaded the data the lag stops but if for some reason it has failed to load a banner it keeps lagging. So far I've reproduced the issue on Sony 4ge and LG G4s. @rampara

[2017-03-22 17:28] rampara commented on #327
Glad you were able to get everything working.

[2017-03-22 17:28] #327 closed

[2017-03-22 17:38] rampara commented on #376
@XiveStudio should get you started on debugging. You may also find our [developer docs](https://firebase.google.com/docs/admob/unity/start#ad_events) a useful resource.

[2017-03-22 17:40] #368 closed

[2017-03-22 18:03] rampara commented on #342
@bence98 are you still experiencing this issue with the latest version of the plugin?

[2017-03-22 18:31] rampara commented on #284
The [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library that this plugin uses to resolve Google Mobile Ads iOS SDK dependencies relies on Cocoapods. Since Cocoapods is unavailable for the Windows platform, you will have to turn off automatic dependency resolution and manually include the GMA iOS SDK in your Unity project. To do so, follow the steps listed below:

1. Build th

[2017-03-22 18:35] rampara commented on #355
Closing as duplicate of #350.

[2017-03-22 18:35] #355 closed

[2017-03-22 18:36] rampara commented on #350
The [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library that this plugin uses to resolve Google Mobile Ads iOS SDK dependencies relies on Cocoapods. Since Cocoapods is unavailable for the Windows platform, you will have to turn off automatic dependency resolution and manually include the GMA iOS SDK in your Unity project. To do so, follow the steps listed below:

1. Build th

[2017-03-22 19:05] rampara commented on #236
@lawjeremy are you still experiencing frame rate drops with the latest version of the plugin and GMA iOS SDK?

[2017-03-22 19:46] bence98 commented on #342
@rampara Indeed I am. (AdMob 3.3.0, Unity still 5.5.1xf1)

[2017-03-23 01:44] rampara commented on #342
Running Unity 5.5.1xf1 on Ubuntu with the latest version of the plugin I'm still unable to repro this issue. The crash seems to be coming from the call to [GetCompatibleWithPlatform](https://docs.unity3d.com/ScriptReference/PluginImporter.GetCompatibleWithPlatform.html) as explained [here](https://github.com/googlesamples/unity-jar-resolver/blob/891ff13730b10a9ccb7df234a5fcc55b9e023df8/source/Vers

[2017-03-23 07:28] DanteAndroid opened #377 "Banner Ad is OK, but RewardBasedAd doesn't show"
When I remove the test device option, it prints log warns me that I should add that test option. Of course, I tried the test ad units [here](https://github.com/googleads/googleads-mobile-unity/issues/374), it still does not work.

[2017-03-23 16:18] rampara commented on #377
@DanteAndroid even with the test option removed you're unable to request test rewarded video ads with the ad units specified it the linked issue?

[2017-03-23 21:17] bence98 commented on #342
According to them, it has been fixed. Is the latest JarResolver (1.2.14.0) in AdMob v3.3.0?

[2017-03-23 21:32] rampara commented on #342
Ah, the version in the latest release is slightly older. If you build this plugin from source it will pull in the latest version of version of JarResolver for you.

[2017-03-24 01:08] DanteAndroid opened #378 "I'm sorry guys, but I can't comment"
![image](https://cloud.githubusercontent.com/assets/10005563/24276366/58631420-1071-11e7-9817-344128546f40.png)

Never met this, forgive me.
@

[2017-03-24 10:04] Seani6 commented on #378
Disable adblock on github and it should fix it

[2017-03-24 13:19] AdnanNazir commented on #367
the console says internal error

[2017-03-24 13:24] AdnanNazir commented on #378
yes disabling AdBlock is the only way to use Github properly.

[2017-03-26 12:12] DanteAndroid commented on #378
I've tried disabling adblock, seems not work. Comment in another computer now.

[2017-03-26 12:14] DanteAndroid commented on #377
I've tried that, but it only works on bannerAd. The video ad never shows. Sometime internal error, sometime not fill error. I'm gonna crazy. Hope you can help me because it's my work.

[2017-03-26 17:19] Fasox opened #379 "Unity Plugin 3.3.0 cannot build Xcode Project."
How to reproduce:

Unity 5.5.1f1

- Download and open the HelloWorld Sample Scene
- Import 3.3.0 UnityPackage
- Change to IOS Platform on Unity
- Build the project.

The build process get stuck on "Converting Managed Assemblies to C++"

Last fragment of the log :

`Used Assets and files from the Resources folder, sorted by uncompressed size:
 4.1 kb	 0.1% /Applications/Unity/Unity.app/Contents/Uni

[2017-03-26 18:29] ZJNPRI opened #380 ".xcworkspace does not generate"
Hi,I'm a beginner for unity.I use cocoaPods to install firebase and admob.
I import firebase_unity_sdk_3.0.1 and admob Ads plugin.
And then build IOS project, it does not generate .xcworkspace.
Project contain a default Podfile file.

source 'https://github.com/CocoaPods/Specs.git'
install! 'cocoapods', :integrate_targets => false
platform :ios, '7.0'

target 'Unity-iPhone' do
pod 'Firebase/Analyt

[2017-03-27 08:58] #378 closed

[2017-03-27 08:58] DanteAndroid commented on #377
Any idea?

[2017-03-27 09:24] Seani6 opened #381 "Banner ads make area of screen un-interactable even whilst banner ad is hidden"
Note this report is **not related** to my previous issue post where I mentioned making changes to the plugin to make the plugin work on older SDK versions. This issues happens on the unmodified 3.3.0 release.

The issue is that if I load any banner into memory the area of the screen where the banner will display becomes un-interactable _(the app doesn't recognise any taps, swipes etc over the area

[2017-03-27 13:48] jykgod commented on #381
That's it ! I also find this issue with native ads when I call the hide method  to load ads and show it after a moment. But I find that there is a new commit to fix it.I build a new jar replacing the old and then crashed.  I find an error that **PopupWindow** isn't instantiated in NativeExpressAd.java. Calling the **createPopupWindow** in **create** method and then all is ok.

[2017-03-28 01:34] phamhphuc opened #383 "Can't add Banner Ads/Native as child of game Object or UI object"
As the native ads or banner ads in android native, when we initialize the ads, we can add parent of the ads but not in unity. I really want it so it will like it a part of my game for native ads

Do we have solution somewhere?

[2017-03-28 07:11] rampara commented on #381
Both the issue mentioned in the original post and the issue presented by @jykgod have been resolved in the latest commits to the plugin.

[2017-03-28 07:11] #381 closed

[2017-03-28 07:15] rampara commented on #380
The iOSReolver component of the [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library does not create an xcworkspace. Dependencies required by this plugin and any Firebase plugin should be added to the standard Xcode project generated by Unity.

[2017-03-28 15:27] genuinefafa opened #384 "Support for Unity 4.7.x (for 3.3.0)"
I was using and old version of this plugin, but when update (latest 3.3.0) version, it start complaining about some method not found.

[code]

My guess is that there is a missing `#UNITY_5` somewhere, but I cannot figure out where. I was looking for this newer version for some pods issues.

[2017-03-29 00:28] rampara commented on #379
Can you ensure you Cocoapods Specs repository is setup correctly on your machine? If you run the command `pod repo update`, do you encounter an error?

[2017-03-29 00:30] rampara commented on #383
As the ad objects in this plugin are not instances  of `GameObject`, they cannot be added as children to other `GameObject` objects. What functionality requires you to have the ad objects be children of other `GameObject` objects?

[2017-03-29 00:34] phamhphuc commented on #383
I want to implement the native ads in game like this:

The panel with 4 boxes in unity UI, 3 first boxes is 3 upgrade boxes and the 4th box is native ads. In this case I think user will think this ads is a part of the game.

[2017-03-29 05:35] rampara commented on #384
This crash was fixed in an updated version of the [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library included in this plugin. To pull in these fixes for the JarResolver library, you can rebuild this plugin with the Gradle build script included in the root directory of this repository.

[2017-03-29 05:35] #384 closed

[2017-03-29 08:20] HesapAdam commented on #376
Hello, I have the similar problem. I can not see my interstitial ad. I followed all steps in the sample and I wrote these codes.

![kod_1](https://cloud.githubusercontent.com/assets/26761412/24445098/7a52a6f0-1471-11e7-9746-f3493c1c98a7.png)
![kod_2](https://cloud.githubusercontent.com/assets/26761412/24445103/7e38a210-1471-11e7-92ba-bab05eecb4d7.png)

When I open the Unity I take these warnings.

[2017-03-29 10:50] genuinefafa commented on #384
I'm not entirely sure if I undertand. The 3.3.0 version do not include the latest version of the plugin and that's why it throws `MissingMethodException` is that so?

The solution will be to clone googleads-mobile-unity, build, and include again. Right?

[2017-03-29 15:28] NikolaTotev commented on #377
I am having similar problems. Through some debugging with text on screen it says that the rewarded video is loaded but it never shows on screen.

[2017-03-29 15:30] NikolaTotev commented on #374
@rampara  Hello, do you have any ideas why my reward video wont show on screen even without test ads on? Thanks for the help in advance!

[2017-03-29 17:41] rampara commented on #384
This plugin uses the JarResolver library I linked above. However, release v3.3.0 of this plugin included a version of JarResolver that had the issue you're running into. If you were to rebuild this plugin, it will pull in the latest version of JarResolver and that should resolve your issue.

[2017-03-29 17:46] rampara commented on #376
@HesapAdam this plugin is a wrapper for the Google Mobile Ads iOS and Android SDKs, so you will only see ads when you deploy your application to one of those two platforms. When running in the Unity editor, all calls will be made to the `DummyClient`, which has no ad functionality.

[2017-03-29 17:50] rampara commented on #383
Currently, this plugin does not support ad assets that are Unity textures but we are looking into support of such a feature. Closing as duplicate of #146.

[2017-03-29 17:50] #383 closed

[2017-03-29 17:55] rampara commented on #367
Do you experience the same behavior when loading test interstitials (adunit `ca-app-pub-3940256099942544/1033173712 `)?

[2017-03-29 18:37] rampara commented on #377
@DanteAndroid I plugged the ad unit you provided into the [sample application](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) and I'm able to request and display reward based video ads without issue.

@NikolaTotev can you provide the logcat output under the `Ads` tag when you run into this issue?

[2017-03-29 18:39] rampara commented on #374
@NikolaTotev responded your your question at #377.

[2017-03-29 20:12] NikolaTotev commented on #377
@rampara  the problem is I debugged via on screen text by tracking which function was complete, I cant get any log to work on my emulator or phone :/

[2017-03-30 01:24] rampara commented on #377
Can you build stripped down sample app (using the sample app from this repo would well) that reproduces the problem and link the APK. I could access the logs myself which would help investigate the cause of the issue.

[2017-03-30 01:56] DanteAndroid commented on #377
[app-debug.zip](https://github.com/googleads/googleads-mobile-unity/files/880828/app-debug.zip) Change the suffix to `.apk`, If you need the whole demo project, let me know.

[2017-03-30 11:51] NikolaTotev commented on #377
@rampara I just applied the sample application example, and I put the script on the camera and it still won't work.
Below I posted the link with the scene that is causing trouble, at the moment I am just having problems with showing the ad.
The "Get coins" button is supposed to call the request ad function and show ad functions. But I'm not sure what the problem is. Thanks for the help in advance!

[2017-03-31 01:39] GarthSmith commented on #333
Hello!

So a fellow programmer @tammukul here found a work around. I'm not sure if it will cause any problems yet, but these two changes allowed us to use cloud build again.

1. `AdMobDependencies.cs` contains the code that attempts to use cocoapods. We added a preprocessor directive to disable this for cloud builds.
[code]

2. Edit the XCode project to enable `CLANG_ENABLE_MODULES`. We use `Unity

[2017-03-31 17:03] NikolaTotev commented on #377
Hello @rampara and @DanteAndroid  I am now encountering a problem with interstitial ads as well. I am getting a
NullReferenceException: Object reference not set to an instance of an object
AdMobScript.ShowIntersitital () (at Assets/Scripts/AdMobScript.cs:76)
and this is line 76:

 private void ShowIntersitital()
    {
        if (interstitial.IsLoaded()) << line 76 is giving this error.
        {

[2017-03-31 17:37] NikolaTotev opened #385 "Interstitial ads not showing when loaded Unity"
Hello I am having a problem with interstitial ads. I have set a text to show me which function has been executed and it shows that the ad is loaded. But when I press the button to show the ad it says "showing ad" on the text but nothing appears on the screen. @rampara  I know you are the guru here so I'm hoping you could help :D.
This is the code I'm using *with removed ad id's*

using System.Coll

[2017-03-31 20:40] rampara commented on #385
Based on your code snippet, it doesn't look like you're not ensuring the ad has loaded before you're attempting to show it. `InsterstitialAd` objects have and `OnAdLoaded` event you can handle and and an `IsLoaded` method you can invoke. ie. something like the following:

[code]

You should also handle the `OnAdFailedToLoadEvent` so you know when an ad failed to load and the reason for the failure

[2017-03-31 20:47] NikolaTotev commented on #385
@rampara Ok I will try this. And a question I have -  where should the "print" show up

[2017-03-31 20:53] rampara commented on #377
@NikolaTotev in the github repo you linked, you're using the iOS rewarded video test ad unit for both iOS and Android. On Android, you will not be able to successfully load an ad because of this. You should be using the test ad unit `ca-app-pub-3940256099942544/5224354917` for Android.

The interstitial NullReferenceException exception doesn't seem to map to the repo you linked as there's no inter

[2017-03-31 21:02] aamiryatoo opened #386 "My Application crashes after using latest version of plugin."
after building the app.
the app crashes on the startup.

i m using the demo script for displaying the ads.
didn't edit the android manifest.

[2017-03-31 21:03] NikolaTotev commented on #377
@rampara  Ok  I replaced the ad Id with the one you linked and I'm still not getting a video to show. Could it be a problem in unity itself or where the script it placed?

[2017-03-31 21:05] NikolaTotev commented on #385
@rampara  Ok I just got the interstitials to work! Thank you very much for the exceptionally quick and helpful response! Now I just have to fix rewarded videos ( the other thread I joined ). Once again thank you a lot for the help here!

[2017-03-31 21:25] rampara commented on #385
Closing this thread as this issue seems to have been resolved.

[2017-03-31 21:25] #385 closed

[2017-03-31 21:27] rampara commented on #377
@NikolaTotev Did the ad successfully load (you received the `OnAdLoaded` event) ? If you received the `OnAdFailedToLoad` event, what was the reason for your failure?

[2017-03-31 21:29] rampara commented on #377
@DanteAndroid the APK you provided doesn't seem to be a Unity app. This issue tracker only for issues pertaining to this plugin.

[2017-03-31 21:30] rampara commented on #386
@aamiryatoo Can you check logcat at the time of crash and provide the stacktrace for issue causing the crash?

[2017-03-31 21:32] rampara commented on #333
@GarthSmith if you're taking this approach to disable dependency resolution, you'll want to ensure you're including the Google Mobile Ads iOS framework at the `Assets/Plugins/iOS/` directory of your Unity project.

[2017-03-31 21:34] aamiryatoo commented on #386
i am just using the Google Mobile Ads Unity Plugin v3.3.0 in my project as i am testing the ad system for mediation purpose later on.
and i haven't added any other plugin not even google play services.

[2017-03-31 21:43] aamiryatoo commented on #386
i am using the following script
using System;
using UnityEngine;
using GoogleMobileAds;
using GoogleMobileAds.Api;
using UnityEngine.UI;

// Example script showing how to invoke the Google Mobile Ads Unity plugin.
public class GoogleMobileAdsDemoScript : MonoBehaviour
{

	private BannerView bannerView;
	private InterstitialAd interstitial;
	private RewardBasedVideoAd rewardBasedVideo;
	private flo

[2017-03-31 21:46] rampara commented on #386
The plugin will not work without Google Play services. You will have to add the plugin to your project by selecting `Assets -> Play Services Resolver -> Android Resolver -> Resolve Client Jars`. You should see the required Google Play services dependencies added to the `Assets/Plugins/Android` directory of your Unity project. If you're still experiencing crashes after adding the Play Services to y

[2017-03-31 21:48] aamiryatoo commented on #386
where can i get google play services plugin compatible with this version?

[2017-03-31 22:02] rampara commented on #386
You don't need a separate plugin, corrected the first sentence in my previous post.

[2017-04-01 05:06] aamiryatoo commented on #386
Thanks
My App doesn't crash now.
but i am not able to display the ads either.
should i need to edit Android Manifest?

[2017-04-01 05:30] aamiryatoo commented on #386
This is the log cat if it helps my case.
[mylogcatfile.txt](https://github.com/googleads/googleads-mobile-unity/files/887391/mylogcatfile.txt)

[2017-04-01 05:51] aamiryatoo commented on #386
I recieve these errors when i click on load banner or request banner buttons.
[errors.txt](https://github.com/googleads/googleads-mobile-unity/files/887401/errors.txt)

[2017-04-01 07:44] aamiryatoo commented on #386
I solved this issue myself
But i m not able to load the rewarded video ads.
Please help me with that

[2017-04-01 07:46] aamiryatoo commented on #386
I m getting the following log when i request reward video

W/dalvikvm( 2457): VFY: unable to resolve virtual method 1979: Landroid/os/PowerManager;.isPowerSaveMode ()Z
D/dalvikvm( 2457): VFY: replacing opcode 0x6e at 0x000b
D/dalvikvm( 2457): Trying to load lib /data/app-lib/com.whatsapp-1/libvlc.so 0x42549118
D/dalvikvm( 2457): Added shared lib /data/app-lib/com.whatsapp-1/libvlc.so 0x42549118
D/

[2017-04-01 10:48] fzdravko opened #387 "Problem with NativeAds in 3.3.0"
When I hide native ad, touch is not responding in the place where ad was. This is happening on android 6.0, on previous versions of android everything working ok.

[2017-04-01 15:37] psavi opened #388 "AdMob Rewarded video not pausing the game"
When admob rewarded video runs on iOS, the game not stops. I've tried different things like try other versions and didn't work... At Android it not happen, is working fine...

[2017-04-01 16:21] NikolaTotev commented on #377
@rampara  The problem is that the ad is not loading at all, and at the moment I have not figured out the reason.

[2017-04-01 17:28] NikolaTotev commented on #377
@rampara  @DanteAndroid  Ok I have fixed it so the ad loads but now even though it says that it is showing in reality no video shows up on the screen.

[2017-04-02 02:38] rampara commented on #387
@fzdravko this has been fixed in f0efba71db9adc9bca18d2964bf20e629964ff53. You can build from head to get a version of this plugin that no longer has this issue.

[2017-04-02 02:39] #387 closed

[2017-04-02 06:21] XiveStudio commented on #374
Hi, Sorry for late response.

here's my  **sdk screenshot :**

![sdk](https://cloud.githubusercontent.com/assets/26547984/24584865/8b103784-1799-11e7-8f6a-74b2cf021d5e.PNG)

**What i did :**

right click on the Assets folder and select Play Services Resolver > Android Resolver > Resolve Client Jars.

![re](https://cloud.githubusercontent.com/assets/26547984/24584866/95855c94-1799-11e7-90c6-f00f295

[2017-04-02 12:57] aditya2 opened #389 "native express view ad is hiding but still blocking input in game"
in my game's homescreen i m loading native ad which working fine but when i go to another screen i m hiding this native ad but even in its hidden state this ad is blocking all inputs like for eg if i have a button in place of this ad that button is not working when native ad is loaded but hidden but that button is working all fine when i m not loading this ad for eg if i m playing my app with no i

[2017-04-02 13:53] aamiryatoo opened #390 "I am Able to display admob rewarded videos only when my mobile is connected to WiFi"
I am Able to display admob rewarded videos only when my mobile is connected to WiFi not with mobile  datsa.
i can display banner and interstitial without any issue.
but rewarded videos are only loaded when mobile is connected with wifi.
and if the mobile is connected to internet through mobile data, then reward video doesnt load.
Please help me with this issue.
Thankyou
Amir Yatoo

[2017-04-02 14:01] aamiryatoo opened #391 "I am Able to display admob rewarded videos only when my mobile is connected to WiFi"
I am Able to display admob rewarded videos only when my mobile is connected to WiFi not with mobile  datsa.
i can display banner and interstitial without any issue.
but rewarded videos are only loaded when mobile is connected with wifi.
and if the mobile is connected to internet through mobile data, then reward video doesnt load.
Please help me with this issue.
Thankyou
Amir Yatoo

[2017-04-02 15:05] abhishek607 commented on #376
Hello, I am having the same issue, I did that and print out the HandleAdFailedToLoad error and it says "Internal error" ,, Nothing else,

[2017-04-02 22:45] rampara commented on #389
@aditya2 this has been fixed in f0efba7. You can build from head to get a version of this plugin that no longer has this issue. There will also be a new release on Monday that includes this fix.

[2017-04-02 22:45] #389 closed

[2017-04-03 18:16] Jolurawa opened #392 "Invisible yet clickable banner ad"
I have banner ads at the bottom of the screen in my game and recently in testing there appears to be no ad, but clicking in that region causes an advertisement to open. What have i done?

[2017-04-05 02:48] DanteAndroid commented on #377
@rampara Actually since Unity plugin doesn't work I try to write code in the native app instead. As a result, I encountered **the same errors**. I read lots of articles and see many people meet this problem so I think it's not the code problem. No offense, but I think google's engineers should not make a mistake like this.

[2017-04-05 04:39] rampara commented on #392
This issue has been fixed in the latest version of the plugin (v3.4.0)

[2017-04-05 04:39] #392 closed

[2017-04-05 04:41] rampara commented on #391
@aamiryatoo which error code do receive when the rewarded video fails to load on mobile data? Do Can you get a Charles log of the ad request that fails?

[2017-04-05 04:41] rampara commented on #390
Closing as duplicate of #391.

[2017-04-05 04:41] #390 closed

[2017-04-05 04:48] rampara commented on #386
Closing this issue as the original problem seems to have resolved. Discussion on your second problem can be continued at  #391.

[2017-04-05 04:48] #386 closed

[2017-04-05 04:54] rampara commented on #377
@DanteAndroid this issue tracker is strictly for issues related to the Google Mobile Ads Unity plugin. For other Google Mobile Ads issues you can reach out on the [Google Mobile Ads support forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-04-05 04:55] rampara commented on #377
@NikolaTotev can you link me a stripped down sample project that reproduces the issue you're experiencing. It will help me investigate what the root cause is.

[2017-04-05 04:57] rampara commented on #376
@abhishek607 can you provide me with ad unit id that is causing issues for you?

[2017-04-05 06:37] aamiryatoo commented on #391
I m getting no fill error when i try to display reward video add on mobile data, but  when i connect my mobile to WiFi then display the rewarded video , it works fine.

[2017-04-05 07:22] abhishek607 commented on #376
Hello, Thanks for replying,

I was trying to fetch the id, and just to test made the build, and well its strange that ads are showing now,
I have not made any changes, i have not even opened the project since i have posted that comment here, But somehow its working now,

Maybe it just needed a restart or something,

anyways,

Thank you very much Rampara :)

[2017-04-05 16:19] rampara commented on #376
@abhishek607 No problem. Glad you were able to get everything resolved.

[2017-04-05 16:20] rampara commented on #391
@aamiryatoo can you provide me with a Charles log for an ad request that fails on mobile data?

[2017-04-05 17:39] rampara commented on #374
@XiveStudio it looks like your second set of logs have internal error as the error code, not no fill. Can you try clearing the data and cache for the Google Play Services app on your device and re-testing? The latest version of Google Play services also has an issue handling large batches of requests (>20 requests in <5 seconds) so I would make sure to space out requests. This issue has been resol

[2017-04-05 17:39] aamiryatoo commented on #391
I get no fill error 

Sent from Yahoo Mail on Android

  On Wed, 5 Apr, 2017 at 10:11 am, rampara<notifications@github.com> wrote:
@aamiryatoo which error code do receive when the rewarded video fails to load on mobile data? Do Can you get a Charles log of the ad request that fails?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the t

[2017-04-05 17:41] NikolaTotev commented on #377
@rampara  I did  this is the scene causing problems
https://github.com/NikolaTotev/-bug-with-rewarded-video-unity

 this is the stripped down version at the moment I'm working on another which will be done tomorrow. I'll send it when I finish

[2017-04-05 18:35] bence98 opened #393 "Cannot build due to wrong entry in gradle-wrapper.properties"
I got this message when I ran Gradlew:
https://pastebin.com/PxXYapJU
Updating the gradle-wrapper.properties accordingly fixed the issue.

[2017-04-05 22:39] iamrajajamal opened #394 "Build Issue"
When I'm trying to build my project this error start appearing
Assets/Scripts/AdsController/GoogleMobileAdsDemoScript.cs(215,7): error CS1525: Unexpected symbol `this'.

[GoogleMobileAdsDemoScript.txt](https://github.com/googleads/googleads-mobile-unity/files/900967/GoogleMobileAdsDemoScript.txt)

[2017-04-06 01:09] rampara commented on #393
Thanks for bringing this to our attention. Will be pushing a fix shortly to address this.

[2017-04-06 01:13] rampara commented on #394
You seem to have a missing semi-colon at line 207.

[2017-04-06 01:21] rampara commented on #391
A Charles log and corresponding logcat log for an ad request that returns a no fill would help me investigate.

[2017-04-06 01:22] rampara commented on #377
Will investigate further one you provide a sample app I can build and run.

[2017-04-06 06:04] iamrajajamal commented on #394
Awwww. So Annoying. Silly mistakes

[2017-04-06 06:04] #394 closed

[2017-04-06 22:06] rampara commented on #393
Fixed in 3265a57b0406e74b244eeea8fbccdb7e4a2a47d9.

[2017-04-06 22:06] #393 closed

[2017-04-07 05:40] MFGAME commented on #377
I also have the same problem, RewardBasedAd can not appear, advertising requests are very many but not get ads.hoping to get help！

[2017-04-07 05:42] MFGAME opened #395 "RewardBasedAd can not appear, advertising requests are very many but not get ads.hoping to get help！"
RewardBasedAd can not appear, advertising requests are very many but not get ads.hoping to get help！

[2017-04-07 19:12] XiveStudio commented on #374
hi,
**i tested it on a different device and it worked.
Now it shows Ads from Admob.**

i have mediated with UnityAd and Vungle, (Both account setup successfully).
(if any one want to see how to mediate :- https://groups.google.com/forum/#!topic/google-admob-ads-sdk/LVASxE9mmqY )

But now only Admob ads are shown, dont know if UnityAds and Vungle ( Vungle worked once), are working or will send ads.

[2017-04-10 09:06] icyh4mmer opened #396 "OnAdClosed and OnAdRewarded are sometimes called twice in a row."
Sometimes it happens that OnAdClosed and OnAdRewarded events are called twice in a row. Is this a plugin bug or am I missing something?

[2017-04-10 18:26] rampara commented on #396
The ad events should only be invoked once for an single ad. Is this issue consistently reproducible for you? Are you deploying to Android or iOS? Which version of the GMA SDK are you using?

[2017-04-10 18:37] rampara commented on #374
@XiveStudio Currently the best to test mediation networks is to set up an additional ad unit which is configured to prioritize ads from the particular third party ad network. Manually setting a high eCPM value for the third party ad network is the easiest way to accomplish this.

[2017-04-10 18:39] rampara commented on #395
@MFGAME are you experiencing this issue on Android or iOS? Do you receive the `OnAdFailedToLoad` ad event? If so, which error code is presented in this event?

[2017-04-10 18:40] rampara commented on #377
@MFGAME replied to your issue at # #395.

[2017-04-10 18:41] rampara commented on #388
@psavi can you link me to a Unity project that reproduces this issue?

[2017-04-10 20:22] icyh4mmer opened #397 "When I try to comment or edit my previous issue i get error: You can't comment at this time."
Am I missing something

[2017-04-10 20:24] rampara commented on #397
In the past people have run into similar issues when using an ad blocker on the GitHub web site. Can you try disabling your ad blocker if you're using one?

[2017-04-10 20:38] skaraman opened #398 "Interstitial Ad not reflecting Admob Settings"
I've added a cap to my Interstitial at no more than 1 per 5 minutes and also only of the Video type. However, on the app I'm still getting an Interstitial every time I call for it, and it's an Image type.

[2017-04-10 20:41] rampara commented on #398
@skaraman this issue tracker is strictly for issues related to the Google Mobile Ads Unity plugin. For other mobile ads issues, I would recommend you reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-04-10 20:41] #398 closed

[2017-04-11 00:22] psavi commented on #388
@rampara I've got the solution! I had to write some lines with "UnityPause(true)" on GADURewardBased VideoAd.m file.

[2017-04-11 08:36] icyh4mmer commented on #397
Thank you, I didn't even think of this possibility.

[2017-04-11 08:36] #397 closed

[2017-04-11 08:40] icyh4mmer commented on #396
We haven't find a way to reproduce ti yet, it happens mabe once or twice every 100 video watches. We are only deploying to android atm. Regarding the version, is there any way I could check that up? I'd guess that I've updated this plugin around 2 months ago and I didn't see any fix regarding that in the latest commits.

[2017-04-11 18:13] rampara commented on #396
The version of the plugin can be found in the `AdRequest` class, located at `Assets/GoogleMobileAds/Api` of your Unity project. The version of the Android GMA Ads SDK can be determined by looking in the `Assets/Plugins/Android` directory of your Unity project to see which version of Play Services AARs are being used. iOS builds should be pulling in the latest version of the iOS GMA SDK via Cocoapo

[2017-04-13 08:16] icyh4mmer commented on #396
Version in AdRequest class: Version = "3.2.0"
AAR version: 10.0.1

I am using mediation for rewarded video; Unity, Vungle, Chartboost, Applovin and default AdMob.

[2017-04-13 08:58] jseparovic commented on #365
I just started getting this same error using GoogleApiClient with android 7.

Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.android.chimera.Fragment" on path: DexPathList.

Seems to just happen after installing the latest update, same code worked on my phone a few days ago

[2017-04-13 18:55] abhishek607 commented on #376
Hello, Well its strange , its started happening again, I cannot even imagine how it will just do this without any changes being made.

When i run the game with this original id it gives "Invalid Request" error on HandleAdFailedToLoad()
ad id for banner unit is : ca-app-pub-3199619784817894/8873278367

But when i replace the id [only id] to ca-app-pub-6012675072751659/9659150925  ,, its started wor

[2017-04-14 00:24] rampara commented on #376
@abhishek607 Are you sure the ad unit that is returning invalid ad request is a valid ad unit?

[2017-04-14 00:32] rampara commented on #396
@icyh4mmer Narrowing down which ad network returned the ad which is causing the issue for you would help figure out the cause of the issue.

[2017-04-14 03:59] abhishek607 commented on #376
Yes i am sure its correct , Here  : https://www.dropbox.com/s/amajpvsdnigr6xd/IMG-20170414-WA0003.jpg?dl=0 <https://www.dropbox.com/s/amajpvsdnigr6xd/IMG-20170414-WA0003.jpg?dl=0>

[2017-04-14 16:58] icyh4mmer commented on #396
If I manage to reproduce the issue on specific provider I'll let you know.

[2017-04-14 23:08] rampara commented on #396
@icyh4mmer I'm having trouble reproducing the issue on my end so I'll wait till you get back to me.

[2017-04-14 23:24] rampara commented on #376
@abhishek607 I took ad unit ca-app-pub-3199619784817894/8873278367 and plugged it into the sample app included in this repo. With that setup, I'm able to load and display banner ads without issue. Do you still run into the same issue if you plug that ad unit into the sample app from this repo?

[2017-04-15 03:19] abhishek607 commented on #376
Yes its still showing the same "Invalid Request" error, I will check the samples here, and will use exactly this code to request for ads, Will let you know if that works.
Thank you very much for your support so far. :)

[2017-04-15 09:44] spixy opened #399 "Banner ad clipped (re-open #326)"
Hi, I want to re-open issue #326.
I have updated plugin to newest version 3.4.0 and still have this problem sometimes (I just changed size to full width)

![screenshot_6](https://cloud.githubusercontent.com/assets/4542110/25062619/ba8be784-21cf-11e7-817a-bce4df114c8f.png)
Unity 5.6.0, android build, its Samsung Galaxy S6
Do you still need a Charles log?

[2017-04-15 09:46] anil4040 opened #400 "Project GPM data does not exist. Creating new object"
Hi, Using Google Play Services v 0.9.37 Unity 5.5 I already tried to google it but didn't get any anything related to it. Problem is Google play services plugin not working properly even not showing any error except this in console

"Project GPM data does not exist. Creating new object. UnityEngine.Debug:Log(Object) Google.PackageManager.LoggingController:Log(String) Google.PackageManager.ProjectM

[2017-04-16 09:27] RaymondMoay opened #401 "Plugin colliding with each other when using Facebook SDK."
Hi, when building for android in unity, the console gives out this error:

"Found plugins with same names and architectures, Assets/Plugins/Android/libs/appcompat-v7-23.4.0.aar () and Assets/FacebookSDK/Plugins/Android/libs/appcompat-v7-23.4.0.aar (). Assign different architectures or delete the duplicate."

I tried deleting one of it, but that leads to even more errors. How should I proceed?

Tha

[2017-04-16 14:14] RaymondMoay commented on #401
Alright so I reimported AdMob and now it seems to build fine. On my second try to build it out to android however, I get a "Unable to convert classes into dex format" error:

CommandInvokationFailure: Unable to convert classes into dex format.
/Library/Java/JavaVirtualMachines/jdk1.8.0_101.jdk/Contents/Home/bin/java -Xmx2048M -Dcom.android.sdkmanager.toolsdir="/Users/Raymond/Work/App Development/A

[2017-04-17 17:50] rampara commented on #401
@RaymondMoay it looks like you're including the v4 support library multiple times in your Unity project. Make sure the corresponding AAR for this library is only included once in your project.

[2017-04-17 18:01] rampara commented on #399
Yes, a Charles log would help a lot with getting to the bottom of what's causing this issue.

[2017-04-17 18:04] rampara commented on #400
@anil4040 Are you referring to the [Google Play Games Unity plugin](https://github.com/playgameservices/play-games-plugin-for-unity)? The latest version for this plugin is 3.4.0.

[2017-04-17 18:07] rampara commented on #376
@abhishek607 were you able to reproduce the issue with the sample? If so, can you try clearing the data and cache for Google Play Services on your device and attempt to reload the ad.

[2017-04-17 18:13] abhishek607 commented on #376
Hi, Well its behaving strange,
I was using a try catch statement on the banner load function, i removed it and it worked, But only that one game,
I tried doing it on the other game and still same “invalid request” error,

Its really weird cause i have about11 identical games, its working on some, and not working on others, I tried clearing the data and cache of “Google play services” but its still

[2017-04-17 18:24] abhishek607 commented on #376
Tomorrow  i will export the game to iOS, I think this error is only on android , i will confirm that.

I am getting this warning on the builds :
"
Google Play Services packages found with incompatible versions.

All packages in Google Play Services must be at the same version.
Attempting to resolve the problem by using the most recent version (10.2.1) of all packages.

Found the following package

[2017-04-17 19:22] rampara commented on #376
@abhishek607 that message simply means the Google Play services AARs included at `Assets/Plugins/Android` have been updated to v10.2.1. That shouldn't cause any issues with ad loading. Are you using different ad units for the apps that are able to successfully load ads vs those that are not?

[2017-04-18 01:48] abhishek607 commented on #376
Oh, Okay, that was coming as a warning, so i thought maybe , I will try with the iOS anyway, will let you know, and yes all the 11 games, has different ad ids,

also, if i replace the ad-id in any “not ad showing app” with the ad-id of the app which is able to show the ad, Then the “not showing app” starts showing the ad.
I dont understand why that would happen.

Thanks,

[2017-04-18 03:14] abhishek607 commented on #376
Okay, I found out what the issue was,

I was storing the ad ids in the text file, For most of the games, i updated the text file outside Unity, and that was the issue,

I opened the text files inside unity, and then just saved it again [make any change and then cmd+s] , and it fixed the issue,

Strange thing is , i was printing the ad id which the game was reading from text file, and on the device

[2017-04-18 13:25] YouHusam opened #402 "OnAdRewarded and OnRewardVideoClosed handlers not called"
Rewarded videos hosted by the new google do not call the `OnAdRewarded` and `OnRewardVideoClosed` event handlers when closing the ad after the video is done playing. I've been having this issue for a month now and can't figure out a solution. There's nothing in the logs when the ad is closed I'm running on the latest release (v3.4.0)

This issue is only occurring for Ads by Google videos, I have n

[2017-04-18 17:52] rampara commented on #402
@YouHusam is this issue consistently reproducible for you. Are you experiencing this issue when deploying to Android or iOS? Are you receiving mediated ads from third party ad networks or is this issue present for AdMob rewarded video ads?

[2017-04-18 17:53] rampara commented on #376
@abhishek607 glad you were able to get everything working. Closing this issue as your problem has been resolved and there is no response from op.

[2017-04-18 17:53] #376 closed

[2017-04-18 18:01] YouHusam commented on #402
@rampara yes, almost all AdMob ads don't fire the event handlers mentioned above, I noticed today that 1% of the times it randomly works, but most of the time it doesn't. I'm receiving mediated ads from UnityAds and they are working properly. This issue is happening on both Android and iOS.

I'm using Unity 5.5.0f3

[2017-04-18 23:49] rampara commented on #402
Can't seem to reproduce this issue on my end. Are you running into the same issue with the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) from this repo?

[2017-04-19 07:46] RaymondMoay commented on #401
@rampara Alright, I removed the support library and it works for android now. However, when built to IOS, there is an error: Module 'GoogleMobileAds' not found GADUNativeCustomTemplateAD.h in Xcode.

[2017-04-19 08:09] kenglou opened #403 "Video Ads seems set to landscape and show part of the game."
Hi,

Recently i started found that for the latest version, i had some video ads that shown as below:

![screenshot_2017-04-19-15-36-21](https://cloud.githubusercontent.com/assets/4876665/25169638/4ba3aa5c-251a-11e7-987a-f5861403ea07.png)

Want to see if anyone had this problem?
The game supposed to be portrait mode only, I mind when the video ads in are not only landscape, but also didn't finish c

[2017-04-19 10:51] ShakedJuran commented on #403
I am having the exact same issue

[2017-04-19 10:56] ShakedJuran opened #404 "Banner ads disapear after video or after "moveTaskToBack""
On a Huawei CHC, I am creating a bottom banner (although same issue happens with other positions), and after watching an interstitial or a reward ad, or after calling com.unity3d.player.UnityPlayer "moveTaskToBack" and going back to the app, the bottom banner disappears (sometimes it comes back, sometimes it doesn't). no error, no nothing...

Please help

[2017-04-19 22:39] rampara commented on #401
When building for iOS, do you see any errors in the Unity console?

[2017-04-20 00:44] rampara commented on #403
Is this issue consistently reproducible across various devices? Would you be able to capture a Charles log for an ad request that results in this issue?

[2017-04-20 00:49] rampara commented on #404
Could you break down the steps to reproduce this issue? I tried the following and the banner ad consistently remained on-screen.

1. Request and display banner ad.
2. Request and display interstitial ad.
3. Dismiss interstitial ad.
[banner remains on screen]
2. Request and display rewarded video ad.
3. Dismiss rewarded video ad ad.
[banner remains on screen]

[2017-04-20 06:55] ShakedJuran commented on #404
Using those exact steps on my phone results by 3. the banner disappears.
Did you try on a Huawei CHC-U01?

[2017-04-20 07:22] Youngchangoon opened #405 "Banner ad is wrong position on Android (Galaxy S6)"
Error Version : 3.4.0
Unity Version : 5.5.1

Banner ad is wrong position on Android (Galaxy S6).

I tried set position (0,0).
[code]
but, Banner is wrong position.

---
+ I checked ios, ipad and some android device.
+ I think reason is "dpi".

[2017-04-20 08:04] mostdeep123 commented on #404
is a phone brand depends on the Ad View ? i try some API for using AdMob and never find this issues, but maybe some bad request , if i debug on Android Studio so the banner will show on another scene after the banner request, you know why this is happen ? it will be helpful.. thanks

[2017-04-20 10:11] RaymondMoay commented on #401
Yes there are three outputs:

(1) Project GPM data does not exist. Creating new object.
UnityEngine.Debug:Log(Object)
Google.PackageManager.LoggingController:Log(String)
Google.PackageManager.ProjectManagerController:InflateProjectRecord(String)
Google.PackageManager.ProjectManagerController:.cctor()
UnityEditor.EditorAssemblies:ProcessInitializeOnLoadAttributes()

** Issues 2 and 3 are weird, bec

[2017-04-20 10:55] kenglou commented on #403
This issue i tried in 2 devices and yes it is reproducible. At first the ads functional properly, after few times of watching ads the problem occurs. Happens on Android only.

[2017-04-20 12:17] YouHusam commented on #402
It seems to be working properly, I'll check my app for possible conflicting libraries. Thanks for the help

[2017-04-21 20:28] anil4040 commented on #400
I am using latest one
https://github.com/playgameservices/play-games-plugin-for-unity/tree/master/current-build

I tried these solutions:
[video](https://www.youtube.com/watch?v=5Ae8GeRmdH0)
[one](https://groups.google.com/forum/#!topic/google-admob-ads-sdk/LVASxE9mmqY)
[two](https://github.com/googleads/googleads-mobile-unity/issues/376)

still it's not working...I tried to re-import plugin and t

[2017-04-23 05:06] RaymondMoay commented on #401
I have resolved the pod issue by reinstalling google ad mobs manually using Cocoapods on my Xcode project. However, the Project GPM data does not exist issue still persists in Unity.

[2017-04-24 06:57] anil4040 commented on #400
showing same error in sample projects...any help..please ??

[2017-04-24 11:03] Rapter1990 opened #406 "Admobs not showing in a real android device"
I wrote the code to show banner in the bottom of my android device. The code and ad id are OK. In the unity, when game works , Dummy ShowBannerView appears. When I put it in the real android device to show it, it cannot be shown. I don't understand why the problem leads to.

Here is my code below.

[code]

[2017-04-24 15:42] YouHusam commented on #402
I managed to fix the problem, turns out I was using the same ad request every time. solved by creating a new ad request when the video is closed.

[2017-04-24 15:42] #402 closed

[2017-04-24 22:18] rampara commented on #406
Checking logcat output, under the Ads and Unity tags might provide more information as to what's causing the issue.

[2017-04-24 22:20] rampara commented on #400
@anil4040 if you're having issues this the Google Play Games plugin you should open an issue on the issue tracker associated with that repo. This issue tracker is strictly for issues related to the Google Mobile Ads Unity plugin.

[2017-04-24 22:22] rampara commented on #401
@RaymondMoay is the "Project GPM data does not exist. Creating new object." message an or a warning? Are you still able to build and run your app?

[2017-04-24 22:23] rampara commented on #403
@kenglou a wireshark log would be great.

[2017-04-24 22:24] rampara commented on #404
@ShakedJuran I don't have access to that particular device, but am unable to reproduce the issue on a variety of other devices. Are you experiencing this issue on any other devices?

[2017-04-24 22:26] rampara commented on #404
@mostdeep123 I'm not sure I understand the issue you're experiencing. Can you breakdown what the issue is and the steps to reproduce it?

[2017-04-25 01:26] #400 closed

[2017-04-25 17:02] Piotr12 opened #407 "is_designed_for_families - how to address?"
Hi,

This is a support question I believe. According to [this policy](https://support.google.com/admob/answer/6223431?hl=en#implement-kfa) I should be using:

`extras.putBoolean("is_designed_for_families", true); `

for "Designed for Families" program. Is
[code]
the right way to address it in C# in Unity (and "true" will become true somewhere on its way) or I should follow the path defined [here](

[2017-04-26 12:36] matie commented on #365
Hi, anyone already a solution? Yes rampara, also com.google.android.chimera.Fragment not found.

[2017-04-26 13:18] nmtoan91 opened #408 "banner is hidden after interstitial ads show off"
The banner ads is working fine until the interstitial ads  show up and close.

[2017-04-27 05:29] rampara commented on #408
@nmtoan91 can you explain the issue you're experiencing in greater detail. Is this issue on Android, iOS or both? Can you provide steps to reproduce the issue?

[2017-04-27 05:32] rampara commented on #365
@matie Did the JarResolver library add the Google Play Services dependencies to the `Plugins/Assets/Android` directory of your Unity project? If not, you can run dependency resolution manually by selecting `Assets > Play Services Resolver > Android Resolver > Resolve Client Jars` in the Unity editor.

[2017-04-27 05:36] rampara commented on #407
@Piotr12 the code snippet you posted is the correct way to request an ad that complies with the Designed for Families program.

[2017-04-27 18:13] Thornus opened #409 "MissingMethodException: Method not found: 'GooglePlayServices.UnityCompat.get_ApplicationId'."
Hi guys, I downloaded and imported the plugin into my Unity 5.6.0 project and I get an exception that continuously appears (if you have collapse set to on in Unity console you'll see the number increase rapidly). This is the exception text:

I never experienced something like this, even while making other games with this plugin (although it might be a previous version). I can build the game but wh

[2017-04-29 00:20] rampara commented on #409
@Thornus are you only using the Google Mobile Ads Unity plugin in your project are are you also including other Firebase Unity plugins? Also, are you using the latest version of this plugin?

[2017-04-29 00:35] rampara commented on #405
@Youngchangoon this plugin uses a similar coordinate system to those in standard iOS and Android development where (0,0) is the top left of the screen. Is this not the behavior you're experiencing?

[2017-04-30 01:08] Thornus commented on #409
I'm using the latest version and Firebase Analytics is included in my project. By the way I kinda solved the problem by deleting and re-importing Play Services and Firebase Analytics plugins (the excepetion doesn't appear anymore). GitHub didn't let me modify the original post.

[2017-05-01 07:58] strangestraw commented on #408
In Unity 5.5.0, it is worked well.
This situation is appeared in Unity 5.6(mine is 5.6.0p1) and devices are LG G4(LG-F400s, Android 4.4.2) & Samsung Galaxy Note 5.
Ad banner is shown when app is launched, but it is disappeared after showing and closing interstitial ad.
Banner is invisible but clickable.

[2017-05-01 11:40] ShakedJuran commented on #403
It happens to me when the game is set to portrait mode only.
If it is set to landscape its ok, but if its both then if it was in portrait it will happen again.

[2017-05-01 11:43] ShakedJuran commented on #404
same as #408

I launch my app with a banner ad at the bottom.
Then i show an interstitial, when i close the interstitial, the banner disappears but still clickable.
I dont really have anything special for you to reproduce it, it seems to happen only on my Huawei CHC-U01, on my Samsung g s5 it doesn't happen.

[2017-05-01 12:02] mostdeep123 commented on #404
after i try to request the banner on the scene, in the current scene the banner doesn't view (it will happen when i requested any other ad like reward video ad or intertitial) and will be show after the next scene , why this is happen ? i already debug on android studio and it seems like a bad request happen on banner ad request..

[2017-05-01 20:07] jemerren16 opened #410 "Google.JarResolver Cannot find artifact from.. error"
Hi guys,

I have the following error message:

` ResolutionException: Cannot find candidate artifact for com.google.android.gms:play-services-ads-lite:[10.2.4]
Google.JarResolver.PlayServicesSupport.GetDependencies (Google.JarResolver.Dependency dep, System.Collections.Generic.List`1 repoPaths)
Google.JarResolver.PlayServicesSupport.GetTransitiveDependencies (System.Collections.Generic.Dictionary`

[2017-05-02 04:34] rampara commented on #409
@Thornus Glad you were you able to resolve your problem. Closing this issue. Please reopen if you run into it again.

[2017-05-02 04:34] #409 closed

[2017-05-03 10:58] armnotstrong opened #411 "should consider package the file in a SDK specified folder"
Hi, I found your unity package have a top-level folder named "Plugins" which is a common name be used by many packages, (Or even by our project), shall we package that to a more SDK specified folder, so that user could save some effort to delete/re-import the SDK? thanks.

![folder](https://cloud.githubusercontent.com/assets/3839691/25657862/840f616a-3032-11e7-8e55-b2014945bfe6.png)

[2017-05-04 00:34] Votrubec commented on #410
Any suggestions on how to fix this? Spent WAY too long searching for answers.

[2017-05-04 05:50] Jazzgazer commented on #408
I have same problem.

I'm using Unity 5.6.0p3
Devices are Samsung Galaxy 7 & Note 3.

At first, banner view i shown well.
however, when I go back home or play unity ads or do something, it's invisible but clickable.

[2017-05-04 06:02] JillionStudio commented on #410
same issue .
Even sdk is totally updated.

[2017-05-04 06:03] JillionStudio commented on #408
facing same issue
i am also using 5.6
Huawei

[2017-05-04 09:08] AnshulPlayBuff commented on #68
@ourangzeb
I am facing a same issue. Can you please provide a link how to integrate google mobile sdk for unity manually.
Thanks

[2017-05-04 13:20] DozeX commented on #410
**same error, someone how to fix ?**

[2017-05-04 22:32] rampara commented on #410
Importing the [latest version](https://github.com/googlesamples/unity-jar-resolver/blob/master/play-services-resolver-1.2.17.0.unitypackage) (v1.2.17) of JarResolver should resolve this issue. You may have to perform version resolution by selecting `Assets -> Play Services Resovler -> Version Handler -> Update` after importing the updated JarResolver library.

[2017-05-04 22:34] rampara commented on #68
If you do not want to use Cocoapods (which is the recommended approach for including the GMA SDK) you can include the [iOS GMA SDK](https://developers.google.com/admob/ios/download) within the `Assets/Plugin/iOS` directory of your Unity project or add the framework to the Xcode project generated by Unity.

[2017-05-04 22:41] rampara commented on #408
closing as duplicate of #404

[2017-05-04 22:41] #408 closed

[2017-05-04 22:57] rampara commented on #404
For those of you running into this issue on Samsung devices, are you using the latest version of this plugin (v3.4.0)?

[2017-05-05 06:25] JillionStudio commented on #410
page not found

[2017-05-05 06:51] JillionStudio commented on #410
you mean [this](https://github.com/googlesamples/unity-jar-resolver/blob/master/play-services-resolver-1.2.19.0.unitypackage)

[2017-05-05 22:50] rampara commented on #410
@JillionStudio looks like the version was bumped since I made my post. The link you provided is correct. Updated my earlier post to reflect this.

[2017-05-05 23:43] rampara commented on #411
The `Plugins` directory is meant to be used by all plugins in a Unity project. Did you mean you wanted specific sub-directories under `Plugins/Assets/Android` and `Plugins/Assets/iOS` ?

[2017-05-08 07:21] DeepakPant commented on #273
@rampara  I do not see how I can place ads in custom offset positions , also can I place ads in list view ?

[2017-05-08 10:16] armnotstrong commented on #411
@rampara that should be an option, if possible :+1:

[2017-05-08 19:34] AdnanNazir commented on #411
yes, this will be so good.
Like Facebook Official SDK for Unity. It just contains all of it's plugins folders and file in One Folder called FacebookSDK

thanks

[2017-05-08 19:58] rampara commented on #273
To create a `NativeExpressAdView` with a custom position, use the [constructor](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Api/NativeExpressAdView.cs#L35) that takes x and y coordinates for position as arguments.

[2017-05-08 20:11] rampara commented on #284
Closing this issue due to its age. Please re-open if this issue persists for you.

[2017-05-08 20:11] #284 closed

[2017-05-08 20:13] rampara commented on #342
Closing this issue has as using an updated version of JarResolver seems to have resolved it.

[2017-05-08 20:13] #342 closed

[2017-05-08 20:14] rampara commented on #347
Closing this issue due to non-response. If this issue still persists for you please re-open.

[2017-05-08 20:14] #347 closed

[2017-05-08 20:14] rampara commented on #350
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:14] #350 closed

[2017-05-08 20:15] rampara commented on #351
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:15] #351 closed

[2017-05-08 20:16] rampara commented on #364
Closing this issue due to non-response. Pleas re-open if this issue persists for you.

[2017-05-08 20:16] #364 closed

[2017-05-08 20:16] rampara commented on #380
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:16] #380 closed

[2017-05-08 20:17] rampara commented on #379
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:17] #379 closed

[2017-05-08 20:18] rampara commented on #361
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:19] #361 closed

[2017-05-08 20:20] rampara commented on #374
Closing this issue as the original problem seems to have been resolved.

[2017-05-08 20:20] #374 closed

[2017-05-08 20:21] rampara commented on #367
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:21] #367 closed

[2017-05-08 20:22] rampara commented on #395
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:22] #395 closed

[2017-05-08 20:22] #407 closed

[2017-05-08 20:30] rampara commented on #411
This plugin relies on the [JarResolver](https://github.com/googlesamples/unity-jar-resolver) library to include Google Play Services dependencies, which copies the required AARs to the `Assets/Plugins/Android` directory of a Unity project. You'll want to open similar feature request in that repo.

[2017-05-08 20:35] rampara commented on #391
Closing issue due to non-response. Please re-open if this issue persists for you.

[2017-05-08 20:35] #391 closed

[2017-05-09 21:48] rampara commented on #403
@ShakedJuran can you provide the device and iOS version you used to reproduce this issue? A Charles or wireshark log would help too.

[2017-05-09 22:35] guilhermeouriques commented on #410
I had the same issue and I think it's solved now.

Open AdMobDependencies.cs file, located inside of Assets -> GoogleMobileAds -> Editor, with your text editor and find the line:

 that is in SetupDeps() method.

Now change the string "LATEST" to "10.2.1". That worked for me, hope it helps someone.

[2017-05-10 01:42] rampara commented on #410
The latest version of this plugin (v3.5.0) pulls in the latest version of the JarResovler library, which includes a fix for this issue. @guilhermeouriques once you update to v3.5.0, you'll no longer have to use older versions of Google Play services dependencies.

[2017-05-10 01:42] #410 closed

[2017-05-10 01:43] rampara commented on #404
@ShakedJuran @mostdeep123 can you try testing with the latest version of the plugin (v3.5.0) to see if this issue is still present for you. I included a fix that should address this specific issue.

[2017-05-10 05:39] strangestraw commented on #404
This issue had been appeared in LG G4 and Samsung Galaxy Note 5 / Unity 5.6.0p1 / GoogleAdsMobile(v3.4.0). But it works perfectly in the latest version of the plugin (v3.5.0).
Thank you for your great work!

[2017-05-10 07:42] ShakedJuran commented on #404
@rampara Issue is solved in v3.5.0, thank you very much!

[2017-05-10 07:42] ShakedJuran commented on #403
@rampara Issue is solved in v3.5.0, thank you very much!

[2017-05-10 16:24] rampara commented on #404
Glad the issue has been resolved.

[2017-05-10 16:24] #404 closed

[2017-05-10 21:14] rampara commented on #403
hmmm, strange, there weren't any changes made to address this issue specifically. Please report back if you see the issue come up again.

[2017-05-11 03:06] bilck commented on #333
We solved this issue by using "UNITY_CLOUD_BUILD" preprocessor directive instead of "CLOUDBUILD" and adding the plugin to Assets/Plugins/iOS/ directory.

[2017-05-11 03:12] bilck opened #412 "Rewarded Ads not triggering event"
"RewardBasedVideo.OnAdRewarded" event is never triggered.
Currently testing on Android devices.

The other events are called correctly.

As a suggestion, it would be **great** to be able to check if the Video Ad was fully displayed to the user, so that the user receives its reward only if deserved.

[2017-05-11 03:17] bilck opened #413 "It's not possible to call different Rewarded Ads with different Rewards"
I would like to be able to call different Rewarded Ads without having to keep track by myself what is the proper reward for that Ad.

Another thing to keep in mind is that it would be interesting to avoid loading multiple Ads just because of this feature, a rewarded video could be kept in cache if it shares categories among other possible Rewarded Ads.

[2017-05-11 15:28] NarsunProjects commented on #412
we're receiving the same issue.

[2017-05-11 18:33] rampara commented on #412
@bilck are you able to reproduce this issue with the [sample project](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) that uses a test ad unit id?

[2017-05-11 18:41] rampara commented on #413
Does using different ad units configured with different awards not meet your needs? You should then be able to access the different rewards from the `OnAdRewarded` event.

[2017-05-11 19:53] bilck commented on #413
It is not enough, specially considering Unity 3D's SDK, which consider rewarded ads as a singleton. We know it's possible to change the SDK's source code, but it would be nice if this is supported out of the box.

We are currently tracking the reward type and amount manually (thus overriding the OnAdRewarded values), since the target ad unit is defined when creating the RewardedAd.
I would be nice

[2017-05-11 19:56] bilck commented on #412
We had some Unity 3D's issues due to the fact that the callbacks are on a separate thread.
We were triggering analytics events on callbacks, and Unity Analytics' calls must be performed on the main thread.

It is working properly now, thanks a lot!

[2017-05-11 19:56] #412 closed

[2017-05-12 21:11] edumlauer opened #414 "Banner appearing in wrong position"
![admob](https://cloud.githubusercontent.com/assets/8882673/26016245/a4b19398-373a-11e7-871d-98437d9c87e5.png)

The Smart Banner is displayed in the wrong position. Doing a "clean build and install" (uninstalling the app and building and run again from Unity) makes the banner work correctly the first time. The second time the app is open the banner is displayed in the wrong position.

Logcat logs

[2017-05-13 21:54] GcubeTech commented on #401
am facing same problem any solution for it?

[2017-05-14 10:55] binarybehemoth opened #415 "Interstitial Ads Not Showing"
Somehow, my Interstitial ads are not showing in my mobile phone after I updated Google Mobile Ads SDK to Version 3.5.0. All I am seeing is the closing X and empty circle (supposedly for the timer) at the corners, on a completely black screen.

Nevertheless, the banner ads are still showing.

I wonder whether some of the others are experiencing the same problem.

[2017-05-14 14:35] RaymondMoay commented on #401
@rampara It is a message, and it does not affect my build. I am still having issues with Cocoapod, however I found a solution. All I did was manually update pod and it works! However, I think this issue deserves to be fixed.

@GcubeTech If your issue is regarding Cocoapods not installing from unity, update pod manually and it should work. If it's the Facebook plugin, just remove the extra v4 suppo

[2017-05-14 15:48] jpollar4 opened #416 "Banner Ads not showing on android devices"
Hello, I'm not able to get my banner ad to show on devices. The test banners are showing up fine on my phone.

When I run logcat on my non-test phone i get this following error:
`	05-14 11:41:33.949 19555 19555 I Ads     : Starting ad request.
	05-14 11:41:33.952 19555 19555 I Ads     : Use AdRequest.Builder.addTestDevice("XXXXXXXXXXXXX") to get test ads on this device.
	05-14 11:41:35.527  8030 2

[2017-05-15 13:06] ghost opened #417 "Live ads blocked during development??"
Hello,

Is it possible that Google is blocking live ads from showing in development builds or on devices used during development?

I have an app on the store that shows the ads just fine but when I try to test  the live ads on a development build, the ads do not show.

Test ads work just fine.

[2017-05-15 23:26] husher opened #418 "Converting managed assmblies to C++ (After installing plugin)"
Unity freezes when building for iOS after installing plugin.
I have Unity personal edition 5.6.0 and I installed the last version of the plugin.
Is there anything I can do to prevent freeze Unity when building?

[2017-05-16 08:33] freedom667 opened #419 "Banner and interstital ads not showing"
i hav admob 3.5.0 everything is true. codes, anroidmanifest etc. but when i try in adnroid device ads not showing.  I looked alogcat and adb logcat but there is no error.

[2017-05-16 14:50] Bozin3 commented on #419
Same here! The test ads are working fine, but the real ads are not showing.

[2017-05-16 18:01] rampara commented on #419
@freedom667 @Bozin3 can you post the the output you see in logcat under the `Ads` tag. Turning on verbose logging should provide additional information. To turn on verbose logging for the Android GMA SDK, run the following command:

`adb shell setprop log.tag.Ads VERBOSE`

Also, are you running into the same issue when using the sample app from this repo with live ad units swapped in? If so, can y

[2017-05-16 18:08] rampara commented on #418
@husher do you see any output in the Unity console that might indicate the cause of the issue? If not, can you try switching the scripting backend form IL2CPP to Mono2x and trying to build? You might see additional information logged to the console with this scripting backend.

[2017-05-16 18:09] rampara commented on #417
@Mintonne live ads should load with a development build but it's recommended not to test with live ads. What error code do you receive when the ads fail to load? Can you provide a Charles or Wireshark log of the ad request that failed to load?

[2017-05-16 18:20] rampara commented on #416
@jpollar4 Strange, i'm able to request and display live ads using the ad unit from the code snippet in your post. Can you post the output you see in logcat under the `Ads` tag after you turn on verbose logging. Verbose logging can be turned on by running the following command:

`adb shell setprop log.tag.Ads VERBOSE`

[2017-05-16 18:22] rampara commented on #401
@RaymondMoay the latest version of this plugin includes an updated JarResolver library, which pulls in multiple fixes for the Cocoapods integration used to get GMA dependencies.

[2017-05-16 18:23] jpollar4 commented on #416
Actually, the banner ad started working fine this morning.

Its possible that the ad unit hadn't become active until now? Two days seems like a long time.

But, regardless. All seems well now.

Thanks for reaching out!

[2017-05-16 18:24] rampara commented on #415
@binarybehemoth are you experiencing this issue with both test ads and live ads? Are you able to reproduce the issue with the sample app in this repo? If so, can you provide a Wireshark or Charles log of the ad request which loads the incorrectly behaving interstitial?

[2017-05-16 18:25] rampara commented on #416
@jpollar4 ad units should normally be ready to serve in an hour but this can sometimes take longer. Glad you were able to get everything working.

[2017-05-16 18:25] #416 closed

[2017-05-16 18:32] binarybehemoth commented on #415
I used to run live ads in my app. Actually I have been unable to upload the latest version of my APK at Google Developer Console for days, so I cannot tell you whether if downloaded from Google Play the ads will be seen correctly. I tried contacting Google support for the problem in Google Developer Console but they have not replied me. I wonder when I will be able to start uploading and releasing

[2017-05-16 18:55] artakino opened #420 "Reward Video crashes app on start"
Reward Video often crashes when it is started with the error below.  It seems that it may be happing when GC.Collect() is called at some point between LoadAd() and ShowAd() calls.

`D/Unity   ( 1942): SetWindow 0 0x5f23f808
D/PanelView( 1248): mClearAll.setVisibility - mIsFullyOpened : false isShade : true mHasNotification : true mIsUpwardFling : false mQsFullyExpanded : true isShadeLocked : false

[2017-05-16 19:49] Bozin3 commented on #419
I am using these script, am i doing something wrong? Also i replaced the test adunitID with real one
`using UnityEngine;
using System.Collections;
using GoogleMobileAds.Api;

public class Ads : MonoBehaviour
{

    bool hasShownAdOneTime;

    // Use this for initialization
    void Start()
    {
        //Request Ad
        RequestInterstitialAds();
    }

    void Update()
    {
        if (Game

[2017-05-16 21:27] latne1ec opened #421 "Multiple errors when selecting "iPhone only" in Unity platform settings"

[2017-05-16 21:45] rampara commented on #421
@latne1ec can you provide more information on what these errors are? Also, are you using the latest version of the plugin?

[2017-05-16 22:07] rampara commented on #419
@Bozin3 what output do you see in logcat under the `Ads` tag? The command in my previous post will turn on verbose logging to see additional output.

[2017-05-16 22:09] rampara commented on #420
@artakino is this crash consistently reproducible for you? Are you able to reproduce it with the sample app from this repo? Are you using mediation for your rewarded video ads?

[2017-05-17 07:02] artakino commented on #420
Yes, it is reproducible but not consistent.  However, I seem to be get consistent crashes when I run GC.Collect() before ShowAd().  I have not tried the sample app on an Android device.  And yes, I am using mediation for rewarded video ads.

[2017-05-17 15:49] rampara commented on #420
Can you test if this issue is still reproducible when using an ad unit that is configured for AdMob demand only?

[2017-05-17 15:52] rampara commented on #415
@binarybehemoth for this issue, a can you provide a Wireshark or Charles log of the ad request which loads the incorrectly behaving interstitial? Also, can you provide details on device configuration (device type, os version etc.) on which you're able to reproduce the issue?

[2017-05-17 15:53] rampara commented on #414
hmmmm, it's strange you're unable to repro the issue in the sample app but it happens consistently in your own app. Do you think you can provide me with a stripped down sample project that reproduces this issue. It would help me investigate.

[2017-05-17 19:32] Bozin3 commented on #419
The log cat says
Ads:Starting ad request.
Ads:No fill from ad server.
Ads:Failed to load ad: 3

[2017-05-18 00:34] binarybehemoth commented on #415
The Model number is Samsung GT-N7100. The Android version is 4.3.

I just downloaded Wireshark. How do I capture the log? What IP address should I look for?

[2017-05-18 01:12] artakino commented on #420
Thanks, will test it and let you know.

[2017-05-18 01:29] rampara commented on #420
Awaiting your follow up to continue investigating this.

[2017-05-18 05:20] EvilKiller123 opened #422 "Admb Rewarded Video Not Showing."
Admob Rewarded Video Not Showing getting the error "**Add Failed To Load**", Not Using any Mediation Just Wanted Simple AdMob Rewarded Video To Popup, I Have Tried Your Sample Project And Your Admob Test Id But The Result Is The Same.

[2017-05-18 12:37] ognjenmarcheta opened #423 "Unable to merge manifest problem, i'm stuck."
Hi there,

Recently i switched quickly to another project (native android) which asked me to update android tools, sdk, etc. Now i go back to my unity project and i found out i can't build project, even i didn't touched it since last time when everything was ok.

Problem:
Unable to merge android manifests.
I'm using google analytics, google ads, play services and facebook.
[Some random screenshot]

[2017-05-18 15:09] artakino commented on #420
Turning off all mediated networks did fix the issue.  I believe the next step is to see which network causes the issue.

[2017-05-18 16:04] rampara commented on #420
Yep. Once that's done I can start digging into what's actually causing the crash.

[2017-05-18 16:10] rampara commented on #423
Can you post the more information from the Unity console output that describes why the manifest file merge failed?

[2017-05-18 16:12] rampara commented on #422
What error code/ error message are you receiving when the  ad fails to load? Are you running into this issue when deploying to the Android or iOS platform?

[2017-05-18 16:13] rampara commented on #419
@Bozin3 can you post the entire out from logcat under the `Ads` tag once you turn on verbose logging?

[2017-05-18 16:53] rampara commented on #415
@binarybehemoth if you're unfamiliar with how to collect network traffic logs we can try investigating through other avenues. Are you experiencing this issue with test ads? Are you able to reproduce the issue with the sample app in this repo?

[2017-05-18 17:06] rampara commented on #413
There has been some consideration on "de-singletonifying" the rewarded video ad structure for the GMA SDK. Will take you feedback to the GMA SDK team.

[2017-05-18 18:06] rampara commented on #333
Is cloud build still not working on the latest version of this plugin?

[2017-05-19 00:18] binarybehemoth commented on #415
How do I use test ads? Where is the sample app?

[2017-05-19 04:46] EvilKiller123 commented on #422
i am using events to get this message "Error Failed To Load"

here's my code.

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using GoogleMobileAds;
using GoogleMobileAds.Api;
using System;
using UnityEngine.UI;

public class addscalling : MonoBehaviour {

	public GameObject Test;
	private RewardBasedVideoAd rewardBasedVideo;
	// Use this for initialization
	void St

[2017-05-19 05:29] ognjenmarcheta commented on #423
That is everything i get in console. Those two messages.

[2017-05-20 06:11] artakino commented on #420
I get the same exact OutOfMemory error every time the video ad is triggers.  To make things even more interesting there is this one ad, only that one ad, plays without crashing the game.  It's an ad that is served by Admob.

[2017-05-20 16:47] brisa0730 opened #424 "Android gradle build error"
Google is updating a lot these days. Android SDK, Google Play Services, Google Ads, Firebase. Those assets are using so much methods that nothing else seems to fit inside 64k dex limit.

Well I am using all those assets and now I have no choice but to hope gradle build system would ease things a bit.

Gradle build system is throwing this error when I add Google Ads:

- I double checked to make sur

[2017-05-20 19:00] artakino commented on #420
Hi rampara,
I found the source of the bug and it has nothing to do with the plugin.  It just happen to occur when the game would go out of focus.  It's actually a bug with Unity's static splash screen in Unity 5.6.  Here is the bug report incase you need it.
https://issuetracker.unity3d.com/issues/android-application-crashes-on-start-with-high-resolution-of-static-splash-image

Thanks for your hel

[2017-05-21 02:42] #420 closed

[2017-05-22 10:12] iseeall opened #425 "xCode project doesn't build (Unity 5.6, AdMob 3.5.0)"
Hi! After updating to Unity 5.6 and AdMob plugin 3.5.0 I can't build iOS versions of the games anymore.
Attaching screenshots of the errors in xCode:

![screen shot 2017-05-22 at 12 15 13](https://cloud.githubusercontent.com/assets/8617651/26303202/79e01c2c-3eef-11e7-9f98-fe41a3407da4.png)
![screen shot 2017-05-22 at 12 16 12](https://cloud.githubusercontent.com/assets/8617651/26303201/79da161a-3e

[2017-05-22 11:13] ognjenmarcheta commented on #423
Solution found on unity issue tracker:

1) just open https://developer.android.com/studio/index.html
2) scroll down to the bottom of that page
3) go to downloads
4) scroll down to the bottom of that page
5) find Windows "tools_r25.2.3-windows.zip" download and unzip it
5) find MacOSX "tools_r25.2.3-macosx.zip" download and unzip it.
6) In the SDK path replace the tools folder.

[2017-05-22 11:13] #423 closed

[2017-05-22 11:25] ognjenmarcheta commented on #424
Hi i recently had similiar problem too. Maybe this will help you:
https://github.com/googleads/googleads-mobile-unity/issues/423

[2017-05-22 14:07] Lights999 commented on #425
I have the same problem

[2017-05-23 05:52] brisa0730 commented on #424
Hello, yeah hmm I tried tools 25.2.3. Didn't work. Unity gradle is throwing the same error.

[2017-05-23 06:10] boris-741 opened #426 "Mediation example"
1. I can not connect with unity ads Mediation. Please show an example.
2. With admobn I have a problem. 15% of my users receive a response from the server [no fill] on rewarded video. Why is this happening?

[2017-05-23 20:14] rampara commented on #425
@iseeall @Lights999 can you trying setting `Enable Modules (C and Objective-C)` to `Yes` in the project build settings for the xcworkspace.

[2017-05-23 21:10] iseeall commented on #425
Thanks but I can't that setting in xCode. This is what I see in project build settings:
![screen shot 2017-05-24 at 00 03 43](https://cloud.githubusercontent.com/assets/8617651/26376348/dd156736-4014-11e7-94ab-d236b9501148.png)

Was "Language - Modules" section removed from xCode?
It seems to come up until LLVM 7.0 but not the current LLVM 8 (?)
https://www.google.ru/search?q=xCode+Enable+Modules+

[2017-05-23 21:38] rampara commented on #425
<img width="1167" alt="screen shot 2017-05-23 at 2 31 17 pm" src="https://cloud.githubusercontent.com/assets/11047881/26377479/5769b1ea-3fc5-11e7-9049-b3a8ff374c0c.png">

The option should still be available under LLVM 8. Do you have the correct target selected?

[2017-05-23 21:56] iseeall commented on #425
Do you mean target iOS version? I've change target iOS version from 7.0 to 8.0 in Unity, but still xCode project doesn't show "Language - Modules".

[2017-05-23 22:26] rampara commented on #425
I meant Xcode target.

<img width="206" alt="screen shot 2017-05-23 at 3 20 58 pm" src="https://cloud.githubusercontent.com/assets/11047881/26379060/1b31eb3c-3fcc-11e7-8cda-264549245318.png">
<img width="1199" alt="screen shot 2017-05-23 at 3 24 40 pm" src="https://cloud.githubusercontent.com/assets/11047881/26379032/fd1987c2-3fcb-11e7-9d8b-a62a78d10639.png">

If your project is selected as the ta

[2017-05-23 22:31] rampara commented on #424
@brisa0730 Just pushed a commit to resolve this issue (98d9053c706ddd924b2bec4db0ba3bfbad6123c9).

[2017-05-23 22:38] rampara commented on #422
@EvilKiller123 are you running into this issue when deploying to Android or iOS?

[2017-05-23 22:43] rampara commented on #415
The sample app can be found in this [repo](https://github.com/googleads/googleads-mobile-unity/tree/master/samples). To use test ads either use the test ad unit id values found in the sample app, or follow the instructions in our [developer docs](https://developers.google.com/admob/unity/start#test_ads).

[2017-05-23 22:53] rampara commented on #426
Did you follow the instructions listed on the [Mediation developer docs](https://developers.google.com/admob/unity/mediation) to setup mediation? As for your no fill issue, are you running into this issue on Android or iOS? Once you have mediation set up, it should help with your fill rate.

[2017-05-23 23:23] rampara commented on #377
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-05-23 23:23] #377 closed

[2017-05-24 08:23] boris-741 opened #427 "Mediation example - 2"
I configured account [https://support.google.com/admob/answer/3124703](url).
I use Unity Ads Mediation.
Unity project config:
put files:
Assets/Plugins/Android/unity-ads.aar
Assets/Plugins/Android/GoogleMobileAdsPlugin/libs/unity-2.1.0.0.aar
add to manifest:
`
<uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

[2017-05-24 08:25] iseeall commented on #425
That's weird. The target project was correct.
But I see the Modules when selecting "Unity-iPhone Tests" project as target.
![screen shot 2017-05-24 at 11 17 15](https://cloud.githubusercontent.com/assets/8617651/26393788/99e203c0-4073-11e7-86cb-fd62ad35c5de.png)
![screen shot 2017-05-24 at 11 21 40](https://cloud.githubusercontent.com/assets/8617651/26393789/99e21a72-4073-11e7-9c43-2424d37aa0a2.pn

[2017-05-24 08:31] iseeall commented on #425
Are these settings correct?
![screen shot 2017-05-24 at 11 30 55](https://cloud.githubusercontent.com/assets/8617651/26394113/918354e4-4074-11e7-845f-48ab6b593245.png)

[2017-05-24 09:07] mmz1995 opened #428 "Ads can not be displayed on the real machine（Android platform）"
Huawei can not display advertising, mobile phone model is HUAWEI P6-C00

[2017-05-24 09:34] binarybehemoth commented on #415
I just tested it in my phone. In the sample app, I could display all the ads except the rewarded video ads. But that was not the problem. Originally, my android phone could also display some interstitial ads, but only the static interstitial ads. The real problem now is with VIDEO interstitial ads, which are always blank as I described in the first post here.

[2017-05-24 14:47] brisa0730 commented on #424
It worked! Thank you. I can't believe I've spent numerous hours because of this one simple line.

[2017-05-24 18:30] rampara commented on #424
Glad everything is working for you now.

[2017-05-24 18:30] #424 closed

[2017-05-24 20:58] rampara commented on #428
@mmz1995 can you provide for information on your issue? What error code do you receive if you handle the `OnAdFailedToLoad` ad event? Can you post the content from logcat under the `Ads` tag? What OS version is your device? Are you running into this issue for all ad formats or just specific ones?

[2017-05-24 21:12] rampara commented on #427
If you're running an ad blocker it may prevent you from replying to GitHub issues. Also, the Unity Ads adapter should be included in the `Assets/Plugins/Android` directory of your Unity project not `Assets/Plugins/Android/GoogleMobileAdsPlugin/libs/`. You can also try filtering logcat output for content containing the words "Ads" and "Unity" to see if there are any issues with your integration.

[2017-05-24 21:12] rampara commented on #426
closing as duplicate of #427

[2017-05-24 21:12] #426 closed

[2017-05-25 07:21] boris-741 commented on #427
Can I disable AdMob and leave active only Unity Ads Mediation for test?

[2017-05-25 10:57] JillionStudio opened #429 "Two Or More Native Ads At Same Time"
I tried to show multiple native ads( 1- Small Native Ad, 2- Medium Native Ad)
But It is only showing small native ad which i initialize first.
Best part is small native ad is shown when i call medium native ad :)

Regards
Muhammad Waqas
Jillion Studio
[Sample.cs.txt](https://github.com/googleads/googleads-mobile-unity/files/1028773/Sample.cs.txt)

[2017-05-25 11:58] ceyhuntasci opened #430 "Banner Bottom Does Not Appear Correct"
It behaves like navigation bar is not hidden on Xperia Z3 compact. So banner appears at a higher position from where it should be. I've tried v3.1.3, banner didn't show up at all but it was clickable. And on v3.2 problem is still there. Currently using v3.5

[2017-05-25 17:46] rampara commented on #427
You can try configuring your ad unit to give Unity Ads a high eCPM value, causing it to be more likely to be served.

[2017-05-26 09:01] mmz1995 commented on #428
I'm sorry I'm late. I am dealing with the OnAdFailedToLoad function is to reload the ad, I tested the system version of the real machine including Android system 4.4.2 and 5.0.1. Is it because the Android phone does not support the Google framework reasons? It should be noted that this game project is developed in Unity3D, this time to test the phone is Meizu phone, the system version is 5.0.1, an

[2017-05-26 18:13] #429 closed

[2017-05-27 12:52] ani051092 opened #431 "Banner ads are not showing. I am using latest admob and google play services plugin in the project"
I am using following code:

public void RequestBanner()
	{
		#if UNITY_EDITOR
		string adUnitId = "unused";
		#elif UNITY_ANDROID
		string adUnitId = "actual_ad_unit_id_string";
		#elif UNITY_IPHONE
		string adUnitId = "INSERT_IOS_BANNER_AD_UNIT_ID_HERE";
		#else
		string adUnitId = "unexpected_platform";
		#endif

		// Create a 320x50 banner at the top of the screen.
		BannerView bannerView = new

[2017-05-28 15:00] iseeall commented on #425
Solved it. "Apple LLVM 8.1 - Language - Modules" shows if one selects "All" instead of "Basic".
![screen-shot-2017-05-28-at-17 39 32](https://cloud.githubusercontent.com/assets/8617651/26529671/134c6a64-43cd-11e7-9f85-4d8ccaece5b4.png)
And after setting `Enable Modules (C and Objective-C)` to `Yes` the ads show fine. Thanks!

[2017-05-28 15:00] #425 closed

[2017-05-29 00:11] akurani commented on #333
I ran into the same issues with GoogleMobileAds 3.5.0 and Unity Cloud Build for iOS.  The recent answers here were correct, but I thought it might be helpful to summarize everything:

1. Add **GoogleMobileAds.framework** to Assets/Plugins/iOS/...

2. Add a **[PostProcessBuild]** function to modify the generated Xcode project:

[code]

3. Add the **UNITY_CLOUD_BUILD** define to AdMobDependencies.cs

[2017-05-29 18:56] TheMostWonderful opened #432 "Unity Admob rewarded video is showing but after video ad events are not getting called, below my code"
using System.Collections;
using System.Collections.Generic;
using System;
using UnityEngine;
using GoogleMobileAds;
using GoogleMobileAds.Api;

public class AdManager : MonoBehaviour {
	private GameOver gameOver;
	private RewardBasedVideoAd rewardBasedVideoAd;
	//bool isWatched = false;

	// Use this for initialization
	void Start () {
		this.rewardBasedVideoAd = RewardBasedVideoAd.Instance;
		gam

[2017-05-30 16:16] ExtraFlash commented on #432
try to add this to your code:

public event EventHandler<EventArgs> OnAdLoaded;

    public event EventHandler<AdFailedToLoadEventArgs> OnAdFailedToLoad;

    public event EventHandler<EventArgs> OnAdOpening;

    public event EventHandler<EventArgs> OnAdStarted;

    public event EventHandler<EventArgs> OnAdClosed;

    public event EventHandler<Reward> OnAdRewarded;

    public event EventHandle

[2017-05-30 23:37] rampara commented on #431
@ani051092 can you post the contents of the `Assets/Plugins/Android` directory of your Unity project?

[2017-05-30 23:45] rampara commented on #428
@mmz1995 when you're building an APK through Unity's build system, are you including Google Play services dependencies in your Unity project? Can you post the contents of `Asserts/Plugins/Android` directory of your Unity project?

[2017-05-30 23:49] rampara commented on #430
@ceyhuntasci are you able to reproduce the issue on any other devices? I currently don't have a Z3 compact to test against.

[2017-05-30 23:57] rampara commented on #432
@TheMostWonderful are you also running into this issue when using the sample app included in this repo?

[2017-05-31 06:36] vorora opened #433 "Can't create an ad unit on AdMob beta"
Hello, I just started to learn how to use AdMob. I tried to create a banner ad unit for my test app. But it struck and stayed on this following page forever.
![adunit](https://cloud.githubusercontent.com/assets/15316402/26618663/4fbd3c96-4605-11e7-986b-3db88335c337.png)
Later I used a dummy ad unit and it worked fine on my Android device (banners are shown). Do anyone know why I couldn't create an

[2017-05-31 17:21] rampara commented on #433
@vorora are you using an ad blocker? If so, you may run into issues (such as being unable to create an ad unit) when using AdMob beta.

[2017-05-31 17:49] rampara commented on #415
@binarybehemoth are you able to repro this on any other device or is the issue only present on the Samsung GT-N7100?

[2017-05-31 17:53] rampara commented on #406
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-05-31 17:53] #406 closed

[2017-05-31 17:54] rampara commented on #405
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-05-31 17:54] #405 closed

[2017-05-31 17:54] rampara commented on #403
Closing as it seems to have been resolved. If this issue persists for you, please re-open it.

[2017-05-31 17:54] #403 closed

[2017-05-31 17:55] rampara commented on #399
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-05-31 17:55] #399 closed

[2017-05-31 17:55] rampara commented on #396
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-05-31 17:55] #396 closed

[2017-05-31 17:56] rampara commented on #365
Closing this issue due to non-response. If this issue persists for you, please re-open it.

[2017-05-31 17:56] #365 closed

[2017-06-01 00:21] binarybehemoth commented on #415
I am only able to repro this issue on Samsung GT-N7100 so far. I tested it on two other phones which did not show the problem.

[2017-06-01 02:48] vorora commented on #433
I disable ad blocker and it worked perfectly now. Thank you very much!

[2017-06-01 02:48] #433 closed

[2017-06-01 07:29] ani051092 commented on #431
@rampara Thanks for response but i have figured out this. Actually some .arr file were missing so i used dependencies resolver thorough play service resolver and it worked for me. Closing this issue now.

[2017-06-01 07:29] #431 closed

[2017-06-01 08:56] mmz1995 commented on #428
@rampara
 ![0d07c7a3-3203-4128-8799-9a3546500189](https://cloud.githubusercontent.com/assets/28854764/26671406/edd89582-46e7-11e7-9f82-5d16177b15fd.png)
Can you see this picture? Directory structure is like this, android folder contains a lot of dependency library, do you think this is correct? When I started running the APK on my phone, I suggest the following: "AndroidJavaException: java.lang.Cl

[2017-06-02 01:06] zhouzhanglin commented on #430
UnityPlayerActivity -> onCreate
Add `((SurfaceView)mUnityPlayer.getChildAt(0)).setZOrderOnTop(false);`

[2017-06-02 04:09] mmz1995 commented on #428
@rampara
I think I know why the package can not be advertised after APK. Android Studio has six kinds of packaging, I chose not to include advertising jar package package to the final APK kind, which led to the APK can not display ads. So I changed the way to package, select the jar package can be packaged into the APK way, but then there was an error, the error is as follows: "Error: Error conver

[2017-06-02 08:28] rchallenger opened #434 "Banner Ad goes up above navigation bar after interstitial closed"
As banner Ad created and placed at the bottom of screen it won't change its position if navigation bar will be shown. But as we show interstitial navigation bar appares and banner Ad  immediately goes up above navigation bar, this can cause unwanted content overlap. Application works in Portrait orientation. Built using Unity3D 5.3.4 and GoogleAds 3.5.0
Same trouble happens if we lock/unlock the d

[2017-06-02 18:05] rampara commented on #434
It looks like since the interstitial isn't shown in immersive mode, the banner moves up to accommodate for the nav bar before moving to its normal position when re-entering immersive mode. Given how the plugin works, the system visibility flags for the banner shouldn't be changing so I'm not sure how this is happening. I can't seem to reproduce this behavior on Pixels or Nexus devices and don't ha

[2017-06-02 18:51] rchallenger commented on #434
Actually I didn't try it, but will as soon as possible. In fact this issue
won't happen when I use GoogleAds 3.1.3.
Will write about other devices later.

Regards,
Dan Pavliuk

2 июн. 2017 г. 9:05 ПП пользователь "rampara" <notifications@github.com>
написал:

[2017-06-03 05:44] ahmadhoo opened #435 "NullReferenceException: Object reference not set to an instance of an object"
Hi

I dont know if it will will sound silly for most of you or not.
Am a 0 experience in all of this, just need to make an app to run.

I keep receiving this error
"NullReferenceException: Object reference not set to an instance of an object
ShopManager.Start () (at Assets/Game_Assets/Scripts/Game/ShopManager.cs:23)
"

1 using UnityEngine;
2 using System.Collections;
3 using UnityEngine.UI;
4
5 pu

[2017-06-04 05:57] creamjun opened #436 "Rewarded Video did't work in Unity 5.6.1"
Development Environment.
1. Unity 5.6.1f1
2. Google Mobile Ads Unity 3.5.0

Android Build & Runtime  works fine.
iOS Build Okay. but Error occurs during iOS runtime.

Admob banner ads are good.
When I load RewardedVideoAds, see the following logs:

can not find com.google.DummyAdapter, check -ObjC option

 I definitely built it with the -ObjC option.
-----------------------------------------------

[2017-06-05 12:01] douduck08 opened #437 "Banner not showing on Android device"
I used version 3.5.0 of the plugin and Unity 5.5.3f1 to build an apk.
But after installing, banner didn't show in app when I had sent request for miniutes.

In logcat, I got following message:
- app does not have the required permissions to get location

and
- No fill from ad server
- Failed to load ad: 3

Btw, also no banner was showed when I add AddTestDevice to AdRequest.
Did I miss any setting

[2017-06-05 14:48] rampara commented on #437
@douduck08 are you able to reproduce this issue with the sample app included in this repo?

[2017-06-05 14:52] rampara commented on #436
The "can not find com.google.DummyAdapter" error is indicative of a no-fill and isn't actually an error. Are you able to load ads without issue when using the rewarded video test ad unit (ca-app-pub-3940256099942544/5224354917)? That ad unit should return ads unless you have [Creative Preview](https://play.google.com/store/apps/details?id=com.google.android.apps.audition&hl=en) app already install

[2017-06-05 14:57] rampara commented on #435
There is a [sample application](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) included in this repo that demonstrates how to use this plugin to request and display ads. This issue tracker is strictly for reporting issues with this plugin or feature requests.

[2017-06-05 14:57] #435 closed

[2017-06-05 15:02] rampara commented on #434
Prior to v3.2.0, the plugin used had a different implementation for displaying banners and native express ads. If you're able to reproduce the issue on any other device it would help with getting to the bottom of what's causing it.

[2017-06-05 15:54] rampara commented on #428
@mmz1995 can you try building the plugin again from head using the build script in this repo. There was a commit made recently that should resolve the dex error you're running into.

[2017-06-05 16:00] rampara commented on #415
@binarybehemoth I currently don't have access to Samsung GT-N7100 to test against but this issue does not seem specific to this plugin as you're able to request and display non-video ads without issue. I would recommend reaching out on the [Google Mobile Ads support forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-06-05 19:03] kgooble commented on #332
Hi @rampara, is there any news on this? Is the feature available on the latest version of AdMob Unity?

[2017-06-06 04:09] eonyanov opened #438 "Unity Cloud build error"
Help!
There is any way to successfull build GoogleAds for iOS with Unity Cloud Build?
I got error:
module.modulemap:2:19: error: umbrella header 'GoogleMobileAds.h' not found

I have included "GoogleMobileAds.framework" in "Assets\Plugins\iOS\".
And I have post-process script:

[code]
I set up on unity cloud setting in "Advanced Options" section:
Post-Export Method	XcodeProjectModifer.OnPostproces

[2017-06-06 11:38] douduck08 commented on #437
I used my Ad Unit Id in the the sample HelloWorld in this repo, then it worked.

My app have joined "Designed for Families", and the plan suggested me add more information in ad request. However I can't use the setting in this plugin, maybe here is the problem?

Ref: https://support.google.com/admob/answer/6223431

[2017-06-06 18:46] cassildo opened #439 "Ads are not showing after I rename my package"
Hello. I'm running Unity 5.6.1 and the latest plugin version 3.5.0

I have my app in beta on Google Play Store named as com.boilingbubbles.colorchills

I've added the plugin to a new project for testing and it displays ads and interstitials properly. Then I added the plugin to my app, but after I change the package name and sign it, the ads just stop showing.

If I rename the package to com.boilin

[2017-06-06 20:16] Thaflutter opened #440 "Plugin 3.5.0 nullreference"
Hi.

I just updated the plugin for my unity project by deleting the plugins folder, and the googlemobileads folder.

Then i importet the new asset.

That leaves me with this error when requesting an ad (be it banner or interstitial)

NullReferenceException: Object reference not set to an instance of an object
GoogleMobileAds.Api.BannerView..ctor (System.String adUnitId, GoogleMobileAds.Api.AdSize

[2017-06-07 03:03] cassildo commented on #439
I found what was the issue after reading [this](https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/family%7Csort:relevance/google-admob-ads-sdk/ynb8QwTmnrA/ZYPB6AT0AQAJ).

It seems the problem is really derived from having the "designed for families" option enabled on the Developer Console. Once I quit the program, and after a few time for the update to take place, the ads started sho

[2017-06-07 03:04] #439 closed

[2017-06-07 05:08] eonyanov commented on #438
This seems to be a problem on the side of the Unity during the generation of the project. Because when I build a project in Xcode, I ggot the same error that disappears if remove and re-add the plug-in.

[2017-06-07 08:25] hkk007 opened #441 "Native ad not showing"
i just build and run the unity admob sample.
native ads not showing. all other ads are working
i am tested on android
why native ad is not working ?

[2017-06-07 08:46] hkk007 commented on #441
i build hello world sample

[2017-06-07 10:24] hkk007 commented on #441
i got worked. size of the add in admob same ad in game then it will work.

[2017-06-07 15:23] rampara commented on #441
@hkk007 has your issue been resolved ?

[2017-06-07 15:26] rampara commented on #438
I'm currently investigating why cloud build aren't working but last post in issue #333 has details on a workaround.

[2017-06-07 15:26] #438 closed

[2017-06-07 15:31] rampara commented on #440
Can you post a code snippet from which you're able to reproduce this error? Can't seem to reproduce it on my end.

[2017-06-07 16:02] rampara commented on #437
Our [developer docs](https://developers.google.com/admob/unity/start#ad_request_targeting) document how to add targeting information such as child-directed treatment.

[2017-06-07 16:03] rampara commented on #332
@kgooble this feature hasn't been implemented yet. Is there a particular ad format you require it for?

[2017-06-07 18:44] kgooble commented on #332
@rampara I'm not 100% sure on what you mean by ad format - but I need it for both interstitial and rewarded ads, if that's what you are asking.

[2017-06-08 09:12] Thaflutter commented on #440
Hi and thank you for your reply.

I tried a new project, with only the code snippet from the documentation:

[code]
Even this gives me the error.

Thats why i think it might be an SDK thing.

[2017-06-08 14:32] rampara commented on #440
Is the `GoogleMobileAdsClientFactory.cs` file present in your project at the `Assets/GoogleMobileAds/Platforms/` directory of your project? Does the state of that file match the latest version in the [repo](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Platforms/GoogleMobileAdsClientFactory.cs)?

[2017-06-09 14:17] hkk007 commented on #441
yeah. it working when i change the width and height of the ad in my code.

[2017-06-09 19:49] kevinfoley opened #442 "Don't use shared Plugins folder"
The Google Ads plugin for Unity stores iOS- and Android-specific files in the shared "Plugins" folder in the project root. Since other plugins, including other Google plugins, also write files into the shared "Plugins" folder, it becomes a nightmare to manage and remove any plugins that write to this folder.

All platform-specific files should be stored in a "Plugins" folder _inside_ the GoogleMob

[2017-06-10 14:58] chooy1210 opened #443 "Smart banner height problem on Galaxy s6"
I use this method for calculate smart banner height.

[code]

Other phones that i have got right height but galaxy s6 ad height is long more than calculated value.
Does anyone have the same problem?
I use unity 5.6, admob 3.5.

[2017-06-11 15:34] icyh4mmer opened #444 "Admob never deleted cached videos, "al" folder keeps inflating"
I noticed the "al" folder where the ads are cached. Do I have to delete this folder each time user exits the app manually, since they are never deleted by the plugin.

[2017-06-12 12:22] syaak opened #445 "Banner making reward video glitch screen."
FTR: I'm using Google Mobile Ads Unity 3.5.0 and Unity 5.6.1f1.

My project is set to portrait orientation, and it contains a banner ad and a reward video. I believe having the two causes the screen to glitch out.

if the reward video is of horizontal orientation it chops the screen in half and goes behind, and once the reward video has finished or it is exited the banner ad then goes behind the g

[2017-06-13 06:12] EvilKiller123 commented on #422
In Android Didnt Try On Ios

[2017-06-13 06:59] dawuwu opened #446 "Googleads 3.5 and Unity iOS Cloudbuild errors"
Hello, I imported GoogleAdmobs 3.5 into my unity 5.6.1(cloud build) project and with Android everything works fine.

But iOS is throwing several errors:

[xcode] /BUILD_PATH/dev/temp.es3Sab/Libraries/Plugins/iOS/GADUNativeCustomTemplateAd.h:3:1: error: use of '@import' when modules are disabled
  [xcode] /BUILD_PATH/dev/temp.es3Sab/Libraries/Plugins/iOS/GADUNativeCustomTemplateAd.h:4:1: error: use

[2017-06-13 18:11] rampara commented on #440
Glad you were able to get the bottom of your problem.

[2017-06-13 18:11] #440 closed

[2017-06-13 19:06] matie commented on #443
Yes, this is since a long time. It is still there. We already got issues with it from Admob because of overlapping content. This still hasn't been solved. Hopefully they will have a look at it. It is only at the S6 (we have around 50 devices, also S3, S7 don't show this issue). S8 shows a similar issue as well in portrait mode I believe.

[2017-06-13 19:35] matie opened #447 "Banner above hidden navigation bar although immersive mode (Sony Z3 tablet)"
Although the Android navigation bar is hidden, the banner will be placed as if the app is not running in immersive mode. So, the app is able to use to full screen, but the banner thinks the navigation bar is still there, so it places it over our own menu bar.

We've done an upgrade lately to 3.5.0 (Running on Unity 5.6.1f1). After this upgrade of google ads the problem occurs (landscape), but only

[2017-06-13 20:30] rampara commented on #447
Seems to be the same issue as #430. Haven't been able to get my hands on a Z3 compact or a Z3 compact tablet and unable to repro on other Sony devices. Tried a Sony Xperia E3 and that renders fine.

![image](https://user-images.githubusercontent.com/11047881/27102744-3b761a56-503b-11e7-9554-6796f9e36165.png)

Will follow up once I'm able to get one of two devices reported in this and the linked is

[2017-06-13 20:31] rampara commented on #430
Closing as duplicate of #447.

[2017-06-13 20:31] #430 closed

[2017-06-13 20:34] rampara commented on #445
@syaak are you running into this issue on iOS or on Android. Is the issue consistently reproducible across multiple devices or only on specific ones?

[2017-06-13 20:53] dawuwu commented on #446
Okay this errors got fixed by importing the ios sdk.

But now I get the error:
module.modulemap:2:19: error: umbrella header 'GoogleMobileAds.h' not found

and can't find a fix for it

[2017-06-13 21:02] rampara commented on #446
#333 has workarounds to get Cloud Build working but I'm also working on getting it working out of the box.

[2017-06-13 21:02] rampara commented on #446
Closing as duplicate of #333.

[2017-06-13 21:10] rampara commented on #444
I'm not familiar with this folder and any files the GMA SDK caches on device should be removed automatically when they are no longer needed or when the total size of cached files exceeds a certain value. Are you using mediation? Third party SDKs may also be caching files.

[2017-06-13 21:18] dawuwu commented on #446
my issue is not about cocoapods .
Its about:
module.modulemap:2:19: error: umbrella header 'GoogleMobileAds.h' not found

[2017-06-13 21:20] icyh4mmer commented on #444
Yes, I'm using mediation for 4 other providers.

[2017-06-13 22:00] rampara commented on #443
I'm having trouble reproducing this issue with an S6 Edge. I compared the value returned by @chooy1210's code snippet to an Android call to `getHeight` on the `AdView` Android banner object and values match. 200 pixels in portrait and 128 pixels in landscape. What values do you see?

[2017-06-13 22:04] rampara commented on #446
@dawuwu are you including the GMA framework at the `Assets/Plugins/iOS` directory of your Unity project?

[2017-06-13 22:12] rampara commented on #422
@EvilKiller123 By taking the ad unit from your code snippet and plugging it into the sample app in the repo, I was able to request and display rewarded video ads without issue. By any chance are you making ad requests from China?

[2017-06-13 22:14] rampara commented on #441
Glad you were able to resolve your issue.

[2017-06-13 22:14] #441 closed

[2017-06-13 22:21] dawuwu commented on #446
1. Downloaded GMA for iOS from https://developers.google.com/admob/ios/download (Version 7.20)
2. Extracted and moved GoogleMobileAds.framework folder to Assets/Plugins/iOS
3. modified AdMobDependencies.cs like https://github.com/googleads/googleads-mobile-unity/issues/333 suggested
4. implemented XcodeProjectModifer  like https://github.com/googleads/googleads-mobile-unity/issues/333 suggested

[2017-06-13 22:38] rampara commented on #444
Can you check if the files are still cached in the same location when using an ad unit that is not set up for mediation?

[2017-06-14 04:06] syaak commented on #445
@rampara The issue is occurring on Android, and is consistently reproducible on multiple devices including emulators and real devices. Just as a recap though, it only occurs when the reward ad is a **horizontal** one, vertical ones appear fine (and there must be a banner too).

[2017-06-14 07:02] dawuwu commented on #446
https://www.gamekon.com/?p=264
found this information about the issue, can someone confirm that?

[2017-06-14 07:23] mmz1995 commented on #428
@rampara    Do I need to re-import the ad plugin into the project? I looked at the latest question to submit, they did not help me. Do I need to rebuild the plugin because it conflicts with other files?

[2017-06-14 08:46] matie commented on #447
Hi, We also have a Xperia Z2 Phone. This one works like a charm. So, indeed, it somehow seems device specific. The Z3 is running Android 5.1.1 (latest firmware). The Z2 is currently running 6.0.1. There is an update available, will check that one as well.

[2017-06-14 10:09] ms25 opened #448 "Reward Ad complete or rewarded event not working."
I am trying to do some custom thing when user complete the full reward ad for that I am using
 user rewarded event but it is not working. I am using Unity 5.5.1. I tried to put debug in native event code but even that debug is not showing.

[2017-06-14 17:28] rampara commented on #448
@ms25 are you able to reproduce this issue with the sample app from this repo? Are you using mediation. If so, do you know which network the ad is from?

[2017-06-14 17:30] rampara commented on #447
@matie thanks for the additional information.

[2017-06-14 17:31] rampara commented on #428
@mmz1995 build a new plugin package from HEAD of this repo and re-import the package.

[2017-06-14 18:00] rampara commented on #445
@syaak Not sure why I'm having trouble reproducing this. These are the steps im following:
1. Request and display banner
2. Request rewarded video test ad
3. Display rewarded video

You can find a video of what I tried below.
https://drive.google.com/file/d/0B2oE3iOknPmMSzQwM1Mxb294dVU/view?usp=sharing

In the video the ad might look like its playing in portrait but it's actually in landscape. The

[2017-06-14 18:59] icyh4mmer commented on #444
I'll check it out and I'll let you know.

[2017-06-14 19:05] rampara commented on #444
Will continue investigating once you get back to me.

[2017-06-14 19:56] rampara commented on #446
@dawuwu using the steps outlined in #333, I was able to get a Unity Cloud Build working with the sample app included in this repo. You can find the project at https://github.com/rampara/unity-cloud-build-test.

[2017-06-14 19:59] rampara commented on #446
![screenshot from 2017-06-14 12 59 22](https://user-images.githubusercontent.com/11047881/27152016-5960b7f8-5101-11e7-9d5b-4eb666630629.png)

[2017-06-14 20:00] rampara commented on #333
Currently working on getting Unity Cloud Build working out of the box (without the need for these workarounds). Look for an update on this soon.

[2017-06-14 20:01] rampara commented on #442
Closing as duplicate of #411.

[2017-06-14 20:01] #442 closed

[2017-06-15 03:52] keroxp commented on #448
I got same problem above. I'm using Unity 5.6.1f1 and network which it occurred was **Unity Ads**. Not only `OnAdRewarded` but also `OnAdClosed` method hadn't been called.

When playing Ads by AdMob, Those were called correctly.

OS: iOS
Pod's Dependencies versions:
  - Google-Mobile-Ads-SDK (7.20.0)
  - GoogleMobileAdsMediationAdColony (3.1.1.0):
    - AdColony (= 3.1.1)
    - Google-Mobile-Ads-S

[2017-06-15 03:59] syaak commented on #445
have you also made sure your project is vertical only, and the reward video must a horizontal one. Would you please attach a test project so I can compare it to mine.

[2017-06-15 04:36] EvilKiller123 commented on #422
No From Pakistan

[2017-06-15 18:22] rampara commented on #445
@syaak I did have the app locked to portrait only. you can find a link to the test app I used below.

https://drive.google.com/file/d/0B2oE3iOknPmMZl93WHFPaFFEQnc/view?usp=sharing

[2017-06-15 18:46] rampara commented on #448
@keroxp as your issue doesn't seem specific to this plugin (seems like either an adapter or Unity Ads SDK issue) I would recommend you reach out on the [Google Mobile Ads support forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-06-16 03:22] mmz1995 commented on #428
@rampara  Okay, I started to do that, thank you.

[2017-06-16 16:46] dawuwu commented on #446
@rampara

could you write down all steps you did? and what OS did you use?

Today I will try a new clean project and your project with UCB

[2017-06-16 18:18] ericleich commented on #335
A fix for the open bug I was talking about earlier has just been rolled out. Feel free to try it again.

[2017-06-17 00:07] rampara commented on #428
@mmz1995 let me know if the Unity package built from HEAD resolve the build issue you were running into.

[2017-06-17 00:12] rampara commented on #446
Here are the steps I followed:

1. Download the [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) from this repo.
2. Import the GMA Unity plugin.
1. Download the GMA iOS SDK.
2. Extract and copy the framework file for the GMA iOS SDK to the `Assets/Plugins/iOS` directory of the Unity project.
1. Add the `XcodeProjectModifer` class (as outlined in #333

[2017-06-17 10:25] dawuwu commented on #446
Okay, seems like ANY contact of the admob ios sdk with windows breaks it.

Downloaded your project to a windows machine, uploaded to git -> ucb error
Downloaded your project to a macosx machine, uploaded to git -> ucb success

Is there any chance to make the admob ios sdk windows compatible?

[2017-06-19 18:37] #446 closed

[2017-06-19 18:37] dawuwu commented on #446
@rampara
sounds great and thanks for your help

[2017-06-20 04:49] tienhagioi opened #449 "Crash when showing Interstitial"
Sometimes , my game crash while showing Interstitlal .This is debug log :

`
I/WindowState(  446): WIN DEATH: Window{2207bc50 u0 com.sg.bubblepopstory/com.google.android.gms.ads.AdActivity}

I/WindowState(  446): WIN DEATH: Window{21ef1a88 u0 SurfaceView}

I/WindowManager(  446): Screenshot Window{2207bc50 u0 com.sg.bubblepopstory/com.google.android.gms.ads.AdActivity EXITING} was all black! mSurf

[2017-06-20 18:29] rampara commented on #449
@tienhagioi would you be able to provide a full log for this crash. Also, is this crash consistently reproducible for you or did you see the crash is a crash report?

[2017-06-21 02:56] mmz1995 commented on #428
@rampara  I re-imported the ad plug-in, in the Andrews project appeared in the package repeated tips. I tried to delete the possibility of the same package, after the release of APK and installation, advertising does not appear, and show the inclusion of advertising jar package lost error.The unity project in the import of advertising before the empty, repeat the package is what?
![4f279ec6-8ecd-4

[2017-06-21 11:13] phonggenix commented on #333
Not only Admob or Firebase, but some other systems also require cocoapod. My game is using DeltaDNA Analytics which also require cocoapod.

[2017-06-23 08:09] Bestlis opened #450 "Unknown type name GADUTypeNativeCustomTemplateAdClientRef"
While compiling I get error:
Unknown type name GADUTypeNativeCustomTemplateAdClientRef: did you mean GADUTypeNativeCustomTemplateAd

Also
Unknown type name GADUTypeNativeCustomTemplateAd

I use Unity 5.6.1f1 and xCode 7.3.1

What am I doing wrong?

[2017-06-23 09:07] Bestlis commented on #450
Solved!

I updated plugin but didn't delete old files.

[2017-06-23 20:46] rampara commented on #450
@Bestlis Glad you were able to resolve your issue.

[2017-06-23 20:46] #450 closed

[2017-06-24 16:44] halgurdh opened #451 "Banner in wrong position after closing"
[code]
First time opening it works and the banner shows in the bottom center of the screen.
after closing and re opening the game it reappears slightly below visible screen (Samsung s6).
I know it's below the screen, because when I press the "show all apps" button it reappears for a second and the disappears again.

How can I fix this? I want the banner to stay in initial position after reopening

[2017-06-24 23:30] gilbertoalexsantos opened #452 "Callbacks not being called"
Environment:

Unity version:            5.6.2f1
Googleads version:   3.5.0 (last version)
Device:                       Android
Project:                      My personal project and the googleads sample projects

Description:

Everything is working fine... Except the callbacks (OnAdLoaded, OnAdFailedToLoad, ...) that aren't being called.

I've tested with the SampleProject without modifying one li

[2017-06-26 20:23] rampara commented on #452
@gilbertoalexsantos are you running into this issue on Android or on iOS?

[2017-06-26 20:25] rampara commented on #451
@halgurdh are you using the plugin from this repository as is or have you forked this plugin? The code snippet you provided doesn't seem to match up with this plugin.

[2017-06-26 22:13] gilbertoalexsantos commented on #452
On Android.

[2017-06-26 23:47] rampara commented on #452
@gilbertoalexsantos when running the sample project from the repo you see no output in logcat under the `Unity` tag corresponding to ad events?

[2017-06-26 23:53] gilbertoalexsantos commented on #452
I see no output on Unity Debug.Log.

I have a plugin that has the option to visualize Unity Debug.Logs on runtime for debug purposes (SRDebugger).

I put some Debug.Log on the class InterstitialAd too (to make sure wasn't problem on my part). I put on these callbacks: this.client.OnAdLoaded, ...

I didn't try to see the logs on logcat. Do you want me to try it? I'm a bit busy right now, but I can

[2017-06-27 20:02] rampara commented on #452
I can you try a project where you're not using SRDebugger just to try isolate where the issue is coming from.

[2017-06-28 02:42] TheMostWonderful opened #453 "Admob rewarded video is restarting Game after finishes on Android."
Hi all, I have issue with rewarded video with android devices, as soon as rewarded video ends application is getting restarted, it is not happening in ios devices. Can somebody help, below is my code:

using System.Collections;
using System.Collections.Generic;
using System;
using UnityEngine;
using GoogleMobileAds;
using GoogleMobileAds.Api;

public class AdManager : MonoBehaviour {

	private Gam

[2017-06-28 10:44] TheMostWonderful commented on #432
I have fixed this issue, looks like I was getting, null reference, when I call object from event handler, thank you

[2017-06-28 10:44] #432 closed

[2017-06-28 22:08] Pacifist94 commented on #452
Man, I got the same issue, The callbacks are not working,
In my case when it triggers the  HandleOnAdRewarded method (or any other) it only works on the very first time ... after requesting a second ad, I complete viewing the ad succesfully , but no RewardEvent is trigger this time..

[2017-06-28 22:15] Pacifist94 commented on #448
Same issue here ... not using Mediation , just the adds from Admob, and the new Rewarded videos from Google....
Have the same issue though  .. OnAdRewarded and also OnAdClosed method hadn't been called.
(They just work on the first time,, the second ad you request wont trigger any method)

[2017-06-29 18:28] rampara commented on #448
@Pacifist94 I'm unable to reproduce this behavior on both iOS and Android using the sample app from this repo. Are you able to reproduce the issue witht the HelloWorld sample app?

[2017-06-29 18:29] rampara commented on #452
@Pacifist94 replied to you in #448.

[2017-06-29 18:30] rampara commented on #453
@TheMostWonderful do you see stack traces in logcat that may indicate what caused the app to restart?

[2017-06-30 06:08] timendez opened #454 "Video Ads not showing, delegates not being called"
Hi there, I've been racking my brain about this for 2 days now. I've implemented Unity ads just fine but they don't work on Amazon, so I've decided to switch over to Admob.

Doesn't matter if it's in the editor or built for Android, the ads don't show and the delegates aren't called.

[code]

Please help, I've been dying trying to figure it out.

[2017-06-30 06:31] lizistorm commented on #195
The problem is the "Headers" and "GoogleMobileAds" link lost when unzip googlemobileadssdkios.zip on windows.
Unzip on Mac will resolve the problem.
Or delete the link files and move real Version/A/Headers and GoogleMobileAds files to root path.

[2017-06-30 18:53] rampara commented on #454
@timendez are you running into the same issue when running the HelloWorld sample app from this repo?

[2017-06-30 19:10] timendez commented on #454
@rampara yes I have the same issue. I only get `Dummy LoadAd` and `Dummy IsLoaded` and `Dummy ShowRewardBasedVideoAd`. No prints that I put in the handlers fire.

I am using Unity 5.6.1f1

[2017-06-30 23:46] rampara commented on #454
Can you post the content in logcat under the `Ads` and `Unity` tags for Android when attempting to load and display an ad?

[2017-07-01 00:27] TheMostWonderful commented on #453
I never user logcat, so I am not sure about it, I am new Unity developer.

[2017-07-01 00:41] TheMostWonderful commented on #454
I think you are requesting and loading video add in same method, it takes some time to load video ads, therefore it better to call load video add in start method and show it later in the game by using other method, below I provide sample code which I am using works fine in my project.

using System.Collections;
using System.Collections.Generic;
using System;
using UnityEngine;
using GoogleMobileAd

[2017-07-01 00:44] rampara commented on #453
The [Android dev docs](https://developer.android.com/studio/debug/am-logcat.html) provide a pretty good overview of how to use logcat.

[2017-07-01 05:27] carsonvo commented on #414
Hello Edumlauer  and Rampara.
I faced this problem for these days. The position of banner was corrected in the first time. Then it was wrong.
When I set ( AdPosition.Top ), It was looked like the photo of Edumlauer.
When I set (AdPosition.Bottom), It was not in the screen.
I used Galaxy note 4 with android 6.0.1.
Have you fixed it yet?
Hope that can hear from you soon.

[2017-07-01 07:29] snoozinsquatch commented on #454
The events are not called in the dummy client if you look at the source

[2017-07-01 23:41] Pacifist94 opened #455 "Callbacks not being called after Scene RELOADS"
@rampara Thank you for your time answering these questions, Now I know what the issue is....
But i still can't figure out how to solve it....

The plug-in works fine, and its firing the call backs correctly,  I requested many ads, and all of them are calling the events without a problem :)

The ISSUE is when the scene RELOADS example("SceneManager.LoadScene(0);")
after that the plugin will still s

[2017-07-02 07:21] gayoso commented on #448
I have the same issue, using Mediation with AdMob and UnityAds. Rewarded videos from adMob work fine and do all callbacks. However, when I get a video from UnityAds only the "opening" callback is done. In logcat, I can see this log which only happens when I get a UnityAds ad:

07-02 04:16:47.347 15739 15739 I Unity   : rewarded ad opening
07-02 04:16:47.347 15739 15739 I Unity   :
07-02 04:16:47.3