[2019-07-06 16:30] Linovert commented on #953
I was able to resolve any "warnings" or "issues" with this:
1. using UnityEditor.Build.Reporting
2. public void OnPreprocessBuild(BuildReport report)

It doesn't seem that the manifest processor OnPreprocessBuild method is ever referenced/ called, neither the BuildTarget nor the path string inside the method: which can now be referenced with report.summary.platform for the target (build) platform

[2019-07-07 18:29] OdinKong opened #967 "Rythmic Audio Crackling On Android"
My audio on Android has been flawless, until I installed this plugin. Now there is a rhythmic crackling sound throughout the entire game. The only place I don't hear the sound is in the ad mob rewarded video ads. They sound fine. It almost sounds like the sampling rate is off. Is there anything in this plugin that messes with the sound or would it download any dependencies that would overwrite any

[2019-07-08 22:22] stowy commented on #967
Hi Shane, can you confirm that removing the plugin removes the sound issue?

Are you able to provide a simplified sample that replicates the issue? You
can also post on our [support forum](
https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines)
at
https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines
- they will be able to help debug your issue wit

[2019-07-08 22:27] OdinKong commented on #967
Hey sorry apparently the older build that I thought was fine was actually only fine on certain devices. I tried using an older build before the ads plugin was imported and the audio issue is still there on the problem device. Looks like there's no issue with the ad mob plugin. Sorry for the trouble.

[2019-07-08 22:27] #967 closed

[2019-07-09 05:41] Daulet777 commented on #645
same problem...

[2019-07-09 20:01] Kendja commented on #854
Since soon we all need to support ARM64(to upload updates on play store), and it requires IL2CPP - managed stripping level can't be disabled anymore.

Solution with "[assembly: Preserve]" from @harsh2327 didn't help unfortunately.

To make it work for me I needed to remove Reflections from 3 files and call methods directly:
- MobileAds.cs
- InterstitialAd.cs
- RewardBasedVideoAd.cs

Changes:
...
*

[2019-07-09 20:53] sanderson82 opened #968 "3.18.0 PodSpec for Google-Mobile-Ads-SDK limits to '~>7.42.1' whereas the change-log indicates it was tested with 7.45.0"
The change-log for 3.18.0 indicates that:

Whereas the PodSpec included with the plugin limits Google Mobile Ads iOS SDK to `'~>7.42.1'`  which will not update to `7.45.0` or `7.46.0`.

Request the PodSpec be updated to
`pod 'Google-Mobile-Ads-SDK', '~>7.45'`

So that it matches the minimum version it was tested with and greater.

[2019-07-10 08:38] Tanek81 commented on #968
Confirmed also here: https://github.com/googleads/googleads-mobile-unity/issues/961

[2019-07-10 15:55] rotter commented on #960
Im having this problem on 3 different games in production

Any deadline for this fix?

[2019-07-10 16:20] stowy commented on #960
Android version 18.1.0 was released yesterday which automatically includes
these dependencies.

I am working on an update to the plugin for this release which will go out
this week.

On Wed, Jul 10, 2019 at 8:55 AM rotter <notifications@github.com> wrote:

[2019-07-10 18:33] sanderson82 opened #970 "GADCustomEventInterstitial does not pass adNetworkExtras when used from the unity plugin with iOS"
Sending ad network extras for custom event requests works in iOS but not in iOS Unity.

In `GADURequest.m `I can see adNetworkExtras being added in

[code]

but when accessed from

[code]

the `request.additionalParameters` are nil.

[2019-07-11 02:25] a-to-z-27-815 opened #971 "I'm having trouble displaying video ads on some devices."
The image below is a picture taken of the problem with the "ASUS ROG Phone".
As shown in the image, there is a problem with the banner display during playback.
Also, I think that there is a problem in acquiring the resolution in the full screen display when the playback is completed.

These issues only occur with Landscape.
There is no problem with Portrait.

After checking with some devices, it d

[2019-07-11 08:51] prisonbrk commented on #953
I get the same error. is the problem solved? I don't know exactly what you're doing.

[2019-07-11 17:25] stowy commented on #970
So, two things, firstly, you need to ensure that you have a MediationExtras
class in C# that supplies the `IOSMediationExtraBuilderClassName`.

Secondly, you must ensure that that class exists in your iOS project /
plugin, that it implements the `GADUAdNetworkExtras` protocol, which has
one method:

[code]

If it doesn't work, you should see a log in iOS saying `Unable to create
mediation ad netwo

[2019-07-11 18:58] stowy commented on #968
Resolved with release v3.18.1

[2019-07-11 18:58] #968 closed

[2019-07-11 19:00] stowy commented on #949
Can you check this again with the latest release? is this on iOS or Android?

[2019-07-11 21:44] sanderson82 commented on #970
We've done that and the adNetworkExtras are making their way to the rewarded adapter correctly.  Our adapter uses both protocols (GADMRewardBasedVideoAdNetworkAdapter, GADCustomEventInterstitial) and the same setup for adding the extras.  Breakpointing `GADURequest.m` at `- (GADRequest *)request` I see the events being added for both rewarded and interstitial requests.  When the request get to `re

[2019-07-11 22:14] stowy commented on #971
Hi, thanks for your query.

For support debugging your apps, can we request that you make a request on our [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) at https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines - they will be able to help debug your issue with you efficiently.

Generally these issues are specifically for iss

[2019-07-11 22:16] stowy commented on #854
Hi thanks for this suggestion, can you please try release 3.18.1 (released today) which no longer has reflection included in the above locations and elsewhere.

[2019-07-11 22:18] stowy commented on #966
Hi, thanks for your query.

For support debugging your apps, can we request that you make a request on our [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) at https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines - they will be able to help debug your issue with you efficiently.

When posting to the forum, please also provide

[2019-07-11 22:19] stowy commented on #881
There has been a new android and unity release this week, 3.18.1, please try with the latest version.

[2019-07-12 12:51] Kendja commented on #854
@stowy awesome! Thanks!
I'll check and will let you know

[2019-07-15 07:49] themoeedahmed commented on #854
**Make Minify Release from Proguard or Gradle to NONE inside Publishing Settings**

After making all suggested changes.. ads were still not working infect my app gets crash after few seconds of calling MobileAds.Initialize(). I made a change in Build Settings -> Publishing Settings -> Minify -> Open dropdown menu and select None.

I am glad now my ads are displaying smoothly without being crashing

[2019-07-15 08:13] AsifNaeem1 commented on #957
I was facing same issue on Unity 2018.3
I also was using latest Firebase and Admob Plugin, After couple of hour I resolve that issue by Unchekcing the Custom Gradle Template from Player Settings> Publishing

[2019-07-16 17:54] sanderson82 commented on #970
Hi Samuel,
Did you receive the sample app I sent via email?
Were you able to reproduce the issue?  Is there anything I can do to help provide more information?
Thanks
Steve

[2019-07-17 19:50] sanderson82 commented on #970
@stowy
I think I see the issue.  The AdMob unity adapter does not fully support GADCustomEventInterstitial with GADCustomEventExtras for Unity iOS.

In Android support was added with this PR:
https://github.com/googleads/googleads-mobile-unity/pull/862/files

In iOS the GADCustomEventInterstitial uses
`
GADRequest *request = [GADRequest request];
GADCustomEventExtras *extras = [[GADCustomEventExtr

[2019-07-17 21:56] stowy commented on #970
@sanderson82 sorry for delay and thanks for this info. I think you could return a `GADCustomEventExtras` object with the relevant extras in the code that you implement for `GADUAdNetworkExtras`:

[code]

For example:

[code]

Do you think this would work for you?

[2019-07-19 17:22] ericleich commented on #921
Hi, are you still experiencing this crash? We had several similar reports of TransactionTooLargeException in May but haven't heard much about this since.

[2019-07-20 04:09] livezencorp opened #972 "com.google.android.gms.ads.AdActivity"
Unity version     : 2019.1.9f1
Google Mobile Ads Unity Plugin v3.18.1

"main" tid=1 Native
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x73a234b8 self=0xaf1ee000
  | sysTid=9958 nice=-10 cgrp=default sched=0/0 handle=0xb31c54a4
  | state=S schedstat=( 342899649811 79150941099 574599 ) utm=17647 stm=16642 core=6 HZ=100
  | stack=0xbe253000-0xbe255000 stackSize=8MB
  |

[2019-07-20 04:21] livezencorp opened #973 "Broadcast of Intent { act=android.intent.action.SCREEN_OFF flg=0x50200010 (has extras) }"
Unity version : 2019.1.9f1
Google Mobile Ads Unity Plugin v3.18.1

"main" tid=1 Blocked
"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x74d5ee00 self=0x7e10ac4a00
  | sysTid=9762 nice=0 cgrp=default sched=0/0 handle=0x7e162df9c8
  | state=S schedstat=( 13987713472 3090126685 21001 ) utm=665 stm=733 core=4 HZ=100
  | stack=0x7fe109f000-0x7fe10a1000 stackSize=8MB
  | he

[2019-07-20 20:31] assafcohen1 commented on #729
Hi, confirmed, it does not happen with the latest version.

[2019-07-20 20:31] #729 closed

[2019-07-21 01:30] livezencorp commented on #947
I am using v3.18.1. It has not been modified.

java.lang.Error: FATAL EXCEPTION [FinalizerWatchdogDaemon]
Unity version     : 2019.1.9f1
Device model      : KYOCERA KYV35
Device fingerprint: KDDI/KYV35_jp_kdi/KYV35:6.0.1/207.0.2d00/207.0.2d00:user/release-keys
Caused by
  at com.google.android.gms.ads.internal.webview.j.k (com.google.android.gms.policy_ads_fdr_dynamite@20300003@20300003.251657827.

[2019-07-22 00:33] #971 closed

[2019-07-22 13:21] Mirkobil commented on #347
Hi I'm struggling with this issue for more then 5 day here is screenshot http://prntscr.com/oifvz5

![Screenshot](https://image.prntscr.com/image/gEUGFXXHTdatnt9FwfLfMw.png)

this is happen when i enable Minify Proguard http://prntscr.com/oifzsp
![Screenshot](https://image.prntscr.com/image/5gCPctN3RZGXg8HG0yPdjw.png)

I have tried with/without User Proguard File
when i set Proguard to none, i get

[2019-07-22 17:49] lucianbaciu opened #974 "java.lang.Error: FATAL EXCEPTION Caused by com.unity3d.player.UnityPlayer.nativeRestartActivityIndicator"
Unity 2019.1.11 (same for 2019.1.10)
Google Ads SDK: 3.18.1 (same for 3.17)

My app is seeing a lot of these crashes:

`java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2019.1.11f1
Device model      : SPA Condor Electronics Plume P8 Pro
Device fingerprint: Condor/Plume_P8_Pro/Plume_P8_Pro:7.0/NRD90M/1506402354:user/release-keys
Caused by
  at com.unity3d.player.UnityPlayer.nativeRestart

[2019-07-22 22:35] stowy commented on #974
Did you try the suggestion of the latest reply to that thread?

Quote:
Was having the same problem fixed it by the following:

PlayerSettings > Configuration > Scripting Backend: IL2CPP
PlayerSettings > Configuration > Target Architecture : ARMv7 (unchecked)
ARM64 (checked)

On Mon, Jul 22, 2019 at 10:49 AM lucianbaciu <notifications@github.com>
wrote:

[2019-07-22 22:42] stowy commented on #347
[This video](https://youtu.be/va0FQNlBUX0) helps with configuring proguard.

It looks like you're missing a jar file from the unity plugin. Can you try re-importing the Google Mobile Ads unity package?

[2019-07-22 23:05] stowy commented on #947
This is a known issue and a fix will be available and deployed in the
coming weeks.

On Sat, Jul 20, 2019 at 6:31 PM livezencorp <notifications@github.com>
wrote:

[2019-07-22 23:07] stowy commented on #973
Please provide information on how to reproduce this issue and the devices it has occurred on.

[2019-07-22 23:07] #973 closed

[2019-07-22 23:08] #972 closed

[2019-07-22 23:09] stowy commented on #972
Please provide information on how to reproduce this issue and the devices
it has occurred on, as well as Android version.

On Fri, Jul 19, 2019 at 9:09 PM livezencorp <notifications@github.com>
wrote:

[2019-07-23 07:25] lucianbaciu commented on #974
ARMv7 is the most common Android device architecture! That means I will no longer support most of my users!

[2019-07-23 08:01] ChaserKnight commented on #947
Weeks is a long time, can you please release the fix early? We are having so many crashes related to this issue. And you know, Google Play drops the ranking within 4 or 5 days if crash rate increases, our top app download rate just dropped because of this crash. The problem is we can not do anything about a crash in the AdMob SDK. Please fix this quickly.

[2019-07-23 18:04] Mirkobil commented on #347
Thank u for your feedback
I could find unity plugin library
![Screenshot](https://image.prntscr.com/image/qHeioh_WRoSB0RHQiQfWVQ.png)
but I'll re-import google ads anyway and did everything just like on video even custom glade template

but no luck.. same error

[2019-07-23 22:14] stowy commented on #347
Can you share a sample app on our [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines)? If you want you could examine the jar to ensure the class is in there. Also check that it is included in the final APK.

[2019-07-23 22:19] stowy commented on #974
Ah you're right there. But have you been able to verify that it is actually caused by the ads plugin?

[2019-07-24 00:11] u3556571 opened #975 "Unity app crashes immediately after launch (Firebase Database + Admob)"
I was building my game using **FirebaseDatabase** and **Admob** together. Everything was fine when I run it in **Unity**. But when I build and run it on my mobile, the app just crashed immediately after launch, even before the Unity logo is shown. I know there is a lot of similar problems between Firebase and Admob. I tried many of the solutions but it seems that they don't fit my case as the app

[2019-07-24 06:44] qq464418017 opened #976 "RewardedAd OnAdOpening 、OnAdClosed and OnUserEarnedReward calllbacks are not called"
// Called when an ad request has successfully loaded.
	    this.rewardedAd.OnAdLoaded += HandleRewardedAdLoaded;
	    // Called when an ad request failed to load.
	    this.rewardedAd.OnAdFailedToLoad += HandleRewardedAdFailedToLoad;
	    // Called when an ad is shown.
	    this.rewardedAd.OnAdOpening += HandleRewardedAdOpening;
	    // Called when an ad request failed to show.
	    this.rewardedA

[2019-07-24 11:54] MuhammadWaqasOfficial opened #977 "Urgent : Game Start Crashing From Second Time And So On"
Game works okay for the first time. All ads works.
Then start crashing from second time and keep crashing.
Note:
- Game opens successfully then crashes right before showing banner.
- Not crash when internet is off.
This same issue happening with other developer from my circle.
Unity: 2019.1.2f1
Admob : 3.18.1
Admob Mediation : Using
Target Architecture : Armv7 & 64

[2019-07-24 16:36] sanderson82 commented on #970
@stowy
Thank you for the workaround.  I was able to get this to work using your suggestion.

[2019-07-24 16:36] #970 closed

[2019-07-24 16:50] AsifNaeem1 commented on #975
I am facing same problem on some devices. App crash on launch. Using Unity 2018.3 and firebase analytics 6.2

[2019-07-24 17:17] wenderRondonia commented on #959
thanks @stowy  removing all dlls from Plugins/Android folder solved it.

[2019-07-24 22:15] stowy commented on #975
Thanks for the feedback.

Please provide the crash log for us to begin investigating.

[2019-07-24 22:16] stowy commented on #970
Excellent! No problem.

On Wed, Jul 24, 2019 at 9:36 AM Steven Anderson <notifications@github.com>
wrote:

[2019-07-24 22:27] stowy commented on #977
Thanks for the feedback, please provide crash logs, device type, and
Android version where you're seeing the crashes.

On Wed, Jul 24, 2019 at 4:54 AM MuhammadWaqasOfficial <
notifications@github.com> wrote:

[2019-07-24 22:31] stowy commented on #976
Please can you confirm which device, platform, platform version and plugin
version you are using? And are you using mediation?

On Tue, Jul 23, 2019 at 11:44 PM qq464418017 <notifications@github.com>
wrote:

[2019-07-25 10:02] AsifNaeem1 commented on #975
@stowy  I am attaching crash log, But I have no idea what is this explaining

07-25 14:51:42.437: E/HSM_BG(1554): NormalTrafficAnalysis:alert byte = 0, so return
07-25 14:51:42.441: E/AndroidRuntime(28879): FATAL EXCEPTION: main
07-25 14:51:42.441: E/AndroidRuntime(28879): Process: com.sl.impossibletrack.monstertruckstunts.rampstuntracing.stuntdriving, PID: 28879
07-25 14:51:42.441: E/AndroidRunti

[2019-07-25 16:40] Spud6703 opened #978 "AppLovin Mediation Adaptor Build Errors"
I'm using Unity 2019.1.11f and I've added the latest Google Mobile Ads SDK v3.18.1 and the latest AppLovin SDK v6.1.1 with PlayServicesResolver v1.2.122.0. Everything builds fine and I can see Google Ads on my Android device. However, when I import the latest AppLovin Mediation Adaptor 4.2.0 and try to build, I get a ton of errors that mean nothing to me. Anyone got any ideas?

Errors start off wi

[2019-07-25 21:56] stowy commented on #960
3.18.1 includes fix for this.

[2019-07-25 21:56] #960 closed

[2019-07-25 22:50] stowy commented on #975
You appear to have libraries referring to android support libraries.

You need to ensure that all dependencies are jetified so that they all
refer to androidx support libraries.

This is done using the play services resolve android settings menu (see
attached screenshot). Go to 'Assets' -> 'Play Services Resolver' ->
'Android Resolver' -> 'Settings' and select 'Use Jetifier'.

On Thu, Jul 25, 2019

[2019-07-26 01:05] Spud6703 commented on #978
Okay, I've fixed my own problem. I was importing the AppLovin SDK package AND the AppLovin mediation package and it appears that I only need to import the mediation package. However this means that it's not using the latest AppLovin SDK. Is it safe to change this line in the dependencies:

<androidPackage spec="com.applovin:applovin-sdk:9.4.2"> to <androidPackage spec="com.applovin:applovin-sdk:9.

[2019-07-26 01:05] #978 closed

[2019-07-26 03:36] livezencorp commented on #973
fortunave3g, Android 5.0
addison, Android 8.0
albus, Android 8.0
G8341, Android 8.0

[2019-07-26 07:24] MuhammadWaqasOfficial commented on #977
Crash logs : Don't know how to see.
Device : Samsung Galaxy s6 edge
Version : 1.0

[2019-07-26 11:16] MuhammadWaqasOfficial opened #979 "com.unity3d.ads.unity-ads-3.1.0 Conflicts With UnityAds.aar"
Build is failing at the end of build. (See screenshots)
com.unity3d.ads.unity-ads-3.1.0 Conflicts With UnityAds.aar.
Build successful after deleting one of these files.
Is it safe to "com.unity3d.ads.unity-ads-3.1.0"?
Effects on ads if i delete this file?
![Error Screen 1](https://user-images.githubusercontent.com/32755091/61948075-54097b80-afc0-11e9-9b5a-244ab2348b29.png)
![Error Screen 2](https:

[2019-07-26 21:06] stowy commented on #979
Yes it appears that there are two aars which both are the UnityAds SDK. Which one comes from which source?

[2019-07-26 21:08] stowy commented on #977
Sorry there is not enough information here for us to triage. Please re-open if you can at least provide a stack trace of the crash from your device logs.

[2019-07-26 21:08] #977 closed

[2019-07-26 21:10] #966 closed

[2019-07-26 21:12] stowy commented on #973
This is a duplicate of #947 - the fix is pending release by the Android SDK team.

[2019-07-26 22:09] MuhammadWaqasOfficial commented on #979
Com.unity3d.ads.unity-ads-3.1.0 is from admob package and unityads.aar from unity monotization package

[2019-07-27 05:37] #974 closed

[2019-07-27 19:06] yasirkula commented on #693
@rampara Is the Consent SDK for Unity still in the to-do list?

[2019-07-28 19:59] Antik22 commented on #821
F*ck, I lost around 3-4 hours with this issue until I finally understood that it's not main thread and that's reason why it crashes.

[2019-07-29 07:18] Catch-dvp opened #980 "#Unsupported (warnings) at Developer Console After Using AdMob SDK v3.18.1 and If i use AdMob SDK v3.15.1 then this warnings removed successfully"
![9a99ac3b-e6be-4830-a2b0-a28beb84c657](https://user-images.githubusercontent.com/20943024/62028703-bd8eb300-b195-11e9-963c-720694c88906.jpg)

[2019-07-29 07:18] MuhammadWaqasOfficial commented on #979
any update?

[2019-07-29 23:54] stowy commented on #979
There is certainly a conflict. I assume you used this guide -
https://developers.google.com/admob/unity/mediation/unity#step_3_import_the_unity_sdk_and_adapter
?

Can you link to the setup guide you followed for Unity Ads monetization?
Also, what version of Unity are you using?

On Mon, Jul 29, 2019 at 12:18 AM MuhammadWaqasOfficial <
notifications@github.com> wrote:

[2019-07-30 05:27] zhouzhuli commented on #980
I also have the same problem. I still don't know how to solve it. Have you solved it?

[2019-07-30 10:10] acsudeep opened #981 "I get error on 33% session in playstore, i am using admob plugin in Unity 2018.4.3f1"
The full error code is this:

13 minutes ago on app version 8
ugg, Android 7.1
Report 1

java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2018.4.3f1
Device model      : Xiaomi Redmi Y1
Device fingerprint: xiaomi/ugg/ugg:7.1.2/N2G47H/V8.5.1.0.NDKMIED:user/release-keys
Caused by
  at android.app.ActivityThread.handleReceiver (ActivityThread.java:3064)
  at android.app.ActivityThread.-wrap

[2019-07-30 14:34] AssetKid opened #982 "MissingMethodException: UnityEditor.VersionControl.Task when trying to resolve libraries"
Hello,

I keep getting a `MissingMethodException: UnityEditor.VersionControl.Task` error when I try to resolve libraries, click `ok` on the Android Resolver Settings window and during build.

[code]

I only have the Admob plugin installed.

[2019-07-31 07:06] phuc149 opened #983 "Game not smooth when showing animated banner"
My demo project demonstrates a simple dragging function.  Without banner or image banner, dragging looks very smooth.
Then I load an animated banner and the motion doesn't look smooth anymore.
The FPS doesn't drop, it stays 59-60 fps during the test.

Tested in: Unity 2018.2.11f1, Google Mobile Ads Unity Plugin 3.18.2

Here is my recording videos:
- Smooth: https://drive.google.com/open?id=1CSXoj

[2019-07-31 15:09] UragayalaDeepika commented on #980
@Catch-dvp @zhouzhuli Can you provide us steps to reproduce this issue? Plus, can you confirm the Mobile Ads SDK version you are using and the target SDK for your Android project?

[2019-07-31 15:13] UragayalaDeepika commented on #948
@dayjur Can you please share your Ad unit id and sample project for us to take a look? Also, can you check again with our [sample script](https://github.com/googleads/googleads-mobile-unity/tree/master/samples) with the latest version of plugin and let us know?

[2019-07-31 15:21] UragayalaDeepika commented on #749
Closing this for now. Feel free to comment here so that we can reinvestigate this issue if it is still reproducible with the latest version.

[2019-07-31 15:21] #749 closed

[2019-07-31 15:22] UragayalaDeepika commented on #751
Closing this for now. Feel free to comment here so that we can reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:22] #751 closed

[2019-07-31 15:23] UragayalaDeepika commented on #794
Closing this for now. Feel free to comment here so that we can reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:23] #794 closed

[2019-07-31 15:23] #814 closed

[2019-07-31 15:25] UragayalaDeepika commented on #831
Closing this for now. Feel free to comment here so that we can reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:25] #831 closed

[2019-07-31 15:32] UragayalaDeepika commented on #833
@rchallenger Closing this for now. Feel free to comment here so that we can reopen this issue for you and we will take a look.

[2019-07-31 15:32] #833 closed

[2019-07-31 15:37] UragayalaDeepika commented on #834
@lifedrops Closing this for now. Feel free to comment here so that we can reopen this issue for you and we will take a look.

[2019-07-31 15:37] #834 closed

[2019-07-31 15:40] UragayalaDeepika commented on #835
#792

[2019-07-31 15:40] #835 closed

[2019-07-31 15:42] UragayalaDeepika commented on #838
Closing this for now. Feel free to comment here so that we can reopen and investigate this issue if it is still reproducible with the latest version of the plugin. 

[2019-07-31 15:42] #838 closed

[2019-07-31 15:43] UragayalaDeepika commented on #839
@sorinpatent Closing this for now. Feel free to comment here so that we reopen and reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:43] #839 closed

[2019-07-31 15:46] UragayalaDeepika commented on #840
@rchallenger Are you still seeing this issue? Can you please check with our latest version and let us know? Closing this for now. Feel free to comment here so that we can reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:46] #840 closed

[2019-07-31 15:47] UragayalaDeepika commented on #841
@UnityKR Closing this for now. Feel free to comment here so that we can reopen and reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:47] #841 closed

[2019-07-31 15:48] UragayalaDeepika commented on #845
Closing this for now. Feel free to comment here so that we can reopen and reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:48] #845 closed

[2019-07-31 15:49] UragayalaDeepika commented on #846
Closing this for now. Feel free to comment here so that we can reopen and reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:49] #846 closed

[2019-07-31 15:51] UragayalaDeepika commented on #847
Closing this for now. Feel free to comment here so that we can reopen and reinvestigate this issue if it is still reproducible with the latest version. 

[2019-07-31 15:51] #847 closed

[2019-07-31 15:52] #848 closed

[2019-07-31 15:54] dayjur commented on #948
Hi there,
Whilst testing I could not get the Unity Test ADS to show Instersitial and rewarded on IOS, fine on Android, however I released anyway and it appears ADS are appearing Interstitial and rewarded IOS as Unity reports show they are, so appears live ads are working

From: Deepika Uragayala <notifications@github.com>
Sent: Wednesday, July 31, 2019 11:14 AM
To: googleads/googleads-mobile-unity

[2019-07-31 15:56] UragayalaDeepika commented on #948
@dayjur Thanks for providing an update.

[2019-07-31 15:56] #948 closed

[2019-07-31 15:58] UragayalaDeepika commented on #983
@phuc149 I can barely notice any difference between both of the videos. However, can you run a Timer Profile via Instruments and see if there are any methods being called that might be causing this lag that you notice? This might help us in debugging this further. Also, can you send us a sample script of this issue as well for us to look into this?

[2019-07-31 16:02] UragayalaDeepika commented on #851
Closing this for now. Feel free to comment here so that we can reopen and investigate this issue if it is still reproducible with the latest version. 

[2019-07-31 16:02] #851 closed

[2019-07-31 16:04] UragayalaDeepika commented on #849
@E-Reg I'm not sure I follow you. So you want to make sure to remove the ads if its backgrounded? can you elaborate? It sounds like an unity/iOS specific issue and not our plugin issue.

[2019-07-31 16:08] UragayalaDeepika commented on #852
@gayanW Have you tested this on a real device? Can you please test it on a real device and see if you are able to load ads?

 Closing this for now. Feel free to comment here so that we can reopen the issue and investigate this issue if it is still reproducible.

[2019-07-31 16:08] #852 closed

[2019-07-31 16:11] UragayalaDeepika commented on #853
@BEAKPICK Please feel free to leave a comment here if you still have this issue. We will take a look into it.

[2019-07-31 16:11] #853 closed

[2019-07-31 16:12] #849 closed

[2019-07-31 16:14] UragayalaDeepika commented on #854
Closing this issue. Feel free to comment here so that we can reopen this issue for you if anyone still have this issue so that we will take a look.

[2019-07-31 16:14] #854 closed

[2019-07-31 16:15] E-Reg commented on #849
This only refers to using the unity development build option for Android.

[2019-07-31 16:22] UragayalaDeepika commented on #850
@guusw This is WAI at this point. If the Reward Video is being shown, then the SDK allows you to preload another ad while this is being presented. You make a Reward Video request > Ad is loaded > Show it to the user > The is_loaded is set to false > You can fetch another ad as soon as you show the current ad to the user > Continue the flow.

Let us know if you need anything else.

[2019-07-31 16:26] UragayalaDeepika commented on #849
@E-Reg This doesn't seem like an issue with the Plugin or our SDKs. This issue tracker is for the issues related to our Google Mobile Ads Unity plugin. Please post your Unity concerns on Unity [support forum](https://forum.unity.com/?_ga=2.215190164.2063929437.1564590361-1792095737.1543936422).

[2019-07-31 17:05] phuc149 commented on #983
Hi there,

May be you should play 2 videos side by side to see the difference.
My device is Samsung Galaxy S8 (SM-G950FD), Android 9.
Here is my demo project: https://drive.google.com/open?id=1jqDgcUEK_Hxx6pcK3WZQ-VNe6slcAHLi
Please replace with your app id and banner id in the GoogleMobileAdsDemoScript.cs file. You should try real ads to see the problem.

Thank you.

[2019-07-31 17:25] UragayalaDeepika commented on #855
Closing this for now. Feel free to comment here so that we can reopen and investigate this issue if it is still reproducible with the latest version. 

[2019-07-31 17:25] #855 closed

[2019-07-31 17:39] UragayalaDeepika commented on #858
@fdoumhan Hi  this is not a plugin issue and you can report all the SDK crashes on [Google Mobile Ads SDK forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk). That said, please update to the latest version of the SDK and see if you are still seeing this crash and feel free to report the issue on the Forum.

[2019-07-31 17:39] #858 closed

[2019-07-31 17:42] UragayalaDeepika commented on #860
For mediation/SDK related issues, please use Google Mobile Ads SDK Technical Forum and our team will be able to assist you on these issues.

[2019-07-31 17:42] #860 closed

[2019-07-31 17:58] jeffalee opened #984 "Initialize callback issue"
I followed the [Getting Started](https://developers.google.com/admob/unity/start) guide, where they give the following example for initializing the SDK.

`MobileAds.Initialize(initStatus => { });`

They also state the following:

I am using mediation so I decided to request my first ad inside the callback like this:

`MobileAds.Initialize(initStatus => { RequestAd(); });`

But nothing happens. Is

[2019-07-31 20:35] #850 closed

[2019-07-31 20:37] UragayalaDeepika commented on #861
Closing this for now. Feel free to comment here so that we can reopen and investigate this issue if it is still reproducible with the latest version. 

[2019-07-31 20:37] #861 closed

[2019-08-01 00:37] UragayalaDeepika commented on #867
@rlee1990 Do you still have this issue? If yes, can you please share the complete device logs and code snippets of your implementation and can you try with our [sample apps](https://github.com/googleads/googleads-mobile-unity) and see if you are able to reproduce the issue?

I'm closing this for now and please comment here so that we can reopen the issue for you and we will debug further.

[2019-08-01 00:37] #867 closed

[2019-08-01 00:45] UragayalaDeepika commented on #872
@ctykaya Can you please share a minified sample app or code snippets of your implementation if you are able to reproduce the issue with the latest version of the SDK and plugin?

Closing this for now. Please comment here if you still have this issue so that we can debug further.

[2019-08-01 00:45] #872 closed

[2019-08-01 00:47] UragayalaDeepika commented on #873
@rotter Are you still seeing these crashes? And, are you able to reproduce the issue locally?

[2019-08-01 00:47] #873 closed

[2019-08-01 00:48] UragayalaDeepika commented on #873
Closed this for now. Feel free to comment so that we can reopen the issue and we will debug further.

[2019-08-01 00:51] UragayalaDeepika commented on #874
@guplem Closing this for now. Feel free to comment here so that we can reopen and  investigate this issue if it is still reproducible with the latest version. 

[2019-08-01 00:51] #874 closed

[2019-08-01 00:56] UragayalaDeepika commented on #875
@cwysms Can you please confirm whether you are still having this issue?

We are closing this for now. Feel free to comment here so that we can reopen and investigate this issue if it is still reproducible with the latest version. 

[2019-08-01 00:56] #875 closed

[2019-08-01 00:59] UragayalaDeepika commented on #876
@rchallenger Can you please confirm that you are still seeing this issue with the latest version?

[2019-08-01 04:11] zhouzhuli commented on #980
@UragayalaDeepika The Mobile Ads SDK is 3.18.1 now, but I have the issue after the version 3.15.1, and the target SDK is 28, mini SDK is 16

[2019-08-01 13:58] iseeall opened #985 "Play Services Resolver doesn't work in Unity 2019.2.0"
Play Services Resolver for Android fails to run in Unity 2019.2.0 with the following error:

[code]

Here is a screenshot with Android settings in Unity 2019.2.0.

![UnityAndroidSettings](https://user-images.githubusercontent.com/8617651/62299248-e30d0c80-b474-11e9-86e2-b85e23518608.png)

Using Android SDK and NDK coming with the Unity installation from UnityHub 2.0.4

![UnityPrefs](https://user-i

[2019-08-01 16:50] ivk1800 opened #986 "A WebView method was called on thread 'FinalizerDaemon'."
unity version: 2019.1.8f
plugin version: 3.18.0
ads version: com.google.android.gms:play-services-ads:17.2.1
JarResolver: v1.2.119
reproduced on pixel 2 android 9 and poco f1

rewarded video not corrected work with test unitid `ca-app-pub-3940256099942544/5224354917`

AdsActivity not auto closed, if close manual,
`OnAdRewarded` and `OnAdClosed `called together

first `OnAdRewarded  `then `OnAdClos

[2019-08-01 18:58] Izzyjm commented on #654
I got this after Installing GoogleMobileAdsMediationUnity (3.1.0.0)

![Screen Shot 2019-08-01 at 1 56 37 PM](https://user-images.githubusercontent.com/24462583/62319771-5c503380-b464-11e9-8e56-21902d53c21c.png)

[2019-08-02 11:42] kadirkoca opened #987 "java nullpointerexception com.google.android.gms.ads.AdSize.equals(java.lang.Object)"
Unity 2019.2.0f1
Admob Plugin V3.18.2
Ad Resolver 1.2.124

i tried every way but i cannot find solution.

always same error
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.google.android.gms.ads.AdSize.equals(java.lang.Object)

[2019-08-02 12:53] yasirkula commented on #985
Probably related to https://github.com/googlesamples/unity-jar-resolver/issues/262. I'm waiting for them to update the Unity Jar Resolver to `1.2.124`.

[2019-08-02 14:09] Thomasparsley opened #988 "Unity 2019 crash after unity logo"
Hi :)
Right now i implementing Google AdMobs into my first unity game.

**I using:**
Unity 2019
Google AdMobs Plugin - 3.18.2
Google Play Services Plugin - 0.9.64
Lightweight render pipeline

In loading my game a have this code about initialization AdMobs
[code]

**My Google AdMobs c# file**
[code]

[2019-08-02 17:40] stowy commented on #982
Please update the jar resolver plugin in the Assets menu to https://github.com/googlesamples/unity-jar-resolver/releases/tag/v1.2.124 and this issue will be resolved.

<img width="750" alt="Screen Shot 2019-08-02 at 10 39 19 AM" src="https://user-images.githubusercontent.com/5924628/62388357-f4582680-b511-11e9-83a5-f403e6d9cf25.png">

[2019-08-02 17:40] #982 closed

[2019-08-02 17:41] stowy commented on #985
Please update the jar resolver plugin in the Assets menu to https://github.com/googlesamples/unity-jar-resolver/releases/tag/v1.2.124 and this issue will be resolved.

<img width="750" alt="Screen Shot 2019-08-02 at 10 39 19 AM" src="https://user-images.githubusercontent.com/5924628/62388357-f4582680-b511-11e9-83a5-f403e6d9cf25.png">

[2019-08-02 17:41] #985 closed

[2019-08-02 19:28] iseeall opened #989 "No ads, no logs (Unity 2019.2.0, AdMob 3.18.2, Resolver 1.2.124)"
After fixing this issue https://github.com/googleads/googleads-mobile-unity/issues/985 by importing 1.2.124 resolver from https://github.com/googlesamples/unity-jar-resolver/raw/v1.2.124/play-services-resolver-1.2.124.0.unitypackage (Resolver->Update does nothing btw and just keeps 1.2.123), the game builds but doesn't show any ads in runtime.

LogCat also has no messages. The only 2 I see are:
[c

[2019-08-02 19:37] stowy commented on #989
If you change scripting backend to Mono does that change things?

On Fri, Aug 2, 2019 at 12:28 PM iseeall <notifications@github.com> wrote:

[2019-08-02 19:49] iseeall commented on #989
Nope, switching to Mono doesn't change it.

Actually I understand that one can't use Mono as scripting backend now because then ARM64 build can't be checked, and the ARM7 build causes a spike of crashes on about 4% of devices (error libmonobdwgc-2.mono_log_write_logcat)

![Crashes](https://user-images.githubusercontent.com/8617651/62394799-8ee65300-b56e-11e9-8e9b-117650ea074f.png)

[2019-08-02 20:36] stowy commented on #989
Are you using the AdMob test ad units or your own ad units? Perhaps create
an issue on our forum at
https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines
- they will be able to help debug your issue with you efficiently.

On Fri, Aug 2, 2019 at 12:49 PM iseeall <notifications@github.com> wrote:

[2019-08-02 22:42] stowy commented on #988
Can you be more specific about which Unity version you are using? Is it 2019.3.xxx?

[2019-08-02 22:42] stowy commented on #988
This is a duplicate of https://github.com/googleads/googleads-mobile-unity/issues/987

[2019-08-02 22:42] #988 closed

[2019-08-02 22:43] #975 closed

[2019-08-02 23:15] stowy commented on #979
I suggest contacting Unity Ads regarding this. This isn't really a use case
we support - you are using two different versions of Unity Ads. I would
suggest you either use Unity Ads monetization, or you mediate to Unity Ads
using Google AdMob. Trying to do both results in the conflicts you are
seeing. But please contact Unity Ads as they're familiar with how their SDK
works and can advise if this c

[2019-08-02 23:24] stowy commented on #984
Is this iOS or Android? Can you please confirm what versions you are using?

On Wed, Jul 31, 2019 at 10:58 AM jeffalee <notifications@github.com> wrote:

[2019-08-02 23:29] evanlancaster commented on #984
Doesn't work for me either. plugin inits as expected but no callback received on android device. Haven't tested on iOS device yet. Unity 2018.3.13 and mobile ads 3.18.2.

[2019-08-03 02:53] leoHN commented on #989
I'm getting same issue. Ads are failing to load. iOS too.

[2019-08-04 18:39] Chelovek-Pauk opened #990 "Google Mobile Ads Unity Plugin v3.18.2 Uncaught exception on IOS"
After updating to new Google Mobile Ads Unity Plugin v3.18.2 cannot launch app on TestFlight on IOS because of error:

Uncaught exception: GADInvalidInitializationException: The Google Mobile Ads SDK was initialized without an application ID. Google AdMob publishers, follow instructions here: https://googlemobileadssdk.page.link/admob-ios-update-plist to set GADApplicationIdentifier with a valid A

[2019-08-04 22:39] Chelovek-Pauk commented on #990
As it turned out the Google Mobile Ads settings reset and I needed to do the steps described here:
https://developers.google.com/admob/unity/start
(under 'Set your AdMob app ID')

[2019-08-04 22:39] #990 closed

[2019-08-04 22:48] Chelovek-Pauk opened #991 "Google Mobile Ads Unity Plugin v3.18.2 first Interstitial ad fails to show"
Hello!

For quite a while I am experiencing an issue when **first time after launching the app** the Interstitial ad on any placement shows one frame, then no image, but sound remains. The problem is that no OnAdClosed handler is called in this situation and there are problems on IOS when You should destroy the interstitial ad instance when ad closes to load a new one.

The sound from failed first

[2019-08-04 22:53] Chelovek-Pauk commented on #991
platform: IOS
device: iPad mini 2

[2019-08-05 01:16] scorp2007 opened #992 "advertising is shown only 1 time after installing the application"
Advertising is displayed only on the first launch of the application, if I close it and open it again, all advertising in the game will show an error "no fill" until I delete the application, after I delete the application and install the new version I can watch advertisements again in the first launch of the application, but after restart again, "no fill" error.

Unity 2019.1.7f1
Android
Google M

[2019-08-05 02:29] scorp2007 commented on #984
same

Unity 2019.1.7f1
Android
Google Mobile Ads Unity Plugin v3.18.2
Resolver 1.2.124

[2019-08-05 21:41] UragayalaDeepika commented on #880
@cgerard78 You can test with this [sample app](https://drive.google.com/drive/folders/1GL7SakPsPGMEM4WeUuaiippGuH3T3zID?usp=sharing) and let us know if you need anything else.

[2019-08-05 21:45] UragayalaDeepika commented on #992
@scorp2007 Have you tested your Ad unit Ids with our sample apps? Can you test with our samples and see what is the error that is being thrown?

[2019-08-05 23:33] stowy commented on #984
This works for me in testing (unity version 2019.1.11f1). Two things to make sure of:

1 - That jar resolver successfully resolves the play-services ads dependency.
2 - That you have followed the [getting started guide](https://developers.google.com/admob/unity/start#set_your_admob_app_id) and correctly configured the AdMob App ID for Android. Test this one to check a valid App ID works - `ca-app-

[2019-08-06 09:37] jeffalee commented on #984
For me the real issue was #982, initialization was failing. Updating the jar resolver to the latest version fixed this issue. But if I'm correct, the callback isn't called in the editor (v3.18.2), which made me think that was the issue.

Apologies for the confusion.

[2019-08-06 18:42] Mokalipilou commented on #987
Hi,
Same problem, additional infos:
I have this since updating from Unity 2018.3.8f1 to Unity 2019.2.0.f1 , without change to AdMob related code and without plugins update  (GMA was then 1.17.0)
(i updated to solve [this Google Console warnings](https://forum.unity.com/threads/google-play-api-warnings-started-today.676654/), not Admob related)

I since updated GoogleMobileAds and PlayServiveResolv

[2019-08-06 18:45] stowy commented on #987
I recommend using Unity version 2019.1.11f1 until we determine the cause of
this. We believe it could be a Unity issue, as the Smart banner reference
is null even when proguard is off.

Regards

Sam

On Tue, Aug 6, 2019 at 11:42 AM Mokalipilou <notifications@github.com>
wrote:

[2019-08-07 20:50] ecv80 commented on #985
@stowy I do that but it's still stuck at 1.2.123. Isn't Version Handler->Update supposed to download the latest version for me? Is 1.2.124 actually already upstream?

[2019-08-07 21:15] adibacco commented on #987
Same thing here.
Unity 2019.2.0f1
Admob Plugin V3.18.2
Ad Resolver 1.2.124

[2019-08-07 21:25] iseeall commented on #985
import 1.2.124 resolver from https://github.com/googlesamples/unity-jar-resolver/raw/v1.2.124/play-services-resolver-1.2.124.0.unitypackage (Resolver->Update does nothing right now and just keeps 1.2.123)

[2019-08-08 12:09] alnekroz opened #993 "Build error IOException: Win32 IO returned ERROR_BROKEN_PIPE"
When I import a custom package into Unity and trying to build it I get error
Note  i fellow the steps :
1 play services is resolver
2 I use jetifier
3 i move the project to c: //
![Capture](https://user-images.githubusercontent.com/53902587/62701644-1dcaf380-b9e5-11e9-892f-3674207d647d.PNG)
![Untitled](https://user-images.githubusercontent.com/53902587/62701665-24f20180-b9e5-11e9-89a1-8e4fde172f58

[2019-08-08 21:19] venvw commented on #987
Hi, I found **temporary** solution:

1. Go to Assets/GoogleMobileAds/Platforms/Android/Utils.cs
2. And **modify** method **_GetAdSizeJavaObject_** to

[code]

[2019-08-08 22:48] stowy commented on #984
I'm going to close this as an implementation / dependencies resolution issue, I think initialize is working as intended.

[2019-08-08 22:48] #984 closed

[2019-08-09 07:01] #979 closed

[2019-08-12 19:19] SpiceyM opened #995 "No ads showing using IL2CPP Android - untiy 2019"
I had hoped this latest version would allow ads to work with 64bit Android using IL2cpp to build. Unfortunately not.

Is there going to be a fix for this? Seems like this should be a high priority.

I have tried this suggestion
[https://github.com/googleads/googleads-mobile-unity/issues/923](https://github.com/googleads/googleads-mobile-unity/issues/923)

No luck, just no ads, nothing,.

Anyone?

[2019-08-12 20:16] stowy commented on #995
Which version of Unity are you using specifically? We' seeing unexpected behaviors on version 2019.2 onwards.

[2019-08-12 20:29] SpiceyM commented on #995
2019.2.0f1

can you confirm a version it is stable with for Android using IL2CPP? if so I'll use that unity version

[2019-08-12 20:32] Chelovek-Pauk commented on #991
Hello again!

Any thoughts on the issue?
Maybe more information needed?

[2019-08-12 20:36] UragayalaDeepika commented on #991
@Chelovek-Pauk Can you please share the code snippets of your implementation or sample project for us to take a look? Can you also go through our [sample script ](https://github.com/googleads/googleads-mobile-unity/tree/master/samples)and see if you are missing something with your implementation?

[2019-08-12 20:50] Chelovek-Pauk commented on #991
@UragayalaDeepika

Here is my implementation code:

        void Start()
    {
     AdMobRewardedAd = RewardBasedVideoAd.Instance;
     // Called when an ad request has successfully loaded.
     AdMobRewardedAd.OnAdLoaded += HandleRewardBasedVideoLoaded;
     // Called when an ad request failed to load.
     AdMobRewardedAd.OnAdFailedToLoad += HandleRewardBasedVideoFailedToLoad;
     // Called whe

[2019-08-12 20:57] Chelovek-Pauk commented on #991
Don't see any differences with Your sample project, except maybe destroying Interstitial ad instance before creating very first Interstitial ad, but I suppose it should be null at the start.

[2019-08-12 20:58] stowy commented on #995
2019.1.11f1 is the version I've found to be working correctly in my testing
to date.  Please try this and let me know if you have any issues.

On Mon, Aug 12, 2019 at 1:29 PM SpiceyM <notifications@github.com> wrote:

[2019-08-12 21:39] SpiceyM commented on #995
Just tried 2019.1.14 without success.
Will try 2019.1.11f1 tomorrow.
Using OSX by the way, not sure if that makes a difference.

[2019-08-12 23:15] stowy commented on #995
Ok. I'm using Mac OSX also.

On Mon, Aug 12, 2019 at 2:39 PM SpiceyM <notifications@github.com> wrote:

[2019-08-13 07:26] NilokiloxD commented on #995
Any fix or workaround coming soon for 2019.2?

[2019-08-13 15:00] IJEMIN commented on #989
Same here. I got a lot of bad reviews about app crash for android 8.1~9.0.
Every time I release a new build, crash percentage immediately sparks more than 50 times compared to previous versions. And then the graph becomes slowly stable.

And I got android 9.0 device which is not crashed, but it does not show the ad.

[2019-08-13 15:15] iseeall commented on #989
I ended up reverting to Unity 2018.2.21f and AdMob plugin 3.15.1. Nothing else seems to be stable.

[2019-08-13 15:57] stowy commented on #989
@iseeall [this commit](https://github.com/googleads/googleads-mobile-unity/commit/a3255c2e707de089ff72d775fd68c78b688e2620#diff-9af848d5771305211424083c25bdef20) shows we updated from 15.0.1 to 17.2.0 version of Google AdMob Android SDK for 3.16. Can you try changing the version of the SDK in your GoogleMobileAdsDependencies.xml file from 15.0.1 to 17.2.0 and see if this reproduces the behavior?

[2019-08-13 16:41] PavelDoGreat opened #996 "Ads not showing when exporting Android project"
I'm trying to show rewarded video ads. Here is 3 scenarios:

1. When building directly, it shows an ad properly for test and production Ad Unit Ids.
2. When exporting project with test Ad Unit Id, works perfectly too.
3. When exporting project with production Ad Unit Id, it doesn't show an ad.

Some errors that I have received in log:
[code]

Also I had an error at gradle sync saying that: `Manife

[2019-08-13 21:02] SpiceyM commented on #995
@stowy Hi, just tried with Unity version 2019.1.11f1 still nothing.
Would you be able to send or upload a blank project with just the admob and services add that i can try and that you know works? At a loose end here, Thanks

[2019-08-14 09:38] PavelDoGreat commented on #996
I have figured out the problem. Production ads are not showing when you build project with debug key. When I have built with release key, it started working. You could have put that info in logs instead of just giving `Video ad failed to load: Internal error`.

[2019-08-14 20:22] UragayalaDeepika commented on #991
@Chelovek-Pauk Can you confirm that the issue is only happening when you are trying to show the Interstitial for the first time? And it auto closes? I do notice the issue from your video recording. Can you also provide us with code snippets for when ShowInterstitial() is called? Also, you do not need to Destroy() the Interstitial onAdClosed() since this is taken care by the plugin.

And - MobileAd

[2019-08-14 21:03] Chelovek-Pauk commented on #991
@UragayalaDeepika
Yes, that is right, I can confirm that the issue is happening only when the first Interstitilal ad shows up since the game session started/app was launched (I guess, since the Admob plugin was initialized). The following ads shows and sounds correctly.

By the way, if this information can help, when the first interstitial ad auto closes, the sound of the  ad video remains and You

[2019-08-15 10:35] IJEMIN commented on #989
I guess this "exploding crash" problem for 64bit binary is related with these recent issues with admob

- https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/crash$209.0|sort:date/google-admob-ads-sdk/cMXAu0pv4CQ/EbOdQApSCAAJ
- https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/crash|sort:date/google-admob-ads-sdk/Q-edauZ27g8/wCstsRhFAAAJ
- https://groups.google.com/forum/

[2019-08-15 16:54] stowy commented on #995
Here's the Assets folder of a project I just built using export to Android studio 3.4.0 project using Unity 2019.1.11f1, building with IL2CPP. I used a development build, and the sample AdMob App ID - "ca-app-pub-3940256099942544~3347511713".

[Assets.zip](https://github.com/googleads/googleads-mobile-unity/files/3506438/Assets.zip)

Ads loaded and showed successfully.

[2019-08-15 17:11] stowy commented on #995
I also just tested building directly to device, non-development build and it also worked as expected.

[2019-08-15 17:13] stowy commented on #989
@IJEMIN those seem to be various crashes related to the Android SDK and not specific to unity, or this issue.

[2019-08-15 17:14] stowy commented on #989
I also ran a build from 2019.1.11f1 on my Pixel 3 - see [this thread](https://github.com/googleads/googleads-mobile-unity/issues/995#issuecomment-521714696) - Ads loading and displaying correctly with version 3.18.3.

[2019-08-15 17:17] stowy commented on #981
I would suggest retesting using version 3.18.3 of the Google Mobile Ads plugin.

If crashes re-occur, please confirm the plugin version that you are using.

[2019-08-15 17:17] #981 closed

[2019-08-15 18:52] UragayalaDeepika commented on #991
@Chelovek-Pauk I see that you are requesting ShowInterstitial() in Update() callback and I would recommend that you be careful when you do so. I'm not sure what the win_condition and ad_shown flags depend on and my recommendation is to ensure that this is not called in succession. Can you add a log and check whether this is happening as I'm quite certain that this is now an integration issue.

[2019-08-16 03:50] IJEMIN commented on #989
@stowy OK. I got it. I just want to let him know his, and my exploding crash problem might be related with recent web view issue with AdMob not unity.

@iseeall Maybe you can check normal info log message "Ad failed to load : 3" with "Ads" tagged in logcat.

For me, while there are so many ads crashes on user devices, I got many "Ads fail load : 3" for my test devices which indicate ad request suc

[2019-08-16 10:51] NilokiloxD commented on #995
Tried the provided Project @stowy in 2019.2, when requesting a rewarded ad this stacktrace is visible containing the relevant error message probably, something with malformed url so the caching fails:

08-16 12:44:47.371 16492 17106 I Ads     : SDK version: afma-sdk-a-v15301000.15301000.0
08-16 12:44:47.373 16492 17106 I Ads     : GMA Debug BEGIN
08-16 12:44:47.373 16492 17106 I Ads     : GMA Debu

[2019-08-17 00:04] stowy commented on #995
@NilokiloxD when i tried that ad request in my app it succeeded. What error are you seeing specifically?

[2019-08-17 08:09] NilokiloxD commented on #995
What do you mean with what error? I postet the complete log including the error with the malformed URL leading to ad failed to load : 0. I tried it also with my own id's and mediation with unity ads still no success. It always shows error ad request already sent or something similar and then Unity ads mediator internal error.
Did you try using Unity 2019.2 and custom gradle file (patched by play s

[2019-08-17 08:52] SpiceyM commented on #995
@stowy Thank for your uploading this, I will try it out later today and let you know.
I was building directly from unity and not exporting, maybe this is part of the reason.
Will post results later on

[2019-08-17 19:56] SpiceyM commented on #995
@stowy tested on 2019.11.1f just did a build & run directly from unity. Project worked fine and all ads shown using test ads.
Nothing happens when using my admob codes. Maybe I’ll set up a new app id and try it. Any ideas? Thanks

[2019-08-18 14:36] wimbledon commented on #654
I got the same warning message after pod installing `UnityAds` 3.2.0
![image](https://user-images.githubusercontent.com/3291853/63225921-af551500-c1de-11e9-8676-523b6ecddee4.png)

[2019-08-18 19:04] SpiceyM commented on #995
@stowy so it’s been a while since I last did this so thing maybe changed and I didn’t realise. The situation seems to be this..

Build and run from unity to an android device (not test ads) - no ads display

However publish to google play and download, ads display correctly.

When I use to do this before you didn’t need to publish the app to see you ads. So is this now the case?

I’m just about to

[2019-08-19 05:02] mubshar1 opened #997 "java.lang.Error in com.google.unity.ads.Interstitial$2.run"
We meet so many crash reports of GMA in the last version v3.18.2.

java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2018.4.5f1
Device model      : Xiaomi Redmi Note 5
Device fingerprint: xiaomi/whyred/whyred:8.1.0/OPM1.171019.011/V10.3.1.0.OEIMIXM:user/release-keys
Caused by
at com.google.android.gms.internal.ads.zzcqx.get(com.google.android.gms:play-services-ads@@18.1.1:8)
at com.googl

[2019-08-19 05:55] James805 commented on #855
I'm having same issue on StandardIn has not been redirected

[2019-08-19 07:07] SpiceyM commented on #995
Yep that was totally what it was. Feel like a fool.

@stowy I appreciate all your help on this. I think this can be closed.

Thanks

[2019-08-19 07:07] #995 closed

[2019-08-19 09:05] QuanHuynhM opened #998 "Native Ads cannot click"
I implemented Native Ads and successfully loaded its components. But for some reason I can't test clicking on Native Ads.

Although I added Box Collider, I also set Camera to Screen Space.

[2019-08-19 14:36] M4YX0R commented on #989
Hello guys, same here. No ads, no logs, only crashes, problems and apps without ads. I have looked with logcat but there is nothing. If you want to build app bundle you should build with IL2CPP to built 64-bit variation but looks like Unity and Admob is not ready to use IL2CPP instead of mono.

[2019-08-19 21:51] JamesJacquesDiego opened #999 "Rewarded Video Ad not loaded (no events fired)"
To get specific functionality in my game, users have to watch rewarded ad. The problem is starting when during the game the internet is turn off. When internet is turn off there is showing alert which inform user to turn on the internet connection and try again (the alert has "OK" button which pressed try to load reward ad again). When internet connection is turn on without closing game the reward

[2019-08-19 23:57] stowy commented on #654
Hi, this looks like an issue with 'UnityAds' and not with the Google Mobile
Ads SDK or Unity Ads mediation adapter.

Refer
https://github.com/CocoaPods/Specs/blob/master/Specs/2/e/8/UnityAds/3.2.0/UnityAds.podspec.json
.
- it doesn't appear that there is a LICENSE file in the linked zip file,
however I don't know for certain that that is where cocoapods is looking
for it.

On Sun, Aug 18, 2019 at

[2019-08-20 00:05] stowy commented on #989
Again, if reporting issues here, please specify which version of the Unity
IDE, Mobile Ads Plugin, Android API and device you are using.

I have tested with 2019.1.11f1 and the latest plugin version (3.18.3) on a
Pixel 3 using Android API 28 and I'm seeing ads load as expected. We are
seeing issues with version 2019.2 of Unity onwards at this point.

On Mon, Aug 19, 2019 at 7:36 AM M4YX0R <notific

[2019-08-20 04:33] Chelovek-Pauk commented on #991
@UragayalaDeepika
Could You please clarify why it is bad to call ShowInterstitial() in Update()?
If the problem is due to multiple calls of ShowInterstitial() in several frames in a row - I've checked, this is not happening for sure. In Integration Sample I've seen You show ad in OnGui() method - is it necessary to show ads in this particular method?

Originally, I have 2 interstitial ad placement

[2019-08-20 15:37] clivelewis opened #1000 "Bunch of new crashes on Android devices"
Hello guys. We are using this SDK in our project for the last few years. Currently, we are experiencing a high amount of crashes (reported in google play console). Problems started after migration on AndroidX libraries.
**Unity version:** 2018.3
**Plugins that we use:**
Firebase 6.3.0
Admob v3.18.3
Additional info: Almost all affected devices are Android 8.0, 8.1, 9
**Examples of crashes:**

Unity

[2019-08-20 21:38] stowy commented on #1000
Thanks for the report. I believe these are both known issues with the Android Google Mobile Ads SDK and fixes for both are pending. There's not a lot of detail that can be gleaned from these stacktraces since they are lacking the reference numbers for deobfuscation.

[2019-08-21 12:26] cdxgs opened #1001 "Its not working with IL2CPP x64"
I'm using  Unity 2019.2 with google-ads lastest version but when i compiled with il2cpp its crashes because of class not found on Android. With mono its works perfect.  Is it general bug?

[2019-08-21 14:05] clivelewis commented on #1001
Unfortunately, you didn't provide which class is missing. But I had the same problem, which was related to AndroidX migration. You can try the solution from this thread
https://forum.unity.com/threads/androidx-vs-android-libraries.710831/#post-4825043

[2019-08-21 14:06] clivelewis commented on #1000
Looks like we can only wait and believe. Closing thread for now

[2019-08-21 14:06] #1000 closed

[2019-08-23 11:15] Troshchuk opened #1002 "onSurfaceTextureAvailable crashes"
Hi. I have crashes such as:

`java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2019.2.1f1
Device model      : Vertex Impress_Luck
Device fingerprint: Vertex/Impress_Luck/Impress_Luck:7.0/NRD90M/1502193792:user/release-keys
Caused by
at com.google.android.gms.internal.ads.zzayw.zzxz(com.google.android.gms:play-services-ads@@18.1.1:49)
at com.google.android.gms.internal.ads.zzayw.onSurfac

[2019-08-23 17:38] surajbharani opened #1003 "admob ad is not show in release mode but in debug mode ad is showing"
please help me on this problem.....??? any one  ??

[2019-08-24 15:06] khushboogupta17 commented on #1003
the same issue, I'm using 2019.3.0a12 version and AdMob is showing test ads but when I put my test ID the app crashed

[2019-08-25 13:38] naklow12 opened #1004 "com.google.android.gms.ads.AdSize.equalson a null object reference"
These are logs when I'm at editor. It looks okay.
`
Dummy Initialize
Dummy .ctor
Dummy CreateBannerView
Dummy LoadAd
Dummy ShowBannerView
`
But when I release game it turns to this: (LogCat results)

`2019.08.24 18:06:16.913 3882 3882 Error AndroidRuntime: Process: com.DuckingGames.GlassBlocks, PID: 3882
2019.08.24 18:06:16.913 3882 3882 Error AndroidRuntime: java.lang.NullPointerException: Attemp

[2019-08-25 14:21] naklow12 commented on #1004
When I try it with "Gradle (experimental)" minifier it is not crashing like before. But there's another problem it gives this and there's no ad I see:

`2019.08.25 17:18:27.624 32407 32458 Error Unity: java.lang.ClassNotFoundException: Didn't find class "com/google/android/gms/ads/initialization/OnInitializationCompleteListener" on path: DexPathList[[zip file "/data/app/com.DuckingGames.GlassBlock

[2019-08-26 22:53] naklow12 commented on #1004
I solved problem myself. Guys if you have first problem never use Smart Size Banners. Change it to Banner. Smart Banners are not working right now.

If you got second error, just change Minify options to None, don't touch them. I can work with IL2CPP and x64 there's no problem about it. Have a nice day.

[2019-08-27 03:04] #1004 closed

[2019-08-27 03:05] naklow12 commented on #1001
Yes when I get build ARMv7 and 64-bit it starts crashing. Why I don't know. When I just take ARMv7 build it works well.

[2019-08-28 11:03] namquang93 opened #1005 "Crash on Android when call RewardBasedVideoAd.LoadAd"
About 2 weeks ago, our game starts crashing on Android every time I call constructor method of RewardedAd. After I tried to change the implementation to use the old API, I still got a crash but the log is different:

`17:47:57.112	CRASH		#00  pc 0001ced6  /system/lib/libc.so (abort+57)

	17:47:57.112	CRASH		#01  pc 00341b8f  /system/lib/libart.so (art::Runtime::Abort(char const*)+910)

	17:47:57.1

[2019-08-29 09:00] ecv80 opened #1006 "Are banners paused when hidden?"
Hi,

It seems the AdMob API provides a way to pause and resume ads.

In my current implementation I'm hiding all banners on scene switch and showing whatever banner at scene start as a way to save time in instantiating a new banner view and loading ads. Then I load ads every 5 minutes for banners should the AdMob dashboard banner refresh rate not be enough for this purpose.

But my question is whe

[2019-08-29 09:37] luvjungle commented on #987
is it fixed in 3.18.3?

[2019-08-29 10:37] Troshchuk commented on #1002
Posted to forum: https://groups.google.com/forum/#!msg/google-admob-ads-sdk/uNVH1vtV4Dc/zZU5AAnpAgAJ

[2019-08-30 15:15] khushboogupta17 commented on #1003
I figured out the solution for it,change the min SDK version and target API level in the XML document according to the one in player settings in Unity

[2019-08-31 01:46] DataGreed opened #1007 "ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs"
Does this library use UIWebView? Whenever I send a build of my game to Apple I receive a warning saying that I have to remove UIWebView from the app otherwise they will reject it.

[2019-08-31 13:29] The98765theedi opened #1008 "Unable to hide/destroy banner. It keeps reappearing..."
I am not able to hide nor destroy Admob in my unity test android app. The banner shows up correctly but when admob banner's Hide() method is called I can see the banner dissapear for a while and quickly reappear. Also, OnAdLoaded event was never triggered.

Below is my code,

[code]

My dev environment is Unity ver 2018.4.7f1, GoogleMobileAds-v3.18.3.unitypackage, android platform.

[2019-09-01 04:33] The98765theedi commented on #1008
Found the problem. In Admob_Banner_Loaded event accessing to unity game object caused it to crash.
After remove Text t everything works well.

[2019-09-01 04:33] #1008 closed

[2019-09-01 08:30] lucianbaciu commented on #992
I have the same issue.

Unity 2018.4.8
Target Android 28
Scripting backend: IL2CPP
Google Mobile Ads Unity Plugin v3.18.3

If I downgrade to Google Mobile Ads Unity Plugin v3.18.0 it works.

[2019-09-05 06:47] arpaplus opened #1009 "Moat Analytics weird mediation crashes"
AdMob Unity plugin version 3.18.3 + Mediation modules:
GoogleMobileAdsAppLovinMediation-4.1.0
GoogleMobileAdsFacebookMediation-2.4.1
GoogleMobileAdsChartboostMediation-1.3.0

Brings crashes of Moat analytics, which should be part of MoPub, but we do not have MoPub mediation plugin installed in this app. And our AdMob panel mediation settings in Mediation Groups does not have MoPub add source. We h

[2019-09-05 10:02] MuhammadWaqasOfficial opened #1010 "OnAdClosed event is calling for both closing ad And closing ad after complete watch"
OnAdClosed event is calling for both closing ad while ad is playing and also called when full rewarded ad is watch and then closed.
These are two different scenarios. And it should be two events for onadclosed.

[2019-09-05 19:44] DownAP commented on #987
having the same fucking problem with 3 different versions i've tried

[2019-09-06 07:45] waqasbhattii opened #1011 "Didn't find class "android.support.v4.content.ContextCompat""
Hi,

Please guide me why i am getting the following error, i uploaded my game on Google Play Store and then downloaded it on device with wifi turned on. Its cashing and stopping every time, please let me know what is the issue. I am using latest unity package of Google mobile ads in my game.

java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/content/ContextCompat;
        a

[2019-09-06 14:23] dsartamonov commented on #327
Did you resolve it?

[2019-09-06 19:25] pruebasssaa opened #1012 "AdColony fails in the first 5 seconds although the MobileAds.Initialize callback is called"
Hi,

Setting up mediation with AdMob and AdColony, after receiving the call from MobileAds.Initialize (), I request an ad for AdColony, although it will reject me with this warning:

[code]

However, if I wait approximately 3-5 seconds and then request the ad, it does not fail. It is as if the SDK was not completely initialized. I have already checked and it is not a problem in my code or there ar

[2019-09-07 14:47] topitsky opened #1013 "Everything works except the banner in Unity 2019.2.4f1"
As said in the title.
I'm using the hello world code provided by this repository.
I'm able to load the interstitial and the rewarded ad and they work perfect, but when I try to load the banner, the whole app crashes.

Is there something I'm missing? I've put my ad id and app id correctly in the settings and resolved play services.

[2019-09-08 20:36] renataNavarro commented on #1013
I have the exactly same problem. Both, Android and iOS crash when I make the request, the build is succeed but the app crashes. Interstitial it's working fine. My code it's simple and I can't figure out the problem, I've been checking every configuration and it's everything right.

[2019-09-09 06:34] arpaplus commented on #1011
Do you use Chartboost mediation or Chartboost ads together with AdMob?

[2019-09-09 10:00] TomFromThePool commented on #1007
@DataGreed this is a Unity issue relating to Apple deprecating UIWebView. Unity have a fix in review and will backport it when available: https://issuetracker.unity3d.com/issues/ios-apple-throws-deprecated-api-usage-warning-for-using-uiwebview-when-submitting-builds-to-the-app-store-connect

[2019-09-09 16:58] stowy commented on #1007
We also have a pending release of iOS that addresses this, I will update
the Unity plugin when this is available.

On Mon, Sep 9, 2019 at 3:01 AM Tom <notifications@github.com> wrote:

[2019-09-09 17:00] stowy commented on #1011
You appear to have libraries referring to android support libraries.

You need to ensure that all dependencies are jetified so that they all
refer to androidx support libraries.

This is done using the play services resolve android settings menu (see
attached screenshot). Go to 'Assets' -> 'Play Services Resolver' ->
'Android Resolver' -> 'Settings' and select 'Use Jetifier'.

[2019-09-09 17:00] #1011 closed

[2019-09-09 17:03] stowy commented on #1013
Ok, this is related to version 2019.2.x and later versions of Unity.

[This commit](https://github.com/googleads/googleads-mobile-unity/commit/b6cf3c3144a1818224233d0856fee9de7dd9a29b) is not released yet. That would probably resolve the issue for you.

[2019-09-09 17:17] stowy commented on #1010
Hi Muhammad,

Sorry, I'm not sure I 100% follow your issue here. Can you outline the
expected behavior, actual behavior, and steps to reproduce?

Thanks,

Sam

On Thu, Sep 5, 2019 at 3:02 AM MuhammadWaqasOfficial <
notifications@github.com> wrote:

[2019-09-09 17:19] stowy commented on #1009
I'm not sure what the crash is here, is there any additional information? I've seen a similar report here - https://github.com/googleads/googleads-mobile-unity/issues/1011, and that is related to not jetifying the libraries. To resolve that:

Go to 'Assets' -> 'Play Services Resolver' ->
'Android Resolver' -> 'Settings' and select 'Use Jetifier'.

[2019-09-09 18:18] stowy commented on #1013
@renataNavarro @topitsky  Please comment and vote on this issue to get Unity to resolve this in their IDE also - https://issuetracker.unity3d.com/issues/android-androidjavaclass-dot-getstatic-returns-null-when-being-built-to-android-device

[2019-09-10 08:41] arpaplus commented on #1009
Solution does not work, it's still crashing. com.moat.analytics is a part of chartboost.jar, we use it for mediation.

[2019-09-10 10:44] arpaplus commented on #1009
We've found that crash reproducing when both Chartboost and Facebook mediation used in project. We did additional tests and:

1. Applovin + Chartboost - no crashes.
2. Applovin + Facebook - no crashes.
3. Apploving + Chartboost + Facebook - crashes on start!

So there is some problems between Facebook and Chartboost mediation plugins leading to crashing of chartboost's moat framework (it's embedde

[2019-09-10 17:24] stowy commented on #1009
@arpaplus can you print out the dependencies list for a given configuration (eg debug, release) for the crashing and non-crashing examples you shared above? This is definitely dependency related and I suspect some incompatible libraries.

Here's a useful reference re: dependency inspection - https://docs.gradle.org/current/userguide/inspecting_dependencies.html.

[2019-09-11 09:55] Mecze commented on #947
We are seeing this error also, When is it being fixed?

[2019-09-11 10:15] arpaplus commented on #1009
Version without crashes, which uses Applovin + Facebook mediation: https://file.io/ZZTRhe
Version with crashes, which uses Applovin + Facebook + Chartboost mediation: https://file.io/735B9o

[2019-09-12 06:33] pipe-alt commented on #1013
when are they gonna push a new release for this plugin? it's been  a month  :(

[2019-09-12 07:03] amorato opened #1015 "Fatal Exception: java.lang.Error"
We are having crashes of Adcolony plugin in Unity on Android 8.1 and 9. Seems like a new campaign.

![image](https://user-images.githubusercontent.com/32353915/64760866-09759b80-d53b-11e9-95df-30602753ed9c.png)

`Caused by java.lang.OutOfMemoryError
Failed to allocate a 59759896 byte allocation with 8699952 free bytes and 8MB until OOM, max allowed footprint 201326592, growth limit 201326592
java.

[2019-09-13 11:31] AliahmadDev commented on #993
Hi, i have seen this issue in detail and in near past i was also facing this error and i found a solution for this error.
Solution:
I discovered that this issue continues to happen when you try to build the project with Build System selected as  "Internal", however i suggest you to change the Build system to "Gradle" it will surely fix this error.
![sample](https://user-images.githubusercontent.co

[2019-09-13 11:35] AliahmadDev commented on #986
I am also getting this issue and its causing crashes reports in google play console. As much as i have analyzed, this is to be fixed by admob or from unity team, means there is no faulty code causing this issue.

[2019-09-13 11:39] AliahmadDev commented on #976
Hi, i am also facing the same issue from last 2 months, in my case i am currently using admob unity sdk 3.18.3 and no mediation is implemented. Unity Editor version is 2018.4.8 LTS and android versions facing this problem are 5.0, 7.0, 8.1, 9.0 (i have seen this on these version and i think it is irrespective of the android versions)

[2019-09-13 16:13] Opeth001 opened #1016 "Any plans for Advanced Native ads in Unity ?"
Now that Admob is finally allowing users to use the Advanced Native Ads *_* ,
Do you have plans to add the Advanced NativeAds for unity ?

Thank you.

[2019-09-13 21:17] UragayalaDeepika commented on #1012
@pruebasssaa Are you using Adcolony directly and not calling Adrequest from the admob unity plugin? Can you make sure that you followed our guidelines as mentioned here: https://developers.google.com/admob/unity/mediation/adcolony and also test it on the latest version of the SDK? Can you use our  [sample script](https://github.com/googleads/googleads-mobile-unity/tree/master/samples) and provide

[2019-09-13 23:07] stowy commented on #976
Have you tried the Helloworld sample app? I haven't seen this issue in
testing.

On Fri, Sep 13, 2019 at 4:39 AM AliahmadDev <notifications@github.com>
wrote:

[2019-09-13 23:11] stowy commented on #986
What number of crashes are you seeing for this issue? We believe it is
fixed in production for devices running an up to date version of Google
Play services.

On Fri, Sep 13, 2019 at 4:35 AM AliahmadDev <notifications@github.com>
wrote:

[2019-09-14 08:52] #1016 closed

[2019-09-14 08:54] Opeth001 commented on #1016
I found out that Google is already having an ads builder package for unity which can be used to create Advanced native ads.

[2019-09-15 03:51] arpaplus commented on #1009
maddevrelgithubbot,
1. I've sent my project to AdMob SDK team in groups.google.com, to Ziv Yves Sanchez.
2. I guess creating android studio project is not a test we need, since we have issues in Unity projects.
3. Chartboost did not gave response yet since 2 or 3 weeks.

[2019-09-16 06:14] AliahmadDev commented on #976
Hi, sorry for the late reply here as i was not at office at weekend.
I have tried the HelloWorld Sample App, that works. But when i write some lines of code in the handler of rewarded video (where the user is to be rewarded) sometimes it works and sometimes it does not. In previous versions of admob sdk i noticed the crash when we call handler but in this current release it is fixed and app does n

[2019-09-16 12:34] AliahmadDev commented on #956
Hi,
There is of course a solution for that; i can guide you if you are working with unity platform.
Attach your advertisement script with an object in the very first scene in which you wanna start showing the banner and then call the banner Ad also "you have to apply Don't DestroyOnLoad" for that object. Then you will not lose the banner ad while switching the different scenes.

[2019-09-16 12:48] makmatics commented on #1009
Chartboost support is trash. I've been trying to get to them for over 2 weeks and never heard back.
Anyways i solved this problem.
I presume you are using Chartboost.jar extracted from their Android SDK. Now all you have to do is manually Jetify this jar to use AndroidX. I'm writing this from my phone so can't give you the full solution here. Google and Download Android Jetifier. You will know wha

[2019-09-16 19:10] envirogames opened #1017 "i have just imported admob ads plugin in my unity 2014.4.31f1 and its giving error "Assets/GoogleMobileAds/Api/AdLoader.cs(42,19): error CS0117: `Utils' does not contain a definition for `CheckInitialization'""

[2019-09-17 03:35] Kingkong302 commented on #1017
I am having the same issue, please help us out. Thankyou

[2019-09-17 05:35] desouse commented on #690
Hello. I use v3.16 and face the same issue. Could you please tell me whether this bug is fixed or not in the latest release?

[2019-09-17 05:47] Kingkong302 commented on #259
i have just imported admob ads plugin in my unity 2014.4.31f1 and its giving error "Assets/GoogleMobileAds/Api/AdLoader.cs(42,19): error CS0117: `Utils' does not contain a definition for `CheckInitialization'"

there are two utile classes, Assets. Utils script is completely different from the GoogleMobileAds.Common.Utils, should I delete one of them?

[2019-09-17 15:58] UragayalaDeepika commented on #1015
@amorato Are you able to reproduce the issue? From the logs, it seems to be an issue with the Adcolony network. Can you add more details about the error if you are able to reproduce?

[2019-09-17 17:58] UragayalaDeepika commented on #1003
Closing this as the issue seems to be resolved. Feel free to comment here if you still have this issue.

[2019-09-17 17:58] #1003 closed

[2019-09-17 19:20] UragayalaDeepika commented on #1002
@Troshchuk Are you able to reproduce the issue and what is the frequency of these crashes? Are you seeing these crashes with any specific Ad format? Please respond back on the forum thread and share the details so that we can take a look and share it with our team.

[2019-09-18 11:36] amorato commented on #1015
I can reproduce it when Adcolony's library is in the apk, even with the AdColony network disabled in admob dashboard. Playing with Adcolony libraries in the apk the crash appear easily 2 - 4 minutes after admob initialization.

We tried 3 different Adcolony latest versions as graphic show the app versions.

We didn't made any changes in apk when the crash appear on Crashlytics.

[2019-09-18 17:32] rotter opened #1018 "Cant tell which AdMob version is on my app"
Problem: I can never tell which AdMob version is installed on my several apps, so end up having to reinstall the plugin on each app to make sure it's on the latest version.

My suggestion is to add a file with the version name on the GoogleMobileAds folder, for example AdMobVersion_3_18_3.txt

And/or add the version number on the GoogleMobileAdsSettings panel.

[2019-09-19 05:38] gimoneto commented on #987
It  seems that some kind of bug calling GetStatic in Unity 2019.2+ is confirmed and registered in the Issue Tracker: https://issuetracker.unity3d.com/issues/android-androidjavaclass-dot-getstatic-returns-null-when-being-built-to-android-device

[2019-09-19 10:00] kimcollin commented on #1016
YES
Kim Collins

On Fri, Sep 13, 2019 at 9:13 AM Opeth001 <notifications@github.com> wrote:

[2019-09-20 06:03] desouse commented on #1018
Assets\GoogleMobileAds\Api\AdRequest.cs

public const string Version

[2019-09-22 15:11] j4hangir opened #1019 "iOS compiles fine but android fails using the latest version (3.18.3)"
With the following error:
`D8: Program type already present: com.google.ads.AdRequest$ErrorCode`.

[2019-09-23 07:30] brucelam opened #1020 "UnifiedNativeAd work on Android, Crash on iOS"
---unity 2019.1.14 and 2019.2.6
---xcode 10 and xcode 11
Build success on Simulator but crash when run: C# code
----------
[code]

Xcode crash:
-------------
[code]
<img width="1680" alt="Screen Shot 2019-09-23 at 2 27 04 PM" src="https://user-images.githubusercontent.com/5456529/65408087-88f24d00-de0e-11e9-8833-4fee1acfa114.png">

Build error on device deployment:
---------
[code]

[2019-09-23 14:40] j4hangir commented on #1019
After lots of tedious research, I had to delete `play-services-basement-*.aar` and `*lite-ads` as they were having common classes with AdMob.

[2019-09-24 10:06] umkhan65 commented on #1013
@stowy this worked for me

[2019-09-24 15:30] CybIam opened #1021 "Can't resolve dependencies Unity 2018.4.9"
Hi,

After upgrading from 3.17 to 3.18.3 dependencies resolution always failing. I am on Unity 2018.4.9.
Error from the stacktrace: `NoClassDefFoundError` and it's either `org/apache/tools/ant/FileScanner` or `org/apache/tools/ant/DirectoryScanner`.

[2019-09-24 15:56] UragayalaDeepika commented on #1019
@j4hangir Closing this issue. Let us know if you have any other questions.

[2019-09-24 15:56] #1019 closed

[2019-09-24 16:26] UragayalaDeepika commented on #1018
@rotter closing this. Let us know if you have any questions.

[2019-09-24 16:26] #1018 closed

[2019-09-24 16:28] rotter commented on #1018
Thanks for the workaround, but I still think the version should be way more visible.

It's highly unlikely that I will remember which class to look for the version next time I need it, or for anyone else to guess that's the place to look at when they need to know the version...

[2019-09-25 17:47] UragayalaDeepika commented on #1020
@brucelam Is this happening with the latest version of the plugin? Can you please share the sample project/Sample script for us to take a look to reproduce the issue on our end? I don't see any issues with our latest plugin and current version of our SDK.

[2019-09-25 17:49] UragayalaDeepika commented on #1018
@rotter  Thank you. I will definitely pass this feedback to our team as a feature request.

[2019-09-25 17:55] UragayalaDeepika commented on #1017
@envirogames

Can you please try with the latest verison of the Unity IDE and also with the latest version of our plugin and see if you are still having the issues? Unity 2014.4.31f1 is pretty old and I would recommend that you update to the latest Unity IDEs and try again.

[2019-09-25 17:59] UragayalaDeepika commented on #1015
@amorato  As stack trace does contain our SDK symbols, we would need more information to debug this. Can you provide us any other details like the type of Ads that you are serving, a sample project to reproduce the issue locally?

[2019-09-25 22:16] 738-tnt commented on #1017
Removing or renaming Util class from my project solve for me.

[2019-09-26 03:07] brucelam commented on #1020
Thank you for response, this is my simple project: https://github.com/brucelam/Unity_UnifiedNativeAd
I used:
--- https://dl.google.com/googleadmobadssdk/GoogleMobileAds-native.unitypackage and GoogleMobileAds-v3.18.3.unitypackage
--- Unity Unity 2019.2.6f1 (64-bit)
--- Xcode 11
It work on Android but crash on iOS. Please check for me. Thank you very much

[2019-09-26 17:25] CsabaStupak opened #1022 "Unity Admob - cannot convert from 'Reward' to 'GoogleMobileAds.Api.Reward'"
I imported _Google Mobile Ads Unity Plugin v3.18.3_ to my Unity project (1st time) and have the following errors. I'm on _Unity 2019.2.3f1_.

- Assets\GoogleMobileAds\Api\RewardedAd.cs(74,51): error CS1503: Argument 2: cannot convert from 'Reward' to 'GoogleMobileAds.Api.Reward'
- Assets\GoogleMobileAds\Api\RewardBasedVideoAd.cs(93,45): error CS1503: Argument 2: cannot convert from 'Reward' to 'Go

[2019-09-26 17:33] CsabaStupak commented on #1022
Ups, my fault. I had a class/type named _Reward_ and that caused conflict. I renamed my class and now it works :-).

This helped me:
https://groups.google.com/forum/#!topic/google-admob-ads-sdk/ytIDX39gJkE

[2019-09-26 17:33] #1022 closed

[2019-09-27 05:44] arpaplus commented on #1009
During several days of testing seems like your solution is working. Thumbs up to you, makmatics!

[2019-09-27 14:19] MuhammadWaqasOfficial opened #1023 "Difference Between RewardBasedVideoAd & RewardedAd"
Anyone explain me Difference Between RewardBasedVideoAd & RewardedAd?
I previously use ( RewardBasedVideoAd rewardBasedVideo; ) for rewarded ads logic. which is working perfectly.
Today is see RewardedAd class used to show rewarded ads in GoogleMobileAdsDemoScript.cs (the demo script).
Please help. its confusing for me.

[2019-09-27 20:53] UragayalaDeepika commented on #1023
@MuhammadWaqasOfficial Google Mobile Ads SDK introduced a new set of rewarded ad APIs, currently in beta. you can go through [our documentation](https://developers.google.com/admob/unity/rewarded-ads) to learn more about our new rewarded APIs

[2019-09-27 20:55] UragayalaDeepika commented on #1021
@CybIam Can you clean the build and try again? I have tested on my end and I don't have any issues with 2018.4.9 with the latest version of the plugin.

[2019-09-27 20:59] UragayalaDeepika commented on #1006
@ecv80 Currently, the Unity Plugin does not provide an API to pause or resume the Banner AdView. We do have these APIs in the Android native SDK and something the Unity plugin currently exposes. When the BannerView is hidden, the impression ping is not fired to the user but the received creative is still held in the memory. So my advice would be to monitor the number of prefetched ads being held i

[2019-09-27 23:04] stowy commented on #987
Fixed in v4.0.0 just released.

[2019-09-27 23:04] #987 closed

[2019-09-27 23:05] stowy commented on #950
Don't worry, mediation adapters do have code in them to support smart banner sizing.

[2019-09-27 23:05] #950 closed

[2019-09-27 23:05] stowy commented on #1013
Fixed in v4.0.0 released today.

[2019-09-27 23:05] #1013 closed

[2019-09-27 23:07] stowy commented on #989
Regarding the above comment for issues in 2019.2, the issue was related to SMART_BANNER sized banner ads, and this has been fixed in version 4.0.0.

[2019-09-27 23:08] #956 closed

[2019-09-28 10:47] CybIam commented on #1021
@UragayalaDeepika what do you mean by 'clean the build'? I tried:
1. Clear GI cache in editor
2. Remove <porject>/Library folder
and/or
3. Clear <project>/temp folder
4. Remove all plugin data and reimport
5. Install 3.17 and then 3.18.3
6. Use 'gradle' options on/off in resolver settings
7. Create empty project, import plugin and resolve dependencies
Nothing helped.

If I click 'Resolve' then pop

[2019-09-28 12:01] CybIam commented on #1021
@UragayalaDeepika just realised that I've updated Android Studio few days ago (including gradle files). I've check them out and they were broken including `ant jar`. Downloaded and replaced them manually, everything is working fine. My bad, sorry!

[2019-09-28 12:01] #1021 closed

[2019-09-30 04:36] BlueSkyHugo opened #1024 "Error with plugin when creating new update for application"
When I create a new update for my app and put it on Store CHPlay, the new update will be downloaded and overwritten by the existing user. This has ruined the Admob plugin. Those users who are already there cannot display the ad. Want to display it must be a new user, or have to remove old updates and new downloads but doing so will lose the data of the saved application. Does anyone have the same

[2019-09-30 18:15] programmermattsrum commented on #974
Why did you close this? @lucianbaciu

[2019-09-30 21:24] UragayalaDeepika commented on #876
@rchallenger Closing this for now as we are not able to reproduce the issue on our end. Feel free to reopen and provide us an update for us to take a look.

[2019-09-30 21:24] #876 closed

[2019-09-30 21:28] UragayalaDeepika commented on #880
@cgerard78  Did that resolve your issue?

[2019-10-01 04:51] lucianbaciu commented on #974
Because it is not the Unity Google Ads SDK that is causing this. You can read more here:
https://forum.unity.com/threads/native-method-not-found-com-unity3d-player-unityplayer-nativerestartactivityindicator-v.546271/page-4

[2019-10-01 08:51] qbit86 opened #1026 "MobileAds.Initialize(): ambiguous overloads"
Hi,

There are two initialization APIs in `GoogleMobileAds.Api.MobileAds` (v3.18):

[code]

Which one should I use?

[2019-10-01 13:25] ericleich commented on #1026
[code]

is preferred. The appId in this method is now implicit because we are getting it from the settings you provide in the Unity editor (which ultimately end up in your AndroidManifest.xml / Info.plist files).

Please see https://developers.google.com/admob/unity/start#initialize_mobileads for more information.

[2019-10-01 16:11] UragayalaDeepika commented on #1024
@BlueSkyHugo Can you please share any device logs provided by any of your users who are not seeing ads? We haven't heard about any issues similar to this. Also, can you please confirm what a CHPlay store means?

[2019-10-01 16:26] UragayalaDeepika commented on #1023
@MuhammadWaqasOfficial Let me know if I can help you with anything else and let us know if this can be considered as closed?

[2019-10-01 16:54] MuhammadWaqasOfficial commented on #1023
Thanks for helping. I checked the doc.
Yes close it

[2019-10-01 16:54] #1023 closed

[2019-10-01 17:37] stowy opened #1027 "Feature Request: Add in more Unity Editor functionality to test plugin"
We would love to make the Google Mobile Ads Unity plugin easier to test basic functionality and wiring in the Unity Editor, to save building and deploying to device every time you want to test your ads integration.

https://github.com/googleads/googleads-mobile-unity/pull/1025 is an example of adding some of this basic functionality.

We would welcome more contributions to add in this sort of func

[2019-10-01 20:46] ericleich commented on #1026
We're kind of in a transition phase. Technically the other initialize hasn't been deprecated on the respective Android/iOS levels, which is why we haven't deprecated it yet. But this is a good reminder to get this cleaned up on all platforms.

The new initialize is capable of initializing mediation adapters ahead of the first request, and providing them with all of the configurations associated wi

[2019-10-02 14:24] kaufcom opened #1028 "Rotation issue"
Hi,

We have apps which have many mini-games inside. Some are in portrait. Some are in landscape.
Now we have the issue that when we make a rotation the ad is not rotating correctly.

You can try this on your example ("GoogleMobileAdsDemoScript.cs") just add an additiona button with this few lines of code in the OnGUI():

//-------------
		Rect screenLandscape = new Rect(
			columnTwoPosition,

[2019-10-03 00:08] BlueSkyHugo commented on #1024
It is the Google Play store. All the devices I have are the same, every time I create a new update for my app everything returns to its original state. Can not show ads on returning users, only on new users.

[2019-10-03 04:51] Spud6703 opened #1029 "AppLovin Mediation Adaptor Update to use iOS SDK 6.9.3 ?"
Can somebody please update the GoogleMobileAdsAppLovinMediation adaptor for Unity so that it uses AppLovin's latest iOS 6.9.3 SDK ? I've tried using 4.2.0 of the mediation adaptor and I get errors in my iOS debug output log that AppLovin says will only be fixed if I use their 6.9.3 SDK

[2019-10-03 19:37] UragayalaDeepika commented on #1029
@Spud6703 I have shared this with the team and they will update this asap. Will keep you posted once it is updated.

[2019-10-03 20:31] UragayalaDeepika commented on #1028
@kaufcom Can you please share a screen recording and affected Ad unit Id for us to take a look? And, is this device specific and is this happening with any specific creative? I have tried to reproduce the issue with our sample script on our test device and was not able to reproduce the issue on our end with our test Ad unit Id. It would be helpful if you could provide us the requested details to i

[2019-10-03 20:43] UragayalaDeepika commented on #1024
@BlueSkyHugo This doesn't sound like an issue with our Unity Plugin. If you believe that it is an issue with the plugin, please share the error that is being caused by the plugin so that we can investigate this further. Can you also check if this issue is happening with latest Unity Plugin v4.0.0?

[2019-10-03 20:51] UragayalaDeepika commented on #1017
@envirogames Any update on this issue?

[2019-10-03 22:22] Spud6703 commented on #1029
@UragayalaDeepika  Okay thanks! I have confirmed that simply copying the latest 6.9.3 AppLovin SDK framework over the older one that the mediation adaptor CocoaPods thing puts into the XCode build fixes the problem so hopefully it will be a simple fix for your team. It is a bit of a pain to have to do this every time I make a Unity build though so hopefully this can be fixed fairly quickly so it's

[2019-10-04 05:14] Kingkong302 commented on #1017
@UragayalaDeepika replace utils with GoogleMobileAds.Common.Util

[2019-10-04 06:30] saqibkhan2523 commented on #880
I have the same issue. What are GoogleUtillities and is this issue related to Xocde or Unity?

[2019-10-04 06:54] fredericoraiss commented on #1001
is happening to me too :(
Any solution?

[2019-10-04 09:07] saqibkhan2523 commented on #880
@UragayalaDeepika the sample app is also giving the same error. I use same thing for another project and it build fine but i don't know what causing this issue.

[2019-10-04 11:43] saqibkhan2523 commented on #880
Ok so I imported the plugin again then set `Enable-Bitcode` to `No` and it build successfully.

[2019-10-04 14:26] naklow12 commented on #1001
Keep _Split APKs by target architecture_ **off**. (At the below at same settings page.)

[2019-10-04 16:02] kaufcom commented on #1028
Hi,
Thanks for your help.
Ok so here a video of a test. I have taken this time a Nexus 5 for the test.
Some of the ads are affected, some not. Mostly it happens when rotating back from landscape to portrait. You will see in the video that the ads are not completely shown. They are cut on the sites. That's because landscape ads are shown in portrait mode or vice versa. I don't want to place my ad i

[2019-10-05 16:39] DrVallo commented on #991
@Chelovek-Pauk
I have a very similar problem with AdMob version 4.0.0.
I have an app crash when I first see a RewardVideo.
Were you able to solve the error? If yes, how?

[2019-10-05 23:33] eanjo7 opened #1031 "Unity Admob Ads not showing in all devices"
First I try to install my app to my one plus 7 pro.
the ads works perfectly fine, restart the game ads still shows up.
same in my lenovo.

But when i install it to my samsung s7 edge, and samsung s3
The ads shows up at start, and the second time I called it, it never appears.
then I restarted the app. and still no ads showing. maybe I restated it 3-4 times then ads shows up again. this thing is ra

[2019-10-06 12:16] DrVallo opened #1032 "App crash on first Rewarded Ads request"
I use the latest version of the plugin (4.0.0), the latest stable Unity version (2019.2.8f1) and the lastes version of Xcode.
When I install my game and start it for the first time on an iOS device (tested on iPhone 6s and iPhone 11 Pro with the latest version of iOS 13 installed), at the first request of a Rewarded Ads, the game crashes. There is no problem with requests for normal banners.
Once

[2019-10-07 21:06] UragayalaDeepika commented on #1032
@DrVallo I don't notice any specific issue with your code snippet. However, can you send any more crash logs that you may have? The screenshots you have provided does not indicate that this might be an issue with the SDK. Or  Can provide us a sample app that is able to reproduce this issue locally?

[2019-10-07 21:27] UragayalaDeepika commented on #1031
@eanjo7 Can you please capture the device logs and share it with us so that we can take a look at the error code that you are receiving when you failed to load an ad on those devices? This kind of issues usually reported to us will turn out as device specific issues and  I would suggest you to make sure that you don't have any Ad Blocker or custom ROM installed on the device where the Ads failed t

[2019-10-07 21:35] DrVallo commented on #1032
@UragayalaDeepika Unfortunately it is the first time I use Xcode to export to iOS, so I don't know where to find the crash logs that can be useful.

If it is possible to receive a private email I can send you my project, even if I have already sent the code I use to request advertisements.
I think it would be enough to install the latest stable Unity version, import the Unity AdMob v4.0.0 plugin,

[2019-10-07 22:14] stowy commented on #1032
@DrVallo can you please try Unity version 2019.1.11f1? And also iOS 12 -
and advise if the crash occurs with either of these variants?

Also, the crash logs should appear in the console at the bottom right panel
in Xcode. These would be helpful to include.

On Mon, Oct 7, 2019 at 2:36 PM DrVallo <notifications@github.com> wrote:

[2019-10-08 02:24] nyms0390 commented on #976
Facing the same issue. OnUserEarnedReward is sometimes not called for unknown reason.

[2019-10-08 11:06] DrVallo commented on #1032
@stowy Unfortunately I developed my app with Unity 2019.2.x, and it is not possible for me to downgrade the version (if I try to open the project with previous versions I get an error message). I also have only two Apple devices available with iOS 13, and I don't know if it's possible to downgrade to iOS 12.
Tonight I will try to make a new test to copy the crash log you indicated to me, but as yo

[2019-10-08 12:31] stowy commented on #1032
Thanks @DrVallo, there should definitely be some logs in the console if you
turn off debug breakpoints. Please share what you have.

Additionally, you can send us a sample project (just the assets folder
should be fine, host it on Google drive for example and share the link).

You can download and run iOS 12 simulators for example.

Thanks

Sam

On Tue, Oct 8, 2019 at 4:06 AM DrVallo <notification

[2019-10-08 20:12] DrVallo commented on #1032
@stowy I just created a new simple Unity project, entering my current code, and adapting it for a quick test. For security reasons I have not entered the "Admob App ID".
Download link: https://drive.google.com/drive/folders/1BVmri6x1zMUMcslLbkLR6-Icd8cAkSu4?usp=sharing

As for the crash log, I'll get it to you as soon as possible. I've just formatted my mac and I'm reinstalling everything, with th

[2019-10-09 10:11] muafakul opened #1033 "CRASH WITHOUT SHOWING ANY LOG"
JUST IMPLEMENT ANYTHING AND CRASH SUPER FAST

[2019-10-09 11:15] stickylabdev opened #1034 "Staging temp cry error dont know why"
![image](https://user-images.githubusercontent.com/13078369/66476841-c4ed0980-eac0-11e9-8765-4a8867742b0c.png)

[2019-10-09 12:09] Hardik-Nadiyapara commented on #911
I have also same error , does any one know what is the issue ?

[2019-10-09 12:10] Hardik-Nadiyapara commented on #920
i have same errors while building apk

[2019-10-09 18:00] UragayalaDeepika commented on #1033
@muafakul Can you please elaborate your issue so that we can assist you? Can you add the details about your implementation?

[2019-10-09 22:20] UragayalaDeepika commented on #1034
@muafakul It looks like a missing library and might be due to your Android SDK path missing in GMS framework. Make sure that you are following the guidelines as mentioned here and integrate with our [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) and then see if you are still able to reproduce this issue. Also, can you check via the SDK Manager via

[2019-10-10 05:59] mobarok69 opened #1035 "Ads Load Failed . No fill"
When i start game First time it's Work Well. But when 2nd time start my apps .. Ads load fail.. i tried more than 5-10 time but error.

[2019-10-10 11:45] DrVallo commented on #1032
@stowy @UragayalaDeepika Full log with crash log: https://pastebin.com/7ZjpFuV2

[2019-10-10 20:28] UragayalaDeepika commented on #1035
@mobarok69 Can you please share the app link if it is live and also complete error/warning logs for us to take a look? Are you able to load ads with our [sample apps](https://github.com/googleads/googleads-mobile-unity/tree/master/samples) using your Ad unit Ids?

[2019-10-10 20:37] UragayalaDeepika commented on #832
@ColorTwist Hello,

Do you still have this issue with the latest plugin? Can you please let us know?

[2019-10-10 20:40] UragayalaDeepika commented on #856
Closing the issue. Please comment here if you have any questions on this issue so that we can reopen the issue and investigate further.

[2019-10-10 20:40] #856 closed

[2019-10-10 20:46] UragayalaDeepika commented on #866
@Heru6664  Are you still able to reproduce the issue? Closing this thread for now. Please comment and let us know so that we can reopen the issue and assist you further.

[2019-10-10 20:46] #866 closed

[2019-10-10 20:59] UragayalaDeepika commented on #886
@kheradite07 Sorry for the delay on this. Are you still seeing crashes with the latest verison of the plugin? Can you please let us know so that we can investigate further?

[2019-10-10 21:00] #887 closed

[2019-10-10 21:03] #889 closed

[2019-10-10 21:04] UragayalaDeepika commented on #890
@Jazzgazer We are closing this issue. Please comment here if you are able to reproduce the issue with the latest plugin so that we can take a look.

[2019-10-10 21:04] #890 closed

[2019-10-10 21:09] UragayalaDeepika commented on #892
@SnnYsf  Please be on the latest version of our plugin and  let us know if you are still having issues. We will take a look into this issue.

[2019-10-10 21:16] UragayalaDeepika commented on #892
Closing the issue. Please comment here if you still need assistance on this so that we can reopen the issue.

[2019-10-10 21:16] #892 closed

[2019-10-10 21:18] UragayalaDeepika commented on #902
@HiveXStudio Hi,

Do you still have this issue with the latest verison of the plugin?

[2019-10-10 21:20] UragayalaDeepika commented on #936
closing this for now. Please comment here and let us know if you still need assistance on this issue.

[2019-10-10 21:20] #936 closed

[2019-10-10 21:21] UragayalaDeepika commented on #935
closing this. Please let us know if you need any assistance on this issue.

[2019-10-10 21:21] #935 closed

[2019-10-10 21:22] #933 closed

[2019-10-11 03:11] Thaina commented on #887
@UragayalaDeepika Is this was fixed in some way?

[2019-10-11 08:01] NMeijerSparkling opened #1036 "UnityAds doesn't always give out reward"
We've been getting reports from players that sometimes they don't receive their reward from the ads they've watched.

We've tracked this down to UnityAds. It seems that sometimes (seemingly random) the `OnUserEarnedReward` isn't being fired.

I've included a project which can be used to reproduce this issue. Please note that the `PlayStoreAppId` and `PlayStoreAdId` in `AdMobManager` and the AdMob

[2019-10-11 08:21] ColorTwist commented on #832
It seems to be solved! It is supposed to be solved, right?
Tested on:
Unity: 2019.1.11
AdMob: v4.0.0
Stripping level: Medium and High

[2019-10-11 19:23] DrVallo commented on #1032
@stowy @UragayalaDeepika New device crash log: https://pastebin.com/VDtjpQ01
I tried to do other tests, but I can't understand what the problem is. The crash happens only when the app is started for the first time ever, and a rewarded ads is requested. After the crash if the app is reopened the problem no longer occurs. After the first crash, even if the iPhone is restarted, the problem no longer

[2019-10-12 17:41] aliiskla commented on #723
Thank u man i used an invoke as u tell and it really work just fine...........bless u my man

[2019-10-13 08:56] kaufcom commented on #1028
Any news?

[2019-10-13 09:55] stefanvelnita opened #1037 "Android app crashing after showing banner ad"
Hi, my app is crashing after showing 1 or 2 banner ads:

java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
 at android.view.ViewGroup.addViewInner(ViewGroup.java:4417)
 at android.view.ViewGroup.addView(ViewGroup.java:4258)
 at android.view.ViewGroup.addView(ViewGroup.java:4198)
 at android.view.ViewGroup.addView(View

[2019-10-13 16:20] tegant commented on #654
same here:
```[!] Unable to read the license file `LICENSE` for the spec UnityAds (3.2.0)```

[2019-10-13 16:32] wimbledon commented on #654
Same issue with 3.3.0
`[!] Unable to read the license file `LICENSE` for the spec `UnityAds (3.3.0)``

[2019-10-14 17:09] stowy commented on #1037
Hi @stefanvelnita thanks for reporting, this is an issue we have been seeing with the Android SDK. Are you using mediation? If so, can you please advise which mediation networks you are using and what versions?

[2019-10-14 18:35] DrVallo commented on #1032
@UragayalaDeepika
I kept doing tests with the code, and I made a discovery.
Most likely the "handles" make the game crash!
Look at the code below that I tried to write.
Now the ad is shown correctly the first time the game is started (I didn't use "HandleRewardedAdLoaded"), but the game crashes when the ad is closed.

I have been trying to solve this serious problem for weeks, which does not allow

[2019-10-14 21:50] UragayalaDeepika commented on #1010
@MuhammadWaqasOfficial Can you please share the details if you are still seeing the issue?

[2019-10-15 06:38] stefanvelnita commented on #1037
Hi @stowy !

Yes, I am using mediation. The mediated networks are:

- Unity Ads: com.google.ads.mediation.unity-3.0.0.2
- InMobi: com.google.ads.mediation.inmobi-7.2.7.0

[2019-10-15 16:33] #880 closed

[2019-10-15 18:32] UragayalaDeepika commented on #832
@ColorTwist Glad to hear that. We are closing this thread as the issue seems to be resolved with the latest plugin.

[2019-10-15 18:32] #832 closed

[2019-10-16 07:02] castanets commented on #1037
SmartBanner is Spawning pool of glitch. not smart. just idiot. in my case, i use ( banner = new BannerView(BannerUnitID, AdSize.Banner, AdPosition.Bottom);). it work good. Tell me if it's fixed please

[2019-10-16 07:43] ArminJo commented on #397
I had it too,
Waiting and using another browser (with saves me clearing cookies and cache) worked.
What a nasty problem!

[2019-10-16 07:47] manelizzard opened #1038 "Unity Ads - Consent Ad on iOS 13"
As per https://forum.unity.com/threads/unity-ads-dont-work-properly-on-ios-13-beta.743201/, seems there is a bug in Unity Ads and iOS 13 not showing the Consent Ad.

I guess Unity Ads should be fixed by their owners but, should **googleads-mobile-unity** update its Unity Ads mediation library once the fix is released?

[2019-10-16 11:53] IskanderNazarov opened #1039 "Undefined symbols for architecture arm64:"
I want to build a unity project to iOS. In Xcode I keep getting the same error. How can I fix this?
It says "_Arm64 function not 4-byte aligned: _unwind_tester from /**'path_to_my_project**'/Libraries/libiPhone-lib.a(unwind_test_arm64.o)_"

<img width="310" alt="Screen Shot 2019-10-16 at 3 47 49 PM" src="https://user-images.githubusercontent.com/28686116/66916488-5bbf4600-f02c-11e9-84ef-381a1c65f5

[2019-10-17 11:53] vokruttabtale commented on #1012
I have the same error for all version com.google.ads.mediation:adcolony started from 3.3.8.1. I've checked the same code and admob key and error is gone with version 3.3.8.0.

[2019-10-17 15:41] VincentBaillet opened #1040 "undefined symbols compiling for ios"
Hi,
I try to compile the IOS version of my game, but I'm experiencing 80 undefined symbols, all related to admob (their name starting by _GADU, see screenshot for a list of some problems )
The Android version of my game works perfectly, and it as been quite simple to implement Admob for banners and rewarded-videos.
I suppose there are some library missing, but internet gives me no clues to solve t

[2019-10-17 15:48] ivk1800 commented on #1010
@MuhammadWaqasOfficial in case if user was rewarded -  called OnAdRewarded and OnAdClosed
if user force close ads called only OnAdClosed
you can create flag _isRewarded_ and check it in OnAdClosed event

[2019-10-19 05:06] adnanmiczon commented on #920
i have downloaded google mobile ads Sdk for native ads from here (NATIVE ADS BUILD  Unity pakage-which support native ads)

https://developers.google.com/admob/unity/native-advanced-unified

Then i am integrating in Unity 2019.1.0f2 (64-bit). Setup everything it work fine on Mono but when i change to 64-bit build for final uploading
During building apk Unity Stucks on Building native binary with I

[2019-10-19 05:40] adnanmiczon commented on #911
i have the same issue almost, please help

i have downloaded google mobile ads Sdk for native ads from here (NATIVE ADS BUILD Unity pakage-which support native ads)

https://developers.google.com/admob/unity/native-advanced-unified

Then i am integrating in Unity 2019.1.0f2 (64-bit). Setup everything it work fine on Mono but when i change to 64-bit build for final uploading
During building apk Uni

[2019-10-19 06:16] adnanmiczon opened #1041 "IL2CPP Scripting Backend ARM64 Error - Unity 2019.1.0f2 Google Mobile Ads Sdk"
i have downloaded google mobile ads Sdk for native ads from here (NATIVE ADS BUILD Unity pakage-which support native ads)

https://developers.google.com/admob/unity/native-advanced-unified

Then i am integrating in Unity 2019.1.0f2 (64-bit). Setup everything it work fine on Mono but when i change to 64-bit build for final uploading
During building apk Unity Stucks on Building native binary with IL

[2019-10-19 08:56] MuhammadWaqasOfficial commented on #1010
@ivk1800 spot on. thanks

[2019-10-19 08:56] #1010 closed

[2019-10-19 15:12] 658jjh commented on #921
Hi, I am still having this issue. I just got this yesterday. Please help me how to solve this.
Thank you

[2019-10-20 13:44] chenf33 opened #1042 "Can't play sound in callback function"
It seems that if I play sound in callback function,game crash.
HandleUserEarnedReward,HandleRewardedAdClosed,HandleXX all will do.

[2019-10-20 15:29] Arrnav commented on #832
The issue is still not resolved for me when using the early access SDK because I'm using Adaptive banner ads.

This is where I obtained the SDK from - https://developers.google.com/admob/unity/early-access/adaptive-banners

Unity: 2019.2.9f1, Android
AdMob: Early Access SDK obtained from above guide link (I assume this should be updated as much as the v4.0.0?)
Stripping level: Medium or High

Addi

[2019-10-20 15:37] Arrnav opened #1043 "Admob breaks with IL2CPP stripping level Medium or High when using Early Access SDK"
I'm using the early access SDK because I'm using Adaptive banner ads.

The issue is the exact same one found [here](https://github.com/googleads/googleads-mobile-unity/issues/832). (Issue #832), except this time around it's happening with the latest early access SDK and NOT v4.0.0

[This](https://developers.google.com/admob/unity/early-access/adaptive-banners) is where I obtained the early access

[2019-10-21 01:27] thanhtoan88 opened #1044 "No show all ads in android!"
First, I use the default ad admod id ( id ads test from google). Everything shows up perfectly!

but then i changed all my ads id, they are not displayed, my ads id is still showing on the old project, with the old admod sdk !.

so what is wrong? Please help me, thanks!

[2019-10-21 01:32] thanhtoan88 commented on #1042
My experience, you should call the function to play the music after a few seconds, you should use "Invoke"

[2019-10-21 02:37] chenf33 commented on #1042
Thank you,I will have a try.

[2019-10-21 10:53] DrVallo commented on #1032
@stowy @UragayalaDeepika
Sorry for the trouble, but I wanted to know if there is any news about it. Unfortunately I can't solve the problem, and I can't publish my game.

[2019-10-21 16:26] DrVallo commented on #1042
@thanhtoan88 Could you explain yourself better? Can you leave a piece of code showing how you applied your system to resolve the error?

Thanks! :)

[2019-10-22 11:03] pankaj8958 commented on #103
I resolve this issue by

I know it doesn't make :)
hope that works for someone :)

[2019-10-22 12:36] kaufcom commented on #1028
Hi,
After updating unity 2017.4 and all ad stuff, it works now.
Thx.

[2019-10-22 12:36] #1028 closed

[2019-10-23 09:49] ikitae opened #1045 "InMobi Mediation adapter linked to Unity Ads"
InMobi Mediation adapter linked to Unity Ads url

[2019-10-24 13:48] UragayalaDeepika commented on #1045
@ikitae I'm not sure I understand your question here. Can you please elaborate your question?

[2019-10-24 13:52] UragayalaDeepika commented on #1044
@thanhtoan88 Please reachout to [Mobile Ads SDK [Forum]](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) and our team will be able to help you out with debugging the issue.

[2019-10-24 13:57] ikitae commented on #1045
in readme.md

[2019-10-25 13:51] MonierHossam opened #1046 "Adaptive Banner unity"
Trying to use Adaptive banner ad in unity and i used latest plugin but it give me error (AdSize' does not contain a definition for 'GetCurrentOrientationAnchoredAdaptiveBannerAdSizeWithWidth').

[2019-10-25 16:29] nikunjkareliya commented on #855
Still facing this issue.
Platform switching doesn't work!

Anyone found proper fix?

[2019-10-25 16:52] timrach commented on #855
I resolved this issue a minute ago by removing all special characters from the directory name.
I had an apostrophe in the folder's name...

[2019-10-26 09:10] danielpdev commented on #1046
@MonierHossam The change got introduced 2 days ago on master branch and there was not yet a package for unity released.

However, you can check here the implementation of GetCurrentOrientationAnchoredAdaptiveBannerAdSizeWithWidth from AdSize https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Api/AdSize.cs

This is the commit that introduced the cha

[2019-10-26 09:22] MonierHossam commented on #1046
@danielpdev will try it out, Thank you for your answer

[2019-10-28 16:43] stowy commented on #1046
Thanks @danielpdev, yes @MonierHossam it is not released yet, I plan to
create a release today.

On Sat, Oct 26, 2019 at 2:22 AM Monier Hossam <notifications@github.com>
wrote:

[2019-10-28 20:41] stowy commented on #1046
Published v4.1.0 - https://github.com/googleads/googleads-mobile-unity/releases/tag/v4.1.0

[2019-10-28 20:41] #1046 closed

[2019-10-29 11:32] VincentBaillet commented on #1040
the problem has been resolved by removing everything related to admob in my project, then re-installing step by step the admob plugin.

[2019-10-29 11:37] esewein opened #1047 "ReflectionHelper errors after update Unity from 2018.2.21 to Unity 2019.2.9"
After updating Unity to version 2019.2 we have begun to receive the following AdMob errors through Play Console.
The errors we have not been able to reproduce them on our devices, apparently they occur randomly.

We have tried both the 2019.2.5 version and the 2019.2.9 version, and both give the same problem.

Before upgrading to Unity 2019.2.5 from 2018.2.21, these types of errors did not appear.

[2019-10-29 19:34] yasirkula opened #1048 "RewardedAd causing stall/crash after device goes to sleep mode(Android)"
Basically, after loading a rewarded video ad with **RewardedAd**, if device goes to sleep before the video is shown (my device goes to sleep mode if I don't touch anything for 30 seconds), either Unity stalls for a while or crashes after the screen is unlocked. This doesn't happen when using **RewardBasedVideoAd**.

Tested on:

Here's my test script. Pressing "Load 2" button and locking the screen

[2019-10-30 11:06] ikitae commented on #1045
https://github.com/googleads/googleads-mobile-unity/tree/master/mediation/InMobi

[2019-10-30 15:25] Ruco commented on #860
Same issue using the latest adapter. Although it doesn't crash it does report the Exception:
``
java.lang.NullPointerException: println needs a message
at android.util.Log.println_native(Native Method)
at android.util.Log.d(Log.java:145)
at com.google.ads.mediation.inmobi.InMobiAdapter.requestBannerAd(InMobiAdapter.java:129)
``

[2019-10-31 10:51] umerbutt12 opened #1053 "Native Ads Crash"
i am using unity 2018.3.4f1 when i run my game on mobile native ads show properly first time but when i close may game and reopen it the native ad show but suddenly crash every time. but when i clean my cache game run again properly no crash.

[2019-10-31 11:40] Hardik-Nadiyapara commented on #1041
@adnanmiczon ,
i am facing same errors , any one have solution for this ?

[2019-10-31 21:15] UragayalaDeepika commented on #1053
@umerbutt12  Can you update to the latest Unity 2019.2 and try with our latest plugin and see of you are able to reproduce the issue consistently? If yes, please share the complete crash los for us to take a look.

[2019-10-31 21:27] UragayalaDeepika commented on #1048
@yasirkula Hello I don't see any issue with the latest plugin. Can you please share the crash logs for us to take a look? Also, please share a sample project which reliably reproduces the issue. You can share it to mobileadstesting@gmail.com

[2019-10-31 21:34] UragayalaDeepika commented on #1045
@ikitae Thanks for reporting this to us. I have shared this with the team and they will update it with the correct link asap.

[2019-10-31 21:45] UragayalaDeepika commented on #1043
@Arrnav Hi arnav Can you please share a sample project for us to take a look? You can send the details to mobileadstesting99@gmail.com if you are not comfortable sharing here.

[2019-10-31 21:56] UragayalaDeepika commented on #1040
@VincentBaillet closing the issue.Feel free to comment here so that we can reopen if you need anything.

[2019-10-31 22:00] UragayalaDeepika commented on #1038
@manelizzard We will make sure to update the libraries according to the latest releases

[2019-11-01 08:02] umerbutt12 commented on #1053
ok sure i will update it and tell you.

[2019-11-01 09:51] yantian001 opened #1054 "Rectangle Banner Crash on Android"
I'm using unity 2018.4.11f1 with google ads mobile 3.18.3 . I found many crash in Google Play Console ANR&Crash like this
![banner 1](https://user-images.githubusercontent.com/8159444/68016625-e7dd9880-fccf-11e9-906f-6b9a67df581b.jpg)
![banner 2](https://user-images.githubusercontent.com/8159444/68016711-165b7380-fcd0-11e9-8832-8fa39b5fd798.jpg)
![banner 3](https://user-images.githubusercontent.co

[2019-11-01 10:12] yantian001 commented on #1054
![banner4](https://user-images.githubusercontent.com/8159444/68017928-dba70a80-fcd2-11e9-964c-3602d74f82fb.jpg)

My another project with play-services-ads:17.2.0 seems don't have this issue

[2019-11-01 14:40] ashbash1987 opened #1055 "Only AdMob Rewarded ads getting ad fill in Mediated Test Suite (Unity 2018.2.7f1, iOS)"
Have the following version configuration of AdMob and some mediated ad providers (and test suite):
- Google Mobile Ads UnityPackage 4.1.0 (Mobile Ads SDK 7.51.0)
- AdColony UnityPackage 1.0.5 (iOS adapter 3.3.7.2 from Pods)
- Chartboost UnityPackage 2.0.0 (iOS adapter 8.0.1.1 from Pods)
- Facebook UnityPackage 2.5.1 (iOS adapter 5.5.1.0 from Pods)
- Unity UnityPackage 2.2.0 (iOS adapter 3.2.0.1 fr

[2019-11-01 16:29] ashbash1987 commented on #1055
An update to this.

I do believe that this is an issue with the _test suite_ only, as I've now been able to verify getting adverts from the mediated ad networks from the rewarded ad unit in the game itself, and still not  through the test suite. Also of note, I do not get a log message indicating "old API" usage while requesting the rewarded ads in the standard way in the game, while they still pe

[2019-11-02 14:23] Blokblaster opened #1056 "RewardedAd crashes after few seconds of play"
I am using Unity 2019.2 and upgraded my admob packet to the New one and ever when an ad should load it begins but the Crashes after few seconds. Maybe the ad dont loads completly but that are just my thoughts can look at that.

[2019-11-03 14:22] uokivan opened #1057 "Multiple Plugin and AndroidManifest.xml"
I install the firebase push Messaging before,
How can I install this admob ?
and how to update / renew the AndroidManifest.xml ?

Thanks a lot

[2019-11-03 15:08] yasirkula commented on #1048
I couldn't reproduce the crash but the stall can definitely be reproduced (`Samsung Galaxy S8 (SM-G950F)`). Here's the sample project (uses test ids): [AdmobIssueRepro.zip](https://github.com/googleads/googleads-mobile-unity/files/3801680/AdmobIssueRepro.zip)

Pressing "Load 2" button and locking the screen after the button's label changes to "Show 2" will cause the stall. It doesn't happen with t

[2019-11-04 03:47] pickOneName opened #1058 "GooglePlayServicesUtil: Google Play Store is missing."
Some mobile phones (Android) do not have a google play store installed, and they are stuck where call

MobileAds.Initialize(initStatus => { });

How can I make some settings or code to avoid these phones being stuck? Like, Check if the Google play store is installed or get a failure state by callback？

[2019-11-04 08:53] dqh147258 opened #1059 "All Callbacks of RewardedAd are not running in main thread of unity"
I read the source code of RewardedAd found that all callbacks of RewardedAd are not running on the main thread of unity. It may cause many problem, please fix it soon. And I found that the sdk provide a class which name is "MobileAdsEventExecutor" could resolve the problem, but the class has not been used in the sdk.

[2019-11-05 07:21] mobile94ever commented on #1059
Same issue. RewardedAds are giving a missing reference exception related to UnityEvent callback

[2019-11-05 10:00] anilraj0410 opened #1060 "Input dispatching timed out (Waiting because the touched window's input channel is full. Outbound queue length: 1. Wait queue length: 52.) com.unity3d.player.UnityPlayerActivity"
"main" tid=1 Native
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x72741838 self=0x7d6c8c4e00
  | sysTid=4697 nice=-10 cgrp=default sched=0/0 handle=0x7df2ad39a8
  | state=S schedstat=( 15664435297 1773531630 20773 ) utm=1026 stm=539 core=6 HZ=100
  | stack=0x7fead60000-0x7fead62000 stackSize=8MB
  | held mutexes=
  #00  pc 000000000001d52c  /system/lib64/libc.so (sys

[2019-11-05 10:02] anilraj0410 opened #1061 "Broadcast of Intent { act=android.intent.action.SCREEN_OFF flg=0x50200010 (has extras) } (no location available)"
"main" tid=1 Native
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x73d4eb18 self=0xf2277000
  | sysTid=2014 nice=0 cgrp=default sched=0/0 handle=0xf66e74bc
  | state=S schedstat=( 24286955820 44874478286 123935 ) utm=1713 stm=715 core=0 HZ=100
  | stack=0xff6c4000-0xff6c6000 stackSize=8MB
  | held mutexes=
  #00  pc 0000000000018ebc  /system/lib/libc.so (syscall+28)

[2019-11-05 22:39] UragayalaDeepika commented on #1061
@anilraj0410 This is a known issue and we have been investigating the issue based on the details provided and the issues reported on our [Mobile Ads SDK forum](https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/%22main%22$20tid$3D1$20Native%7Csort:date/google-admob-ads-sdk/_NkbOifiDVE/-gFlJYopAgAJ). Would you be able to provide us a sample project and the steps to reproduce the issue

[2019-11-05 22:48] UragayalaDeepika commented on #1060
@anilraj0410 Could you please provide us some additional details to investigate the issue further? Are you able to reproduce the issue locally?

[2019-11-06 06:36] jamged opened #1063 "Latest iOS MyTarget mediation is not compatible with latest Admob"
The most recent MyTarget mediation uses v5.0.4.0 of the "GoogleMobileAdsMediationMyTarget" pod. However, this version still has some uses of the old `GADNativeContentAd` and `GADNativeAppInstallAd` classes which were removed in version 7.46 of the core "Google-Mobile-Ads-SDK" pod.

As a result, I get compile errors in Xcode when using the latest google-mobile-ads Unity plugin for iOS and the MyTar

[2019-11-06 12:55] Antik22 opened #1064 "Unity Admob Mediation TestSuite CRASH!"
Hi there, I have Unity (2019.1.7f1) project where I tried to implement Google Admob Ads by Mediation (I want to use these networks: Facebook Ads, AppLovin, Unity Ads, ironSource, Vungle). Before this I successfully implemented Admob Ads without mediation, everything was working fine. Then I made everything like in integration guide (https://developers.google.com/admob/unity/mediate): imported Admo

[2019-11-06 14:49] NMHoang05 opened #1065 "banner rotation for landscape orientation"
Hello!
I want to apply Admob to my project. I followed the guide [here](https://developers.google.com/admob/unity/test-ads), the test banner displays properly in portrait orientation but in landscape orientation, it's not what I want, please check the following image:

![google admob banner](https://user-images.githubusercontent.com/20160088/68308038-c10fcf80-00de-11ea-8440-dd556138751b.png)

is t

[2019-11-06 20:52] UragayalaDeepika commented on #1057
@uokivan You can follow the guidelines as mentioned here: https://developers.google.com/admob/unity/start and the plugin would automatically update what's required in the project. If you are using Unity 4, then you would have to follow this additional step as well: https://developers.google.com/admob/unity/start#unity_4_compatibility.

[2019-11-06 23:32] stowy commented on #1064
Hi, can you please share a sample project for this? This seems unexpected.

[2019-11-07 03:50] pickOneName commented on #1058
The version of unity admob sdk I used is v4.0.0, Is there any solution?

[2019-11-07 15:57] rotter opened #1067 "Adaptive Banner Portrait Reflection Error"
When using Adaptive banner, if I call the method AdSize.GetPortraitAnchoredAdaptiveBannerAdSizeWithWidth I get the following exception:

AndroidJavaException: java.lang.NoSuchMethodError: no static method with name='getPortaitBannerAdSizeWithWidth' signature='(Lcom.unity3d.player.UnityPlayerActivity;I)Ljava/lang/Object;' in class Ljava.lang.Object;
    java.lang.NoSuchMethodError: no static method

[2019-11-07 16:17] rotter commented on #1067
Obs: I havent tested the other method (GetLandscape...), so it might be bugged as well

[2019-11-07 17:04] stowy commented on #1067
Thanks for reporting. I can confirm that this is a bug with the Android
implementation for portrait.  I'll provide a fix in the next update.

If you want to fix it locally then the line at
https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Platforms/Android/Utils.cs#L131
should
be:

return adSizeClass.CallStatic<AndroidJavaObject>("
getPortraitBann

[2019-11-07 19:26] rotter opened #1068 "Adaptive Banner - Doesnt work on Landscape?"
I am trying to migrate to Adaptive banner, on a game that is Portrait it worked fine.

Now I am trying to make it work on a game that has rotation, but the banner wont load when in Landscape orientation. When it's on Portrait orientation it works fine.

The error I get isnt very descriptive: I get an "Invalid request" on AdFailedToLoadEventArgs.Message

Any ideas?

[2019-11-07 19:32] rotter commented on #1068
As a workaround (if someone else has the same issue), I am loading SmartBanner size when in Landscape mode, and Adaptive when in Portrait

[code]

[2019-11-07 20:39] stowy commented on #1068
This is interesting, since when I tested landscape itself it worked fine. Have you tried testing launching in landscape? I have a feeling it may be related to the timing of the request - ie the SDK thinks that the system is in portrait but unity thinks it's in landscape.  Are you using the currentOrientation API or the landscape API?

[2019-11-07 21:17] Antik22 commented on #1064
Hey, can you give your email and I will send you the link? I don't want to share it here.

[2019-11-07 21:19] stowy commented on #1064
Sure, send to  mobileads-sdk-support@google.com, and please reference this
issue.

On Thu, Nov 7, 2019 at 1:17 PM Tony <notifications@github.com> wrote:

[2019-11-07 22:13] ericleich commented on #1063
@joshuajplagonera is working on an update and we'll also audit other networks that support native ads.

[2019-11-07 22:48] stowy commented on #1055
Thanks for reporting, yes I can confirm that there is a bug in loading rewarded ads in the current release of mediation test suite for iOS. This is not indicative of a problem in your app. There will be an update published in the next week or so to address this. In the meantime if the other checks are passing and you are also seeing ad requests for the network in question firing using charles or y

[2019-11-08 06:25] RatsLoveCats commented on #880
I have the same problem, I put Enable-Bitcode to No, but I have not built it successfully.

[2019-11-08 06:25] RatsLoveCats commented on #880
@saqibkhan2523 I have the same problem, I put Enable-Bitcode to No, but I have not built it successfully.

[2019-11-08 06:36] RatsLoveCats commented on #880
@UragayalaDeepika

[2019-11-08 08:45] sebastian-dudzic opened #1072 "Using WebView from more than one process at once with the same data directory is not supported. https://crbug.com/558377"
Hi,

I'm using newest AdMob sdk 4.1.0 for Unity. I've noticed new crashes.

**Using WebView from more than one process at once with the same data directory is not supported. https://crbug.com/558377**

Fatal Exception: java.lang.Error
FATAL EXCEPTION [main] Unity version : 2018.4.5f1 Device model : samsung SM-G955F
Caused by java.lang.RuntimeException
Using WebView from more than one process at on

[2019-11-08 11:53] MuhammadWaqasOfficial opened #1073 "Game Crashing With ( libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper )"
Game crash when admob ad call to show with  ( libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper ).
Using
- Google Mobile Ads Unity Plugin v4.1.0
- Google Mobile Ads iOS SDK 7.52.0
- Unity Version 2019.1.2
Without admob game is not crashing.

[2019-11-08 12:07] rotter commented on #1068
I use neither (Im not really sure what those APIs are). It was a long time ago I implemented that part and instead of checking for events/etc I noticed I could just check for the Screen.width/height, and when width > height Im on Landscape, else Im on Portrait. But I dont think it makes any difference, does it?

Now regarding launch that makes some sense (if that portrait/landscape check is cached

[2019-11-08 18:58] stowy commented on #1059
In terms of main thread this is the case and has been the case for all formats for some time. We can't use the MobileAdsEventExecutor because it won't run while the ad activity is showing.

Are you facing the same problem with other formats?

@mobile94ever can you please share an example of what callback is raising an exception - a stack trace would be a good starting point.

[2019-11-08 21:40] Kendja opened #1074 "[iOS] Building error for iOS using unity and facebook mediation plugin"
Hey there,

I'm using admob + **Unity Mediation** and **Facebook plugin**.
**Unity 2019.2.11f1**

Updated unity to fight not related issue, and can't build now on for **iOS**. Android is working without issues.

**My pod file**:
[code]

**Error**:
[code]
[code]

**Image of error in xcode:**
![img](https://i.imgur.com/VGJHmm4.png)

Didn't find anything with GADUMSetGDPRConsentMetaData, only link in

[2019-11-08 21:53] stowy commented on #1074
You should update your Facebook adapter version. NativeAppInstall ads have been removed from the iOS SDK. The latest adapter version is 5.6.0.0 but the unity plugin has been updated to support 5.5.0.0.

[2019-11-08 21:56] Kendja commented on #1074
@stowy thanks. I tried it before, but had some other errors before found out about ":modular_headers => true".

Gonna try the 5.5.0.0 again now.

[2019-11-08 22:11] Kendja commented on #1074
oh yeah, 5.5.1.0 fixed the `"_OBJC_CLASS_$_GADNativeAppInstallAdView"` issue, but

**not sure if related to actual error:**
[code]
**_GADUMSetGDPRConsentMetaData**:
[code]

![1](https://i.imgur.com/tn41lIW.png)
![1](https://i.imgur.com/v92x77Y.png)

[2019-11-08 22:33] Kendja commented on #1074
@stowy Just found out that there's unity adapter 3.3.0.0 already: https://github.com/googleads/googleads-mobile-android-mediation/blob/master/ThirdPartyAdapters/unity/CHANGELOG.md#version-3300

tried to build with  `pod 'GoogleMobileAdsMediationUnity', '3.3.0.0'`, but got the same result

[2019-11-08 22:47] stowy commented on #1074
It looks like you're missing this [file](https://github.com/googleads/googleads-mobile-unity/blob/0a2af6a9bac5cf0830a13f140c3bf3b9f893e363/mediation/UnityAds/source/plugin/Assets/Plugins/iOS/GADUMUnityAdsInterface.m) in your project?

[2019-11-08 22:58] Chelovek-Pauk commented on #991
@DrVallo
Hello!
Unfortunately, the problem still remains.
What's more, the problem is the same for Unity Ads SDK - when the first time interstitial ad is requested, the app just freezes and no ui clicks work. You can see this issue on video here:
https://drive.google.com/file/d/1PEykoRwnpS5aaU-N0lDEX3oStY8C-awa/view
The thing is that the problem is common for my project for every sdk: ironSource,

[2019-11-08 23:18] Kendja commented on #1074
ahh, that's was it! Thanks a lot, @stowy !

[2019-11-08 23:18] #1074 closed

[2019-11-09 00:19] stowy commented on #1068
Ok, I've determined what this is, it's because (not sure if on all devices) the Unity screen width is larger than the Android screen width, and then the SDK thinks that you're requesting an ad wider than the screen and the request fails.

Are you seeing this on iOS or only Android? Also which devices?

[2019-11-09 00:42] DrVallo commented on #991
Hello @Chelovek-Pauk , doing different tests I was able to solve the crash problem regarding RewardVideo on iOS.
I discovered that before starting the ad (only on iOS) it is necessary to stop the audio of the running game (I had the soundtrack of the game activated in beckground), and reactivate it once the ad has been closed. Managing all this with a Coroutine, it seems that the app doesn't crash

[2019-11-10 01:52] NMHoang05 commented on #1065
is this possible?

I tried Adsize = 50, 320 but the ads failed to load with error `no fill`

[2019-11-11 01:45] dqh147258 commented on #1059
The UnityEngine not allow accessing it not in main thread , if we access UnityEngine not in main thread the application may crash.

Most of the time we don't need handling event while unity is stopped , you could let the events run before or after the ad activity is showing.

Even if you don't , I think you should remind users that all callbacks is not running in main thread in developer guide.

[2019-11-11 15:10] rotter opened #1075 "How to tell current version of Native Ads build?"
On the Native Ads page there is a link to download the Native Build, but I have no idea which version is that. I'm afraid that if I import it will be an older version and maybe Adaptive banner will stop working, or I will have some other problem. I took a quick look on the import files and it's not clear which version is that build. Maybe add the Native builds to the release tags as well? So toget

[2019-11-11 15:10] rotter commented on #1075
Native Ads Unity page mentioned: https://developers.google.com/admob/unity/native-advanced-unified

[2019-11-11 16:27] DongerGroup commented on #1055
I got the same problem,To AdColony,got this problem in the latest verison of admobtestsuite plugin
![image](https://user-images.githubusercontent.com/35094427/68603408-2995ec80-04e3-11ea-91b7-06d408766712.png)

[2019-11-11 16:47] stowy commented on #1075
The version is available in AdRequest, the constant is AdRequest.Version. We tend to update the native version around the same time as the public version. But I will consider your feedback to see how we can make it more visible before integrating, thanks.

[2019-11-11 17:12] rotter commented on #1075
Thanks, found the version. But it's a bit troublesome as I had to create a new project to import it to be able to check the version (so it doesnt mess my live project in case it's an old version)

[2019-11-11 21:41] rotter commented on #920
I tried adding Native Ads today to a game that didnt have Native yet, just downloaded the 4.1.0.1 Native Build and right on my 1st build attempt I got this exact same error. Luckily I remembered I had ran into this some time ago (6 months ago, it seems), so I didnt waste any time on this.

This other game also uses IL2CPP and App Bundle, and Im on Unity 2019.1.14f.

Any ideas/workarounds/fixes com

[2019-11-12 14:25] #1058 closed

[2019-11-12 15:38] hanseul1795 opened #1076 "building Android app with aapt2 and Java.Lang.NOClassDefFoundError"
I was building an `.aab` package with Xamarin Android and I got the following error:

`Java.Lang.NoClassDefFoundError: Failed resolution of: Lcom/moat/analytics/mobile/glft/MoatAnalytics`

I don't know where to start to fix this issue, please help!

[2019-11-12 15:48] #1076 closed

[2019-11-12 19:09] rotter opened #1077 "Native Ads - No fill even with test adunit id"
I am trying to implement Native Ads on a new game, but I cant test it, I always get "no fill" error.

I tried, without success:
- adding my device with addTestDevice
- removing any calls to addTestDevice (I read somewhere that in the past Native couldnt have addTestDevice or it would return nofill)
- using the test ad unit id for Native ( ca-app-pub-3940256099942544/2247696110 )
- using both the t

[2019-11-12 19:22] UragayalaDeepika commented on #1064
Ref : https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/Google$20TestSuite$20Mediation$20Crash%7Csort:date/google-admob-ads-sdk/Tuh_wm4pbyo/yQ72bU4RAAAJ

[2019-11-12 19:22] #1064 closed

[2019-11-12 19:23] stowy commented on #1055
I've released the fix in iOS in version 1.1.1 of the Mediation Test Suite. You can update the dependencies file in the plugin to receive the fix. Alternatively I will be releasing an update to the MTS unity package in the coming days.

[2019-11-12 19:25] UragayalaDeepika commented on #1077
@rotter Please post your Ad serving issue or any other SDK related issues on our [Mobile Ads SDK forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) so that our team will assist you further.

[2019-11-12 19:25] #1077 closed

[2019-11-12 19:43] rotter commented on #1077
Well, I dont know for sure that it's SDK related, it could very well be something caused by the plugin. But if you're so sure this bug isnt related to the plugin, I can certainly post it on the provided forum/link, thanks.

[2019-11-12 19:46] UragayalaDeepika commented on #1073
@MuhammadWaqasOfficial Can you provide us the complete stack trace? Are you able to consistently reproduce the problem on your end? Can you provide a test app the reproduces the issue?

[2019-11-13 00:28] stowy commented on #1055
Released version 1.2.1 of the Mediation Test Suite Unity plugin which contains the iOS update.

[2019-11-13 00:28] #1055 closed

[2019-11-13 02:58] yantian001 opened #1080 "ANR in InterstitialAd.loadAd"
We found many ANR in Google Play Console cause by InterstitialAd.loadAd
![admob anr](https://user-images.githubusercontent.com/8159444/68729239-64437600-0604-11ea-8d4d-a5e1307bf213.jpg)

We use the latest unity plugin 4.10.0 with ironsource mediation.

[2019-11-14 21:13] SmartProjectGMBH commented on #1007
any news about this bug? Vungle and AdColony update sdk to fix this problem, can you please update adapters for these networks?

[2019-11-15 06:49] oddgames-david opened #1083 "Signal 11 when used in conjunction with Bugsee SDK"
I've got two games sharing the same code base except one of them I upgraded the admob sdk to 4.10

When I turn on Bugsee (www.bugsee.com) and try to watch a reward ad or interstitial, either on the first or 2nd advert I'll get this crash that also causes strange artifacts on the screen.

In my second game I'm using 3.18.3 and there is no issue with or with bugsee being turned on.

11-15 12:34:18.2

[2019-11-18 09:22] brucelam commented on #1020
Can you help me?? I tried many ways but didn't work!!

[2019-11-18 11:05] dinochrome commented on #1020
I got exactly the same error, 70 duplicate symbols. As far as I understand, there is no solution?
The error appears on a fresh Unity project (2018.4) with added Firebase Messaging and Google Mobile Ads.

[2019-11-19 10:29] anilraj0410 commented on #1060
Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 55. Wait queue head age: 5509.5ms.)

com.unity3d.player.UnityPlayerActivity

"main" tid=1 Native
"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x7267bc68 self=0x72e9ac3e00

[2019-11-19 12:25] ivk1800 commented on #1009
@makmatics can you tell me more about how to do this?

[2019-11-20 08:51] #1083 closed

[2019-11-21 15:22] rlehmannJC opened #1085 "MobileAdsMediationTestSuite 1.2.1 not building on Android"
The MobileAdsMediationTestSuite 1.2.1 fails the gradle build step, with the following exception:
**Exception while processing task java.io.IOException: proguard.ParseException: Expecting opening '{' at '\*\*' in line 45 of file '/Users/jenkins/.gradle/caches/transforms-2/files-2.1/70789f5548d8ad34604c5ef31e6c9c72/proguard.txt'**

The file looks like that:

Full output:

[2019-11-22 14:20] f-juicy commented on #598
Hi there,

I have a similar problem with my application. I followed the steps presented above but it didn't yield the expected results. Maybe my specific situation requires additional or broader Keep instructions or maybe there is something specific I am missing here.

To give you a little context:

- My problem appeared when I included AdMob in the project
- I am using gradle and proguard
- I fol

[2019-11-23 15:14] namquang93 commented on #1015
We got exactly the same error in our game which is using Admob v4.1.0, Facebook SDK 7.18.0 and Firebase 6.0.0.

[2019-11-25 10:05] matie commented on #1068
Hi,

Landscape adaptive banners doesn't work on all devices.
I'm not sure, but Unity normally returns an equal or smaller Screen.Width. Not a larger width.

At the mobiles returning the "Invalid Request" error; When providing a slightly smaller width, it does show a banner, but not stretched out and the height is too large. In other words, seems it doesn't adapt at all but a regular 320x50 box or

[2019-11-25 10:53] matie commented on #1068
Hi,

Further testing; LG G4 (Android 6.0.1) gets an adaptive landscape banner, but shows it the same way as SmartBanners (not stretched, lot of black around a default, text banner).

Out of 10 different devices; 50% works as it should, the other half doesn't.

regards.

[2019-11-26 02:39] namquang93 commented on #1005
Hey, we found the issue. Turn out it was caused by us when calling the method to load ads in a subthread. Changing it to main thread fixed the issue.

[2019-11-26 02:39] #1005 closed

[2019-11-26 15:45] ishnu47 opened #1086 "BannerAd - iOS: FPS drop"
Hello,
I'm using GoogleMobileAds-v4.1.0 (with Unity 2018.4.12f1) on iOS and got these strange issues:

1. Every time the banner ad loads/refreshes, I can see a significant fps drop. Most of the time, player is dragging object, so that's easy to be seen and causes bad feeling to players.

2. When there is a banner ad showing, if I swipe the screen from top to bottom to view the phone's notification

[2019-11-26 18:11] essoperagma commented on #976
As discussed in [this issue](https://github.com/googleads/googleads-mobile-unity/issues/1059), RewardedAd callbacks are not always triggered from the main thread. Changing the value of primitives should be fine, but as soon as you do something bigger you will corrupt your memory. Monobehaviour.print works, because it is [most likely](http://answers.unity.com/answers/1103683/view.html) thread safe.

[2019-11-29 06:29] newstrong opened #1087 "nativeads MotionEvent crash"
Hi:
   I use admob android and unity plugin together to display nativeads,but I found admob random crash when close interstitial or reward ,I can't fix it,please help me to resolve it.
The crash log is :
                          2019-08-07 11:04:46.175 21456-21456/? E/MessageQueue-JNI: java.lang.RuntimeException: MotionEvent { action=ACTION_UP, actionButton=0, id[0]=0, x[0]=987.4512, y[0]=76.4209

[2019-12-02 02:58] DongerGroup commented on #1032
I have the same issue in 2019.2.10f,iOS building.

[2019-12-02 10:12] JabluszkoPL commented on #1085
I have the same problem

[2019-12-02 10:28] daancode commented on #1085
Same here. I have that problem with local builds and I can't find any solution for that.

[2019-12-02 13:46] DongerGroup commented on #1032
Now I solved this problem i met

[2019-12-02 17:30] stowy commented on #1085
Can you share repro steps or a sample project?

[2019-12-03 14:55] JabluszkoPL commented on #1085
@stowy
https://drive.google.com/file/d/1LmSxAGnWRSX1oPeEj62r6YerV6O0U-bK/view?usp=sharing

[2019-12-04 09:03] matie commented on #1068
Hi. Any updates?

[2019-12-04 16:33] FaiyazMdAbdul opened #1100 "Live Ads Appearing on test ad unit id"
Live ads are appearing when i am using test ad unit id. I have even deleted the rewards ad unity id i created just to make sure.
I haven't created test device but application is registered and not uploaded on play store yet.

However this doesn't happen on the primary device i test with . It happens only on other phones.

[2019-12-04 18:50] stowy commented on #1068
I have determined that our SDK is getting a different max screen width from Unity which is why the ad request is determined as invalid. We haven't determined why the screen width we're getting is not the full screen width. The SDK is using DisplayMetrics screen width.  So the investigation is ongoing.

[2019-12-04 19:00] stowy commented on #1085
Thanks @JabluszkoPL - I can confirm that there appears to be a syntax error in the mediation test suite proguard file on Android which is causing this error.

To get it to build you could disable proguard or revert to an earlier version (1.2.0 I think).

I will release an update with the fix in the next week or so.

[2019-12-05 11:25] DongerGroup opened #1103 "Rewarded Video Cannot be close"
the rewarded video was work ok before two days ago, but it suddenly cannot be closed in iOS device,Admob4.1,Unity2019.2.10f
the console message of xcode below
`nw_coretls_read_one_record tls_handshake_process: [-9802]
2019-12-05 19:08:53.993080+0800 DEEP[1049:178434] [] nw_coretls_read_one_record tls_handshake_process: [-9802]
2019-12-05 19:08:53.994437+0800 DEEP[1049:178416] NSURLSession/NSURLCon

[2019-12-06 05:58] #1103 closed

[2019-12-07 21:00] ozergul opened #1106 "Unity 2019.2.14f1 android build error"
Hello

I am using Unity 2019.2.14f1.

I imported GoogleMobileAds-v4.1.0.unitypackage and tried to build to android.

Here is the summary of error:

Full error:

[2019-12-08 16:49] GioPan04 commented on #645
Same problem here...

[2019-12-09 13:51] roointan opened #1107 "Unity plugin RewardedAd class missing getRewardItem method, for getting load time reward value"
Using Unity 2019.2.3f1
Google Admob Unity Plugin version 4.1.0

Here: https://developers.google.com/admob/unity/rewarded-ads
In the list of improvement on the top of the page, this is one of the items: 'Access the reward value at ad load time."

But I don't see any getRewardItem() method of the RewardedAd object, or anything similar to access the Reward item.
I checked the Android Implementation,

[2019-12-10 22:13] stowy commented on #1085
I've just released Mediation Test Suite version 1.2.2 which should resolve this issue.

[2019-12-10 22:13] #1085 closed

[2019-12-11 22:25] UragayalaDeepika commented on #1100
@FaiyazMdAbdul Please post your Mobile Ads SDK related issues on[ Mobile Ads SDK Forum ](https://groups.google.com/forum/#!forum/google-admob-ads-sdk)and our team will be able to assist you further.

[2019-12-12 07:36] ChaserKnight opened #1110 "Email from Google about Migrate to the Play Install Referrer API by March 1, 2020"
Hi,

I received an email notification from google that I need to migrate to the Play Install Referrer API by March 1, 2020, for almost all of my apps. I just use this AdMob plugin and no other third party plugins, I also don't use Firebase. So I think this is somehow related to the AdMob plugin. I use the latest version (v4.1.0). I found out after reading some places that it is related to the perm

[2019-12-12 08:15] #1073 closed

[2019-12-15 00:06] ozergul commented on #1106
The reason was language of the computer. In my case my computer was Turkish language and I set it to English. Problem solved.

[2019-12-15 00:06] #1106 closed

[2019-12-16 13:46] rotter opened #1111 "Facebook FAN not working on latest plugins?"
Since I updated to 4.1.0 (or maybe 4.0.0) the Facebook plugin integration seems to have stopped working (using Open Bidding). I only noticed because my Admob account manager asked me why my Facebook revenue dropped to 0 over the past month.

I am checking the logs and I see nothing odd on the log, except it says it's not initialized. I have no idea what might be wrong.

Log:
`I/Unity: Adapter: com

[2019-12-16 13:47] rotter commented on #1111
Obs: this happened on 2 different games

[2019-12-16 13:55] rotter commented on #1111
I appended the status.Description to the log, and this is the new updated message:

`I/Unity: Adapter: com.google.ads.mediation.facebook.FacebookMediationAdapter not ready --> Failed to create Adapter.`

[2019-12-16 18:54] rotter commented on #1111
Ok, fixed it, in fact it depends on another library/module which I didnt remember. So I added the latest version of it and it started working.

For future reference, this is the link to download it (Facebook Mobile Adapter):
https://bintray.com/google/mobile-ads-adapters-unity/

I honestly dont understand very well why are so many different files needed, but in any case it's not a bug, so I will c

[2019-12-16 18:54] #1111 closed

[2019-12-18 23:23] Alex-lowe commented on #397
Testing my ability to comment, because I'm running into the same error here.

My current theory is that our company's proxy blocking the gist.github.com URL.

[2019-12-19 12:14] Nitrome-Steed opened #1113 "Can only compile Admob with Unity 2019.1.13f1 (64-bit) on Windows 10"
Admob refuses to compile a working project for me in versions of Unity available on Unity Hub.

I tried importing Unity Admob into an empty project and compiling it. This is what logcat reports:

`C:\Users\astee\AppData\Local\Android\Sdk\platform-tools>
C:\Users\astee\AppData\Local\Android\Sdk\platform-tools>adb logcat
--------- beginning of main
12-18 16:10:53.764  6854  6869 I zygote  : Backgrou

[2019-12-19 21:29] stowy commented on #1113
Hi @Nitrome-Steed

Sorry to hear of your experience. For future reference the best place to get assistance on these issues is [our developer forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines). I would recommend starting a thread there and include reproducing steps and ideally a sample project.

I have built Unity projects containing the GMA SDK with Unity versio

[2019-12-22 01:31] madTeddy opened #1115 ""Missing scripts" warnings and serialization exception when initializing ads on device"
When initializing ads on device, i see in the logcat 2 warnings and 1 exception every time. Ads still working, but i don't want to see them in the release.
**Without this plugin all is fine.**

**UPDATE**
I found why this problem happens and this is not when ads initializing. I can remove initializing code, but error still occurs. Problem is **async scene loading** or just scene changing. I have p

[2019-12-23 10:59] youdk opened #1116 "Unity SDK 4.1.0 can not get Facebook Ad anymore"
We were using Unity SDK 3.15.0 and we could get both Admob and Facebook Ads filled in the past. After we upgrade SDK to 4.1.0, we can not get Facebook filled any more, now only admob ads being filled.

Is this a known issue? Does anybody have any idea about this issue?

[2019-12-23 22:10] #1115 closed

[2019-12-23 23:14] sheershatv commented on #1115
sheersha.tv

[2019-12-24 13:40] daoth90 opened #1118 "How to know the SDK initialize successfully?"
I'm using Unity 2019.2.10, Admob v4.1.0
I have a question that "Do you have a flag to know when the SDK inits successfully?"
I've tried to use MobileAds.Initialize(initStatus => {}) but it seems doesn't work.

[2019-12-24 13:47] daoth90 commented on #1118
One more thing: I actually don't use mediation, I know the callback initStatus is for it. But how I can use it (initStatus), I've read the doc but can't find anything related to how to get Adapter Status or how to use "initStatus". Please help me

[2019-12-26 09:25] MuhammadWaqasOfficial opened #1120 "GoogleMobileAdsClientFactory Conflicts"
I am implementing "Unity Native Advance". As per instructions imported "GoogleMobileAds-v4.1.0" then "GoogleMobileAds-native" unity package.
Both these packages has GoogleMobileAdsClientFactory.cs script. Therefor getting errors.
When i removed any of GoogleMobileAdsClientFactory.cs script. Error resolved as expected.

GoogleMobileAdsClientFactory.cs scripts locations
1- Assets\GoogleMobileAds\Pla

[2019-12-26 09:37] MuhammadWaqasOfficial commented on #1120
resolved. I miss the point. Have to import google mode ads native package only. :)

[2019-12-26 09:37] #1120 closed

[2019-12-26 13:40] Thaina commented on #859
Still have the same problem. I am not sure Vungle are really served but cannot be test in the suite is bugged me

[2019-12-27 10:33] Thaina opened #1121 "Mediation Test Suite 1.2.2 crash android"
Build android with latest `Google Mobile Ads Unity Plugin v4.1.0` with `Vungle` `UnityAd` `ChartBoost` and `AdColony` mediation. When opening the test suite, it seem normal until I try to go into any mediation to load ad, it crash

logcat is like this

[code]

Using `1.0.0` work fine except Vungle cannot be tested ( same as #859 )

[2019-12-27 11:55] MuhammadWaqasOfficial opened #1122 "Build Failing With Admob Unity Native Ads Advance (Unified)Package"
Build failed at building native binary with il2cpp" stage while building for android with admob unity native ads advance unified package ( GoogleMobileAds-native.package ).
Error occur when "Scripting Backend" change to IL2CPP in Player settings.
Errors:
- Error 1
[Error 1.txt](https://github.com/googleads/googleads-mobile-unity/files/4005224/Error.1.txt)
- Error 2
[Error 2.txt](https://github.com

[2019-12-28 03:02] dnyanesh11118 commented on #1121
Good

[2019-12-28 11:55] MuhammadWaqasOfficial commented on #1122
For Issue Resolved When Upgraded To Unity version 2019.2.17f1.

[2019-12-28 11:55] #1122 closed

[2019-12-29 21:56] stowy commented on #1121
This may be happening because you are not initializing the Mobile Ads SDK before launching the test suite.  The [AdMob Unity documentation](https://developers.google.com/admob/unity/start#initialize_mobileads) specifies that you should initialize the SDK on app launch.

Also, are you including the AdMob App ID in your application manifest, as per [these docs](https://developers.google.com/admob/un

[2019-12-30 04:24] Thaina commented on #1121
@stowy Did anything become difference between `1.0.0` and `1.2.2` ? In 1.0.0 I don't need to do initial bits

[2019-12-30 04:34] stowy commented on #1121
Yes quite a bit has changed, see these Android release notes:

https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/mediation$20test$20suite%7Csort:date/google-admob-ads-sdk/cFrbpA4Rgwk/UqAWiz5aBQAJ

I don't quite follow what you mean when you say you don't do initial bits?

On Sun, Dec 29, 2019 at 8:24 PM Thaina Yu <notifications@github.com> wrote:

[2019-12-30 04:37] Thaina commented on #1121
@stowy My code is exactly the same as `1.0.0` just import `1.2.2` into project make it cause this behaviour. So if this effect came from `not initializing the Mobile Ads SDK` then there would seem wrong

[2019-12-30 04:50] stowy commented on #1121
That's a fair comment.

The reason that I see the first log about MobileAds.initialize is because
in version 1.2.0 we added version support which queries the MobileAds
version for the AdMob adapter, and this causes the crash because you have
not initialized MobileAds.

The second crash seems more problematic from our side, this seems to
indicate an issue with the app ID. Are you launching the test

[2019-12-30 04:52] Thaina commented on #1121
@stowy Thanks for your suggestion. I would try those in my next workday

[2020-01-01 08:58] QuanHuynhM commented on #1073
Have you found the any solution? Im getting the same error

[2020-01-01 11:53] MuhammadWaqasOfficial commented on #1073
@QuanHuynhM  in my case back then unity admob  supporting  "Google Mobile Ads iOS SDK 7.51.0" and i add  "Google Mobile Ads iOS SDK 7.52.- -" in my xcode.
Also make sure Google Mobile Ads IOS SDK version is same as in GoogleMobileAdsDependencies.XML and in xcode.
Recently i make build successfully through cocoapods procedure.
Still need help come on "anydesk" . Happy to help you.

[2020-01-01 12:11] Thaina commented on #1121
Fixed. Thank you very much

[2020-01-01 12:11] #1121 closed

[2020-01-02 05:13] QuanHuynhM opened #1124 "Game Crashing When Showing Interstital Ads ( libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper )"
Game crash when admob ad call to showing with ( libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper ).
Using

Google Mobile Ads Unity Plugin v4.2.0
Google Mobile Ads iOS SDK 7.53.1
Unity Version 2019.2.17

[2020-01-02 05:16] QuanHuynhM commented on #1073
@MuhammadWaqasOfficial
I did try according to you said. I have adjusted everything about the admob setting to 7.52, although the latest version is 7.53.1 right now, this error is the same.

Currently I am using

Google Mobile Ads Unity Plugin v4.2.0
Google Mobile Ads iOS SDK 7.53.1
Unity Version 2019.2.17

[2020-01-02 07:19] QuanHuynhM commented on #1032
@DongerGroup  I have the same issue in 2019.2.17f,iOS building. Can you suggest me solution?

[2020-01-02 14:49] #1124 closed

[2020-01-02 16:12] stiliyanv opened #1125 "Google Mobile Ads SDK with Swift Package Manager (SPM)?"
Is there a way to import **Google Mobile Ads SDK** into my Xcode application through **Swift Package Manager (SPM)** instead of **CocoaPods** or **Manual Download**?

This repository doesn't have `Package.swift` file so I suppose that it is not designed to work with **SPM**. Any future plans in this direction?

[2020-01-05 01:34] brucelam commented on #1020
my fault !! import duplicate plugin and Native Ad crash on Simulator but work on Device.

[2020-01-05 01:34] #1020 closed

[2020-01-06 11:04] Nitrome-Steed commented on #1113
I did not mention 2019.1.14 or 2019.2.9f1. Neither of those are available through Unity Hub at this time. I have currently been reduced to trying whatever random version people recommend and trying to download it - which takes me hours of downloading. I have been doing nothing else but constantly downloading versions of Unity and NDKs for weeks.

I'll try to create a sample project for the develop

[2020-01-06 13:01] BuKuSiShen opened #1128 "GoogleMobileAds/GoogleMobileAds.h' file not found"
Unity2018.2.21 GoogleMobileAds-v4.2.0.unitypackage  build Xcode on Windows,then build Xcode on Mac,build errror GoogleMobileAds/GoogleMobileAds.h' file not found,for help!
![image](https://user-images.githubusercontent.com/12295354/71819705-a9959880-30c7-11ea-9d51-5d74892e0555.png)

[2020-01-07 05:26] BuKuSiShen commented on #1128
I tested  build Xcode in Unity on windows with error,just now i test build xcode on Mac and build by xcworkspace with success !

[2020-01-07 22:58] stowy commented on #1128
This is a cocoapods integration issue, not related to the plugin.

[2020-01-07 22:58] #1128 closed

[2020-01-07 23:02] stowy commented on #1113
Hi @Nitrome-Steed

I do not believe this is a plugin issue, more of a project set up issue. It should be able to be resolved using whatever version of Unity you are using, but I am unable to assist without a sample project.  The [developer forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) would be a more appropriate place to get expedited assistance.

[2020-01-07 23:16] stowy commented on #1125
No, sorry there are not currently any plans to support SPM, it does not contain any swift code.

[2020-01-08 07:37] samavan opened #1131 "TestAd show up but my ads won't."
Unity 2020.1.0a17 + GoogleMobileAds-v4.2.0.unitypackage

When using the test Ads ID everything's working.

Now using my own AppId + other ads ID for iOS (banner/interstitial/reward), nothing's showing up.
I only get error on request and basically empty message :

- Banner :

- interstitial :

- Reward :

... which doesn't really help.

I did add the ".AddTestDevice("bc2aac4185b6b44f320ff1d39478bda

[2020-01-08 08:12] samavan commented on #1131
Seems other folks got the same issue there :
- https://support.google.com/admob/thread/1755290?hl=en

[2020-01-08 11:25] samavan opened #1132 "Sample not working on android"
Unity 2020.1.0a17

What I do :

1. Clone the Git project.
2. Open Unity project to path : ...\samples\HelloWorld.
3. Download & import GoogleMobileAds-v4.2.0.unitypackage.
4. Let the Android resolver do its job.
5. Click on Asset > Google Mobile Ads > Settings... to make a GoogleMobileAdsSettings node.
6. Enabled > on, android app Id copied from the GoogleMobileAdsDemoScript.cs file.
7. Click on A

[2020-01-08 17:11] stowy commented on #1132
Hi, can you please capture the logs from logcat that you are seeing and share?

[2020-01-09 03:00] samavan commented on #1131
Waking up, tried yesterday build... and everything working now.
Could be a delay account validation I guess... =_=#...

Make that could be wise if your server could send back a message such as
`Account still pending, ad can't be requested.`
To avoid some of us burning time for nothing :;(

[2020-01-09 03:00] #1131 closed

[2020-01-09 04:50] samavan commented on #1132
There is actually a log from Google Ad.
Now one more time, I am using the Sample code and last admob plugin version without any editing as I did on iOS (which works on iOS).

[2020-01-09 04:51] samavan commented on #1132
GoogleMobileAdsPlugin/AndroidManifest.xml contents :

[code]

[2020-01-09 04:56] samavan commented on #1132
Below the url to the original HelloProject where I imported the plugins, updated the Settings, etc...
I think you could simply open it then Build&Run to get the same issue... :)
- http://a.samavan.com/HelloWorld.zip

Thank you! ;)

[2020-01-09 08:03] umairh2018 commented on #1068
Its also not working on Samsung S8 device.

[2020-01-09 18:35] stowy commented on #1068
I published a solution for this, use `AdSize.FullWidth` for the width parameter, see the [updated docs](https://developers.google.com/admob/unity/banner/adaptive). You should use the [latest release](https://github.com/googleads/googleads-mobile-unity/releases/latest).

[2020-01-10 07:36] umairh2018 commented on #1068
Yes, I have used it & it fixed my issue to some extent. The problem now is
that I cannot resize it s that it will be good fit for all resolution.

On Thu, Jan 9, 2020 at 11:35 PM Samuel Stow <notifications@github.com>
wrote:

[2020-01-10 16:36] stowy commented on #1068
Can you clarify what you mean by that? What is an example of it not being a
good fit for a given resolution? Can you include a screenshot?

On Thu, Jan 9, 2020 at 11:36 PM umairh2018 <notifications@github.com> wrote:

[2020-01-11 09:39] khushalkhan83 commented on #1086
noticed this issue with earlier versions too

[2020-01-13 11:19] Thaina opened #1133 "MobileAds.Initialize does not trigger callback in editor"
It just log `Dummy Initialize` and not triggering callback in editor environment

Using googleads-mobile-unity 4.2.0 and 4.2.1

[2020-01-13 17:32] stowy commented on #1133
Hi @Thaina - this is working as expected, we do not emulate SDK behavior in the editor, you need to run on an Android or iOS device.

[2020-01-13 17:41] ericleich commented on #1133
@stowy While it's true we hadn't considered doing that in the past, I think this is a valid FR. Ads currently don't load in the editor, but app code may depend on those callbacks and it breaks ability to test app code in the editor.

[2020-01-13 18:23] Thaina commented on #1133
@ericleich Thanks for your supportive argument. That's exactly why I have open this issue. I have calling Initialize function in the initial state of my app, and then the SDK just interrupt the initialization of whole app

@stowy I know that the SDK won't work in editor. But while you have dummying the initialization I hope that you would also dummy the callback too

[2020-01-13 18:29] stowy commented on #1133
Ok I'm happy to accept this as a feature request.

Note @Thaina that we do accept pull requests, so you're welcome to open one and we can work to get that submitted.

[2020-01-14 06:06] BuKuSiShen opened #1135 "RewardedAd only on iphoneXs don't show!"
All other iphone can always show RewardedAd.Plz help!

[2020-01-14 07:21] BuKuSiShen commented on #1135
Limit Ad Tracking is enabled.close this setting will show ewardedAd.

[2020-01-14 12:54] Nitrome-Steed commented on #1113
I discovered an issue with Unity 2020.1.0a16 and Admob after trying to get the plugin to work in an empty project. It may be related to the Unity package Timeline (version 1.2) - which throws errors when the project is downgraded to 2019 (the Timeline package needs to be rolled back to 1.1 and the Library folder must be deleted). Once the project is downgraded to 2019.2.17f it will compile with no

[2020-01-14 15:21] stowy commented on #1113
Ok, I don't know why that would be happening. You can post a link for a sample project here

[2020-01-14 21:13] YHSX88 opened #1138 "iOS 13.3 Game freezes once interstitial ad is closed for iPhone 6S"
### **Versions:**
iOS version : 13.3
Unity Version : 2019.2.17f1
AdMob plug-in version: Google Mobile Ads Unity Plugin v4.2.1
'Google-Mobile-Ads-SDK', '~> 7.53'

### **Devices:**
I can only test on iPhone 6S

### **Issue:**
Game is freezing/ becomes unresponsive once interstitial ad is closed on iPhone 6S

### **Steps to Reproduce:**
**Pre-conditions:**
Create simple game with 2 buttons: 1 to load

[2020-01-15 03:29] Thaina commented on #1133
@stowy Shouldn't this be as easy as just this?

https://github.com/googleads/googleads-mobile-unity/blob/d258a5004418bc363ab7ee9c9b8841484b03c511/source/plugin/Assets/GoogleMobileAds/Common/DummyClient.cs#L73-L77

[2020-01-15 08:38] khushalkhan83 commented on #1138
freeze my app too any solution?

[2020-01-15 19:11] TahaSener07 opened #1141 "Stopped polling job due to exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation."
So, I have implemented AdMob ads to my unity game and now it is the time of testing them with test ads. Once I build to Android to run on my device, Unity freezes. During playtime, I get this error when I think ads initialize:

`Stopped polling job due to exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.NullReferenceExcep

[2020-01-16 05:13] khushalkhan83 opened #1142 "Ads can't be dismissed"
Some of creatives are barely interactive, users are complaining about dismissing the ads. They can't be clicked.

[2020-01-17 10:02] umairh2018 commented on #1068
It neither covering the whole screen neither covering a half screen, Its very weird to look on adaptive ad

[2020-01-17 10:02] umairh2018 commented on #1068
covering 75% of space at bottom of screen width

[2020-01-17 10:04] umairh2018 opened #1144 "Unity: Exception: UnityEngine.AndroidJavaException: java.lang.IllegalArgumentException: adSize"
I recently added a new SDK of audience network in unity. I was using a banner ad of Facebook. but it showing this error in android devices.
**Unity: Exception: UnityEngine.AndroidJavaException: java.lang.IllegalArgumentException: adSize**
Here is my code for invoking banner ad:
[code]
I have searched but no outcome here. Anyone using a banner ad of audience network in Unity, please guide me.

[2020-01-17 10:07] umairh2018 commented on #1068
Here is the image i am uploading:
![adaptive](https://user-images.githubusercontent.com/49262867/72603526-fe90a480-393a-11ea-8451-d46bc5f28ab7.jpg)

[2020-01-17 15:13] stowy commented on #1068
@umairh2018 - what device are you testing on? Are you using `AdPosition.Bottom`?

[2020-01-17 15:16] umairh2018 commented on #1068
Samsung s8.
Yes i am using it on bottom

On Fri, 17 Jan 2020, 8:13 pm Samuel Stow, <notifications@github.com> wrote:

[2020-01-19 06:20] TahaSener07 commented on #1141
Issue fixed when I finally upgraded my Unity from 2018.2 to 2019.2

[2020-01-19 06:20] #1141 closed

[2020-01-19 20:37] frist008 commented on #391
I acknowledge the problem. 5 seconds after the start of the download, I get an error of 0 or 2. (most often 0)

[2020-01-20 00:55] herbou commented on #239
https://github.com/herbou/UnityAdmobUnifiedNativeAd

Video tutorial:
https://youtu.be/M-XdptsCWtQ

[2020-01-20 13:08] MuhammdHamza3492 opened #1145 "Unity: App Crash in IOS after Build Immediately"
I am using Unity version 2018.4.5f1 and latest unity monetization available on asset store. While using this my app is working fine in iphone but when I import this package Google Mobile Ads Unity Plugin v4.2.1 for Admob my app crashes in iphone immediately and shows this message:

#import "PLCrashReporter.h"
#import "CrashReporter.h"
#include <mach-o/ldsyms.h>

extern "C" NSString* UnityGetCrashR

[2020-01-20 20:16] famishedmammal opened #1146 "Huge spike in crashes. Has this plugin been tested with Unity 2019.3.xx?"
Since upgrading my live app to Unity 2019.3.0f5 and admob 4.2.1, the number of crashes has skyrocketed for my app (it has been beyond the bad behaviour threshold for a whole month now). Most of my crash clusters have "googleads.internal" somewhere in them.

I can't help but notice that when I press "export project" and open my unity app in anrdoid studio, the build.gradle file for GoogleMobileAdsP

[2020-01-21 17:35] stowy commented on #1146
Hi @famishedmammal - thanks for reporting. This looks like an issue with the Android SDK, specifically exoplayer3.  Are there any other crash logs? It would be better to track if you reported the issue on [the developer forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) as they have email support and can file and track bugs etc.

[2020-01-21 17:37] stowy commented on #1145
Hi @MuhammdHamza3492 can you include the stack trace for the crash? You have only included code and a screenshot of the breakpoint.

[2020-01-21 19:31] famishedmammal commented on #1146
Hey stowy, I've made a post on the developer forum as you recommended.

90% of the errors are Java.lang.Error relating to "split_config".

others are similar to this:

[2020-01-22 05:20] oddgames-david commented on #1138
I've had android freezes with rewarded Facebook and Unity mediated adverts, I'm having some success with not allowing the rewarded ad to be disposed (putting it into a list).

[2020-01-22 21:45] AAulicino opened #1149 "Rewarded Ads provided by Facebook Audience Network sometimes fail to trigger OnAdClosed and OnUserEarnedReward callbacks on iOS."
Hi,

Our iOS players are having an issue that sometimes rewarded ads won't reward.

We found out that rewarded ads provided by Facebook Audience Network sometimes fail to trigger OnAdClosed and OnUserEarnedReward callbacks on iOS without giving any error messages or exceptions.

This issue seems to happen occasionally, especially with playable ads.

I also couldn't find any other way of detecting

[2020-01-22 23:31] AAulicino commented on #1149
I was digging into the code when I found the undocumented method:

`MobileAds.SetiOSAppPauseOnBackground(true);`

So I did the following:
[code]

Unfortunately result was: After the Ad was complete, my game ended up being paused forever.

[2020-01-26 12:15] henskjold73 commented on #259
I had this issue and solved it by adding namespace to my Utils class as it conflicted with GoogleMobileAds' Utils class.

[2020-01-27 16:02] mcrvaz opened #1150 "Android 4.4 Native Crashes"
Unity 2019.2.19
AdMob SDK 4.2.1
Using IL2CPP

We've recently been receiving lots of native crash reports like this:

[code]
And this:
[code]

Pretty much all of them seem to be coming from Androids 4.4.4 and always happens when opening a Rewarded Ad with the AdMob Adapter (com.google.ads.mediation.admob.AdMobAdapter).

[2020-01-31 11:02] nkarabulut commented on #1032
Can you share it briefly ?

[2020-01-31 15:39] ishnu47 commented on #1150
Same here, but we're using Interstitial Ads instead.
Every time the interstitial ad showing, sometimes it crashes.

[2020-01-31 21:35] famishedmammal commented on #1150
I have been getting a huge number of crashes recently from this plugin as well.

[2020-01-31 22:43] AAulicino commented on #1150
Same thing here with the same **"__memcpy_base"**  stack trace.
More than a thousand crashes in Android 4.4.4 ...

![image](https://user-images.githubusercontent.com/6969647/73579370-f9fedc80-4460-11ea-9ed8-b2bded159522.png)
![image](https://user-images.githubusercontent.com/6969647/73579460-4518ef80-4461-11ea-8f26-20b522c8708e.png)

[2020-01-31 22:48] famishedmammal commented on #1150
My crash rate over the last 3 months
![crashes](https://user-images.githubusercontent.com/12555805/73579927-c3ad6700-4438-11ea-9eea-c2562e3421f6.png)

[2020-02-03 22:14] famishedmammal commented on #1150
Insteresting observation I have made after removing the admob plugin
![admob lmao](https://user-images.githubusercontent.com/12555805/73695704-7e36a700-468f-11ea-9d8d-67333f8dd3fb.png)

[2020-02-03 22:26] #1146 closed

[2020-02-04 18:04] DaniilVdovin opened #1165 "Don't work with Unity 2019.3.0f6"
Error with JAVA_HOME

[2020-02-04 21:28] #1165 closed

[2020-02-04 21:29] DaniilVdovin commented on #1165
Im just del unity and install again

[2020-02-06 06:36] joses1234 opened #1166 "Video ad not in full screen on some devices with notch."
I'm using Admob ver 4.0.0, with mediations. Recently we noticed there are some video ads that are not displayed in full screen, specifically for devices with notch. The Video ad seems to be cut around the notch area.

I was wondering if any one has ever experienced this issue? or is it device specific only? One other thing is this might be a bug of one of our enabled admob providers but I'm not ye

[2020-02-06 08:34] UnityStefan opened #1167 "Resolve Android Dependencies without setting Android API to 28"
Hello,
The situation is this: I followed all the steps for setting AdMob inside my Unity project and when I start "Force Resolve" I'm getting this message:

"Jetpack (AndroidX) libraries are only supported when targeting Android API 28 and above. The currently selected target API level is 26.
Would you like to set the project's target API level to 28?" with options "Yes", "Disable Jetifier" and "N

[2020-02-06 10:27] karam89 commented on #1065
Hello,
Were you able to show banners this way?

[2020-02-06 11:31] NMHoang05 commented on #1065
Hi,
unfortunately, I'm not able to show the banners this way.

[2020-02-06 13:32] stowy commented on #1166
Hi @joses1234, do you want to share a screenshot? I think that this may be
intended behavior.

On Wed, Feb 5, 2020 at 10:37 PM joses1234 <notifications@github.com> wrote:

[2020-02-06 23:44] AAulicino commented on #1149
Going further into it I found out that it only happens when you cache two facebook videos from the same instance (placement id).

[2020-02-07 03:29] joses1234 commented on #1166
Hi @stowy, thanks for reaching out. I've sent a screenshot here:

![adImage](https://user-images.githubusercontent.com/47806162/73998426-9282e880-499c-11ea-9724-c5a9219e27f8.jpg)

The pink part represents my game's background.

[2020-02-07 23:40] dannykay1 commented on #952
This worked for me

[2020-02-10 00:08] pipe-alt commented on #1167
you can't publish your app on the google play store with target api 26,    you need to target api 28 to publish your app, android is backward compatible, targeting api 28 is not going to "discard" previous versions of android.

https://developer.android.com/distribute/best-practices/develop/target-sdk

the "min sdk version" is the one that "discards" anything bellow the android number, not the tar

[2020-02-10 09:57] UnityStefan commented on #1167
Oh, I learned something new, thank you very much.
"Problem" is now solved! :)

[2020-02-10 09:57] #1167 closed

[2020-02-10 12:39] alishehroz commented on #748
@Wolar bro did you find any way around as these ADS really hurting the download graph.

[2020-02-12 10:48] marad747 opened #1168 "app crash after reward video close"
When i use reward video, watch it - close - app crash. Unity 2019.3.0f6, latest version plugin

[2020-02-12 10:54] marad747 commented on #1168
full android logs
[log.txt](https://github.com/googleads/googleads-mobile-unity/files/4191536/log.txt)

[2020-02-12 11:57] mohammaddabiri opened #1169 "Crash on iOS: rewardedAd:didFailToPresentWithError throws"
Observed through Crashlytics on live.

Fatal Exception: NSInvalidArgumentException
-[__NSCFString localizedFailureReason]: unrecognized selector sent to instance

![image](https://user-images.githubusercontent.com/5851479/74332508-c2136580-4d8d-11ea-9add-6e8716a1da46.png)

We can't reproduce it locally easily but it happens intermittently to live users.
We handle the OnAdFailedToShow case in clien

[2020-02-12 12:03] The3Designer opened #1170 "Target API Level 29 Incompatibility"
I'm using the latest version of this plugin, together with Unity 2019.3.0f6 and the NDK and SDK that are installed with this version. When I set the Target API Level to 29 (for Android 10 support), I get the following error message:

![asdasdf](https://user-images.githubusercontent.com/59917065/74333216-6c3fbd00-4d8f-11ea-9063-326b797544fd.png)

When I set the Target API Level back to 28 (for Andr

[2020-02-12 13:32] stowy commented on #1170
This looks like a Play Services resolver issue. Can you report it to their
issue tracker at https://github.com/googlesamples/unity-jar-resolver.

Before doing that though, perhaps try deleting all resolved dependencies
through the jar resolver menu and then doing Force Resolve.

On Wed, Feb 12, 2020 at 4:03 AM The3Designer <notifications@github.com>
wrote:

[2020-02-12 13:36] stowy commented on #1168
Looks like this is the crash:

[code]

[2020-02-12 13:36] stowy commented on #1168
I'll investigate and get back to you on this one.

[2020-02-12 13:47] The3Designer commented on #1170
I'll try this and if it doesn't work I'll report it at the link you provided!

[2020-02-12 14:22] marad747 commented on #1168
thanks

[2020-02-12 15:23] #1170 closed

[2020-02-12 15:25] marad747 commented on #1168
one more problem. When i developed i use test id and all fine. But now i need check reward video on real situation - and i have problem. Rewarded ads can load. Error - internal error

[2020-02-12 18:37] stowy commented on #1168
Hi @marad747 can you share your sample? just the Assets folder with no build files would be good. then I can try to reproduce locally. Does it reproduce on any device / API version?

[2020-02-13 09:58] SebaDudzic commented on #1169
Same here for me. Huge spike in crashes

[2020-02-13 10:00] SebaDudzic commented on #1169
Most of them are from iOS 13.3.0 or 13.3.1.
Some from 9.3.5
And only few from iOS 12

[2020-02-13 10:24] SebaDudzic commented on #1169
It seems it started crashing after upgrading Firebase SDK from 6.6 to 6.9

[2020-02-13 13:22] stowy commented on #1169
Hi, thanks for this report. Can you provide more information, this crash report doesn't seem to give enough info to determine the cause. Do we know what selector is not recognized?

Are you all using mediation, if so, what networks?

[2020-02-13 13:27] mohammaddabiri commented on #1169
Afraid we don't since the log is generated by Crashlytics and we have no means of reproing the issue manually. We are using the Unity Plugin and not the iOS layer directly.

We do use mediation with AdMob and currently support Facebook Audience Network and Unity Ads which seem to be functioning normally otherwise and without issue on Android.

[2020-02-13 13:56] SebaDudzic commented on #1169
Also cannot give you any more information due to crashlytics. We use AdMob mediation with facebook provider.

[2020-02-14 07:30] AliahmadDev commented on #1100
I have also noticed this issues many times with Google Mobile Ads sdk that original live ads are seen even with test IDs.

[2020-02-14 14:30] thiagolr commented on #1146
Also having the same issue! Is this fixed?

[2020-02-14 14:54] thiagolr opened #1171 "Crashes caused by the ads plugin"
We are having a lot of crashes reported on Firebase Crashlytics and on Android Vitals. As it is not reproducible on our test environment, it took us several weeks to finally find out what was causing all these errors.

When we removed and stopped using the Google Mobile Ads plugin, absolutely all the crashes were gone. To be sure, we added it again and just a few minutes after the update was live

[2020-02-14 15:05] stowy commented on #1169
I've determined that this is an issue with the iOS SDK, version 7.54.0 and 7.55.0.
You resolve by changing [this line of code](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml#L11) to:

[code]

Alternatively you can change the Podfile of the built iOS project to the following:

[code]

There will be an updat

[2020-02-14 15:10] cleverson-schmidt commented on #1171
Having the exact same issue here. What makes things worse is that all crashes coming from Admob puts our game above the Bad Behaviour mark. So, we may be penalised soon, impacting the number of downloads of our game.

[2020-02-14 17:16] stowy commented on #1171
Can you both please let me know what version of Unity you are using, also what version of the plugin, and if this is occurring on any specific Android API version or devices?

[2020-02-14 17:37] thiagolr commented on #1171
Plugin Versions: 4.1.0 up to 4.2.1
Unity Versions: 2019.2.9f1 up to 2019.2.21f1
Android Versions: Android 5 up to Android 10

[2020-02-14 17:47] stowy commented on #1171
@thiagolr - thanks - are those the only versions you've tested or you're saying that they started in those versions of the plugin / Unity?

[2020-02-14 17:57] thiagolr commented on #1171
We are on open beta and we were not paying much attention to these crashes at the beginning. But we are consistently seeing them (daily) for a long time (since december).

It started on plugin version 4.1.0 and we updated it to 4.2.1 when it was released. We have been updating the Unity versions almost incrementally when they are out in the hope to fix these crashes, so there is a whole range of U

[2020-02-14 18:36] stowy commented on #1171
To confirm, you are saying that this issue doesn't occur with plugins prior to 4.1.0 or Unity versions prior to 2019.2.9f1?

[2020-02-14 18:59] thiagolr commented on #1171
We started the open beta on these versions (it is only reproducible on the wild), although we used previous versions for both the plugin/unity during development. So I don't know if these issues happened on prior versions.

[2020-02-15 00:35] stowy commented on #1169
Note that this is now fixed, we released [iOS SDK version 7.55.1](https://developers.google.com/admob/ios/download) - so you can disregard the above fix and just do a clean build or run `pod update` on your iOS build to get the fix.

[2020-02-15 16:29] arpaplus commented on #1171
Confirm, a huge amount of crashes which put our apps above bad behaviour line!
2019.2.19f1 with latest AdMob

https://imgur.com/G1CpPca
https://imgur.com/I1DCwHw

[2020-02-15 16:31] arpaplus commented on #1171
Is there any workaround? Let us know please.

[2020-02-15 17:09] thiagolr opened #1173 "NullPointerException: Attempt to invoke interface method 'java.lang.String com.google.android.gms.internal.ads.zzddf.getVersion()' on a null object reference"
We are getting this crash on the "pre-launch report" from Google Play.

Full log here: https://pastebin.com/7ETKpMQd

Unity Version: 2019.2.21f1
Ads Version: 4.2.1

[code]

[2020-02-17 02:05] thiagolr commented on #1166
I'm also experiencing this on my game and also on other games that I play. My guess is that it started when I upgraded my phone to Android 10.

@joses1234 Which Android version is this screenshot from?

[2020-02-17 06:05] yenmoc25 opened #1174 "[IOS] [Bundle Id] Faild to load ads"
Hello everyone,
I was build ios with admob and I am having problems,
I have application on appstore with bundle id A
I test admob with bundle id A and it always return failed to load ads
then i change bundle id form A to B and test again it work well

What is going on with my bundle id?

[2020-02-17 08:21] SebaDudzic commented on #1169
Thanks for such a quick response and fix. We are building a fixed app right now. I will let you know if it helped in a couple of days.

[2020-02-17 10:02] JabluszkoPL opened #1175 "Tapjoy 2.4.1 missing unity package"
I notice that there is an update of Tapjoy adapter but there is missing unity package
https://bintray.com/google/mobile-ads-adapters-unity/GoogleMobileAdsTapjoyMediation/2.4.1#files

[2020-02-17 11:18] JabluszkoPL opened #1176 "Banners to low on iOS after video ad"
Whats is the issue:
All banners (in this example AppLovin) are showing to low (under home bar/button). It is happening only if banner ad is shown and then user will watch video ad.

Environment:
- iOS
- Unity 2019.2
- AdMob 4.1.0

Devices: Random but most often on iPhone XR

![AdMobBannerBug](https://user-images.githubusercontent.com/10673669/74649192-6545ef80-517f-11ea-9b45-d9d7ba523f51.png)

[2020-02-18 12:56] stowy commented on #1166
@joses1234  I can't speak for all creatives here, I think you'll need to provide more detail to debug this issue.

This would be best resolved using [our support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines), can you please post your concern there and they will be able to debug with you in depth.

[2020-02-18 13:07] stowy commented on #1173
@thiagolr - thanks for reporting, I'm checking with the team about this issue.

[2020-02-18 22:29] howeyang-gh commented on #1169
@stowy
Thanks for looking into this issue.
If you could clarify some confusion on my end, is this issue on version 7.53 because I am seeing this issue on this version. ( You mentioned that it was on 7.54 and 7.55 )

[2020-02-19 17:08] galishmann commented on #397
It can be related with current incendents on GitHub server: https://www.githubstatus.com/

[2020-02-20 00:04] lux1111 commented on #1171
Google Play Console Pre-Launch report shows ~12 Android compatibility warnings admob/gms using unsupported APIs. So it predicts **crashes**?

[https://forum.unity.com/threads/google-play-api-warnings-started-today.676654/page-2#post-5136077](https://forum.unity.com/threads/google-play-api-warnings-started-today.676654/page-2#post-5136077)

Looks like it started May 2019, nearly a year ago. Any fix

[2020-02-20 01:00] lux1111 opened #1177 "Google Play API warnings"
Google Play Console Pre-Launch report shows ~10 Android compatibility warnings admob/gms using unsupported APIs. Which leads to crashes? Some apps get rejected.

[https://forum.unity.com/threads/google-play-api-warnings-started-today.676654/page-2#post-5136077](https://forum.unity.com/threads/google-play-api-warnings-started-today.676654/page-2#post-5136077)

I tried unity 2018.4, 2019.1, 2019.2,

[2020-02-20 07:23] SebaDudzic commented on #1169
It helped :) I think you can close this issue.

[2020-02-20 10:43] thiagolr commented on #1171
I can confirm that all these warnings are also present here. Could this be the culprit?

[2020-02-20 13:05] #1169 closed

[2020-02-21 09:53] perseus25 opened #1178 "Requires new permission READ_PHONE_STATE and READ_EXTERNAL_STORAGE ???"
Hello,
After upgrade admob plugin, my app requires new permission:
READ_PHONE_STATE
READ_EXTERNAL_STORAGE

Appears from version 4.0.0 and up.
Build with Unity 2018.2.21.1f1

I can't find that permision in AndroidManifest.xml in Unity project.
Why admob needs this permissions.
How to remove them?

[2020-02-22 12:07] oguzhalil commented on #1171
I am experiencing crashes too. Closing video ad before rewarded callback causing the issue in my test environment. Any suggestions?

[2020-02-22 12:17] oguzhalil commented on #1168
I am experiencing crashes too. Closing video ad before rewarded callback causing the issue in my test environment. Any suggestions?
Edit : Unity 2019.2.11f1 - GoogleMobileAds-v4.2.1
Log file does not explains much, just internal error at main thread

[2020-02-23 16:48] mohammadmdp commented on #855
I'm having the same issue with Unity 2019.3.0 and GoogleMobileAds-v4.2.1.unitypackage

[2020-02-24 00:33] sezbladex opened #1181 "GoogleMobileAds-native Xcode Build Error"
I am using Unity engine. I cant built on Xcode.  Xcode version is 10.2, I am getting undefined Symbol error. How can i fix this ? btw I tried enable bitcode No and enable modules objective c  Yes

![nyGk50](https://user-images.githubusercontent.com/7057236/75123377-e2a9bc80-56b7-11ea-812e-91b0b69b85e5.png)

[2020-02-24 02:04] mdobele commented on #1178
I've found that If one of your plugin's Manifest files doesn't have a minSDK version set then these permissions can be added to your final project.

You can add these lines to your main manifest file to ensure they get removed in your merged manifest file.

<uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
<uses-permission android:name="android.permission.R

[2020-02-24 11:05] perseus25 commented on #1178
@mdobele Thank you very much. Saved me so much time.

[2020-02-24 11:22] #1175 closed

[2020-02-24 11:28] mohammaddabiri commented on #1169
Thanks for resolving the issue so quickly. Should the fix automatically propagate to the [Unity Plugin](https://github.com/googleads/googleads-mobile-unity/releases)? or do we need to await an update to that separately?

[2020-02-24 18:48] stowy commented on #1169
The plugin doesn't need updating except to perhaps specify a new minimum
version of the SDK, however as long as you clear the previous iOS build or
build to a new location, or if you want to keep an existing build, go to
the iOS project / podfile directory and run 'pod update' then you will
receive the latest version of the iOS SDK and the issue will be resolved.

On Mon, Feb 24, 2020 at 3:28 AM m

[2020-02-25 05:44] mdobele commented on #1181
Which Unity version are you using?  My guess is the required AdMob frameworks haven't been included in your Xcode project.  Can you see the GoogleMobileAds.framework under the pods folder in your project navigator in Xcode?

[2020-02-25 10:05] sezbladex commented on #1181
Thank you for reply, I am using Unity2019 3.0f6,  I imported googlemobileads native package, there is no googlemobileads.framework, there is unity-plugin-library.a file, I am getting error this file. I have to add framework file ?

[2020-02-25 12:26] mdobele commented on #1181
Unity changed their XCode structure quite significantly in 2019.3 to support Unity integration into native iOS applications.  The "Unity-iPhone" target you may be used to is now a thin launcher which launches another main "UnityFramework" target which houses all the libraries etc

https://docs.unity3d.com/Manual/StructureOfXcodeProject.html

If you have upgraded from a previous Unity version, try

[2020-02-25 16:05] Albob commented on #1168
Hello, I have this problem too. Usually the crash happens after the user is rewarded, sometimes after, when the ad closes.

On reward, I call the server to credit the reward. This doesn't crash the game on it's own.
On ad closed, I destroy the ad and preload another one. This doesn't crash the game on it's own (used when closing before completing the ad, or when loading a new Unity screen).

[code

[2020-02-25 22:08] kerembaydogan opened #1182 "GoogleMobileAds-native + Assembly Definition File = NullReferenceException"
Hi,

I've been using assembly definition files through my project to make everything more modular.
But GoogleMobileAds-native plugin does not like assembly definition files.

Whenever I try to modularize GoogleMobileAds-native library as a unity assembly,
I get the following error:

[code]

How to reproduce:

- Create Empty Unity project
- Import GoogleMobileAds-native plugin
- Create an assembly

[2020-02-26 01:01] kerembaydogan commented on #920
Hi @rotter

I am also facing same errors while building for android.

Are you also using the google play games plugin?

I think these two plugins messing up with their dependencies?

[2020-02-26 11:35] sezbladex commented on #1181
I solved problems, We have to add Googlemobileads.framework, after than add code to info.plist
<key>GADIsAdManagerApp</key>
    <true />

Add Build settings
Other Linker Flags   -ObjC

[2020-02-26 11:35] #1181 closed

[2020-02-26 16:43] Sandhyakripalani commented on #397
Turning off adBlocker did the magic for me.

[2020-02-27 14:55] qbit86 commented on #1072
Any updates on this? We have the same issue in Google Play Console.

Unity 2018.4.10f1
GoogleMobileAds-v4.2.1

[2020-02-28 13:44] kasspip commented on #1171
I just implemented the version 4.2.1 on our app on Unity 2019.2.6f11 and I experienced thousands of crash reports since.

![image](https://user-images.githubusercontent.com/7251784/75552883-92c05200-5a37-11ea-8daf-d1640ccbcd89.png)
(the list goes on and on)

Unfortunatly I can't reproduce the bug and the stacktrace on unity reports have missing symbols so not ideal to help you ...
First stack trac

[2020-02-28 14:46] thiagolr commented on #1171
@kasspip From my users' logs, I can see that some crashes happen during the app startup, that is when I load the ads (both interstitial and rewarded). What you and @oguzhalil might be experiencing is that after you skip or close, the plugin starts to load another ad and then the crash occurs.

[2020-02-29 10:43] boriestudiogames opened #1186 "Troubleshoot ads not showing"
I have read the document of admob: If you created a new ad unit recently, it may also take up to an hour before the ad unit is activated, ,In some cases, it may take longer than an hour for you to see ads in new apps or ad units.  But:
 -  I created ad units 2 days ago.
 -  I also used test ad units to check my implementation and everything worked ok.
 -  I aslo confim PIN code by phone number and

[2020-02-29 15:56] huynguyencong commented on #1128
I am having the same issue. Other projects don't have that problem with Cocoapods and Admob pod.

[2020-02-29 16:06] huynguyencong opened #1187 "GoogleMobileAds.h file not found"
I added Admob package to Unity, generated iOS project. I saw `Google-Mobile-Ads-SDK` has been installed in my project. When I build the iOS project, it failed with error: `'GoogleMobileAds/GoogleMobileAds.h' file not found` in `GADURewardedAd.h` file.
I tried to search on Google, but couldn't find any solution that fixes the issue. Please help me to solve this issue. Thank you!

![GoogleMobileAds.

[2020-03-02 17:57] stowy commented on #1187
Are you using the .xcworkspace version of the project? Can you please check the Podfile and Podfile.lock to ensure that the Google-Mobile-Ads-SDK has been correctly included in the cocoapods workspace?

[2020-03-02 18:02] huynguyencong commented on #1187
Thanks for your response. I just fixed it by updating the Unity Ads package in package Manager to version 3.

[2020-03-03 09:01] #1187 closed

[2020-03-05 12:40] ceceomer commented on #1135
@BuKuSiShen how can I do that?

[2020-03-05 17:38] IvicaSkrobo commented on #1168
Same thing for me. Handlers for callbacks are not called on the main thread and when I called a function from there. Unity crashed.

I switched to checking if the ad is closed through a boolean in the Update.
And I call the necessary code from there.

Is there a more optimal way in Unity and even if there isn't, please specify this way
 on your site, it could save a lot of time for new people.

[2020-03-07 00:37] stowy commented on #1182
Should be fixed in v5.0.0.1 of native plugin (accessible via usual download link).

[2020-03-07 00:37] #1182 closed

[2020-03-07 00:38] stowy commented on #1178
Closing this, please let me know if any problems persist.

[2020-03-07 00:38] #1178 closed

[2020-03-07 00:39] stowy commented on #1145
Closing due to lack of response.

[2020-03-07 00:39] #1145 closed

[2020-03-07 00:40] stowy commented on #1144
Sorry this does not seem relevant to the Google Mobile Ads SDK.

[2020-03-07 00:40] #1144 closed

[2020-03-07 00:41] #1133 closed

[2020-03-07 00:42] stowy commented on #1113
Closing due to lack of response.

[2020-03-07 00:42] #1113 closed

[2020-03-07 00:42] stowy commented on #1043
This may be fixed in latest version of the plugin, please retest.

[2020-03-07 00:42] #1043 closed

[2020-03-07 00:43] stowy commented on #1107
Added in v4.2.0.

[2020-03-07 00:43] #1107 closed

[2020-03-07 00:45] #1067 closed

[2020-03-07 00:45] stowy commented on #1041
should be fixed in latest version of the plugin.

[2020-03-07 00:45] #1041 closed

[2020-03-07 00:47] stowy commented on #1065
this would require a different banner size assuming the rest of your game rotates, and AdMob does not have this ad size as it's not a common use case on Mobile.

[2020-03-07 00:47] #1065 closed

[2020-03-07 00:48] stowy commented on #965
Fixed in the latest version of the plugin.

[2020-03-07 00:48] #965 closed

[2020-03-07 00:48] stowy commented on #911
Resolved in the latest version of the plugin (v5.0.0.1 of Native plugin).

[2020-03-07 00:48] #911 closed

[2020-03-07 00:49] stowy commented on #920
This is resolved in v5.0.0.1.

[2020-03-07 00:49] #920 closed

[2020-03-07 00:49] stowy commented on #1001
this should be resolved in the latest plugin version.

[2020-03-07 00:49] #1001 closed

[2020-03-07 00:50] stowy commented on #923
This should be resolved in the latest version of the plugin.

[2020-03-07 00:50] #923 closed

[2020-03-07 07:03] karam89 commented on #1065
BTW: I was able to show ads :)

You should give the banner an enough width, like 120 or 160, and the height you wish

so it becomes a skyscraper (not a banner)

[2020-03-09 23:40] oguzhalil commented on #1168
Somebody at unityanswer mentioned about Unity's new TMP (Text Mesh Pro) causing the issue. Does anybody getting crashes because of using TMP? I think this is the case for me. I got another project with same Unity3d version and Admob Plugin version and it is working fine.

[2020-03-10 17:39] shefich opened #1200 "error: use of undeclared identifier 'nullptr'"
Hi,

I am using Unity 2018.4.18 and moved to Admob SDK 5.0.0. Now I have such issue, while building to Android:

error: use of undeclared identifier 'nullptr'

So the build failed, because of this issue. As I could see more people are facing this issue, you can check Unity forum here:
https://forum.unity.com/threads/after-admob-install-il2cpp-error-is-occured.843655/