[2017-07-03 08:32] Tehnorg opened #456 "Unity Admob 3.5.0 Rewarded Video not Working"
Hello everyone.
I have problem with integrated Admob Ads 3.5.0 on Ios Unity 5,4,3,  Xcode 8.3.3, Ios 10+.

My Integration code

    rewardBasedVideo = RewardBasedVideoAd.Instance;
    AdRequest request = new AdRequest.Builder().Build();
    rewardBasedVideo.LoadAd(request, adUnitID);

On that moment i have crash with that message

    ibc++abi.dylib: terminating with uncaught exception of type Il2

[2017-07-03 10:24] Pacifist94 commented on #455
No issues now!

[2017-07-03 10:29] Pacifist94 commented on #452
Thanks my issue was resolved it was an error on my end....

[2017-07-05 18:25] rampara commented on #452
@Pacifist94 glad to hear your issue was resolved.

[2017-07-05 18:25] rampara commented on #455
@Pacifist94 glad to hear your issue has been resolved.

[2017-07-05 18:25] #455 closed

[2017-07-05 18:27] rampara commented on #456
@Tehnorg I'm having trouble reproducing this crash. Are you able to reproduce this issue with the HelloWorld sample app in this repo?

[2017-07-05 19:13] rampara commented on #448
@gayoso are you using the latest version of the Unity Ads adapter and SDK?

[2017-07-05 19:15] rampara commented on #454
+1 to @snoozinsquatch comment that your handlers will only work as expected when deploying to iOS or Android.

[2017-07-05 19:21] rampara commented on #414
@carsonvo are you able to reproduce this issue with the sample app from this repo? If so, can you outline the steps to follow to get the banner to render in an incorrect position?

[2017-07-05 22:04] gayoso commented on #448
Hi, I believe I was. I got all the links from the official Google tutorials on how to set up Mediation with UnityAds. I've abandoned this project for now, thanks!

[2017-07-06 14:13] carsonvo commented on #414
Hello  @rampara ,
Can you help me to check it with this link: https://drive.google.com/open?id=0B3mA2XxAi9RuU1pUZ3VCTmU5UWs

Hope that you can find out the reason.
Thank you.

[2017-07-07 05:19] epicapps0 opened #457 "native ads on wrong position on s6"
First time opening it works and the native large shows in the bottom center of the screen.
after closing and reopening the game it reappears slightly below on right corner  screen (Samsung s6).

![device-2017-07-07-101401](https://user-images.githubusercontent.com/29197040/27944077-b609f3a8-62fd-11e7-9497-98f5e26652e6.png)

[2017-07-07 19:56] dpershin opened #458 "Strange behaviour of rewarded video"
Hi everyone,

I've faced a strange bug in 3.5.0. Here are reproduction steps:

1. Download and install 3.5.0 package for Unity
2. Build and run HelloWorld project from the repo
3. Press Request Rewarded Video
4. Wait 3-5 seconds
5. Press Show Rewarded Video
6. The video starts playing but with some UI bugs:
6.1 No sound control button
6.2 Video is displayed in landscape layout though UI is in port

[2017-07-08 00:30] rampara commented on #457
@epicapps0 are you able to reproduce the issue with the sample app from this repo? If so, can you break down the steps to reproduce the issue?

[2017-07-10 23:37] rampara commented on #448
@gayoso as mentioned earlier, your issue doesn't seem specific to this plugin (seems like either an adapter or Unity Ads SDK issue) I would recommend you reach out on the Google Mobile Ads support forum.

[2017-07-11 00:17] rampara commented on #458
@dpershin is this issue consistently reproducible for you? I'm having trouble reproducing it on my end.

[2017-07-11 02:18] dpershin commented on #458
@rampara Thank you for the answer!

Unfortunately, yes. I dug deeper and find out that I have the very same behavior with just very simple AdMob app (example from here: https://github.com/googleads/googleads-mobile-android-examples). I downloaded the example, run it and saw the same issue. I literally didn't change anything.

I have tried it on two different PCs and on two different phones, today

[2017-07-11 10:28] koljanich opened #459 "Open source error"
Hello! Please tell me how open this source. Android studio 2.1.2 show missing files (2). Eclipse compile, but after integrate to Unity and build total project show error convert classes to dex format.

[2017-07-11 12:54] dpershin commented on #458
Interesting, I've tested on BLU Advanced (Android 5.1) and DOOGEE X5 (Android 5.1) and everything works perfectly. But on my Nexus 5 (Android 6.0.1) I'm still having the problem with incorrect UI in portrait mode.

[2017-07-11 13:46] haydin20 opened #460 "Rewarded Ads Issue"
Hi,

i am trying use rewarded video. Im working on demo scene. For first time, request and show working good. But if i want to show a rewarded ad second time request and show not working. i can not get and ad.

i m using rewarded ads 2 different type. Watch for earn free coins, watch and continue. requested ads working for only one.

Also when i request a ads. i m waiting 2-3 seconds for watch. Vi

[2017-07-11 14:42] carsonvo commented on #414
Hi @rampara ,

I think that I find out the reason which make the position of the banner was wrong.
When I changed the Package Name in the project setting, the position of banner was always right.
After that I changed my old Package Name, the position was wrong again.

But I can not change the Package Name because my game have been available in play store.

[2017-07-12 00:19] rampara commented on #459
@koljanich I'm not sure what you mean by open this source. What are you trying to accomplish?

[2017-07-12 00:21] rampara commented on #458
@dpershin since you're able to reproduce this on a standard android app, the issue doesn't seem specific to this Unity plugin. I would recommend you reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-07-12 02:53] dpershin commented on #458
@rampara That is fair enough, so, I think, we can close the issue. Thank you!

[2017-07-12 12:04] koljanich commented on #459
@rampara I mean open in Android Studio and build.

[2017-07-12 14:57] koljanich commented on #459
I try to open Source in Android Studio and build it. And I get
Error:

    Consult IDE log for more details (Help | Show Log)

I don't understand this error - what file? Name of file? Nothing!

[2017-07-12 15:26] BaltaKid opened #461 "Native Ads Problems and Doubts"
Hello,
I'm trying yo implement the native ads but i can only get the example working with 2 image and the main text.

The plan is convert all data from the ad to a bunch of game object so i can put it inside a scroll, etc.

But i'm having a lot of problems knowing all the assets name (args.nativeAd.GetAvailableAssetNames())

and when i change this data to my values in the log cat appears Internal

[2017-07-12 18:20] #458 closed

[2017-07-13 01:20] rampara commented on #414
@carsonvo can you provide me with the package name with causes this issue for you?

[2017-07-13 01:22] rampara commented on #461
@BaltaKid can you post the error you're are seeing in logcat, code snippet, and steps indicating how to reproduce the error.

[2017-07-13 01:24] rampara commented on #460
@haydin20 what error code do you receive when you attempt to request a second ad? Is this error reproducible for you with the sample app in this repo? Can you provide the ad unit you are using to request rewarded video ads?

[2017-07-13 10:31] BaltaKid commented on #461
Hello @rampara here is the log cat and code example.
Log Cat Error:
(Filename: ./artifacts/generated/common/runtime/DebugBindings.gen.cpp Line: 51)
07-13 10:42:49.698 11671-11671/? I/Unity: ----->>> Ad Loader fail event received with message: Internal error
[code]

[2017-07-13 13:59] carsonvo commented on #414
@rampara  It is com.crgame.batchu

[2017-07-13 19:50] diabeticraptor opened #462 "Only test ad unit ID works on android, everything fine on iOS"
I can request test ads fine, they show up and everything is good

Whenever I put my ad unit id in nothing shows up on any android device, ios build works fine

Any ideas what could be going wrong?

[2017-07-13 20:37] coldev commented on #462
the same error ... android not show store ads  ...

banner and intertial not show...

[2017-07-13 21:04] rampara commented on #401
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:04] #401 closed

[2017-07-13 21:05] #415 closed

[2017-07-13 21:05] rampara commented on #417
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:05] #417 closed

[2017-07-13 21:05] rampara commented on #418
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:05] #418 closed

[2017-07-13 21:06] rampara commented on #419
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:06] #419 closed

[2017-07-13 21:06] rampara commented on #421
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:06] #421 closed

[2017-07-13 21:07] rampara commented on #427
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:07] #427 closed

[2017-07-13 21:07] rampara commented on #436
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:07] #436 closed

[2017-07-13 21:07] rampara commented on #444
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:07] #444 closed

[2017-07-13 21:08] rampara commented on #437
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:08] #437 closed

[2017-07-13 21:08] rampara commented on #434
Closing issue due to it's age. Please re-open if this issue persists for you.

[2017-07-13 21:08] #434 closed

[2017-07-13 22:08] koljanich commented on #459
The problem is open GitHub source in Studio. When I open as GitHub this error is gone, but found other 21 errors:

Error:(6, 34) java: package com.google.android.gms.ads does not exist
Error:(7, 34) java: package com.google.android.gms.ads does not exist
Error:(8, 34) java: package com.google.android.gms.ads does not exist
Error:(30, 11) java: cannot find symbol
  symbol:   class AdView
  location

[2017-07-13 22:10] koljanich commented on #459
The problem is open GitHub source in Studio. When I open as GitHub this error is gone, but found other 21 errors (Google Play Services are integrated):

Error:(6, 34) java: package com.google.android.gms.ads does not exist
Error:(7, 34) java: package com.google.android.gms.ads does not exist
Error:(8, 34) java: package com.google.android.gms.ads does not exist
Error:(30, 11) java: cannot find symb

[2017-07-13 22:56] rampara commented on #462
@diabeticraptor @coldev for which ad format are you running into this issue. Can you post the ad units you are unable to load ads from?

[2017-07-13 23:01] rampara commented on #459
Are you trying to build the android-library component of this plugin in Android Studio or are you trying to build a Unity app (generated by Unity) in Android Studio?

[2017-07-13 23:38] koljanich commented on #459
@rampara Yes, I try to build the android-library component of this plugin in Android Studio

[2017-07-13 23:39] rampara commented on #461
@BaltaKid can you provide me with the ad unit you're attempting to load ads from?

[2017-07-13 23:50] EtienneCollard opened #463 "Unity cloud build library not found error on ios"
So i start a new project with unity 2017.1 and add the GoogleMobileAds plugin and put that on collaborate and start a build for ios.

The build failed and that error was in the log:
[xcode] ld: library not found for -lPods-Unity-iPhone
[xcode] clang: error: linker command failed with exit code 1 (use -v to see invocation)

I also have these error when building from xcode
![capture](https://user-im

[2017-07-14 00:36] diabeticraptor commented on #462
@rampara
I'm using Banner Ads, Intersitial, and Rewarded videos, all fail to load but they work on iOS,

the ad unit ids that work for me are the ones from the unity example:

Banner: ca-app-pub-3940256099942544/6300978111
Intersitial: ca-app-pub-3940256099942544/1033173712
Reward Video: ca-app-pub-3940256099942544/5224354917

The ones to fail to load:
Banner: ca-app-pub-4731064129895917/899688898

[2017-07-14 10:42] BaltaKid commented on #461
Hello @rampara yes i can

Android: Ad unit ID: ca-app-pub-5739411022712118/8255787189
               Template: S002

iOS i'm waiting to put the android working :-)

I have put the template, but i want to create my google ads inside the app/game so i can put it inside a TV or a scroll(inside a gameobject).

Best Regards.

[2017-07-14 20:12] rampara commented on #461
@BaltaKid the ad unit you posted is for a native express ad while the code snippet you posted is for a custom native template ad. To request and display native express ads, you should follow the instructions on our [developer docs](https://developers.google.com/admob/unity/native-express).

[2017-07-14 20:20] rampara commented on #462
@diabeticraptor I'm able to load banner ads from ca-app-pub-4731064129895917/8996888988 without issue. What error code are you receiving when the ads fail to load? Can you provide me a test app that reproduces this issue?

[2017-07-14 20:21] rampara commented on #463
This issue is currently being worked on. For the time being you can find workarounds to get Unity Cloud build working at #333.

[2017-07-14 20:22] #463 closed

[2017-07-14 20:24] rampara commented on #459
@koljanich have you modified the source in any way? I don't seem to be having any issues building the project and/or generating a library JAR. Can you link me to a project that doesn't build for you?

[2017-07-14 20:55] rampara commented on #414
@carsonvo I'm having trouble reproducing this issue. Can you attach a test project that does reproduce it?

[2017-07-14 20:57] rampara commented on #422
@EvilKiller123 since this issue is not specific to this plugin but rather a serving issue, I would recommend reaching out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-07-14 20:57] #422 closed

[2017-07-14 20:58] rampara commented on #443
Closing due to age of issue. If this issue persists, please re-open issue.

[2017-07-14 20:58] #443 closed

[2017-07-14 20:59] rampara commented on #448
Closing issue due to non-response from original poster. Please re-open if you're still experiencing this issue.

[2017-07-14 20:59] #448 closed

[2017-07-14 21:00] rampara commented on #449
Closing due to age of issue. Please re-open if this issue persists for you.

[2017-07-14 21:00] #449 closed

[2017-07-15 04:12] carsonvo commented on #414
@rampara This is the link to download my test project:
https://drive.google.com/open?id=0B3mA2XxAi9RudHFuaFpIYWhsX3M

[2017-07-15 05:37] koljanich commented on #459
I have not yet modified the source code. I was just trying to compile the library. Here is a clone of the GitHub project: https://github.com/koljanich/googleads-mobile-plugins  https://github.com/koljanich/AdmobUnity
In both clones of git I have an error:

<a href="openFile:C:\Docs\AndroidProj\googleads-mobile-unity-master\build.gradle">Open File</a>

This error generates if I build from AndroidSt

[2017-07-15 15:58] diabeticraptor commented on #462
Hm, it loaded one interstitial and then hasn't loaded another one since.

Could it be an internet connection issue? My internet is kinda dooty, wouldnt really explain why ios is working though

[2017-07-15 20:09] #462 closed

[2017-07-16 13:43] martythegreat opened #464 "Rewardbasead callbacks not working help"
I have a  playad button that after the videoad plays it will revive the player, I tried implementing rewarded ads but thecall backs seem to be not working

[2017-07-17 10:47] BaltaKid commented on #461
Hello @rampara, thanks for your help.

To resume;
Problem: i'm trying to create a custom native template ad with the Id's of admob native express ad.
Solution: Register in DoubleClick get the ad unity and template and use the previous code to build my own ads.

Best Regards.

[2017-07-17 19:23] rampara commented on #461
@BaltaKid as it seems your issue seems to have resolved, I'm closing this issue. Please reopen if that's not the case.

[2017-07-17 19:23] #461 closed

[2017-07-17 19:24] rampara commented on #464
@martythegreat are you running into this issue on iOS or Android? Have you tried reproducing this issue in the HelloWorld sample app from this repo?

[2017-07-18 05:01] koljanich opened #465 "override onBackPressed() method"
Hello!
Tell me please how override onBackPressed() method of Activity class. Create own class extends Activity not show AD.

@override
public void onBackPressed() {
// super.onBackPressed();
}
}

public InterstitialActivity activity;

this.activity = activity;
this.adListener = adListener;
this.isLoaded = false;
}
}

[2017-07-19 11:04] demirersin opened #466 "Admob tgkill Crash on Unity Game"
We are developed game using Unity & Admob. We got too many crashes.

When I kill app on focus-out , Game is crashed (not all time. It is hard to reproduce)

Stack Trace :

    Caused by java.lang.Error: signal 6 (SIGABRT), code -6 (?), fault addr --------
    Build fingerprint: 'samsung/dreamltexx/dreamlte:7.0/NRD90M/G950FXXU1AQF7:user/release-keys'
    Revision: '10'

    at libc.tgkill(tgkill:12

[2017-07-19 18:31] rampara commented on #466
@demirersin what is pointing you towards the GMA SDK or GMA Unity plugin being responsible for the crash? The stack trace you provided doesn't give much information on the cause of the crash.

[2017-07-19 18:32] rampara commented on #465
@koljanich overriding on onBackPressed() of ad activities is not something that is supported by the GMA SDK.

[2017-07-19 19:55] oc2pcoj commented on #464
https://gamedev.stackexchange.com/questions/141040/unity-admob-plugin-rewarding-the-user-on-the-main-thread

[2017-07-19 19:58] oc2pcoj commented on #454
`07-19 22:44:35.700 19134 19134 I Unity   : (Filename: ./artifacts/generated/Android/runtime/DebugBindings.gen.cpp Line: 51)
07-19 22:44:35.700 19134 19134 I Unity   :
07-19 22:44:35.700 19134 19134 E Unity   : TrySetSetString can only be called from the main thread.
07-19 22:44:35.700 19134 19134 E Unity   : Constructors and field initializers will be executed from the loading thread when loading

[2017-07-19 20:00] oc2pcoj commented on #454
Callbacks crash with these errors: https://pastebin.com/QusRLevy
Fuck up with threading.

[2017-07-20 18:15] rampara commented on #454
@oc2pcoj on Android, ad event handlers are not invoked on the main thread. This [blog post](http://googleadsdeveloper.blogspot.com/2016/04/handling-android-ad-events-in-unity.html) goes into more detail.

[2017-07-20 18:18] rampara commented on #464
@martythegreat if the issue you're running into is the same one described in link from @oc2pcoj, you may also find this [blog post](http://googleadsdeveloper.blogspot.com/2016/04/handling-android-ad-events-in-unity.html) useful.

[2017-07-21 02:47] salami commented on #338
I had this issue after updating to v3.6.0, but restarting Unity fixed it.

[2017-07-21 06:35] demirersin commented on #466
I known I dont have enough info about it. But I can say that when I remove admob operations , I did not get any crash.

[2017-07-21 16:38] carsonvo commented on #414
Hello @rampara , did you check it help me?
Hope that I can hear something from you.
I have tried to fix it for a long time, but I was failed.

[2017-07-21 17:49] rampara commented on #338
Selecting `Assets -> Play Services Resolver -> Version Handler -> Update` in the Unity editor should also resolve this issue.

[2017-07-21 17:50] rampara commented on #466
Can you provide a test app or steps I can follow to reproduce the crash?

[2017-07-25 08:08] #466 closed

[2017-07-26 15:19] fazol opened #467 "Mediation networks doesn't work"
Hi, I have a problem with Admob mediation.
I am using Applovin, Adcolony and Unity ads. I downloaded SDKs and adapters, they are in plugins/android folder. The problem is that I can see only Admob ads. I have tried to set manually high ecpm like 100$ and still nothing. In Logcat I don't see anything wrong. How can I check that adapters are working? Or if it is network problems?

[2017-07-27 08:05] absrndm opened #468 "iOS Simulator getting real ads"
Hi, I'm trying to get test ads running my app with the iphone simulator but I keep getting real ads.

This is my Ad request:

string testDeviceiOS = AdRequest.TestDeviceSimulator; //IOS SIMULATOR
...
AdRequest request = new AdRequest.Builder().AddTestDevice(testDeviceiOS).Build();

If i check request.TestDevices I can see that the id is "SIMULATOR".

This is happening with version 3.5.0 and 3.6.1

[2017-07-28 17:38] ArmandCloud commented on #468
Same here 3.6.1

[2017-07-28 17:42] ArmandCloud commented on #388
3.6.1 same here ios build.

On android , when i press close button, it gives reward. expected behaviour.
On ios , it rewards after video finish. not expected.
Also its not pausing game when showing some interactable full screen interstitials.

Best Regards,

[2017-07-29 22:06] SamuraiCoder opened #469 "AdMob banners are not shown"
Hi,

I´m trying to implement banners in a Unity project.

It worked before, but suddenly did not work. I dunno why.

Some perspective:

The ClientResolver always forces to put 10.2.0.aar libraries but I got some 10.2.1 and was conflicting when generating the apk.

I have now all of this *.aar and now I can deploy my project. No errors or warnings whatsoever.

In my code I call a banner in this way

[2017-07-30 17:06] Jiajie93 commented on #230
I have the same problem. I got adCheck with huawei P8..

[2017-07-31 06:44] Youngchangoon opened #470 "Sometimes, fail to load banner and other error"
![image uploaded from ios](https://user-images.githubusercontent.com/10609257/28765671-ee757278-7606-11e7-822d-e7415cf4cabd.jpeg)

Right now, we have critical issue in our app wth ADMOB.
Sometimes, the banner in the game fail to lad Ads and shows strange codes(check attached files).
Because of this issue, we can NOT provide our Ads to users.
Also, want to know what is problem on this issues.

Plea

[2017-07-31 09:06] rchallenger commented on #447
HI, I've also experienced that on latest versions. Only v 3.1.3 works fine. The issue was when application in portrait orientation with hidden nav_bar, immersive mode turned on and visible banner 320x50, showed interstitial. When we are showing interstitial ads - small banner is hidden to avid 2 ads present on the screen (designed for families program demands), especially when content of interstit

[2017-07-31 09:08] rchallenger commented on #447
Forgot to mention that I ran it on Moto Z Play, Android 7.0

[2017-07-31 09:13] Honikou opened #471 "First ads show welll, not the next one."
`
 if (rewardBasedVideo.IsLoaded())
        {
            rewardBasedVideo.Show();
            RequestRewardBasedVideo();
        }
`
That is my last setup, I also try to move RequestRewardBasedVideo on :
rewardBasedVideo.OnAdRewarded
rewardBasedVideo.OnAdClosed

The next time I try to show ads here is the problem
rewardBasedVideo.IsLoaded() is True.
BUT
07-31 11:00:48.936: W/AdsUnity(9483): Rewar

[2017-07-31 11:42] carsonvo commented on #414
Hello @rampara , how are you today?
I have found the new key for this problem. Because I published new game to play store last week.

Step 1: Before published my game -> Banner's position was right.
Step 2: After published my game -> Banner's position was still right.
Step 3: Go to admob website, and link Ad to my game in Play Store -> Banner's position was wrong.

I have 4 games in Play Store. Al

[2017-07-31 16:54] rampara commented on #470
@Youngchangoon can you provide a Charles log for an ad request that experiences the issue you're describing.

[2017-08-02 05:29] Evsun opened #472 "Test Ads shown but Real Ads not shown on iOS real device"
Just tired for searching around from all forum i dig deep and read some manuals, still don't know what happen.
I using AppAdvisory Easy Mobile Ads plugin to create the ads and showing it. On other apps this run smoothly, but on this newest app that i developing now, something goes wrong.
After download the last googleads plugin, i import it to Unity and setting up the ads as usual.
But when run it

[2017-08-03 00:32] rampara commented on #472
@Evsun this issue tracker is strictly for issues related to this plugin. The issue seems related to the AppAdvisory Easy Mobile Ads plugin.

[2017-08-03 00:32] #472 closed

[2017-08-03 00:37] rampara commented on #471
@Honikou are running into this issue with the HelloWorld sample app as well?

[2017-08-03 00:45] rampara commented on #230
@Jiajie93 there may be some sort of ad blocker running on your particular device.

[2017-08-03 00:49] rampara commented on #414
@carsonvo linking your app should not influence the banner's position. If you can provide me with a test app that reproduces the issue, I can investigate further.

[2017-08-03 00:50] rampara commented on #469
@SamuraiCoder do you see any content in logcat under the `Ads` tag that might indicate why banner ads are not working correctly for you?

[2017-08-03 01:42] rampara commented on #468
This is a bug is the GMA Unity plugin. Thanks for bringing this to our attention. Will be pushing a fix shortly.

[2017-08-03 08:16] Youngchangoon commented on #470
@rampara I can't capture this error during debug Charles..

This error was once on Android device real testing.

I have one question.
This error has occurred before?

[2017-08-03 13:55] QuanHuynhM opened #473 "Object reference not set to an instance of an object GMobilesAd.RequestRewardBasedVideo ()"
Hi everyone, I have a problem but I can't solve it. Please help me.
I try to change RequestRewardBasedVideo() from PRIVATE to public and I call it from another file
`    public void RequestRewardBasedVideo()
    {
#if UNITY_EDITOR
        string adUnitId = "unused";
#elif UNITY_ANDROID
        string adUnitId = "ca-app-pub-3940256099942544/5224354917";
#elif UNITY_IPHONE
        string adUnitId =

[2017-08-03 14:41] carsonvo commented on #414
@rampara Please check it: https://drive.google.com/open?id=0B3mA2XxAi9Rub19GU255ckN2aUk

[2017-08-03 21:43] rampara commented on #414
@carsonvo for the test project you linked to, the banner ad is instantiated with a `AdPosition.Top` position and that's the position I see when running the app. Attached a screenshot below.

![screencap](https://user-images.githubusercontent.com/11047881/28945141-14e98836-785a-11e7-82ff-004c7c869d55.png)

[2017-08-03 21:45] rampara commented on #473
@QuanHuynhM if you're modifying the HelloWorld sample app, you should pay attention to the `RewardBasedVideoAd ` object initialization in the `Start()` method of the `GoogleMobileAdsDemoScript ` script.

[2017-08-03 21:46] rampara commented on #470
@Youngchangoon I'm unable to reproduce the error. If you are able to reproduce it, a Charles log would help investigate.

[2017-08-03 22:19] rampara commented on #447
@matie I was able to get my hands on a Z3 running Android 5.1.1 but I'm still unable to reproduce the issue on the device with the latest version of the plugin. Attached a screenshot below.

![screencap](https://user-images.githubusercontent.com/11047881/28946150-51e35452-785e-11e7-8ae9-2b6c3931d2a5.png)

[2017-08-03 22:20] rampara commented on #447
@rchallenger can you provide me with a test app to reproduce the issue you mention. It would help me investigate.

[2017-08-03 22:22] rampara commented on #467
@fazol what content do you see in logact under the `Ads` tag?

[2017-08-04 04:51] ForestJungle opened #474 "Reward Video only show with APP ID and ID Test.My ID not show?"
When I test reward video.I only see the video show with id test default in project Hello World.If I replace my ID and then not show video.

[2017-08-04 06:43] rchallenger commented on #447
Here are test applications, using [3.6.1](https://drive.google.com/file/d/0B6u2VDj2GWUkc255bGxDOWxmSm8/view?usp=sharing) and [3.6.2](https://drive.google.com/file/d/0B6u2VDj2GWUkSWRHdFRKTER2dlU/view?usp=sharing) plugin version. Both behave in the same manner.

Here is a [video record](https://drive.google.com/open?id=0B6u2VDj2GWUkWFZZRGZMXzhmbkk) of what is really happening.

Here is a log file.
[

[2017-08-04 15:09] carsonvo commented on #414
@rampara Thank you for your replying.
Yes, you are right.
The position of the banner was only right  at the first time. Did you check it at the second time or the third time?
When you kill app and open app again. The position of banner will be wrong. You can view my first comment at this topic.

This screenshot is the first time open application with AdPosition.Top. The position was right.
![scree

[2017-08-04 15:35] QuanHuynhM commented on #473
@rampara  Can you tell me more details with use `RewardBasedVideoAd ` object initialization in the `Start()`?. Thank you!

[2017-08-04 18:54] rampara commented on #473
You can find the code for the `Start()` method I referenced [here](https://github.com/googleads/googleads-mobile-unity/blob/master/samples/HelloWorld/Assets/Scripts/GoogleMobileAdsDemoScript.cs#L21). Our [developer docs](https://developers.google.com/admob/unity/rewarded-video) are also a good resource.

[2017-08-04 19:20] rampara commented on #414
@carsonvo i'm still having trouble reproducing the issue. I recorded the [behavior](https://drive.google.com/file/d/0B2oE3iOknPmMMmNhbERrQk5uUEk/view?usp=sharing) I'm seeing. Must be a device discrepancy. You're using a Galaxy Note 4 running Android 6.0.1 right?

[2017-08-04 19:58] rampara commented on #474
@ForestJungle as this issue tracker is only for issues specific to the GMA Unity plugin, I would recommend you reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-08-04 19:58] #474 closed

[2017-08-04 20:00] rampara commented on #452
Closing issue due to non-response from the original poster. Please reopen if the issue persists for you.

[2017-08-04 20:00] #452 closed

[2017-08-05 00:18] rampara commented on #468
This issue has been resolved in the latest release of the plugin (v3.6.3).

[2017-08-05 00:18] #468 closed

[2017-08-05 00:56] doanlinhit24 commented on #338
@rampara That really works .Thank you

[2017-08-05 02:17] Evsun opened #475 "Test Ads shown but Real Ads not shown on iOS Device"
Hello, this actually issues that i have open 2 days ago [here](https://github.com/googleads/googleads-mobile-unity/issues/472) but didn't get any answer and just closed immediately. Lastly @rampara think that this problem because AppAdvisory or Easy Mobile ads plugin in unity that i use. But i think the problem isn't came from that. Because  i have use the plugin for many other apps and working so

[2017-08-07 16:30] carsonvo commented on #414
@rampara  Yes, I'm using Galaxy Note 4 with Android 6.0.1.
When I use my package name which is available in the play store. The Banner's position was wrong.
If I change it with a new package name. The Banner's Position was right.

This link is the video I recorded.
https://drive.google.com/open?id=0B_Oc8DDThamkSnh5aE5PazFWelU

[2017-08-07 20:22] rampara commented on #447
@rchallenger This does seem like a Moto specific issue where when returning to the Unity activity (from the interstitial ad), there is a delay before re-entering immersive mode. Are you able to reproduce the issue on any other device?

And the reason you're not seeing this behavior on plugin version 3.1.3 or earlier is because as of v.3.2.0, the implementation to display banner and native express

[2017-08-07 20:25] rampara commented on #475
@Evsun are you integrating directly with the AppAdvisory or Easy Mobile ads plugin to display ads or the plugin from this repo?

[2017-08-09 00:57] Jiajie93 commented on #230
@rampara I've noticed on logcat that when the log "**Initialized AdMob in container 11.3.02**" shows up, all my adRequest after this log will always fail. Showing "AdCheck: APS: blockAdView: com.google.android.gms.ads.AdView" as reason.
I'm using Huawei P8 as said before, I also asked to my friends to install my app (using their Huawei p8, Huawei p8 lite, and Huawei p9 lite) they all have the same

[2017-08-10 08:45] ArmandCloud commented on #388
3.6.3 same.
Simple work around is pause game OnVideoRewarded , and resume in OnVideoClosed

Best Regards,

[2017-08-12 10:06] shafayat18 commented on #338
I solved the issue..
here is the solving video only for unity developer
https://www.youtube.com/watch?v=PeQDGBnhgxA&t=20s

[2017-08-13 02:04] qazfjplm123 opened #476 "无法显示横幅广告"
Unity中使用UGUI的EventSystem就无法显示横幅广告了   关闭后可以正常显示  但是UI不能交互了

[2017-08-14 18:23] lucasdolago opened #477 "I can't get AdMob working in my Unity project"
I can't get them working with my real ad ID's and not even with the test ones, it's been already 3 days spending hours, trying different plugins but there is always a different error. Apparently this one seens to be the right plugin to use, it builds fine, and even show Dummy AdLoad in my console when running in the editor, but when i try to run in emulator or in a real android device, there is no

[2017-08-14 20:48] rampara commented on #477
@lucasdolago can you force Google Play services dependency resolution to occur by selecting `Assets -> Play Services Resolver -> Android Resolver -> Resolve Client Jars` in the Unity editor. After this step, the required Google Play services dependency AAR and JAR files should be copied into the `Assets/Plugins/Android` directory of your Unity project.

[2017-08-14 20:50] rampara commented on #230
@Jiajie93 the message you're seeing in logcat makes me believe your devices does have an ad blocker running on it.

[2017-08-15 00:25] rampara commented on #414
@carsonvo I got my hands on a Galaxy Note 4 and I'm still unable to repro this issue.

[2017-08-15 14:31] usmankhan2225 commented on #223
i am facing this issue, please help

[2017-08-15 14:32] usmankhan2225 commented on #223
![screen shot 2017-08-15 at 6 14 42 pm](https://user-images.githubusercontent.com/31040305/29320382-68a581e2-81f0-11e7-96a8-4424cab5210f.png)

[2017-08-15 16:48] carsonvo commented on #414
@rampara Thank you for your supporting.
I do not know why my device faces this problem. I think that I have to change device to test it.
If this problem still available, I will let you know.

Thank you.

[2017-08-16 00:32] rampara commented on #414
Will continue to investigate once you find out if the issue persists on other devices.

[2017-08-16 00:36] rampara commented on #456
Closing due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:36] #456 closed

[2017-08-16 00:36] rampara commented on #457
Closing due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:36] #457 closed

[2017-08-16 00:39] rampara commented on #451
Closing due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:39] #451 closed

[2017-08-16 00:39] rampara commented on #459
Closing due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:39] #459 closed

[2017-08-16 00:40] #473 closed

[2017-08-16 00:41] rampara commented on #460
Closing due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:41] #460 closed

[2017-08-16 00:43] rampara commented on #453
Closing issue due to non-response. Please re-open if this issue persists for you.

[2017-08-16 00:48] rampara commented on #388
As @ArmandCloud mentioned, the recommended approach is to use ad events to pause and resume games.

[2017-08-16 06:04] ArmandCloud opened #478 ""The ad content in your app is not consistent with the app's content rating." Child directed problem."
Hello ,

I am using ".tagForChildDirectedTreatment(true)" when requesting my ads. But my app update submission rejected for showing 13+ ads.

How avoid showing 13+ ads to children under 13 with Admob Unity plugin.
Or what can i do to pass "Designed For Families" ad conditions.

Best Regards,

[2017-08-16 12:26] blagojap opened #479 "java.lang.Error in com.google.unity.ads.Interstitial$2.run"
Hi ppl,

I have multiple errors in my crash logs, could someone take a look and give me idea what is happening. I tried to search for this error but I couldn't find anything helpful. Thanks in advance.

java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 5.6.1f1
Device model      : samsung SM-J200G
Device fingerprint: samsung/j2ltedd/j2lte:5.1.1/LMY47X/J200GDDU1APG4:user/release-keys
Cause

[2017-08-16 18:16] rampara commented on #478
@ArmandCloud setting `tagForChildDirectedTreatment` to true is not the only thing required to be compliant with the Designed For Families program, as described in this [help center article](https://support.google.com/admob/answer/6223431?hl=en).

[2017-08-16 18:38] rampara commented on #479
@blagojap can you provide the Google Play services version you compiled your app with and the the Google Play services version running on the device you collected the stack trace from?

[2017-08-16 18:38] ArmandCloud commented on #478
Thank you @rampara ,

`AdRequest request = new AdRequest.Builder()
        .AddExtra("is_designed_for_families", "true")
        .TagForChildDirectedTreatment(true)
        .Build();`

I will add this code to my build.

Best Regards,

[2017-08-16 18:39] rampara commented on #478
Glad to be of help.

[2017-08-16 18:39] #478 closed

[2017-08-16 18:46] rampara commented on #223
@usmankhan2225 it looks like the InMobi adapter is successfully created but it cannot load an ad through the InMobi SDK. Are you including the InMobi SDK in your Unity project? Are the InMobi ad placement identifiers you are using valid?

[2017-08-16 21:57] usmankhan2225 commented on #223
Yes i have included the inmobi sdk 6.x latest version along with inmobi
adapter in the ASSETS->PLUGINS->ANDROID folder.

Also included the changes required by inmobi in the MANIFEST.

Now as far as placement ids are concerned,
I think they are correct as far as i checked.

You can guide me about the keys which i need to put in admod console
through my inmobi dashboard.
--
Best Regards,

Muhammad U

[2017-08-17 11:45] blagojap commented on #479
Hi @rampara, we use Google play services version 11.0.4. I am unable to know the play service version of device that I sent crash log, I got this log from play console crash reports. This error is generated on more then 3000 different devices with different android versions. We are unable to reproduce this error.

[2017-08-19 15:43] ENZODINE opened #480 "does not support in unity 4.6.9 P 4"
UnityEditor.PluginImporter is not supported in this version of Unity.

Plugins managed by VersionHandler will not be enabled.
You need to manually enable / disable the most recent version of each
file you wish to use.

I am using unity 469p4, admob banner not show how to fix this? thank you before

[2017-08-19 16:31] hwilliams82 opened #481 "Unable to merge Android manifests when building in unity 5.6.1"
The lowest Minsdkversion supported inside unity 5.6.1 is v16. Changing the value in the Google ads plugin does not fix the problem, nor does changing either androidmanifest.xml's targetsdkversion.

[2017-08-20 02:20] maxsundell opened #482 "Way higher income then expected"
So i just released my first android game and it has like basically no active players except me and a friend but somehow the admob admin panel says it has showed over 2400 banner ads and i've gained about 5 dollars. Maybe i'm just being really paranoid and i've actually managed to show that many ads (me and my friend have played a lot after all) i just really don't want to get my account flagged be

[2017-08-20 19:15] RafaelC2 opened #483 "Problem with folder names"
When I install admob it creates a folder called "Plugins" that is recreated if it is deleted or removed, I am trying to implement admob and with unity in-app-purchasing but it creates a folder with the same name "Plugins" causing a conflict how can I solve this problem?

[2017-08-21 03:16] AlohaLorraine commented on #479
@rampara, we use 'com.google.android.gms:play-services-base:10.2.0', also have this OOM crash.

[2017-08-21 03:25] rampara commented on #483
@RafaelC2 the `Plugins` folder is a special Unity folder that more than one plugin can use. What kind of conflict are you running into.

[2017-08-21 03:28] rampara commented on #482
@maxsundell during development and testing of your app, it is important to use [test ads](https://developers.google.com/admob/unity/start#test_ads) to avoid getting your account flagged.

[2017-08-21 03:32] rampara commented on #481
Using the latest version of this plugin and the HelloWolrd sample app from this repo, I'm not running into a manifest merge issue. Can you post the details of the manifest merge error you're running into?

[2017-08-21 03:53] rampara commented on #480
@ENZODINE are you using the latest version of this plugin?

[2017-08-21 07:26] maxsundell commented on #482
Yeah I know, but not when it's actually on Google Play right?

[2017-08-21 08:44] ENZODINE commented on #480
yes I am using Google Mobile Ads Unity Plugin v3.6.3

[2017-08-21 11:27] RafaelC2 commented on #483
![conflito](https://user-images.githubusercontent.com/31190316/29517214-6189a4e8-864a-11e7-92a3-60dba17a38c7.png)

I think the folder will be overwritten.

[2017-08-21 16:09] Ruco opened #484 "JS: Uncaught (in promise) TypeError: e.join is not a function"
When I try to get AdMob working I am getting the following output in logcat (Ads tag):

08-21 17:44:43.567: I/Ads(26409): Starting ad request.
08-21 17:44:43.569: I/Ads(26409): Use AdRequest.Builder.addTestDevice("4AE9389FC691ED8783A760A7ED29881E") to get test ads on this device.
08-21 17:44:43.865: E/Ads(22314): JS: Uncaught (in promise) TypeError: e.join is not a function (https://googleads.g.do

[2017-08-22 03:28] rampara commented on #484
@Ruco as this issue is not related to this plugin but the Android GMA SDK instead, you should reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-08-22 03:28] #484 closed

[2017-08-22 03:29] rampara commented on #483
@RafaelC2 the folder shouldn't be overwritten. Plugins should add files to the same directory.

[2017-08-22 03:58] rampara commented on #482
You can ship your app with your app configured as a test device to avoid this issue.

[2017-08-22 04:50] rampara commented on #480
@ENZODINE that should be a warning not an error. Did you follow the instructions in the warning details?

[2017-08-22 05:51] ENZODINE commented on #480
notyet,
this is the warning :

[code]

[2017-08-22 05:57] ENZODINE commented on #480
I am confused to resolve this warning.

[2017-08-22 22:40] hwilliams82 commented on #481
Here is the error that I get (I hope it helps, thanks in advance):
CommandInvokationFailure: Unable to merge android manifests. See the Console for more details.
C:/Program Files (x86)/Java/jdk1.7.0_55\bin\java.exe -Xmx1024M -Dcom.android.sdkmanager.toolsdir="C:\Android\sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\PlaybackEngines\AndroidPlayer/Tools\sdktools.jar" -

std

[2017-08-23 21:55] cgfred commented on #471
Hello!

I have the same issue too with reward based ads. After the first ad is viewed then I see the error in the Android log reader: "Reward based video ad is not ready to be shown." but rewardBasedVideo.IsLoaded() is true.

The sample also have the same behaviour if you call it a 2nd time during the same runtime session.

Also at times there is a crash in the ad handler with the following trace:

[2017-08-24 06:20] hendlake8 opened #485 "3.6.3 ios not call OnAdRewarded"
use 3.6.3

in ios call RewardBasedVideoAd show

<Google:HTML> You are currently using version 7.21.0 of the SDK. Please consider updating your SDK to the most recent SDK version to get the latest features and bug fixes. The latest SDK can be downloaded from http://goo.gl/iGzfsP. A full list of release notes is available at https://developers.google.com/admob/ios/rel-notes.

[2017-08-25 10:24] Baalzamon commented on #471
Hi,

I'm experiencing the exact same problem.

First video runs fine, but the second video won't show unless you restart the app. Funny thing though, this problem only appears on Android devices. Any iOS device using the same code runs fine.

08-25 12:04:27.118 22438 22454 I Unity   : reward video loaded = True
:
08-25 12:04:27.120 22438 22438 W AdsUnity: Reward based video ad is not ready to be s

[2017-08-25 10:50] Baalzamon commented on #471
@rampara

I just tested the HelloWorld app from the repository. Without delving deeper into the issue, the HelloWorld works just fine and as expected (it doesn't show the described behaviour).

[2017-08-25 15:37] SiERRAeStudio opened #486 "Impossible merge AndroidManifest.xml"
Hi,
I have a error, using Unity version 5.4.1f1 and googleads-mobile-unity v3.6.3. This is error:

CommandInvokationFailure: Unable to merge android manifests. See the Console for more details.
/Library/Java/JavaVirtualMachines/jdk1.8.0_112.jdk/Contents/Home/bin/java -Xmx2048M -Dcom.android.sdkmanager.toolsdir="/Users/Jaime/android-sdks/tools" -Dfile.encoding=UTF8 -jar "/Applications/Unity/Playbac

[2017-08-26 06:53] ResidualSoils opened #487 "Can't request Reward Based Video"
I am using the "samples/HelloWorld" project in this repository. Build it on Android，I can request&show Banner, Interstitial Ad,Native Express Ad,But can't request Reward Based Video.
I'm using Unity 2017.1.0p2. Android SDK:25.0.1, jdk1.8.0_1440_144.
(sorry for my English)

[2017-08-26 09:34] #487 closed

[2017-08-26 17:18] ArmandCloud commented on #437
I am having the same error.
Only with android build. Ios has no problems showing ads.
So i removed this lines from my code and make a test build.
`.AddExtra("is_designed_for_families", "true")
 .TagForChildDirectedTreatment(true)`
Again i have the same error. And cant see test ads.

08-26 20:14:05.747 1836-1836/com.fauna.koskukulikos I/Ads: This request is sent from a test device.
08-26 20:14:06.1

[2017-08-27 02:10] douduck08 commented on #437
I have solved this issue on my app.

I removed my app from the "Designed for Families" plan, and the ads showed.
The reason I guessed is google cannot provide enough content with the limit of "Designed for Families".

[2017-08-27 11:24] ArmandCloud commented on #437
Thank you @douduck08 ,
I removed .AddExtra("is_designed_for_families", "true") from request.
I change Designed for families age group to mixed audience .
Now i can see the test ads.
Best Regards,

[2017-08-28 01:04] hwilliams82 commented on #486
It's because the minsdkversion of unity's manifest is 16 and the Google ads version is 14. I'm having the same issue and waiting to hear back from the ads team

[2017-08-29 10:11] vargabbarua opened #488 "Unity keeps trying to install SDK tools after Admob integration"
I am trying to get this plugin working with Unity 5.6.0f3. After the package has been imported, Unity keeps 'Quering about Android SDK components' and after a couple of minutes displays a message saying I am missing tools-25.2.5. However, Android SDK Manager shows that I do have this version installed. I uninstalled & reinstalled the SDK tools but it didn't help. Do I need any additional SDK compo

[2017-08-29 11:01] SiERRAeStudio commented on #486
Hi hwilliams82,
I decided to delete it, but I had the same problem with google-play-services, and I found the following solution:
1) Download Android SDK Tools:
    If your computer is Windows: http://dl-ssl.google.com/android/repository/tools_r25.2.5-windows.zip
    If your computer is MAC: https://dl.google.com/android/repository/tools_r26.0.2-macosx.zip
2) Go to your Android SDK Folder. There m

[2017-08-31 18:47] sam-eller opened #489 "Amazon Fire OS DFP won't run without Google Play Services"
I understand that Fire OS does not include Google Play Services, so what, does that mean this SDK does not support Amazon devices? Everytime I build this for Android, it works fine, just Amazon devices have a warning pop up that won't go away until I click "OK"

[2017-09-01 13:07] Russel1 commented on #414
Hello,

I have the same problem on Samsung Galaxy Note 4. But if the banner position is wrong, I can't hide the banner. The banner is always visible. Is there a workaround for this problem?

When the banner has the right position at the first start, then I can hide the banner normally.

[2017-09-01 17:04] Deathwing opened #490 "Vungle SDK 5.x - "At least one placement should be specified!""
So we just updated Google Ad Mobs for Unity and wanted to update also the Vungle Mediator.
So we installed the newest Vungle SDK (5.1.1) for Unity with the newest mediators from Google Ads.
The problem here is, the newest Vungle SDK needs placements, which you also implemented into your adapters. But your adapters are not listening on the serverParameters for it, they need to be passed by networkE

[2017-09-02 22:56] soundeos opened #491 "OnAdRewarded and OnAdClosed callbacks are not firing for unity rewarded ads while using admob mediation."
When using admob mediation, if the ad is serving from Unity, OnAdRewarded and OnAdClosed callbacks are not firing. The admob ads works fine. Here're what I did to produce the problem.

1- Modify the HelloWorld sample app to use my own rewarded ad mediation id. (https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld)
2- Install Google Mobile Ads Unity Plugin v3.6.3. (htt

[2017-09-04 09:08] Russel1 opened #492 "Banner is not always shown (only after refresh or with click on the empty space)"
Hello,

why is my medium rectangle banner not always shown after BannerViewBottom.Show() on an Android Device?
It seems like he already exists, but not shown. When I click on the empty space, it appears. Or it apears after the RefreshRate from Google Mobile Ads Settings.

The first shown always works, but the second shown doesn't always work (after BannerViewBottom.Hide()).

Best regards,
Oli

[2017-09-04 22:51] rampara commented on #492
@Russel1 are able to reproduce this issue in the HelloWorld sample app in this repo?

[2017-09-04 23:02] rampara commented on #485
@hendlake8 this warning output to the console when the version of GMA iOS SDK used by your app is not up to date. Rebuilding the Xcode project should pull in the latest version of GMA iOS SDK and get rid of this warning.

[2017-09-04 23:05] rampara commented on #491
@soundeos this issue seems specific the the Unity Ads adapter and not this plugin. I would recommend you reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-09-04 23:05] #491 closed

[2017-09-04 23:07] rampara commented on #489
@sam-eller can you post of screenshot of the warning pop up you are encountering?

[2017-09-05 20:27] gokhanabatay commented on #414
I have the same issue with note 4, I also have note 3 ad is showing fine location, please let me know if you fix it.
gokhanabatay@gmail.com
My game is also published in play store name is "Block Puzzle Classic Brick Game"

@rampara @carsonvo @edumlauer  @Russel1

[2017-09-06 10:18] Ulisses85 opened #493 "r"

[2017-09-06 18:18] NhatNhanPunch commented on #414
I have same problem :( anyone can help?

[2017-09-07 03:01] MadeForThisCommment opened #494 "Delegate events problem"
I dont whats causing the problem but there are a lot of errors

[2017-09-07 08:20] rampara commented on #494
@MadeForThisCommment have you modified the source code for this plugin in any way?

[2017-09-07 08:23] rampara commented on #493
@Ulisses85 closing as no description for the issue was provided.

[2017-09-07 08:23] #493 closed

[2017-09-07 08:25] rampara commented on #481
@hwilliams82 can you ensure you are using jdk 1.8.

[2017-09-07 08:34] rampara commented on #479
@blagojap @AlohaLorraine this crash does not seem related to this plugin but the GMA Android SDK instead. I have reached out to that team about this crash and will follow up when I have more information.

[2017-09-07 08:46] larku opened #495 "Event callbacks are on wrong thread."
The event callbacks are invoked on a different thread than the event callbacks are registered on (ie, the Unity Update() thread)

This causes many issues/bugs.

Most developers would expect the callbacks to occur on the main Unity Update() thread.

[2017-09-07 08:55] #495 closed

[2017-09-07 08:57] rampara commented on #488
@vargabbarua are you using the latest version of this plugin?

[2017-09-07 09:14] larku opened #496 "Why not fix the incorrect thread issue?"
Opened a new issues as I can not comment on the previous one I opened since it was closed before I could reply (a bit hasty).

Previous bug report:
---------
( https://github.com/googleads/googleads-mobile-unity/issues/495#issuecomment-327736193 )

The event callbacks are invoked on a different thread than the event callbacks are registered on (ie, the Unity Update() thread)

This causes many issu

[2017-09-07 11:16] ArmandCloud opened #497 "Can not hide banner on ios"
Hello,

Simply, banner.Hide() or banner.Destroy() not working on my build.

I am sure that my banner variable is pointing the requested banner.
I added debug code on Xcode to GADUBanner.m , and it fires (void)hideBannerView that i see on console .
Xcode console not showing any log about hide or show or another error. I can see banner,inter,video test ads.

I am using Unity 2017.1.0p5, min target i

[2017-09-07 13:08] MadeForThisCommment commented on #494
I didnt delete the plug-in and other folders from the old plug-in that I installed.

[2017-09-07 13:28] KVinS opened #498 "Automatic activation banner"
Hello. I have a problem.
If you make a request for a banner, and then display a rewarded video, after the video is closed, a banner is activated.
(Android, Unity5, 3.6.3)
Repeated in the [example](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld/):
1) Request banner
2) Destroy banner
3) Request rewarded
4) Show rewarded
My English is terrible, [I create a video](h

[2017-09-07 13:36] #497 closed

[2017-09-07 15:04] ArmandCloud commented on #497
It turned out a scripting mistake that i call request after hiding or destroying.

[2017-09-07 15:11] ArmandCloud commented on #496
Same here, running lot of coroutines to manage all events. It causes crash after hard quit from the game.
Is there a best practice for this thread issue?
Best Regards,

[2017-09-08 05:13] jykgod opened #499 "Incompatible with the latest firebase"
The latest firebase-unity-sdk use the Google.JarResolver_v1.2.45.0.dll and it only downloads the "play-services-base-11.2.0.aar","play-services-basement-11.2.0.aar","play-services-tasks-11.2.0.aar".There is no 11.2.0 version dependence for the Admob.
How can I use solve this problem?

[2017-09-08 05:39] #499 closed

[2017-09-08 12:50] MuradDasi commented on #423
I managed to make a build using:
- Navigate to Plugins/Android/AndroidManifest
- add line: xmlns:tools="http://schemas.android.com/tools" **AFTER the line** manifest xmlns:android="http://schemas.android.com/apk/res/android"
**Note:** _I build it just now but I have not tested it yet_

[2017-09-08 15:50] RMSuhail opened #500 "Show multiple banner ads at different positions"
I created two instances of bannerView (top, bottom) at the same time , but when i show the ad , it shows invalid request, how do i achieve this ,can i create only one instance at a time and need to destroy that before creating other

[2017-09-11 14:38] Baalzamon commented on #471
I was able to fix the error. Indeed it was no problem with the plugin, but the execution timing of my code.

I requested the new video in the Rewarded-Callback. The video was loaded correctly, but after that I got a Loaded-Callback, I received a Closed-Callback, when I closed the Ad.

Somehow this sequence of events doesn't play well. I removed the request from the Rewarded-Callback and but it in

[2017-09-11 16:37] agiro8747 opened #501 "Admob causes game to crash on Android"
java.lang.Error: FATAL EXCEPTION [i:Handler]
Unity version     : 2017.1.1f1
Device model      : samsung SM-A520F
Device fingerprint: samsung/a5y17ltexx/a5y17lte:7.0/NRD90M/A520FXXU2BQH4:user/release-keys
Caused by
at com.google.android.gms.ads.exoplayer1.upstream.b.a(:com.google.android.gms.DynamiteModulesA@11509448:3)
at com.google.android.gms.ads.exoplayer1.extractor.h.b(:com.google.android.gms.

[2017-09-11 23:25] alexbowns commented on #414
Hello, I've had the same issue noted in the AdMob developer forum: https://groups.google.com/forum/#!searchin/google-admob-ads-sdk/unity$20banner$20position%7Csort:relevance/google-admob-ads-sdk/o0SntKRWi0I/IOeaqXk4AwAJ

[2017-09-13 07:40] Jazzgazer commented on #414
I have same problem in latest version (3.6.3)
The banner doesn't work. (not appear)

This problem appears in Galaxy Note 5 & Galaxy S7 Edge.
Please Help!

[2017-09-13 07:51] NhatNhanPunch commented on #414
Hi guy, Please try to downgrade Plugin version. I try and it work perfectly

On Wed, Sep 13, 2017 at 2:40 PM, Jazzgazer <notifications@github.com> wrote:

[2017-09-13 07:54] Jazzgazer commented on #414
which version does work?

[2017-09-13 07:57] NhatNhanPunch commented on #414
In my case, i downgrade to 3.1.3.

[2017-09-13 11:50] cgfred commented on #471
Hey @Baalzamon thanks for the solution, that solved my problem too. Thanks again!

[2017-09-14 19:53] rampara commented on #501
@agiro8747 this issue is related to the Android GMA SDK itself and not this plugin. Can you post the stack trace from your original post to the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk)?

[2017-09-14 19:54] #501 closed

[2017-09-14 20:00] rampara commented on #500
@RMSuhail it is against AdMob policy to show multiple ads on screen at the same time and the GMA SDK does not support this behavior.

[2017-09-14 20:00] #500 closed

[2017-09-15 13:24] xxPillsxx opened #502 "Can't get it to work."
So I just downloaded, imported the plugin and followed the tutorial on Admob's website, but couldn't get it to work. These errors always show up when running in the editor:

**Gradle failed to fetch dependencies.**

and

**Resolution failed**

**I've tried running the Resolver, but it didn't do anything at all.** There are no .Arr files in my Plugins/Android folder, there's only the GoogleMobileAd

[2017-09-15 13:53] paradizIscool commented on #490
Hi, this is due to strange Vungle uses of extras. You should contact vungle.

[2017-09-15 14:04] paradizIscool opened #503 "Useless clearJar task"
clearJar task try to remove a file that cannot exist
unity-plugin-library.jar
is create by copyAndroidLibraryJar
into ${pluginBuildDir}/Assets/Plugins/Android/GoogleMobileAdsPlugin/libs

this folder is cleared by clearTempBuildFolder, there is no need to remove this jar specifically

[2017-09-15 23:20] ishmar opened #504 "Ads not showing - designed for families + Unity"
Hi,

I'm developing a game with Unity 2017, and I want to add admob ads to it.

I've been trying to show admob ads for the last week with no luck. I tried to install/reinstall package (using v3.6.3). My first approach was to use banners, but I ended up giving up and trying rewarded videos.  Still got nothing.

Today, I've found that using a new package name (just removing last char for example), a

[2017-09-16 15:52] wenderRondonia opened #505 "CommandInvokationFailure: Unable to convert classes into dex format"
Got this error after importing googleads-mobile-unity
other plugins: UnityIAP and Google Play Games Services

[2017-09-16 16:59] LeonardoDipilato opened #506 "Hiding and showing banner ads breaks them"
I'm working on a game with a Menu->Game->GameOver->Menu setup and my plan was to hide the banner ad on the Menu and show it in Game and GameOver, hiding it again when entering the Menu.
However, the setup only works on the first loop. To explain:
1. Menu screen, no ads showing. Here the AdsManager is initialized and loads the ad in the background.
2. Game screen, ads showing. Here the AdsManager g

[2017-09-18 08:05] gmikhail commented on #505
I had the same problem. I use Google Play Games Services.

[2017-09-18 10:17] gmikhail commented on #505
I found a temporary solution:

**1. Disable automatic version replacement.** Unity menu -> Assets ->Player Services Resolver -> Android Resolver -> Settings -> deactivate "Enable Auto-Resolution" -> OK - NO (just read the dialog carefully).
**2.** Replace **play-services-ads**, **play-services-ads-lite**, **play-services-basement**, **play-services-gass** (libraries related to ads, they will have

[2017-09-18 13:47] wenderRondonia commented on #505
thanks ! everything works now!

[2017-09-18 13:48] #505 closed

[2017-09-18 14:38] anmolmahatpurkar opened #507 "Proguard Rules for Admob and Mediation"
Hello,

From Unity 2017.1 onwards, we could specify proguard rules in a custom file. Is there any place where I could find a list of proguard rules for Admob and Mediation to work correctly.

There are a few I used to make it work for now,

[code]

I am not sure if these are all I need though. Any help would be appreciated. Thanks :)

[2017-09-18 16:42] JohnnyIsHereNow opened #508 "Error: No ad to show."
I am trying to implement rewarded video ads in my application.
Everything worked well for that past few months but for last couple of days I got this error:

 ["No ad to show."]

This only happens on iOS.
I have tried to do the same with the sample app and it works only for test ads. If I change the ID I receive the same error.
I must specify that it works ok on Android.
Thanks in advance.

[2017-09-18 19:15] rampara commented on #508
@JohnnyIsHereNow as this issue is not related to this plugin but to the performance of your specific ad plamcement, I would recommend you reach out on the [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-09-18 19:15] #508 closed

[2017-09-18 19:15] phuocnb commented on #508
The same with me

[2017-09-18 19:17] rampara commented on #507
@anmolmahatpurkar the Android [Mediation developer docs](https://developers.google.com/admob/android/mediation#configure_proguard_settings) would be a good place to start but looks like you've already covered what's mentioned there.

[2017-09-18 19:17] phuocnb commented on #508
@rampara the support link you is not working https://groups.google.com/forum/#!forum/google-admob-ads-sdk

[2017-09-18 19:24] rampara commented on #502
@xxPillsxx can you ensure values for the Android SDK and JDK path are set under External Tools tab in Unity preferences?

[2017-09-18 21:15] rampara commented on #508
@phuocnb strange that link works for me. What do you see when attempting to click through?

[2017-09-18 21:21] rampara commented on #506
@LeonardoDipilato are you running into this issue on Android, iOS or both platforms?

[2017-09-18 21:25] LeonardoDipilato commented on #506
I've only tried on Android, which, as of now, is the only platform I'm developing for.

Also, perhaps this is worthy of note, I found I have the same problem with interstitials which only show once before never appearing again.

[2017-09-19 09:36] 2rusbekov opened #509 "Issues on IOS. OnAdRewarded called with wrong ShowResult"
Using Google Mobile Ads Unity Plugin v3.7.0.

Google Mobile Ads SDK 7.23.0 not gonna build in xcode with error "some header not found".
Someone here on git adviced to use sdk 7.22, and it builds without errors.

Issue: Only every second watched ad returns ShowResult.Finished, first - ShowResult.Skipped.

[2017-09-19 14:12] edscodeblenders opened #510 "Can't build for Android after upgrading to 3.7.0"
I was using Admob for Unity plug-in version 3.6.3 without any problem. After upgrading to 3.7.0, I'm getting the following error:

CommandInvokationFailure: Unable to convert classes into dex format.
C:\Program Files\Java\jdk1.8.0_92\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="C:/Users/MyUserName/AppData/Local/Android/sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Edito

[2017-09-19 18:47] anmolmahatpurkar commented on #507
Yeah I did. The problem is, I cant get it to work with Firebase (or any other Google Play Dependant Plugin). I imported the Firebase 4.1.0 Analytics SDK in my project. I get the following error when try to build:

[code]

Here are the Proguard Rules I use:
[code]

Here is a screenshot of my Plugin/Android folder:

<img width="476" alt="screen shot 2017-09-20 at 12 14 42 am" src="https://user-image

[2017-09-20 16:13] wenderRondonia commented on #510
same problem here using GPGS and UnityIAP and Facebook SDK

[2017-09-20 18:34] rampara commented on #510
@edscodeblenders @edscodeblenders can you post the contents of the `Assets/Plugins/Android` directory of your Unity project?

[2017-09-20 19:08] edscodeblenders commented on #510
Sure, here are all the files and folders in that folder:
08/09/2017  20:28             1.850 AndroidManifest.xml
26/07/2017  17:35               178 AndroidManifest.xml.meta
18/09/2017  17:12            11.156 common-1.0.0.jar
18/09/2017  17:12               628 common-1.0.0.jar.meta
18/09/2017  13:29    <DIR>          GoogleMobileAdsPlugin
12/07/2017  21:47               327 GoogleMobileAdsPlugin

[2017-09-20 20:52] rampara commented on #507
@anmolmahatpurkar looks like the Play Services Resolver is not currently resolving the dependencies and including Play Services AARs with conflicting versions. Ran into the same problem with a Unity project in my end where I included the GMA Unity plugin and the Firebase Analytics Unity plugin. Will reach out the to maintainers of the Play Services Resolver about the issue but for the time being I

[2017-09-20 22:42] rampara commented on #510
@edscodeblenders looks like the issue you're running into is caused by conflicted versions of Play Services AARs being included in your project (10.2.6 and 11.2.2). Can you try forcing dependency resolution by selecting `Assets -> Play Services Resolver -> Android Resolver -> Force Resolve` in the Unity Editor. If that doesn't resolve the issue you may have to update the dependency declarations to

[2017-09-20 22:50] rampara commented on #504
@ishmar are you receiving ads without issue when removing the `is_designed_for_families` and `TagForChildDirectedTreatment` options on the ad request? If so, there may be no issue at all, only the expected lower fill rate when requesting ads with those options as mentioned in the [AdMob help center](https://support.google.com/admob/answer/6223431?hl=en).

[2017-09-21 00:42] rampara commented on #506
@LeonardoDipilato thanks for bringing this issue to our attention. Will be pushing out a fix for this shortly.

[2017-09-21 00:52] rampara commented on #509
@2rusbekov can you provide more information on the header error you're running into? I'm able to build and run the plugin with the latest version of the GMA iOS SDK without issue. When you build your Xcode project do you see any content in the Unity console that may indicate the cause of your issue?

As for your second issue, I'm not sure what you're referring to by `ShowResult.Finished` or `ShowR

[2017-09-21 08:19] duchanhleo commented on #510
Hi, I get same issue. There are anyway to fix it manually?

[2017-09-21 08:35] duchanhleo commented on #510
I fixed by update dependencies file. Open GoogleMobileAdsDependencies.xml from path Assets\GoogleMobileAds\Editor\GoogleMobileAdsDependencies.xml. Change "com.google.android.gms:play-services-ads:11.2.2" to "com.google.android.gms:play-services-ads:11.2.0"

[2017-09-21 08:38] 2rusbekov commented on #509
@rampara I handled that header issue. Previously I unpacked 7.23 zip on windows pc and moved to mac, i dont know why, but it didnt work. But issue dissapears when I unpacked on mac.

Oh, sorry, wrote wrong.

RewardBasedVideoAd.Instance.OnAdClosed always called if I watching ad first time.
RewardBasedVideoAd.Instance.OnAdRewarded called every second watch.

[2017-09-21 15:15] rsodre commented on #490
I'm having the same issue with Unity 5.6.3, Vungle 5.2 and Android adaptor 5.1.0
@Deathwing , did you contact Vungle? Is there any support case open for that?

[2017-09-21 18:57] agiro8747 commented on #501
Greetings and sorry for not getting back to you.
Closed means it was solved or it was inactive for long enough to close?
Shall I post the error message?

2017-09-14 21:54 GMT+02:00 rampara <notifications@github.com>:

[2017-09-21 18:58] rampara commented on #501
@agiro8747 I would recommend you make a post on the Google Mobile Ads SDK Technical Forum I linked to in my previous post.

[2017-09-21 18:59] agiro8747 commented on #501
Now that was a fast reply. I do post with the error code from the report.

2017-09-21 20:58 GMT+02:00 rampara <notifications@github.com>:

[2017-09-21 19:01] rampara commented on #509
Correct me if I'm not understanding the issue correctly. You are only receiving the `OnAdClosed` ad event for the first rewarded ad you show. All subsequent rewarded video ads do not receive this ad event (but the other ad events work as expected. Is that the issue you're experiencing?

[2017-09-21 19:03] rampara commented on #510
@duchanhleo mentioned, updating the dependency declarations from different Unity plugins to not conflict should serve as a workaround until the Play Services Resolver library is updated to resolve the issue.

[2017-09-21 21:27] rampara commented on #471
Seems like you've figured out the issue. Ad requests should be made from the OnAdClosed ad event for subsequent ads, not the OnAdRewarded ad event.

[2017-09-21 21:27] #471 closed

[2017-09-21 22:47] rampara commented on #414
@alexbowns @Jazzgazer @NhatNhanPunch still having trouble reproducing this issue. Got a hold of a Galaxy S6 Edge running Android 6.0.1 and made the following recording.

https://drive.google.com/file/d/0B2oE3iOknPmMTzdnLTlvaUhMWDg/view?usp=sharing

Are the steps I followed not what you are doing to reproduce the issue?

[2017-09-22 07:20] czater commented on #510
I have the same problem... @duchanhleo method doesn't work for me

[2017-09-22 08:32] 2rusbekov commented on #509
Hi @rampara
Here logs with sdk 7.23.0. I watched 4 ads till end.

**[CODE] Purchaser.OnAdMobLoaded**
//Here I pressed "watch ad" button
**[CODE] Purchaser.OnAdMobRewarded**
//I get reward. Fine

**[CODE] Purchaser.OnAdMobLoaded**
//Here I pressed "watch ad" button
**[CODE] Purchaser.OnAdMobRewarded**
//I get rewarded again. Fine

**[CODE] Purchaser.OnAdMobLoaded**
//Here I pressed "watch ad" butto

[2017-09-22 08:52] Deathwing commented on #490
@rsodre Yeah, we contacted Vungle. They wrote me: 'I am currently waiting on a response from plugin developer who wrote the AdMob side, as this is an edge case integration.I will follow up again.'
So time to wait I guess :)

[2017-09-22 09:19] cubixstd commented on #508
@rampara the link works well on pc. Look like this issue is on mobile only
https://imgur.com/a/oZ3iB

[2017-09-22 17:31] rampara commented on #509
@2rusbekov were the first two ads served by AdMob or are you using mediation as well?

[2017-09-22 17:32] rampara commented on #510
@czater have you manually updated all your dependency declarations to the the same version and then done a force resolution?

[2017-09-23 05:25] 2rusbekov commented on #509
We are using mediation.

[2017-09-23 15:41] iceherosubzero opened #511 "Reward Video Ads Not Showing On Iphone"
I am unable to see Rewarding Video Ads at all on IPhone.
Whereas I am able to see Rewarding Video Ads on Android without any problem.
Every time I try to show ad after requesting an ad it is always failing.
Is there any problem on the server side??? because I was able to see a few weeks back the Rewarding Video Ads on IPhone.

Regards,
Iceheros

[2017-09-23 18:32] infernova commented on #510
@edscodeblenders @wenderRondonia @czater, as mentioned by @rampara, the issue seems to be due to a mismatch of dependency versions so you will need to go to Assets/GooglePlayGames/Editor/GPGSDependencies.xml and change all the package versions from 10+ to 11.2.2. If you have Firebase installed as well, you will need to ensure the Firebase package versions are the same as well by going to Assets/Fi

[2017-09-24 17:50] HasnLal opened #512 "I see console logs just fine in Editor, but can't build (unable to convert classes into dex format)"
![picture 2017-09-24 20_29_25](https://user-images.githubusercontent.com/32243483/30784062-29198780-a167-11e7-9051-659970423a7c.png)
Play Games version : 0.9.40 (near 2 weaks old)
Google Mobile ads (latest to this date)
I have play games working fine, leaderboards etc. But after play games I imported this plugin for admob unity, I deselected 'PlayServicesResolver/Editor/Google.VersionHandler.dll'

[2017-09-24 22:45] petersuwara commented on #446
Any progress on this ? We're still using workarounds and it's become an ordeal. We may switch back to  just using Jenkins, which allows a rebuild with a workspace and cocoa pods.

All I am seeing is hacks and work arounds ? Anyone from Unity come to a real reliable fix ?

[2017-09-24 23:01] petersuwara commented on #333
@rampara any updates on this ? We are looking at moving to Jenkins again as this seems to be still be broken, full on undocumented and unmanaged work arounds and hacks.

A legitimate fix that manages Cocoapods and then runs through the workspace would be the best direction.

Any idea of timeframe @rampara, happy to update what's necessary to get this working.

Regards,

[2017-09-24 23:04] petersuwara commented on #463
@rampara any idea of a release date ? Likely we'll just move on to Jenkins until this is resolved. Thanks.

[2017-09-25 04:57] petersuwara commented on #333
@akurani unfortunately when running the **[PostProcessBuild]** in unity 5.6.1f1 we are getting our UCB crashing with no real explanation in the console log. Since our release builds are done in an older version of Unity, it would be good to know which version of unity is being run on UCB with these work arounds...

[2017-09-25 18:09] akurani commented on #333
@petersuwara I had UCB set to use "Latest Unity 5.x" which was probably 5.6.1f1 when I last ran this in May, but I could be wrong.

Looking at my instructional comment, the only step I didn't explicitly spell out: Unity Editor >> Assets >> Play Services resolver >> ios Resolver >> Settings >> Cocoapods Integration >> none - Do not integrate Cocoapods. I remember I needed to make sure all trace of

[2017-09-25 18:23] rampara commented on #333
@petersuwara @akurani Unity Cloud build should now work out of the box with the latest version of this plugin (with no changes required via PostProcesBuild scripts). Is that not the case for you?

[2017-09-26 13:41] wenderRondonia commented on #510
solved it thanks @infernova

[2017-09-26 13:58] edscodeblenders commented on #511
Same issue here. Could it be related to the fact that the app has not been approved yet by Apple? Is it a must that the app is live to show rewarded ads?

[2017-09-26 14:05] edscodeblenders opened #513 "Second rewarded ad not shown in Android"
Hi there!

We're experiencing an issue with Rewarded Video Ads in Android, when using the Unity plug-in.

The first ad is shown without any problem. But if we request a second ad, it can't be shown. The method "rewardBasedVideo.IsLoaded()" returns true, so we call "rewardBasedVideo.Show()". This is the flow:
- We invoke rewardBasedVideo.LoadAd() to load the ad at the beginning.
- When it's time to

[2017-09-26 20:55] rampara commented on #513
@edscodeblenders this is not a known issue. Is it consistently reproducible for you? Do you have any mediation configured for ad placement you are requesting rewarded videos from? What version of Google Mobile Ads SDK are you building your app with?

[2017-09-26 21:03] rampara commented on #511
@iceherosubzero @edscodeblenders can you try setting you device to be a test device before making ad requests for unreleased apps?

[2017-09-26 21:10] edscodeblenders commented on #513
We can reproduce it every single time. The game is live in Google Play if you want to give it a try:
https://play.google.com/store/apps/details?id=com.codeblenders.games.puzzle.hexa.make64

We don't have any mediation configured, just Admob. Our ad-unit-id is the following:
ca-app-pub-9637283630402775/2174153036

We're not handling the OnAdLoaded event, so we're not sure if it's being fired or not

[2017-09-26 21:13] rampara commented on #464
Closing this issue due to its age and non response from original poster.

[2017-09-26 21:13] #464 closed

[2017-09-26 21:14] rampara commented on #476
Closing issue due to non-response.

[2017-09-26 21:14] #476 closed

[2017-09-26 21:14] rampara commented on #469
Closing issue due to non-response.

[2017-09-26 21:14] #469 closed

[2017-09-26 21:15] rampara commented on #475
Closing this issue due to non-response.

[2017-09-26 21:15] #475 closed

[2017-09-26 21:16] rampara commented on #470
Closing this issue due to non-response.

[2017-09-26 21:16] #470 closed

[2017-09-26 21:16] rampara commented on #467
Closing this issue due to non-response.

[2017-09-26 21:16] #467 closed

[2017-09-26 21:17] #482 closed

[2017-09-26 21:26] rampara commented on #446
@petersuwara Have you tried a Unity Cloud build with the latest version of this plugin (not using any of the PostProcessBuild workarounds) ?

[2017-09-26 21:30] rampara commented on #509
@2rusbekov identifying which ad network is returning the ad that causes the issue would help with getting to the bottom of what the cause is.

[2017-09-26 22:07] rampara commented on #486
@SiERRAeStudio looks like you ran into two separate issues. The first is that older versions of Unity (< Unity 5.5) are not compatible with the latest Android SDK tools. This can be solved by either downgrading Android SDK tools or upgrading Unity. The second issue you ran into is exactly as described by @hwilliams82. The minimum API level for Android setting in Unity conflicts the minimum SDK dec

[2017-09-26 22:07] #486 closed

[2017-09-26 22:13] rampara commented on #503
@paradizIscool the `android-library` project may have been built separately from running the top-level gradle task in the build script for this plugin.

[2017-09-26 22:14] #503 closed

[2017-09-26 22:18] #485 closed

[2017-09-26 23:26] rampara commented on #492
@Russel1 this issue should be resolved in that latest version of the plugin (v3.7.1).

[2017-09-26 23:26] #492 closed

[2017-09-26 23:27] rampara commented on #506
@LeonardoDipilato this issue should be resolved in that latest version of the plugin (v3.7.1).

[2017-09-26 23:27] #506 closed

[2017-09-26 23:39] rampara commented on #496
@ArmandCloud the current best practice is described in this [blog post](http://googleadsdeveloper.blogspot.com/2016/04/handling-android-ad-events-in-unity.html).

[2017-09-26 23:58] rampara commented on #494
@MadeForThisCommment updating from an older version of this plugin shouldn't cause this issue. If you link me to a Unity project that reproduces this issue, I can dig into what is causing it.

[2017-09-27 00:03] rampara commented on #480
@ENZODINE the warning states that when using older versions of Unity, outdated of the Play Services Resolver will not be automatically removed from your project when updating plugins that include that library. You will have to manually remove outdated Play Services Resolver files from your project.

[2017-09-27 00:05] rampara commented on #428
@mmz1995 missed your response on this thread. If you're still experiencing this issue, updating to the latest version of the plugin should resolve it.

[2017-09-27 00:16] rampara commented on #510
This issue has been resolved in the version of Play Services Resolver included in the latest release of this plugin (v3.7.1).

[2017-09-27 00:16] #510 closed

[2017-09-27 00:48] rampara commented on #513
@edscodeblenders having trouble reproducing this issue on my end. Can you provide the version of the Google Play services AARs in the `Assets/Plugins/Android` directory of your Unity project? Also, the version of Google Play services on the device you're able to reproduce this behavior with.

[2017-09-27 09:09] anmolmahatpurkar commented on #507
That works for me.  Any ETA from the Play Services Resolver team on the issue? Should I post this issue on their repo as well?

[2017-09-27 10:50] 2rusbekov commented on #509
How can I do it? Except of enabling them one by one.

[2017-09-27 13:27] Russel1 commented on #414
@rampara Can you use a Samsung Galaxy Note 4 to reproducing this issue?
This is not a Galaxy S6 Edge problem.

[2017-09-27 16:45] edscodeblenders commented on #511
Apple just approved our app, we linked the app, and now rewarded ads are showing properly. Thanks.

[2017-09-27 16:52] edscodeblenders opened #515 "My game crashes in Android after upgrading to 3.7.1"
Hi there!

Just upgraded the plug-in to version 3.7.1, and now my game crashes on startup. Checked the logs from LogCat in Android Studio, and I see that this is related to Admob. First, we see the following warning:
09-27 13:12:10.000 3499-3972/? W/Ads: Invoke Firebase method getInstance error.
                                      java.lang.ClassNotFoundException: Didn't find class "com.google.a

[2017-09-27 17:56] rampara commented on #511
@edscodeblenders glad your issue has been resolved.

[2017-09-27 18:00] rampara commented on #509
@2rusbekov enabling them one by one does like quite a bit of work. Should be pushing out an update soon that includes a new API for `getAdapterClassName`. If you're willing to wait, that API would make identifying the ad network much easier.

[2017-09-27 18:02] #507 closed

[2017-09-28 00:15] ishmar commented on #504
Nevermind, after creating project from scratch it finally worked. Thanks for your time.

[2017-09-28 00:15] #504 closed

[2017-09-28 01:54] rsodre commented on #491
Fixed that problem by not calling Advertisement.Initialize(appId);
AdMob already Initializes Unity Ads, calling it twice will break it.

[2017-09-28 13:57] rsodre commented on #490
Instead of this error, I started seeing "VungleManager: networkExtras is null". Same thing.

Vungle support team told me that the Android adaptor is not working with Unity and we should use Vungle SDK v4 for the time being.

Downgraded to Vungle Unity SDK 4.1.0 and android adaptor 2.2.0 and now I saw my first Vungle ad with AdMob mediation :)

[2017-09-28 18:53] edscodeblenders commented on #515
Any comment regarding this? This is a show stopper for us...

[2017-09-28 19:34] ComplexVariable commented on #414
I am using Admob v 3.7.1 and i am facing this issue. Not exactly the same. My banner ad position is always wrong even first time. I have given the position to be at bottom but it always shows up at top.

`bannerView = new BannerView (adUnitId, AdSize.SmartBanner, AdPosition.Bottom);`

I am able to hide the banner. I am using Galaxy J7 core with android 7.0.

[2017-09-28 20:11] alexbowns commented on #414
Hey, I figured out a temporary solution for the Android Banner size and placement.

It looks like the size is measured in the screen DPs. I could position the banner ad and size appropriately for the Android screen with that knowledge.

However, when I tried out using the same thing with the iOS Banner, the view was not appearing as expected. The custom x and y coordinates were not in the right sp

[2017-09-28 21:15] rampara commented on #414
@alexbowns custom positions should work the same across Android and iOS (point/ dp offset from the top right left corner). What inconsistencies are you seeing?

@ComplexVariable the issue you're running into seems to be a separate from the one discussed here. Can you open a new issue on the issue tracker?

@Russel1 I actually haven't been able to get my hands on a Note 4 running 6.0.1. Was unable

[2017-09-28 21:17] rampara commented on #515
@edscodeblenders you can ignore the warning, it's just log spam that will be cleaned up in a future release of the GMA Android SDK. As for the crash, do you see anything else in logcat that may indicate the cause of the crash? Are you able to reproduce the crash on the HelloWorld sample app from this repo?

[2017-09-28 21:20] rampara commented on #513
@windameister for the crash log you posted, can you provide the version of Google Play services you built the app with (the version of the Play Services AARs in the Assets/Plugins/Android directory of your Unity project) and the version of Google Play Services running on the device where the crash occurred?

[2017-09-28 21:29] alexbowns commented on #414
Hey @rampara I was trying to make a custom banner size for iOS and it was appearing off to the right and too large.
I did notice another issue around my iOS build's UI...so I'm not ruling out that that might be the root cause instead. I'll get back to you on that after I sort that problem out and I'll try out the same logic I have for my Android custom position and sizing.

Thanks for the reply!

[2017-09-28 21:49] rampara commented on #490
@Deathwing @paradizIscool @rsodre Currently network extras for Vungle is not supported with this plugin but we're working on resolving this issue. I'll update this issue as soon as support for Vungle SDK 5.x is ironed out.

For the time being, if you would like you use Vungle mediation with this plugin, you will have to use the older version of Vungle's SDK and mediation adapter, as @rsodre mentio

[2017-09-28 22:05] rampara commented on #414
@Russel1 no problem. Do create a separate issue on the tracker if you find inconsistencies with custom positioning.

[2017-09-28 22:14] alexbowns commented on #414
@rampara, assuming that was for me. I'll create one for that if it persists after my own updates.

[2017-09-28 22:17] rampara commented on #414
Yep. Updated comment.

[2017-09-28 23:24] edscodeblenders commented on #515
Hi @rampara, thanks for the feedback, we thought the issue was related to admob because of the logs, but we found it related to the upgrade on Google Play Game Services... You can close this issue.

[2017-09-28 23:24] #515 closed

[2017-09-29 05:24] dps999 opened #516 "iOS framework addition failed due to a Cocoapods installation failure"
Cocoapods installation detected /usr/local/bin/pod
Then

iOS framework addition failed due to a Cocoapods installation failure. This will will likely result in an non-functional Xcode project.

After the failure, "pod repo update" was executed and succeeded. "pod install" was then attempted again, and still failed. This may be due to a broken Cocoapods installation. See: https://guides.cocoapods.o

[2017-09-29 08:48] windameister commented on #513
@rampara thank you for your response. The playservice aar version I'm using is 11.0.4. I copied below information from my build.gradle.

dependencies {
	compile fileTree(dir: 'libs', include: ['*.jar'])
	compile(name: 'GoogleAIDL', ext:'aar')
	compile(name: 'GooglePlay', ext:'aar')
	compile(name: 'ads-release', ext:'aar')
	compile(name: 'animated-vector-drawable-25.3.1', ext:'aar')
	compile(name:

[2017-09-29 09:16] emeahonen opened #517 "CommandInvokationFailure: Unable to convert classes into dex format."
So I'm using the latest version of google play services and admob plugin and I'm getting this error every time i build. I have tried to delete the plugins many times and tried everything that has been said here but still nothing works.
I see people talking about PlayServiceResolver and when i imported the admob plugin it always says these files are obselete and those have something about PlayServi

[2017-09-29 10:23] Russel1 commented on #414
With the latest Google Mobile Ads update, the bug is even first time and also with Galaxy devices with higher Android version. For example on Galaxy S6 Edge with Android 7.0.

[2017-09-29 13:46] ComplexVariable commented on #414
@Russel1 I downgraded to previous version and it started working as expected. I think for now you can do that.

[2017-09-29 13:58] Russel1 commented on #414
@ComplexVariable thank you, I downgraded also to previous version and it works.

[2017-09-29 17:08] windameister commented on #513
Tried 3.7.1. Not reproducing the Reward Ad problem any more.

However, find a bug in 3.7.1.

Banner ad will show on the top-left of the screen no matter which AdPosition parameter is passed in. (3.7.0 does not have this problem)

[2017-09-29 18:06] rampara commented on #513
@windameister having trouble reproducing the that behavior. On 3.7.1 I requested a banner to be positioned on the bottom-left and am seeing the following:

![screen](https://user-images.githubusercontent.com/11047881/31029357-3d0fe6e2-a506-11e7-8970-78bc2a648d53.png)

Can you open a separate issue for this.

[2017-09-29 18:10] rampara commented on #517
@emeahonen based on the error log you posted, it looks like you're including either conflicting versions of Google Play services AARs or multiple versions of Google Play Services AARs. I would check the `Plugins/Assets/Android` directory of your Unity project to ensure you are only including a single and consistent version of Google Play services AARs.

[2017-09-29 19:23] emeahonen commented on #517
@rampara I am using Google Play Services and Admob. Both are the latest versions. I checked my Assets/Plugins/Android And i can't see any duplicates. I can see tho there seems to be different versions but i don't know how to get the "same" versions, because i have latest versions of both plugins.
![screenshot](https://user-images.githubusercontent.com/32386691/31032418-920887a4-a564-11e7-8c47-c971

[2017-09-29 19:27] rampara commented on #516
@dps999 did you try re-building after the adding the recommended lines to your bash profile?

[2017-09-29 19:29] rampara commented on #517
@emeahonen you're using v3.7.1 of this plugin? If so, can you try force resolving dependencies by selecting `Assets -> Play Services Resolver -> Android Resolver -> Force Resolve` in the Unity Editor.

[2017-09-29 19:38] emeahonen commented on #517
Yes I am. Umm... You mean on project view? There is only "Editor" folder inside PlayServicesResolver. And inside that folder there is some files. I am really sorry this is my first time using AdMob.
![screenshot1](https://user-images.githubusercontent.com/32386691/31032935-dfa8201c-a566-11e7-9536-00237f9abad7.jpg)

[2017-09-29 20:31] rampara commented on #517
@emeahonen `Force Resolve` is a menu option.

![screen shot 2017-09-29 at 1 30 51 pm](https://user-images.githubusercontent.com/11047881/31034818-819ccbcc-a51a-11e7-8edb-1d8934470b02.png)

[2017-09-29 20:46] emeahonen commented on #517
Well this technically fixed the DEX issue, but it game another one.

CommandInvokationFailure: Failed to re-package resources.
C:\Users\MyName\AppData\Local\Android\sdk\build-tools\26.0.2\aapt.exe package --auto-add-overlay -v -f -m -J "gen" -M "AndroidManifest.xml" -S "res" -I "C:/Users/MyName/AppData/Local/Android/sdk\platforms\android-26\android.jar" -F bin/resources.ap_ --extra-packages com.go

[2017-09-29 21:03] rampara commented on #517
@emeahonen it looks like you still have conflicting versions of Google Play Services AARs. This seems like a issue with the Play Services Resolver library. You can open an issue on the issue tracker for that library (https://github.com/googlesamples/unity-jar-resolver). As a workaround for the time being, you can manually update the declared dependency versions for Play Services in the Google Play

[2017-09-29 21:09] emeahonen commented on #517
@rampara trying to make a workaround. If that doesn't work i will open up a issue. Thank you for your answers. I really need this to get working, have spent too many days trying to see what is really going on.

[2017-09-29 21:15] rampara commented on #517
Closing this issue as it's not related to a bug with this plugin. If you're looking for more support with the issue, I would recommend you reach out on the [Google Mobile Ads Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-09-29 21:15] #517 closed

[2017-09-29 23:08] rsodre commented on #517
@emeahonen  Either you remove a few libraries you don't use until your lib count comes below 65k, or you have to enable Multidex in Unity, and start building with Gradle. That's kinda bad news, because now you'll feel some of the Android pains we want to avoid by using a game engine.

See [this](https://forum.unity.com/threads/multidex-support-on-android.325429/) and [this](http://answers.unity3d.

[2017-09-30 00:07] rampara commented on #414
@Russel1 not sure what's different on my end that's making it so I'm unable to reproduce this issue. Ran the HelloWorld test app from this repo on a Galaxy S6 Edge with Android 6.0.1 but modified the `RequestBanner` to request a banner with ad size `AdSize.Banner` and position `AdPosition.BottomLeft`. Works as expected for me as shown below.

![screen](https://user-images.githubusercontent.com/110

[2017-09-30 09:15] emeahonen commented on #517
@rsodre Tried. Same error. Switching advertiser this has taken way too long. I wonder why can't they just make a demo project or plugin that has both, google play services and admob implemented?

[2017-09-30 09:19] emeahonen commented on #517
https://github.com/unity-plugins/google-services-unity
oh they apparently have one. Testing that first.

[2017-09-30 14:27] stantler opened #518 "BannerView always top"
Hello, I have folowing code:
`_bannerView = new BannerView("id", AdSize.SmartBanner, AdPosition.Bottom)`

But banner appears always at the top position. Center position also not working

Plugin version 3.7.1 or 3.7.0
Device - samsung galaxy 7e

[2017-09-30 17:33] rsodre commented on #517
Ok, I see now. Some of your play-services are version 10.2.6, some are 11.2.2.
They must be all the same version, or conflicts will happen.
afaik, Jar Resolver 1.2.52 included in AdMob 3.7.1 should take care of that.
Remove all your play-services and support libraries and resolve.
If it still downloads 10.2.6, just replace the dependencies in Google Play to download 11.+ (Look for ":10+" or ":10."

[2017-09-30 17:37] emeahonen commented on #517
@rsodre
Thanks for the help.
We moved to other advertiser. This took too many days. The company i work for might be using admob in the future so i'll check if your way works then.

[2017-10-01 11:08] andrew-grischenko commented on #414
I have the issue with AdSize.SmartBanner - one time it appears at the bottom of the screen (as expected), another time - at the top.

[2017-10-01 11:56] kangoo13 commented on #518
Exactly the same problem. I think it's due to the last update ? Because the last version I didn't have this problem !

[2017-10-01 13:38] stantler commented on #518
@kangoo13 what is "google play 11.0.0"?
I downgraded to 3.7.0 plugin version and it didn't work

[2017-10-01 14:28] pijushmandal commented on #387
I have the similar issue when the internet is not working the banner ad area doesn't register the touch. @rampara  you have provided some info but can you please elaborate to fix the issue as I'm not an expert. Thanks!

[2017-10-02 08:03] Akashbhatt111 commented on #453
please open this issue it happen me too
game restart after admob reward ad finished

[2017-10-02 09:21] anmolmahatpurkar opened #519 "[Feature Request] Mediation Adapters and SDKs - Resolution through Play Services Resolver"
Hi, Just noticed that the play service resolver downloads its required libraries through the maven repository. The Mediation adapters also seem to be available here. Is it possible to somehow automate the inclusion of the required mediation adapters through the play services resolver as well?

[2017-10-02 12:05] Russel1 commented on #414
@andrew-grischenko @rampara I have the issue with AdSize.MediumRectangle.

[2017-10-03 09:11] ravi2831 opened #520 "Hello Rampara, Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it."
Hello Rampara, For IOS admob Interstitial ads not coming while integration from unity Side. I'm facing this issues. Please Fix it.Only sometimes i seen Admob Interstitial ads for Ios.
For Android it's Coming EveryTimes .Last Package also i was getting same Issues for Ios.

[2017-10-03 09:25] #520 closed

[2017-10-03 09:25] ravi2831 opened #521 "Hello Rampara, For Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. to Hello Rampara, Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. 2 minutes ago"
Hello Rampara, For Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. to Hello Rampara, Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. 2 minutes ago

[2017-10-03 09:36] #521 closed

[2017-10-03 09:36] ravi2831 opened #522 "Hello Rampara, For Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. to Hello Rampara, Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it."
Hello Rampara, For Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it. to Hello Rampara, Interstitial admob ads not coming for IOS while integration from unity Side. I'm facing this issues. Please Fix it.

[2017-10-03 09:43] unityguy12 opened #523 "Not getting any ads in Android platform"
Using unity 5.3.2f1 and Version 3.7.1 of the Google Mobile Ads Unity plugin.
Admob banner,interstitial,rewarded ads not working at all.
Cant get any ads. no ads displayed.
Is this a plugin issue or an issue from admob?
Thanks

[code]

[2017-10-03 09:44] icyh4mmer opened #524 "‘GoogleMobileAds/GoogleMobileAds.h’ file not found"
When I'm building project in xcode, I get this error;
Lexical or Preprocessor issue: ‘GoogleMobileAds/GoogleMobileAds.h’ file not found

I just freshly imported admob plugin, so it's latest version. Does anyone have any idea what's going on?

Edit: I'm using Xcode 9.0 (9A235) and Unity 5.6.2f1. I just tried to add the plugin in the empty unity project and build it and I get the same error. I'm Als

[2017-10-03 09:48] #522 closed

[2017-10-03 09:48] ravi2831 opened #525 "Hello Rampara, For Interstitial admob ads and Rewarded Video not coming for IOS while integration from unity Side."
Hello Rampara, For Interstitial admob ads and Rewarded Video not coming for IOS while integration from unity Side.Mediation ads coming but Not Admob .Interstitial admob ads and Rewarded Video Mediation like AdColony,MoVista,Unity etc all coming except Admob. i given more priority to Admob but Admob not coming. For testing i removed Other mediation also but Admob not coming . only one or 2 times i

[2017-10-03 10:37] ravi2831 commented on #525
Now i'm using new GoogleMobileAds SDK . Now Admob Ads frequency more. But only SomeTimes.

[2017-10-03 12:03] #523 closed

[2017-10-03 15:46] YashSOA opened #526 "cannot resolve AndroidJavaException: java.lang.ClassNotFoundException: com.google.android.gms.ads.AdSize"
Hi,

I am using version 3.7.1 of googleads mobile unity plugin downloaded from below URL for one of my game that i am developing in Unity.

URL : https://github.com/googleads/googleads-mobile-unity/releases
Version : 3.7.1

However, this doesn't work for me. When i tried to run the game and test out the ad, i am getting below error:

I/Unity﹕ AndroidJavaException: java.lang.ClassNotFoundException:

[2017-10-03 17:41] rampara commented on #526
@YashSOA are you including the required Play Services AARs in your Unity project? If these AARs are not present in the `Assets/Plugins/Android` directory of your Unity project, perform dependency resolution by selecting `Assets -> Play Services Resolver -> Android Resolver -> Resolve` in the Unity Editor.

[2017-10-03 17:47] rampara commented on #525
@ravi2831 are running into this issue with a published app? If not, you can try setting your device as a test device. As this issue is not pertaining to a bug in this plugin or a feature request, I'm closing this issue. For support issues you can reach out on the [Google Mobile Ads Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2017-10-03 17:47] #525 closed

[2017-10-03 18:02] rampara commented on #518
@stantler @kangoo13 are you able to reproduce this issue across devices or only on a specific one?

[2017-10-03 18:04] rampara commented on #524
@icyh4mmer is the GMA iOS SDK included in your Xcode project? Did the Unity plugin generate an xcworkspace? Can you try building a new Xcode project from Unity?

[2017-10-03 18:11] rampara commented on #519
@anmolmahatpurkar this functionality in upcoming and you can expect an update on it soon.

[2017-10-03 18:11] YashSOA commented on #526
Thanks for the quick response. I checked the plugins/android and can see that there is no aar file present. I can see two errors in console window (attached the snap), maybe this is the reason why there is no aar present.

Error - 1) Gradle failed to fetch dependencies.
Gradle failed to fetch dependencies.

Failed to run 'Temp\PlayServicesResolverGradle\gradlew.bat -b Temp\PlayServicesResolverGrad

[2017-10-03 18:19] rampara commented on #526
Can you try navigating to the `C:\Users\dominic.gradle\wrapper\dists\gradle-3.2.1-bin\' directory and removing all of its contents before attempting dependency resolution again.

[2017-10-03 18:21] rampara commented on #414
@Russel1 loaded a AdSize.MediumRectangle banner at on a Galaxy S6 Edge running Android 6.0.1.

![screen](https://user-images.githubusercontent.com/11047881/31141714-fc9a7760-a82c-11e7-9cb8-1bb8e6bf5d41.png)

[2017-10-03 18:21] YashSOA commented on #526
sure! giving it a try !

[2017-10-03 18:28] rampara commented on #453
@Akashbhatt111 can you provide logs from the crash?

[2017-10-03 18:28] rampara commented on #387
@pijushmandal are you using the latest version of this plugin?

[2017-10-03 18:38] icyh4mmer commented on #524
@rampara Hey, thanks for the response :) I'm not experienced with Xcode so I'm attaching [screenshot](https://imgur.com/MIlEE9y), where I can't see GMA under frameworks but there are some GADU* files in the plugin folder.

To the second and third question, I did build new Xcode project from Unity and nothing chnaged, Unity did not generate xcworkspace file, only xcodeproj file and other stuff whic

[2017-10-03 18:55] rampara commented on #524
@icyh4mmer it doesn't look like you're using the latest version of this plugin. Can you update and try and build another Xcode project?

[2017-10-03 18:58] icyh4mmer commented on #524
I'll download it again and rebuild.

[2017-10-03 19:00] YashSOA commented on #526
well, that worked! AAR files showed up in the folder , and when i build and run the game on my phone, test ads started coming up.

Appreciate your quick help on this. Thanks :+1:  :100:

I would close this issue. Thanks for your help.

[2017-10-03 19:00] #526 closed

[2017-10-03 19:10] icyh4mmer commented on #524
@rampara I deleted everything from the project, closed unity, opened unity, downloaded this plugin, imported it to unity, built project, and again workspace wasn't created and the same error exists. I must be missing something obvious :(

[2017-10-03 19:19] rampara commented on #524
@icyh4mmer is there any content in the Unity console that may indicate the cause of your issue?

[2017-10-03 19:23] icyh4mmer commented on #524
@rampara There is only 1 console log after build, and it's a warning that I didn't provide splash screen images.

[2017-10-03 19:52] JorgeRomano commented on #518
I had the same problem. I  downgraded to 3.7.0 and it's working now.

[2017-10-03 20:08] kangoo13 commented on #518
@rampara only on specified, for exemple on mine (samsung galaxy S7) it's working, on an 1+one it's working but on samsung galaxy S7 edge it's not working. (as for my tests)

[2017-10-03 21:49] rampara commented on #518
Haven't been able to get my hands on a S7 Edge. @JorgeRomano what device are you running this issue with?

[2017-10-03 21:54] JorgeRomano commented on #518
The device that I'm using is just a S7 Edge.

[2017-10-03 21:57] icyh4mmer commented on #524
@rampara Is there anything else I could check or try so we can figure out why this is happening?

[2017-10-03 22:32] rampara commented on #518
@JorgeRomano @stantler @kangoo13 shooting in the dark without having a device I can reproduce the issue with but can you trying replacing `unity-plugin-library.jar` at the `Assets/Plugins/Android/GoogleMobileAdsPlugin/libs` directory of your Unity project with the file in attached zip?

[unity-plugin-library.jar.zip](https://github.com/googleads/googleads-mobile-unity/files/1354107/unity-plugin-li

[2017-10-03 22:42] JorgeRomano commented on #518
It's working!

[2017-10-03 23:18] rampara commented on #518
@JorgeRomano thanks for confirming. Will push out an updated release shortly with the fix.

[2017-10-04 00:37] rampara commented on #524
Can you try turning on verbose logging (by selecting `Assets -> Play Services Resolver -> iOS Resolver -> Settings` and selecting `Verbose Logging`) before attempting to build an Xcode project?

[2017-10-04 06:07] icyh4mmer commented on #524
@rampara As you can see in [this](https://imgur.com/CCkxKDX) screenshot, I can only select
Assets -> Play Services Resolver -> Version Handler

There is no iOS Resolver in the context menu. So I guess the iOS resolver doesn't even load in the editor,  in the same screenshot you can also see that Google.IOSResolver_v1.2.48.0 is not enabled for any of the platforms. I tried to enable it for editor b

[2017-10-04 06:36] icyh4mmer commented on #524
@rampara I just found out what was the issue. I had to select Version Handler -> Update and then IosResolver became visible and the build succeeds. Is this normal that you have to manually update veraion handler?  Anyhow thanks for the help 😃

[2017-10-04 09:03] Akashbhatt111 opened #527 "Game restart after reward ads finished"
Game restart as soon as reward ad complete in unity admob.
i used chartboost and unity for mediation reward video.
even test ads behaves like this...
nothing is shown in logcat that i seems as cause of this...

[2017-10-04 10:26] Akashbhatt111 commented on #453
there is nothing in my logcat that is seems to be cause i think no error at all

[2017-10-04 13:18] craftyfirefox commented on #524
Got the same problem in Unity Cloud Build, tried to apply wisdom from #333 but am missing AdMobDependencies.cs . Any Help?

[2017-10-04 14:44] Shafeyee commented on #414
@ComplexVariable Could you kindly tell me exactly which version fixed your problem? I am facing similar issue.

[2017-10-04 15:34] ComplexVariable commented on #414
@Shafeyee v3.7.0 fixed my problem. You can download it from [here](https://github.com/googleads/googleads-mobile-unity/releases).

[2017-10-04 15:36] Shafeyee commented on #414
@ComplexVariable Thanks, v3.6.3 seems to have fixed it for me. Just got it working a minute ago.

[2017-10-04 17:30] rampara commented on #524
@icyh4mmer glad you were able to get it working. Version Updates should occur automatically when importing a new version of the plugin but looks like that didn't happen for you.

@craftyfirefox the workarounds listed in #333 are no longer required when using the latest version of the plugin.

[2017-10-04 17:32] icyh4mmer commented on #524
Issue fixed.

[2017-10-04 17:32] #524 closed

[2017-10-04 17:35] rampara commented on #453
@Akashbhatt111 your app crashes and restarts without any content in logcat indicating the reason for the crash?

[2017-10-04 17:36] rampara commented on #527
Closing as duplicate of #453.

[2017-10-04 17:36] #527 closed

[2017-10-05 07:03] craftyfirefox opened #528 "Unity Cloud Build iOS: GoogleMobileAds.h file not found"
Since Issue #524 is already closed I'll open my own: I have the same problem as described there, but mine isn't resolved - Unity Cloud Build for IOs still fails when trying to compile with this plugin added. I believe I got the latest versions of all plugins, imported the necessary framework, but the issue persists. Please find attached my full log from the latest build using the Hello World app t

[2017-10-05 10:18] MarouaneIdd commented on #171
I'm using the last GoogleAds plugin ,Update the Sdk to lasts version
Rewarded video is working fine , but the interstitial / banner  not working properly
sometimes it actually works (interstitial) the first call , after the first show it dosnot shows again
The problem become clearer when I add Firebase (Analytics) and OnsSignal plugin
i think its related to (Google.Handler version)

[2017-10-06 00:14] rampara commented on #171
@MarouaneIdd can you open a new issue with more information. Do you receive an error code when you attempt to load and ad? Are you deploying to Android or iOS? Do you see anything in the log that may indicate the cause of the ad failing to load/display? What made your this the problem is related to Google Version Handler?

[2017-10-06 07:20] Akashbhatt111 commented on #453
it is working fine in development build but in release mode it restart after the rewarded ads finished

[2017-10-06 07:20] Akashbhatt111 commented on #453
i use chartboost and unity as a mediation network

[2017-10-06 08:06] Akashbhatt111 commented on #453
[log.txt](https://github.com/googleads/googleads-mobile-unity/files/1361991/log.txt)
here is my logcat

[2017-10-06 11:11] MarouaneIdd opened #529 "Interstatial ad is not working"
**I'm using the last GoogleAds plugin ,I Update the Sdk to lasts version too
Rewarded video is working fine , but the interstitial / banner not working properly
sometimes it actually works (interstitial) the first call , after the first show it dosnot shows again
and it shows the error : no fill (even with test ads) ,[ the project deployed to Android ] ,
The problem become clearer when I add Fireb

[2017-10-07 13:09] Junker-Anders opened #530 "Banner flickering"
Every time I show a new banner in my game the banner flickers/blinks for a second before stabilizing. This only happens on banners and not interstitials. I've tried both smart- and normal banners and I'm sure that I only call the function once. I have also tried changing the targetframerate but the result is the same. The problem occurs on both test ads as well on real ads. This happens on all tes

[2017-10-07 22:37] SnnYsf opened #531 "Banner location is wrong"
banner should appear below Adsize.bottom
but it showing up
android 7.0 problem
i tested samsung s8 android 7.0 sdk
googlemobileads sdk version v3.7.1

[2017-10-07 22:44] SnnYsf commented on #518
i tested samsung s8 android 7.0

We expect the updated version.
Remove from 3.7.1

[2017-10-07 22:45] SnnYsf commented on #531
https://github.com/googleads/googleads-mobile-unity/issues/518

[2017-10-07 22:45] #531 closed

[2017-10-09 11:45] imbadal opened #532 "I have an error while importing this plugin to Unity "Resolution Failed".Please help me to fix this."
![image](https://user-images.githubusercontent.com/26278801/31336544-f62b6f82-ad14-11e7-86c6-af9484add781.png)

When I am trying to import, PlayServicesResolver package is not loaded.

[2017-10-09 17:24] 3583Bytes opened #533 "Unity 2017.1 Gradle"
This plugin seems to have issues when you use the Gradle build system in Unity 2017.1 (maybe other versions).  Although the ad shows the on OnAdClosed event does not seem to fire.  Using the Default Built System does not exhibit this behaviour.

[2017-10-10 05:25] xxPillsxx commented on #502
Forgot to reply back to this after I fixed the issue by setting a JAVA_HOME variable.

[2017-10-10 05:25] #502 closed

[2017-10-10 05:39] xxPillsxx opened #534 "Windows exporting to iOS possible?"
Right now I'm working on a mobile game on my PC. I got AdMob working correctly with ads functioning and all, on Android. Obviously the next step was exporting to iOS. I use my PC to develop since it's faster and then export and paste the xcode project to my MacBook Air to deploy it to my devices. However, when I try to deploy it, the project builds successfully, but the linking process returns lot

[2017-10-10 18:04] rampara commented on #534
@xxPillsxx iOS Resolve will not work on windows as it uses Cocoapods. You will have to manually include the [Google Mobile Ads iOS SDK](https://developers.google.com/admob/ios/download) in the `Assets/Plugins/iOS` of your Unity project. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https

[2017-10-10 18:04] #534 closed

[2017-10-10 18:07] rampara commented on #530
@Junker-Anders as banner ads are rendered by the Google Mobile Ads Android SDK, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-10 18:07] #530 closed

[2017-10-10 18:49] rampara commented on #532
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-10 18:49] #532 closed

[2017-10-10 18:50] rampara commented on #428
Please re-open this issue if you're still experiencing it.

[2017-10-10 18:50] #428 closed

[2017-10-10 23:08] badrdouah opened #535 "Ios rewarded videos not showing, real and test ads too"
Hello,
i'm having little issue with admob and unity, i'm wondering if you could help me  sort this out , i have interstitials  working fine on IOS , but rewarded videos are not , test and real ads , none of them works  , no error is shown in the console , same code is working on android perfectly ,

i'm just wondering if  this is due to not linking the app to appstore app page , cause we did for a

[2017-10-11 03:35] mmz1995 commented on #428
@rampara  Thank you for your patience to help, and this problem has been resolved.Thank you very much.

[2017-10-11 09:03] remingtonchan opened #536 "Custom Events for Unity AdMob"
Hello,

I've been trying to make Custom Events work for a third party network but I think I'm missing something in my implementation.

I'm sure that in the dashboard side, mediation works, because using the same ad unit ID in a native Android environment apparently registers successful fills. But in the Unity implementation, I'm only receiving Google Ads and I see requests from the Custom Event bu

[2017-10-11 10:54] martin3361 opened #537 "GooglePlayServices + Admob Unity plugin - Unable to convert classes into dex format."
In my project, I've integrated the Google Play services in order to do Android build and access social services.
This is what I used:
https://github.com/playgameservices/play-games-plugin-for-unity/blob/master/current-build/GooglePlayGamesPlugin-0.9.41.unitypackage

Then all is configured and google play services are integrated and work.
Then I import this version of AdMob Unity plugin:
https://gi

[2017-10-11 14:46] rchallenger opened #538 "Getting banner size in pixels issue"
Hello, I've always used such a method to get a real size of banner (I use 320x50 size only, so have no deal with smart banners)
[code]

But recently I've tried to launch my application on Moto G4 (XT1602) and saw that banner can be of different size than we can think.
Unity tells that device's DPI is 295.265, so according to formula
width = 320 * (295.265/160) = 590.5
height = 50 * (295.265/160) =

[2017-10-11 18:07] FizzerWL opened #539 "When Proguard is enabled, AdMob ads fail to display with ClassNotFoundException"
Repro steps:

1. Create a new Unity project following steps from https://developers.google.com/admob/unity/start or use [this minimal repro project](https://s3.amazonaws.com/data.warlight.net/other/952029.zip)
2. Set Build System to Gradle (this sets the Minify setting to Proguard automatically)
3. Build+Run on Android device

Actual results: App starts but prints the error "java.lang.ClassNotFoun

[2017-10-12 02:18] Nepohyte opened #540 "Current scene paused when returning from banner"
When I return from a banner click to the app the current scene remains paused. If I have button on the scene the app resumes when I click on the button but otherwise I have to restart the application. I presume that the main thread is paused when I click on a banner. I have tried to alter Time.timeScale on the banner events to no avail. How do I fix this?

[2017-10-12 08:14] sagar7029 opened #541 "Reward Ad Close and Reward Event Callbacks Not Called"
After watching rewarded videos , Reward Ad Close and Reward Event Callbacks are not called.
Debug are also not calling..
Can u Guide How To Call in IOS Unity Plugin.

[2017-10-12 19:30] rsodre commented on #541
Are you initializing Unity Ads in your code? If you are, just remove it.
AdMob will initialize too, and double initialization lead to this.

[2017-10-12 21:38] rampara commented on #541
@sagar7029 the [HelloWorld sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld or the [developer docs](https://developers.google.com/admob/unity/rewarded-video) are good resources for how to implement rewarded video ads in your Unity app.

As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Go

[2017-10-12 21:38] #541 closed

[2017-10-12 21:39] rampara commented on #540
@Nepohyte are you experiencing this behavior in the [HelloWorld sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) from this repo as well?

[2017-10-12 21:51] rampara commented on #537
@martin3361 I would recommend you use the latest version of the GMA Unity plugin that includes an updated version of Play Services Resolver. You don't have to manually ensure the same version of Play Services Resolver is used across plugins. The library includes functionality to handle conflicting versions.

[2017-10-12 21:52] rampara commented on #536
@remingtonchan As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-12 21:52] #536 closed

[2017-10-12 21:54] rampara commented on #533
@3583Bytes the build system shouldn't influence plugin behavior. Are you also experiencing this issue on the [HelloWorld sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) from this repo?

[2017-10-12 22:16] rampara commented on #535
@badrdouah As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-12 22:16] #535 closed

[2017-10-12 22:25] rampara commented on #529
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-12 22:25] #529 closed

[2017-10-12 22:41] rampara commented on #453
@Akashbhatt111 Is this crash consistently reproducible for you? Can you reproduce it with the [HelloWorld sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld) from this repo?

[2017-10-13 00:45] rampara commented on #528
@craftyfirefox I'm having trouble reproducing this. I used the HelloWorld sample project from this repo and the only steps required on my part was importing the Unity package for this plugin and adding `MainScene` to list of scenes in the build. Can you try with the latest version of this plugin which includes a newer version of Play Services Resolver than what was used in your build.

[2017-10-13 00:45] rampara commented on #333
Closing as Unity Cloud builds should now work.

[2017-10-13 00:45] #333 closed

[2017-10-13 02:11] petersuwara commented on #333
@rampara thanks, we got it working without any issues.

[2017-10-13 03:47] pickOneName opened #542 "Reward Video Ad : show a empty page when force close video (no finished)."
Reward Video Ad : show a empty page when force close video (no finished), and this empty page can not be close.

via Unity v2017.1.0f3 and Google Mobile Ads Unity Plugin v3.7.1. build by android

[2017-10-13 09:10] pickOneName commented on #542
er...it's a multi-thread error.

http://googleadsdeveloper.blogspot.com/2016/04/handling-android-ad-events-in-unity.html

[2017-10-13 09:10] #542 closed

[2017-10-13 21:12] Shafeyee opened #543 ""Lexical or Preprocessor issue: ‘GoogleMobileAds/GoogleMobileAds.h’ file not found""
I'm getting this issue whenever I try to build from xcworkspace ---
"Lexical or Preprocessor issue: ‘GoogleMobileAds/GoogleMobileAds.h’ file not found"

This is similar to #524 and I have tried all the steps from there. Also tried adding the GoogleMobileAds.Framework manually to the xcworkspace, but the error remains. Here is a [picture](https://imgur.com/XtJA6I6) of the issue. Any help would be r

[2017-10-14 00:31] rampara commented on #543
@Shafeyee did the xcworkspcace not include the GoogleMobileAds framework before you manually included it?

[2017-10-14 00:36] Shafeyee commented on #543
@rampara Thanks for replying. The xcworkspace didn't include the framework. I've seen it work for some people but didn't work for me. I have firebase plugin in my project, but I don't think it should be an issue as I have other projects without firebase where similar problem occurred.

[2017-10-14 00:38] rampara commented on #543
@Shafeyee when building for iOS, do you see any output in the Unity console that may indicate why the framework wasn't added to your xcworkspace?

[2017-10-14 01:35] Shafeyee commented on #543
@rampara Yes, there seems to be a related error in unity console.

"iOS framework addition failed due to a Cocoapods installation failure. This will will likely result in an non-functional Xcode project.

After the failure, "pod repo update" was executed and failed. "pod install" was then attempted again, and still failed. This may be due to a broken Cocoapods installation. See: https://guides.coc

[2017-10-14 02:18] Shafeyee commented on #543
Uninstalling & reinstalling cocoapods fixed this issue for me. Now my project successfully builds. Thanks @rampara

[2017-10-14 02:18] #543 closed

[2017-10-17 10:14] lambdor opened #544 "XCode 9.0.1 - Parse issue - Module 'GoogleMobileAds' not found"
Since XCode 9.0.1 I'm receiving the error "Parse issue - Module 'GoogleMobileAds' not found". I could successfully build the same project with XCode 8.3.3 and 9.0.0. The workflow is usually to delete old framework, unpack framework again, move into frameworks folder and "Enable C and Obj-C modules: Yes". Since 9.0.0 the framework doesn't automatically get added to frameworks in the settings tab, s

[2017-10-17 10:18] lambdor commented on #528
I get this error ever since I updated to XCode 9.0.1 see #544.

[2017-10-18 12:05] juliusbtesh opened #545 "Project freezes when importing"
I cannot figure out why my project keeps freezing every time I try to import this package. I have tried different versions of Unity and none had better luck. The project completely freezes and I need to force quit and delete the files that were added or the project won't open

[2017-10-19 09:09] martin3361 opened #546 "Google Mobile Ads for Unity causes Android application to pause"
I'm using Google Mobile Ads + Google Play Services in my Unity game.

When export to Android, whenever interstitial is played, the app's execution is frozen. Behaviours' Update() are not called and basically I cannot do any background operation.

Interestingly enough, Google Mobile Ads does not behave this way on iOS builds, there the app continues running.

Pausing does not work for me, because I

[2017-10-19 16:10] Christopher117 opened #547 "The banners do not appear"
636/5000
I followed a lot of tutorial and it seems to me to do things right, but in spite of efforts I can not display the Admob banner on my Android device.
I tried several versions of the plugin, several versions of Unity and several versions of the SDK, but every time nothing happens.
Yet my Admob test project is very simple, I just run a script to display a banner and I have no compilation err

[2017-10-20 15:22] petrescusilviu commented on #518
@rampara when will the release happen for this bug?

[2017-10-21 13:55] kingbaggot opened #548 "‘GoogleMobileAds/GoogleMobileAds.h’ file not found"
Sorry if this seem like repetition - but I can't solve this using the processes other people have detailed in similar posts

![error](https://user-images.githubusercontent.com/4214940/31852456-df70393a-b66f-11e7-82c2-b029ff29f896.jpg)

I'm building my xcode project on my pc, then sending it to a remote mac and making the ipa there - this has worked up to now. But the googleAdMob framework doesn't

[2017-10-21 16:41] eviltuna1911 commented on #548
You need to download this and include it in your project.

https://developers.google.com/admob/ios/download

[2017-10-21 20:34] kingbaggot commented on #548
Yup - I did download that - and dragged it into my frameworks folder - but it still gave me the same error.

Is there a more legit way of including it ? Should I be placing it in the root folder or something first ?

thanks for the speedy response anyway :)

[2017-10-22 00:10] SnnYsf commented on #518
sory i dont know

2017-10-20 18:22 GMT+03:00 petrescusilviu <notifications@github.com>:

[2017-10-23 19:57] rampara commented on #518
The latest version of this plugin (v3.8.0) resolves this issue.

[2017-10-23 19:57] #518 closed

[2017-10-23 19:59] rampara commented on #547
@Christopher117 As this is an integration issue, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-23 19:59] #547 closed

[2017-10-23 20:00] #545 closed

[2017-10-24 01:58] rampara commented on #332
@kgooble this has been implemented for all ad formats as of v3.8.0.

[2017-10-24 11:01] LiuYuFenFei opened #549 "Didn't find class "com.google.android.gms.ads.reward.RewardedVideoAd""
10-24 18:18:57.715  5849  5873 I Unity   : AndroidJavaException: java.lang.NoClassDefFoundError: com.google.android.gms.ads.reward.RewardedVideoAd
10-24 18:18:57.715  5849  5873 I Unity   : java.lang.NoClassDefFoundError: com.google.android.gms.ads.reward.RewardedVideoAd
10-24 18:18:57.715  5849  5873 I Unity   : 	at libcore.reflect.InternalNames.getClass(InternalNames.java:55)
10-24 18:18:57.715

[2017-10-24 16:49] iseeall opened #550 "Since 3.7.1 ads don't show on Galaxy Tab 2"
No ads are shown anymore on Samsung Galaxy Tab 2 (tested on version 3.7.1 and 3.8.0). With plugin version 3.5.0 the ads were loading and showing fine.
The ads do show fine on a few other, more modern devices where I tested.
Is simply the device too old? Are there any  minimum requirement for the current AdMob version: Android OS version, hardware specs?
I'm attaching screenshots of logcat.

![admo

[2017-10-24 16:53] iseeall commented on #550
Seems like Firebase initialization is crashing because of missing AppMeasurement on this specific device (I've seen messages about AppMeasurement on a few other plugins previously while testing on Galaxy Tab 2).
Though AppMeasurement itself is deprecated, why is it even called...
https://developers.google.com/android/reference/com/google/android/gms/measurement/AppMeasurement

[2017-10-24 18:07] rampara commented on #549
@LiuYuFenFei based on the logcat snippet you provided, it looks like you're not including the Google Mobile Ads SDK in your Unity project. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-24 18:07] #549 closed

[2017-10-24 18:09] rampara commented on #550
@iseeall you can ignore the Firebase warning, it's just log spam that will be cleaned up in a future release of the GMA Ads SDK. Are you able to reproduce the issue of the ads not showing on any other device (other than the Galaxy Tab 2) ?

[2017-10-24 18:14] rampara commented on #548
@kingbaggot @eviltuna1911 you shouldn't have to manually download and include the GMA iOS Ads SDK in your Unity project. This plugin includes the `Play Services Resolver` library that uses Cocoapods to include declared dependencies in either a generated xcworkspace project or the standard xcode project (determined via a setting at `Assets -> Play Services Resolver -> iOS Resolver -> Settings`). I

[2017-10-24 18:14] #548 closed

[2017-10-24 18:25] rampara commented on #490
The latest version of the GMA Unity plugin (v3.8.0) does include support for Vungle mediation extras. Mediation extras functionality will not be included in the standard plugin but distributed in separate add-on Unity packages, specific to ad networks. Updated documentation on how to use these extras and the hosting of the separate Vungle mediation Unity package is upcoming but publishers looking

[2017-10-24 18:25] #490 closed

[2017-10-24 18:48] rampara commented on #546
@martin3361 given how Activities work in Android, this can't be accomplished without modifying/ overriding the `UnityPlayerActivity` to continue running when it's not in focus (which conflicts with Android best practices).  In a future release, the GMA Unity plugin will move in the opposite direction to make iOS consistent with Android behavior by pausing the app with full-screen ad formats are di

[2017-10-24 18:49] iseeall commented on #550
Oh ok. Actually, I've tried restarting the device and the ads show fine now. This seems to be an issue on Galaxy Tab 2 which I have been seeing for years with AdMob. Sometimes the device will get into a state where it will never show AdMob anymore, even though there is an internet connection available. It may be just a problem with the device itself.
Sorry for the confusion, I was mislead by the o

[2017-10-24 18:54] rampara commented on #550
@iseeall closing issue as it's not related this plugin.

[2017-10-24 18:54] #550 closed

[2017-10-24 19:01] #332 closed

[2017-10-24 20:32] martin3361 commented on #546
@rampara, thanks but I need my app working in the background. Obviously it
is possible as currently it is not paused on iOS.
How to workaround this and disable pausing for Android too in current
version?

On 24 October 2017 at 21:48, rampara <notifications@github.com> wrote:

--

Martin Asenov
Software developer

martin.asenov@urbanise.com
MN: +359 879 467 567
www.urbanise.com
[image: Urbanise]

[2017-10-24 20:39] kgooble commented on #332
Thank you @rampara!

[2017-10-25 03:53] LiuYuFenFei commented on #549
The interstitial ad can be displayed properly, but the reward video can not be requested. Sorry, the language comes from Google Translate.

[2017-10-25 10:48] craftyfirefox commented on #528
Still no luck fixing this, I tried to delete everything and reimport the plugin in Version 3.8.0. Still the same, I attached the project as I uploaded it to unity services, to check and compare:

https://www.dropbox.com/s/u8t55go98v38laj/GoogleAdsHelloWorld.zip?dl=0

[2017-10-25 12:19] lambdor commented on #528
Another thing I noticed. I usually used to open the Xcode project with the .xproj file. But there is also a .xworkspace file generated. Try to open the project with .xworkspace.

[2017-10-25 12:22] lambdor commented on #528
Oh, and another crazy Apple black magic weirdness. When I add the framework from a subdirectory of my project folder it doesn't work. But when I add it from the Downloads folder it does. Makes now sense, but I can reproduce this error. It's almost as if some folders on Mac can get cursed...

[2017-10-25 15:22] kunal2619 opened #551 "Xcode 9, Unity 2017, Build errors for iOS"
I am trying to implement admob ads in my project targeted to build for iOS platform. I am facing the errors mentioned below in xCode while building,

[code]

I tried setting 'Enable Modules' to yes and pods folder contains the GoogleMobileAds.framework as well. Moreover, I also tried building the Hello World project from the samples and it throws the same errors. I'll be glad if anyone can help me

[2017-10-25 19:17] rampara commented on #549
@LiuYuFenFei are you using an outdated version of Google Play services?

[2017-10-25 19:20] rampara commented on #551
@kunal2619 it looks like the GMA iOS SDK what not included in your generated iOS project. As this is a plugin integration issue, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-10-25 19:20] #551 closed

[2017-10-25 19:22] rampara commented on #544
@lambdor the GMA Unity plugin should use Cocoapods to retrieve and integrate the latest version of the GMA iOS SDK when building an iOS project. You shouldn't have to manually update frameworks.

[2017-10-25 19:25] rampara commented on #546
iOS and Android have different behavior due to the underlying differences in both platforms. In Android, displaying a new full-screen`Activity` causes the previous `Activity` to be stopped. On iOS, displaying a new ViewController over an existing one does not cause the original ViewController to be paused.

[2017-10-25 19:28] rampara commented on #528
@lambdor the default behavior of the GMA Unity plugin is to generate a xcworkspace that includes all the required dependencies of the plugin. If you would like the required dependencies to be added to a standard Xcode project instead, you can toggle the option at `Assets -> Play Services Resolver -> iOS Resolver -> Settings -> Cocoapods Integration`.

[2017-10-25 20:05] martin3361 commented on #546
so are you saying there is no workaround? Or you don't want to tell me how
to hack it?

Cheers

On 25 October 2017 at 22:25, rampara <notifications@github.com> wrote:

--

Martin Asenov
Software developer

martin.asenov@urbanise.com
MN: +359 879 467 567
www.urbanise.com
[image: Urbanise]

[2017-10-25 20:41] rampara commented on #546
@martin3361 coming up with a workaround is not within the scope of this issue tracker or support provided the Google Mobile Ads Technical Forum. However, you may want to try exporting your Unity project to Android Studio and modifying onPause()/ onStop() behavior of `UnityPlayerActivity `. No guarantees on this being the route to accomplishing what you need, as I haven't tried it myself, but it co

[2017-10-25 20:54] martin3361 commented on #546
I'll give it a try. Thanks

On 25 October 2017 at 23:41, rampara <notifications@github.com> wrote:

--

Martin Asenov
Software developer

martin.asenov@urbanise.com
MN: +359 879 467 567
www.urbanise.com
[image: Urbanise]

[2017-10-26 23:02] kingbaggot commented on #548
Hi Rampara - I've been working on a pc, doing the builds there and then mailing my xcode project from there to a remote mac to build the ipa.  This has always worked fine up to now.

Is this why I'm not seeing the framework being included - because cocoapods is a mac-only thing ? When i've  set the play services resolver to make an xcworkspace project it just creates a standard xcode project with

[2017-10-28 10:08] zhouguangjie opened #552 "NoClassDefFoundError: com.google.android.gms.ads.MobileAds"
Hey, i get a crash log on android platform using unity plugin 3.8. How can i fix this problem?

`Caused by: java.lang.NoClassDefFoundError: com.google.android.gms.ads.MobileAds
                                                                               at com.google.unity.ads.RewardBasedVideo$1.run(RewardBasedVideo.java:65)

[2017-10-28 10:31] #552 closed

[2017-10-29 06:40] tashfiq103 opened #553 "Instantly Crashs on "Initialization" for "InterstitialAd" & "RewardVideoBasedAd""
Thank you so much for taking your valuable time to take a look into the following issue.

I have attached the "unityPackage" by which you can test it on your editor & device. Also, the following script shows how it was ported to physical device for testing.

UnityPakage : https://drive.google.com/open?id=0B-YWb5BzJ1ZeSkFyN2VKTGtqY0E
"Video" showing crash report : https://drive.google.com/open?id=0

[2017-10-29 19:01] leoHN opened #554 "Banner always on top if you show it back"
I can reproduce the bug:
- Create BannerView and show it at bottom
- Hide that banner by bannerView.Hide() method
- Show it back by bannerView.Show() method (without creating another instance of banner). It always appear at top.

[2017-10-29 21:48] craftyfirefox commented on #528
Any updates on this? I don't really want to build locally, Cloud Build is so much easier and faster.

[2017-10-30 12:04] 2rusbekov commented on #509
@rampara Hi!

Tested with new release and got next.

Platform: IOs. RewardBasedVideoAd.Instance.MediationAdapterClassName() is GADMAdapterGoogleAdMobAds.
Sometimes OnAdClosed and OnAdRewarded events called at same time. Android still fine.

[2017-10-30 20:35] saiichihashimoto opened #555 "Update Admob installation documentation"
I installed the plugin (Version 3.8.0) and attempted to use it, getting these XCode Errors:

[code]

![image](https://user-images.githubusercontent.com/2819256/32194278-28504376-bd77-11e7-8f5c-2a56b9a81179.png)

I can't imagine I did anything wrong, I just plugged it in.

[2017-10-31 11:48] erperejildo commented on #215
same error here. In my case using Ionic but I think is not relevant

[2017-10-31 18:04] augustli2009 opened #556 "Building iOS project stucks at "Converting managed assemeblies to C++""
I just created an empty project with unity2017.1.2f1, then import googleads-mobile-unity, then build iOS project. The building process stucks at "Converting managed assemeblies to C++". I waited for 1 hour and nothing happened, no log, no error, just stucks there with unity3d no response.

The package is the newest, I just downloaded it here https://github.com/googleads/googleads-mobile-unity/rele

[2017-10-31 18:14] augustli2009 commented on #556
I switched the scripting backend form IL2CPP to Mono2x and still get nothing,,,it freeze at "AOT cross compile"

[2017-10-31 18:29] augustli2009 commented on #556
I found 3 "git" processes, and after I killed them , the build shows successful, although I got another error:"GoogleMobileAds/GoogleMobileAds.h" file not found in xcode project.

So,,,, it is the git issue? shall I reinstall my git?

[2017-11-01 04:17] augustli2009 commented on #556
ok...... I took my macbook to company where the network is better,,, and it works after downloaded 500MB unkown things......

[2017-11-01 04:17] #556 closed

[2017-11-01 06:12] ferdinandbuagas commented on #539
Thank you soooooo much for this @FizzerWL . This does solve my issue.

If it's okay I would like to ask how does this affect my project? what will it do?

You are legend :D

[2017-11-01 07:12] thanh-nguyen-kim commented on #554
I have the same problem in unity 5.4.1p1 and admob 3.8.0

[2017-11-01 17:44] sushantingle commented on #471
Thank you very much for the solution.

[2017-11-02 16:08] iseeall opened #557 "Slow rendering >5% in Android vitals"
Hi! I have this game
https://play.google.com/store/apps/details?id=com.twoplayergamesfree.twoplayergames
using Unity with AdMob, and no other plugins using UI Toolkit.
Since introduction of Android vitals on GooglePlay I'm seeing "Slow rendering" as constant source of ranking penalty. At times slow rending was 10% or even up to 15%, with plugin version 3.8.0 and Unity 2017.2 it's now around 5% (at

[2017-11-02 16:11] iseeall commented on #557
Another screenshot with more details
![slowrendering_details](https://user-images.githubusercontent.com/8617651/32336885-94116306-c001-11e7-8421-1a743059a0b3.PNG)

[2017-11-02 16:16] iseeall commented on #557
Also a comparison of Android versions:
![slowrendering_androidversions](https://user-images.githubusercontent.com/8617651/32337083-1789c69c-c002-11e7-85e2-bb680eec7369.PNG)

Are animated banners causing this? Or video interstitials?

[2017-11-03 07:08] KhmerRun opened #558 "SmartBanner is in wrong position - At top instead of bottom"
Hello,

I have an issue with my phone which the smart banner is in the wrong position. Briefly:
- The SmartBanner was in a correct position when I use version 3.7. Everything was fine.
- After upgrade the package to 3.8, compiled and testing it, the SmartBanner show at the top instead of the bottom for my mobile (Mi Max) but show correctly with my tab (Mi Pad 2).
- I didn't modify anything besides

[2017-11-03 09:25] duchanhleo commented on #554
@thanh-nguyen-kim do you know any solution for that bug?

[2017-11-03 10:36] thanh-nguyen-kim commented on #554
destroy old one and request new one or downgrade to lowwer version

[2017-11-03 11:02] AndrewVorobey commented on #513
I have the same problem.
The first time it's all going right, but on the second or on the third time there is problem.
I check flag IsLoaded() and if it's true, i call Show method. Here is the code how i use it: https://codeshare.io/5zP3rW

But video doesn't showing.
It's reproducing with Google Mobile Ads Unity Plugin v3.8.0 on Android.

About smartphone: Lenovo s660, android 4.4.2.  Haven't test

[2017-11-04 21:16] exodo24 commented on #555
I also have the same issue ! Have you been able to resolve?

[2017-11-05 04:16] hanhnd76 commented on #554
destroy banner view can't help. It will return error "No Fill" after one or two requests.
which version you are using that not include that bug?

[2017-11-05 06:13] saiichihashimoto commented on #555
I haven't been able to, no. Maybe @rampara or @ericleich can address this?

[2017-11-05 21:56] hass101 commented on #555
Hi, I am also getting this error. thanks

[2017-11-06 05:00] exodo24 commented on #555
I updated to Xcode 9.0 and fixed this issue for me .

[2017-11-06 07:32] saiichihashimoto commented on #555
Somehow, my comment didn't post. I did the same and it fixed it for me. However, this issue isn't really solved since [the website for installing this](https://developers.google.com/admob/unity/start) claims:

![image](https://user-images.githubusercontent.com/2819256/32429896-97e89e4a-c281-11e7-94e9-9856bc81f712.png)

This needs to get fixed.

[2017-11-06 11:38] Danish-13-Khan commented on #327
I'm using Googleadsplugin and Mobivista plugin for my iOS project.
So i just delete the framework of mobvista nad googlemobileads and its working.
After that i just add those frameworks into xcode project.

[2017-11-08 04:35] SnnYsf commented on #558
same problem . v3.7.1  v3.8.0.

v3.7.0 not have. working

[2017-11-08 17:35] stowy commented on #555
Thanks for bringing this to our attention. It will be fixed to be compatible with lower versions of Xcode in the next release.

[2017-11-09 19:52] sonicsmith commented on #558
I have the same problem, and it happens even with non-smart banners.

[2017-11-10 00:47] rampara commented on #558
@KhmerRun @SnnYsf @sonicsmith can you list all the devices you're able to reproduce this issue with. All of the devices I've tried render the banner in the expected position.

[2017-11-10 00:54] rampara commented on #554
@thanh-nguyen-kim @duchanhleo what devices are you able to reproduce this issue with. Banners continue to remain in the specified position for with the latest version of the plugin.

[2017-11-10 00:54] sonicsmith commented on #558
Samusung S8.

[2017-11-10 00:55] sonicsmith commented on #558
FYI: I was able to still change the position of the banner using custom values.

[2017-11-10 01:11] rampara commented on #539
@FizzerWL @ferdinandbuagas it doesn't seem like minification should be set by default for the Gradle build system. Are you sure you're not using the experimental [Gradle pre-build feature](https://github.com/googlesamples/unity-jar-resolver#resolution-strategies) of Play Services Resolver?

[2017-11-10 01:17] rampara commented on #509
@2rusbekov I may be misunderstanding the issue you're facing. What is the behavior you expect versus the behavior you are encountering?

[2017-11-10 01:20] rampara commented on #528
@craftyfirefox are you still running into this issue after updating the the latest version of the plugin and performing version resolution (select `Assets -> Play Services Resolver ->Version Handler -> Update` in the Unity editor) ?

[2017-11-10 01:22] rampara commented on #553
@tashfiq103 can you provide a logcat log of the crash?

[2017-11-10 01:23] rampara commented on #548
@kingbaggot yes, you will have to perform the build on a mac for the Google Mobile Ads iOS SDK to be included in the generated Xcode project/ xcworkspace.

[2017-11-10 01:53] KhmerRun commented on #558
@rampara
I tested only with two android devices - Mi Max and Mi Pad 2. Also tried with Android Emulator.
- Mi Max: Show banner at the top (Android 7, MIUI 8.5)
- Mi Pad: Show banner at the bottom (correct)
- Android Emulator (various android version and screen): Show banner at the bottom (correct)

[2017-11-10 02:11] rampara commented on #558
@sonicsmith @KhmerRun looks like this was caused by an Android 7 specific PopUpWindow bug. Will be pushing out a new release shortly that includes a fix.

[2017-11-10 02:24] thanh-nguyen-kim commented on #554
i'm using Xiaomi mi4c with admob plugin version 3.8.0, fire base 4.2.1 and currently using google play resolved version 1.2.59.0.
At the first time i show the banner, it displays correctly at the bottom. When i call HideBanner() function, I show a glitch "Banner display in the top and after 1 frame it disappear". The next time i call ShowBanner(), my banner will display at top of the screen

[2017-11-10 02:25] sonicsmith commented on #558
Thanks @rampara !

[2017-11-10 02:49] ferdinandbuagas commented on #539
Hello @rampara , I'm not using an experimental Gradle pre-build features. Just the usual integration then following this [https://developers.google.com/admob/unity/start](url).

[2017-11-10 07:08] duchanhleo commented on #554
I'm getting same issue with Galaxy S7 Edge and Sony Z3 plus.

[2017-11-10 07:18] 2rusbekov commented on #509
@rampara actually issue from first post is fixed, at least I didnt encounter it.

Current issue is that Sometimes OnAdClosed and OnAdRewarded events called at same time. I expect OnAdClosed to be called when user interrupted ad, didnt watch to the end. And OnAdRewarded to be called when user watch the full ad to the end, in this case I should give him a reward.

[2017-11-10 20:01] edscodeblenders opened #559 "Rewarded ads - iPhone - No callbacks when the audio is muted"
Hi there,

When we show a rewarded ad and the user mutes the audio of the video, the video is watched to the end, but the callback to get the reward is not received. This happens ALWAYS when you mute the audio, and works fine when the audio is on.

On Android this works fine in both cases, we receive the callback even when the video is played without audio.

Is this a known issue?

Regards.

[2017-11-11 10:48] SnnYsf commented on #558
Hi
The user reporting the problem is using android 7.
Thanks

[2017-11-11 15:37] bthnosma opened #560 "Resolution failed error"
I m following admob's rewarded ad tutorial.I downloaded that plugin and import it my project.But I'm getting this error when i try to click Andoid resolve > force resolve. Although I didn't able to resolve ,I can build my android game.It succesfully builded but i can't show the ad.

Resolution failed
Failed to fetch the following dependencies:
com.google.android.gms:play-services-ads:11.2.2

Gradl

[2017-11-11 16:20] kangoo13 commented on #558
@rampara  thanks for the fix, waiting for it :)

[2017-11-12 17:47] rachidev84 opened #561 "The Ads close if the players press back button"
It's was 1 week when I use the admob and I succesful to display ads in my game but if I press back button the ads will close without waiting 5 seconds.

[2017-11-13 09:58] pineda100 commented on #490
any updates about the official release of this vungle mediation unity package and documentation?

[2017-11-13 15:44] rchallenger commented on #558
Got same trouble with Small Banner 320x50.
We load banner each time it has to be in different position after scene loaded and hide banner before scene load started. We does not change its position in current scene. But after scene is loaded we request new banner with certain position (in most cases it is bottom_centered). Banner loads in few seconds after request and appears in a right place. But

[2017-11-13 20:13] SavedByZero opened #562 "Cannot import all items from package in Unity 5.6.1f1"
I'm having an issue here with the latest package -- even selecting "All" or clicking on these individual items that aren't checked will not toggle their checkboxes on.
<img width="434" alt="screen shot 2017-11-13 at 3 11 45 pm" src="https://user-images.githubusercontent.com/3465578/32746911-19628acc-c885-11e7-9812-52858750eb0f.png">

[2017-11-13 20:55] rampara commented on #562
@SavedByZero does this issue persist after restarting Unity? Is the latest release the only package you're able to reproduce this behavior with?

[2017-11-13 20:55] rampara commented on #558
@rchallenger the upcoming fix should resolve the issue you're experiencing as well.

[2017-11-13 20:57] rampara commented on #490
@pineda100 should be out this quarter but as my previous post mentioned, you can already build the support package if you want a head start.

[2017-11-13 20:58] rampara commented on #561
@rachidev84 this behavior is determined by the Google Mobile Ads SDK and not this plugin. To raise concerns about SDK behavior, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-11-13 20:58] #561 closed

[2017-11-13 21:00] rampara commented on #560
@bthnosma this looks like a network connectivity issue to me. Can you ensure you have network connectivity when attempting to resolve dependencies?

[2017-11-13 21:07] SavedByZero commented on #562
Yes, it persists.  I haven't tried older packages (I'm new to this).
Oddly, though, when I looked in my folders, it seems to have the cSharp
files for the packages it would not check when I tried to check them, so
I'm not sure what the deal is.  Is some of this Pro only?

On Mon, Nov 13, 2017 at 3:55 PM, rampara <notifications@github.com> wrote:

--
________________________
Michael Greenhut
Writer

[2017-11-14 06:51] rchallenger opened #563 "feature request: dynamic position change for banner view"
Is it possible to avoid multiple banner requests for those situations, when some number of short scenes require the banner to be placed in some specific position, which is different from previous one (eg: to avoid content overlap)? Usually we use banner auto refresh.
Today all we can do to move banner is creating new one and requesting it again.

PS: old NeatPlug plugin could do that perfect, even

[2017-11-15 02:05] rampara commented on #559
@edscodeblenders I'm having trouble reproducing this issue. Can you provide step by step instructions on how you were able to reproduce this behavior?

[2017-11-15 02:06] rampara commented on #558
A fix for this issue has been implemented in the latest version of this plugin (v3.9.0)

[2017-11-15 02:06] #558 closed

[2017-11-15 02:06] rampara commented on #555
This has been fixed in the latest version of the plugin (3.9.0).

[2017-11-15 02:06] #555 closed

[2017-11-15 02:07] rampara commented on #554
A fix for this issue has been implemented in the latest version of this plugin (v3.9.0).

[2017-11-15 02:07] #554 closed

[2017-11-15 02:08] rampara commented on #538
This will be implemented in an upcoming release of the plugin.

[2017-11-15 02:09] rampara commented on #481
Closing issue due to non-response.

[2017-11-15 02:09] #481 closed

[2017-11-15 02:09] rampara commented on #480
Closing issue due to non-response.

[2017-11-15 02:09] #480 closed

[2017-11-15 02:10] rampara commented on #414
v3.9.0 contains new banner positioning behavior. Please open a new issue with banner positions are not working as expected for you.

[2017-11-15 02:10] #414 closed

[2017-11-15 02:11] rampara commented on #488
Closing due to non-response.

[2017-11-15 02:11] #488 closed

[2017-11-15 02:11] rampara commented on #489
Closing due to non-response.

[2017-11-15 02:11] #489 closed

[2017-11-15 02:11] rampara commented on #494
Closing due to non-response.

[2017-11-15 02:11] #494 closed

[2017-11-15 02:13] rampara commented on #509
@2rusbekov expected behavior is the `OnAdClosed` will always be called. `OnAdRewarded` can be called at any time before `OnAdClosed` if a user should be rewarded.

[2017-11-15 02:14] rampara commented on #533
Closing due to non-response.

[2017-11-15 02:14] #533 closed

[2017-11-15 02:15] rampara commented on #519
This has started to roll out. Open new issues for any specific networks you would like to see.

[2017-11-15 02:15] #519 closed

[2017-11-15 02:15] rampara commented on #516
Closing due to non-response.

[2017-11-15 02:15] #516 closed

[2017-11-15 02:16] rampara commented on #447
Closing as this is a Moto specific issue not caused by this plugin.

[2017-11-15 02:16] #447 closed

[2017-11-15 02:17] rampara commented on #511
Closing issue due to non-response from original poster.

[2017-11-15 02:17] #511 closed

[2017-11-15 02:18] rampara commented on #512
Closing due to non-response.

[2017-11-15 02:18] #512 closed

[2017-11-15 02:18] rampara commented on #537
Closing due to non-response.

[2017-11-15 02:18] #537 closed

[2017-11-15 02:21] rampara commented on #453
Closing due to non-response.

[2017-11-15 02:21] #453 closed

[2017-11-15 02:22] rampara commented on #498
@KVinS I'm having trouble reproducing this behavior. Is this issue still present for you on the latest version of this plugin?

[2017-11-15 02:23] rampara commented on #454
Closing due to lack of response from original poster.

[2017-11-15 02:23] #454 closed

[2017-11-15 08:00] rchallenger commented on #538
Hello, in v3.9.0 I saw some changes to banner in native android part of plugin (Banner.java).
[code]
Is there any way to get ad size of certain bannerView in Unity?

[2017-11-15 09:58] zhouguangjie opened #565 "ios: after close the interstitial video ad, the game sound will be set muted."

[2017-11-15 12:01] ceceomer opened #566 "Ready for iphone x?"
Admob has released a policy update for iPhone x and Admob said that we should be ready for iphone x. Is this plugin ready for iPhone X?
![iphonex](https://user-images.githubusercontent.com/10334894/32835070-c78ac34e-ca15-11e7-8745-a16d749a6502.png)

[2017-11-15 17:36] stowy commented on #566
Hi @ceceomer, thanks for asking! The latest versions of the plugin - 3.8.0 and 3.9.0 - have support for positioning ads in the safe area, using the standard positions (top left, bottom right, etc). So if you are using banner ads, we recommend positioning them using the standard positions.

The GoogleMobileAds iOS SDK itself will have another release this week, which will complete the support for I

[2017-11-15 17:36] #566 closed

[2017-11-15 17:44] timendez commented on #454
I gave up, sorry

[2017-11-15 21:01] edscodeblenders commented on #559
Hi @rampara,

What we do is very simple, it happens in iPhone only:
1) We request a rewarded video ad.
2) When it's ready we show it.
3) When the video starts playing, we press the "mute" button, to mute the sound.
4) We watch the video to the end.
5) When the video is complete, we close the ad, but the "OnAdRewarded" callback is not received.

On the other hand, if we do the same except point 3,

[2017-11-16 01:25] Guyleung opened #567 "Test Ad is showing, but real ad is not showing at all"
I am using the "GoogleMobileAdsDemoScript.cs", i follow every step to setting up the scene, when i test on the devices, the test ad is showing , but when i plug in to my real ad, nothing happen, may i know what's going on?

Test APP ID : ca-app-pub-1005045795524431~8618733653
Test Banner AD ID : ca-app-pub-1005045795524431/6772311278
Test Interstitial : ca-app-pub-1005045795524431/8088621743

Cons

[2017-11-16 02:10] rampara commented on #567
@Guyleung as test ads are working without issue, the issue likely lies with your ad placements/ ad units. As this issue tracker is strictly for bugs related to this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-11-16 02:10] #567 closed

[2017-11-16 02:11] rampara commented on #538
@rchallenger currently there isn't but it will be implemented in a future release.

[2017-11-16 05:49] #509 closed

[2017-11-16 22:34] FaizanDurrani opened #568 "Ads fail to load 'Fail to instantiate adapter com.google.DummyAdapter'"
I have followed the tutorial correctly and have done "Assets > Play Services Resolver > Android Resolver > Resolve"

**adb logcat -s Unity:**
[code]
**adb logcat -s Ads:**
[code]

**AdLoader.cs:**
[code]

**SDK Manager:**
https://i.imgur.com/43ICxX2.png

I am also using Firebase RTD and Firebase Auth if that helps.

[2017-11-17 01:11] rampara commented on #568
@FaizanDurrani the error you're running into is the result of no ads being eligible to be served for your ad request. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-11-17 01:11] #568 closed

[2017-11-17 19:10] rampara commented on #565
@zhouguangjie can you provide a test app that reproduces this behavior?

[2017-11-21 07:32] minjisong7334 opened #569 "Moving file failed issue"
Hi, I'm using Unity 5.6.1 and building Android with Internal(default) option and getting this error message.

"Moving Temp/StagingArea/android-libraries/play-services-ads-license-11.6.0/classes.jar to Temp/StagingArea/android-libraries/play-services-ads-license-11.6.0/libs/classes.jar: No such file or directory"

Added the most recent version of GoogleMobileAds.unitypackage.
I checked that when I

[2017-11-21 12:16] Bestlis opened #570 "Interstitial Ads not showing when using WiFi."

[2017-11-21 12:22] Bestlis opened #571 "Interstitial not showing when using WiFi."
Hello!

I have a problem.
I updated AdMob plugin and interstitial stop showing when I use WiFi.

Plugin ver.: 3.9.0
Unity ver.: 5.6.4f1

What should I do to ads show?

When I use 3G internet everything works fine.

Here is logcat:

E/Ads     (25594): JS: Failed to load https://bid.g.doubleclick.net/dbm/vast?dbm_c=AKAmf-BuIE1VYC0elwWzXRywQwi24cdFKOLng-FqdRnGfAFAILA90AAM-aha5QBS9ubU_Vd-4qi_&dbm_d=AK

[2017-11-22 15:23] xxPillsxx opened #572 "3.9.0: Banner position stuck at top?"
I recently updated to 3.9.0 cause I heard it should fix some incorrect ad positions, but now on my android app, my banner ad is stuck at the top position. I can position it left, middle and right but it's always on top. Tried deleting everything related to the plugin in the project and reimporting but same result, tried clean install, reimport all, still same result. I have not tested real ads wit

[2017-11-22 20:01] rampara commented on #572
@xxPillsxx there shouldn't be any change in behavior between test and real ads. I'm having trouble reproducing the issue on my end. Attached an image below were a banner was correctly positioned in the bottom left of the screen.

![image](https://user-images.githubusercontent.com/11047881/33147516-db3d60ce-cf7c-11e7-9540-b90f378b4c6c.png)

If you can provide a Unity project that reproduces the pro

[2017-11-22 20:02] rampara commented on #571
As this issue is not related to a bug in this plugin or a feature request, but rather an issue with the GMA SDK itself, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-11-22 20:02] #571 closed

[2017-11-22 20:03] rampara commented on #570
Closing as duplicate of #571

[2017-11-22 20:03] #570 closed

[2017-11-23 00:43] xxPillsxx commented on #572
I created a fresh new project and tried importing the 3.9.0 and everything worked fine, I copied all the admob files from the new project to my production project but nothing changed. How can I make a clean install of admob again? I tried deleting every admob file I could find (including meta files) and copying the fresh install again, but to no avail.

[2017-11-23 02:29] ZhaoTianze commented on #557
I have same issue.

What advice does the development team have?

[2017-11-23 02:31] ZhaoTianze commented on #557
Other discussions:
https://www.reddit.com/r/androiddev/comments/78z6wv/google_play_search_algorithm_may_be_wrongly/

https://forums.coronalabs.com/topic/70688-android-vitals-and-slow-rendering/

https://forum.unity.com/threads/do-android-vitals-slow-rendering-statistics-show-on-your-developer-console.501799/

https://forum.unity.com/threads/do-android-vitals-slow-rendering-statistics-show-on-your-

[2017-11-23 04:53] brinca opened #573 "Position ad programatically"
Once deployed, we should be able to reposition the ad through script, to any arbitrary position, including off screen.
This could be used, among other things, to fake ads embedded in scroll views (we could move the ad in sync with the scroll view so that to the user it would appear that it was included in the content being scrolled).

My actual use case is a level select screen, where each level i

[2017-11-23 08:11] iseeall commented on #557
@ZhaoTianze Thanks for the links!
Here https://forums.coronalabs.com/topic/70688-android-vitals-and-slow-rendering/
the guy says that a Google's representative said slow rendering doesn't count in rankings if they are caused by "edge cases" (like ads).
@rampara Would be great to have an official confirmation on this. Could you please ask your colleagues at other teams within Google about this? Or

[2017-11-24 06:59] ZhaoTianze commented on #557
@rampara

ignore this issue?

[2017-11-25 02:37] zhouguangjie commented on #565
@rampara
here is the key code, it's just like the demo code, and i use a oc bridge fix this issue
fix:
`
#include <GoogleMobileAds/GADAudioVideoManager.h>
#include <GoogleMobileAds/GADMobileAds.h>

void _iOSAdmobFixAudioMutedIssue() {
    [[GADMobileAds sharedInstance]audioVideoManager].audioSessionIsApplicationManaged = true;
}

`

admob key code:
`
public void RequestInterstitial ()
	{

		// Cle

[2017-11-25 08:20] armnotstrong opened #574 "`Gender' does not contain a definition for `Unknown'"
Assets/GoogleMobileAds/Platforms/Android/Utils.cs(141,33): error CS0117: `Gender' does not contain a definition for `Unknown'

[2017-11-25 08:52] armnotstrong commented on #574
It seems that the Gender enum has conflict with another plugin we are using, have created a [pull request](https://github.com/googleads/googleads-mobile-unity/pull/575) to fix this

[2017-11-26 07:30] cwadoud commented on #569
Same problem 😓

[2017-11-28 19:43] rampara commented on #569
@minjisong7334 @cwadoud I'm having trouble reproducing this error. Can you post the contents of the `Assets/Plugins/Android` directory of your Unity project?

[2017-11-28 19:57] rampara commented on #572
@xxPillsxx still having trouble reproducing the issue on my end. Updating the plugin shouldn't require any steps beyond importing the updated Unity package into your project. I tried creating a test app with v3.8.0 of the plugin and then updating 3.9.0. Everything works as expected for me.

[2017-11-28 20:05] rampara commented on #513
@AndrewVorobey I'm having trouble reproducing this behavior. Is it consistently reproducible for you? Are you able to reproduce it with the HelloWorld sample app from this repo?

[2017-11-28 20:09] rampara commented on #539
@ferdinandbuagas do you have Proguard minify enabled in your Android player settings ?

![screen shot 2017-11-28 at 12 08 02 pm](https://user-images.githubusercontent.com/11047881/33341810-efbbd8b6-d434-11e7-9d9b-e877986d49b8.png)

[2017-11-28 20:12] rampara commented on #562
@SavedByZero if files haven't changed, they also won't be selectable.

[2017-11-28 20:14] rampara commented on #559
@edscodeblenders the error you're running into is caused when there is no eligible to be served for your ad request. There was an issue with our test ads that since been resolved. Can you try reproducing with the HelloWorld sample app again?

[2017-11-29 03:28] ValentinUsedREKTItsSuperEffective opened #576 "Bottom banner cut by the navigation bar on Xperia SOL26"
Hello, I'm having trouble at displaying abmob banners. The banners are cut on an area corresponding to the bottom navigation bar instead of being overlay. This problem appear after I upgraded admob unity plugin from version 3.7.1 to 3.9.0. (I got another problem with the version 3.7.1:
https://groups.google.com/forum/#!topic/google-admob-ads-sdk/pTxy5x2GSxg)

Btw, banner are correctly displayed an

[2017-11-29 12:27] nmtuhin commented on #576
Currently, i am also facing the same problem. This is happening when Admob SDK and firebase messaging SDK are using together.

Unity 5.6.3 p2
Admob plugin 3.9.0
Firebase Cloud Messaging SDK
Without firebase cloud messaging SDK bottom had no problem.

![device-2017-11-29-212000](https://user-images.githubusercontent.com/5388162/33375059-fd2336b2-d54b-11e7-9d9f-2e0aacfdbfc4.png)
Here is screenshot

[2017-11-29 13:02] nmtuhin commented on #576
My Problem was solved by setting full-screen theme in the manifest file created by firebase SDK.
The problem was AdMob banner hide by the Navigation bar when the theme was not full screen.
Here is current capture
![device-2017-11-29-220200](https://user-images.githubusercontent.com/5388162/33376421-f62677f2-d550-11e7-9f51-2b372603be04.png)

[2017-11-30 00:17] leoHN commented on #576
Hi, I got same issue on Sony Z3 plus. Cleaning Project/Library and Project/Temp work for me. You can try it

[2017-11-30 02:42] ValentinUsedREKTItsSuperEffective commented on #576
@leoHN Nice try ^^ Thanks you but the problem remain after deleting Library and Temp project.
@nmtuhin I think you are pointing the problem as no fullscreen theme appear in the manifest generated by Unity.

[2017-11-30 03:22] nmtuhin commented on #576
@ValentinUsedREKTItsSuperEffective
For my case Yes because firebase overrides unity manifest but no theme was set.Unity set then set default device theme on the fly.
Here is how unity apply theme in android
https://blogs.unity3d.com/2015/07/16/android-themes-in-unity/
If I use only AdMob SDK there was no problem but if I add firebase messaging SDK problem occurred.
I am not fully confident about m

[2017-11-30 04:58] ValentinUsedREKTItsSuperEffective commented on #576
It works after I updated Android SDK through Android Studio.
There was certainly some incompatibility between the previously installed Android SDK and the latest AdMob unity plugins as it work well with the old 3.1.2 plugin. I didn't need to change android's Theme in the manifest.

Thanks you guys! Hope this will help other people.

[2017-11-30 07:09] leoHN commented on #576
@ValentinUsedREKTItsSuperEffective  did you imported Facebook Sdk into this project?

[2017-11-30 07:23] ValentinUsedREKTItsSuperEffective commented on #576
@leoHN We use Facebook Audience Network only. Do you think it might have any relation ?

--------

I skirt the problem by simply call the banner's show method after the navigation bar  hide. The problem occurred while Imobile text ads were display.

public class IMobileText : MonoBehaviour {

        public ReactiveProperty<bool> textDisplayed;

	void Start () {
		textDisplayed = new ReactivePrope

[2017-11-30 07:29] leoHN commented on #576
I don't think so. I am getting same issue on once project. I am still trying to find what made the issue

[2017-11-30 07:29] leoHN commented on #576
it looks like the cause come from Manifest file

[2017-11-30 07:34] leoHN commented on #576
![image](https://user-images.githubusercontent.com/20719577/33419075-6b2db936-d5db-11e7-8944-7f85cd645a4d.png)
I make there changes to fix that issue. I don't know what line has resolved bug exactly.

[2017-11-30 07:40] ValentinUsedREKTItsSuperEffective commented on #576
In the activity, android:theme were added. This probably solved your bug.
I'm far from mastering android manifests.. ^^'

[2017-11-30 08:26] leoHN commented on #576
I fixed the issue by re-generating manifest by facebook sdk tool. But I still don't understand the cause of bug.

[2017-11-30 09:13] leoHN commented on #576
Hey @ValentinUsedREKTItsSuperEffective. Try to add `android:theme="@style/UnityThemeSelector"` to activity like this. `<activity android:name="com.unity3d.player.UnityPlayerNativeActivity" android:label="@string/app_name" android:theme="@style/UnityThemeSelector">`

[2017-11-30 19:23] rampara commented on #573
Closing as a duplicate of #563.

[2017-11-30 19:23] #573 closed

[2017-11-30 19:24] rampara commented on #563
We're currently looking into implementing this feature.

[2017-11-30 19:26] rampara commented on #565
@zhouguangjie still having trouble reproducing this on my end. Would you be able to provide a test app ?

[2017-11-30 19:27] #546 closed

[2017-11-30 22:50] quantumproducer opened #577 "Unable to configure Payments"
Hello, I'm getting errors trying to configure Payments on the website.

I'm posting here because I need to reach a Human Being who can relay the bug to the right team.

![kxbizvcr](https://user-images.githubusercontent.com/11827932/33459141-e41d57fa-d5f6-11e7-8052-faf8dd2a1f80.png)

Javascript console:
[code]

[2017-12-01 00:46] rampara commented on #577
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-01 00:46] #577 closed

[2017-12-01 09:32] ferdinandbuagas commented on #539
Hello Rampara,

Yes

On Wed, Nov 29, 2017 at 4:09 AM, rampara <notifications@github.com> wrote:

--
Thank you and Best regards,

Ferdinand Narandan Buagas

[2017-12-01 11:45] edscodeblenders commented on #559
Hi @rampara, thanks for your feedback and help. We couldn't reproduce the issue with the test app provided with the SDK, so we started debugging our game, and we found that the issue was related to our implementation. We were requesting to load a second rewarded video ad before the first one was closed, so even if the ad was working, and we were watching the video to the end, the rewarded / closed

[2017-12-01 11:45] #559 closed

[2017-12-01 12:33] AndrewVorobey commented on #513
@rampara It reproducible all time, because I(and other people) use it incorrect.
I thought that it works like Unity Ads: start loading video immediately after show(), when video hasn't finished yet.
But at AdMob we need to load video ON CLOSE VIDEO EVENT(or after it), but I haven't seen something about this in the [documentation](https://developers.google.com/admob/unity/rewarded-video).

The seco

[2017-12-01 14:45] pta271996 opened #578 "Admob Banner ads are not showing"
OK I've tried the latest admob and google play services plugin 3.9.0 and the version 3.4.0 and had the same error in the logcat :
E/Unity   ( 8155): AndroidJavaException: java.lang.ClassNotFoundException: com.google.android.gms.ads.AdSize
E/Unity   ( 8155): java.lang.ClassNotFoundException: com.google.android.gms.ads.AdSize
E/Unity   ( 8155):      at java.lang.Class.classForName(Native Method)
E/U

[2017-12-02 05:41] zhouguangjie commented on #565
It seems everything is ok. I remove my fix code, and there are no more problem raise.

[2017-12-02 15:02] BrianOSH commented on #572
I can reproduce this in my apps. If I create a banner view and request a banner ad to appear at the bottom of the screen. Then BEFORE the ad appears make a call to Application.OpenURL. Wait for about 10 seconds then press the back button to return from the browser to my app. The banner ad is positioned at the top of the screen every time.

[2017-12-04 00:36] flashwade03 commented on #572
I'm using version 3.9.0.
I have tested at Android6, Andorid5, Android7.
In case of Android6, banner is positioned at top always. But the other versions, banner is positioned correctly.

[2017-12-04 15:15] rampara commented on #565
@zhouguangjie glad to hear your problem has been resolved.

[2017-12-04 15:15] #565 closed

[2017-12-04 15:16] rampara commented on #578
@pta271996 based on the stack trace you provided, it looks like you are not including the required Google Play services AARs in the `Assets/Plugins/Android` directory of your Android project. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-adm

[2017-12-04 15:16] #578 closed

[2017-12-04 19:05] rampara commented on #572
@flashwade03  just did a quick test with the latest version of this plugin (3.9.0) and a Samsung S7 running Android 6 and was unable to repro this issue. Can you link me to a test project that I can use to reproduce the issue.

[2017-12-04 19:10] rampara commented on #513
@AndrewVorobey the documentation will be updated to reflect that a new ad cannot be loaded until the loaded ad is shown. As for the second issue, IsLoaded() is returning the expected value in my tests. What version of the plugin and Google Play services are you testing with?

[2017-12-04 19:15] rampara commented on #539
@ferdinandbuagas this setting enables Proguard and which is why you're experiencing classes being stripped from your generated Android APK. If you would like to keep minify enabled for your project you will have to add a proguard-user.txt file to your project in `Assets/Plugins/Android` folder as @FizzerWL specified.

[2017-12-04 23:14] flashwade03 commented on #572
@rampara I just tested with LG G4, Lenovo tablet devices. (android version 6). Because my projects is our company projects, I can not share with you sorry.

[2017-12-05 19:10] jdelange opened #579 "Banner ads not showing anymore"
I had Admob working, then I installed the Google Play plugin and then I could not get Admob working again. All compiles and builds onto the Android device, but no ads are shown. Trying to resolve the issue, I did following:

1. Upgrade to VS2017
2. Upgrade to Unity 2017.2.0f3
3. Updated Android Studio: SDK tools 26.1.1, SDK platform tools 26.0.2
4. Downloaded and re-imported mobile Ads unity packa

[2017-12-05 19:16] rampara commented on #579
@jdelange based off the logcat dump you provided, it seems your device does not have full network connectivity and was unable to load the ad creative. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-05 19:16] #579 closed

[2017-12-05 23:41] alaslipknot opened #580 "[Ios] Reward Sample Ads ID works but mine doesn't"
Hello,

Banner and Interstitial works fine using the Test IDs, but the RewardAds doesn't giving this error :

[code]

While on Android All Test Ads works, but in the other hand, my Ads ID which is using AdMob mediation doesn't work and it gives me this error :

[code]

Here is the game dashboard :

![image](https://user-images.githubusercontent.com/4387645/33636752-dd6d5a56-da1d-11e7-9f36-23285fc3

[2017-12-06 11:01] alaslipknot opened #581 "iOS Only Reward Ads Don't Work! "Cannot find an ad network adapter with the name(s): GADMAdapterUnity""
Hi,

Am having a very weird issue, my game Ads works perfectly on Android, and on iOS Banner and Interstitial works fine too, but whenever i call for a reward ads on iOS, i get this error :

[code]

Am using unity 2017.1, and opened the .xcworkspace build and here is some screenshots that might be useful :

**iOS plugin folder :**
![image](https://user-images.githubusercontent.com/4387645/33658404

[2017-12-06 16:21] rampara commented on #580
@alaslipknot as both issues you're facing are not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-06 16:21] #580 closed

[2017-12-06 16:22] rampara commented on #581
@alaslipknot the error you're running into is usually caused when you're not including the required mediation adapter and/or SDK in the Unity generated Xcode project. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for

[2017-12-06 16:22] #581 closed

[2017-12-06 16:29] rampara commented on #572
Having trouble reproducing on this on my end but keeping the issue open while it's being investigated.

[2017-12-06 16:31] rampara commented on #528
Closing this issue due to non-response. Please re-open if this issue persists for you.

[2017-12-06 16:31] #528 closed

[2017-12-08 15:09] QuentinPix commented on #553
Hi,

Jumping into this thread as I have exactly the same issue, with a similar c# code.

Here is the LogCat :

[code]
I'm quite new to coding, but this is the only crash I can't seem to resolve by myself so far...

Cheers,

Quentin

[2017-12-10 15:08] mechwarr opened #582 "Some times AdMob rewarded video ad failed to load."
I used the plugin version 3.9.0 , and update the Google Mobile Ads SDK framework v7.26.0, device is iOS 11 beta v4 ,and used EasyMobile Plugin on Unity last version , the same c # script android all no problem , but when I build to iOS alway show load admob rewarded failed delegate event,very few times will load success.
ps. 1. when used test device mode will always work.
2. I don't think this err

[2017-12-10 18:09] tanapp commented on #569
Same problem.
Reproducing the error is simple. Just add the google play game plugin

[2017-12-10 23:07] tanapp commented on #569
How I solved the issue:
I moved (to save) and deleted the "gpgs-plugin-support" folder (Assets\GooglePlayGames\Editor\m2repository\com\google\games\gpgs-plugin-support\0.9.42\)
I ran Android Resolver > Force Resolve =>I got an error
I put back the folder in its place and ran Force Resolve again. And it worked.

[2017-12-11 14:09] GIxXx3R opened #583 "Test Ads showing , Real Ads not showing"
Below is my code , I and using Unity Game Engine 5.6 and Latest Admob SDK 3.9.0.
Only test ads are showing , even 3 day after creating IDs still the same issue.

using System;
using UnityEngine;
using UnityEngine.SceneManagement;
#if AdmobDef
using GoogleMobileAds;
using GoogleMobileAds.Api;
#endif

/// <summary>
/// Script that handle your banner , noraml and reward ads
/// </summary>

// Example

[2017-12-11 16:05] knagode commented on #397
THis is still an issue .. Ad blocker is not the reason :(

[2017-12-11 19:38] rampara commented on #583
@GIxXx3R As this issue is not related to a bug in this plugin (since test ads are rendering without issue) or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-11 19:38] #583 closed

[2017-12-11 19:41] rampara commented on #582
@mechwarr what error code are you receiving when the ad fails to load?

[2017-12-11 19:48] rampara commented on #569
@tanapp based on the folder/ files you had to remove, it seems your error is caused by the Google Play Games plugin and not this one.

[2017-12-11 19:50] rampara commented on #553
@QuentinPix the error you're running into is cased by a bug in the Google Mobile Ads SDK when building for API 27. A fix for this bug has been implemented will be included in an upcoming release of the SDK. For now, as a workaround, you can target < API 27.

[2017-12-11 20:04] tanapp commented on #569
@rampara,
Well, as mentioned in my first post, I said to install google play games plugin to reproduce the issue. This is how I got this issue.
I guess Google Play Games and GoogleAds have some conflict and I'm giving the way I made it work.
Anyway, are we obliged to prohibit ourself from using Google Play Games if we want to use GoogeAds ?

[2017-12-12 13:07] QuentinPix commented on #553
@rampara Thanks for the info. Is there a clean way to downgrade ? I have read about the build.gradle, is this the best way to do so in unity ? Cheers, Quentin

[2017-12-12 21:00] rampara commented on #553
@QuentinPix you can set the `Target API Level` to the appropriate value under `Other Settings` for Android Player Settings.

[2017-12-13 14:55] ttunstall07 commented on #397
This also happens to me occasionally when trying to comment. A workaround that seems to work is logging out of and logging back into my account.

[2017-12-15 00:36] rampara commented on #498
Closing due to non-response.

[2017-12-15 00:37] rampara commented on #560
Closing due to non-response.

[2017-12-15 00:37] #560 closed

[2017-12-15 00:37] #498 closed

[2017-12-15 00:39] rampara commented on #540
Closing due to non-response.

[2017-12-15 00:39] #540 closed

[2017-12-15 00:41] rampara commented on #539
Closing this issue as it doesn't seem to be a bug in the plugin. If you toggle the minify setting, you will have to include Proguard rules to ensure GMA SDK specific classes are not stripped from your app.

[2017-12-15 00:41] #539 closed

[2017-12-15 00:57] rampara commented on #569
@tanapp @minjisong7334 wasn't able to repro this problem. Started with the Helloworld sample app from this repo, imported the latest version of this plugin, imported the latest version of the Google Play Games plugin, force resolved dependencies and built with the internal build system. Using the steps I outlined, I was able to successfully create an Android build.

[2017-12-15 06:41] msureka opened #584 "Banner position for 18:9 devices"
Hello,

We are testing our game on Mi Mix 2 (actual screen size : 1080 x 2160), but in the game it gives us 1080 x 2030. This is one problem, but not related to Admob.

Our issue is the banner is not shown at the bottom of the screen. It is shown around 100-200 pixels above the bottom. This is much above the safe area (if any).

On other Android devices it shows up fine.

Any ideas?

Thanks!

[2017-12-15 16:35] sjvc commented on #572
I'm having this issue too. I have an horizontal banner at the bottom, but in an Acer Iconia Tab 8 it appears on top

[2017-12-15 19:10] rampara commented on #584
@msureka this issue seems specific to the device rather than 18:9 devices as I did a quick test on a Pixel XL 2 and the banner is being positioned correctly. Currently, don't have access to a Mi Mix 2. Were you able to reproduce the issue on any other devices?

[2017-12-18 02:37] flashwade03 commented on #572
@sjvc Hi, all.
This is my a my solution. I wish this code help you.

Banner.java
`private void showPopUpWindow() {
        View anchorView = mUnityPlayerActivity.getWindow().getDecorView().getRootView();

        if (this.mPositionCode == PluginUtils.POSITION_CUSTOM) {
            // Android Nougat has a PopUpWindow bug gravity doesn't position views as expected.
            // Using offset values

[2017-12-18 07:32] rchallenger commented on #538
Here is another device, where banner size is not same as we get according to formula
real_dimension = dimension*(dpi/160)
We have Samsung J120H. Its DPI=216.942
According to formula banner size on this screen should be 434x68.
But in fact real application shows banner 480x75 which is much bigger then expected.
![screenshot_2017-12-18-09-07-45](https://user-images.githubusercontent.com/20810488/340

[2017-12-18 07:44] mechwarr commented on #582
@rampara
I always got the error message is "rewarded video ad failed to load." , I think this is not get video source.
I dont know why it worked automatically after a few days now.

[2017-12-18 07:45] rchallenger commented on #538
Also Ipad would show desired banner size. It always bigger then we can predict by formula.

[2017-12-18 10:49] khalilhoti opened #585 "Rewarded video did not Show on Device."
Hi, I integrate both interstitial and rewarded video in my game. Interstitial works good loaded and also shown on device but Rewarded video only load mean in console it show dummy ad loaded and also show dummy load but on device it can't show any rewarded video.. I download hello world example it also did not show rewarded video. So what i did wrong?

[2017-12-18 18:40] rampara commented on #582
@mechwarr glad to hear the issue has been resolved for you.

[2017-12-18 18:40] #582 closed

[2017-12-18 19:17] rampara commented on #572
@flashwade03 @sjvc the latest version of the plugin (v.3.10.0) contains an updated banner positioning implementation. Can you try this version of the plugin to see if your issue persists?

[2017-12-18 19:21] rampara commented on #538
@rchallenger the latest version of the plugin (v3.10.0) includes an API to get the width and height of banner ads in pixels.

[2017-12-18 19:21] rampara commented on #563
@rchallenger an API for this feature has been added in the latest version of this plugin (v.3.10.0).

[2017-12-18 19:21] #563 closed

[2017-12-18 21:59] BrianOSH commented on #572
My banners still appear at the top of the screen when using my test program.

On 18 Dec 2017, at 19:17, rampara <notifications@github.com<mailto:notifications@github.com>> wrote:

@flashwade03<https://github.com/flashwade03> @sjvc<https://github.com/sjvc> the latest version of the plugin (v.3.10.0) contains an updated banner positioning implementation. Can you try this version of the plugin to see

[2017-12-19 05:10] flashwade03 commented on #572
@rampara Hi. I tested new version of plugins, but problem exist currently.
And When I tested in iPhone X(ios11+), Same problem was occured.

[2017-12-19 07:23] sjvc commented on #572
@rampara with version 3.9.0 only happened 1 time (banner was on top). After it happened, I closed the app, opened again, and then it worked everytime (banner was at the bottom). It's weird, but it happened. I'm testing v3.10.0 right now.

[2017-12-19 11:02] rchallenger commented on #563
3.10.0 has trouble when display orientation is changed:
portrait > landscape - banner is hidden and no event about it is unavailable was generated;
landscape > portrait - banner changes its place from bottom_centered to middle_right.
landscape > portrait > landscape - banner changes its place from bottom_right to middle_right, and turns back to bottom_center shifted to the left (rare occasion)

[2017-12-19 13:34] rchallenger commented on #563
Also there is no methods to get size in pixels for NativeAdView.
SetPosition method also missing for this ad type.

[2017-12-19 22:24] sjvc commented on #572
@rampara it happened again using v3.10.0. It only happened first time, and can't reproduce it again. But it happened.

[2017-12-20 08:10] sjvc commented on #388
@rampara using ad events to pause and resume it's a workaround. But, shouldn't it be fixed in this plugin? Shouldn't work on iOS the same way it does on Android?

[2017-12-21 17:05] Snakes128 commented on #553
Hi rampara,

I have the same problem with the last package "Google Mobile Ads Unity Plugin v3.10.0" and 8.0 Android SDK with the last API "27"

[2017-12-21 17:11] rampara commented on #553
@Snakes128 this crash isn't caused by this plugin but rather the GMA Android SDK. Can you try updating the `GoogleMobileAdsDependencies` file at the `Assets/GoogleMobileAds/Editor` directory of your project use the latest version of the GMA Android SDK (11.6.2), which should include a fix for this issue.

[2017-12-22 07:48] rchallenger opened #586 "3.10.0 banner has wrong position when display orientation is changed"
3.10.0 has trouble when display orientation is changed:
landscape > portrait:
banner changes its place from bottom in landscape to middle in portrait.
bottom_right & bottom_center position in landscape cause banner to move to the middle_right in portrait.
bottom_left position of banner is changed to middle_left.

portrait > landscape:
top_center & top_right in portrait switches to top_left in land

[2017-12-22 07:57] rchallenger commented on #538
Methods for banner worked well.
But there are no methods to get size in pixels for NativeAdView.
SetPosition method is missing for this ad type too.

[2017-12-22 20:00] rampara commented on #585
@khalilhoti As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-22 20:00] #585 closed

[2017-12-22 23:55] rampara commented on #586
@rchallenger a fix for this issue will make it into the next release for this plugin.

[2017-12-23 23:26] nikolaev013 opened #587 "AdMob banner ad not showing!"
Hello everyone!

I need some help. Our game is almost done and one of the last things that are left are adding some ads to it. I've done it before and it works in other of our games. But now the banner ad isn't showing at all! I haven't tried with interstitial ads or rewarded videos yet. It is working in the editor (I'm getting the "Dummy Initialize", "Dummy LoadAd", "Dummy CreateBannerView"), but

[2017-12-24 08:55] c301 commented on #453
Here is logs, hope it will helps. Looks like android 4.1 affected
[logcat.txt](https://github.com/googleads/googleads-mobile-unity/files/1584699/logcat.txt)

[2017-12-25 07:36] rchallenger commented on #587
if UNITY_ANDROID
such directives should be written with # symbol - #if, #elif , #endif

bannerView.LoadAd shouldn't show ad immediately.
In request builder you should sign up for banner events (OnAdLoaded, etc). In your callbacks you can manage making banner visible and invisible as it is loaded. Or just call bannerView.Show()

[2017-12-25 08:04] binarybehemoth opened #588 "Which Version will be Obsolete?"
When I got back to Google Admob Console I received this announcement:

"Beginning on 23 Jan 2018, Google Mobile Ads SDK versions older than 7.0.0 for Android and 7.0.0 for iOS will no longer be supported. Publishers with these older versions will not be able to serve ads in their apps(s). Please ensure that you have upgraded to the latest version of the Google Mobile Ads SDK."

I am concerned abou

[2017-12-25 08:39] gaith-thabet opened #589 "no fill"
i had add the rewarded video ad to my game and when i use ure test id its work perfectly put when i use my id its give no fill error

[2017-12-25 08:57] msureka commented on #432
How did you exactly fix this? Can you elaborate pls as I am facing the same issue.
HandleOnAdRewarded() is not called after completing the reward video on iOS. But somehow on Android it is working.

Any ideas?

[2017-12-25 09:02] flashwade03 commented on #589
@gaith-thabet HI, I think that 'no fill' error is not kind of software error. ( ex. not valid id code, network error...) That means user id doesn't have any valid advertisement data.

[2017-12-25 10:25] msureka opened #590 "HandleRewardBasedVideoRewarded not being called on iOS"
Hello,

We are facing a strange issue in which the video is showing up, but once the video is complete, I press the close button, but no reward is given.

HandleRewardBasedVideoRewarded() function is not called. I have just put a simple Debug.Log, but nothing is shown on Xcode.

public void HandleRewardBasedVideoRewarded (object sender, Reward args)
{
	string type = args.Type;
	double amount = arg

[2017-12-25 10:26] gaith-thabet commented on #589
yes i see but i Waite for days and no video shown so there is a problem

[2017-12-25 13:08] msureka commented on #590
Also, not using any mediation. Only rewarded videos via Admob. No UnityAds.

[2017-12-25 19:17] msureka commented on #590
Ok, so we were able to resolve this. A new instance of the ad was being loaded before the current ad got rewarded/closed. So just make sure you fetch the new ad only after the current one gets completed.

[2017-12-25 19:17] #590 closed

[2017-12-26 12:37] araintechno opened #591 "No fill issue for rewarded video ad"
Hi,
I am developing a game in unity 5.6.4f1 and i want to use rewarded video ads.But rewarded video ads are not working for both test ids and original ids, I always receive a error of "no fill" while loading the video ad.I also tried sample project but it also did not wok. I am using admob version 3.10.0

[2017-12-27 07:06] ValentinUsedREKTItsSuperEffective commented on #576
Thank you guys for your answers.

I just installed the unity plugin GoogleMobileAds 3.10.0 and it seems that this problem has been solved. Can others people try it too ?

[2017-12-27 08:48] arcv commented on #588
You can check [https://github.com/googleads/googleads-mobile-unity/blob/master/ChangeLog.txt](changelog.txt) file for Google Mobile SDK version.

If you are using Google Ads Unity 3.0.0 or newer, you will not be affected by this.

[2017-12-27 10:04] SnnYsf opened #592 "3.10.0 banner has wrong position"
Why this error can not be fixed.
the bottom banner always on the top

Device: POP 4 6" 4G android (POP4-6_4G)
OS: Android 6.0
1080 × 1920
(DPI) :480
manufacturer: Alcatel
Only portrait screen used

[2017-12-27 12:54] nikolaev013 commented on #587
Hi again!

1st: The directives, you mentioned all have the "#" symbol, I don't know why they haven't appeared when I pasted the code in here.

2nd: I've added banner events and on the OnAdLoaded I've called the bannerView.Show() function and it isn't showing on my android tablet (again - it is working in the Editor)..

Could it be a problem with my AdMob account? Or some of the settings of the AdM

[2017-12-27 13:38] rchallenger commented on #587
you should use test values for ad placements:
banner - "ca-app-pub-3940256099942544/6300978111"
interstitial - "ca-app-pub-3940256099942544/4411468910"

[2017-12-27 22:00] rampara commented on #587
@nikolaev013 as rchallenger mentioned, the first step to debugging why ads are not showing would be registering for the `OnAdFailedToLoad` ad event. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-27 22:00] #587 closed

[2017-12-27 22:03] rampara commented on #588
@binarybehemoth as arcv mentioned, if you're using a version of this plugin newer than v3.0.0, you will not be affected by this.

[2017-12-27 22:03] #588 closed

[2017-12-27 22:05] rampara commented on #589
@gaith-thabet since test ads are working without issue, it does seem like the problem lies with the ad placement id. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-27 22:05] #589 closed

[2017-12-27 22:10] rampara commented on #453
@c301 a log that isn't filtered to just Unity tag would be more helpful.

[2017-12-27 22:13] rampara commented on #538
@rchallenger as support for Native Express will be discontinued soon we have decided to halt the addition of new features/ API for this ad format.

[2017-12-27 23:07] rampara commented on #591
@araintechno are you running into this issue on Android, iOS or on both platforms. Do you see any content in the logs that may indicate why ads not not loading successfully?

[2017-12-28 07:15] araintechno commented on #591
If i change my location to France or USA through VPN on android device then it works otherwise it does not work.

[2017-12-28 07:43] araintechno opened #593 "NullReferenceException in BannerView class"
Hi,
The script "AdsManager" which have code for admob integration is in "Standard Assets" folder so I moved "GoogleMobileAds" folder in to "Standard Assets" folder. But when I try to create banner ad i got this error:

NullReferenceException: Object reference not set to an instance of an object
GoogleMobileAds.Api.BannerView..ctor (System.String adUnitId, GoogleMobileAds.Api.AdSize adSize, AdPosit

[2017-12-28 11:53] SnnYsf commented on #592
Device:     One_E8 (htc_mecul_emea)
OS: Android 6.0
1080 × 1920
(DPI) :480
manufacturer: HTC

[2017-12-28 18:22] rampara commented on #591
@araintechno As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2017-12-28 18:22] #591 closed

[2017-12-28 18:29] rampara commented on #593
@araintechno the issue you're running into may be caused by [script compilation order](https://docs.unity3d.com/Manual/ScriptCompileOrderFolders.html). However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support

[2017-12-28 18:29] #593 closed

[2017-12-28 18:31] rampara commented on #592
@SnnYsf I don't have access to either of the devices you mentioned and am unable to reproduce the issue a wide variety of devices I tested with. Are you experiencing the issue on any other devices?

[2017-12-28 20:33] SnnYsf commented on #592
@rampara
Only two users complained.
I wrote device information.
I will information you if there are new devices problem.

[2017-12-30 07:49] brunovals opened #594 "Multiple unit ID for Reward Ad"
Hi, i'm new to the unity and admob

I want to ask if it's possible to load seperate ad unit ID for Rewarded Video

I have 3 unit in the console, but in the guides RewardBasedVideoAd  that we create is only to refer to it's own singleton. Which i assume if we create reference for  each unit ID in adMob it would refer to 1 same RewardBasedVideoAd, which means they shared 1 set on event handler, unli

[2018-01-02 13:32] fabpranav opened #595 "Google admob with socket.Io unity"
Assets/GoogleMobileAds/Api/AdLoader.cs(70,35): error CS0433: The imported type `System.Action<T1,T2>' is defined multiple times

[2018-01-02 17:21] arcv commented on #592
I have the same issue. In my case, it is not always on the top.

Device: Samsung Note 4 (Android 6.0), Only portrait screen
Unity 5.6.4p3

[2018-01-03 00:35] SnnYsf commented on #592
bu problem android 6.0 çzel sanırım oguz

2018-01-02 20:21 GMT+03:00 Oguz <notifications@github.com>:

[2018-01-03 06:02] vilas18 commented on #380
In my case i had project with same folder name("Project") ending with 1 , 2 ,3 ,4 (total 5 folders). when i was trying to install cocoapods in "Project 4" directory it was getting installed in "Project" instead it should be for "Project 4".

Hence i need to delete other folders with same name and then install pods in "Project" folder