[2018-10-02 10:21] Ruco commented on #771
We're having the same / a similar issue.
It is being reported (and tested with 100% reproducibility by us), that when a rewarded video Ad is  being watched. When the video has finished playing. Our app crashes.
Weirdly enough I am unable to find anything in logcat (will update once I have tested with a debug build in case that provides me with more info).
But we get many many crashes reported in t

[2018-10-02 15:28] Ruco commented on #682
I have the exact same issue. (see also: #771 ) But the dependencies file already uses the correct version (15.0.1). So that's not the solution (in my case). Please advice.

[2018-10-02 18:28] rampara commented on #770
@nostel Although we always recommend using the latest version across the board, there shouldn't be incompatibility issues with mediation support packages and this plugin.

[2018-10-02 18:29] #770 closed

[2018-10-02 22:08] vitorfgd opened #772 "java.lang.IllegalStateException: Only fullscreen activities can request orientation"
Hello, I've recently updated all my projects and assets to the newer versions. These are my current settings and workspace:

OS: MacOS 10.13
Unity: Unity 2018.2.10f1
Admob: Admob v3.15.1

I'm implementing a simple interstitial in my game and as usual, before submitting my APK to production I release in closed and open beta and wait for the prelaunch report by Google on Google Play Console.

This t

[2018-10-03 00:28] rampara commented on #763
@xbhuang1994 as @ajon542 mentioned you must download the special Native Advanced build of this plugin, linked in the developer docs.

[2018-10-03 00:28] #763 closed

[2018-10-03 00:31] rampara commented on #762
@arminho This should no longer be an issue on the latest version of the MoPub mediation support package.

[2018-10-03 00:31] #762 closed

[2018-10-03 00:32] rampara commented on #765
@vitorbaraujo that class should be included as part of the com.google.android.gms:play-services-ads-lite package.

[2018-10-03 00:34] rampara commented on #764
@nostel  As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support. Please ensure to include the version of Google Play services running on the device when the crash occurred.

[2018-10-03 00:34] #764 closed

[2018-10-03 01:12] rampara commented on #769
@hkk007 i'm not able to reproduce the behavior you described in your original post. Are you using mediation?

[2018-10-03 01:14] rampara commented on #768
@ha-quang-vu Did a quick test on my end as was able to load rewarded video ads on a iPhone XS running iOS 12.0. As this doesn't seem like an issue caused by this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-10-03 01:14] #768 closed

[2018-10-03 01:15] rampara commented on #759
@1exip I'm having trouble reproducing this behavior. Can you provide a test project that demonstrates this issue?

[2018-10-03 07:50] Ruco commented on #682
I had been using the latest version of the plugin.
But was (finally and) actually able to solve it by downgrading to plugin version 3.13.0

[2018-10-04 13:33] ChaleChan opened #773 "Mediation Test Suite Fails to Build on XCode"
$ pod install
Analyzing dependencies
Downloading dependencies
Using Google-Mobile-Ads-SDK (7.34.0)
Using GoogleMobileAdsMediationTestSuite (0.9.1)
Using MDFInternationalization (1.1.0)
Using MDFTextAccessibility (1.2.0)
Using MaterialComponents (63.0.0)
Using MotionAnimator (2.8.1)
Using MotionInterchange (1.6.0)
Using MotionTransitioning (5.0.0)
Generating Pods project
Integrating client project

[2018-10-05 21:24] neogreco opened #774 "Banner issue with soft keyboard"
Hello, i have a problem displaying the banner in particular with some sony devices with soft keys.
When i show the banner at the button of the screen, no matter if the keyboard is up or gone, the smart banner is showed as a little line.
If i press the task button on the soft keyboard, the app go to background and then i take it to foreground again the banner blinks with a correct size and inmediat

[2018-10-05 23:14] programmermattsrum commented on #724
@sarthakz9 I have the same issue and figured out a hacky solution

In the RewardBasedVideoAd.cs file I changed a couple things so it always creates a new instance.
[code]

Maybe they will take note what worked for me and fix the problem.

[2018-10-07 11:03] ChaleChan commented on #773
Mac OS 10.14
Xcode Version 10.0 (10A255)

Create a IOS empty project

Compile

Error

Podfile:

Platform: IOS,'8.0'

target: "GoogleAdsSuiteTestDemo" do

pod'GoogleMobileAdsMediationTestSuite', > > 0.9.1'

pod'MaterialComponents', > > 63.0.0'

pod'MDFInternationalization', > > 1.1.0'

end

[2018-10-07 11:04] ChaleChan commented on #773
Mac OS 10.14
Xcode Version 10.0 (10A255)

Create a IOS empty project

Compile

Error

Podfile:

Platform: IOS,'8.0'

target: "GoogleAdsSuiteTestDemo" do

pod'GoogleMobileAdsMediationTestSuite', > > 0.9.1'

pod'MaterialComponents', > > 63.0.0'

pod'MDFInternationalization', > > 1.1.0'

end

[2018-10-08 01:13] songhojung opened #775 "Admob ANR Input dispatching timed out"
We are using Unity 5.6.3, and integrated Google Mobile Ads for Interstitial and Rewarded Ads

We are using Google Mobile Ads Unity Plugin v3.15.1

We have been receiving several ANRs and Crash.

there are many other anr issue relate to admob, but i show below main issue.

 On discussing with the Unity Plugin team, they have asked me to contact you as the issue seems to be of the GMA SDK.

"main" t

[2018-10-08 02:04] ChaleChan opened #776 "Mediation Test Suite Fails to Export on Unity"
unity 2017.3.1f1

I got the similar problem. When I try to import "GoogleMobileAds.unitypackage" and "GoogleMobileAdsMediationTestSuite.unitypackage" to Unity,which from Google Admob, Unity fails building, and says"CommandInvokationFailure". I think the reason is that these two packages deploy repetitive Jar or aar dependent packages.

[2018-10-08 02:18] #776 closed

[2018-10-08 02:18] ChaleChan commented on #776
Ok Solved

[2018-10-08 02:30] stowy commented on #773
This is with Unity correct? Which version of Unity are you using?

On Sun, Oct 7, 2018, 7:04 PM Chale Chan <notifications@github.com wrote:

[2018-10-08 02:55] ChaleChan commented on #773
Create a empty project by Unity version 2017.3.1f1
The problem is also exit

[2018-10-08 05:13] aneeshpanoli opened #777 "Xcode10 GADUNativeExpressAd.m - No Such file or directory error"
I am not sure if this error is caused by the Admob AppLovin Adapter or the plugin itself. Anyway, I cannot build for iOS anymore with the plugin.

[2018-10-08 05:38] rampara commented on #777
@aneeshpanoli native express ads have been deprecated in this plugin. Can you remove all native express related classes from your project and use the latest version of the plugin.

[2018-10-08 05:48] aneeshpanoli commented on #777
Thanks, rampara! Clean install with fresh build fixed it.  The error was caused by unity build-to-update. Replacing the build folder while building fixed it

[2018-10-08 05:48] #777 closed

[2018-10-08 08:06] vincent-savysoda commented on #259
Why is this not addressed on current release?

[2018-10-08 21:48] stowy commented on #773
Hi,

I did with Xcode 10.0 with the following podfile:

[code]

And then pod install:

[code]

And then opened the xcworkspace and built, with no issue.

Please note that the following simplified podfile also works:

[code]

So I'm still unable to reproduce your issue I'm afraid.

[2018-10-08 23:13] RafaelCmk opened #778 "Unable to convert classes into dex format."
I got "Unable to convert classes into dex format." error when trying to compile my game. I'm using Admob v3.15.1, Ads Mediation v1.2.0, Unity v2018.2.6f1, Unity ads and Unity In-app purchasing.

Deleting "UnityMediationDependencies" from Assets/Editor fix it but it dosen't work then.

[2018-10-09 03:54] ChaleChan commented on #773
Why,
$ pod install
Analyzing dependencies
Downloading dependencies
Using Google-Mobile-Ads-SDK (7.34.0)
Using GoogleMobileAdsMediationTestSuite (0.9.1)
Using MDFInternationalization (1.1.0)
Using MDFTextAccessibility (1.2.0)
Using MaterialComponents (63.0.0)
Using MotionAnimator (2.8.1)
Using MotionInterchange (1.6.0)
Using MotionTransitioning (5.0.0)
Generating Pods project
Integrating client pro

[2018-10-09 05:47] stowy commented on #773
That is the latest version of the SDK. If you do `pod update` you will receive that version.

That would have no impact on this issue though.

[2018-10-09 07:58] mgrogin opened #779 "How to mute sound for Interstitial ads? (Android & IOS)"
When the sound is turned off in my game's settings if I show an Interstitial ad I want the sound to be muted.
How do I do that?
I see that there are functions called SetApplicationMuted(bool muted) but they don't seem to work for me or Im not using them correctly
TIA!

[2018-10-09 13:14] rotter commented on #690
I didnt notice this crash for a while, but just noticed them again today. Can you confirm if latest version (from August 31st) should contain the fix? I am running this version and am still facing those crashes:

java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewTreeObserver com.google.android.gms.ads.AdView.getViewTreeObserver()' on a null object reference
com.goo

[2018-10-12 04:48] R---K opened #780 "INternal error in load ads"
Hi guys.
I receive internal error, when trying to load any types of ads.
I commented my own code and take code from sample, but still receive  this error
unity ver 2017.2.2p3
minimum api level 16
target (highest installed) api 25
Device runs in android ver 8.0

string appId = "ca-app-pub-3940256099942544~3347511713";
banner:
string adUnitId = "ca-app-pub-3940256099942544/6300978111"
interstitial
s

[2018-10-12 05:03] R---K commented on #780
So guys I figured out source of problem.
I suppose My device was blocked in admob net for my yesterday experiments with admob.
In other device all works well..
Goddamn! Some antifraud defence algorithms looks so paranoid ((((
And how long now I will be blocked...

[2018-10-12 14:04] nikunjkareliya opened #781 "Resolving Android Dependencies - stuck"
Hi,
I'm facing a problem regarding resolving dependency dialog, after google admob plugin is imported.
Resolving Android Dependencies - dialog doesn't disappear.

I tried with - Assets -> Play Services Resolver -> Android Resolver -> Force Resolve
but this is not working in my case.

Anyone having the solution of this problem?

[2018-10-12 14:19] vitorfgd opened #782 "Rewarded ad is showing just once."
Hello, I'm using Unity 2012.2.10f and the most recent googleads-mobile-unity.

I've recently integrated the rewarded ads on my app. It's working like magic on the first time. The ad works, all callbacks are fired, I get the reward and everything. After firing the rewarded ad, I also request a new one.

The action on my app only show up when I get true from rewardBasedVideo.IsLoaded() so I'm sure t

[2018-10-12 15:34] R---K commented on #782
Propably you destroy object with callbacks script. In this case rewarded handlers points to null.

[2018-10-12 17:56] vitorfgd commented on #782
Hey, I believe there was some problems when I imported google play services. That might have erased some important file or something like that. I reimported Admob SDK to the project and created a new script from scratch, it seems to be working now. I'm going to test some more.

[2018-10-13 00:24] rotter opened #783 "ClassNotFound crash on Android 9: org.apache.http.ProtocolVersion"
I'm getting several complains of crashes on Android 9 on my game when the players reach where the banner should be shown.

For some reason I haven't received a single report on Google Play about this crash, I would expect dozens of reports if it's affecting all Android 9 players.

I don't have an Android 9 device, but tried on an emulator and it is indeed crashing with the stack trace below. The f

[2018-10-13 00:31] rotter commented on #783
Ok, so I searched a bit and quickly found a fix or workaround for this problem on the Google Maps SDK forum and docs: https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library

`If your app is targeting API level 28 (Android 9.0) or above, you must include the following declaration within the <application> element of AndroidManifest.xml.

[2018-10-13 00:44] rotter commented on #783
Just as an extra comment, this is a bit odd as I just realized Unity doesnt support targeting API 27 yet (only up to 26) as far as I know, so I'm targeting API 27. So how am I being affected by this problem if I'm targeting API 27? Anyway, the fix above seems to have worked for me...

[2018-10-13 04:29] asadjani43 opened #784 "Ads are not showing"
i have problem in showing a ads i have done all things right but its not showing ads even in test mode

[2018-10-14 09:36] b3da opened #785 "RewardBasedVideoAd.Instance does not work."
I installed the latest version of the plugin (3.15.1) on unity 5.4.1, but no test ads (both interstitial and rewarded video) be shown.
I found somewhere that version 3.4 of the plugin is stable, so I installed it. in this version interstitial banner worked but rewarded no. I put a text on the scene to return the messages. I got "rewarded video failed to load" here.

At last I removed everything an

[2018-10-14 15:23] HakimLeee opened #786 "libPods-Unity-iPhone.a is red in XCode"
libPods-Unity-iPhone.a is red in XCode, so when running times wrong "library not found ford-lpods Unity-iPhone", where can I find libPods-Unity-iPhone.a or not add libPods-Unity-iPhone.a to the Framework when exporting XCode?

[2018-10-15 17:34] flynetstudios opened #787 "iOS ignoring methods"
Hi, my ads are working just fine in Android. In iOS, im using both methods, for pause the game and low the sound volume.

[code]

When the interstitial is closed,  the sound don't back to normal volume and the game still paused.

[2018-10-15 17:36] nvdg opened #788 "Can't get the ads to work and I tried everything"
At first, I had some trouble getting the ads to work with Google Play Services, when I import the latest ads package with the latest services package. As soon as the game starts it crashes.

After some researching, I decided to give an older version of the ads package a try so I downloaded version 3.11. Now the game runs and the resolver didn't give any errors. In the editor it says it's loading d

[2018-10-16 16:44] ZonaRMR commented on #784
Same case for me.
A time ago it was working fine.

[2018-10-17 15:00] Wolar commented on #748
Ping
We have also encountered one more problem that might be related to this. When opening the ad (interstitial or reward) for the first time after installing the app (or wiping app data) there are at least 2 or 3 frames at the start of the Ad that takes 200+ms (sometimes even 750+) which is really bad as those 700+ frames are killing another vital - Frozen Frames.

Steps to reproduce:
Create proj

[2018-10-20 11:11] karishmapujara commented on #784
Hello

Same here for me also.
Any solutions?

[2018-10-20 13:34] karishmapujara opened #789 "Ads are not showing"
Hello

I am using admob & play services in the project.
I also added meta-data for application_id in the manifest.
But I am unable to displaying test ads.

My logcat
`2018-10-20 19:19:45.612 10513-10513/com.vw.abcde I/Ads: Starting ad request.
2018-10-20 19:19:45.612 10513-10513/com.vw.abcde I/Ads: SDK version: afma-sdk-a-v14366018.13000000.1
2018-10-20 19:19:45.612 10513-10531/com.vw.abcde D/Unit

[2018-10-22 03:23] rotter commented on #775
I'm having this exact same issue, or very similar. I was gonna open another issue but found this one instead.

I've got many players complaining of game closing out of nowhere, and am having several stacktraces similar to these on Play Console, so I believe admob is the culprit.

Stacktrace A:
(...)
  at com.google.android.gms.dynamite.DynamiteModule.zzc (unavailable:122)
  at com.google.android.g

[2018-10-22 03:23] rotter commented on #775
I'm having this exact same issue, or very similar. I was gonna open another issue but found this one instead.

I've got many players complaining of game closing out of nowhere, and am having several stacktraces similar to these on Play Console, so I believe admob is the culprit.

Stacktrace A:
(...)
  at com.google.android.gms.dynamite.DynamiteModule.zzc (unavailable:122)
  at com.google.android.g

[2018-10-22 03:24] rotter commented on #775
I'm having this exact same issue, or very similar. I was gonna open another issue but found this one instead.

I've got many players complaining of game closing out of nowhere, and am having several stacktraces similar to these on Play Console, so I believe admob is the culprit.

Stacktrace A:
(...)
  at com.google.android.gms.dynamite.DynamiteModule.zzc (unavailable:122)
  at com.google.android.g

[2018-10-22 03:36] JarreyZhou commented on #397
The same problem.

[2018-10-22 12:42] #782 closed

[2018-10-22 19:52] moni69 opened #790 "different Reward"
I'm using AdMob for Unity for an Android game I'm building I reward different things on each button, The problem is that each button gives its reward and the rest of the reward from the other buttons. For example : There is a button that gives 100 coins and another button gives extra life The problem that the button of life gives 100 coins and life And the button of the coins gives both coins and

[2018-10-24 21:55] waqasbhattii opened #791 "App crashes when using Google mobile ads and Google play games plugin together."
Hi @rampara @stowy

I have done the following and apk builds successfully. But when i install apk on phone, its says app keeps stopping.

I am doing the following :

1- Import Google Mobile SDK without Play services resolver from [here](https://github.com/googleads/googleads-mobile-unity)

2- Import Google Play Game Services without Play services resolver from [here](https://github.com/playgameser

[2018-10-25 20:29] rampara commented on #790
@moni69 Rewarded ads in this plugin follow a singleton design pattern. You can only load and display a single ad at a time. When you register ad event handlers from multiple scripts, you're pointing to the same underlying ad object.

[2018-10-25 20:30] #790 closed

[2018-10-26 00:57] rampara commented on #785
@b3da Looks like the rewarded video ad instance is not being instantiated correctly. Might be due to the clashing of files from different versions of the plugin you're tried. Can you remove all plugin related files and then import the latest version?

[2018-10-26 00:58] rampara commented on #784
@asadjani43 @ZonaRMR @karishmapujara is the `HelloWorld` sample app from this repo not working for you either?

[2018-10-26 09:16] kjeldflarup commented on #397
I also was it 4 days ago. But I wasn't able to comment here. Actually not event log properly into github. I guess something was broken @ github that day.

[2018-10-26 17:13] rampara commented on #789
@karishmapujara there's not anything from the logcat snippet you provided that would indicate why ads are not showing. Can you post another snippet filtered to the `Ads` tag?

[2018-10-26 17:16] rampara commented on #788
@nvdg @Mecze Our developer docs have been updated to include instructions on [setting your AppID](https://developers.google.com/admob/unity/start#set_your_admob_app_id), which is a required step when using the latest version of Google Play services.

[2018-10-26 17:18] rampara commented on #787
@flynetstudios just to clarify, the issue you're experiencing is the `OnAdClosed` ad event is never fired for interstitials on iOS? Are you using the latest version of the plugin? Are you using mediation?

[2018-10-26 17:18] itayganor commented on #687
After some research, this problem is not related to the software navigation bar, but to the notch (display cutout). When using `AdPosition.Bottom`, the space between the banner and the bottom of the screen is **the height of the notch**. Currently I couldn't find any way to get the height of the notch, because with this measure the solution is easy:
`new BannerView(adUnitId, adSize, 0, (int)Conver

[2018-10-26 17:19] rampara commented on #786
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-10-26 17:19] #786 closed

[2018-10-26 17:21] rampara commented on #781
@nikunjkareliya can you turn on verbose logging through the Play Services Resolver settings menu and check the console for any content that may indicate why dependency resolution is not working for you?

[2018-10-26 17:22] rampara commented on #780
@R---K glad you were able to resolve your issue.

[2018-10-26 17:22] #780 closed

[2018-10-26 17:30] rampara commented on #704
Closing due to non-response.

[2018-10-26 17:30] #704 closed

[2018-10-26 17:33] rampara commented on #775
@songhojung @rotter For ANR issues not directly caused by the plugin (caused by Google Play services instead) can you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) with ANR logs and the version of Google Play services used to build your app.

[2018-10-26 17:33] #775 closed

[2018-10-26 17:34] rampara commented on #707
For ANR issues not directly caused by the plugin (caused by Google Play services instead) can you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) with ANR logs and the version of Google Play services used to build your app.

[2018-10-26 17:34] #707 closed

[2018-10-26 17:35] rampara commented on #779
@mgrogin are you able to capture a Charles log for an ad request where the `SetApplicationMuted` option is not working as expected for you?

[2018-10-26 17:38] rampara commented on #761
@ajon542 Pull requests are always encouraged.

[2018-10-26 17:38] #761 closed

[2018-10-26 17:39] rampara commented on #760
@08irfan I wasn't able to reproduce this issue. Can you provide a sample or test project that does?

[2018-10-26 17:41] rampara commented on #748
@Wolar as this plugin does not perform any of the ad rendering (handled by the Android Google Mobile Ads SDK), there's not much this plugin can do for improvement. I have reached out to the Android SDK team and they are prioritizing performance improvements. However,  you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for

[2018-10-26 17:42] #748 closed

[2018-10-26 17:43] rampara commented on #724
@sarthakz9 @programmermattsrum this issue is caused by the singleton design pattern employed for rewarded video ads. There is an upcoming refactor of rewarded ads in the GMA SDK that should address this issue.

[2018-10-26 17:43] #724 closed

[2018-10-26 17:45] rampara commented on #774
@neogreco were you able to reproduce the issue on any other devices. I was unable to reproduce the issue on the Xperia devices I have access to.

[2018-10-26 17:46] rampara commented on #769
@hkk007 can you provide a test or sample project that reproduces this issue?

[2018-10-26 17:52] RafaelCmk commented on #778
I already fixed it, the problem was that I enabled Unity Ads in the service tab and the plugin from Google already imports all the files I needed so disabling it solved.

[2018-10-26 18:08] itayganor opened #792 "Wrong Position on Displays with a Cutout (notch)"
The following results use the same code and APK file, the only difference is the simulated display cutout at the top of the display.

![](https://i.snag.gy/yDwmgV.jpg)

**Steps to reproduce:**

1. Create an example banner with:
`bv = new BannerView(adUnitId, Adsize.Banner, AdPosition.Top);`
2. Use any device with Android Pie (9.0+) or with a build-in display cutout.
3. Simulate a display cutout vi

[2018-10-26 18:18] rampara commented on #778
@RafaelCmk glad you were able to resolve your issue.

[2018-10-26 18:18] #778 closed

[2018-10-26 18:33] rampara commented on #733
@SparklingLukas sorry for the late follow up. Could you share a drive link with mobileadssdk-advisor+ram@gmail.com?

[2018-10-26 18:37] rampara commented on #792
Will be prioritizing notch compatibility for the next release.

[2018-10-26 18:41] itayganor commented on #792
That's great to hear! Any approximation for its release date?
I need that compatibility for my initial app release :X

[2018-10-26 18:47] programmermattsrum commented on #724
@rampara Can we be notified when this is released?

[2018-10-26 18:49] rampara commented on #724
Don't have any release dates to share at the moment.

[2018-10-28 10:37] paulocode opened #793 "Unstable app when Limit Ad Tracking is turned on in iOS"
I'm getting crashes when Limit Ad Tracking is turned on. Sometimes, I get a blank ad.

Here is the stack trace of the crashing thread:
`Thread 43 name:  Dispatch queue: com.apple.CFNetwork.LoaderQ
Thread 43 Crashed:
0   libdispatch.dylib             	0x00000001b339d5c8 dispatch_source_set_timer$VARIANT$armv81 + 40
1   CFNetwork                     	0x00000001b40c18a8 URLConnectionLoader::_private_

[2018-10-28 12:21] VincentBaillet opened #794 "problem with AddPosition.Top on Android"
I've spent much time trying to display banners with adposition.top on  Android device, and here is the result i get on all (3) my android devices:
![screenshot_20181028-123743-2](https://user-images.githubusercontent.com/11924925/47615656-b4ab6c80-dab1-11e8-8c11-a2de4e22b785.png)
The banner does not appear at the top of the screen, but under what looks like the "status bar zone". Also, the banner

[2018-10-29 07:42] SparklingLukas commented on #733
@rampara I'm sorry but I don't have the repro anymore. The key is that you need to have an app id which GoogleAds will think is worth a video. With test ads I have never received a video, always the default static GoogleAds image.

[2018-10-29 10:14] MuhammadWaqasOfficial opened #795 "Interstitial Not Showing Properly On Ios, Match Rate Is Very Low On Ios"
For the first time upload game on ios. now having issues with admob.
1- Interstitial either not showing or when showed it showed like this
![img_5215](https://user-images.githubusercontent.com/32755091/47643241-b138e380-db8c-11e8-82d6-9acfff69b420.PNG) .
2- Also match rate for ios is very low. In between 20 to 30 %. where match rate is upto 80% on android.

[2018-10-29 13:22] neogreco commented on #774
It happened in a motorola G5 too but not always. Some times after go background or showing an interstitial ad and go back.

[2018-10-29 13:29] neogreco commented on #774
@rampara, For now, we solve the issue by cleaning up the project and re installing firebase and admob again. We remove several plugins that we do not use anymore, and i suspect that one of them affected the manifest merge causing that the banner activity remains with a non full screen theme or something like that.
It would be nice if in some way the admob configuration is not affected by another u

[2018-10-29 13:30] neogreco commented on #774
I think this is related to [#576](https://github.com/googleads/googleads-mobile-unity/issues/576)

[2018-10-29 23:37] ecv80 commented on #513
I wasted the whole evening trying to figure this one out. Thank you very much, @AndrewVorobey for pointing this out.
Still, even if the documentation was corrected, it makes it look as if requesting a new ad in close event is optional rather than quasi-mandatory as it is now since isLoaded() isn't working properly.

This needs to be corrected. One can not simply expect the library/plugin user to r

[2018-10-30 15:44] b3da commented on #785
[SOLVED] I used version 3.13.0 of the plugin and it worked.

[2018-10-31 00:42] rampara commented on #785
@b3da Did a quick test on my end and is working as expected in a clean project with the latest version fo the plugin.

[2018-10-31 00:42] #785 closed

[2018-10-31 00:44] rampara commented on #774
@neogreco if you're able to reproduce the issue in the future, sharing the final merged manifest for the app would help greatly with our investigation. For now I'm closing the issue.

[2018-10-31 00:44] #774 closed

[2018-10-31 00:45] rampara commented on #795
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-10-31 00:45] #795 closed

[2018-10-31 18:13] studentutu opened #796 "Latest Admob (3.15.1 ) couses crashes on Launch (Google Play Games + Firebase Database )"
Unity 2018.14f1, .Net 3.x, Android, build on Windows 10

1. Install Latest Google Play Games plugins for Unity (0.9.52)
2. Install Latest Firebase Database plugin (5.4.0) (No Errors occurs on Import)
(Try to build just in case anything else breaks -> Everything should be okay and App is working)
3. Install Google latest Admob Unity Plugin - 3.15.1 (No Errors occurs on Import)
Now : Try to build, B

[2018-10-31 18:29] stewartmiles commented on #796
Did you do this https://developers.google.com/admob/unity/start#set_your_admob_app_id ?

[2018-10-31 18:48] studentutu commented on #796
Yes! It was it!
Thank you!

[2018-10-31 18:48] #796 closed

[2018-11-01 14:09] OniTheC4t opened #797 "Error while building for IOS"
I get this error:

`GADUMUnityAdsInterface.m:19:8: initializing 'BOOL' (aka 'signed char') with an expression of incompatible type 'void'`

Referred to this:

<img width="579" alt="schermata 2018-11-01 alle 15 08 52" src="https://user-images.githubusercontent.com/7911705/47856709-1dfbea00-dde8-11e8-95ac-a836da1076d4.png">

[2018-11-01 22:29] asarazan commented on #794
I'm also seeing this, but it only seems to manifest after the app resumes from background (e.g. the native share flow will trigger it).

My current hack is to wait for app resume, hide the banner, wait 1 second, and re-show the banner. Seems to work most of the time.

[2018-11-01 22:35] asarazan commented on #794
One thing that might be relevant: I believe my Admob aar version has been forced to 17.0.0, due to Firebase's dependency requirements (this also caused an insta-crash, as Unity suddenly demanded that my app id be included in my AndroidManifest).

I suspect an incompatibility with the latest Admob aar may to be blame here.

[2018-11-01 22:44] asarazan commented on #794
Here's a video of the repro in my app: https://photos.app.goo.gl/te4ueqvy4Fn9PCbx6

Interestingly, it didn't push down the banner this time, just the app contents. I have confirmed that the shifting goes away _if and only if_ the banner is hidden/disabled.

[2018-11-02 05:33] ikitae opened #798 "Mopub interstitial OnAdClosed event has delay 10s."
Mopub interstitial OnAdClosed event has delay 10s.

[2018-11-03 22:24] rotter opened #799 "Crash - android.net.Uri$StringUri.<init>"
I'm seeing quite a few crashes (over 100 on the last 7 days) with the following stacktrace.

This crash is new, up until 1 week ago I had 0 of this crash. Must be related to a specific video/campaign/etc, but it shouldnt crash my whole game, Unity plugin could gracefully catch it and disable that ad or Admob overall...

  at android.net.Uri$StringUri.<init> (Uri.java:475)
  at android.net.Uri$Stri

[2018-11-04 01:39] Drostina opened #800 "AdMob & Firebase Build Error"
Hi, I can't seem to get Firebase and GMU to work together, I have tried so many ways of importing them, but I can't seem to build the project at all due to the following errors:

![screenshot1](https://user-images.githubusercontent.com/28703972/47959056-3f202e80-dfd2-11e8-93a7-d6965545abe1.PNG)

![screenshot2](https://user-images.githubusercontent.com/28703972/47959057-421b1f00-dfd2-11e8-9c2f-04a8

[2018-11-04 09:58] vpelegrin opened #801 "Test Mode Ads works, but not work Real Test Mode Ads or Real Ads"
Hi, I have used "Hello Word" sample with **Test Mode Ads** and it works!

However, if I use **Real Ads in Test Mode**    or    **Real Ads in Real Mode**  it doesn't work.
I change to ID Real logically.

When I click in my phone , request interstitial button appear this:
**"HandleRewardBasedVideoFailedToLoad event received with message: Internal error"**

**MY CODE**
private AdRequest CreateAdReque

[2018-11-05 14:33] carsonvo commented on #800
Hello, You can try to use the firebase version 5.3.1. It will be fixed.

[2018-11-05 14:38] Steljoy commented on #800
Thanks for the reply! I can try that for sure but is there any updates that are coming out soon to allow me to use the current firebase version whilst I use this plugin?

[2018-11-05 14:44] carsonvo commented on #800
I faced to this problems when I used the newest firebase version (5.4.0) and Admob 3.15.1. After I downgrade firebase to 5.3.1, everything was fine.

[2018-11-07 14:52] FaiyazMdAbdul opened #802 "App crash on launch - Unable to use Google Ads with Google Sign unity packages"
I am able to both plugins individually but not together .
I found this warning while resolving dependencies .

The following dependency versions were modified:
com.google.android.gms:play-services-ads:15.0.1 --> com.google.android.gms:play-services-ads:+
com.google.android.gms:play-services-auth:16+ --> com.google.android.gms:play-services-auth:+

[2018-11-07 15:42] siddharth3322 opened #803 "CommandInvokationFailure: Unable to convert classes into dex format - Unity"
I have imported Google Admob and Google Ads Mediation Unity plugins within the game project and I started getting this kind of error:

![unity_android_build_error](https://user-images.githubusercontent.com/3082151/48141879-bf47dc00-e2d1-11e8-818b-bf131842a4a1.png)
Here is my Plugins/Android folder content:
![android_plugins_folder](https://user-images.githubusercontent.com/3082151/48141907-cc64cb0

[2018-11-08 01:17] angerdy commented on #524
I have the same error when build in Xcode 10 "Lexical or Preprocessor issue: ‘GoogleMobileAds/GoogleMobileAds.h’ file not found". I used unity 5.6.5f1 build project Xcode. If Issue fixed, please help me fix it. Thanks so much!

[2018-11-08 21:21] VincentBaillet commented on #794
thanks very much asarazan, i've tried to hide the banner and display it again, i also tried to follow your advice about the app resuming from background... I also removed and reinstalled all my packages, following step by step the instructions... and i still have the banner cut horizontally.
Maybe my 3 android phones have a compatibility problem with admob, maybe there is a compatibility problem w

[2018-11-09 02:49] choheh commented on #803
remove old version of admob resources.

[2018-11-09 09:12] siddharth3322 commented on #803
how can I identify old version files? what files to remove?
Can you please help me into this?

[2018-11-09 13:19] dralv3s commented on #800
Good day everyone, I'm having the same issues over here with Firebase Auth + Db + Admob, after two days with no succes, I'll try the 3.5.1 but I can't find a download anywhere on the web, does anyone here has any idea where to get old sdk versions?

Thanks.

[2018-11-09 18:22] delmol opened #804 "HelloWorld Example Not Working - Network Error"
I have a setup a new project and have imported the GoogleAds package, and the Hello World example project.

The app runs on my device but no ads show when I press any buttons.

Builds settings say require internet, and Android manifest contains internet permission.

[2018-11-09 18:31] delmol commented on #804
Log cat output:

[2018-11-10 12:39] Steljoy commented on #800
Hey, I managed to find it the other day but I can't seem to find it now, as stupid as that sounds haha!
We really need an update on this Plugin because my whole update runs on their rewarded video and I can't get the update out.

[2018-11-11 05:48] carsonvo commented on #800
Hello @dralv3s ,

Please https://dl.google.com/firebase/sdk/unity/firebase_unity_sdk_5.3.1.zip :)

[2018-11-11 22:59] itayganor commented on #794
May you please name the other banner provider?

[2018-11-12 14:00] delmol commented on #804
Came back to this after the weekend and bizarrely, the issue seems to have resolved itself.

[2018-11-12 14:00] #804 closed

[2018-11-12 14:34] dralv3s commented on #800
Thanks mate.

[2018-11-13 21:24] ecv80 opened #805 "InterstitialAd.IsLoaded() returning TRUE despite no network permissions and java.net.SocketException: Permission denied on Android"
Hi,

I'm trying to show **in-house ads** (more on that later) instead of Admob ones **when the network isn't available** in my Unity game. I have tried it with the phone **flight mode and so far so good**. The problem arises when I purposefully **deny WIFI/data permissions** in my phone (Xiaomi Redmi Note 5A) for my game. Somewhere on the Java side, I'm getting a "**java.net.SocketException: Permi

[2018-11-14 10:08] querywilly opened #806 "Banner bottom position wrong 3.15.1"
When I click on the text box.
bottom position changing.

Tested device:
Samsung note 10.1
Android 4.1.2
Unity 5.6.5p4

Please look up to video.
https://www.youtube.com/watch?v=z9r64f5_66s

Thanks

[2018-11-14 22:12] ecv80 commented on #805
So I used Dns.GetHostEntry and Ping on googleads.g.doubleclick.net to check every minute if there's true access to the server, but it's one ugly hack that isn't working probably because the DNS may be cached and Unity might be spawning a new process to run the ping which I guess will effectively overcome the app-specific network restrictions.

I'm giving up for the moment.

[2018-11-20 02:58] takaaptech opened #807 "Please help, admob mediation with Ironsource adapter Resolution failed"
Hi!
I just download Google Mobile Ads Unity Plugin v3.15.1 and Iron Source mediation GoogleMobileAdsIronSourceMediation-1.0.4
Press Force Resolver and the resolve conflict with info:
[code]

[code]

[2018-11-20 03:01] takaaptech commented on #807
[Project.zip](https://github.com/googleads/googleads-mobile-unity/files/2597892/Project.zip)
Project for testing is here. Thank you

[2018-11-20 14:15] Astirian opened #808 "Not finding com.google.unity.ads.UnityAdListener"
Maybe if you stopped closing the issue without resolution this would stop cropping up? Absolute nightmare.

[2018-11-20 14:54] Astirian commented on #808
Thank you! I've settled down now, still a bit upset I've lost so much time on it but I ended up gutting and re-importing and it works. Committing to carbonite!

[2018-11-20 14:54] #808 closed

[2018-11-20 15:07] stowy commented on #808
This class is defined in a library that is included in the GoogleMobileAds unity package. If this issue is occurring, it's likely that the library is being deleted unintentionally somehow. I think re-importing the unity package should re add it. It's not downloaded by jar resolver because it's not hosted in a maven repo, it's part of the unity package.

![image](http://i63.tinypic.com/zstpxj.png)

[2018-11-21 07:05] rchallenger commented on #808
Sure if error message in logcat says about UnityAdListener it is only ablut its absence. Though every time I get this error my plugins folder already contains this plugin. So there was something else.

[2018-11-21 08:44] pandergames commented on #784
para mim também está dando o mesmo error, nada aparece
segui todos os passos mencionado na página da admob e mesmo assim nada

[2018-11-21 10:50] zmer007 opened #809 "Why not call GoogleMobileAdsClientFactory directly"
Hello sir, I viewed the whole sample code, it is so clear and beauty. But I found two points that I cannot understand. Could you teach me why :)
1. Uses a reflector to instance `GoogleMobileAdsClientFactory`. It can be used directly, isn't it?
2. Each callback in the Android plugin will creates a new Thread. Can replace it with `Executors.newSingleThreadExecutor()`?

[2018-11-26 10:45] jonathanleang commented on #767
I got the same error, I fixed it by removing GoogleMobileAdsMediationTestSuite but now I don't know how to tell if its working ...

[2018-11-26 12:48] rchallenger commented on #808
[UnityAdsListener_log.txt](https://github.com/googleads/googleads-mobile-unity/files/2615554/UnityAdsListener_log.txt)

Here is a log from device, running a game with unity-plugin-library included in plugins folder.

[2018-11-26 14:04] rchallenger commented on #808
Simple removal of GAD folder in Plugins/Android and importing it again from package solved the issue
PS: Editor was restarted once before this action

[2018-11-26 17:05] asarazan commented on #807
Also having this issue. Please fix.

[2018-11-27 06:33] ManiDev11 commented on #807
What about the issue is it resolve or not? Please Help

[2018-11-27 15:59] JHermansson commented on #807
We got the same issue!

[2018-11-27 16:04] SodaSaft commented on #807
Same here, help us please!

[2018-11-29 01:41] rampara commented on #803
@siddharth3322 it looks like you're adding multiple versions of classes from the Unity Ads SDK. You may want to try removing the unity ads AAR you have in your 'Plugins/Assets/Android' directory. Closing this issue as it's not related to this plugin.

[2018-11-29 01:41] #803 closed

[2018-11-29 19:51] Nadin777121 opened #810 "Google Admob+ Unity = can not dex format"
I use last version of Admob (2018) and unity. But if I add first to second, error occurs

`CommandInvokationFailure: Unable to convert classes into dex format.
C:/Program Files/Java/jdk1.8.0_101\bin\java.exe -Xmx4096M -Dcom.android.sdkmanager.toolsdir="C:/sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Programs\Unity\Editor\Data\PlaybackEngines\AndroidPlayer/Tools\sdktools.jar" -

stderr[

PARSE ERROR:
u

[2018-12-03 08:53] mohammadmahdi123 opened #811 "Crash game at the begining (3.15.1)"
Hi. I imported google ad 3.15.1 to my unity project and then resolve it successfully.
I added app id in manifest correctly according to the developer guide.

`12-03 08:49:15.753  3284  3300 D Unity   : -------------------------RequestRewardBasedVideo---------------------------: 0 at ./Runtime/Export/Debug.bindings.h:43 (17408, 0, 0)
12-03 08:49:15.754  3284  3300 I Unity   : ----------------------

[2018-12-03 21:53] itayganor commented on #792
@rampara any updates?

[2018-12-05 08:23] wkq87 opened #812 "compile error"
Hi:
i export this package to unity,then export to xcode,and here is the compile error

`ndefined symbols for architecture arm64:
  "_OBJC_CLASS_$_GADRewardedAd", referenced from:
      objc-class-ref in unity-plugin-library.a(GADURewardedAd_c1dfc5b3cd508e3a135d57a18ca0e00f.o)
ld: symbol(s) not found for architecture arm64
`
But i cannot find any useful information in google,pls help

[2018-12-05 11:37] zendorx opened #813 "[Question] SetiOSAppPauseOnBackground"
Hello, we want to use ads for ios and we need to know how SetiOSAppPauseOnBackground method is actually works in native code. Can you provide a sample of code from sdk? Thanks

[2018-12-05 20:30] rampara commented on #811
@mohammadmahdi123 have you correctly included the required Google Play dependencies into your project? Can you post the contents of you `Assets/Plugins/Android` directory?

[2018-12-05 20:31] rampara commented on #810
@Nadin777121 can you ensure you have the latest JDK installed?

[2018-12-05 20:32] rampara commented on #767
@jonathanleang are you still running into compatibility issues with the Mediation Test Suite and this plugin?

[2018-12-05 20:34] rampara commented on #809
@zmer007 this is due this code being reused in the [Native Advanced version]() of this plugin, which calls into code from a separate compiled assembly.

[2018-12-05 21:29] rampara commented on #805
@ecv80 how are you denying internet permissions to an app when the internet permission is granted by default to all Android apps? Are you using the latest version of the Google Mobile Ads SDK?

[2018-12-05 21:31] rampara commented on #800
@dralv3s @Drostina @carsonvo can you also try updating the [dependencies file](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml) to use the latest version of the Google Mobile Ads SDK.

[2018-12-05 21:32] rampara commented on #802
@FaiyazMdAbdul does updating the [dependencies file](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml) to use the latest version of the Google Mobile Ads SDK resolve your issue?

[2018-12-05 21:34] rampara commented on #801
@vpelegrin if you're able to load test ads then there isn't an issue with your integration or this plugin. I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-12-05 21:34] #801 closed

[2018-12-05 21:35] rampara commented on #799
@rotter that crash is coming from the Android Mobile Ads SDK and not this plugin. I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-12-05 21:35] #799 closed

[2018-12-05 21:35] rampara commented on #798
@ikitae is this problem still reproducible for you with the latest version of the MoPub mediation support package.

[2018-12-05 21:37] rampara commented on #793
@paulocode as this crash is not caused by this plugin but by the GMA iOS SDK, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-12-05 21:37] #793 closed

[2018-12-06 20:38] joshuajplagonera commented on #797
I'm not able to replicate this issue on my end.

Can you show how you are using the UnityAds.SetGDPRConsentMetaData() method? It's possible that you're providing a non-boolean value which causes this error.

[2018-12-07 04:18] wkq87 commented on #812
i already import lastly GoogleAdsApi Unitypackage，what should i do to using Native Advanced version of this plugin?

[2018-12-07 17:31] Drostina commented on #800
I will look into this tonight, thanks for getting back

[2018-12-08 11:39] mohammadmahdi123 opened #814 "Resolve fail resolution"
When I use force resolve, I get failed resolutions.
I have to use old google play services 0.9.39. It is OK for me and resolved successfully with Resolve client jars When I add google ad mob to my project, I do not import new resolver (because of problems I referred).
I build and when the app is started, the app is crashed "class not found exception"
Which version of ad mob is suitable for google

[2018-12-08 16:09] mohammadmahdi123 commented on #811
I can not resolve with new resolver (force resolve: resolution failed) but can resolve with old one (resolve client jar). When my app is started, it crashes. (class not found com.google.android.gms.ads).
I can sign in and leaderboards are displaying.

[2018-12-08 16:58] mohammadmahdi123 commented on #814
Can I add the following expressions to GPGS dependencies?

I can see aar files in Plugins/android after clicking on resolve client jars:
play-services-ads-11.0.4
play-services-ads-lite-11.0.4

`   Google.VersionHandler.InvokeInstanceMethod(
                svcSupport, "DependOn",
                new object[] { "com.google.android.gms", "play-services-ads",
                    PluginVersion.PlaySer

[2018-12-09 14:05] mohammadmahdi123 commented on #814
I added it and now it is OK. google ads and ads lite 11.0.4 aar were added.
I do not know why I can not resolve with new resolve version.
I do not have google ads 15.1.0  in my android sdk and can not download it.

[2018-12-11 02:40] zhouzhuli commented on #746
I downloaded the latest version but got the same error

[2018-12-11 02:42] zhouzhuli commented on #746
Can you get a solution?

[2018-12-11 03:54] clidleo opened #815 "ANR and Crash during display ads"
After use Ads Unity Plugin.
I saw my app has a lot of ANR and crash reports on Google Play console.
There are about 20 these reports each days.
I can't reproduce these problem.
The ads working fine on my phone.

Google Mobile Ads Unity Plugin v3.15.1
Unity 5.6.6f2

Log and source files attached.

Please help.

![androidmainfest](https://user-images.githubusercontent.com/10412474/49777339-0d218b00-

[2018-12-11 10:35] NabeelAk opened #816 "App Pauses On Interstitial Show And Never Resume."
Related Google Mobile Ads Unity Plugin v3.15.1
I am having a wired behaviour of admob ads while testing it on iOS. When I show interstitial and close the ad, the app is still in pause state. Is this intended by admob or a bug. When I turn this off everything works fine as its not pausing on show now.
In GADUInterstitial.m
Orginal:
- (void)interstitialWillPresentScreen:(GADInterstitial *)ad {
  if

[2018-12-11 13:56] NabeelAk commented on #816
It was because of this line I wrote in ads script
MobileAds.SetiOSAppPauseOnBackground(true);
Disabling will not cause it to pause.

[2018-12-11 13:56] #816 closed

[2018-12-12 10:10] Dharmesh1993 commented on #687
@itayganor How you convert Pixels To DP. Please post code for ConvertPixelsToDP method

[2018-12-12 16:14] #813 closed

[2018-12-13 08:45] lazarevich-carx commented on #797
I get this error too. I've updated admob with GoogleMobileAdsUnityAdsMediation 2.0.0 to show unity ads.

[2018-12-13 20:43] Drostina commented on #800
It seems to work when I downloaded the files again, did you update the dependencies here?

[2018-12-13 21:00] dralv3s commented on #800
Will try, but I can't do it until Sunday, I'm away from my machine for the week, will post a reply on Monday.

[2018-12-14 09:53] eanjo7 commented on #815
Same as mine when trying to have admob interstitial request. its crashing I did the same as above adding it to my android manifest.

Google keep making plugin like they didnt test it, always like this, always has bugs, always not working.
good job google

[2018-12-14 22:36] guanshichao commented on #797
<img width="747" alt="image" src="https://user-images.githubusercontent.com/44183966/50033476-a6022000-0033-11e9-8d5b-14ead83121cc.png">
@joshuajplagonera

[2018-12-16 03:56] stars66 opened #818 "Not working when build on Mac"

[2018-12-17 02:16] stars66 commented on #818
It's not working after publishing.

[2018-12-17 19:24] dralv3s commented on #800
Turns out my GoogleMobileAdsDependencies.xml is already like yours, it's working fine now, with test ads.

[2018-12-18 06:59] alpsaltera opened #819 "Latest Admob (3.15.1 ) couses crashes on Launch now & Resolver Fail"
1. Import Latest Google Play Service
2. Importing Latest Google ADS

then Resolver error.

and application can not run. when starting app, app is down with crahsed message.

I need help.

the similar problem  was reported but not find solution....

how can i solve this problem.

<RESOLVER FAIL MESSAGE>
Some conflicting dependencies were found.
The following dependency versions were modified:
com.g

[2018-12-18 22:20] joshuajplagonera commented on #797
Updated the Unity Ads Unity Mediation plugin which should fix this issue: 0a2af6a9bac5cf0830a13f140c3bf3b9f893e363

[2018-12-18 22:20] #797 closed

[2018-12-19 14:44] leoHN commented on #819
I'm getting the same issue.

[2018-12-19 15:08] leoHN commented on #819
I checked and see "method" is null in class "RewardBasedVideoAd"

        {
            Type googleMobileAdsClientFactory = Type.GetType(
                "GoogleMobileAds.GoogleMobileAdsClientFactory,Assembly-CSharp");
            MethodInfo method = googleMobileAdsClientFactory.GetMethod(
                "BuildRewardBasedVideoAdClient",
                BindingFlags.Static | BindingFlags.Public);

[2018-12-20 08:16] #818 closed

[2018-12-20 09:48] leoHN opened #821 "EventHandlers are being called from non-main-thread"
I create this post to tell someone know all of EventHandlers are being called from other threads (OnAdLoaded, OnAdClosed...). It may not be a bug. But it causes some bugs, such as "StopAllCoroutines can only be called from the main thread." I use a trick to fix it temporarily. Check it if you need. [https://stackoverflow.com/questions/41330771/use-unity-api-from-another-thread-or-call-a-function-i

[2018-12-21 14:20] sp-jordi-vilalta commented on #807
I think it could be caused by an update on unity-jar-resolver, which introduced a regression: https://github.com/googlesamples/unity-jar-resolver/issues/174
I tried downgrading unity-jar-resolver to version 1.2.88 and it fixed a similar issue.

[2018-12-21 15:49] muhammadfar opened #822 "Ads are not showing after publishing the game"
I am using the admob lateset sdk with play services plugin 9.4, everything was working fine before publising the game but when i publish the game ads are not showing in the game and play services are not working too. Is that the plugin issue or there is some other mistake i am doing.
Please guide

[2018-12-22 16:13] jalalkira commented on #645
Hello,
I have some problems , can you give me your status @hirenvaja @leoHN ?
Test Ad are showing, but Real ad are not showing (I/Ads: Ad failed to load : 3)

[2018-12-25 10:10] itayganor commented on #687
...Any updates?

[2018-12-26 19:38] kingkhan90 commented on #819
hi i had the same issue now i have fixed:
Here on Youtube: https://www.youtube.com/watch?v=jJI_ztP-X5U
I hope that help.

[2018-12-26 19:39] kingkhan90 commented on #814
hi i had the same issue now i have fixed:
Here Solution on Youtube: https://www.youtube.com/watch?v=jJI_ztP-X5U
I hope that help.

[2018-12-26 19:40] kingkhan90 commented on #781
This one Help https://www.youtube.com/watch?v=jJI_ztP-X5U

[2018-12-28 09:11] alpsaltera commented on #819
# @[ ] 1. Resolver Error has solved.
[ ] 2.
[ ] 3. But starting crash is continuing.

[2018-12-28 10:05] mariome17 opened #823 "Banner view positioned on top of the screen shows cut (partially) on Android device with notch"
I'm testing this on Oneplus 6T. But I assume the issue is similar on other Android devices with a notch.
On iPhone with notch the banner ad looks ok(same app).
I'm on the latest version of the Google Mobile Ads.
This is how I'm creating the banner:
[](url)
`banner1 = new BannerView(AndroidbannerAdId, AdSize.Banner, AdPosition.Top);`

And below, in the printscreen, it's an illustration of the probl

[2018-12-28 11:41] kingkhan90 commented on #819
Hi I would require you the lastest version of google ads unity plugin to download not SDK only plugin.
https://developers.google.com/admob/unity/start

Or try with unity 2018.3
Because unity old version  missing some files. So try with new version.
Hope it help

[2018-12-29 07:37] juyujuyu commented on #821
Yes, it's easy to causes some bugs, I do not know why googleads do not fix it.
To fix it, I use Action and put all callback into it, and call them form MonoBehaviour.Update.

[2019-01-02 07:47] SaturnExoplanetsOnline commented on #788
I've encountered 2 settings in Unity that break the Admob plugin: (Unity 2018.3)

1: Make sure Managed Code Stripping level set to Low. (Inside Player Settings>Other Settings)

2: Make Sure ProGuard is disabled.  (Inside Player Settings>Publishing Settings)

[2019-01-02 07:49] SaturnExoplanetsOnline commented on #822
Make sure ProGuard is disabled and managed code stripping is set to low.

Those broke the plugin for me.

[2019-01-05 07:03] ChaleChan opened #824 "TargetInvocationException:GoogleMobileAds.Android.RewardBasedVideoAdClient.onAdLoaded()"
android mobile
Sometimes, when ad loaded,
Rethrow as TargetInvocationException:GoogleMobileAds.Android.RewardBasedVideoAdClient.onAdLoaded()

stack:
GoogleMobileAds.Android.RewardBasedVideoAdClient:onAdLoaded()
TargetInvocationException:GoogleMobileAds.Android.RewardBasedVideoAdClient.onAdLoaded()
UnityEngine.AndroidJavaProxy.Invoke(System.String methodName,System.Object[] args)
UnityEngine.Androi

[2019-01-07 03:24] dylsg opened #825 "No .xcworkspace generated"
In the Get Started guide, for iOS, it says

I'm using Unity 2018.3, but no xcworkspace is generated.

After digging around for a bit, I discovered that with the newer versions of the Unity Jar Resolver, it seems that the default "resolution strategy" is to not generate the xcworkspace.

Hopefully this will help someone out, and that the docs can be updated to avoid confusion.

[2019-01-07 09:48] sptkjs commented on #819
Hi. I have same issue.
I Imported play-game-plugin-for-unity-Version 0.9.57. And I Imported admob-plugin-Version 3.15.1. Then I resolved Android dependency by play-service-resolver-Version 1.2.95. Resolving is Successing. But application is shutdown as soon as application is driven.

[2019-01-08 19:44] Munyola commented on #825
Nice work big up I would like to compine contents with your ability to discover future locks.Yet am not qualified but practical I do software development.I will join you soon if the hackersbay.io will give me opportunity of responding thanks ...

[2019-01-09 22:48] itayganor commented on #823
Yeah, seems like there are some serious problems with the vertical positioning system. The notch confuses it and you can't really use hardcoded position because the height of the notch is not the same across all devices of course.
My issue is #792 , I wish they've answered me. I hope this could be get fixed soon.

[2019-01-11 03:21] tiance7 commented on #687
This bug show in Nexus 5X
I use admob 3.15.0 version plugin.
Unity 2017.4.16
it display correct most of the time, but sometimes error jump above the bottom,and will auto correct the position in 30s

[2019-01-14 20:10] green4you opened #828 "FETAL EXCEPTION error on admob ( GoogleMobileAds - v3.15.0 )"
I'm using  GoogleMobileAds - v3.15.0 and many devices is crashing after showing Interstitial Ads.
and also GooglePlay Console's "pre-launch reports" show
"~~~com.google.android.gms.ads.AdActivity}: java.lang.IllegalStateException: Only fullscreen activities can request orientation" error.

and below is the error in a real device.
so many devices have the same errors.

is this solved?

java.lang.Er

[2019-01-15 14:03] nitzanwilnai opened #829 "Android build error after adding GoogleMobileAdsUnityAdsMediation.unitypackage"
I get the following build error after adding the unity ads mediation package.

Everything was running great before.

Ads are turned on and Enable Built-in Extension is turned off (although I get the same error regardless).

I have tried 2.0.1, 2.0.0 and 1.2.0 to no avail.

I also added Admob and the Mediation package to a brand new project and got the same error.

Can anyone offer any help?

Comma

[2019-01-15 15:24] YeminaIM commented on #829
What solved my issue in Unity 2018.3.0f2 (latest) is by
using
1. google play games servises version 0.9.50
2. fb version should be 7.14.0, import it but dont forget to uncheck play services resolver cuz we already had it from google play games plugin.
3. Goto fb settings put ids and regenerate android manifest
4. complete GPG setup then goto AndroidManifest.xml and remove this
 "<meta-data    andr

[2019-01-17 09:53] FERRERDEV opened #830 "ConcurrentModificationException"
We are recieving this error on the developer console since we upgraded the mobile ads android sdk. As we noted this issue starting SDK version 17.0.0 or greater.

Full error log:

[code]

[2019-01-18 18:53] ChaserKnight opened #831 "Latest version of Google Mobile Ads SDK"
I am using the latest version of this plugin (v3.15.1) and Unity 2018.3 on macOS.
And when I make a build and run it on device, there is a message in the XCode about updating to the latest "Google Mobile Ads SDK", it says I am using (7.25.0) and there is a url for the release notes (https://developers.google.com/admob/ios/rel-notes) and the release notes shows that (7.25.0) is from 2017 which is v

[2019-01-19 13:34] ChaserKnight commented on #828
I think the crash is related to Android API version, as you are using v3.15.0 of this plugin, I would suggest update your to Android API version to greater than 26, latest is 28 I think. So update it to 28 using Android Studio.

[2019-01-19 15:03] ColorTwist opened #832 "AdMob fails when setting Managed Stripped Level to medium or high."
While all other plugins work fine, like FireBase, Facebook SDK, etc.
It does work when setting "Managed Stripped level " too low or disabled.
I am a bit size fanatic, it would be nice to have it work with higher stripping level as many other plugins does.
Note that I use Unity 2018.3.2f
Stripping did work with AdMob with 2018.2.18, but in 2018.2 it was a bit different (you do not select low, mediu

[2019-01-21 10:41] rchallenger opened #833 "MyTarget Adapter v5.2.5 trouble"
After adding dependency with latest adapter version application starts with MyTarget adapter and displays white banner wthout any content (and it is non clickable). All other networks adapters work fine. Also version 5.2.2 was good.

[2019-01-21 10:43] rchallenger commented on #833
Here is a screenshot
![screenshot_2019-01-21-12-42-33](https://user-images.githubusercontent.com/20810488/51469472-165e3880-1d7a-11e9-9c1c-109e6807be7e.png)

[2019-01-23 03:08] rampara commented on #832
@ColorTwist this may be due to reflection used in this plugin. Does using the [Preserve attribute](https://docs.unity3d.com/Manual/ManagedCodeStripping.html)
 for the GMA Unity plugin classes resolve the issue?

[2019-01-23 03:09] rampara commented on #828
@green4you This issue is caused by the GMA SDK. A fix should be rolling out in its next release.

[2019-01-23 03:11] rampara commented on #831
@ChaserKnight even when you create a new Xcode project, the latest version of the GMA SDK is not pulled in? [Installing Cocoapods](https://guides.cocoapods.org/using/getting-started.html) on your machine should allow you to run the `pod install --repo-update
` command.

[2019-01-23 03:12] rampara commented on #830
As this issue is caused by the Google Mobile Ads SDK and not this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2019-01-23 03:12] #830 closed

[2019-01-23 03:18] rampara commented on #825
@dylsg Under the iOS resolver settings (reached by selecting Assets -> Play Services Resolver -> iOS Resolver -> Settings), do you have `Generate an xcworkspace` selected in the `Cocoapods Integration` drop-down?

[2019-01-23 03:19] rampara commented on #824
@ChaleChan can you provide a more complete exception log?

[2019-01-23 03:20] rampara commented on #822
@muhammadfar publishing your app should not have any effect on ad serving. Are you unable to load any ads with the same ad unit ids you used in your published app? If so, what error code are you receiving?

[2019-01-23 03:21] rampara commented on #788
Closing this issue due to non-response from the original poster.

[2019-01-23 03:21] #788 closed

[2019-01-23 03:32] rampara commented on #811
Closing as duplicate of #814.

[2019-01-23 03:32] #811 closed

[2019-01-23 03:33] rampara commented on #812
The Native Advanced version of this plugin is available on our [dev docs](https://developers.google.com/admob/unity/native-advanced-unified). If you are migrating from the public version of the Google Mobile Ads plugin on GitHub, first remove all existing Google Mobile Ads files.

[2019-01-23 03:36] rampara commented on #236
Closing issue as all ad rendering is performed by the Google Mobile Ads SDK. SDK issues can be raised on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2019-01-23 03:36] #236 closed

[2019-01-23 03:37] ChaleChan commented on #824
We have solved this problem already.
This problem might take place on Android mobile phones. After the request for AD, when the AD is loaded, the callback is not in the main thread. However, the Unity processing logic is in the main thread tho.
The temporary solution for this problem is that when the callback for AD occur, keep it cached, then call in main thread.

[2019-01-23 03:38] rampara commented on #373
Closing issue as all ad rendering is performed by the Google Mobile Ads SDK. SDK issues can be raised on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2019-01-23 03:38] #373 closed

[2019-01-23 03:39] rampara commented on #767
Closing due to non-response.

[2019-01-23 03:39] #767 closed

[2019-01-23 03:41] rampara commented on #772
@vitorfgd this issue is caused by the GMA SDK and not this plugin. A fix will be rolling out in the next release of the GMA SDK.

[2019-01-23 03:41] #772 closed

[2019-01-23 03:42] #809 closed

[2019-01-23 03:43] rampara commented on #769
Closing due to non-response.

[2019-01-23 03:43] #769 closed

[2019-01-23 03:43] rampara commented on #759
Closing due to non-response.

[2019-01-23 03:43] #759 closed

[2019-01-23 03:44] rampara commented on #756
Closing due to non-response.

[2019-01-23 03:44] #756 closed

[2019-01-23 03:44] rampara commented on #760
Closing due to non-response.

[2019-01-23 03:44] #760 closed

[2019-01-23 03:44] rampara commented on #747
Addressed in v3.15.1.2 on the plugin.

[2019-01-23 03:44] #747 closed

[2019-01-23 03:45] rampara commented on #706
Closing due to non-response.

[2019-01-23 03:45] #706 closed

[2019-01-23 03:45] rampara commented on #800
Closing as issue seems to have been resolved.

[2019-01-23 03:45] #800 closed

[2019-01-23 03:48] rampara commented on #789
Closing due to non-reponse.

[2019-01-23 03:48] #789 closed

[2019-01-23 03:48] rampara commented on #784
Closing due to non-response from original posters.

[2019-01-23 03:48] #784 closed

[2019-01-23 03:49] rampara commented on #742
Closing due to non-response.

[2019-01-23 03:49] #742 closed

[2019-01-23 03:50] rampara commented on #798
Closing due to non-response.

[2019-01-23 03:50] #798 closed

[2019-01-23 03:51] rampara commented on #805
Closing due to non-response.

[2019-01-23 03:51] #805 closed

[2019-01-23 03:52] rampara commented on #823
Closing as duplicate of #792.

[2019-01-23 03:52] #823 closed

[2019-01-23 03:55] rampara commented on #633
Closing due to non-response.

[2019-01-23 03:55] #633 closed

[2019-01-23 03:56] #828 closed

[2019-01-23 03:58] rampara commented on #824
@ChaleChan you're correct in that ad events are not invoked on the main thread of Android. This [blog post](https://ads-developers.googleblog.com/2016/04/handling-android-ad-events-in-unity.html) provides more details.

[2019-01-23 03:59] rampara commented on #792
This work got pushed back but will be making it into the next release. No ETAs yet but should be soon.

[2019-01-23 04:00] rampara commented on #810
Closing due to non-response.

[2019-01-23 04:01] rampara commented on #806
This looks like a plugin banner positioning bug.

[2019-01-23 04:03] rampara commented on #692
Closing due to non-response.

[2019-01-23 04:03] #692 closed

[2019-01-23 04:05] rampara commented on #787
Closing due to non-response.

[2019-01-23 04:05] #787 closed

[2019-01-23 04:08] rampara commented on #734
closing as duplicate of #687.

[2019-01-23 04:08] #734 closed

[2019-01-23 04:10] rampara commented on #807
Changed label to support issue as JAR resolver is responsible for the issue.

[2019-01-23 04:13] rampara commented on #794
@VincentBaillet @itayganor @asarazan is this reproducible with the `HelloWorld` sample app included in this repo?

[2019-01-23 05:54] lifedrops opened #834 "Admob faild to Initialize"
Hi, Anyone knows how to fix it.

2019-01-23 07:49:40.692 12023-12041/? I/Unity: Initialize admob for AndroidApp Id: ca-app-pub-6979901493210969~4989156048

    (Filename: ./Runtime/Export/Debug.bindings.h Line: 45)
2019-01-23 07:49:41.523 12023-12171/? W/Ads: The Google Mobile Ads SDK will not integrate with Firebase. Admob/Firebase integration requires the latest Firebase SDK jar, but Firebase SD

[2019-01-23 06:36] ColorTwist commented on #832
Thanks for the reply.

I read about Preserve Attributes from the link you provided.
Was not totally certain how to use it with GMA plugin.

I placed the following before unity `Start()` where I initialize GMA `MobileAds.Initialize(appId);` which fails.

[code]

Still the same error.

[2019-01-23 07:37] mariome17 commented on #792
I have the same issue.
On Android devices with a notch  the banner is cut, partially.
On iPhone with notch the banner ad looks OK(same app).
I'm on the latest version of the Google Mobile Ads(3.15.1).
On Android devices without a notch, the banner shows up OK.
My Unity version is the latest, 2018.3.0.

[2019-01-23 07:50] ChaserKnight commented on #831
As I build from Unity, it generates a new Xcode project everytime, and cocoapods is already installed on my Mac. Is there a specific process for running this repo update command? I just open terminal then paste and run the command and it shows the "-bash: pod: command not found" error. I am not very familiar with terminal commands. Do I have to switch to some directory before running the update co

[2019-01-23 09:44] Deja1100 opened #835 "Banner AdPosition.Top has offset on iPhone X"
Hello,
I am using Unity 5.5.2f1 and Google Mobile Ads v3.15.1 and I have an issue with banner position on iPhone X device.
My unity app currently does not fully support iPhone X and I am displaying the app inside the safe area (by setting iPhone Launch Screen to None in Player Settings/Splash Image).
The problem is that the banner behaves like there is a notch involved, and it is positioned with s

[2019-01-23 17:33] alpsaltera commented on #819
thanks your reply.

1. Resolver Fail : When i am using Unity3D 2018.2.20f, it was solved.

2. crashes on Launches : it was revealed menifest's problem.

manifest

3. Result.

   - all problem was gone.

Thanks you're appreciating.

-----Original Message-----
From: "rampara"<notifications@github.com>
To: "googleads/googleads-mobile-unity"<googleads-mobile-unity@noreply.github.com>;
Cc: "alpsaltera"

[2019-01-23 17:36] alpsaltera commented on #819
1. Resolver Fail : Use Unity3d 2018.2.20f
2. Crash : menifest's problem.

it's my solution.

[2019-01-23 17:36] #819 closed

[2019-01-23 20:11] xtrecoolx opened #836 "Admob jar files are not included if Proguard is turned on!"
Hi,
In Unity player settings, I turned on proguard minification because I thought a smaller APK would be better before I release my game to play store. However, I had no clue that it would mess up Admob.
It took me several hours to figure out what was wrong and the only error message I was getting was:

AndroidJavaException: java.lang.ClassNotFoundException: com.google.unity.ads.UnityAdListener

P

[2019-01-23 21:14] rampara commented on #831
@ChaserKnight you may have installed Cocoapods in a location that's not referenced in your bash Path. How did you install Cocoapods originally?

[2019-01-23 21:17] rampara commented on #832
Can you try inserting `[type: Preserve]` at the top of GMA classes?

[2019-01-23 21:54] ChaserKnight commented on #831
@rampara When I first imported the AdMob plugin into Unity, it installed Cocoapods automatically, it was installed through Unity by the plugin. Can you please tell me how can I reference it in the bash path?

[2019-01-23 21:59] rampara commented on #831
@ChaserKnight looks like Cocoapods should be installed in the standard location by the plugin. Can you try running `sudo gem install cocoapods` in your temerinal just to be sure.

[2019-01-23 22:09] rampara commented on #834
@lifedrops I'm not sure I understand the issue you're facing. Can you provide additional details?

[2019-01-23 22:11] rampara commented on #836
@xtrecoolx have you tried adding proguard file that keeps `com.google.unity.ads *` ?

[2019-01-23 22:49] itayganor commented on #792
So glad to know it's coming, I'm waiting with my app's initial release for this to be fixed

[2019-01-23 23:38] rampara commented on #834
That's just a warning which shouldn't restrict ad loading. What error are you receiving when you attempt to load ads? Are you able to load [test ads](https://developers.google.com/admob/unity/test-ads#sample_ad_units)?

[2019-01-24 00:51] lifedrops commented on #834
Test Ads works fine I got to the bottom of the problem that from the log cat:
`2019-01-24 02:46:23.327 1042-1042/? I/Ads: Starting ad request.
2019-01-24 02:46:23.327 1042-1042/? I/Ads: SDK version: afma-sdk-a-v14799015.14300000.1
2019-01-24 02:46:23.328 1042-1042/? I/Ads: Use AdRequest.Builder.addTestDevice("A697A3288B1A29C85998273D3E95B130") to get test ads on this device.
2019-01-24 02:46:23.39

[2019-01-24 03:41] xtrecoolx commented on #836
@rampara I am not familiar with Proguard so I don't know where to add it.

[2019-01-24 03:59] takaaptech commented on #836
@xtrecoolx In the Assets/Plugin/Android there is proguard-user.txt file that you can add the content to:

# Google ads unity wrapper
-keep class com.google.unity.** { *; }

[2019-01-24 04:05] xtrecoolx commented on #836
I don't see such file like that. Should I create it ?

[2019-01-24 04:55] takaaptech commented on #836
Usually, It is will auto create if you check to checkbox
![screen shot 2019-01-24 at 11 54 29 am](https://user-images.githubusercontent.com/6276251/51655359-e52a7600-1fce-11e9-8377-8003008259ed.png)
 under build setting/ publishing setting:

[2019-01-24 07:21] ChaserKnight commented on #831
@rampara My Cocoapods install directory is "/Users/ChaserKnight/.gem/ruby/2.0.0".
And I tried running the sudo gem install command you mentioned but it gave the following error:
`ERROR:  Could not find a valid gem 'cocoapods' (>= 0), here is why:
          Unable to download data from https://rubygems.org/ - SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: tlsv1 alert protocol ve

[2019-01-24 07:37] ChaserKnight commented on #831
@rampara One more thing is I have  macOS Sierra (v10.12.6), can that be a problem? Do I need to upgrade to latest macOS for this?

[2019-01-24 10:42] ecv80 commented on #805
Sorry for the delay. I was pretty sure I had answered the question. Turns out I had not.

Data usage restriction is a feature present in MIUI 9.6 (Xiaomi's customized Android OS), accessible through Settings->Installed Apps->[App Name]->Restrict data usage->[Wi-Fi / Mobile data]

I don't know how the data restriction is carried out internally, but as per the OP it seems to work fundamentally diffe

[2019-01-24 17:35] VincentBaillet commented on #794
@rampara @itayganor @asarazan I've stopped trying some time ago, I've spent too much time on these banners that behaved differently on several devices. The best way I've found to display admob banners was to use another package and to use mediation for admob
hope you will be able to solve this issue: it's a bit strange to use Mopub plugin to display admob ads.

[2019-01-25 00:10] joshuajplagonera commented on #829
Can you try turning OFF the Ads service? The UnityAds Mediation plugin is incompatible with the Ads Service.

[2019-01-26 06:22] FaiyazMdAbdul opened #838 "libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper"
`libc++abi.dylib: terminating with uncaught exception of type Il2CppExceptionWrapper `
Getting this error only on iOS.
App crashes after video loads .
unity - 2018.1.8
admob - latest sdk

[2019-01-27 19:06] apautrot commented on #807
I can't downgrade my unity-jar-resolver to a version below 1.2.95 as I'm using Firebase Analytics which forbid it (I tried unity-jar-resolver version 1.2.89 but it issued error messages due to methods not found by Firebase).
Is there a way to bypass something on some level ? A workaround someone ?

[2019-01-29 01:58] rampara commented on #838
@FaiyazMdAbdul are there any additional details in the crash trace? Are you able to consistently reproduce the problem? Can you provide a test app the reproduces the problem?

[2019-02-01 07:44] parker9904 commented on #645
i have same problem ...please help me😣😣😣

[2019-02-01 13:56] FaiyazMdAbdul commented on #838
@rampara there are no other logs . and i will try to send app once i get access to mac.
Also , i am using firebase and google sign-in plugins in the app.

[2019-02-03 07:56] sorinpatent opened #839 "Banner issue!! Please help! I can`t hide the banner in gameplay"
bannerView.Destroy(); is not working...the banner still appears after 2 sec
Also bannerView.Hide(); is not working.
How to fix this ?
Hee is my entire script:

public string AppID = "id";
    public string BannerAdUnitID = "id";

    private BannerView bannerView;

    public void HideBanner(){

        {
            bannerView.Hide();
        }
    }

public void DestroyBannerView(){
    if (this

[2019-02-04 05:53] rubelmusicwould8374 commented on #687
Admob Account Adjust-App I'd  Please System Update Settings Ads

[2019-02-04 05:55] rubelmusicwould8374 commented on #831
My New App http://app.appsgeyser.com/8460172/Rubel%20Musicwould
**
_Rubel_Musicwould_8460172 .apk
****
Banner Ads
ca-app-pub-7689122978757670/1062649510
Interstitial Ads
ca-app-pub-7689122978757670/5822530919
please Sir Activate Settings Admob Account Adjust-App

[2019-02-04 05:56] rubelmusicwould8374 commented on #794
My New App http://app.appsgeyser.com/8460172/Rubel%20Musicwould
**
_Rubel_Musicwould_8460172 .apk
****
Banner Ads
ca-app-pub-7689122978757670/1062649510
Interstitial Ads
ca-app-pub-7689122978757670/5822530919
Please Settings Admob Adjust Enable System

[2019-02-05 11:03] radi-cho commented on #598
I had similar issue and was able to solve it (or at least work around it).
If interested feel free to take a look over my blogpost: https://medium.com/@radicho/how-to-implement-admob-in-unity-a-bit-more-detailed-guide-4baed2821cce

[2019-02-05 11:03] radi-cho commented on #431
I had similar issue and was able to solve it (or at least work around it).
If interested feel free to take a look over my blogpost: https://medium.com/@radicho/how-to-implement-admob-in-unity-a-bit-more-detailed-guide-4baed2821cce

[2019-02-05 11:03] radi-cho commented on #154
I had similar issue and was able to solve it (or at least work around it).
If interested feel free to take a look over my blogpost: https://medium.com/@radicho/how-to-implement-admob-in-unity-a-bit-more-detailed-guide-4baed2821cce

[2019-02-06 14:51] rchallenger opened #840 "FATAL EXCEPTION when Interstitial is shown (interstitial.MediationAdapterClassName() == "AdMobAdapter")"
Using only demo buttons to show ads in application I was testing it, as there appeared a lot crashes. And second device I took showed to me the things I wanted to find: displaying Interstitial, that I received from Admob (not mediation adapter), caused crash on the device. Viewing ads from other adapters didn't cause any crashes or ANRs. But when some certain content, received by AdMob, was shown

[2019-02-06 17:54] rubelmusicwould8374 commented on #792
Admob Online System settings Before
Open

[2019-02-07 07:39] UnityKR opened #841 "java.lang.Error $Proxy12.onAdLoaded"
Device summary:
* LGE LM-V409N
* Android 8.1

Software summary:
* Unity 2018.3.3f1
* Resolver play-services-resolver_v1.2.98.0
* GooglePlayGamesPlugin_v0.9.58

Error Log
java.lang.Error: FATAL EXCEPTION [Thread-217]
Unity version     : 2018.3.3f1
Device model      : LGE LM-V409N
Device fingerprint: lge/judypn_lao_com/judypn:8.1.0/OPM1.171019.026/1900911449a5b.Plus.FGN:user/release-keys
Caused by

[2019-02-07 07:40] UnityKR opened #842 "java.lang.Error $Proxy12.onAdFailedToLoad"
Device summary:
* samsung SM-G965N
* Android 8.0

Software summary:
* Unity 2018.3.3f1
* Resolver play-services-resolver_v1.2.98.0
* GooglePlayGamesPlugin_v0.9.58

Error Log
java.lang.Error: FATAL EXCEPTION [Thread-5544]
Unity version     : 2018.3.3f1
Device model      : samsung SM-G965N
Device fingerprint: samsung/star2lteks/star2lteks:8.0.0/R16NW/G965NKSU1ARJ2:user/release-keys
Caused by
  at co

[2019-02-07 12:49] shahzad77 opened #843 "java.lang.Error $Proxy8.onAdLoaded"
java.lang.Error: FATAL EXCEPTION [Thread-43]
Unity version     : 2018.3.0f2
Device model      : vivo vivo 1714
Device fingerprint: vivo/1714/1714:7.0/NRD90M/1545036514:user/release-keys
Caused by
  at com.unity3d.player.ReflectionHelper.nativeProxyInvoke (Native Method)
  at com.unity3d.player.ReflectionHelper.a (Unknown Source)
  at com.unity3d.player.ReflectionHelper$1.invoke (Unknown Source)

[2019-02-08 06:17] UnityKR opened #845 "java.lang.ClassNotFoundException"
Device summary:
* samsung SM-N960N
* Android 9

Software summary:
* Unity 2018.3.3f1
* Resolver play-services-resolver_v1.2.98.0
* GooglePlayGamesPlugin_v0.9.58
* Google Mobile Ads Unity Plugin v3.15.1

Error Log
java.lang.Error: FATAL EXCEPTION [Thread-85]
Unity version     : 2018.3.3f1
Device model      : samsung SM-N960N
Device fingerprint: samsung/crownlteks/crownlteks:9/PPR1.180610.011/N960NK

[2019-02-08 12:02] UnityKR opened #846 "java.lang.Error $Proxy12.onAdClosed"
Device summary:
* samsung SM-G930S
* Android 8.0

Software summary:
* Unity 2018.3.3f1
* Resolver play-services-resolver_v1.2.98.0
* GooglePlayGamesPlugin_v0.9.58
* Google Mobile Ads Unity Plugin v3.15.1

Error Log
java.lang.Error: FATAL EXCEPTION [Thread-665]
Unity version     : 2018.3.3f1
Device model      : samsung SM-G930S
Device fingerprint: samsung/herolteskt/herolteskt:8.0.0/R16NW/G930SKSU2

[2019-02-08 12:04] UnityKR opened #847 "java.lang.IllegalStateException oh.onTransact"
Device summary:
* samsung SM-G930S
* Android 8.0

Software summary:
* Unity 2018.3.3f1
* Resolver play-services-resolver_v1.2.98.0
* GooglePlayGamesPlugin_v0.9.58
* Google Mobile Ads Unity Plugin v3.15.1

Error Log
java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2018.3.3f1
Device model      : samsung SM-G965N
Device fingerprint: samsung/star2lteks/star2lteks:8.0.0/R16NW/G965NKSU1ARJ2:u

[2019-02-10 00:26] rigby00 opened #848 "Applitaction Has Stopped!"
**Hi,

Import admob to my Unity 2018.3.5. I builed apk and i installed it to my phone, when i start app it says "Applicaion Has Stopped". It's happening when i import admob plugin to my project. Can you help guys please.

Thanks.**

[2019-02-10 14:25] itayganor commented on #835
Yeah, banners positioning is totally broken on devices with a notch. Check out #792

[2019-02-10 17:14] E-Reg opened #849 "Ads not displaying while app runs over Lockscreen"
No ads will be displayed, as long as the user does not unlock his phone.
Is there a way to solve this, or do I have to change the unity behavior to not run the app while the phone is locked.

[2019-02-11 04:19] arcv commented on #848
You should add `adb logcat` log to your issue report. My guess is missing Android library. Some problems can be solved with `Assets/Play Service Resolver/Android Resolver/Force Resolve`.

Do you use other libraries/plugins in Unity?

[2019-02-11 15:33] RolandSzep commented on #832
I am experiencing the same issue. I will try out your advice when I have some time.

[2019-02-11 21:51] rigby00 commented on #848
I solved it new package have some bugs. You need to add Application id to AndroidManifest.

[2019-02-12 06:45] rchallenger commented on #848
There had to be a message in LogCat that could lead you to an article where they will explain you the reason of the issue.

PS: add this to your <application> section in manifest
`
<meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
`

[2019-02-12 12:40] guusw opened #850 "RewardBasedVideo.isLoaded does not check the same value as RewardBasedVideo.show"
In certain cases where ads are requested during a playing ad, the RewardBasedVideo will always return true for isLoaded. It seems to check a local boolean value while the show function checks rewardBasedVideo.isLoaded.

Is there any reason the isLoaded function can not also check the same internal rewardBasedVideo.isLoaded?

Relevant location: https://github.com/googleads/googleads-mobile-unity/bl

[2019-02-12 13:19] ColorTwist commented on #832
From what I tried it did not work, but maybe I missed something.
@RolandSzep Please try it also & update.

[2019-02-13 07:51] xtrecoolx commented on #836
Issue is solved.

[2019-02-13 07:51] #836 closed

[2019-02-13 14:39] junedmmn commented on #832
I am setting stripping level to Low. It gives Size approximately equal to highest stripping level for my project.

[2019-02-14 02:22] UnityKR commented on #845
java.lang.Error: FATAL EXCEPTION [Thread-19]
Unity version     : 2018.2.8f1
Device model      : samsung SM-N960N
Device fingerprint: samsung/crownlteks/crownlteks:9/PPR1.180610.011/N960NKSU2CSA1:user/release-keys
Caused by
  at jq.b (com.google.android.gms.dynamite_adsdynamite@15090081@15.0.90 (100400-231259764):3)
  at jp.a (com.google.android.gms.dynamite_adsdynamite@15090081@15.0.90 (100400-231

[2019-02-14 12:34] Jeet007das commented on #544
parse issue module HyperTrack not found

[2019-02-14 21:23] apautrot commented on #327
I just ran into this issue. MacOS 10.14.2, Unity 2018.2.20f1.
I'm also using AdMob plug for Unity.

[2019-02-18 05:01] UnityKR opened #851 "TimeoutException"
Device summary:

* samsung SHV-E300L
* Android 5.0.1

Software summary:

* Unity 2018.3.6f1
* Resolver play-services-resolver_v1.2.100.0
* GooglePlayGamesPlugin_v0.9.61
* Google Mobile Ads Unity Plugin v3.15.1

Error Log
02-18 13:54:28.718 31483-31732/? E/Ads: Error waiting for future.
    java.util.concurrent.TimeoutException
        at java.util.concurrent.FutureTask.get(FutureTask.java:176)

[2019-02-18 07:21] gayanW opened #852 "Do rewarded video ads show up in Editor?"
Test video ads show up when testing on a device but not in Unity Editor.

I followed the ['Get Started'](https://developers.google.com/admob/unity/start) guide.

- Installed GoogleMobileAdsPlugin.unitypackage
- Then in the Unity editor, select Assets > Play Services Resolver > Android Resolver > Resolve
- Add my AdMob App ID to the AndroidManifest.xml

Created a UI button, which calls ShowRewardBa

[2019-02-18 09:06] onurigdi opened #853 "App crash with admob [added ad id android manifest]"
I ve got a game ready to publish. i am trying to integrate ads on it. game was working well till i install admob plugin. first i didnt add to androidmanifest.xml file game id. i found some topic about this and i copied "Temp\StagingArea\AndroidManifest.xml" file to  "Assets\Plugins\Android\AndroidManifest.xml"
and added

" <meta-data
            android:name="com.google.android.gms.ads.APPLICATION

[2019-02-20 08:25] ComaneanuMugurel opened #854 "MobileAds.Initialize() throws an exception"
Hi,

I'm using admob for almost a year now, but now and then keeps breaking for no obvious reson. It has been working on the app that i am developing, but at some point in the last build it started throwing null exception without me doing anything to the code or the plugin.

This is the error that is giving me when i try to run this line of code:
-my line of code: -"MobileAds.Initialize("ca-app-pu

[2019-02-20 09:38] arpaplus commented on #843
Confirmed, many crashes on Unity 2018.3.3.f1.

[2019-02-20 12:16] PandeyAradhana commented on #645
I have same problem to...

[2019-02-20 12:22] PandeyAradhana commented on #645
I have same problem...I don't know why  test ads are showing but real ads not...

Exact message :
I/Ads: No fill from ad server.
 W/Ads: Failed to load ad: 3

Any suggestions will appreciated......thanks in advance

[2019-02-20 12:50] hirenvaja commented on #645
Hello Aradhana

Firstly I asked one question

Is your previous admob account are banned ????

On Wed, 20 Feb 2019, 5:46 pm PandeyAradhana <notifications@github.com wrote:

[2019-02-20 15:10] duhaonur opened #855 "InvalidOperationException: StandardIn has not been redirected"
After I import Mobile Ads Unity plugin I switched platform to android and this happened I deleted mobile ads plugin and tried to import when platform is android same thing happened again. How can I fix it

`InvalidOperationException: StandardIn has not been redirected.
System.Diagnostics.Process.get_StandardInput () (at <3845a180c26b4889bc2d47593a665814>:0)
(wrapper remoting-invoke-with-check) Sys

[2019-02-20 15:49] rchallenger commented on #855
Does it happen right after package was imported and scripts were compiled?
Or you call Resolve from PlayServicesResolver menu manually?

[2019-02-20 16:13] duhaonur commented on #855
Right after package imported and scripts compiled this and cmd shows up after a few seconds later cmd closing but Resolving Android Dependencies stays
I tried second one too tried to resolve from menu but when I click Resolve nothing happens

[2019-02-20 16:30] macagu opened #856 "Can't use .asmdef on this plugin"
Unity's [AssemblyDefinitionFiles](https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html) cannot be used on GoogleMobileAds.

Here are the steps to reproduce this:

1. Create an **Assembly Definition** on GoogleMobileAds, and anotherone in GoogleMobileAds/Editor for Editor.
2. Run the test app on the any Android device.
3. Notice the following exception:
[code]

I believe th

[2019-02-21 06:28] arcv commented on #853
Be sure you added meta-data between `<application>` tag, not `<activity>`

[code]

[2019-02-21 07:16] PandeyAradhana commented on #645
Hi,

No my account is not banned for admob

Thanks for your support but now real ads are showing so no worries at all.

Regards,
Aradhana pandey

On Wed 20 Feb, 2019, 6:20 PM hirenvaja <notifications@github.com wrote:

[2019-02-21 13:58] GreenGateMaster commented on #856
i changed that line to
Type googleMobileAdsClientFactory = typeof(GoogleMobileAds.GoogleMobileAdsClientFactory);
and its working now.

[2019-02-21 16:54] fdoumhan opened #858 "Fatal Exception gms.dynamite_adsdynamit"
Huawei Honor 10 (HWCOL), Android 9

java.lang.NoClassDefFoundError:
  at jq.b (com.google.android.gms.dynamite_adsdynamite@15090081@15.0.90 (100400-231259764):3)
  at jp.a (com.google.android.gms.dynamite_adsdynamite@15090081@15.0.90 (100400-231259764):3)
  at jr.a (com.google.android.gms.dynamite_adsdynamite@15090081@15.0.90 (100400-231259764):19)
  at com.google.android.gms.ads.internal.util.ar.

[2019-02-21 16:56] fdoumhan commented on #845
Same here. Any solution?

[2019-02-21 19:59] thomasjohnwolfe opened #859 "Vungle Adapter - Manifest Not Found"
I have multiple adapters for iOS and Android setup and working correctly. However the only malfunctioning one is **Vungle on Android**.

When I run the _Mediation Test Suite_  from https://developers.google.com/admob/unity/mediation-test-suite , it says "manifest not found" only on Vungle in Android builds.

![screenshot_20190220-172828_two dots](https://user-images.githubusercontent.com/4453372/5

[2019-02-22 03:12] UnityKR commented on #845
It has not been solved yet. The support team said it could be a problem with Mediation. However, I think that it is not a problem because Mediation is not used at present. Check to see if it contains aar or jar. I build and release it after running Forced Resolve, but I still get the same error.

[2019-02-22 08:02] keepup commented on #856
@GreenGateMaster
Does this cause other problems? If not, why not designed in this way before?

[2019-02-22 08:26] rchallenger commented on #859
You'd better use version 6.3.24 that Vungle recomends to download on their official website.
3.1 is too old version.
Here you can find dependencies XML to use in combination with PlayServicesResolver.
[https://github.com/googleads/googleads-mobile-unity/tree/master/mediation/Vungle](url)

[2019-02-22 15:52] thomasjohnwolfe commented on #859
Nice. Will try and let you know. Thanks.

[2019-02-22 17:27] serge-shaldanov commented on #749
Are any news there? I have the same problem for Huawei Honor 8X. It seems the right corner of screen (cutout) is ignored when positioning of banner, so it always displayed at ~80px from right corner of screen.

[2019-02-22 18:59] thomasjohnwolfe commented on #859
@rchallenger  Are you saying to use this https://github.com/Vungle/Unity-Plugin  ? Is this the same as the mediation plug-in?
https://support.vungle.com/hc/en-us/articles/360003455452-Get-Started-with-Vungle-SDK-v-6-Unity#Step1SetUpUnityProjectWithPlugin says "Unity 2018 is not officially support yet as of Unity Plugin v6.3.0"

I don't see 6.3.24 for Unity. I see 6.3.24 for the native for Android

[2019-02-22 21:52] thomasjohnwolfe commented on #859
@rchallenger
I think there might be confusion with the `Vungle mediation plug-in` version and the `Vungle SDK` version.
I am using `Vungle SDK 6.3.24.0` which is specified here: https://github.com/googleads/googleads-mobile-unity/blob/master/mediation/Vungle/source/plugin/Assets/GoogleMobileAds/Editor/VungleMediationDependencies.xml

but if you look at the top of that commit that file is from http

[2019-02-24 08:23] adlercoder opened #860 "App crash with latest (2.2.1) InMobi mediation adapter"
It still crashes even after I removed all of lib dependencies but "com.google.android.gms:play-services-location:16.0.0"

Works after removing "com.google.android.gms:play-services-location:16.0.0" dependency.

[2019-02-24 10:29] ebrahim--hsh commented on #453
I use Invoke to put some delays to call whatever I need to do, It works for me like a charm.

[2019-02-24 10:29] ebrahim--hsh commented on #723
I use Invoke to put some delays to call whatever I need to do, It works for me like a charm.

[2019-02-24 15:41] fdoumhan commented on #853
Is this row required?
`  <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true" />`

What is Ad manager? I couldn't find any information.

**AdMob Unity Integration Docs:** (https://developers.google.com/admob/unity/start)

[code]

[2019-02-24 17:52] silencewebber commented on #792
Is there an ETA for the notch fix yet?

[2019-02-25 08:29] mkud commented on #842
The same problem

java.lang.Error: FATAL EXCEPTION [Thread-45]
Unity version     : 2018.3.6f1
Device model      : LGE LGMS550
Device fingerprint: MetroPCS/ph2n_mpcs_us/ph2n:7.0/NRD90U/180402143b640:user/release-keys
Caused by
  at com.unity3d.player.ReflectionHelper.nativeProxyInvoke (Native Method)
  at com.unity3d.player.ReflectionHelper.a (Unknown Source)
  at com.unity3d.player.ReflectionHelpe

[2019-02-25 09:02] silencewebber commented on #792
To the anyone who is wrestling with this issue: I found a workaround. In my case it's a workaround for getting the ad to appear at the bottom of the screen, but I will also mention how you can probably get it to display at the top properly. I still hope for a release that just fixes this soon, but here is an option for those who don't want to wait around...
I discovered this workaround because I f

[2019-02-25 09:50] avinash018 commented on #723
@ebrahim--hsh Why you spoke about **Invoke** here?
Is your comment related to my question?

[2019-02-25 11:02] GreenGateMaster commented on #856
@keepup
I'm facing no problems, but i don't know will it cause any problems in future.
I'm asking your second question to designers as well :)

[2019-02-25 15:04] aceloq opened #861 "Unity 3D Admob + Facebook Audience Network Rewarded Video Mediation Problem"
Hello,
I am using admob mediation in my unity 3D project.

I using ad networks :
Admob Network,
UnityAds,
Applovin,
Facebook Audience Network.

Interstitial ad works in all of them.
Rewarded video ad works in Admob, Unityads and Applovin. There is no problem.
Rewarded video ad works on Facebook Audience Network but HandleRewardBasedVideoRewarded event not called.

Unity 3D Version : Unity 2018.3.5

[2019-02-26 06:21] ColorTwist commented on #832
Tried
[code]

Still getting:

Where exactly to place the `Preserve`?

[2019-02-26 06:35] QuanHuynhM opened #863 "Have a trouble when try to use Native Ads with Unity 3.15.1"
Please help me, I have a trouble when use native ads

Type `GoogleMobileAds.Api.AdLoader.Builder' does not contain a definition for `ForUnifiedNativeAd' and no extension method `ForUnifiedNativeAd' of type `GoogleMobileAds.Api.AdLoader.Builder' could be found. Are you missing an assembly reference?

[2019-02-26 06:39] QuanHuynhM commented on #863
And When I dowloaded 3.15.1.2. I build for IOS. And it's still trouble:

library.a(GADURewardBasedVideoAd_897a5ad1d685608c1d95437f357a70a5.o)
duplicate symbol _OBJC_CLASS_$_GADURewardBasedVideoAd in:

ld: 60 duplicate symbols for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation

[2019-02-26 08:28] #863 closed

[2019-02-26 18:08] thomasjohnwolfe commented on #859
It looks like Vugle is actually working and serving Vungle ads. I think the problem may be with mediation test suite.

I’m closing this issue for now.

Thanks.

[2019-02-26 18:08] #859 closed

[2019-02-26 19:10] joshuajplagonera commented on #807
Hi All,
I'm not able to replicate this issue on my end anymore. Can you verify on your end?

[2019-02-26 21:31] apautrot commented on #807
Hi
Me neither. I have tested it on the project that previously had this issue ( Unity 2018.2.20f1, GoogleMobileAdsIronSourceMediation-1.0.4, Play Service Resolver 1.2.95 ).

IronSource team must have fixed the issue on their side, in the dependency declaration files.

Notice that the log now display

while it previously displayed

Regards.

[2019-02-26 22:19] SeanPONeil opened #864 "Unable to send ad network extras for custom event requests"
Right now the `Utils.GetAdRequestJavaObject(AdRequest request)` does not call `addCustomEventExtrasBundle()`, so no extra parameters are being sent to custom events.

I created #862 to resolve this issue.

[2019-02-26 22:49] #807 closed

[2019-02-27 01:30] 3583Bytes commented on #843
I am getting same errors after upgrading Unity to 2018.3.3

[2019-02-27 09:34] rchallenger opened #865 "java.lang.NullPointerException after calling Destroy on not null BannerView"
Found this exception at Unity Cloud Diagnostics reports
Unity 2018.3.2f1
GAD v3.15.1

[JSON from report, containing all axtra info](https://github.com/googleads/googleads-mobile-unity/files/2909478/AWksb7EqqbGh_soin4Ig_data.txt)

[code]
CodeSnippet:
[code]

[2019-02-27 12:15] rchallenger commented on #865
#690
Here is a descussion on the same issue. Closing.

[2019-02-27 12:15] #865 closed

[2019-02-27 12:17] rchallenger commented on #690
experiencing the same issue
#865

[2019-02-27 22:08] ahmetyazir22 commented on #861
Hello,

I have a similar setup and similar problem. In my case, I use Admob and Unity Ads(through mediation). Admob rewarded video callbacks work, however Unity Ads callbacks do not work consistently. Could you find a solution to your problem? It might help me, too.

Thanks.

[2019-02-27 22:11] arcv commented on #853
@fdoumhan No, you don't have to. Add that meta-data if you use [Ad Manager](https://admanager.google.com/home/). It is Admob-like product from Google aswell.

[2019-03-01 02:33] Synivar opened #866 "Crash on application start with Firebase"
Using GoogleMobileAds v3.15.1 and Firebase for Unity SDK v5.1.0. Everything was working fine before integrating the Google Ads plugin but now I'm getting an immediate crash when opening the application. Before anyone asks, I did follow the setup guide (https://developers.google.com/admob/unity/start) but it appears there are incompatibility issues with Firebase.

In case it's relevant I also added

[2019-03-01 03:10] daolm commented on #687
Any update on this case?

[2019-03-01 10:59] rchallenger commented on #690
Just caught this exception on my device. It was after Purchasing AdsFree product, that disables active ads, prevents them from showing during current session and activating for further sessions.

[2019-03-03 01:47] rlee1990 opened #867 "Rewarded and close callbacks called 6 times"
When I try testing the ad rewards the reward and close callbacks are called 6 times.
I have checked everything.

[2019-03-03 14:13] QuanHuynhM opened #868 "How to use Native Ads with Unity"
Everyone can show me a demo with Unified Native Ads with Unity?

[2019-03-05 08:57] DaniyarGilimov commented on #838
Have you found the any solution? Im getting the same error

[2019-03-05 12:56] rchallenger opened #869 "Getting "Not a MediationBannerAdapter <class name>" when requesting banner ad from banner AdUnit"
Hello,
Some of my builds produce errors of this kind and no ad is loaded. Though AdUnit is set up correctly and there is no mistake. For debug I left only banner requests in test build. And even when my waterfall does not contain any Chartboost and Unity AdSource configurations I still get errors related to them. Moreover it is ridiculous as banner AdUnits does not contain in Mediation networks li

[2019-03-05 13:23] rchallenger commented on #869
It appears admob dashboard allow creating configuration for Networks without small banners (Unity, Vungle, Chartboost) and they are actually present in the netwroks list.
So there was no issue at all.
But it is a quesion what was the purpose of leaving Vungle, Chartboost among banner AdSources

[2019-03-05 13:23] #869 closed

[2019-03-06 00:04] fdoumhan commented on #845
The issue still continues for Android 9.
I don't use mediation as well.  I deleted Plugins folder, reimported Admob, then run the resolver.
Nothing changed.

[2019-03-06 05:04] Thaina opened #870 "Please add API to set the current device as test device"
It really counter productive that we can't just set the current device as test device programmatically. If we don't use a remote setting we then need to build our project, try to scan adb logcat just for seeing id, then rebuild again just to add that id in the list. When what we really want is just to test an ads

The SDK should do something about this by itself. We don't even need to know the ID

[2019-03-06 07:08] rchallenger commented on #870
Why you wouldn't just use `SystemInfo.deviceUniqueIdentifier` to get your device identifier?

[2019-03-06 07:10] Thaina commented on #870
@rchallenger I don't think it is the same id admob want to use. I think admob use ads tracking id or something, I'm not sure, but I was quite sure that it is not `SystemInfo.deviceUniqueIdentifier`

[2019-03-06 07:12] rchallenger commented on #870
But you didn't even check this ...
In my case they are the same!

[2019-03-06 07:17] Thaina commented on #870
@rchallenger If it is the same I would require that it should just mention in the official document, which it's not

And you could search google for it and you can see a workaround that we need to get native id and do MD5 hashing on it to get the id admob needed, and only that was worked in my device

[2019-03-06 08:34] PEZO19 commented on #565
I had the same problem (muted app after admob ad close) with my Unity project when I updated to Xcode 10 from 9.4 (from High Sierra to Mojave). After updating to the latest GoogleMobileAds unity plugin it has been solved.

[2019-03-07 14:42] matie commented on #870
Hi,

Have a look at: https://developers.google.com/admob/unity/test-ads

We are using odd version codes for our beta's and so all devices using a beta (internal build) will show test ads only.

You could also choose for using a button somewhere in your game (only show it when running as beta :-)) to change the id's to the test ones and reload the ads.

[2019-03-07 23:04] lukaszkn commented on #856
This happens because of Managed Stripping Level (Player Settings/Other settings) when IL2CPP scripting backend is used. Avoid using Type.GetType("") anywhere in the code cause referenced assembly will be stripped out if not used using strong name typing.

[2019-03-09 01:15] ericleich commented on #870
It is working as intended not to provide a setTestDevice(currentDevice) API, as someone would accidentally forget to take out that line of code, release, and then no traffic would generate revenue. This DID HAPPEN when we used to have a setTesting(true) API years ago. The current API is admittedly harder to use, but it also prevents you from shooting yourself in the foot.

[2019-03-09 01:15] #870 closed

[2019-03-09 07:53] ctykaya commented on #866
Same issue for me. Admob with firebase doesn't work together. Crash on start.

[2019-03-10 17:14] heenamkung opened #871 "RewardBasedVideoAd.Instance is always null"
I only encountered this issue on the ios build of my Unity project (no problem with android build). I tried 1. removing all plugins and just only installing admob plugin 2. installing 3.13 version of the plugin but still couldn't get it to work. My code is almost the same as the code from the official website.

`
void Start()
    {
MobileAds.Initialize(appId);
        this.rewardBasedVideo = Rewar

[2019-03-10 19:10] ctykaya opened #872 "Firebase and AdMob in Unity game does not respond"
I am trying to implement firebase gps and abmob in my game. Firebase and gps works fine but when I import admob game does not respond any user input and freeze. Here is the log. I cannot figure it out what is the problem. Can any one help?

Here is the log file:
https://ufile.io/6snfi

[2019-03-10 21:13] skopekreep commented on #189
Heads up, the link for the sample application is broken.  Thanks for updating it when you can.

[2019-03-11 03:36] dominicdev commented on #872
same issue here..also with the google play services..maybe because of the resolver

[2019-03-11 14:31] heenamkung commented on #871
I changed "Managed Stripping Level" from Medium to Low and now it works! Didn't know this can affect admob.

[2019-03-11 14:31] #871 closed

[2019-03-13 01:25] rotter opened #873 "NativeAds native java crash: GetStarRating"
Calling GetStarRating() is causing the crash below in production in a significative percentage of players. Since it's a native (java) crash, I can't try/catch it, and there's no workaround method to check if it's null from what I see (something like a bool ContainsStarRating())

[code]

[2019-03-13 08:16] yantian001 commented on #866
Same issue for me ,i also edit android manifest following guide ,don't use for me .

[2019-03-13 09:20] guplem opened #874 "Banner is invisible but still clickable"
I'm working on an app that displays a banner depending on the scene. I use Show and Hide to control this behavior.

It works perfectly the first time that the banner is shown, but the second (after being hidden) the banner does not appear. However, the banner zone still clickable and it performs as expected.

I'm using the last release of the AdMob plugin for unity (v3.15.1) and I have not been ab

[2019-03-15 04:56] cwysms opened #875 "Firebase + GooglePlayGame + ADMobs Gradle Build Error"
CommandInvokationFailure: Gradle build failed.
C:/Program Files/Java/jdk1.8.0_202\bin\java.exe -classpath "C:\Program Files\Unity\Editor\Data\PlaybackEngines\AndroidPlayer\Tools\gradle\lib\gradle-launcher-2.14.jar" org.gradle.launcher.GradleMain "assembleRelease"

stderr[
Dex: Error converting bytecode to dex:
Cause: Dex cannot parse version 52 byte code.
This is caused by library dependencies tha

[2019-03-15 11:01] rchallenger opened #876 "GAD 3.15.1 RewardBasedVideoAd.Instance issue [ClassNotFoundException]"
Hello,
I'm getting this error in Android application built with Unity3D 5.4.0, 5.4.2, 5.5.0.
And Only Unity2018.+ works fine.

To clear up all the questiuons I've tried to make an empty project with GAD 3.15.1, where in `MonBehavior.Start()` I've chached RewardBasedVideoAd.Instance to a temporary variable. RIght after application starts I get this error `Exception: No such proxy method: UnityEngin

[2019-03-16 08:22] Ikxyz opened #877 "When use test ad unit every works but when i use my own ad unit id it stop working"
I have uploaded my flutter app to playstore i have linked it up with my admob and my firebase account..
All my account is in sync. But my adunit does not work

This is my log
[code]

[2019-03-16 08:56] chechulinYuri commented on #842
the same, very high crash rate in google play due to this
unity 2018.3.*

[2019-03-16 14:46] yosun opened #878 "Unity plugin out of date for iOS?"
Just downloaded the latest Unity plugin for Admob and ran it on a test device. Received the out of date in log:

You are currently using version 7.32.0 of the SDK. Please consider updating your SDK to the most recent SDK version to get the latest features and bug fixes. The latest SDK can be downloaded from https://goo.gl/UoiJ8F. A full list of release notes is available at https://developers.goog

[2019-03-16 15:13] yosun commented on #877
i have the same problem using the unity implementation hello world

[2019-03-16 15:17] yosun commented on #360
Still appears to be an issue for the latest unity admob

Test rewards ad id works.

Test device + custom rewards ad id does not work yields:

Failed to receive ad with error: Request Error: No ad to show.

[2019-03-18 07:01] chechulinYuri commented on #842
any updates? I had to delete admob from my project due to that error. Unity 2018.3.*
Crash rate is very high with google ads plugn, around 3-5%!

[2019-03-18 07:07] mkud commented on #842
Downgrade to Unity 2018.2.x helps you. I use 2018.2.18f1

[2019-03-18 07:10] chechulinYuri commented on #842
yeh, but 2018.3 and 2018.2 versions are not compatible, due to lots of changes with prefabs and scenes.

[2019-03-18 07:17] mkud commented on #842
Yes, you are completely right. But it helped me - I used 2017.3 before. so I went back to the previous version, and then upgraded to 2018.2 and made the same changes.

[2019-03-20 05:39] Vengat121 commented on #845
same here, any solution?

[2019-03-20 06:04] fdoumhan commented on #845
Nope. Google developers says they already fixed the issue but cant give a release time. I will try an another admob plugin.

[2019-03-23 18:33] adampound commented on #838
Im having the same issue. with the exact same plugins as @FaiyaxMdAbdul.  Did you guys ever figure out a work around?

[2019-03-25 11:40] wdc997669919 opened #879 "RewardAd can not destroy."
I use the latest sdk,an error of memory leaked with not close the response of body  When i load and show the reward ad video .How can i destroy it when close the ad? I can not find the api in doc.

[2019-03-25 14:47] UragayalaDeepika commented on #878
Hello @yosun

The log message that you have seen is suggesting you to download the latest version of the iOS SDK which is available here- https://developers.google.com/admob/ios/rel-notes and it is not about the Unity Plugin. Please update the SDK and let us know if you have any issue while Integrating the Google Mobile Ads Unity plugin into your app. You can go through this documentation as well

[2019-03-25 14:54] UragayalaDeepika commented on #877
@Ikxyz @yosun This issue tracker is only for the issues related to Unity Plugin. Please reachout to [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) and our team will be able to assist you with this issue.

[2019-03-25 23:28] Ikxyz commented on #877
Building a release apk solved the issues for me.. and also a new ad unit takes time to start working so if you're using a new ad unit you might want to give it a little more time..

[2019-03-25 23:29] Ikxyz commented on #877
Building a release apk solved the issues for me.. and also a new ad unit takes time to start working so if you're using a new ad unit you might want to give it a little more time..

[2019-03-25 23:29] #877 closed

[2019-03-27 12:53] cgerard78 opened #880 "project not building in Xcode"
My project is not building in Xcode, and that is using the sample project provided here https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld

All 4 frameworks have been imported in Xcode
Admob SDK Google Utilities Admeasurement nanopb

I've built the project in unity, imported it in Xcode, added the 4 frameworks in Xcode and also added them manually using cocoa pods i

[2019-03-28 02:35] sptkjs opened #881 "When apps is on runtime, application is shot down."
Hi, I have issue relative admob plugin on android 9.
I use unity 2017.4.24f1, and import admob plugin v3.16, also play games plugin v0.9.62.

I modified AndroidManifest.xml about meta-data.

However, some Android 9 devices is crashed.

I remain the report sample error:
java.lang.Error: FATAL EXCEPTION [Thread-44]
Unity version     : 2017.4.24f1
Device model      : samsung SM-G950F
Device fingerpri

[2019-03-28 17:02] wooden-coder opened #882 "iOS namespace error and no resolver option after import."
When I import this admob plugin (v 3.16) i get an error:

Also, i have no option "play services resolver" after plugin import.

This script "PListProcessor.cs" uses namespace "UnityEditor.iOS.Xcode;", i guess this is the issue.

I have no iOS support in my Unity, i don't need it and everything used to work well before.

I have this error in my newest **Unity 2018.3.9f1**. The same goes with older

[2019-03-28 17:20] stowy commented on #882
Hi, we added this support for adding the plist entry GADAdIdentifier in Xcode projects.

Can you try wrapping the whole [PListProcessor.cs](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Editor/PListProcessor.cs) file with   #if UNITY_IPHONE and see if this resolves the issue?

Are you also saying that play services resolver is not included in

[2019-03-28 17:47] wooden-coder commented on #882
That helped. Now i don't have any errors and Play Services Resolver is available again. Resolution for Android ended with successful result. Thank you! I hope everything will be ok now.

Here is the new (wrapped) version of the PListProcessor.cs, if anyone cares.
[code]

The folder itself existed after the import but menu option wasn't.

[2019-03-28 17:52] #882 closed

[2019-03-28 18:04] stowy commented on #882
np. Updated code, will be in next version.

[2019-04-03 02:53] li3p commented on #792
does version 3.16 solved this issue?

[2019-04-03 05:34] mariome17 commented on #792
No, it doesn't solve it

[2019-04-03 09:20] fdoumhan opened #883 "Should I change the manifest package?"
Hello,
I integrated the plugin and followed the instructions but I couldn't figurate out if I have to change the package ="com.admob.demo" in manifest you added. Should this be equal to my game package id?

[2019-04-03 09:29] #883 closed

[2019-04-03 12:08] cgvmlg85 commented on #881
Hi,
Same problem here with Android 9:
Samsung Galaxy S8 (dreamlte), Android 9
Informe 1

java.lang.Error: FATAL EXCEPTION [Thread-14]
Unity version     : 2017.4.3f1
Device model      : samsung SM-G950F
Device fingerprint: samsung/dreamltexx/dreamlte:9/PPR1.180610.011/G950FXXS4DSC2:user/release-keys
Caused by
  at jq.b (com.google.android.gms.dynamite_adsdynamite@15090083@15.0.90 (100408-231259764)

[2019-04-04 14:53] Heru6664 commented on #866
any update on this?
i got same problem

[2019-04-04 17:11] stowy commented on #866
Can you confirm if this issue occurs with the 3.16 GoogleMobileAds plugin?

[2019-04-06 07:07] matie commented on #843
Lately upgraded to 2018.3.9. Latest google mobile ads and facing these errors as well. Seems to be a mediation issue with unity ads. Any progress or solutions?

[2019-04-06 16:06] eleguni commented on #881
I have the same problem
unity version is 2018.2.11f1
on runtime it crashes

[2019-04-07 03:27] arpaplus commented on #843
**Aurimas-Cernius (Unity Technologies)**: Fix for this issue will be shipped with Unity 2018.3.12f1.

[2019-04-07 14:52] AsifNaeem1 commented on #854
I am facing same problem and working on that issue from past 30 hours. Still unable to resolve that issue. Did you find any solution? If yes, please share

[2019-04-07 17:32] gaspetcan commented on #854
Sorry but i cant found it yet

Android için Outlook<https://aka.ms/ghei36>'u edinin

________________________________
From: Asif Naeem <notifications@github.com>
Sent: Sunday, April 7, 2019 5:52:13 PM
To: googleads/googleads-mobile-unity
Cc: Subscribed
Subject: Re: [googleads/googleads-mobile-unity] MobileAds.Initialize() throws an exception (#854)

I am facing same problem and working on that iss

[2019-04-07 19:16] Andre2553 commented on #881
I have the same problem

[2019-04-08 06:44] yantian001 commented on #866
@stowy Yes,I have confirmed also have same issue with 3.16

[2019-04-08 07:31] yantian001 commented on #866
@stowy I also update the firebase unity sdk to 5.6.1 .fixed !

[2019-04-08 08:03] Heru6664 commented on #866
i fixed it following the docs here
https://rnfirebase.io/docs/v5.x.x/troubleshooting/android#NoSuchMethodError:-No-static-method-(run-time-error)

[2019-04-08 15:53] stowy commented on #866
@Heru6664 did you have to change any settings of did just updating versions resolve the issue?

[2019-04-08 16:02] Heru6664 commented on #866
i updating any settings, after i updating of google play service versions. i following this, as the docs said :

https://medium.com/@suchydan/how-to-solve-google-play-services-version-collision-in-gradle-dependencies-ef086ae5c75f

[2019-04-08 17:33] stowy commented on #881
Does it have a message saying which class was not found? Something like:

[code]

[2019-04-08 17:36] stowy commented on #866
Can you share what your final configuration looks like?

[2019-04-08 17:39] stowy commented on #854
Hi, thanks for your query.

For support debugging your apps, can we request that you make a request on our [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) at https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines - they will be able to help debug your issue with you efficiently.

When posting to the forum, please also provide

[2019-04-09 00:37] sptkjs commented on #881
@stowy No. It doesn't have any messages that "Class Not Found".

[2019-04-09 19:59] wardetta opened #885 "HelloWorld Sample Crash on Unity 2018.3.11/12"
Hello,
I have run into crashing problems when i upgraded to the 3.16 version so i tried the sample
and still no luck.
Here is the logcat, hope it helps fix these issues asap :)
Thanks!

04-09 21:54:21.865  2022  9224 I ActivityManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=com.TestCompany.AdmobTest/com.unity3d.player.UnityPlayerActivity

[2019-04-09 20:03] #885 closed

[2019-04-09 20:04] wardetta commented on #885
Apparently there is an extra step with the new version if anyone came to this post here is the solution:-
https://developers.google.com/admob/android/quick-start#update_your_androidmanifestxml

Goodluck!

[2019-04-13 15:02] harsh2327 commented on #854
Found a solution for this.

It looks like Unity was stripping the code out for Reflection. Documented here - https://docs.unity3d.com/Manual/ManagedCodeStripping.html

To solve this issue, one can either
1. Add the following lines in GoogleMobileAdsClientFactory.cs

using UnityEngine.Scripting;
[assembly: Preserve]

OR

2. Change the "Managed Stripping Level" to Low or less.

[2019-04-14 11:46] AsifNaeem1 commented on #854
Hello @harsh2327  I also manage that problem by disabling the stripping level. Thank you for you response.
That was panic for me. I spend over 2 days, I delete each and every file, replace with old setting, then I found the problem is somewhere in player setting. After working so hard I found that stripping level is the reason for MobileAds.Initialize() error.

[2019-04-15 09:18] s4relok commented on #881
Same problem, lot of affected users in the last month.

Sony Xperia XZ1 (G8342), Android 9

java.lang.Error: FATAL EXCEPTION [Thread-276]
Unity version     : 2017.4.23f1
Device model      : Sony G8342
Device fingerprint: Sony/G8342/G8342:9/47.2.A.10.28/1345156320:user/release-keys
Caused by
  at lt.b (com.google.android.gms.policy_ads_fdr_dynamite@30004@30004.238272502.238272502:2)
  at ls.a (com.

[2019-04-15 13:51] #667 closed

[2019-04-16 19:02] keyserjaya commented on #881
Go to AndroidManifest.xml (located in: Assets/Plugins/Android/GoogleMobileAdsPlugin)

Replace "[ADMOB APPLICATION ID]" to our "Admob appId" we are good to go!
No more crash on runtime.

Good luck ;)

[2019-04-16 19:03] keyserjaya commented on #848
Thank you! and many thanks! @rigby00
That's right! we need to add Admob ID on AndroidManifest.xml (located in: Assets/Plugins/Android/GoogleMobileAdsPlugin)

Replace "[ADMOB APPLICATION ID]" to our "Admob appId" we are good to go!
No more crash on runtime.

Thank you again ^_^

[2019-04-16 19:52] kheradite07 opened #886 "App crashes on iOS when interstitial is closed"
Hello everyone, I'm facing an annoying issue and I need to hurry to fix this because of some reasons. I really need your help right now.

Video ad works well but when interstitial is shown and closed, app crashes.

Normally, I was using Unity 5.6.0f3 and one of old versions of Google mobile ads plugin for Android and there was no problem

I migrated to Unity 2018.1.0f2 and latest version of mobile

[2019-04-16 22:09] charlesqu-thinkcube commented on #829
Had Exact same problem and found this post.
In Unity, go to Tools -> Package Manager, and Uninstall "Advertisement" Fixed the problem

[2019-04-17 10:40] TheEdgeWalker opened #887 "Risk of hardcoded app ID and PListProcessor"
The Initialize method requires the app ID as a parameter. This approach is acceptable for native Android or iOS, because normally only one appID is required.

Most Unity developers like myself have to deal with both Android and iOS, so we have to do something like this:
[code]
It is not pretty, but still acceptable.

But with the introduction of the PListProcessor, now we have TWO places where we

[2019-04-17 10:57] rchallenger commented on #887
Voting for this feature too. Android manifest also is changed to have a hard-coded value for this parameter. It is ok if you manage only one project. But if you have to deal with 10+ projects, advertising system becomes an external part, that is managed and updated independently. But this AppID makes automatisation of update process incomplete. Because you have to check some files for valid values

[2019-04-17 14:16] matie commented on #860
Hi,

Even after removing the suggested location service, it crashes. On at least android 5.1, 6.0, 8.0 and 8.1.

Could someone have a look at it and resolve the issue? Thanks!

 java.lang.NullPointerException: println needs a message
at android.util.Log.println_native(Native Method)
at android.util.Log.d(Log.java:139)
at com.google.ads.mediation.inmobi.InMobiAdapter.requestBannerAd(InMobiAdapter.j

[2019-04-17 15:16] UragayalaDeepika commented on #751
Hello there,

Do you still have any issue with this? If you are looking to determine the height fo a SMART_BANNER, then you can go through this article: https://developers.google.com/admob/ios/banner#smart_banners

"Smart Banners on iPhones have a height of 50 points in portrait and 32 points in landscape. On iPads, height is 90 points in both portrait and landscape."

Let us know if you need anyt

[2019-04-17 15:27] UragayalaDeepika commented on #886
Can you please share the complete crash logs for us to take a look?

[2019-04-17 15:35] #878 closed

[2019-04-17 15:45] JanOrsuliak commented on #881
sadly thats not true ... yes crash will uccur in case of unassigned app id but

there are crashes like this

java.lang.Error: FATAL EXCEPTION [Thread-220]
Unity version     : 2018.3.3f1
Device model      : samsung SM-G950F
Device fingerprint: samsung/dreamltexx/dreamlte:9/PPR1.180610.011/G950FXXU4DSBA:user/release-keys
Caused by

  at lt.b (com.google.android.gms.policy_ads_fdr_dynamite@30004@3000

[2019-04-17 16:23] ericleich commented on #878
If you grabbed version 3.16.0 of the plugin, it specifies the iOS SDK dependency at https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml#L11 which is currently set to 7.41 or higher. My guess is you didn't have 3.16.0 of the plugin.

[2019-04-17 16:32] stowy commented on #887
Hi @TheEdgeWalker, thanks for your suggestions.

The initialize method will be modified to not take an App ID in an upcoming release of the plugin. We also have the android manifest where the App ID for android is required to be entered.

We have already started work on adding a user interface to specify the app ID per platform which will then be ported into the iOS plist and the Android manifest

[2019-04-17 16:35] kheradite07 commented on #886
@UragayalaDeepika Yeah sure!

This is crash log:
`Incident Identifier: E112186F-D625-4653-B9A5-435F33843BBF
CrashReporter Key:   a7e20706a630d0c5a44987e5e5de93cee08e4dc0
Hardware Model:      iPhone7,2
Process:             neverdrop [660]
Path:                /private/var/containers/Bundle/Application/29C6D6B3-D97B-466B-A026-D1C9372FFEA1/neverdrop.app/neverdrop
Identifier:          com.msenel.never

[2019-04-18 10:07] halfdevil opened #888 "No option for setting ServerSideVerificationOptions for new RewardedAd APIs"
There is no option to pass user id or set ServerSideVerificationOptions in the new RewardedAd APIs.

[2019-04-18 10:35] TheEdgeWalker commented on #887
Hello @stowy
I am glad that something similar is already being worked on.
Can you describe in detail what this interface will look like? Do you have an ETA for this?

[2019-04-20 08:14] truusongz opened #889 "(iOS) Can't exit Reward Ad to receive reward after viewing"
Hi, a small percentage of our iOS users are experiencing an issue where they cannot exit the rewarded video ad to receive their reward after completely viewing the ad. The exit (X) button appears but clicking on it does not exit the ad.

I'm using the latest version of the plugin 3.16 . Could it be an issue with the Google-Mobile-Ads-SDK version? Currently my podfile says:

target 'Unity-iPhone' d

[2019-04-21 07:19] sberogames commented on #889
We are seeing the same issue on both Android and iOS using version 3.16.

Pod file on iOS:
[code]

We'll be happy to provide any additional details required to resolve this.

[2019-04-21 08:37] s4relok commented on #881
And what another problems it brings?

[2019-04-22 17:31] stowy commented on #881
I believe this is related to https://developer.android.com/about/versions/pie/android-9.0-changes-28#apache-p.

A fix if this is the case would be to add the following to the AndroidManifest.xml:
[code]

[2019-04-22 18:38] AnkitPatill commented on #645
i have also Same problem

[2019-04-23 01:46] Jazzgazer opened #890 "Banner looks wierd on Samsung Galaxy s10"
![admob banner issue](https://user-images.githubusercontent.com/7954950/56545894-f0804400-65b3-11e9-89ef-519a18aeb0dd.jpg)

I tested bannerView on Galaxy S10. It looks like in wrong position.

**Using codes are below.**
(bannerView = new BannerView(bannerUnitID, AdSize.Banner, AdPosition.Top);

Please check plugin on brand new phones.
thanks.

[2019-04-23 03:54] parker9904 commented on #645
I'm fix this issue

On Tuesday, April 23, 2019, AnkitPatill <notifications@github.com> wrote:

[2019-04-23 09:02] jonathanleang commented on #889
same bug here using v3.16 also tried downgrading to v3.15.1 same bug

[2019-04-24 04:12] ha-quang-vu commented on #889
@truusongz @jonathanleang
Did the movie reward come out is "Homescapes" game?
I have same bug.
If "Homescapes" came out, I cannot close. But other reward game, It's okay.

[2019-04-24 08:21] Final3514 commented on #889
I'm having the same issue on my dev devices - hitting 'x' in the top right corner does not exit ads on the iphone ( I have received both gardenscape and wordscape ads, and neither can be exited )

Manually resetting my advertising identifier allowed me to exit ads again, but I don't know how prevalent this issue would be in the wild if released, which makes me very nervous

[2019-04-24 08:40] Opeth001 commented on #888
I didn't found it too! :(
There is no way to set the user id within the new rewarded ads API.

The documentation do not have any example about it too.

I hope Google didn't forget to implement it, it will be a shame for non setting the userid into a rewarded ad.

[2019-04-24 08:47] Opeth001 opened #891 "No way to set the UserId within the new RewardedAds Api"
The title describes everything.

[2019-04-24 09:02] AlekseySimonenko commented on #889
We'r get the same user reports on last 2 weeks!
Android + Ios
Unity 2018.2.20f1
Admob sdk 15.0.1
We can reproduce error on device: Huawei P20 OS 9
Users devices: device model:iPhone 8,1 os:iOS 12.1.4

[2019-04-24 09:09] truusongz commented on #889
@ha-quang-vu I didn't get the exact bug step information from the users regarding which ad it was. But it seems like that might be part of the issue, @Final3514 is reporting the same problem for the Gardenscape ad and they're from the same publisher.

Can we get some answers/input from the developers regarding the scope of this issue?

[2019-04-25 12:08] halfdevil commented on #888
I have added an option to set ServerSideVerificationOptions for new Rewarded API. The package for the same can be found here:
https://github.com/halfdevil/googleads-mobile-unity/releases/download/v3.16.1/GoogleMobileAds.unitypackage

[2019-04-25 12:10] halfdevil commented on #891
I have added an option to set ServerSideVerificationOptions for new Rewarded API. You can found the package here:
https://github.com/halfdevil/googleads-mobile-unity/releases/download/v3.16.1/GoogleMobileAds.unitypackage

[2019-04-25 16:57] stowy commented on #889
Hi,

This could be creative specific, if you are seeing the same ad regularly
that causes this, please try the ad review center -
https://support.google.com/admob/answer/3480906?hl=en - this should enable
you to block the ad.

It would also be a good idea to report this on the developer forum (
https://groups.google.com/forum/#!forum/google-admob-ads-sdk) since this is
definitely not a unity plugi

[2019-04-26 10:21] SnnYsf opened #892 "libc.tgkill application crash"
if I switch to new admob version, crashes are increasing. just android 8.0.0
 
if i use plugin 3.7.0 everythings is okey.

I can't get the update for 1 year.
all updates are problematic :)

| libc.tgkill (tgkill:12)
-- | --
  | libc.abort (abort:54)
  | libart.art::detail::CmdlineParseArgument<std::__1::vector<art::Plugin,  std::__1::allocator<art::Plugin> >  >::ParseArgumentSingle(std::__1::basic

[2019-04-26 10:37] SnnYsf opened #893 "libc tgkill"

[2019-04-26 12:46] halfdevil opened #894 "AdColony [*** ERROR ***] : Cannot start AdColony; configuration mechanism dictates only one app ID can be used during a session."
Getting this error while using AdColony mediation with Google Mobile Ads new Rewarded API. This issue is occurring while caching rewarded ads with new APIs.

[2019-04-26 19:25] stowy commented on #894
This is intended behavior, AdColony only supports a single app ID.

[2019-04-26 22:14] #893 closed

[2019-04-27 17:36] bartofzo opened #895 "Interstitial ad callbacks not firing on iOS"
Hello,

I'm running into a problem where the callbacks of an interstitial ad are suddenly not being fired.
It does work when test mode is enabled. Doesn't with the real id's.

Seems like the ad won't load, but OnAdFailedToLoad does not get called. IsLoaded() reports false.

The problem is 100% not in my code because it works on Android and in test mode.
Bottom ad is working. Rewarded video ad is a

[2019-04-28 13:50] Itetsukuhadou opened #896 "The display position of the banner is incorrect on Android"
The banner may not be displayed in the correct position.
Please let me know how to handle it or a version that does not exhibit this symptom.

v3.16
AQUOS R2（SG706SH）
Android8.0

`var banner = new BannerView(adUnitId, AdSize.Banner, AdPosition.Bottom);`

[2019-04-29 15:34] UragayalaDeepika commented on #687
@daolm Please refer to this issue- https://github.com/googleads/googleads-mobile-unity/issues/734 if your concern is regarding the main issue reported here about the banner ad.

[2019-04-29 15:34] #687 closed

[2019-04-29 15:44] #717 closed

[2019-04-29 17:25] UragayalaDeepika commented on #729
@assafcohen1 Are you still seeing this issue with the latest verison of the plugin? If you could confirm this, we will take a look into this issue again.

[2019-04-29 17:27] #765 closed

[2019-04-29 17:28] #733 closed

[2019-04-29 17:35] #783 closed

[2019-04-29 17:37] #812 closed

[2019-04-29 17:41] UragayalaDeepika commented on #779
@mgrogin Are you still seeing this issue? If yes, can you please provide us the charles log to take a look?

[2019-04-29 17:56] MartinGonzalez commented on #717
Hi there!
So this cannot be done?

[2019-05-02 10:46] mmvlad commented on #876
Having the same issue with Unity 5.4, 5.6.5

Looks like the lib is not even tested now on previous versions though support is stated 4.6+.

[2019-05-02 18:39] StariMarco commented on #687
For unity 2019:
Project Settings > Resolution and Presentation > Render outside safe area

[2019-05-06 06:30] Zohaib-Saleem commented on #842
this issue is fixed in unity 2018.3.13

[2019-05-06 06:31] Zohaib-Saleem commented on #843
this issue is fixed in unity 2018.3.13

[2019-05-06 11:00] halfdevil opened #898 "(Android Only) Facebook mediation not working with new Google Mobile Ads SDK (17.2.0), if SDK is initialised with AdManager."
Facebook mediation for Android is failing with following exception:

05-06 12:02:01.663 2043 2043 E Ads : java.lang.IllegalStateException: MobileAds.initialize() must be called prior to getting version string.
05-06 12:02:01.663 2043 2043 E Ads : at com.google.android.gms.common.internal.Preconditions.checkState(Unknown Source:29)
05-06 12:02:01.663 2043 2043 E Ads : at com.google.android.gms.inte

[2019-05-06 20:48] pablorengo opened #901 "(Android) Interstitial OnAdClosed event has a 5 sec delay if a banner has been shown"
On some devices, like Samsung J7, when showing a banner and then an interstitial, the interstitial close event has a delay of 5 seconds. Pull Request #817

[2019-05-08 02:52] kk3hi3123 commented on #645
Same problem here.
I want to add reward video ads into my app, which already contains banner and interstitial ads for several months. But reward video always return no fill even if I set the testing device ID.

[2019-05-08 18:20] HiveXStudio opened #902 "Banner Ad does not display properly - Bottom half of Banner does not show/gets cut off"
Hi all,

I have recently integrated Admobs into my Game in Unity and did some testing on a few devices. It works fine on my own device but when using another phone, the banner gets cut off from bottom down.
I have tried playing around with the Banner sizes (AdSize.BANNER, AdSize.SmartBanner) but the problem still persists. Does anybody have any idea why this may be happening?

 I have been working

[2019-05-09 11:08] adamjsutcliffe commented on #895
I'm getting a similar issue using Unity ads through AdMob mediation. I can display Unity ads fine but the closed handler is never getting called so my app gets stuck. It doesn't seem to matter if the ad plays all the way to the end or is exited early.

I'm using the latest mediation package via Unity GoogleMobileAdsMediationUnity version 3.0.0.3 with Unity 2017.4.25 and exporting to Xcode 10.2.1.

[2019-05-09 15:06] Ruco opened #903 "InMobi and SmartBanners"
According to this page: https://developers.google.com/admob/unity/mediation/inmobi
InMobi supports SmartBanners, although when requesting SmartBanners the InMobiAdapter reports: "Failed to request ad, AdSize is null."

[2019-05-09 17:31] stowy commented on #903
Can you please confirm which adapter version you are using, and which device you are testing on?

[2019-05-09 17:35] stowy commented on #895
@adamjsutcliffe can you clarify, using AdMob mediation you are seeing callbacks for some mediated networks but not for Unity ads?

[2019-05-09 17:37] Ruco commented on #903
I am testing on a phone. The Asus Zenfone 5Z. Which has a resolution of  2246x1080. The app is in landscape.

And the InMobiAdapter I am using is the latest version: 2.2.2
Which installs a .aar in Plugins/Android with version 7.2.7.0

[2019-05-09 17:55] stowy commented on #903
If you try a smart banner on your phone using [this example](https://github.com/googleads/googleads-mobile-android-examples/tree/master/java/admob/BannerExample) but modifying the [banner size](https://github.com/googleads/googleads-mobile-android-examples/blob/master/java/admob/BannerExample/app/src/main/res/layout/activity_my.xml#L24) to [SMART_BANNER](https://developers.google.com/android/refer

[2019-05-09 18:52] Ruco commented on #903
Ah indeed. The lowest height available is 48dp. A pity.
It would only work in portrait or on tablets.

Thank you for clearing this up.

[2019-05-09 18:52] #903 closed

[2019-05-10 00:49] Itetsukuhadou commented on #896
Thank you for comment.
![clip_now_20190428_154748 copy](https://user-images.githubusercontent.com/15720502/57495254-479e4c80-7308-11e9-8561-7a21248f8dac.png)

[2019-05-10 09:15] adamjsutcliffe commented on #895
@stowy That's correct, I have AdMob mediation setup with Unity ads, FAN, AppLovin, Tapjoy and Vungle and the interstitial closed callback doesn't fire for Unity Ads the rest work fine.

[2019-05-10 18:55] rigby00 opened #904 "Banner is not showing!"
Hello, today i updated admob plugin after that banner is not showing but interstitial and rewarded ads are working fine.

What is the problem?

[2019-05-10 23:04] rigby00 commented on #904
@keyserjaya Can you help?

[2019-05-11 13:42] studentutu opened #905 "Update compilation error inside Assets/GoogleMobileAds/PlistProcessor.cs"
Please update inside Assets/GoogleMobileAds/PlistProcessor.cs :
wrap whole code in

#if UNITY_IPHONE || UNITY_IOS || UNITY_TVOS
...
#endif

[2019-05-11 15:43] itayganor commented on #896
Does your device has a cutout (notch)?

[2019-05-12 00:50] ninja546 opened #906 "onRewarded! currency: coins amount: 10"
I am implementing a video reward and using the sample ID unit for testing, when I finish watching the video I see the text "onRewarded! currency: coins amount: 10" but I did not get 10 coins that appeared on the scoreboard. Why is that? Is the coin really to be given as an example or not?

[2019-05-12 13:34] rigby00 commented on #905
**Paste this one. On this version #if and #endif at wrong places.**

`#if UNITY_IPHONE
using System.IO;

using UnityEditor;
using UnityEditor.Callbacks;
using UnityEditor.iOS.Xcode;

public static class PListProcessor
{
    [PostProcessBuild]
    public static void OnPostProcessBuild(BuildTarget buildTarget, string path)
    {

          // Replace with your iOS AdMob app ID. Your AdMob App ID wil

[2019-05-12 13:35] rigby00 commented on #905
**Paste this one. On this version #if and #endif at wrong places.** @studentutu

using System.IO;

using UnityEditor;
using UnityEditor.Callbacks;
using UnityEditor.iOS.Xcode;

public static class PListProcessor
{
    [PostProcessBuild]
    public static void OnPostProcessBuild(BuildTarget buildTarget, string path)
    {

          // Replace with your iOS AdMob app ID. Your AdMob App ID will look

[2019-05-12 13:36] rigby00 commented on #904
**Anyone can help please?**

[2019-05-13 01:23] Itetsukuhadou commented on #896
Yes, there is a notch at the top of the screen.
model name: Sharp AQUOS R2
https://www.softbank.jp/mobile/products/smartphone/aquos-r2/

[2019-05-13 02:20] yyh9488 opened #908 "About ios banner ads causing device frame rate issues"
Some banner ads, such as banner ads that are dynamic picture ads the device's frame rate drops to 40, but when the banner switches to static ads the frame rate goes back to 60. The device used 50 percent of the CPU in the 2017 ipad.

[2019-05-13 05:57] studentutu commented on #905
It is also applicable to TV OS.... (UNITY_IPHONE is deprected)

[2019-05-13 16:43] stowy commented on #904
Can you provide more specifics in regards to your implementation and environment? What position are you using for the banner, can you share your implementation code, which platform is this on, and what device and OS version is it running?

[2019-05-13 23:08] rigby00 commented on #904
I'm trying on Samsung device.(Android). I'm using singelation code. As i said it was working fine when i updated Admob Plugin version it happend. I'm using banner on bottom. Code link in down. Thanks for reply @stowy

https://pastebin.com/PykfjNGj

[2019-05-14 09:42] mubshar1 opened #909 "facing crash while doing mobileAds.initialize()"
using Google Mobile Ads Unity Plugin v3.16 facing crash while doing mobileAds.initialize()

![crash](https://user-images.githubusercontent.com/45542019/57688265-72650980-7656-11e9-94b8-c588b8bcf5aa.PNG)

[2019-05-14 19:32] dannykay1 opened #910 "Trying to display Unity Interstitial causes crash"
When trying to show an interstitial ad on player death, the unity ad causes the game to freeze.  I'm using version 3.16.  This issue has only popped up recently as the ads have been working fine since the first implementation months ago.  Google interstitial show fine, but unity ads cause the game to crash.

I'm getting this error:

E/Ads: java.lang.NullPointerException: Attempt to invoke virtual

[2019-05-15 00:09] Nyankoo opened #911 "IL2CPP building error"
I'm getting the following error when building with IL2CPP backend, Mono works fine:

`Building libil2cpp.so with AndroidToolChain
	Output directory: D:\Project\Temp\StagingArea\assets\bin\Data\Native\armeabi-v7a
	Cache directory: D:\Project\Library\il2cpp_android_armeabi-v7a\il2cpp_cache
ObjectFiles: 711 of which compiled: 3
	Time Compile: 3193 milliseconds Bulk_Assembly-CSharp_0.cpp
	Time Compile

[2019-05-15 07:27] Jbstudio425 opened #912 "How to get fixes that are done after the release package ?"
Hi , after the official package release some error occurs which are then fixed but the release package is not updated i think , so how can we update these fixes ?

[2019-05-15 10:09] #906 closed

[2019-05-15 16:26] stowy commented on #912
Hi, there are a couple more fixes pending and I will be providing a new release shortly thereafter in the next couple of days.

You can also create a build directly yourself using the source code and running the `exportPackage` gradle command from the build.gradle file. This can be run from command line (`gradle exportPackage`) or in android studio.

[2019-05-16 01:25] rigby00 commented on #904
Any solutions pls?

[2019-05-16 05:59] ninja546 opened #913 "Change the plugin data type, not the game"
I was trying to apply the rewarded video and succeeded but it was problematic. Here is the code:

[code]

The "amount" uses a double data type while the "AddCoin" function uses the int data type and that makes an error. There is another solution? Can the data type "amount" be changed to an int data type and make it work ... because I did it and it didn't work. And if I otherwise change the "AddCoi

[2019-05-16 06:53] #912 closed

[2019-05-16 12:26] #913 closed

[2019-05-16 17:17] stowy commented on #904
There will be a new release today, can you please try this when it is
published, the release will be 3.17.0.

On Wed, May 15, 2019 at 6:25 PM Mehmet Ali <notifications@github.com> wrote:

[2019-05-16 18:48] stowy commented on #904
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:48] stowy commented on #896
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:49] stowy commented on #890
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:50] stowy commented on #806
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:50] stowy commented on #794
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:50] stowy commented on #792
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:51] stowy commented on #751
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:51] stowy commented on #749
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:52] stowy commented on #905
Should be fixed in v3.17.0.

[2019-05-16 18:52] #905 closed

[2019-05-16 18:53] stowy commented on #909
This is most likely fixed in v3.17.0.

[2019-05-16 18:53] #909 closed

[2019-05-16 18:53] stowy commented on #902
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:54] stowy commented on #901
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 18:56] stowy commented on #898
Hi thanks for reporting. I think this is a race condition. I will investigate. I would guess that it would work if you waited a few seconds after launching and calling initialize before loading the ad.

[2019-05-16 18:56] #894 closed

[2019-05-16 18:56] stowy commented on #891
thanks for the fix @halfdevil

[2019-05-16 18:56] #891 closed

[2019-05-16 18:57] #888 closed

[2019-05-16 18:58] stowy commented on #887
Sorry for the delay. We're waiting on the launch of the next version of the Android SDK. I believe it should be mid-June. The initialization call will not require an app id, and will take a completion handler.

[2019-05-16 18:58] stowy commented on #881
Should be fixed in v3.17.0

[2019-05-16 18:58] #881 closed

[2019-05-16 19:01] stowy commented on #875
Please confirm the environment you are using - gradle version, etc. This should not occur on recent versions of gradle. Does it work for you using AdMob alone?

[2019-05-16 19:02] stowy commented on #874
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 19:02] stowy commented on #864
Thanks for the fix @SeanPONeil - sorry for the delay in merging. Should be much quicker going forward.

[2019-05-16 19:02] #864 closed

[2019-05-16 19:03] stowy commented on #861
Please try latest versions, I believe this is resolved.

[2019-05-16 19:03] stowy commented on #845
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 19:04] stowy commented on #839
Please try [version 3.17.0](https://github.com/googleads/googleads-mobile-unity/releases/tag/3.17.0).

[2019-05-16 19:46] TheEdgeWalker commented on #887
@stowy the PListProcessor that I mentioned is for iOS.
Please tell me you are also making a iOS version.

[2019-05-16 19:49] stowy commented on #887
Yes, we are working on an editor plugin which enables this for both Android and iOS. What I mean is that the API that removes the need for the App ID in code will be available in the plugin once the next version of the Android SDK is released. This API will obviously apply to both platforms.

[2019-05-16 22:22] pablorengo commented on #901
Thanks! I'll let you know if that version fixed this issue.

[2019-05-17 09:17] nostel opened #914 "Google Ads with Iron Source mediation graddle build error"
Hi, I'm using newest Google Ads and Ironsource Mediation version. It seem new version move all dependencies into MainGradle file.

 and I got this error:

  Searched in the following locations:
      file:/D:/AndroidSDK/SDKOld/SDKOld/extras/m2repository/com/ironsource/sdk/sdk5/unspecified/sdk5-unspecified.pom
      file:/D:/AndroidSDK/SDKOld/SDKOld/extras/m2repository/com/ironsource/sdk/sdk5/unspe

[2019-05-17 13:41] tree1891 opened #915 "Reward Video crashes app"
First time it show reward video successfully, but next time app crash.

[code]

[2019-05-18 01:03] rigby00 commented on #904
Still same i'm trying with test ads but same. Interstetial ads is showing but banner is not. Now i will try it with another pc and Unity 2019 i will reply result. @stowy

[2019-05-18 06:54] Shahab-Mirza opened #916 "App Crashing while calling Interstitial Ads Android"
I  am now using Latest Google Ads but still facing the same problem in the pervious version of Google Ads. Most of the time app is crashing while calling interstitial Ads and  this problem is occurring on some devices.

[2019-05-18 23:49] rigby00 commented on #904
Still same problem @stowy

[2019-05-19 05:30] #896 closed

[2019-05-19 09:34] BrianOSH opened #917 "Crashes app running on emulator on startup. Version 3.16 and 3.17"
Crashes app running on emulator on startup. Version 3.16 and 3.17

[2019-05-20 09:33] itayganor commented on #792
Awesome!

[2019-05-20 09:33] #792 closed

[2019-05-20 15:58] stowy commented on #917
Please provide more information, eg stack trace as a minimum. Also which platform, OS version. Re-open when information is available.

[2019-05-20 15:58] #917 closed

[2019-05-20 16:10] stowy commented on #904
Which model Samsung are you referring to?   Have you tested / reproduced on
other devices? Does it reproduce on the emulator?  Can you share device
logs and if possible charles logs from when the issue is occurring?

On Sat, May 18, 2019 at 4:49 PM Mehmet Ali <notifications@github.com> wrote:

[2019-05-20 16:11] stowy commented on #916
Hi, please provide a stack trace, also which devices and API versions is this occurring on? And this is happening with version 3.17.0?  Please reopen with relevant information.

[2019-05-20 16:11] #916 closed

[2019-05-20 17:56] sjvc commented on #910
I'm having exactly the same issue. Any news?

[2019-05-20 19:33] pablorengo commented on #901
Thanks @stowy, there's no delay after updating to version 3.17.0

[2019-05-20 19:33] #901 closed

[2019-05-21 08:04] sjvc commented on #910
I fixed it by replacing `<androidPackage spec="com.google.ads.mediation:unity:3.0.0.2">` with `<androidPackage spec="com.google.ads.mediation:unity:3.0.1.0">` in the file `GoogleMobileAds/Editor/UnityMediationDependencies.xml`

[2019-05-21 09:36] pasq opened #918 "iOS crashes with IronSource adapter"
Hi,

We're getting multiple crashes with IronSource adapter, either when requesting an ad or when it fails to load. Please take a look:

Crash 1:

Thread 0 name:
Thread 0 Crashed:
0   libobjc.A.dylib               	0x00000001812157ec objc_object::release() + 8 (objc-object.h:161)
1   brickroyale                   	0x0000000101496bf8 -[GADMAdapterIronSourceRewardedAd requestRewardedAd] + 440 (GADMA

[2019-05-21 16:38] Olszewskim opened #919 "Unity Ads mediation is crashing on iOS devices"
Our team has serious problem with Unity Ads mediation adapter on iOS. Application is crashing every time when user has closed it. It gives error:

`
objc[1216]: Cannot form weak reference to instance (0x280fc8ab0) of class GADMAdapterUnityRewardedAd. It is possible that this object was over-released, or is in the process of deallocation.
`

Ad is playing correctly. We are using Unity 2017.4.27f1 a

[2019-05-21 20:16] rotter opened #920 "Latest Native Plugin - cant build on Android"
I have downloaded the latest beta plugin for Native Ads today (unfortunately native plugins dont have version on their zip filename) and I am unable to build on Android.

I get the following errors:
GoogleMobileAds_2.cpp:32726: error undefined reference to 'GADURelease'
GoogleMobileAds_2.cpp:32728: error undefined reference to 'GADUCreateSmartBannerView'
GoogleMobileAds_2.cpp:32740: error undefine

[2019-05-21 20:28] stowy commented on #920
Hi,

This is odd because those symbols are only defined in the iOS plugin.

Can you try removing all GoogleMobileAds code and re-importing?

On Tue, May 21, 2019 at 1:16 PM rotter <notifications@github.com> wrote:

[2019-05-21 20:35] rotter commented on #920
I have returned to the old plugin and it still doesnt build (with the same error), so something else is messed up. I will investigate a bit more and write back.

[2019-05-21 21:06] rotter commented on #920
Ok, now it worked on the old version, still havent tested on the new version but it should work as well. I deleted the Library and Obj folders from my project to clear the cache/compiled files/etc.

This problem happened when I tried to upgrade the plugins, but first I forgot I was using the beta plugin, so I installed the regular one (which has the iOS GADU* files), then it gave me compile errors

[2019-05-22 10:10] mtahiriqbaluet opened #921 "App Crashes when Admob Interstitial AD doesn't appear!"
Hi, I've implemented Admob ADs using the latest Google Mobile ADs SDK (v3.16),  I've thoroughly checked my implementation with extreme care & it is 100% according to the documentation.

The issue I'm facing is that, **my app crashes on the point where admob interstitial ad is suppose to appear and it doesn't appear**. As long as the interstitial ads keep appearing, the app runs fine, but as soon a

[2019-05-22 10:47] mtahiriqbaluet commented on #910
Hi @dannykay1, does the solution provided by @sjvc solved your problem? Just asking as I'm facing the same crash problem in my app! Looking forward to your help @stowy!

[2019-05-22 13:45] ceceomer opened #922 "Admob App Id initialize"
Hello,
İ want to ensure which app id preferential.
For example, there are two different app id in the project. One of them in manifest.xml and other one in initialize script (MobileAds.Initialize(appId);) so which one will be used by sdk?
Thanks.

[2019-05-22 15:22] stowy commented on #910
We're looking into this and will provide an update here when resolved.

On Wed, May 22, 2019 at 3:48 AM mtahiriqbaluet <notifications@github.com>
wrote:

[2019-05-22 15:36] dannykay1 commented on #910
Thanks for the response.  I have not tried the fix yet, as I am adding new mediation

[2019-05-22 16:25] NautisShadrick commented on #855
I'm having the same Issue have you figured it out yet?

[2019-05-22 17:28] stowy commented on #855
What version of Unity are you using?

On Wed, May 22, 2019 at 9:25 AM NautisShadrick <notifications@github.com>
wrote:

[2019-05-22 17:34] duhaonur commented on #855
I think I reinstalled windows to solve this problem

[2019-05-22 18:29] PayandaOnline opened #923 "Unity 2019 - IL2CPP Builded Android App Not Showing Ads"
GoogleMobileAds-v3.17.0 (Bug)
Ads don't work when I get il2cpp build with unity 2019.1.0f2. It works with mono when I get it build. what can we do to solve this problem?

[2019-05-22 22:28] stowy commented on #910
Confirming this was fixed in version 3.0.1.0 as per @sjvc comment. We will update the dependencies in the Unity package.

[2019-05-23 00:14] rotter commented on #920
Today when I tried to build, same problem happened. Then I deleted the same folders and it's building again (I have built 2-3 times already and it worked fine, I have even closed/reopened Unity and also building fine). Something is off somewhere. If I get any updates I will post.

[2019-05-23 09:02] liang1020 opened #924 "applovin adapter on android doesn't work"
I have Unity 2018.3.2f1, downloaded AppLovin Adapter plugin for Google Mobile Ads SDK version 4.1.0 which supports AppLovin Android adapter version 9.2.1.1. and AppLovin iOS adapter version 6.3.0.0.

I setup like in integration guides: https://developers.google.com/admob/unity/mediation/applovin

When I run on IOS everything working properly, But when I did Android build and run it I got these err

[2019-05-23 10:36] AmitDigga opened #925 "Need help on implementing mediation on already published app."
So I have released my app with only Admob ads on playstore.

Now for the next update I will be adding Admob-UnityAds mediation. If I enable admob mediation in its console with proper settings, what will happen to previous users without admob mediation sdk for that network. Will they crash? Or they will only get admob ads not mediated ads?

[2019-05-23 15:00] rotter commented on #920
Same thing happened today, can't build once again.

I think it's related to PlayServicesResolver, every time this bugs happens I notice on git that "Assets/Plugins/Android/com.google.android.gms.play-services-ads-lite-17.2.0.aar" is modified.

[2019-05-23 16:44] rotter commented on #920
I checked the Editor Log (Console - Editor Log) to see the build log and noticed there were some temporary filed being used in /var/folders/.../

So I went there and deleted everything, tried to build again and it worked.

Will continue monitoring to see if it was an old/bugged file, or if it gets recreated from time to time and causes the problem again.

[2019-05-23 17:55] stowy commented on #925
These users will only get AdMob ads since you won't have included the
client libraries for the mediated ads.

On Thu, May 23, 2019 at 3:36 AM AmitDigga <notifications@github.com> wrote:

[2019-05-24 01:13] HiveXStudio commented on #902
Hi stowy, thank you for your reply.

I have tried installing version 3.17.0 but the problem still persists.

[2019-05-24 14:02] rotter commented on #920
Same build problem happened later yesterday, and now again. I am deleting the Libraries and Obj folders from my project (instead of /var/folders/something/) and it works again. I will now completely stop using the new Admob plugin version and see the problem stops over the next days.

[2019-05-24 16:25] stowy commented on #920
This issue doesn't make sense to me. Are you able to provide a reproducing
project? Can you screenshot the import screen when you add the plugin? I
don't fully grasp how it is that I haven't seen this issue in my local
testing.  It sounds to me like the iOS CS code is somehow getting compiled
into the Android code.  But this was not happening to me. Are you using
Mono or IL2CPP?

On Fri, May 24, 2

[2019-05-24 16:47] rotter commented on #920
Thanks for the reply. I havent reopened the issue yet because I cant fully put the blame on the new version of the plugin, it could be a Unity bug or something else. The final test is the one Im doing now which is to revert the plugin to the old version(3.16.0.1 I think) and see if the problem fully stops.

Some specs:
- IL2CPP
- .NET 4.x
- Im on a Mac OSX
- PlayServiceResolver was .111 until yest

[2019-05-24 17:53] stowy commented on #920
Ok IL2CPP could be the issue. I haven't verified the plugin with IL2CPP.

On Fri, May 24, 2019 at 9:47 AM rotter <notifications@github.com> wrote:

[2019-05-25 01:21] rotter commented on #920
I have reverted the plugin to 3.16.0.1 and am still getting the same build problem, so it seems it's not related to the new plugin version.

One thing that occurred to me that I have recently enabled for this project is "App Bundle". Maybe this could be the culprit?

[2019-05-25 04:09] #910 closed

[2019-05-26 13:11] Opeth001 opened #926 "Admob Server to Server CallBacks are not sent"
Hello
i have integrated Unity Admob ads plugin,  everything is working using the new rewarded ads api but im not able to receive the callbacks from admob servers.
can someone confirm it's working for him ?

[2019-05-27 07:13] halfdevil commented on #926
Hello,

I have tested this and it is working fine for both Android & iOS. If you are facing this issue only in iOS, then the issue was with the admob server and now they have fixed it.

Thanks

[2019-05-27 09:37] Opeth001 commented on #926
Thank You!!! @halfdevil
i was testing in android using version 3.17.

can you please share an example of your code and the link you added to the server ?
im facing this problem from one week now :(

[2019-05-27 13:30] PinkPanter commented on #914
I changed versions in GoogleMobileAds/Editor/IronSourceMediationDependencies.xml to
`
    <androidPackage spec="com.google.ads.mediation:ironsource:6.8.4.1">
    <androidPackage spec="com.ironsource.sdk:mediationsdk:6.8.4">
`

And it works now

[2019-05-28 02:44] PayandaOnline commented on #923
I Found Solution.
Problem is IL2CPP Stripping.
"GoogleMobileAds\Platforms\GoogleMobileAdsClientFactory.cs" Script Edited And Added PreserveAttribute.
https://docs.unity3d.com/ScriptReference/Scripting.PreserveAttribute.html

Edited Script is Here; http://pasted.co/65aa0f02

[2019-05-29 13:56] rotter opened #927 "3.17 crashes on some devices with nativeRestartActivityIndicator"
After I updated to 3.17.0 last week I started getting lots of new crashes upon launch (and bad reviews etc), but the stacktrace dont point to AdMob, so it took me a while to figure it out.

Today I reverted AdMob to 3.16 and it started working on a test device I have (which was crashing before), so I believe the problem is indeed AdMob 3.17. I will roll to production now to gather more data and se

[2019-05-29 14:29] #927 closed

[2019-05-29 14:29] rotter commented on #927
It started working again with 3.17 on my test device, so I dont know if the problem is due to AdMob. If I get more evidence I will reopen.

[2019-05-30 05:17] MuhammadWaqasOfficial opened #928 "Crash Rate Drastically Increase From v 3.16 To Onward"
So we replace admob sdk with v3.16, v3.17 and crash rate increase. Its like horizontal line in google play dashboard. Lot of other developers experience same issue.
Everything is implemented correctly.
Also game crashes when interstitial ad is closed. (Tested on multiple android devices).
Game also wont run sometimes when interstitial ad won't appear.

[2019-05-30 05:42] JelmHoek commented on #919
I have the same issue, did you resolve this?

[2019-06-01 17:12] DennisVoelk opened #929 ""Requested value 'X86' was not found." when trying to resolve android."
Using Unity 2019.3.0a3 with the Android Developer Tools from Unity Hub.

Console Log:

Stopped polling job due to exception: System.ArgumentException: Requested value 'X86' was not found.
  at System.Enum+EnumResult.SetFailure (System.Enum+ParseFailureKind failure, System.String failureMessageID, System.Object failureMessageFormatArgument) [0x00023] in <23c160f925be47d7a4fd083a3a62c920>:0
  at Sys

[2019-06-03 09:01] stowy commented on #928
Hello, can you please provide more details about crashes - ie stack traces, any specific android API version, and specific devices?  When you say a lot of other developers experience this issue, please can you provide more detail - where else are you seeing this reported?

[2019-06-03 09:04] matie commented on #928
Facing same problems here.

Since last week, jar resolver update, it is a huge issue. I haven't changed code related to advertising. Both are banner related.

Calling .Hide() on a banner causes a hard app crash. It says something about that ad size and unity id must be set first, but they are set. The banner is visible.

![Screenshot 2019-06-03 at 10 52 13](https://user-images.githubusercontent.co

[2019-06-03 09:38] stowy commented on #923
Sounds good, thanks @PayandaOnline - do you want to create a pull request?

[2019-06-03 09:44] stowy commented on #926
hi @Opeth001 - if you are continuing to have trouble, for support debugging your apps, can we request that you make a request on our [support forum]https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) at https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines - they will be able to help debug your issue with you efficiently.

Generally these issues

[2019-06-03 09:45] #926 closed

[2019-06-03 10:06] stowy commented on #928
This is odd. Can you please provide a sample reproducing the crash - also what version of the plugin and versions of Android, etc are you using? I've have not seen this crash in testing.

[2019-06-03 11:26] matie commented on #928
Found the issue. I occasionally initialised the banner with an empty (null) unit ID string. Before, the banner load failed callback solved the issue, but now it crashes the app.  My fault, but maybe you could log a warning/exception or something when creating the BannerView object, in stead of the current crash which occurs when running .loadAd

[2019-06-03 11:44] PayandaOnline commented on #923
Of course I would be happy to help.
I'm creating a pull request immediately.

[2019-06-03 16:56] AllanRW commented on #911
Same here, only with IL2CPP.

Unity 2019.1.5f1

[2019-06-03 17:35] AllanRW commented on #911
After reinstalling admob plugin, force resolve libraries and restarting Unity it works with IL2CPP.

[2019-06-03 20:13] AllanRW commented on #911
ok, I could reproduce the problem, just restarting Unity after changing from mono to IL2CPP fixed it.

[2019-06-05 15:46] adamjsutcliffe opened #931 "OnAdLeavingApplication callback not firing on Android"
I'm having an issue with the OnAdLeavingApplication callback not firing for Interstitials and Rewarded Videos on Android. The same code works fine on iOS devices. When clicking an ad it takes me to the play store but no callback is fired? All the other callbacks work fine.

`this.interstitial.OnAdLeavingApplication += this.HandleInterstitialLeftApplication;`
`this.rewardBasedVideo.OnAdLeavingAppli

[2019-06-06 15:40] UragayalaDeepika commented on #931
@adamjsutcliffe Can you try with our [sample app](https://github.com/googleads/googleads-mobile-unity/tree/master/samples) and see if you are able to reproduce the issue?

[2019-06-06 15:52] UragayalaDeepika commented on #928
@matie Closing this. Feel free to reopen if you still have any issues.

[2019-06-06 15:52] #928 closed

[2019-06-06 15:54] UragayalaDeepika commented on #925
@AmitDigga Closing this. Feel free to reopen if you have any other questions.

[2019-06-06 15:54] #925 closed

[2019-06-06 21:19] DarkFlameDX commented on #919
+1

[2019-06-07 04:04] AsifNaeem1 opened #932 "App crashed when a function is called in Rewarded video Reward Event"
When ever I try to call a function in Rewarded video Reward, App crashed. But it works fine if I create a event for this.

[2019-06-10 12:57] wheatleyscience opened #933 "banner and inter ads doesn't work on mobile unity 2019.1"
Hi,

I am trying to implement google ads. I get normal debug logs in editor. But when i try at android phone, i don't get any banner or inter ads.

[2019-06-10 21:23] stowy commented on #919
This should be fixed in the latest update of UnityAds mediation - 3.1.0.0.

[2019-06-10 21:23] #919 closed

[2019-06-10 22:11] UragayalaDeepika commented on #933
@wheatleyscience Have you tried with our [sample apps](https://github.com/googleads/googleads-mobile-unity/tree/master/samples)? You can run Android Studio and connect your device to get all of your app/device logs in the logcat  and know when an ad is loaded. You can find additional instructions on how to use logcat [here](https://answers.unity.com/questions/492681/how-to-use-adb-logcat.html).

[2019-06-11 02:03] lmjssjj commented on #645
i have same problem ...please help mepersevereperseverepersevere

[2019-06-12 10:55] MuhammadWaqasOfficial commented on #922
also want to know the answer.

[2019-06-12 10:56] MuhammadWaqasOfficial commented on #922
as far i know. we have to use only one of them. if you initialize it with MobileAds.Initialize(appId) you will false it in manifest file.
else if you init with manifest then don't init with MobileAds.Initialize(appId).

[2019-06-12 14:57] yinnie opened #934 "Duplicate entry: com/google/android/gms/ads/internal/zzc.class"
Issue when integrating an early access build with GMA Android SDK version and a custom GoogleMobileAds Unity plugin.

Before updating, have firebase + admob working with GoogleMobileAds SDK 15.0.

With the addition of the custom SDK AARs (as instructed for all early access builds), we removed the `play-services-ads-xx` AARs that were in the Android plugins folder but this conflict is still happeni

[2019-06-12 15:41] AllanRW commented on #920
I'm also facing the same issues, I've have to restart Unity to fix the issue...
I'm also using IL2CPP, App bundle, don't import Google.MiniJson.dll because of Firebase, Unity 2019.1.5f1

[2019-06-12 16:03] rotter commented on #920
I havent updated this thread because Im focusing on other games which dont use Native Ads plugin so I dont have this problem on them... but I believe the plugin is indeed with problems. Can any dev confirm?

[2019-06-12 16:06] stowy commented on #920
I believe this is IL2CPP specific, and a developer has created a pull request that they believe resolves the issue here - https://github.com/googleads/googleads-mobile-unity/pull/930.  Can you test and see if this helps?

[2019-06-12 16:26] stowy commented on #922
you need both for now. The next GMA SDK release will have an initialize call that doesn't require an app id.

[2019-06-12 16:26] #922 closed

[2019-06-12 16:59] stowy commented on #887
Hi, just an update that the settings menu is available in the code now but not yet released. See https://github.com/googleads/googleads-mobile-unity/tree/master/source/plugin/Assets/GoogleMobileAds/Editor. If you copy these files into your project, you should see the settings menu.

[2019-06-12 21:09] AllanRW commented on #920
I've tested with the #930 pull request but it doesn't fix the issue, same errors.

[2019-06-13 04:17] #934 closed

[2019-06-13 08:14] Thaina commented on #887
@stowy

That's great, thank you very much

I think we should also have an alert when the appID is missing or not in correct format. Because it take too times to build unity and just because a little config the build just crash should not be acceptable. This config is too crucial

[2019-06-13 08:43] Duobix opened #935 "Fatal exeption at $Proxy8.onAdFailedToLoad"
java.lang.Error: FATAL EXCEPTION [Thread-2265]
Unity version     : 2018.3.12f1
Device model      : samsung SM-G610F
Device fingerprint: samsung/on7xeltedd/on7xelte:8.1.0/M1AJQ/G610FDXU1CRK1:user/release-keys
Caused by
  at com.unity3d.player.ReflectionHelper.nativeProxyInvoke (Native Method)
  at com.unity3d.player.ReflectionHelper.a (Unknown Source)
  at com.unity3d.player.ReflectionHelper$1.invo

[2019-06-13 08:45] Duobix opened #936 "FATAL EXCEPTION at $Proxy8.onAdLoaded"
java.lang.Error: FATAL EXCEPTION [Thread-324]
Unity version     : 2018.3.12f1
Device model      : OPPO CPH1801
Device fingerprint: OPPO/CPH1801/CPH1801:7.1.1/NMF26F/1554709617:user/release-keys
Caused by
  at com.unity3d.player.ReflectionHelper.nativeProxyInvoke (Native Method)
  at com.unity3d.player.ReflectionHelper.a (Unknown Source)
  at com.unity3d.player.ReflectionHelper$1.invoke (Unknown So

[2019-06-13 12:46] Duobix opened #937 "Incompatibility with Android -"
Hi, my recent game build got identified as using nonsupported version of some APIs.
Below are the stack traces I got from google play console's report, how can I solve those issues?
Thanks in advance.

stack trace 1:
StrictMode policy violation: android.os.strictmode.NonSdkApiUsedViolation: Ljava/nio/Buffer;->address:J
	at android.os.StrictMode.lambda$static$1(StrictMode.java:428)
	at android.os.-

[2019-06-13 13:11] Duobix opened #938 "Fatal Exception on java.lang.IllegalStateException of.onTransact"
Google Play reports a following issue - how can I go about solving this?

java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2018.3.14f1
Device model      : motorola moto g(6)
Device fingerprint: motorola/ali_vzw/ali:8.0.0/ODSS27.104-95-6/6:user/release-keys

Caused by
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2972)
  at android.app.ActivityThread.handleLa

[2019-06-13 14:36] qbit86 opened #939 "[iOS] `RewardedAdClient.RewardedAdDidFailToShowAdWithErrorCallback` raises wrong event"
Method `RewardedAdClient.RewardedAdDidFailToShowAdWithErrorCallback()` [raises](https://github.com/googleads/googleads-mobile-unity/blob/976808af5e4259abce9c68944970e8d636c274ad/source/plugin/Assets/GoogleMobileAds/Platforms/iOS/RewardedAdClient.cs#L191) wrong event `OnAdFailedToLoad` — expected `OnAdFailedToShow`.

`Externs.GADUSetRewardedAdCallbacks()` should probably receive `adFailedToShowCall

[2019-06-13 14:38] qbit86 opened #940 "[Android] RewardedAdClient.onRewardedAdFailedToShow checks wrong event"
Method `RewardedAdClient.onRewardedAdFailedToShow()` [checks](https://github.com/googleads/googleads-mobile-unity/blob/976808af5e4259abce9c68944970e8d636c274ad/source/plugin/Assets/GoogleMobileAds/Platforms/Android/RewardedAdClient.cs#L113) wrong event `OnAdFailedToLoad` — expected `OnAdFailedToShow`.

[2019-06-13 14:42] PayandaOnline commented on #920
Go to Player Settings Select "Managed Stripping Level" to "Low" and Rebuild Your App.
 I'm waiting your reply.

[2019-06-13 17:30] #940 closed

[2019-06-14 02:49] QuanHuynhM opened #941 "Admob cannot run when update to Scripting Runtime Version .NET 4x"
Hello
I cannot call Request Banner/Interstitial or anything after I call MobileAds.Initialize(appID).

I still run it when I use Scripting Runtime Version .NET 3x but when I update to 4x, everything not works. Please help me!

[2019-06-14 03:46] #941 closed

[2019-06-14 17:44] stowy commented on #939
This is submitted and is updated in the code, but pending release.

[2019-06-14 17:44] #939 closed

[2019-06-15 18:35] AllanRW commented on #920
I already have this setting, but today I've done more than 10 builds and didn't get the errors, but I haven't done any important changes on project, will keep testing through next week.

[2019-06-15 18:58] AllanRW opened #942 "Rewarded video closes itself"
After playing a reward video(or cancel it before reward), then if I request to play another one on sequence it start to play the video and close itself after 1 or 2 seconds, its not everytime but very frequent.
Here is the logcat error:

2019/06/15 19:26:42.125 5082 5100 Error System: Uncaught exception thrown by finalizer
2019/06/15 19:26:42.125 5082 5100 Error System: android.view.ViewRootImpl$C

[2019-06-15 21:09] AllanRW commented on #920
Just got the errors again after a few more builds, I've only made script changes on the project.

[2019-06-16 09:57] Weesals opened #943 "LoadAd freezes indefinitely on Android 5.1.1 with 16-bit back buffer."
The game will often freeze when calling RewardedAd.LoadAd() or a short time afterwards, when the game was built with "Blit Type" set to "Auto" (or "Never") and "Use 32-bit Display Buffer" turned off.

The bug happens fairly regularly on a ZTE Blade D and a Google Nexus 10, both running Android 5.1.1. However I have been unable to reproduce it on Android 7.1.1 or Android 9, so I think it may be lim

[2019-06-17 01:48] anhdung31793 opened #944 "java.lang.Error aam.a"
Hi, I got this crash from Google Play report. It makes the game crashes. Can you tell me how to fix it?
Thanks.
  at java.lang.Thread.nativeCreate (Native Method)
  at java.lang.Thread.start (Thread.java:730)
  at java.util.concurrent.ThreadPoolExecutor.addWorker (ThreadPoolExecutor.java:941)
  at java.util.concurrent.ThreadPoolExecutor.execute (ThreadPoolExecutor.java:1359)
  at com.google.androi

[2019-06-17 23:58] stowy commented on #942
Thanks for reporting, this is a known issue and the fix should be rolling out in an upcoming version in the next couple of weeks.

[2019-06-18 14:40] UragayalaDeepika commented on #937
@Duobix This is a known issue and our team is investigating the root cause for these ANRs. Can you please open a new thread on our [Mobile Ads SDK Forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk) so that we can keep you posted about the latest updates that we receive from our team and assist you further?

[2019-06-18 14:45] UragayalaDeepika commented on #938
@Duobix Can you please reachout on [Google Mobile Ads SDK Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) and open a new thread so that our team can assist you with this issue?

[2019-06-18 15:12] UragayalaDeepika commented on #936
@Duobix Are you able to reproduce the issue with our [sample apps](https://github.com/googleads/googleads-mobile-unity/tree/master/samples/HelloWorld)? Can you please share the code snippets of your implementation for us to take a look?

[2019-06-18 15:17] UragayalaDeepika commented on #932
@AsifNaeem1 Hello Can you please share the code snippets of your implementation for us to take a look?

[2019-06-18 15:30] UragayalaDeepika commented on #924
@liang1020 Are you still having this issue? Can you please make sure that you are on the latest version of the SDKs, adapters and try again?

[2019-06-18 15:33] UragayalaDeepika commented on #749
@Piotr12 Can you please check with the latest verison and let us know?

[2019-06-18 15:34] UragayalaDeepika commented on #751
@devingDev Can you please try with the latest version and let us know?

[2019-06-18 15:35] UragayalaDeepika commented on #779
@mgrogin Closing this issue. Please comment if you are still able to reproduce the issue and provide us the requested details.

[2019-06-18 15:35] #779 closed

[2019-06-18 15:37] UragayalaDeepika commented on #794
@VincentBaillet @itayganor Can you please try with the latest verison of the plugin and let us know?

[2019-06-18 15:39] UragayalaDeepika commented on #802
@FaiyazMdAbdul Feel free to comment and let us know if you are still having this issue with the latest verison of the SDK.

[2019-06-18 15:39] #802 closed

[2019-06-18 15:41] UragayalaDeepika commented on #806
@querywilly @pz789as Can you please try version 3.17.0 and let us know if you are still seeing this issue?

[2019-06-18 15:49] UragayalaDeepika commented on #825
@dylsg Feel free to comment here if you still have an issue. Closing this thread for now.

[2019-06-18 15:49] #825 closed

[2019-06-18 15:51] UragayalaDeepika commented on #822
@muhammadfar Please comment on the thread if you need support on this issue. We will reopen this. Marking this as closed for now.

[2019-06-18 15:51] #822 closed

[2019-06-18 15:54] UragayalaDeepika commented on #829
@nitzanwilnai Please comment here if you are still having this issue. We will reopen this and will assist you further. Marking this as closed for now.

[2019-06-18 15:54] #829 closed

[2019-06-18 20:12] querywilly commented on #806
it is ok.
not problem 3.17

[2019-06-19 06:27] AsifNaeem1 commented on #932
In Start Function I'm calling
AdmobRequestRewardBasedVideo();

`//REWARD BASED VIDEO AD
    public void AdmobRequestRewardBasedVideo()
    {

        // Get singleton reward based video ad reference.
        this.rewardBasedVideo = RewardBasedVideoAd.Instance;

        // Called when an ad request has successfully loaded.
        rewardBasedVideo.OnAdLoaded += HandleRewardBasedVideoLoaded;

[2019-06-20 11:34] rigby00 commented on #904
Problem not solved.

[2019-06-20 14:48] mubshar1 opened #945 "Can't build with Admob + OneSignal"
Description:

build failed using the latest version of  Admob and one signal.
Execution failed for task ':processReleaseManifest'.

Manifest merger failed : Attribute application@appComponentFactory value=(androidx.core.app.CoreComponentFactory) from [:androidx.core.core-1.0.0:] AndroidManifest.xml:22:18-86
is also present at [:com.android.support.support-compat-28.0.0:] AndroidManifest.xml:22:18-

[2019-06-20 19:58] stowy commented on #904
@rigby00  for support debugging your apps, can we request that you make a request on our [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) at https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines - they will be able to help debug your issue with you efficiently.

When posting to the forum, please also provide specific details i

[2019-06-20 19:58] #904 closed

[2019-06-21 04:01] nostel commented on #914
Thank @PinkPanter
This solution worked.

[2019-06-21 04:01] #914 closed

[2019-06-21 11:21] Enekiller opened #946 "3.18 deletes meta-data from admob manifest"
The mandatory meta-data content including the AdMob app ID is automatically deleted when building for Android

`<meta-data
    android:name="com.google.android.gms.ads.APPLICATION_ID"
    android:value="[INSERT ADMOB APP ID HERE]"/>`

Obviously the app crashes at startup becaouse AdMob needs that info fot initialize.

[2019-06-21 13:56] adamjsutcliffe commented on #931
I've tried with the sample app and they fire fine there. I've now done a rebuild of my project and they now seem to run fine with test ads. Am about to run a test in live now.

[2019-06-21 14:03] rigby00 commented on #946
You need to add app id in here;
Assets > Google Mobile Ads > Settings

[2019-06-21 14:34] dayjur commented on #946
You can add App ID via Assets > Google Mobile Ads..
But still crashes with unable to get provider Invalid Application ID

[2019-06-21 16:20] stowy commented on #946
Please review [the documentation](https://developers.google.com/admob/unity/start#set_your_admob_app_id) at https://developers.google.com/admob/unity/start#set_your_admob_app_id, and let us know if there are any issues.

[2019-06-21 16:20] #946 closed

[2019-06-21 19:51] ssoher opened #947 "Interstitial / Rewarded Ads Finalize crash."
[code]

[2019-06-22 02:28] dayjur opened #948 "Interstitials and rewarded not showing IOS ad mediation"
Using 3.17.0 and latest mediation adapters
I have Unity Admob, ADS,In Mobi and chartboost set up everything.
On Android Banner Ads, Interstials and Rewards show from the different networks.

However after switching to IOS can only get banners to show from different networks
Interstials and Rewards only show from Admob no other networks
and do not see any ad reqauests in xcode console output for In

[2019-06-23 13:20] wheatleyscience commented on #933
hi, i tried with sample project and everything was working and i only changed ad ids from the sample project now i have a same problem. google ads wont show any rewarded and banner ads, only interstitials.

[2019-06-23 15:55] SeharshS opened #949 "IL2CPP shows live ads with .AddTestDevice("<Device_ID>")"
Building app using mono and .AddTestDevice("<Device_ID>") shows test ads but when building using IL2CPP and .AddTestDevice("<Device_ID>") it shows live ads. At first I thought the ads were test ads because I've read that some test ads don't show the "test" box (correct me if I'm wrong) but it was happening all the time so I got suspicious. I checked the admob console and I saw request being made f

[2019-06-24 03:41] dayjur opened #950 "SmartBanner mediation issue"
If I use a smart banner I wont get any impressions from many networks as they don't support it
is it possible to include a fallback in that if network dont support it can display standard banner instead of nothing ?

[2019-06-24 13:15] dayjur opened #951 "IronSource Meidation plugin Banner Ads wont fire"
Im getting 009 Class mismatch in log when attempts to get iron source banner ad
Ive tried with Banner and Smart Banner

[2019-06-24 15:21] UragayalaDeepika commented on #933
@wheatleyscience Can you please open a thread on our [support forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) and share your Ad unit Ids and complete device logs so that our team can take a look and assist you further?

[2019-06-24 15:23] #618 closed

[2019-06-24 15:40] #806 closed

[2019-06-24 16:04] #951 closed

[2019-06-26 09:36] Kirk-C opened #952 "Latest version paired with latest Google Play Games plugin causes a crash on GPG Authentication"
I've tested on my device with previous versions which resolve the issue.

Tested from a new project using just this plugin and GPG plugin.

https://github.com/playgameservices/play-games-plugin-for-unity/issues/2611

[2019-06-26 20:10] UragayalaDeepika commented on #932
@AsifNaeem1 I would suggest that you not to fetch for the existing instance of RewardedVideo and instead only call -

this.rewardBasedVideo.LoadAd(this.CreateAdRequest(), adUnitId);

when HandleRewardBasedVideoClosed() callback is fired. This should resolve the issue. If not, then send us complete crash logs and we will be able to debug this further.

[2019-06-26 20:17] UragayalaDeepika commented on #729
@SozapBo I'm unable to reproduce this memory leak when using the latest version of the Unity plugin and using Instruments to test. You can notice in the attached screenshot that the memory that was utilized when the Interstitial was requested and shown is later flushed when it is closed and/or destroyed. I'm unable to reproduce any memory leaks.
![2019-06-24](https://user-images.githubusercontent.

[2019-06-26 22:53] AllanRW commented on #942
I've tried the version 3.18 and have the same issue, any ETA for the next release?
 I'm getting some bad reviews because of this issue... :(

[2019-06-27 08:22] pozdno opened #953 "IPreprocessBuild' is obsolete: 'Use IPreprocessBuildWithReport instead"
ManifestProcessor.cs(18,34): warning CS0618: 'IPreprocessBuild' is obsolete: 'Use IPreprocessBuildWithReport instead'
What need to do?

[2019-06-27 12:42] AllanRW commented on #942
After implemented the new beta API it seems to work fine now,  I'm just getting a warning everytime I close the rewarded video:

2019/06/27 13:37:51.588 16951 16951 Warn MessageQueue: Handler (android.os.Handler) {b179ca1} sending message to a Handler on a dead thread
2019/06/27 13:37:51.588 16951 16951 Warn MessageQueue: java.lang.IllegalStateException: Handler (android.os.Handler) {b179ca1} send

[2019-06-28 06:05] AsifNaeem1 commented on #932
Helo @UragayalaDeepika! You mean that in HandleRewardBasedVideoClosed() I need to call
`this.rewardBasedVideo.LoadAd(this.CreateAdRequest(), adUnitId);`
rather then calling

[code]

[2019-06-28 15:31] UragayalaDeepika commented on #847
@UnityKR Are you still seeing this issue using the latest version? If yes, are you able to reproduce the issue locally? Can you please provide us the steps to reproduce the issue?

[2019-06-28 15:35] UragayalaDeepika commented on #842
Closing this issue. Please comment if you would want us to take a look into this again.

[2019-06-28 15:35] #842 closed

[2019-06-28 15:36] UragayalaDeepika commented on #843
Closing this. Feel free to comment if you need any help on this. We will reopen the issue.

[2019-06-28 15:36] #843 closed

[2019-06-28 15:38] UragayalaDeepika commented on #845
Hello all,

Are you still seeing this issue with the latest version?

[2019-06-29 05:03] SeyeonSoft opened #954 "Banner Ads not showing on iPad"
Hello,
Banner Ads not showing on iPad.
My development environment is as follows.

1. Unity : 2017.4.29f1
2. Google Mobile Ads Unity Plugin : v3.18
3. iPad pro2 10.5"
4. Banner option : AdSize.Banner, AdPosition.Top

Banner Ads are showing on iPhone, but it's not showing on iPad.
I tested my several games but all banner ads are not showing on the iPad.

Thank you.

[2019-06-29 15:51] pablorengo opened #955 "GoogleMobileAds initialization ANR"
<img width="744" alt="Screen Shot 2019-06-29 at 12 24 15" src="https://user-images.githubusercontent.com/2294911/60386361-4f59b200-9a6a-11e9-9062-ba3022e08e57.png">

<img width="927" alt="Screen Shot 2019-06-29 at 12 24 56" src="https://user-images.githubusercontent.com/2294911/60386362-4f59b200-9a6a-11e9-98a6-e69ef0d25c05.png">

Hi!! Searching for this ANR I found this conversation in Google Mobi

[2019-06-29 17:53] ChaserKnight commented on #947
I am also having similar crashes in Play Console vitals. Using plugin version 3.17.0. Is there any update on this issue? Or is it fixed in the latest version 3.18.0?

[2019-06-29 18:09] wooden-coder opened #956 "How to save Google ads banner while leaving scene?"
I have an advertisement banner in my android game **in the game menu.**
Player leaves game menu to play game and then comes back to the menu to choose game level he wants **quite often** (can be 3 times a minute).
How to save banner from destroying and display it again only when the player comes back to the menu?

_**Why?**_ I don't wanna request a new banner each time, it looks like a bad practic

[2019-06-29 18:16] Antivortex opened #957 "Can not build android using latest version of AdMob with latest FirebaseAnalytics"
Hello.

I am trying to build Firebase Analytics v6.1.0 with Google Mobile Ads Unity Plugin v3.18. If FirebaseAnalytics is 5.5.0 build runs without issues, if there is Firebase Analytics 6.1.0 but no Google Mobile Ads plugin imported, build runs without issues as well. Other android plugins exist in the project such as Branch, OneSignal. Fabric, FacebookSDK. I am also using latest PlayServicesResol

[2019-06-30 08:51] K0ST4S commented on #932
Having the same issue! The crash happens only if user is rewareded, after user closes the ad.
`public static ADManager Instance;

    public RewardBasedVideoAd rewardBasedVideo;
    public bool VideoLoaded = false;
    public string LatestReward = "";
    public bool Rewarded = false;
    private void Awake()
    {
        if (Instance == null)
        {
            DontDestroyOnLoad(gameObject);

[2019-06-30 09:51] QuanHuynhM opened #958 "Problem with Facebook Mediation latest version"
When I update Facebook mediation to the latest version. I can not build but everything ok when I use the old version. This is issues log:

ld: warning: arm64 function not 4-byte aligned: _unwind_tester from /Libraries/libiPhone-lib.a(unwind_test_arm64.o)
duplicate symbol _OBJC_CLASS_$_FBSDKTypeUtility in:
    /Build/Products/ReleaseForRunning-iphoneos/FBSDKCoreKit/libFBSDKCoreKit.a(FBSDKTypeUtilit

[2019-06-30 11:14] ciftciMert commented on #953
I have same problem

[2019-06-30 16:35] #868 closed

[2019-06-30 20:22] BEAKPICK commented on #853
I have a same problem. I put <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="[appId]" />
 to AndroidManifest.xml and suddenly app crashed. Something weird is the line I put in AndroidManifest.xml is deleted after build is done

[2019-07-01 04:31] praty007 opened #959 "Build error when using Facebook SDK with AdMob SDK"
Steps to Reproduce:

1. New android build project with Unity 2019.1.0f2.
2. Add FB SDK.
3. Add GoogleMobileAds package.
4. Build

Error
D8: Program type already present: android.support.customtabs.ICustomTabsCallback

Also, more information about issue on StackOverfow
https://stackoverflow.com/questions/56826901/unity3d-admob-integration-breaks-android-build-d8-program-type-already-presen

[2019-07-01 18:16] Tanek81 commented on #952
Same here, we had planned a release to update plugins (we are on 3.15.1 that is almost 1 year old and has many issues on Android 9) but we are currently unable to build as 3.17 has a rewarded ad bug and 3.18 has this issue. I think this is connected to the Androidx migration, but I haven't investigated further yet.

[2019-07-01 20:13] UragayalaDeepika commented on #932
@K0ST4S Can you run the build with Android Studio running and connect your device and check the logs and send us? We will be able to debug this further. Also, at what line does the crash occur in the provided code snippet?

@AsifNaeem1  Yes, that is correct.

[2019-07-01 22:20] stowy commented on #959
The latest plugin uses Android X. You should ensure play services resolver has use jetifier on, and also to clear your android libraries from your project before resolving dependencies, as the way the resolved operates has changed.

[2019-07-01 22:22] stowy commented on #853
Please set your app id using the settings editor ui -
https://developers.google.com/admob/unity/start#set_your_admob_app_id.

On Sun, Jun 30, 2019 at 1:22 PM BEAKPICK <notifications@github.com> wrote:

[2019-07-01 22:29] stowy commented on #957
Please try deleting all previously resolved libraries from your project,
and ensuring that you use the Play Services Resolver setting to use
Jetifier before resolving dependencies.  Play services resolver has changed
how it resolves dependencies and AndroidX support is needed for the latest
version.

Regards

Sam

On Sat, Jun 29, 2019 at 11:16 AM Antivortex <notifications@github.com>
wrote:

[2019-07-01 22:46] stowy commented on #952
Yes this would be related to update to AndroidX. You need to clear your
android libraries that were previously resolved and change the play
services resolver setting to use Jetifier, then resolve dependencies.

On Mon, Jul 1, 2019 at 11:16 AM Tanek81 <notifications@github.com> wrote:

[2019-07-01 22:50] stowy commented on #945
Please 'Delete Resolved Libraries' using Play services resolver, then
select 'Use Jetifier' and resolve dependencies. This should resolve the
issue.

[image: Screen Shot 2019-07-01 at 3.48.15 PM.png][image: Screen Shot
2019-07-01 at 3.48.22 PM.png]

On Thu, Jun 20, 2019 at 7:48 AM mubshar1 <notifications@github.com> wrote:

[2019-07-02 06:42] adrean1980 opened #960 "java.lang.Error : FATAL EXCEPTION"
hello
i just received this bug from users, the game only crash when install from play store and click open button for first time, but if i open the game after crash, it's works normal. also if i put the apk on device and install it's works normal

that's happen after i upgrade Google Mobile Ads from 3.16 to 3.18

Unity 2018.3.10
Google Mobile Ads Unity Plugin v3.18
Unity Monetization 3.1.0

this b

[2019-07-02 09:48] K0ST4S commented on #932
https://pastebin.com/Dx2Ha2cx

[2019-07-02 10:47] Tanek81 commented on #952
Hi @stowy , thank you very much for your reply, we are testing it and everything seems fine now.
To better understand this situation, was this specified anywhere? Could it be useful to add it in the Readme as this plugin seems to be one of the first that migrated to AndroidX?
Thank you 👍

[2019-07-02 17:48] AllanRW opened #961 "Can't build iOS with Firebase 6.1.1 and Admob 3.18.0"
I'm getting this error on build an iOS app:

Analyzing dependencies
[!] CocoaPods could not find compatible versions for pod "GoogleAppMeasurement":
  In Podfile:
    Firebase/Analytics (= 6.1.0) was resolved to 6.1.0, which depends on
      Firebase/Core (= 6.1.0) was resolved to 6.1.0, which depends on
        FirebaseAnalytics (= 6.0.1) was resolved to 6.0.1, which depends on
          GoogleAp

[2019-07-02 20:33] JoshNC opened #962 "Loading ad gives Internal error with newest version"
Title says it all. I followed the get started and rewarded ads tutorial on developers.google. In the past it always worked but now every version gives internal error problem. Also restarted device etc. The problem occurs with loading a test ad.

Also next to this problem I have the following error:
Assets\GoogleMobileAds\Editor\ManifestProcessor.cs(18,34): warning CS0618: 'IPreprocessBuild' is obs

[2019-07-02 21:08] kadirkoca opened #963 "INTERNAL F***** ERROR"
WHY HANDLER CANNOT RETURN SOME DETAILS ONLY INTERNAL ERRORS FROM MORNING I VE F* TRIED EVERY DIFFERENT WAY, DIFFERENT IDS EVERY F*** SHIT I VE TRIED BUT IVE GOT ONLY INTERNAL ERROR MESSAGE. BULLSHIT

[2019-07-02 23:01] stowy commented on #962
Are you using our test ads ad units? If so, the reason is that the test
account has been temporarily down for the last day or so. It should be back
up within 24 hours. Apologies for the inconvenience.

On Tue, Jul 2, 2019 at 1:33 PM JoshNC <notifications@github.com> wrote:

[2019-07-02 23:02] stowy commented on #961
I believe this is related to the minimum iOS version. You will probably
need to update the minimum ioS version in your player settings to 9.0.

On Tue, Jul 2, 2019 at 10:48 AM AllanRW <notifications@github.com> wrote:

[2019-07-02 23:05] stowy commented on #952
Thanks @Tanek81, good suggestion, I will attempt to get that done.

On Tue, Jul 2, 2019 at 3:48 AM Tanek81 <notifications@github.com> wrote:

[2019-07-02 23:09] stowy commented on #960
We have updated our quick start guide integration instructions
<https://developers.google.com/admob/android/quick-start#example_app-level_buildgradle_excerpt>
 and release notes  <https://developers.google.com/admob/android/rel-notes> to
address this issue.

Reproduced here:

To avoid a crash that occurs on first launch after app install from the
play store, this release requires publishers to dec

[2019-07-02 23:16] stowy commented on #953
IPreprocessBuildWithReport is not available on Unity 5.x, the Mobile Ads
SDK currently still supports Unity 5.x.

On Sun, Jun 30, 2019 at 4:14 AM ciftciMert <notifications@github.com> wrote:

[2019-07-03 15:09] AllanRW commented on #961
It's already set at 9.0

I've downgrade the Admob plugin to 3.17.0 and it build again

[2019-07-03 21:17] stowy commented on #961
Google Mobile Ads SDK should resolve to 7.46.0 with a up to date repo. I'm
not sure why it's resolving to 7.42.2? There's no Podfile.lock present?

On Wed, Jul 3, 2019 at 8:09 AM AllanRW <notifications@github.com> wrote:

[2019-07-03 21:22] stowy commented on #963
Sorry we can't assist with nonspecific issues such as this. In general you'll get a better response if you share specific problems that you're experiencing and ways to reproduce.

Additionally we have a [support forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) which is more actively maintained, please try posting there in future.

[2019-07-03 21:22] #963 closed

[2019-07-03 21:54] NilokiloxD commented on #961
i had exactly the same issue, ios target is set to ios 10 but cocoapods can not resolve due to the error described above with unity and facebook mediation package. Only solution was downgrade to firebase 5.7 :(

[2019-07-03 22:13] stowy commented on #890
Hi, I am unable to reproduce this on a samsung S8 using Android version
7.0, and Pixel 3 using Android 9.

Does it reproduce on any other devices? I don't have access to a Galaxy
S10. Haven't been able to repro in an emulator either.

On Mon, Apr 22, 2019 at 6:46 PM Radiogaga.jin <notifications@github.com>
wrote:

[2019-07-03 22:21] stowy commented on #961
Ok, I think this is because it refers to a patch release. If you change the
dependency to 'Google-Mobile-Ads-SDK', '~> 7.42' and then run pod update,
it will resolve the issue.

I'll need to update the dependencies in a new release. In the meantime,
please update the dependencies file in your project manually.

On Wed, Jul 3, 2019 at 2:54 PM Danilo Hoffmann <notifications@github.com>
wrote:

[2019-07-03 22:46] rnakrani opened #964 "Mobile Ads Settings scriptable object location is static, breaks when moved"
Hack fix below, but it appears to allow the settings scriptable object to be located anywhere in a Unity project, for anybody who likes to organize their files their own way in their project.

`using System.IO;

using UnityEditor;
using UnityEngine;

namespace GoogleMobileAds.Editor {

    internal class GoogleMobileAdsSettings : ScriptableObject
    {
        private string MobileAdsSettingsDir =

[2019-07-03 22:50] rnakrani opened #965 "Mobile Ads SDK breaks when putting it in a folder that has an Assembly definition file"
To hack a fix for this, you have to go anywhere the SDK currently uses runtime type information (RTTI) and replace "Assembly-CSharp" with the name of the assembly you created with the Assembly Definition File.

[2019-07-05 14:10] hardapps1692 commented on #881
This not working. App Still crashing with the same error.

[2019-07-06 07:29] #958 closed

[2019-07-06 12:40] SturgeonDu opened #966 "Request Interstitial Ads can not finish"
Hi everybody!!
my project incloud GooglePlay Games SDK and GoogleMobileAds.
so i found a interist interesting thing,if i set **RequestServerAuthCode(true)** in GooglePlay SDK,like this code:
`PlayGamesClientConfiguration config = new PlayGamesClientConfiguration.Builder()
            // enables saving game progress.
            ////.EnableSavedGames()
            // registers a callback to handle

[2019-07-06 16:01] Linovert commented on #953
Stowy that doesn't answer anything? I have version "2019.1.0f2" and it asks for IPreProcessBuildWithReport and then asks for a BuildReport method: .OnPreProcessBuild(BuildReport); ---> have no Idea what this is.

[2019-07-06 16:09] Linovert commented on #953
It seems the BuildReport now stores the "target platform" and the "outputPath" https://docs.unity3d.com/ScriptReference/Build.IPreprocessBuildWithReport.OnPreprocessBuild.html

But the old OnProcessBuild() method takes in a BuildTarget and a string (the path) -> those two items should now be stored in the BuildReport object?

https://docs.unity3d.com/ScriptReference/Build.Reporting.BuildReport.htm