[2018-01-03 09:36] arcv commented on #592
Öyle görünüyor. 3.8.0 paketini kurdum, sorun ortadan kalktı gibi duruyor. 3.9.0 paketinde de aynı sorun var.

[2018-01-03 20:17] SnnYsf commented on #592
3.8.0 da sorunlu ondada başka cihazlarda sorun cıkıyor  3.7 sanırım o hariç hepsinde aynı problemler var.

[2018-01-03 21:37] rampara commented on #572
@flashwade03 I'm unable to reproduce this issue on iOS at all. Can you provide me with a Unity project that reproduces the issue?

@sjvc are you only experiencing this issue on certain Android devices or across all devices?

[2018-01-03 21:48] sjvc commented on #572
I've tested it on several devices, but I'm only able to reproduce this
issue with an Acer Iconia Tab 8. And I've tested it several times on the
Acer tablet, but only two times the banner was shown at top. The other
times it was shown correctly (at bottom).

El mié., 3 ene. 2018 22:38, rampara <notifications@github.com> escribió:

[2018-01-03 21:48] rampara commented on #592
@arcv can you test with v3.10.0 of the plugin. I don't have access to a Note 4 running Android 6.0 but tested without issue on a Note 4 running Android 4.4. Also testing on a Samsung S7 running Android 6.0 and the banner is positioned correctly.

[2018-01-03 21:56] rampara commented on #572
@sjvc without being able to reproduce the issue I won't be able to troubleshoot further. Let me know if you run into the issue on any other devices.

[2018-01-04 23:03] smaritem opened #596 "v 3.10: CommandInvokationFailure: Unable to convert classes into dex format"
Dear Sir or Madam,

I have installed the new version 3.10 of the package and I get all the time this error

CommandInvokationFailure: Unable to convert classes into dex format.
C:/Program Files/Java/jdk1.8.0_31\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="C:/Users/MyPC/AppData/Local/Android/sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\PlaybackEngines\Androi

[2018-01-05 20:32] rampara commented on #592
@rampara will continue to investigate further once you're able to provide other devices the issue can be reproduced on.

[2018-01-05 20:35] rampara commented on #596
It looks like you're running into the [dex limit](https://developer.android.com/studio/build/multidex.html#about). Using the Gradle build system in Unity, you either use proguard and minify settings to reduce your dex count or use multidex. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support

[2018-01-05 20:35] #596 closed

[2018-01-05 20:39] rampara commented on #594
@brunovals currently rewarded video ads for multiple ad placements is not supported. However, this functionality in on the roadmap for a future release of the GMA SDK. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) to

[2018-01-05 20:39] #594 closed

[2018-01-06 21:00] kobyle69 commented on #592
Confirmed this is reproducing on:
iPhone 7 (11.2.1)
iPhone 6 Plus (11.0.1)
When using SmartBanner
using Unity 2017.1.2f1 (64-bit) + 7.27 SDK

[2018-01-08 16:06] wazzion commented on #592
I have the same issue. In my case, bottom banner is not always on the top.

Device 1: Nexus 5 (Android 5.0.1), Only portrait screen
Unity 5.6.1f1
Plugin version : 3.10

[2018-01-08 17:28] stowy commented on #592
@kobyle69 this issue is for Android banners. Have you noticed problems with positioning of the smart banner on iOS? Which version of the Unity plugin were you using? Can you please create a separate issue for the iOS smart banner problem and describe steps to reproduce, including which version of the Unity plugin (or alternatively ensure you are using the latest version).

[2018-01-09 05:03] araintechno opened #597 ""Test Ad" label is not mention on test ad"
Hi,
I am making a game in unity3d 5.6.4 and using admob 3.10.0 and test ads were working fine but from last few days device is showing real ads and "Test ad" label is not mentioned any where.How can i fix this issues?

[2018-01-09 15:39] arcv commented on #592
@rampara I was able to test on Zenfone 3 (Z012S, Android 7.0) and there was no issue about banner.

[2018-01-09 16:27] SlobodanNikolic opened #598 "java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds"
This is what I get in logcat on an android device. I tried everything. Reimporting Google Play Games plugin, resolving jars, setting up play games services again, reimporting AdMob, nothing helps.
I am using gradle build from Unity, and Proguard. When I tried the regular build system, I got the dex error: too many field references, off course, because one obviously can't use Google Play Games plug

[2018-01-09 18:52] rampara commented on #598
@SlobodanNikolic it looks like you're not including the required Google Play dependencies in your Unity project. Ensure the required AAR and JAR files are located in the `Assets/Plugins/Android` directory. You can perform dependency resolution by selecting `Assets -> Play Services Resolver -> Android Resolver ->Resolve` in the Unity editor. However, as this issue is not related to a bug in this pl

[2018-01-09 18:53] #598 closed

[2018-01-09 18:58] rampara commented on #576
@leoHN @nmtuhin following up to see if this is still an issue for you with this plugin.

[2018-01-09 18:58] SlobodanNikolic commented on #598
Hi. As I stated above, I already did the resolve jars, and it didnt solve the problem.

[2018-01-09 18:59] rampara commented on #598
@SlobodanNikolic can you post the contents of your `Assets/Plugins/Android` directory?

[2018-01-09 19:01] rampara commented on #597
@araintechno this is working as intended. We just made a [blog post](http://googleadsdeveloper.blogspot.com/2018/01/simpler-testing-with-new-admob-test-ads.html) explaining this change in more detail.

[2018-01-09 19:01] #597 closed

[2018-01-09 19:31] SlobodanNikolic commented on #598
Hi, here are the contents of my Assets/Plugins/Android directory. Thanks

<img width="520" alt="screen shot 2018-01-09 at 08 30 10" src="https://user-images.githubusercontent.com/10209656/34739258-01a3dc8c-f57c-11e7-950e-fcfcba8b2677.png">
<img width="417" alt="screen shot 2018-01-09 at 08 30 31" src="https://user-images.githubusercontent.com/10209656/34739267-08078df8-f57c-11e7-9ce0-f58eec5732e9.

[2018-01-09 19:59] rampara commented on #598
@SlobodanNikolic can you ensure the AARs are being included in Android builds by checking if the Android platform is selected within the Unity inspector as shown below.

![screen shot 2018-01-09 at 11 57 46 am](https://user-images.githubusercontent.com/11047881/34740504-76ec363a-f534-11e7-9616-cf23844125ee.png)

[2018-01-10 05:43] araintechno commented on #597
it was working fine as mentioned in blog but from last 3 or 4 days "Test Ad" label is not mentioned on ad,So it is creating confusion for us to test ads for our game

[2018-01-10 06:23] araintechno commented on #597
One thing more i want to mention is that test ad for rewarded video ads are working fine

[2018-01-10 09:35] SlobodanNikolic commented on #598
Yes, its like that.
<img width="419" alt="screen shot 2018-01-10 at 10 34 04" src="https://user-images.githubusercontent.com/10209656/34765480-eb041124-f5f1-11e7-8687-02a4d5896f19.png">

[2018-01-10 12:56] SlobodanNikolic commented on #598
I think the problem is with the Gradle build system and Proguard. When I build the project without Gradle, just using Internal build system, and without AdMob, only Google Play Services, Facebook and Firebase, GPGS works fine. When I build it with Gradle and Proguard, GPGS wont work anymore, and maybe Proguard also has something to do with AdMob not working?

[2018-01-12 00:58] rampara commented on #598
If you're using the minify option of the Unity gradle build system you will have to include Proguard rules to ensure GMA SDK specific classes are not stripped from your app by adding a proguard-user.txt file to the `Assets/Plugins/Android` directory of your project.

[2018-01-12 01:02] rampara commented on #597
@araintechno when you say banner and interstitial ads are showing real ads, do you mean you are not seeing the test ad label?

[2018-01-12 10:08] maliktariq49 opened #599 "I can't find Google mobile Ad SDK Version for Unity latest then 3.10"
I can't find Google mobile Ad SDK Version for Unity latest then 3.10. Please tell me they way how to update the latest version which must be latest then 7.0.0 .

[2018-01-13 00:36] arcv commented on #599
That  won't affect you. That message is talking about almost 2-3 years old SDK.

googleads/googleads-mobile-unity#599

[2018-01-13 00:45] rampara commented on #599
@arcv is correct in that if you're using a newer version of this plugin you will be using a version of the SDK newer that 7.0.0.

[2018-01-13 00:45] #599 closed

[2018-01-13 08:13] maliktariq49 opened #600 "how can i know about Google Mobile Ad SDK version which i am using in unity ?"
how can i know about Google Mobile Ad SDK version which i am using in unity ? Please tell me the way that  how can i find the Version no of the (GMA) SDK .?

[2018-01-13 08:33] arcv commented on #600
Check the "AndroidResolverDependencies.xml" file in "ProjectSettings" folder. It should contain Android packages used by your project.

[2018-01-13 18:23] wangyw72 opened #601 "stuck on Converting managed assemblies to C++"
hi~
I imported GoogleMobileAds plugin
And always stuck on "Converting managed assemblies to C++" when build iOS project.

[2018-01-15 06:26] araintechno commented on #597
yes

[2018-01-16 20:58] rampara commented on #600
As @arcv mentioned, the `GoogleMobileAdsDependencies.xml` file in the `Assets/GoogleMobileAds/Editor` directory of your project will indicate the version of the GMA SDK used by the plugin.

[2018-01-16 20:58] #600 closed

[2018-01-17 02:01] rampara commented on #601
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-01-17 02:02] #601 closed

[2018-01-17 02:02] rampara commented on #597
@araintechno this issue is related to a bug in the GMA Android SDK where test labels are not rendered correctly when using the Unity plugin. This issue will be resolved in an upcoming release of the GMA Android SDK.

[2018-01-17 11:13] dariuszpietrala commented on #553
I have a lot of info about crashes (unfortunatelly I don't have android 8.0, so I don't have logcat logs and I can't seem to find any crash reports from those users). All happen on Android 8.0 when trying to show interstitial. Plugin v3.10.0, GMA Android SDK 11.6.2, Unity 5.6.5f1, target API "highest installed" and it's API 27. Any ideas?

[2018-01-17 18:54] rampara commented on #553
@dariuszpietrala I was mistaken in that a fix for this issue was included in GMA Android SDK 11.6.2. The fix will actually be included in the next release of the GMA Android SDK. As a workaround, you can target an API < 27.

[2018-01-17 21:51] dariuszpietrala commented on #553
Thank you. Seems to work fine. Built with API 26 and I already got info from one of the users that it works.

[2018-01-17 22:09] rampara commented on #553
@dariuszpietrala glad your issue has been resolved. With the next release of the GMA Android SDK, this workaround won't be required.

[2018-01-18 09:22] tienhagioi commented on #466
demirersin   could you tell me how to fix this problem ? Thanks !

[2018-01-19 14:20] planethcom commented on #553
@rampara In which update will the fix be included? In 11.8.0 it's still not fixed

[2018-01-21 06:08] alaslipknot opened #602 "Rewarded Ad callback can only be called from the main thread Error"
Hello,

Rewarded Ad callback are working correctly, however, calling any method from the handler will return this error :

[code]

Nothing will be execute except "print()", so for example i have this code :

[code]
that print line will be written in the console, then the rewardNotComplete() method is this :

[code]
Also that method is going to be called, it will print that first line, but then any

[2018-01-21 09:42] PaulKeXD opened #603 "Banner and Videoads arent showing"
I wanted to use Admob in my app with banners and rewarded videos. As the banners werent working, i rewrote the code for rewarded videos, but these arent showing to.
Here is the code:

`

	public class AdManager : MonoBehaviour
	{
	public static AdManager Instance { get; set; }
	public RewardBasedVideoAd CoinVideo;

	public void Start()
	{
		MobileAds.Initialize("ca-app-pub-3940256099942544/5224354

[2018-01-22 21:20] rampara commented on #603
@PaulKeXD As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-01-22 21:20] #603 closed

[2018-01-22 21:26] rampara commented on #602
@alaslipknot when deploying to Android, ad events will not be invoked on the main thread. This [blog post](http://googleadsdeveloper.blogspot.com/2016/04/handling-android-ad-events-in-unity.html) explains in greater detail. The plugin will be updated in a future release to support invoking ad events on the main thread.

[2018-01-22 21:26] #602 closed

[2018-01-22 21:27] rampara commented on #553
@planethcom the fix will be in the upcoming release following 11.8.0.

[2018-01-23 10:54] araintechno commented on #597
ok thanks

[2018-01-23 15:42] morteza-master opened #604 "cant make an instance to RewardeBasedVideoAd unity"
Hi.anyone can help me please.my game just closes when it runs this line of code:  rew = RewardBasedVideoAd.Instance;
i even tried this simple script to get a rewarded based video.but the result is same :(
i have imported the plugin.using latest sdk and jdk 1.8.

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using System;
using GoogleMobileAds;
using GoogleMobileAds

[2018-01-23 17:16] planethcom commented on #553
@rampara Thanks for your answer. Just to avoid confusion, when you say 11.8.0, what exact SDK do you mean? Google Mobile Ads SDK 11.8.0 (served through Google Play Services)? If so ... We're already using 11.8.0 since December, but the problem is still there when targeting API 27 (affected are only Android 8.0 devices, Android 8.1 works without problems)

[2018-01-23 23:25] rampara commented on #553
@planethcom i'm sorry for the confusion. The fix for this issue is not included in Google Play services 11.8.0. It will be included in the upcoming release of Google Play services.

[2018-01-23 23:27] rampara commented on #604
@morteza-master As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support. A stack trace of the crash would also be helpful for debugging purposes.

[2018-01-23 23:27] #604 closed

[2018-01-30 06:53] suntabu commented on #546
@rampara  I‘ve encountered the same issue and tried and failed the onPause/onResume behavior hacking ways, I'm wondering why you guys not using a webview( or other layouts) for showing the interstitial ads.

[2018-01-30 06:57] suntabu commented on #546
@rampara
![](https://storage.googleapis.com/support-kms-prod/91E0E29ADFA1A1BF42097E0699CC491BE874)
As showing in the picture, we need the game running under the interstitial ads for next page.

But on android platform, the unity activity is paused by the interstitial ads, how could we follow this rules??

[2018-01-30 07:15] suntabu opened #605 "Google Mobile Ads for Unity causes Android application to pause"
![](https://storage.googleapis.com/support-kms-prod/91E0E29ADFA1A1BF42097E0699CC491BE874)
As showing in the picture, we need the game running under the interstitial ads for next page.
But on android platform, the unity activity is paused by the interstitial ads, how could we follow this rules?

[2018-01-30 15:10] defic opened #606 "XCode 7.3.1 does not compile the project"
I setup AdMob for our game. Android seems to work fine, but on iOS XCode does not compile and gives the following error:

`ld: framework not found FileProvider for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)`

XCode version: 7.3.1
Unity 5.5.2p4

[2018-01-30 19:23] rampara commented on #606
@defic the FileProvider framework is only available in Xcode 9. Can you try updating to the latest version of Xcode?

[2018-01-30 19:29] rampara commented on #605
@suntabu the game being paused is a tied to the Unity game engine implementation and not this plugin.

[2018-01-30 19:35] rampara commented on #546
@suntabu there isn't an easy way to keep Unity apps running in the background on Android.

[2018-01-30 20:47] punkinnovation opened #607 "n not resolve symbol gadadsizemanager"

[2018-01-30 20:55] rampara commented on #584
Closing issue due to non-response. Please re-open if your issue persists.

[2018-01-30 20:55] #584 closed

[2018-01-30 21:00] rampara commented on #557
After speaking to the Android vitals team, I was able confirm that Google is unable to collect frame render times when Open GL is used directly (as with Unity apps). However, currently rendering data is not used for app ranking. The Android team plans to make announcements in the near future about Android vitals and what data is used.

[2018-01-30 21:01] rampara commented on #607
@punkinnovation can you provide more information on the issue you're experiencing?

[2018-01-30 21:16] iseeall commented on #557
@rampara Thank you very much for the update

[2018-01-30 21:16] #557 closed

[2018-01-30 21:28] rampara commented on #562
Closing this issue. Please re-open if this issue persists for you.

[2018-01-30 21:28] #562 closed

[2018-01-30 21:29] #538 closed

[2018-01-30 21:31] rampara commented on #479
Closing and this issue should be fixed in the latest version of the GMA SDK. Please re-open if this issue persists for you.

[2018-01-30 21:31] #479 closed

[2018-01-30 21:32] rampara commented on #483
Closing this issue due to its age. Please re-open if this issue persists for you.

[2018-01-30 21:32] #483 closed

[2018-01-30 21:51] rampara commented on #100
Since this plugin wraps the existing Android and iOS GMA SDKs, Windows phone support will not possible.

[2018-01-30 21:51] #100 closed

[2018-01-30 21:52] rampara commented on #127
This should not longer be an issue on the latest version of the GMA SDK. Please re-open if this issue persists for you.

[2018-01-30 21:52] #127 closed

[2018-01-30 23:11] rampara commented on #574
@armnotstrong shouldn't this not be an issue since the `Gender` enum is part of the `GoogleMobileAds.Api` namespace?

[2018-01-30 23:17] rampara commented on #595
@fabpranav closing as this issue is caused by the socket.io library and not this plugin.

[2018-01-30 23:17] #595 closed

[2018-01-30 23:19] rampara commented on #569
Closing as I was unable to reproduce the issue. Please re-open if the issue persists for you.

[2018-01-30 23:19] #569 closed

[2018-01-30 23:19] rampara commented on #576
Closing due to non-response. Please re-open if this issue persists for you.

[2018-01-30 23:19] #576 closed

[2018-01-30 23:20] rampara commented on #544
Closing this issue due to its age. Please re-open if the issue persists for you.

[2018-01-30 23:20] #544 closed

[2018-01-30 23:22] rampara commented on #413
Closing as this is an GMA SDK feature request. The GMA SDK is currently working on incorporating this functionality. I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for more information.

[2018-01-30 23:22] #413 closed

[2018-01-30 23:30] rampara commented on #553
Closing as this isn't an issue with the plugin but the Android GMA SDK.

[2018-01-30 23:30] #553 closed

[2018-01-31 00:35] suntabu commented on #605
Hi, @rampara
But google policies recommend this kind of interstitial ways and sent warnings to our games.

So do you have any ideas for these problems?

[2018-01-31 19:06] rampara commented on #605
@suntabu if you're having issues with AdMob policy, I would recommend you reach out to the Product Support team from the Contact Us button on the [AdMob Help Center](https://support.google.com/admob/?hl=en#).

[2018-02-01 00:33] suntabu commented on #605
OK, thanks

[2018-02-01 00:33] #605 closed

[2018-02-01 08:37] defic commented on #606
I could narrow down the problem to the Vungle mediation adapter. Without it, XCode 7.3.1 compiles fine. However, according to the Admob Vungle documentation, the adapter should work on XCode 7 and up ( https://developers.google.com/admob/unity/mediation/vungle ).

It seems that some of the other adapters might share the same issue, as I found this issue from the googleads ios mediation repository:

[2018-02-01 21:17] rampara commented on #606
@defic I'm closing this issue as it is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-02-01 21:17] #606 closed

[2018-02-01 22:42] rampara commented on #592
Closing as duplicate of #572.

[2018-02-01 22:42] #592 closed

[2018-02-03 00:33] rampara commented on #586
This should be fixed in the latest version of the plugin (v3.11.0).

[2018-02-03 00:33] #586 closed

[2018-02-03 00:34] rampara commented on #496
In the latest version of the plugin (v3.11.0) Android ad events are invoked on the main thread by default.

[2018-02-03 00:34] #496 closed

[2018-02-03 00:38] rampara commented on #388
In the latest version of the plugin (v3.11.0), there is a new API `MobileAds. SetiOSAppPauseOnBackground()`, which when set will cause iOS apps to pause when displaying a full screen ad.

[2018-02-03 00:38] #388 closed

[2018-02-03 08:24] storybell opened #608 "Crash on oreo device with Only fullscreen activities can request orientation Error"
Hello,

my game continuously crash while showing ads both intertitial and reward(banner not tested) on android oreo device for platform 26 and 27.

here is my logcat
[Logcat.txt](https://github.com/googleads/googleads-mobile-unity/files/1691528/Logcat.txt)

[2018-02-03 10:50] Myke38 opened #609 "3.11.0 : NullPointerException on AdView.getAdSize()"
Hello,

I am trying to get the pixel size of a BannerView with the function GetWidthInPixels() on Android,
but I have a NullPointerException error in my logcat  :

[code]

Please can you tell me what is the problem ?
Thank you
Michael

[2018-02-04 13:32] jsplashindia opened #610 "Crash on Unity Editor 2017.3.0f3"
Unity app crashes when the method is called in Editor with version 2017.3.0f3, crashes on device too:

`MobileAds.Initialize(appId);`

The following error is shown:

Error seems to go away when the line is modified from

[code]

to

[code]

in MobileAds.cs file.

[2018-02-04 13:57] jsplashindia commented on #610
Crashes when Platform is set to iOS.

[2018-02-04 18:52] jsplashindia commented on #610
Seems to be working if I call the plugin from .cs file instead of .js file, hence closing the issue.

[2018-02-04 18:52] #610 closed

[2018-02-05 09:28] hieunp8x opened #611 "Smart banner displaced on Galaxy S5 SCL23"
Hi,
I am using original sample of Admob HelloWorld Sample for test (include in plugin 3.11.0)
But banner still displaced (see image attach)
My device: Samsung Galaxy S5, Model SCL23 (NTT Docomo)
OS: 6.0.1
![27745097_1999728963607282_481306669_o](https://user-images.githubusercontent.com/13539845/35797162-669e92d8-0a91-11e8-9906-ef1da67ba4fb.png)

Thanks.

[2018-02-05 18:56] AibNihan commented on #611
Maybe You Should Check this Unity Answers [Unity Answer](https://answers.unity.com/questions/1264156/change-position-of-admob-banner-when-opening-new-s.html)
Hope It's Helping You

[2018-02-06 20:29] AnnKryvenko opened #612 "Crash on OnePlus devices"
![screen shot 2018-02-06 at 22 19 12](https://user-images.githubusercontent.com/16333229/35882202-09d37b08-0b8c-11e8-8761-6812f3e9b1a2.png)
Unity version: 2017.3.0p2
googleads-mobile-unity version: 3.10.0

Caused by java.lang.IllegalStateException: Only fullscreen activities can request orientation
       at android.os.Parcel.readException(Parcel.java:1950)
       at android.os.Parcel.readExceptio

[2018-02-06 21:01] AibNihan commented on #612
Hello There,
You Need To Check The First Line

you need to orientate your screen when you call the full screen activities (in admob full screen ativities mean interstitial ad)

[2018-02-06 23:47] rampara commented on #612
This issue is a duplicate of #553 and isn't caused by this plugin but rather the GMA Android SDK. The fix for the issue will be included in the next release of the GMA Android SDK. As a workaround, you can target an API < 27.

[2018-02-06 23:47] #612 closed

[2018-02-06 23:48] rampara commented on #608
This issue is a duplicate of #553 and isn't caused by this plugin but rather the GMA Android SDK. The fix for the issue will be included in the next release of the GMA Android SDK. As a workaround, you can target an API < 27.

[2018-02-06 23:49] #608 closed

[2018-02-06 23:56] rampara commented on #607
Closing issue as not enough information was provided.

[2018-02-06 23:56] #607 closed

[2018-02-06 23:57] rampara commented on #611
@hieunp8x have you modified the HelloWorld sample app in any way? Are you able to reproduce this issue on any other device or only the Samsung Galaxy S5?

[2018-02-07 00:05] rampara commented on #609
@Myke38 can your provide the code snippet you used to reproduce this exception?

[2018-02-07 03:27] hieunp8x commented on #611
Hi Rampara,

No, i don't

Only bug on Galaxy S5, S6 (NTT-Docomo)

Thanks.

[2018-02-07 03:32] hieunp8x commented on #611
Hi AibNihan,

Thanks you for reply
Solution is ok

Best regards.

[2018-02-07 08:48] Myke38 commented on #609
Hello, yes sure, here is the code :
[code]
And the GenericRequest function :
[code]

The purpose of getting the size of the banner is to set the position of the banner at a specific location, with the function :
`
bannerView.SetPosition(...);`

Thank you for your help
Michael

[2018-02-07 18:40] zixuan75 commented on #397
ad blocker is not the reason

[2018-02-08 00:43] rampara commented on #609
@Myke38 the steps you outlined works as expected for me. Can you provide a Unity test app that repros your problem?

[2018-02-09 15:00] Myke38 commented on #609
Hello,
Here is the Unity test app :
https://we.tl/NO18Z6yfu3

To reproduce the bug :
- Open the project with Unity 5 (5.6.4 for me)
- Build for Android platform, and send the APK on a device
- Click one time on the button : the banner is well positionning, with no error.
- Click a second time on the button to get the exception.

Please tell me if you can reproduce the same issue.
Thank you

[2018-02-10 01:16] rampara commented on #609
@Myke38 Thanks for providing the test app. There will be a fix for this issue pushed out shortly.

[2018-02-10 17:17] SneakBug8 opened #613 "'Internal error' on requesting ads"
![Error](https://i.imgur.com/qz3jPMY.jpg)
Requesting Banner or Interstitial ads causes error above. Howerer, Test Interstitial works well.

Code for requesting:
[code]

[2018-02-12 10:03] martin3361 commented on #546
@suntabu
this is the way I worked around it since I really needed it and for
whatever reason Google Ads were pausing the game without the ability to
disable that.

I made a small Java project with two classes:

Interface used as a callback:
[code]
and overriden UnityPlayerActivity (notice onPause() implementation there is
the important part):
[code]

Needless to say, in this project you need to re

[2018-02-12 10:04] martin3361 commented on #546
@suntabu
this is the way I worked around it since I really needed it and for whatever reason Google Ads were pausing the game without the ability to disable that.

I made a small Java project with two classes:

Interface used as a callback:
[code]
and overriden UnityPlayerActivity (notice onPause() implementation there is the important part):
[code]

Needless to say, in this project you need to re

[2018-02-12 10:30] tomas-d opened #614 "3.11.0: Increased count of ANRs"
Hello,
we are getting increased number of ANR reports in Google Play Console.  Most of them seem to be caused by Google Ads plugin (there is always mention of the Google Ads somewhere in the log).

This happens with plugin versions 3.11.0 and 3.9.0 (we have no data for other versions) and with Unity 2017.2.1f1 and 2017.3.0f3.

[code]

[code]

I can provide more logs, if it would help. Thanks.

[2018-02-12 19:12] rampara commented on #613
@SneakBug8 if test ads are working the issue is likely with the ad placement you are using. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-02-12 19:12] #613 closed

[2018-02-12 19:16] rampara commented on #614
@tomas-d thanks for providing stack traces for the ANRs. However, the stack traces indicate the issue is being caused by the GMA Android SDK and not this plugin. I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-02-12 19:16] #614 closed

[2018-02-12 22:15] rampara commented on #609
This issue is fixed in the latest version of the plugin (v3.11.1).

[2018-02-12 22:15] #609 closed

[2018-02-12 22:25] rampara commented on #611
@hieunp8x on a Samsung S5 running 4.4.2, smart banners are positioned as expected for mewhen using the `AdPosition.Top` ad position constant.

![image](https://user-images.githubusercontent.com/11047881/36123101-8064fd14-1000-11e8-9fa8-4782460aa2b6.png)

[2018-02-13 13:35] brunovals opened #615 "Temp Staging Area Problem After Upgrading"
After i upgraded to the latest admob, my unity started to pop up this when i build

IOException: Failed to Move File / Directory from 'Temp/StagingArea\android-libraries\play-services-ads-license-11.8.0\classes.jar' to 'Temp/StagingArea\android-libraries\play-services-ads-license-11.8.0\libs\classes.jar'.

Can anyone help ?

[2018-02-13 13:58] hieunp8x commented on #611
@rampara Error on Samsung **Galaxy S5 Model SCL23 (Device of NTT-Docomo in Japan)**

[2018-02-13 23:52] rampara commented on #615
@brunovals can you try selecting `Assets -> Play Services Resolver -> Android Resolver -> Force Resolve ` in the Unity Editor?

[2018-02-14 06:37] brunovals commented on #615
@rampara  i've tried force resolve the first time, it didn't resolve the issue

Appearantly, this issue only appear when you also add and or upgrade admob and also upgrade Google Play Game Services v 0.95 in your project [ it's a little rough because GPG services 0.95 remove Quest API which will cause some errors ]

I solved this problem by :
- Uninstall Admob package ( By Deleting GoogleMobileAds

[2018-02-14 06:37] #615 closed

[2018-02-14 19:17] rampara commented on #611
@hieunp8x I don't have access to that particular device. Were you able to repo the issue on any other devices?

[2018-02-15 10:08] paradizIscool opened #616 "Banner not always showing and strange reports"
Banner seems to show only one first run on android and ios devices. After killing application I get no fill.

Moreover, I get stranges reports from admob
Day 1: 200 Android beta testers, 280 sessions, 734 requests, 729 matched, 500 impressions, 3 clicks
Day 2: 468  Android beta testers, 756 sessions, 303 requests, 285 matched 6 impressions 2 clicks.

![capture d ecran 2018-02-15 a 11 08 07](https:

[2018-02-15 19:36] rampara commented on #616
@paradizIscool ss this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-02-15 19:37] #616 closed

[2018-02-16 22:52] jfranklin9000 commented on #397
I encountered this and simply waited 5 minutes and tried again with success.

[2018-02-17 16:02] litemesa opened #617 "Support of Native Ads Advanced?"
Hi, as Native Express Ad format is being discontinued, do you have any plans to support Native Advanced Ad format?

[2018-02-18 07:55] mandalaku opened #618 "Support Ad Targeting Location?"
does admob unity support ads targeting location like ios sdk ..?
or may need to add this feature

[2018-02-18 09:11] KhmerRun opened #619 "Ads overlaid on top of each other?"
Hello,

I just update admob today to 3.11.1. Doing some test and feel weird on the display.

<img width="960" alt="screenshot_2018-02-18-12-01-42-227_admob" src="https://user-images.githubusercontent.com/33341948/36350177-3ac8330a-14c6-11e8-9482-cd5f9f8bd26f.png">

First the ads show the top one (facebook). After navigating here and there in the app, it showed another one and the back order. Teste

[2018-02-20 18:31] rampara commented on #619
@KhmerRun are you requesting and displaying multiple banner ads?

[2018-02-20 22:57] KhmerRun commented on #619
@rampara
Hi, I didn't intend to request multiple banner. But I didn't know what s wrong it displayed on top of each other. Possibly the ads request multiple times on the code? Correction, I didn't use SmartBanner.

Here is my request banner code, and it is called in Awake()

[code]

[2018-02-24 16:16] chouaibzaidali opened #621 "Object reference not set to an instance of an object"
the issue is that i cant show any type of add iv tryed every thing  but the same error occur iv tryed the google demo script and the same error is there did i missed sommething please help
NullReferenceException: Object reference not set to an instance of an object

`    using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using GoogleMobileAds;
using GoogleMobileAds.Api;

[2018-02-24 18:26] #621 closed

[2018-02-24 18:27] chouaibzaidali commented on #621
i have found the isue by updating my jdk and resolving play servises

[2018-02-28 13:30] ravi2831 opened #622 "Not getting Google Ads for IOS . Mediation is working fine .**Same Admob id ads is coming in native side.**"
Hello Rampara,
i'm facing this issues from long back in development .
Not getting Google Ads for IOS . Mediation is working fine .
i have checked by so many ways . but it's not working.
For testing i removed all Mediation.
But now i'm not getting any ads .
_**Same Admob id ads is coming in native side.**_
Please help me.

[2018-02-28 13:34] #622 closed

[2018-02-28 13:36] ravi2831 opened #623 "Not getting Google Ads for IOS . Mediation is working fine .**Same Admob id Google ads is coming in native side.**"
Hello Rampara,
i'm facing this issues from long back in development .
Not getting Google Ads for IOS . Mediation is working fine .
i have checked by so many ways . but it's not working.
For testing i removed all Mediation.
But now i'm not getting any ads .
**_Same Admob id Google ads is coming in native side._**
Please help me.
And Please don't close tickets without solving this issues.

[2018-03-01 01:12] rampara commented on #623
@ravi2831 what error code are you receiving for your ad requests? Is the iOS test ad unit working for you?

[2018-03-01 01:14] rampara commented on #619
@KhmerRun can you provide me with a test project that reproduces this issue? It would help with getting to the bottom of the cause of the issue.

[2018-03-01 01:19] rampara commented on #618
@mandalaku this functionality is currently supported in the GMA Unity plugin as it requires collecting the location using platform specific methods.

[2018-03-01 01:21] rampara commented on #617
@litemesa extending this plugin to support Native Ads advanced is currently being investigated.

[2018-03-01 01:22] rampara commented on #617
Closing as duplicate of #146

[2018-03-01 01:22] #617 closed

[2018-03-01 07:38] ravi2831 commented on #623
Hello Rampara,
The iOS test ad unit is working.
Only issues with Plugin for IOS.(For Android it's working fine).
i'm checking from long time . and i'm getting same issues.
Same Admob id is working in Native IOS side integration ,But not working with Unity Plugin.
**_i'm sure that Plugin Issues._**
rarely Admob ads coming.
Please create one Admob id and check .
You can get actual idea .

without Me

[2018-03-01 10:32] ravi2831 commented on #623
_**Please don't close tickets without solving this issues.**_

[2018-03-02 00:46] faiguago opened #624 "How to fix this issues for iOS"
Undefined symbols for architecture armv7

"_OBJC_CLASS_$_GLKView", referenced from:
      objc-class-ref in GoogleMobileAds(flat-armv7)
"_OBJC_CLASS_$_MFMessageComposeViewController", referenced from:
      objc-class-ref in GoogleMobileAds(flat-armv7)
"_kUTTagClassMIMEType", referenced from:
      l5460 in GoogleMobileAds(flat-armv7)
      l5592 in GoogleMobileAds(flat-armv7)
"_GLKMatrix4Identity

[2018-03-02 15:05] yassinos69 commented on #624
Same 😢

[2018-03-06 10:07] VladNazar commented on #598
@SlobodanNikolic Hi, did you solve the problem? I have the same issue, I need to add firebase push notifications, when I add this plugin and try to build apk with Internal build system, i have problem with overlimit dex file (too many fields), then i try to build with Gradle and set multidex, but I have this error AndroidJavaException: java.lang.ClassNotFoundException unitydirectionkit.universalme

[2018-03-06 11:02] SlobodanNikolic commented on #598
@VladNazar yes I have solved my problem by using -keep ... and it compiled and is working. I dont know what your problem could be, with the crashing, but maybe you should try to do the keep command with a little wider range, like: -keep unitydirectionkit.* Maybe something else is missing? Log says nothing?

[2018-03-06 11:17] VladNazar commented on #598
@SlobodanNikolic log says nothing( Now I tried -keep class unitydirectionkit.universalmediaplayer.UniversalMediaPlayer, and app not crashed, log said AndroidJavaException: java.lang.NoSuchMethodError: no non-static method "Lunitydirectionkit/universalmediaplayer/UniversalMediaPlayer;.<init>(IZLjava/lang/String;)V"
Maybe u saw some documentation about commands in proguard (such as -keep etc)?

[2018-03-06 13:18] SlobodanNikolic commented on #598
I googled it and found the commands in an answer on stackoverflow somewhere
I think. I’m pretty busy today, but tomorow or tonight I will send you my
proguard file, so you can see what I did and how it looks. I’ll post it
here.

On Tue, Mar 6, 2018 at 12:17 PM VladNazar <notifications@github.com> wrote:

[2018-03-06 13:20] VladNazar commented on #598
@SlobodanNikolic it sounds great, THX)

[2018-03-06 16:52] SlobodanNikolic commented on #598
@VladNazar Hey, this is my proguard file, I realy hope it helps you in some way. I know how it is with these bugs, very frustrating.

[code]

[2018-03-07 19:46] rampara commented on #624
@faiguago @yassinos69 does adding the MessageUI framework to your project resolve the issue?

[2018-03-08 22:46] rampara commented on #146
Native Ads Advanced is now available through a [separate version](https://developers.google.com/admob/unity/native-advanced) of this plugin.

[2018-03-08 22:46] #146 closed

[2018-03-08 22:47] rampara commented on #513
The dev docs have been updated with instructions on [reloading and ad](https://developers.google.com/admob/unity/rewarded-video#reload_an_ad).

[2018-03-08 22:47] #513 closed

[2018-03-09 20:14] rampara commented on #623
@ravi2831 I'm having trouble reproducing this issue. I'm able to load and display live banner ads with the following ad unit: ca-app-pub-7585685306778341/2246033912. Are you able to load ads when using this placement?

[2018-03-10 10:19] ravi2831 commented on #623
Hello Rampara,
Issues with Interstitial and Rewarded ads . Please check .
Thanks,
Ravi .

[2018-03-11 07:05] amunim opened #625 "Ads not showing"
Hi!
So, here it how it all began
I first watched a tutorial on youtube on showing admob ads but the interestitial keep crashing the ad then I went to admob official site and and deleted the plugins folder re-imported all from scratch and copied the code samples with som edits [CODE](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/google-admob-ads-sdk/mBgdNDo69Rc/Pw_4ZhIQBQ

[2018-03-11 07:07] alaslipknot opened #626 "How to stop showing Ads from AdMob and force use other networks to test them properly ?"
Hi,
Am making a game and the client said that when he get a reward Ad from UnityAds the reward callback are not executing properly, i need to test that but i can't because i am exclusively getting Ads from AdMob even thought that our mediation group contain UnityAds, Vungle and Nend, is there a way to force another network to show ? i tried lowering the eCPM of AdMob to $0.01 and keeping others in

[2018-03-11 07:56] amunim commented on #625
For anyone with same problem, just a day ago @rampara updated the sdk just download and re-import it

https://github.com/googleads/googleads-mobile-unity/releases/tag/v3.12.0

[2018-03-11 07:56] #625 closed

[2018-03-12 06:54] rchallenger opened #627 "[Feature request] Facebook mediation dependencies import too much libraries"
We've tried to resolve our mediation plugins dependecies by importing you XML files for adapters we needed. But after resolution we've noticed that our project got appcompat and recycleview libraries with all other stuff, so we met DEX limit (75K). Though we used Facebook before and it was not necessary to import all that libraries (If we talk about banner and interstitial). Probably their rewarde

[2018-03-12 17:22] Visual-Vincent commented on #623
@rampara I can confirm that there seems to be some kind of problem with the ads for iOS in the latest AdMob version. The ads work fine on _Android_, but when run on _**iOS**_ the `OnAdFailedToLoad` event is raised with the error:

(I'm only using Google Ads, not Mediation)

Trying your suggested adUnitId for banner ads didn't change anything.

[2018-03-13 01:42] rampara commented on #623
@ravi2831 @Visual-Vincent I'm having trouble reproducing this issue. Can you provide me with a Unity test app that does?

[2018-03-13 10:18] Visual-Vincent commented on #623
@rampara Okay, that's interesting... The ads don't work for me when testing the app on a device via Xcode, but my app recently got uploaded to App Store and downloading it from there everything works fine!

Any idea what could've caused this? I'll put together a test app for you later today.

[2018-03-13 11:26] Visual-Vincent commented on #623
By the way, do you need my app-id and my adUnitId in the test app? If so, is there a way I can contact you more privately?

[2018-03-14 04:45] rahat10120141 opened #628 "HandleRewardBasedVideoRewarded is not calling"
When a reward video is ended HandleRewardBasedVideoRewarded event is not calling. I have tested it with sample code but not getting

[2018-03-14 08:23] greedvan opened #629 "Banner ad position changes after viewing interstitial ad."
This error occurred on LG G Pro2 smartphone

tested the sample in the hello world.

I changed the position of the banner ad from top to bottom.
208line.
 this.bannerView = new BannerView(adUnitId, AdSize.SmartBanner, AdPosition.Bottom);

Then run the app, Follow the actions below

1. touch Request Banner button.
2. touch Request Interstitial button.
3. touch Show Interstitial button.

The position

[2018-03-14 08:26] kobyle69 commented on #629
That's my hack to solve it: (just force it to the bottom every 5 secs)

private BannerView m_Banner;
public void Update()
{
	m_TimePassed += Time.deltaTime;
	if (m_TimePassed > 5)
	{
		m_Banner.SetPosition(AdPosition.Bottom);

		m_TimePassed = 0;
	}
}

[2018-03-14 14:02] alaslipknot opened #630 "Android Build Failure : com.android.ide.common.process.ProcessException : org.gradle.process.internal.exectException"
Hi,
My game was working fine and all of a sudden am getting [this error popup](https://i.imgur.com/8OcykFk.png), and this console error :

[code]

Any help please ?
Thank you

[2018-03-14 15:10] eintopf commented on #630
I'm getting exactly the same error. Tried it with 3.11.1 and 3.12.0. It seems like it uses the new Android P stuff which is not fully released yet (which seems quite strange to use it then.

[2018-03-14 16:25] alaslipknot commented on #630
Am not sure what error to focus with, i did some research and some people suggesting updating the SDK other said the updates are what causes this, i ended up installing Android studio and using its SDK path in unity, also installed Android-p (preview) sdk, the error popup changed to [this](https://i.stack.imgur.com/NS0SO.png) and the error to this :

[code]

[2018-03-14 18:23] rampara commented on #630
@alaslipknot @eintopf this error looks like you have dependencies pulled in the alpha version of the appcompat library (appcompat-v7-28.0.0-alpha1) while not using a compatible version of the Android SDK.

[2018-03-14 18:24] rampara commented on #629
@greedvan @kobyle69 is this issue reproducible across all devices for you or only certain ones?

[2018-03-14 18:32] rampara commented on #626
@alaslipknot the Google Mobile Ads SDK team is currently working on a new feature to make testing and verifying mediation integrations easier. You can check for updates on the [Google Ads developer blog](http://googleadsdeveloper.blogspot.com/).

[2018-03-14 18:32] #626 closed

[2018-03-14 18:33] rampara commented on #628
@rahat10120141 can you provide the ad placement id you used for the rewarded video ad?

[2018-03-14 18:50] alaslipknot commented on #630
here is my build.gradle if that helps :

[code]

[2018-03-14 18:59] rampara commented on #627
@rchallenger to resolve your problem Proguard stripping and/ or multidex are your best options. Both will require resolving your issues with Gradle builds. Once you've done that, you can export an Android Studio project and configure Proguard and/or multidex. Newer versions of Unity allow you to configure Proguard stripping right from the player settings for Gradle builds. Using a Custom Gradle te

[2018-03-14 19:21] rampara commented on #630
@alaslipknot you would have to go through the dependencies you have listed in that Gradle file and see which one is referencing version 28.0.0-alpha1 of the app-compat library.

[2018-03-14 19:51] Visual-Vincent commented on #623
@rampara Okay, here's a test app which uses the Banner ID that you shared earlier. Just click the "Show Ad" button on your iDevice and the error should be logged on screen.

The .zip-file contains both the Unity project and the Xcode project: https://www.mydoomsite.com/sourcecodes/Unity%20iOS%20Ad%20Test.zip

[2018-03-15 01:04] greedvan commented on #629
I tested on only one device.

This issue has not been resolved by processing the command to change the location of banner ads in the 'HandleOnAdClosed' event of interstitials.

public void HandleOnAdClosed(object sender, EventArgs args)
{
    bannerView.SetPosition(AdPosition.Bottom); //fail
}

[2018-03-15 04:13] rahat10120141 commented on #628
I have tested it with the sample "Hello World" project provided by google. on that project I have put some text field to track the firing events. my code are given:
` public void HandleRewardBasedVideoLoaded(object sender, EventArgs args)
    {
		st.text = "Loaded";    // this is the only event that shows the correct text
    }`

`    public void HandleRewardBasedVideoClosed(object sender, EventAr

[2018-03-15 11:06] alaslipknot commented on #630
@rampara How to do that ? also i tried installing the _**Android SDK Build-tools 28rc1**_ and i got a new error :

[code]

[2018-03-15 12:05] alaslipknot commented on #630
**UPDATE:**
I just want to say that [this](https://i.imgur.com/AamEg4z.png) was the "reason" of these errors, or at least everything start occurring right after it, i got that message popup, pressed yes, and i think i shutdown my computer before it finished, my main concern is why i can't see the **build-tools 26.1.1** not even when i run "Android list sdk -a".

Thanks

[2018-03-16 04:02] JAOOOOO opened #631 "Rewarded Ads always returns NO_FILL"
I've implemented the admob rewarded video ads, identically like the documentation, but always returns NO_FILL, I've interstitial ad implemented and it's working, the Dummy client is working well, too.
but on live device it gives NO_FILL error

[2018-03-16 15:27] Hassurunous opened #632 "Property 'userIdentifier' not found on object of type 'GADRewardBasedVideoAd *'"
Just downloaded and installed this yesterday and was trying to test it out with iOS. I was getting some other errors that I was able to resolve by changing the build target, and I've still got about 500 "Warnings" in Xcode about Deprecation and code that will never be executed, but this is the only true error I am left with. I'm not really sure what to even try here at the moment. Any tips would b

[2018-03-16 16:15] rampara commented on #632
@Hassurunous it looks like your project may be referencing an older version of the iOS GMA SDK. Can you run the `pod repo update ` command and try to rebuild your iOS project.

[2018-03-16 16:15] rampara commented on #631
@JAOOOOO are you experiencing this issue on iOS or Android? Are you able to load test rewarded video ads without issue?

[2018-03-16 16:20] rampara commented on #628
@rahat10120141 can you provide the ad placement id you used for the rewarded video ad or a test app that reproduces your issue?

[2018-03-16 17:13] rampara commented on #629
@greedvan using the latest version of the plugin and a variety of devices I'm unable to reproduce the issue. Linking a [video](https://drive.google.com/file/d/1ibkbWOrooZZlDKrZdXxjwpkzXY4NMALu/view?usp=sharing) to the behavior I'm seeing.

[2018-03-16 18:27] rampara commented on #623
@Visual-Vincent you will see lower fill rates for apps that are not published to the app store.

[2018-03-16 20:43] Hassurunous commented on #632
Still no luck. I notice in the podfile Unity generated it had the version set to 7.0, so I deleted that bit and ran update again and rebuilt but same error.

[2018-03-17 03:04] rahat10120141 commented on #628
First I tried to my own project, when i see that the events are not working properly then i have tested it with the google's hellow world project (Sample project included). I have just put some text to the googleaddmanagerdemo script to track which events are calling. But it is showing me the close event.

As i am using the sample project with test rewarded add, so there is no placement id for add

[2018-03-17 07:14] ravi2831 commented on #623
@rampara , Please create a new Admob id and check for Interstitial and Rewarded ads .
Same id is working for native side .
But it's not working with Unity plugin for IOS .
this issues i'm facing from long time .
not only issues with latest issues .
Please check .

[2018-03-17 11:00] Visual-Vincent commented on #623
@rampara Well "lower" is currently none at all if the app isn't released. ;)
What's interesting is that it works perfectly fine with the regular SDK for iOS, but not the Unity plugin. The Unity plugin only works if the app is released. Isn't it built on top of the regular SDK?

@ravi2831 Has your app been released to the App Store yet? If not, then you're likely experiencing the same problem as me

[2018-03-17 13:16] daneric opened #633 "When I update to v3.12.0, game sound muted after interstitial closed"
sound also muted after rewarded video closed.
There is error log in xcode when intersititial closed:
[avas] AVAudioSession.mm:1177:-[AVAudioSession setActive:withOptions:error:]: Deactivating an audio session that has running I/O. All I/O should be stopped or paused prior to deactivating the audio session.

[2018-03-19 10:42] BrianOSH commented on #629
This also happens on my Hipstreet Electron 8" tablet.
![img_0366](https://user-images.githubusercontent.com/13030197/37591045-244d053a-2b62-11e8-93b3-1fa0a1641037.jpg)

[2018-03-19 17:28] rampara commented on #628
@rahat10120141 are you running into this issue on Android or iOS?

[2018-03-19 17:32] rampara commented on #632
@Hassurunous the specified version is the podfile should be `~> 7.0` which should resolve to the newest `7.x` release of the SDK. Is the latest SDK not pulled in if you try building a new iOS project (instead of appending or replacing an existing one) ?

[2018-03-19 17:33] rampara commented on #630
@alaslipknot glad you were able to resolve your issue. Closing this as it is tied to the Android SDK  and tools configuration on your local machine and not this plugin.

[2018-03-19 17:33] #630 closed

[2018-03-19 17:41] rampara commented on #623
@Visual-Vincent @ravi2831  during development, using [test ads](https://developers.google.com/admob/ios/test-ads) is the recommended practice.

[2018-03-19 17:42] rampara commented on #633
@daneric can you provide a Unity test project that reproduces this behavior?

[2018-03-20 05:48] rahat10120141 commented on #628
Android

[2018-03-20 07:03] jojizaidi opened #634 "App crashes when I request interstitial (firebase)"
I integrated Firebase and log events and everything seems to be working fine.
I then integrated Google Mobile Ads and the app crashes when I request an interstitial.

Attached is the log file.
[log.txt](https://github.com/googleads/googleads-mobile-unity/files/1828257/log.txt)

[2018-03-20 11:52] perseus25 commented on #634
I used last version admob plugin.
Unity 5.6.5p2
Script backend : IL2CPP
App crash when request interstitial.

BUT when i switch to Mono2x, app display interstitial normally.

[2018-03-20 12:51] ravi2831 commented on #623
@ Rampara , Correct !
But i want to know that why same Admob Id have different behaviour
for IOS Unity side and
for IOS native side ?

[2018-03-20 12:53] ravi2831 commented on #623
@rampara ,
SDK like this only ?
OR having issues ?
Please confirm .

[2018-03-20 14:47] oldnewusers opened #635 ""Moving File Failed" After I integrated the Admob Plugin"
Hi All,

I have been building a game for several months. It was only a couple days ago I decided to integrate Admob into my game. However, when I integrated the GoogleMobileAds Unity Package into my project, the project would start getting stuck in this "Resolving Android Dependencies" idalog, as shown in image below:
https://ibb.co/fkVEfH

When I try to build the game, it would show a dialog:

"M

[2018-03-20 14:51] rchallenger commented on #635
Try to reimport PlayServicesResolver.
Remove all play-service libraries from Plugins folder and restart Unity.
That should help.

[2018-03-20 14:54] rchallenger commented on #626
We used to disable admob optimizzations in AdUnit Networks and set min price to $1000.
This helped us to get ads from other networks set to adUnit

[2018-03-20 14:58] oldnewusers commented on #635
Thanks for your response rchallenger.

It did not work.

I have tried removing all the three plugin folders and reimporting the plugin package several times. I have even tried removing Unity (the version I was using was 5.6.4) and reinstalling both Unity 5.6.4 and the newest version of Unity.

For your information, I started developing the game in last summer using 5.6.1f, I imported Google Play S

[2018-03-20 15:22] rchallenger commented on #635
strange question, but check if your assets folder not deep enough to exceed file name length limit.
Try to move assets to drive's root folder.
I remember same stuff used to happen before, but somehow I've overcome it.

[2018-03-20 18:26] Visual-Vincent commented on #623
@rampara I know that I should use test ads, though I agree with @ravi2831 that I want to know why this happens only when using the Unity plugin.

You see, before Apple had finished reviewing my app I spent _an entire day_ trying to figure out why the regular ads didn't want to work on iOS (while they did on Android). So it wasn't until the app got approved that I could see that there actually was

[2018-03-20 18:42] rampara commented on #634
@jojizaidi are you able to consistently reproduce this crash?

[2018-03-20 18:44] jojizaidi commented on #634
Yes this is happening consistently.

I'll try doing what @perseus25  has mentioned tomorrow.

[2018-03-20 18:55] rampara commented on #628
@rahat10120141 did a quick test on my end with the `HelloWorld` sample app from this repo and the latest version of this plugin and I'm unable to reproduce the behavior you're describing. All rewarded video ad events are invoked as expected for me. When running the sample app, do you also not see anything logged under the `Unity` tag for the ad events?

[2018-03-20 18:59] rampara commented on #623
@Visual-Vincent @ravi2831 there shouldn't be any discrepancy in the behavior you see when making an ad request with a Unity app vs a standard iOS app if your bundle id is the same. I'm also unable to reproduce the behavior on my end. If you're able to capture network logs of the same ad placement (with identical bundle id) filling with a standard iOS app but failing to do so with Unity, it would h

[2018-03-20 22:01] rampara commented on #629
@BrianOSH I don't have access to that particular device. Were you able to replicate the issue on any other devices?

[2018-03-20 22:01] rampara commented on #634
@jojizaidi can you provide a test Unity project that reproduces this issue?

[2018-03-20 22:22] rampara commented on #635
@oldnewusers can you try the following steps.

1. Turn of automatic dependency resolution by selecting `Assets -> Play Services Resolver -> Android Resolver -> Settings` and unselecting `Enable  auto-resolution`.
2. Remove all plugin related files (Including all Play services files under `Assets/Plugins/Android`).
3. Import the latest version of this plugin.
4. Import the latest version of the [Pl

[2018-03-21 05:33] jojizaidi commented on #634
So I think its an issue with my device.
The same project works fine on a Google Pixel and Galaxy S7 Edge but crashes on an Experia Z3.

I'll try and debug with that.

Thanks.

[2018-03-21 05:33] #634 closed

[2018-03-21 12:14] oldnewusers commented on #635
@rchallenger
Thanks, the solution is simple, I just moved my Unity Project file's location from somewhere deep to somewhere closer to the root folder, then the error disappears.

Hard to imagine the bug that has haunted me for 2 full development days was solved in this manner!

[2018-03-21 15:45] i08jineq opened #637 "Crash on startup when When implementing Rewarded Video"
I tried to do testing of my game.
This is what I've got... is there anything I missed?

E/AndroidRuntime(12512): FATAL EXCEPTION: main
E/AndroidRuntime(12512): Process: com.darklordgame.jumpbasket, PID: 12512
E/AndroidRuntime(12512): java.lang.Error: FATAL EXCEPTION [main]
E/AndroidRuntime(12512): Unity version     : 2017.4.0f1
E/AndroidRuntime(12512): Device model      : ZTE 402ZT
E/AndroidRuntim

[2018-03-21 16:54] i08jineq commented on #637
It seems to be the request made the crash

[2018-03-21 18:28] rampara commented on #637
@i08jineq are you including the required Google Play services dependencies in your Unity project? If not, select `Assets -> Play Services Resolver -> Android -> Resolve` to add the required files to the `Assets/Plugins/Android` directory of your Unity project.

[2018-03-21 23:54] i08jineq commented on #637
@rampara Hi, I didn't put anything but admob.
I tried Assets -> Play Services Resolver -> Android -> Resolve too..
but no files added thanks

[2018-03-21 23:55] i08jineq commented on #637
@rampara There is a popup said it successful. but no new files is added

[2018-03-22 00:26] rampara commented on #635
@oldnewusers glad you were able to resolve your issue.

[2018-03-22 00:26] #635 closed

[2018-03-22 00:28] rampara commented on #637
@i08jineq can you post the contents of `Assets/Plugins/Android` directory of your project? Also, you can turn on verbose logging for Play Services resolver (select `Assets -> Play Services Resolver -> Android -> Settings` and select verbose logging) and post the contents listed in the console when you attempt to resolve dependencies.

[2018-03-22 02:00] vongsomxai commented on #637
@rampara Thank you for your replay.
Here is how it looks like in Assets/Plugins/Android
<img width="1673" alt="2018-03-22 10 21 18" src="https://user-images.githubusercontent.com/22186879/37746924-e1cfe9f6-2dbf-11e8-8feb-5313918a59bb.png">

I also select verbose logging and do the resolve again
It shows
<img width="423" alt="2018-03-22 10 55 27" src="https://user-images.githubusercontent.com/22186

[2018-03-22 04:16] i08jineq commented on #637
Proved!

[2018-03-22 08:09] rahat10120141 commented on #628
I have uploaded the full video about my problem. Please have a look.

[Bug Video](https://youtu.be/ASe5WTE6gpo)

** For video purpose I have tested it in emulator, but I have also tested it with few real devices and got the same result

[2018-03-23 01:47] rampara commented on #628
@rahat10120141 can you provide the contents of logcat under the `Ads` and `Unity` when you run through your test case?

[2018-03-23 02:03] rampara commented on #637
@i08jineq you should see a lot more messages in the console that describe the dependency resolution process. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-03-23 02:03] #637 closed

[2018-03-23 02:03] #627 closed

[2018-03-23 02:49] keepup commented on #631
@rampara
I have the same issue in Android device recent days.
I have received feedback from several players in recent days. They all say that there is no advertising to see. Then I try request reward ad in our android device, it always returns error "No fill"(Failed to load ad: 3). It's the same result after AddTestDevice in the request.
If you need me, I would be happy to provide more information

[2018-03-23 06:42] fkkcloud commented on #632
having the same issue here - any updates?

[2018-03-24 04:54] rahat10120141 commented on #628
[Here](https://drive.google.com/file/d/1LR4vrfbCXO0HI_kJMkF8B5GesJXMjMib/view?usp=sharing) is the logcat for overall hello world app.

[2018-03-25 09:07] RobertRybaric opened #639 "AdMob banner in a Unity Android game shows up on the top with AdPosition.Bottom"
Hi, I am now testing a new Unity game for Android on 3 different devices, a Redmi 4A smartphone, a Samsung Galaxy Tab 8 tablet and a Huawei MediaPad 2 tablet. The game has portrait orientation only and I am showing an AdMob banner (for now just test ad) from the very beginning of the game using  1 single call of the appropriate method:

`bannerView = new BannerView(adUnitId, AdSize.SmartBanner, Ad

[2018-03-26 22:44] rampara commented on #628
@rahat10120141 looks like the `OnAdRewarded` ad event is being invoked but you're hitting a null pointer exception within the `HandleRewardBasedVideoRewarded ()` method.

[2018-03-27 03:45] rahat10120141 commented on #628
Then what is the solution? as have not modify anything to the code, so what should i do to solve this issue?

[2018-03-28 02:14] fkkcloud commented on #632
@rampara I am having exactly same problem and using previous version seems to getting rid of this issue. btw my versions:
GMA:3.8.0
Unity:2017.3.1f1
Xcode: 9.3 beta2

[2018-03-28 09:11] Hardik-Nadiyapara commented on #639
Hello, Admob team
@RobertRybaric i am facing same problem , banner stick to top of the screen,despite of set Adposition to bottom

[2018-03-28 09:16] robertry commented on #639
Hi @Hardik-Nadiyapara I have submitted this also into the Google Group for AdMob: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/google-admob-ads-sdk/I3oelAmkUXc/yhkdgbrwBAAJ
They are investigating and I have also figured out using their sample HelloWorld test project, that the issue happens on the device in question always after an interstitial or rewarded video is showe

[2018-03-28 12:34] tanapp commented on #569
Wow.
I can reproduce the problem all the time with every new project.
I wished I could say "can't see the problem, so there is no problem" and get all my problems solved just by saying it.

[2018-03-28 14:18] rchallenger commented on #569
Something similar to your issue occured with GAD and resolver.
Solution was reducing the file name length by shortening depth of project location.
Try placing your Assets folder at the root of your drive.

[2018-03-28 14:58] tanapp commented on #569
Thx @rchallenger.
I had always find a way to solve this issue, as mentioned before.
The main problem is that every version of this google ads project have the same issue. Just look at the issues list. So instead of finding a solution, we have an "I can't see it so it doesn't exist" answer. Too bad.

[2018-03-28 19:27] rampara commented on #639
@RobertRybaric @Hardik-Nadiyapara are you also only experiencing this issue after an interstitial or rewarded video is shown over the banner? Or is this issue consistently reproducible on certain devices for you?

[2018-03-28 21:27] rampara commented on #632
@fkkcloud can you check what version of the iOS GMA SDK is being included in your generated Xcode project. The easiest way to do this would be to turn on verbose logging (select `Assets-> Play Services Resolver -> iOS Resolver -> Settings` and check `verbose logging`). You should see a message in the console that starts with `'/usr/local/bin/pod install' completed with code 0`, which lists the ver

[2018-03-28 22:44] rampara commented on #628
@rahat10120141 is the `counter` value not null? Being able to look through a sample project that repros the issue would make debugging the issue much easier on my end.

[2018-03-28 22:45] rampara commented on #631
@keepup are you able to load test ads by using the test ad placements listed in the [developer docs](https://developers.google.com/admob/unity/test-ads)?

[2018-03-29 03:59] Hardik-Nadiyapara commented on #639
hello @rampara
i am facing the issue when i load banner after destroying it.
let me explain it by test case
at game start load banner showing perfectly in the bottom of the screen
now when i am trying to destroy banner and load again then problem start means banner showing at the top of the screen.

[2018-03-29 06:45] rahat10120141 commented on #628
[here](https://drive.google.com/file/d/1T_WWVHyFBylGj3n2XDH7WxSmBi6aOlYc/view?usp=sharing) is my full code for the project. Please solve the problem. i am not able to solve it.

[2018-03-29 08:47] bernardz opened #640 "Broadcast of Intent error/ANR"
Hi,

We have in several games an issue what we cannot find or reproduce.
Some information:

- Unity 2017.3
- Admob 3.12.0
- Firebase 4.5.0

I hope someone can help us.
Thank you!

The only information what we have is this from the ANR info:

Broadcast of Intent { act=android.intent.action.SCREEN_ON flg=0x50000010 launchParam=MultiScreenLaunchParams { mDisplayId=0 mBaseDisplayId=0 mFlags=0 } (has e

[2018-03-29 12:16] nazirchohan223 opened #641 "some time crash on android device"
hello, I am facing a lot of crash due to google mobile ads.when ads are successfully loaded every thing works fine and when ads load to fail game show not responding and crashes and my crash rate is more than 5%

[2018-03-29 14:00] llmagicll opened #642 "Facebook Adapter 4.27 and 4.28 cannot receive OnAdRewarded event"
I am facing the problem that iOS Facebook Adapter 4.27.0 4.27.1 4.27.2 (with audience network 4.27.0)and 4.28 (with audience network 4.28.0) cannot receive OnAdRewarded event, and also cannot show interstitial ad after call m_AdInstance.Show (); with 3.12.0 GoogleMobileAd
Could anyone help?? Every other mediations are fine (e.g. Unity, Chartboost, etc...)

[2018-03-29 16:06] llmagicll commented on #642
I found the reason after i look into the Facebook adapter (4.28.0)

The facebook rewarded video delegate is:
- (void)rewardedVideoAdVideoComplete:(FBRewardedVideoAd *)rewardedVideoAd;

However in Facebook adapter is implemented as:
- (void)rewardedVideoAdComplete:(FBRewardedVideoAd *)rewardedVideoAd

That is a big mistake, i'm still finding the problem of interstitial.

[2018-03-29 16:37] rampara commented on #641
@nazirchohan223 can you provide more details on this crash? A log would be help to investigate.

[2018-03-30 05:58] worldshetgaonkar opened #643 "Gradle failed to fetch dependencies."
https://github.com/googleads/googleads-mobile-unity/issues/560

The upper link which I have given is the issue which I am facing  for last 19 day with  the Admob unity

[2018-03-30 07:39] nazirchohan223 commented on #641
​
 GoogleMobileAds.unitypackage
<https://drive.google.com/file/d/1VOD3mEFvzNDHGv-iK40kXLt5UsLT4bRe/view?usp=drive_web>
​I am Using Google mobile ads with unity ads, google play games
services,heyzapp and app lovin.but I have noticed that game crashes only
when loading adman ads.i am attaching plugin for more detail

On Thu, Mar 29, 2018 at 9:37 PM, rampara <notifications@github.com> wrote:

[2018-03-30 09:41] nazirchohan223 commented on #641
Got Thus log on google play console
"HeyzapThreadPool" tid=52 Runnable
"HeyzapThreadPool" prio=5 tid=52 Runnable | group="main" sCount=0 dsCount=0
obj=0x12ecb820 self=0xcb3f5800 | sysTid=23689 nice=0 cgrp=default sched=0/0
handle=0xbcd21920 | state=R schedstat=( 0 0 0 ) utm=318 stm=12 core=0
HZ=100 | stack=0xbcc1f000-0xbcc21000 stackSize=1038KB | held mutexes=
"mutator lock"(shared held)
at androi

[2018-03-30 17:34] worldshetgaonkar commented on #643
.

[2018-03-30 18:28] Visual-Vincent commented on #623
@rampara I've tried, but so far I've been unable to reroute AdMob's network traffic between my iPad and my computer. Sorry.

Good thing about the guides though!

[2018-03-31 06:17] #643 closed

[2018-04-01 01:48] heguchi opened #644 "Reward videos sometimes flash repeatedly after playing"
once videos start flashing, users cannot recover the issue.

[2018-04-02 07:18] vanminh2501 opened #645 "Ads always return NO-FILL (Failed to load ad: 3)"
I'm using admob for showing android ads, identically like the documentation. The test ads are working fine but real ads are not shown, it always returns error "No fill from ad server"(Failed to load ad: 3), It's the same result after AddTestDevice in the request.

[2018-04-02 08:30] sysads commented on #632
Any fix to this issue? Having same issue now.

[2018-04-02 17:48] rampara commented on #632
@sysads can you try following the instructions in my previous comment to check which version of the GMA SDK is used in your Xcode project?

[2018-04-02 17:49] rampara commented on #645
@vanminh2501 if test ads are working then your issue is not related to this plugin but ad serving for the GMA SDK. I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-04-02 17:49] #645 closed

[2018-04-02 17:50] rampara commented on #644
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-04-02 17:50] #644 closed

[2018-04-02 17:54] rampara commented on #623
@Visual-Vincent keeping this issue open while the discrepancy is behavior between Unity apps and a standard iOS app is investigated.

[2018-04-02 17:58] rampara commented on #639
@Hardik-Nadiyapara I'm still unable to reproduce this issue as it seems device specific. Marking this as a duplicate of #572.

[2018-04-02 17:58] #639 closed

[2018-04-02 18:54] rampara commented on #640
@bernardz this ANR seems to be caused by the JNI bridge in Unity for plugins and not the plugin itself? As such, there's not much this plugin can to to resolve this issue.

[2018-04-02 20:31] rotter opened #646 "Banner in wrong position after Rewarded Video watched"
If I have a banner showing on the bottom of the screen, then start a rewarded video with the device correctly oriented (portrait), then during the beginning of the video I rotate the device so it's upside-down and then cancel the video (to avoid the reward), once the video closes the banner is on the wrong side of the screen. I always load banners as "bottom" and when I do this they show up at the

[2018-04-02 20:39] rotter commented on #572
Quick comment which might be helpful:

I've had in the past (1-2 years ago) problems with some specific Samsung devices regarding their orientation and the returned Screen.Width and Screen.Height. They would for example be in Portrait mode but would return swapped Width and Height values, this would mess up lots of things including our AdMob banner positioning, and I dont blame AdMob on that.

I'm

[2018-04-03 07:09] rahat10120141 commented on #628
Have you got the solution? I am not able to solve this. Please if will be better if you got the actual solution

[2018-04-03 15:08] rotter commented on #646
This seems like a bizarre situation that would never happen "naturally", but the first time it occurred to me it was indeed naturally. I was testing the rewarded video with the device on a flat table but the device was slightly angled due to a cable passing below it, and then after the video the banner was on top of the screen. It took me some 30 minutes to figure out the reason was the rotation (

[2018-04-03 15:28] rotter opened #647 "Please give us the exact banner size in Unity units"
I've had this problem around a year ago and though "ok, the SDK is still new, let me make a hack and wait until the next update which they will certainly add a way for us to know the banner size, I wont annoy them with this".

Fast forward a year and it's still almost impossible to tell the banner exact size on the screen without hacks.

One has to make several hacks to convert from DP to Pixels t

[2018-04-04 06:32] koniu699 commented on #632
Hello, I'm having the same issue. From logs I've got this:

and the error is the same:

I'm using Unity 2017.1.2f1

[2018-04-04 06:39] fkkcloud commented on #632
@sysads @koniu699  try to remove the latest plugin from Unity project and installing [old version](https://github.com/googleads/googleads-mobile-unity/releases/tag/v3.8.0)

[2018-04-04 06:54] koniu699 commented on #632
@fkkcloud yeah, I just did that and it works as expected. However it's a bug in newest version (and it's the version "promoted" on main download page), so it should be noted.

[2018-04-04 09:09] oldnewusers opened #648 "Interstitial Ads Do Not SHow Up"
Hi All,

I am trying to import Admob Interstitials into my game. I have imported the latest Admob plugin successfully. But the interstitial does not show up on my mobile when the "ShowAd" method is called.

I use the following code:

`
public class AdManager : MonoBehaviour {
    public static AdManager instance;
    InterstitialAd interstitial;
    // Use this for initialization
    void Start ()

[2018-04-04 09:47] BrianOSH commented on #629
Hi
  Here is my temporary solution to this problem.

// called as a coroutine.
IEnumerator OnApplicationPause(bool pauseStatus)
{
        // check for application resume.
	if(pauseStatus == false)
	{
                // a small delay seems to be need here.
		yield return new WaitForSeconds(2);

                // reposition banner.
		bannerView.SetPosition(AdPosition.Bottom);
	}
}

If the banner al

[2018-04-04 14:07] rampara commented on #642
@llmagicll thanks for reporting this issue. The mediation team is investigating and a fix should be pushed out shortly

[2018-04-04 14:09] rampara commented on #647
@rotter closing this issue as the new APIs introduced in v3.10.0 of the plugin seem to meet your use case. The dev docs will be updated shortly to reflect the addition of these new methods.

[2018-04-04 14:10] #647 closed

[2018-04-04 18:35] rampara commented on #632
@fkkcloud @koniu699 the issue is caused because your Xcode project doesn't include the latest version of the iOS GMA SDK. Can you trying running `pod repo update` in the terminal and then building a new Xcode project (instead of appending to an existing build)?

[2018-04-04 18:36] rampara commented on #648
@oldnewusers for integration issues I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-04-04 18:36] #648 closed

[2018-04-04 18:36] fkkcloud commented on #632
@rampara Created new xcode project from scratch but has same issue.

[2018-04-04 18:37] rampara commented on #624
Closing due to non-response.

[2018-04-04 18:37] #624 closed

[2018-04-04 18:37] rampara commented on #619
Closing due to non-response.

[2018-04-04 18:37] #619 closed

[2018-04-04 18:49] rampara commented on #646
@rotter can't seem to reproduce this on my end. Steps I followed:

1. Request and display smart banner at bottom of screen
2. Request and show rewarded video.
3. Rotate phone 180 degrees
4. Close rewarded video before reward is granted.

At this phone the entire UI is upside down, but the banner is still rendered correctly at the bottom.

[2018-04-04 18:52] rotter commented on #646
@rampara try to disable "auto rotation" on the app. On my app the rotation is fully locked on "portrait".

Build Settings window -> Android -> Player Settings -> Resolution and Presentation -> Default Orientation = Portrait

[2018-04-04 18:53] rotter commented on #646
btw, I've had this issue happen with Interstitial as well today, so I believe this issue is not only reward-video related, but anything full-screen.

[2018-04-04 19:02] rampara commented on #646
@rotter do you have rotation disabled in-app but enabled on a OS level?

[2018-04-04 19:09] rampara commented on #632
@fkkcloud have you run `pod repo update` ? Did you check if you're pulling in an older version of the iOS GMA SDK into your generated Xcode project?

[2018-04-04 19:26] rampara commented on #572
@rotter swapped height and width values seem like they would result in offset banners rather than banners that are locked to the top position. Is there something within the implementation of this plugin that pushed you towards that being the cause of the issue?

[2018-04-04 19:26] rampara commented on #629
Continuing to keep this issue open until I can find I device that reproduces the issue.

[2018-04-04 23:16] rampara commented on #574
Closing due to non-response.

[2018-04-04 23:16] #574 closed

[2018-04-05 00:05] rampara commented on #646
@rotter still unable to repro this on my end. Does your video rotate?

[2018-04-05 00:16] rampara commented on #641
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-04-05 00:17] #641 closed

[2018-04-05 00:35] rotter commented on #646
@rampara I just tried on a different device (a Samsung tablet), and the behavior is different, so let me make the distinction:

1) Nexus 4 phone, OS rotation is enabled. I have the game with a banner on the bottom and the phone on regular portrait orientation (not upside down), I start the rewarded video (or interstitial), turn the phone upside down, the video stays upside down, I close the video,

[2018-04-05 00:38] rotter commented on #572
@rampara no, it was just a long shot as I remembered a positioning issue I faced years ago. Might not be related, you can ignore it if you don't think it's related (probably isn't as I re-read now). And if I recall correctly indeed it didnt position the banner on the wrong end, but would shift it half-way outside of the screen due to centering using the wrong value (1920 instead of 1080 for exampl

[2018-04-05 02:34] keepup commented on #631
@rampara I can get reward videos now.  But I don't know why it's always "No Fill" after request a reward video before.

[2018-04-05 10:52] anupk121 commented on #630
hg

[2018-04-05 17:19] rampara commented on #631
Closing as the issue seems to have been resolved for @keepup and no response from @JAOOOOO.

[2018-04-05 17:19] #631 closed

[2018-04-05 18:25] rampara commented on #572
Will continue to keep this issue open until I'm able to get my hands on a device that reproduces the issue.

[2018-04-05 21:39] mole84 opened #649 "CRASH on Build: `MobileAds.SetiOSAppPauseOnBackground()` method to pause iOS apps when displaying full screen ads."
`MobileAds.SetiOSAppPauseOnBackground()` method to pause iOS apps when displaying full screen ads.

This crashes on build in xcode , it says "property (class) is not defined."

Downgrade to v. 3.10 helps me.

Please fix for newest version 3.12

[2018-04-05 23:02] rampara commented on #649
@mole84 looks like you're not pulling in all of the changes included v3.12.0 of this plugin. Can you try removing all files related to this plugin and re-importing the latest plugin package.

[2018-04-06 07:50] anightinseoul commented on #633
1. play music using Music App
2. Start unity game.
3. Show Rewarded video and close.
=> The music is played automatically but game sound isn't played.

[2018-04-06 21:32] martin3361 opened #650 "Ad cannot be closed even though there is close button"
I'm using AdMob Unity plugin 3.7.0 in my project, with AdMob mediation configured for Admob, Unity ads, Chartboost, Vungle and AdColony.
This is the issue I experienced: even though I have enabled ad skip and the close button appeared at the top right corner, it wasn't doing anything and I had to restart the game.
I noticed that this started to happen recently.

Attached is the ad in question, I d

[2018-04-07 08:59] koljanich opened #651 "How to completely uninstall the plugin"
Hello! My ECPM is down to $0.4 from $1.7!!! I want completely remove the plug-in along with services, mediation and linked libraries. I will no longer use the Google libraries, Google Play services and other related libraries. Please tell me how I can remove all this from the Unity project so that when the Google Play Service Resolver does not return all the libraries back.

[2018-04-08 20:31] fzdravko commented on #629
I have this problem too. It happens when I load Rewarded Video and then cancel it, banner ad change position from bottom to top. I have multiple devices and this happens only on one - Motorola Moto G (XT1032) - Android v5.1.

[2018-04-08 20:38] fzdravko commented on #646
I have this problem too. It happens when I load Rewarded Video and then cancel it, banner ad change position from bottom to top. I have multiple devices and this happens only on one - Motorola Moto G (XT1032) - Android v5.1.

[2018-04-10 09:57] rchallenger commented on #651
Would you reveal to us a secreat of what you have been using when you had such ECPM?

[2018-04-10 13:11] ravi2831 commented on #623
Thanks Rampara ,
i'll create log and share with you .

[2018-04-10 13:36] rotter commented on #646
@rampara @fzdravko I forgot to check Android version on my case (Nexus 4), and it is the same exact API version (Android 5.1.1 in fact), so that may be the culprit.

[2018-04-11 01:52] alaslipknot opened #652 "UnityAds reward videos callback not working on iOS"
Hi,

this is some pretty weird issue, the game works perfectly on Android, but on iOS only Vungle and GoogleAds are performing correctly, unityAds reward videos just don't do ANY callback.

I really can't think of anything in this situation, as the code used there is the exact same one used in another project which works just fine, also i double checked  that everything is setup correctly in the d

[2018-04-11 10:47] shahbazofficial commented on #624
Remove admob and never add it again .

[2018-04-11 12:37] can-keskin opened #653 "Crash on Android(Unity) OnRewardedVideoCompleted() for Admob video ads"
Crash occur at the end of Admob rewarded video on Android. Mediation works fine, crash happens only for Admob videos. On iOS no crash either.

Here is the crash log:

`Caused by: java.lang.AbstractMethodError: abstract method "void com.google.android.gms.ads.reward.RewardedVideoAdListener.onRewardedVideoCompleted()"
        at com.google.android.gms.internal.zzafh.onRewardedVideoCompleted(Unknown

[2018-04-11 12:58] aurnut commented on #453
Hello @rampara I have the same issue.
I'm using Unity 2017.3.1p4 with Google Mobile Ads 3.12.0 and mediation. I also use Proguard within Unity. The crash happens at the end of an Admob video and is rare on some phones and 100% on others. And it happened to me that a phone with the crash happening rarely became a 100%. Here is the error in the log:

[code]

[2018-04-11 13:06] web407b commented on #653
I have same problem.

[2018-04-11 15:24] alaslipknot opened #654 "iOS Pod install : unable to read the license file for the spec UnityAds"
Hi,

am getting this error when i do :
`pod install --repo-update`

Error:

`[i] Unable to read the license file `/Users/ala/Desktop/CS1/Pods/UnityAds/LICENSE` for the spec `UnityAds (2.2.0)``

Here is the content of my pod file :

[code]

And here is the full output after doing **pod install** :

[code]

any help please ?

thanks

[2018-04-11 16:09] useless-id opened #655 "FATAL EXCEPTION on RewardedVideoAdListener.onRewardedVideoCompleted()"
Hello, I found a issue when trying to finish the RewardAd in Android 7.
After the RewardVideo has finished (and I don't even have the time to close the RewardVideo with X) the game crashes and I have this logcat with FATAL EXCEPTION[main]

`04-11 17:55:01.729 19107 19107 D AndroidRuntime: Shutting down VM
04-11 17:55:01.731 19107 19206 I System.out: (HTTPLog)-Static: isSBSettingEnabled false
04-11

[2018-04-11 17:05] useless-id commented on #653
have the same problem  too!

![schermata 2018-04-11 alle 18 33 49](https://user-images.githubusercontent.com/16194538/38630347-f313a41c-3db6-11e8-8303-d6fb4421d72f.png)

[2018-04-11 17:38] rampara commented on #655
Closing as duplicate of #653.

[2018-04-11 17:39] #655 closed

[2018-04-11 18:31] aurnut commented on #653
#453 Same for me sometimes.

[2018-04-11 18:58] rampara commented on #653
@aurnut @useless-id @web407b @can-keskin can you confirm which version of Google Play services are included within your Unity project? You can determine this by checking the version of the Google Play services AARs located in the `Assets/Plugins/Android` directory of your Unity project?

[2018-04-11 19:02] aurnut commented on #653
Now I have 11.8.0 but I don't have this issue anymore on my phone. I'm waiting for other friends' phones to test.
When I had the bug 100% on my phone I had 12.0.X (I don't remember exactly).

[2018-04-11 19:43] rampara commented on #650
@martin3361 were you able to figure out which ad network serves the ads that are causing this issue fo you? The `MediationAdapterClassName()` may be helpful here. However, as this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for furt

[2018-04-11 19:43] #650 closed

[2018-04-11 19:45] rampara commented on #651
The way to uninstall the plugin would be to manually remove all plugin related files from your project. The `Assets/GoogleMobileAds` and `Assets/PlayServicesResolver` directories would be a good place to start. There are also files from this plugin in `Assets/Plugin/Android` and `Assets/Plugin/iOS`.

[2018-04-11 19:45] #651 closed

[2018-04-11 19:50] rampara commented on #652
@alaslipknot just so to clarify, your issue is that Vungle callbacks are working as expected in one project but not another?

[2018-04-11 19:52] rampara commented on #654
@alaslipknot can you try generating a new Xcode project from Unity instead of appending to the existing one that is causing this issue?

[2018-04-11 19:54] rampara commented on #611
Closing due to non-response.

[2018-04-11 19:54] #611 closed

[2018-04-11 19:55] #640 closed

[2018-04-11 20:08] rampara commented on #623
@ravi2831 will continue digging into this once you're able to provide a log.

[2018-04-11 21:32] rampara commented on #653
This issue should be resolved on the latest version of this plugin (v3.13.0).

[2018-04-12 05:39] web407b commented on #653
I have checked new plugin(v3.13.0) It is well done. Thanks @rampara

[2018-04-12 11:14] useless-id commented on #653
It works! Great job, thanks @rampara ♥︎

[2018-04-12 13:58] rotter commented on #646
@rampara I have just got an email from a player complaining about this same problem. His Android is 5.0.2 and the banner moves to the top of the screen after an interstitial ad:

"My version of Android is 5.02.  And yes, the banner moves to the top right after closing a full-screen ad."

[2018-04-12 20:28] alaslipknot commented on #652
@rampara  on Android everything is working, on iOS, only Vungle and AdMob are working, when i get Ads from UnityAds, i don't get any callback within the game. and yes it's the same project.

[2018-04-12 20:29] alaslipknot commented on #654
@rampara  yes tried that, still the same, i had to go back to the perversion version of GoogleMobileAdsMediationUnity, now am using 2.1 instead of 2.2 and the problem is gone, however this is related to my other post and even when this issue gone, unityAds callback are still not working.

[2018-04-12 21:50] rampara commented on #646
@rotter was finally able to reproduce the issue on my end. Putting together a workaround that should be pushed out shortly.

[2018-04-12 21:50] rampara commented on #572
Was finally able to reproduce the issue on my end. Putting together a workaround that should be pushed out shortly.

[2018-04-12 21:52] sjvc commented on #572
That's good news! Thanks!

El jue., 12 abr. 2018 23:50, rampara <notifications@github.com> escribió:

[2018-04-12 22:09] rampara commented on #646
Closing as duplicate of #629.

[2018-04-12 22:09] #646 closed

[2018-04-12 22:10] rampara commented on #629
Was finally able to reproduce the issue on my end. Putting together a workaround that should be pushed out shortly.

[2018-04-14 08:29] samieti02 opened #656 "GoogleMobileAds.Android.Utils' does not contain a definition for `NativeExpressAdViewClassName'"
Hi,
there is a new error, using the new release of the sdk in unity

GoogleMobileAds.Android.Utils' does not contain a definition for `NativeExpressAdViewClassName'

Can you please help us to fix it,
Thanks

[2018-04-17 09:44] Enekiller opened #657 "Banner position changes when interstitial is loaded"
Hi, I recently built my android game. I set up a banner in the bottom of the screen at the beginning of the game (first menu scene), once, as I want it to be there forever (until game is closed). I got also an interstitial ad each two levels, that I request normally. The problem is that when the interstitial is closed, the banner ad changed its position from bottom to top automatically. Is this ha

[2018-04-17 16:11] eklebanski commented on #656
Same here

[2018-04-17 17:24] rampara commented on #656
@samieti02 @eklebanski Support for Native Ads Express were removed in v3.13.0 of this plugin. Are you using outdated plugin files that still may be referencing Native Ads Express functionality?

[2018-04-18 13:13] waqasahmeddevbatch commented on #640
@bernardz Have you resolved this issue?

[2018-04-18 19:15] ArmandCloud opened #658 "Receiving real ads on test device."
Using Google Mobile Ads Unity Plugin v3.13.1, Unity 2017.3.1.p4,  Android (Min API 16,Target API Max.)

Logs after request.

On android test devices, it shows real ads. ios is fine.

Best Regards,

[2018-04-18 22:25] rampara commented on #646
@rotter have you tried to reproduce the issue on the latest version of the plugin (v3.13.1) ?

[2018-04-18 22:30] rampara commented on #658
@ArmandCloud are you not seeing the test ad label on ads loaded on Android? Are you able to get a Charles log for an ad request and response?

[2018-04-18 22:33] rampara commented on #642
Closing as this has been fixed.

https://github.com/googleads/googleads-mobile-ios-mediation/blob/master/adapters/Facebook/FacebookAdapter/GADFBAdapterDelegate.m

[2018-04-18 22:33] #642 closed

[2018-04-18 22:37] rotter commented on #646
Im on vacation this week, I have no access to any devices, sorry. I will test it next Monday.

[2018-04-19 03:42] rotter commented on #629
As I mentioned on another related issue, a user of mine emailed today saying that after a Google update that she had yesterday it started working.

But then a few hours later she emailed again and said that only on the first few ads it worked, then after a while it stopped working again.

I cant try it as Im out of town, I will try on next Monday and write back.

[2018-04-19 17:13] rampara commented on #629
Will keep the issue open until the fix is verified.

[2018-04-19 23:48] sebastianteres opened #659 "AdColony mediation Unity READ_PHONE_STATE"
Hey guys,

I'm sorry if this is not the right place for this issue, I couldn't find a better one.
AdColony mediation unity package is causing that READ_PHONE_STATE permission problem.

When trying to upload the apk to the Play Console it causes an error with a message saying I need a Privacy Policy because my app is requesting that permission. This only happened after importing AdColony Mediation

[2018-04-21 12:31] malyawka opened #660 "Ad content filtering not working"
Hello!

- Unity 2017.1 final
- Google Mobile Ads Unity Plugin v3.13.1
- Service Ads 12.0.1
- All (my - Nexus 5 Android 6.0.1 , but phone of testers from Google Play don't know)

I have an application that I can not publish for several days.
It is rejected due to violations of the display of advertising.
The application is designed for children and shown advertising should match this, but as it tur

[2018-04-22 10:00] eklebanski commented on #656
Removing all previous package and importing Admob plugin anew solved the issue

[2018-04-22 22:16] rampara commented on #656
@eklebanski glad you issue has been resolved.

[2018-04-22 22:16] #656 closed

[2018-04-23 19:27] rotter commented on #646
I have just tried and on the first 2 rewarded videos the banner was OK (bottom), then after the 3rd rewarded video the banner moved to the top.

Some comments:
- I didnt update the AdMob SDK bundled on the game, I was expecting that the update would already be on the device due to the automatic updates on Google modules, if I should have downloaded the newest SDK let me know and I will re-test
- B

[2018-04-23 19:27] rotter commented on #629
I have just tried and on the first 2 rewarded videos the banner was OK (bottom), then after the 3rd rewarded video the banner moved to the top.

Some comments:

I didnt update the AdMob SDK bundled on the game, I was expecting that the update would already be on the device due to the automatic updates on Google modules, if I should have downloaded the newest SDK let me know and I will re-test
But

[2018-04-25 12:24] bukngggg opened #661 "MediationAdapterClassName return null"
Sometimes， InterstitialAd.MediationAdapterClassName()  return null when i change the order of Mediation

[2018-04-27 10:25] stzminji opened #662 "iOS - The reward ads is loaded, but you can not watch it."
Hello.

There is a problem with the Reward ad.

I've loaded a reward ad in my mobile Unity project, and I've tried to run it,
 but I can't see it with the error 'No ads to show ... log from MobvsitaAdapter'.

Ad load completion callback was called normally.

True is returned when the RewardBasedVideoAd.isLoaded () is called before the show is called.

Using :
Unity 5.6.3p4
iOS 11.2 ( iPhone 7 Plus

[2018-04-28 09:53] taimoor1989 opened #663 ""GADUPluginUtil.h" (Unknown property attribute 'class') on @property(class) BOOL pauseOnBackground;"
Just downloaded and installed this and was trying to test it out with iOS. I was getting some errors that I was unable to resolve.
<img width="1151" alt="screen shot 2018-04-28 at 2 48 09 pm" src="https://user-images.githubusercontent.com/38808552/39395077-7dba5d6a-4af3-11e8-83c9-46b98f2a38c3.png">

also getting error here in GADUInterface.m

<img width="1155" alt="screen shot 2018-04-28 at 2 48 3

[2018-04-28 20:00] gammlstudio commented on #629
I have the same problem when showing an interstital or a video ad the banner ad jumps from the bottom to the top. Banner ad position change also occures when minimizing the app and then returning to it. When the banner is shown on the bottom, then to the top and vice versa. At the moment I have used only Huawei P6 for testing, so not sure if this happens on other devices.
Does the hiding and delay

[2018-04-28 20:45] rotter commented on #629
@gammlstudio this problem only happens on Android 5.0/5.1 it seems, and no workaround was posted here yet from what I can tell

[2018-04-28 21:58] gammlstudio commented on #629
@rotter Thank you for your replay and yes, my testing device runs on 5.1.1. Hopefully the bug gets fixed in the future though.

[2018-05-01 04:56] rampara commented on #663
@taimoor1989 does setting the property directly resolve your issue?

[2018-05-01 04:57] rampara commented on #662
@stzminji can you ensure you're using the latest version of the Google Mobile Ads iOS SDK. There was a fix for this issue included in a recent version of the SDK.

[2018-05-01 05:00] rampara commented on #661
@bukngggg the method returns null on Android for non-mediated responses.

[2018-05-01 05:00] #661 closed

[2018-05-01 21:36] akwkong opened #665 "Publish updated GoogleMobileAdsAdColonyMediation on Bintray"
One of our publishers noticed that AdColony Rewarded videos on Android were rewarding even when the video was not completely viewed. That was fixed in version 3.3.0.1 of the AdColony adapter:
https://github.com/googleads/googleads-mobile-android-mediation/issues/49

I saw that the Assets/GoogleMobileAds/Editor/AdColonyMediationDependencies.xml file in the 1.0.0 version of GoogleMobileAdsAdColonyMe

[2018-05-02 21:09] rampara commented on #629
@gammlstudio @rotter I've linked a video where I attempted to reproduce the issue on a Moto G running Android 5.1. Prior to v3.13.1 of this plugin, I was able to reproduce the issue but am no longer able to. Are you performing different steps that what I've done in the video?

https://drive.google.com/file/d/1nd08sYZ47iwTtD9m8pVFxLE-haYmgHd8/view?usp=sharing

[2018-05-02 21:14] rotter commented on #629
Hi @rampara . As I mentioned I didnt update the packaged AdMob on the APK plugin to test, so if AdMob v3.13.1 isnt bundled in GPS 12.5.29 then I was testing with the old AdMob plugin (and therefore you can ignore my last message from a few days ago).

[2018-05-02 21:16] rampara commented on #629
@rotter the fix for this issue was included with the plugin itself and not the Google Mobile Ads SDK.

[2018-05-02 21:27] rotter commented on #629
So that means my players won't get a fix until automatically via Google Play Services, and I have to download the new plugin and roll out an update with the new plugin... correct?

If the answer is "yes" then you can ignore my message from 9 days ago, as I didnt download the plugin and rebuilt, I mis-thought the fix was rolled out automatically via GPS.

[2018-05-03 08:14] taimoor1989 commented on #663
i solved it by updating my xcode.it was'nt working on xcode7.3

[2018-05-03 08:14] #663 closed

[2018-05-03 13:21] msureka opened #666 "Banner not destroyed on certain devices"
Hello,

We have implemented Admob Banner Ad in the Main Menu of our game, and are destroying the Ad when the user clicks on Play button.

On most of our test devices (iOS & Android) this seems to be running fine, but we have got several reviews (especially on Android), that this banner doesn't get destroyed and stays even during the gameplay.

We are unable to reproduce this as it is working fine

[2018-05-03 20:56] cabanel opened #667 "on ios when you change the screen rotation the banners are not positioned correctly"
Hi

on IOS when you change the screen rotation the banners are not positioned correctly

on Android work fine

test on iphone6
googleads-mobile-unity Version 3.13.1

thanks
![img_0282](https://user-images.githubusercontent.com/4569650/39616467-cac3edba-4f7b-11e8-851c-55010dfde2ba.jpg)

[2018-05-07 20:56] aratn0n opened #668 "Will the Consent SDK be released before May 25, 2018?"
I saw that the Consent SDK for Android and iOS will be released before May 25, 2018, but I'm not sure about the Unity SDK.

Will it be released for Unity SDK too?

[2018-05-09 09:35] serui opened #669 "Build failing with iOS with Unity 2018.1.0f2 and Admob 3.13.1"
This is with a fresh import of AdMob, all implementation has been disabled.
There are no issues when building for iOS from unity, however when I attempt to build for iOS (9.3/9E145) the errors below pop up.

![screen shot 2018-05-09 at 5 26 46 pm](https://user-images.githubusercontent.com/6565980/39807469-f694002e-53ae-11e8-9db1-4842ee2593c0.png)

[2018-05-10 06:42] RenalPraba commented on #338
It works, Thanks!

[2018-05-11 01:45] #669 closed

[2018-05-12 08:34] ArmandCloud commented on #658
Some how it solved by itself 1-2 week ago. I assume something is changed on admob side. Thank you @rampara .

[2018-05-12 08:34] #658 closed

[2018-05-13 08:13] nbhavani2016 opened #670 "banner ad not loading"
i downloaded this google mobile ads unity plugin (3.13.1) and added in to my unity game-unity version(2018.1.0f2).created admob account and got app,banner,video id and used it in my unpublished game but it is not showing any test ads.please help me!
thank u.

[2018-05-13 12:15] wallaby3 opened #671 "Banner ad spams messages once it shows the first time and never stops. Not even when the app is minimized."
I get this message every frame as soon as the first banner ad shows:

"05-13 21:59:40.840 5748-5748/{my app's bundle identifier} D/ViewRootImpl@de2377[PopupWindow:55a6438]: Relayout returned: oldFrame=[0,1655][864,1775] newFrame=[0,1655][864,1775] result=0x1 surface={isValid=true -1511204864} surfaceGenerationChanged=false"

It never stops until the app is manually closed.

It also happens using T

[2018-05-14 07:44] nbhavani2016 commented on #670
help me

[2018-05-15 07:10] zogster commented on #632
Hi, had the same issue.
Running `pod repo update` didnt work for me. Got a connection/repo not found error.
What helped:
[code]
And then a fresh Unity export.

[2018-05-16 06:49] naveedrawan opened #672 "Ads not showing on Android 7.0"
Hi,
I am using latest unity ads plugin but ads are not showing on Android 7.0?

Please  let me know soon.

[2018-05-16 11:23] sathyaraj-shettigar opened #673 "Native Advanced Error Spam"
@rampara
I tried the preview version of Admob which supports Native Advanced. Implemented it in unity but when displaying the ad I get the following error spam.

 NullReferenceException: Object reference not set to an instance of an object
   at _7DwxoIFqo4msA2gd7qefalu8Sdo._0l2RBGguR8VFeD0boB90jm7FgPF () [0x00000] in <filename unknown>:0
   at _7DwxoIFqo4msA2gd7qefalu8Sdo.CheckForImpressionWithou

[2018-05-16 20:35] gokhandem opened #674 "Rewarded Video Problem"
I've an unity android project with latest googlemobileads sdk.  I tried to show test ads for interstitial and rewarded video and it's working perfect. When i tried to change test ads to real ones, interstitial works great but reward video has problem about loading ads.

Issue is:
No fill from ad server
Failed to load ad: 3
HandleRewardBasedVideoFailedToLoad event received with message: No Fill

I

[2018-05-16 21:39] Andro-Samurai commented on #623
@rampara any update on this, I am facing the exact same problem and the ads did not appear even after I release the game to appstore

[2018-05-17 01:09] MorganMoon commented on #632
Encountering this same issue in Unity 2018.1.0f2

[2018-05-20 19:31] gammlstudio commented on #230
I have the same problem with Huawei P10, running Android 8.0.0, ads (banner, interstitial and video) aren't showing.  I have also tested on Huawei P6, Android 5.1.1 and on an older Prestigio phone, on both ads are displayed. Has this issue been solved or is is Huawei's devices problem from atleast P8 onwards?

[2018-05-21 09:54] sjvc commented on #668
Same question here

[2018-05-21 09:58] flashwade03 commented on #668
I think this page will help you.

(https://groups.google.com/forum/#!msg/google-admob-ads-sdk/Penk7_E9fIo/prC3cRjhCQAJ)

[2018-05-21 19:18] gammlstudio commented on #230
Issue is closed, but I will replay this anyway, because it seems I got my ads working again. Searched the web and found out that from the android 6.0 and onwards requesting permissions has changed, when it comes to user location. So in addition to Internet access permission, when using Admob, the location permission has to be requested as well. The issue was fixed for me when I turned on the locat

[2018-05-21 19:42] gammlstudio commented on #672
I had a similar problem with Admob. Issue:
https://github.com/googleads/googleads-mobile-unity/issues/230
Found out that the quick solution for me was, that (after android 6.0.) the location information had to be turned on for the ads to be displayed. Turning it off prevents the ads from showing.

[2018-05-21 20:08] KamranMahmood opened #675 "download package file disconnect"
During download unity Package file speed gone ???
my net speed at this time 1.2 mbps

[2018-05-21 20:20] KamranMahmood opened #677 "Net speed 2.6 mbps"
but still file not download wt...........................................................................
???????//?/

[2018-05-22 04:28] nbhavani2016 commented on #670
even sample program of Hello World is not working .test ads are not showing in my android phone.

[2018-05-22 05:45] sjvc commented on #668
Thanks @flashwade03 but we need to use the AdMob SDK to do more things like detect EU users or get providers list

[2018-05-23 01:34] Mitnainartinarian commented on #671
I get this too. It causes performance problems with my app.

[2018-05-23 06:59] flashwade03 commented on #668
@sjvc This url is helpful to you getting provider list (https://support.google.com/admob/answer/9012903).

I think those 2 logic(detecting EU users, get provider list) will be made by programmer not SDK.

[2018-05-23 18:55] yasirkula opened #678 "Test Ad label not visible for interstitial ad on emulator"
Is it normal not to see "Test Ad" label on an Interstitial ad while testing on an emulator? Logcat says `This request is sent from a test device.` but the label isn't visible. The label is there while testing rewarded ads or while testing interstitials on an actual device. My setup is:

Unity 5.6.2f1, Admob Unity plugin v3.13.1, Nexus 5 API 25 x86 1080p emulator

[2018-05-24 09:57] shlapkoff commented on #572
I reproduce this issue on Nexus 5 with Android 6.0.1.
Plugin version: 0.9.50.

When I see interstitial ad, bottom banner goin to top position and after close interstitial bottom banner goin to bottom position. But sometimes the bottom banner remains at the top.

[2018-05-24 10:00] Tanek81 commented on #668
Any updates on this **VERY IMPORTANT** topic?

[2018-05-24 23:42] rampara commented on #668
The [Unity developer docs](https://developers.google.com/admob/unity/eu-consent) include information on how to forward user consent status to the Google Mobile Ads SDK. At this time, there is no Unity Consent SDK offered.

[2018-05-24 23:43] #668 closed

[2018-05-24 23:44] rampara commented on #572
@shlapkoff are you also experiencing this issue on the latest version of the plugin (v3.13.1) ?

[2018-05-24 23:47] rampara commented on #670
@nbhavani2016 this issue tracker is for technical issues, bug reports and feature requests for this plugin. For technical support, I would recommend you reach out on the [Google Mobile Ads Technical forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for assistance.

[2018-05-24 23:47] #670 closed

[2018-05-24 23:48] rampara commented on #677
@KamranMahmood this issue tracker is for technical issues, bug reports and feature requests for this plugin. For technical support, I would recommend you reach out on the [Google Mobile Ads Technical forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for assistance.

[2018-05-24 23:49] #677 closed

[2018-05-24 23:49] rampara commented on #675
Closing as duplicate of #677.

[2018-05-24 23:49] #675 closed

[2018-05-24 23:51] rampara commented on #672
This issue tracker is for technical issues, bug reports and feature requests for this plugin. For technical support, I would recommend you reach out on the [Google Mobile Ads Technical forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for assistance.

[2018-05-24 23:51] #672 closed

[2018-05-25 20:51] KamranMahmood opened #679 "CAN'T check these box these are freeze (ADMOB SDK)"
![33583415_1787273717999922_7151195641048203264_n](https://user-images.githubusercontent.com/37421905/40565776-af8af306-6022-11e8-89f4-2839fde5c17a.jpg)

[2018-05-25 22:59] rampara commented on #679
@KamranMahmood this issue tracker is for technical issues, bug reports and feature requests for this plugin. For technical support, I would recommend you reach out on the [Google Mobile Ads Technical forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for assistance.

[2018-05-25 23:00] #679 closed

[2018-05-28 09:17] denis-samodurov opened #680 "My game crashes when I build it on iOS with admob. The Android works without falling"
When I build the project with admob on ios,  the game crash some time. If the same project build on android platform it works fine. If I disable admob, the game works fine on iOS. If I use debug build (test ads id) it also works fine.

I completed all steps in this tutorial [Google Mobile Ads SDK for Unity
](https://developers.google.com/admob/unity/start)
Can you help me, please!

**The error in

[2018-05-28 22:42] denis-samodurov commented on #680
The game crashes in this place in AdmobInterstitialManager_HandleOnAdFailedToLoad
<img width="642" alt="image" src="https://user-images.githubusercontent.com/20304228/40631064-47de68b6-62e1-11e8-806d-2fee7ce61abc.png">

[2018-05-29 00:16] denis-samodurov commented on #680
When I removed:
`interstitial.OnAdFailedToLoad += HandleOnAdFailedToLoad;`
the error gone away

[2018-05-29 00:16] #680 closed

[2018-05-29 09:19] Jbstudio425 opened #681 "Getting Error On Activity In Manifest"
CommandInvokationFailure: Unable to merge android manifests.
C:/Program Files/Java/jdk1.8.0_151\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="E:/SDK/adt-bundle-windows-x86-20140702/adt-bundle-windows-x86-20140702/sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\PlaybackEngines\AndroidPlayer/Tools\sdktools.jar" -

stderr[
Error: [Temp\StagingArea\AndroidManifest-

[2018-05-30 10:39] shlapkoff commented on #572
@rampara hi, yes, it's behavior fixed in latest version of plugin.

[2018-06-01 06:19] msureka opened #682 "Crash on Reward Video Completed on Android"
Hello,

We just updated our game and added Firebase Cloud Messaging and Firebase Analytics packages, and now the game is crashing whenever a rewarded video completed callback is called.

Is there some conflict issue as a similar problem was reported a year back but was supposedly fixed?

Can you please check as our game is currently live but crashing whenever a rewarded video is played.

A snapsho

[2018-06-01 22:40] pedicagames opened #683 "When the video is finished, the application crashes when you try to change "TextMesh.text""
1) I used the sample project here.
2) I added a "TextMesh" object to the scene (Game object name: "Screen Text").
3) I have added the following lines;
[code]
4) When the video is finished or canceled, the app is crashes.
5) Here is Log file when video rewarded:
[log.txt](https://github.com/googleads/googleads-mobile-unity/files/2064854/log.txt)

[2018-06-04 05:53] Brijesh-kumar-Vaishya opened #684 "Rewarded Video Ad showing test video ad on second time in Unity Plugin"
Hello Connections

In my unity project is used admob rewareded video ad for showing add two time (different ad with same adUnitId).

First time it works fine but second time it shows test rewarded video ad.

issue is showing test ad on second time.

Thanks
Brijesh Kumar Vaishya

[2018-06-05 02:13] HudsonSchumaker opened #685 "Banner is not removed"
Hello,
Using the method bannerView.Destroy(); the banners are not removed.

Best regard.

[2018-06-05 03:28] wrramerson opened #686 "Unity and adMob Does not display ads and when requesting the interstitial displays the app has stopped can anybody help me?"
AdMob Does not display ads and when requesting the interstitial displays the app has stopped can anybody help me?

[2018-06-06 02:24] cowboybkit opened #687 "AdMob Banner - Unity Plugin Position incorrect"
Hi,
I have a bottom banner but incorrect position.
The banner position is above the bottom line (contain virtual key).
I use GoogleMobileAds v3.13.1, test device Asus zenphone 5, android version 8.0.0
Please see the screenshots in the attachment.
![1527668281570](https://user-images.githubusercontent.com/450528/41012358-5c481136-696b-11e8-8fcf-4ffe1b1abca1.JPEG)

[2018-06-06 11:31] obaidahmed234 opened #688 "ANR with com.google.android.gms.internal"
Hi, We're receiving ANR Report from our games using Admob made with Unity 2018.1.1. I have attached ANR Report below and this is the only information we have regarding ANR since we're unable to reproduce this.

"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 obj=0x76206f90 self=0xab8dcf00
  | sysTid=20094 nice=-4 cgrp=apps sched=0/0 handle=0xf7019ec8
  | state=S schedstat=( 15044498

[2018-06-07 12:02] prasadvrk opened #689 "Interstitial is showing but neither Banner nor Rewarded showing"
@rampara, When I tested with test Ad Unit IDs, all three types of ads were working but when I replaced them with my ids only Interstitial is working but not Banner and Rewarded, can you please help me figure out why,  Please  my code below:

using System;
using UnityEngine;
using GoogleMobileAds.Api;
using UnityEngine.SceneManagement;

public class AdManager : MonoBehaviour
{
    public static AdM

[2018-06-08 05:44] yawarabbasshah commented on #681
<activity
-- @android:name="com.google.android.gms.ads.AdActivity"
-- @android:theme="@android:style/Theme.Translucent">
--

<activity
++ @android:exported="false"
++ @android:name="com.google.android.gms.ads.AdActivity"
++ @android:theme="@android:style/Theme.Translucent">
]

You can see the difference of this in both manifest files try coping (android:exported="false") to androidmanifest-main at

[2018-06-08 22:48] rotter opened #690 "banner.Destroy() causes rare crash in production"
I'm getting a crash in production in a small subset of cases, less than 1% of players, but still a lot of crashes.

I dont have much info, only the exception/stack trace (below). I can't see any pattern on the crashes regarding Android version (mostly android 5 and 6, but there are some crashes on 7 also) or device/brand (top 3 devices are from different brands).

My code is pretty standard, I don

[2018-06-10 17:34] prasadvrk commented on #689
No so far I could not solve

On Sun, Jun 10, 2018, 10:55 PM OguzFARSAK <notifications@github.com> wrote:

[2018-06-11 09:31] OguzFARSAK commented on #689
if you find anything please write to me. If i  find  i will write too

[2018-06-11 10:37] OguzFARSAK commented on #689
Someone said: If you didnt publish your app on google play and you just test on your test device(phone), you change package name in unity (use "com.test.admob") And if your AD IDs are new, wait one-two days to use

[2018-06-11 10:49] prasadvrk commented on #689
Thanks for the info but interesting is working fine and it's been four days
after I created ids so that may not be the reason, right now I don't have
cable once it is back I will test and keep you informed

On Mon, Jun 11, 2018, 4:07 PM OguzFARSAK <notifications@github.com> wrote:

[2018-06-11 11:22] muxapet commented on #687
Try to build unity project with Gradle build system, it works for me.

[2018-06-12 20:35] #689 closed

[2018-06-13 04:18] Klonium opened #692 "Crash in сloud build during assembly under ios."
Hello, I can not find a solution to the problem. I found a lot of topics in Google, but none of them really helped me. I use the plugin admob https://github.com/googleads/googleads-mobile-unity/releases/tag/v3.13.1 version v3.13.1 in the project, but when I try to build a project under the IOS in a cloud build, a number of errors appear in the logs connected with this plugin.
Unity Version 2018.1.

[2018-06-13 08:05] yosiharan opened #693 "GDPR Compliance"
It would be great to have one or more of the following options:
1. An API for showing a consent dialog, like in the native iOS & Android SDKs.
2. An option to serve non-personalized ads with no capping capabilities or any other actions which require consent. Basically, an option which would make the usage of the SDK fully GDPR compliant even without showing a consent dialog.

Are any of these feat

[2018-06-13 11:33] Jbstudio425 opened #694 "com.google.android.gms.ads.MobileAds Issue With Firebase"
`: AndroidJavaException: java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds
: java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds
:      at java.lang.Class.classForName(Native Method)
:      at java.lang.Class.forName(Class.java:309)
:      at java.lang.Class.forName(Class.java:273)
:      at com.unity3d.player.UnityPlayer.nativeRender(Native Method)
:      a

[2018-06-13 11:57] Jbstudio425 commented on #681
Solve this by deleting the manifest file in project.
The manifest is auto generated by unity & it has all stuff needed.

[2018-06-13 11:57] #681 closed

[2018-06-13 12:49] kemalsen commented on #694
Same here

[2018-06-13 13:28] Epiczzor opened #695 "On ADMOB Initialization"
Getting this error on initialisation of admob

[code]
Other Plugins Used:
- Google Sign in
- Facebook Sign in
- LitJSON
- Firebase Messaging

Things that I've already tried:

1) Resolve Jars
2) Reimport all my plugins

[2018-06-13 14:19] kemalsen commented on #695
again same here

[2018-06-14 12:35] galloperx opened #696 "Admob banner doesn't show after adding IAP through Unity services"
Hello,
I was using this plugin and it was working fine (showing one banner) in my app. Without any changes to the banner script code which is almost identical to the example one here, I added IAP through Unity Services, it works fine, but now the banner is gone.
While trying to trace the problem to its root I added try {..} catch {...} blocks to the banner creating code and the line
bannerAd = new

[2018-06-14 13:17] obaidahmed234 commented on #695
same here

[2018-06-15 09:43] Hexa566 commented on #696
Unity Version ? Build Type ? (Internal or Gradle) ?

[2018-06-15 09:56] galloperx commented on #696
Unity 2017.4.4f1 and building with Gradle

[2018-06-15 17:55] Hexa566 commented on #696
Trying using internal if gradle is not necessary , i think it is mostly happening due to gradle.
See your debugs , is admob initializing or not ? & paste your logcat.

[2018-06-16 12:14] ardaegeunlu commented on #695
same here with v3.13.1

[2018-06-16 19:47] Mitnainartinarian commented on #695
I had the same problem after upgrading to the newest Unity Firebase (FCM and Analytics). It looked like a conflict with different versions of Play Services components. I was able to fix it by changing Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml, to use v15.0.1 of play services ads (instead of 12.0.1):

[code]

I don't know if this is the proper way of fixing it, so I can't guaran

[2018-06-16 20:57] ardaegeunlu commented on #695
@Mitnainartinarian that worked like a charm, thanks! I will still be on my toes about this topic though.

[2018-06-18 13:06] Epiczzor commented on #695
@Mitnainartinarian, that seemed to solve the problem for me, Thanks a lot

[2018-06-21 18:06] htsoft commented on #632
Same issue in Unity 2018.1.5f1 I've updated repo using:
[code]
But the problem still persists

[2018-06-23 09:13] Adnan5000 opened #698 "Game Stops. noclassfoundexception gms on interstitial"
i have imported admob SDK and called the resolver for android and initialized and called the interstitial. on interstital the app stops and DDMS shows noclassfoundexception of gms. need help kindly resolve the issue.

[2018-06-23 20:35] Lennotoecom opened #702 "application freeze after interstitial.LoadAd(request)"
Application freeze observed every time you run interstitial.LoadAd(request)

tested on the GoogleMobileAds version 3.13.1, 3.8.0, 3.7.0,
to reproduce the issue:
create empty project, import GoogleMobileAds, resolve dependencies,
code to trigger the issue:

[code]
Please help me this is a disaster.

[2018-06-25 09:19] rampara commented on #659
@sebastianteres this will be fixed in an upcoming release of this plugin.

[2018-06-25 09:30] rampara commented on #696
@galloperx is the `unity-plugin-library.jar` still present in your project under the `Assets/Plugins/Android/GoogleMobileAdsPlugin/libs` directory?

[2018-06-25 09:32] rampara commented on #695
The upcoming release for this plugin will update the dependencies file to use the latest version of the Google Mobile Ads SDK, which will resolve this issue.

[2018-06-25 09:34] rampara commented on #694
@Jbstudio425 @kemalsen updating the version of the Google Mobile Ads SDK from 12.0.1 to 15.0.1 in `Assets/GoogleMobileAds/Editor/GoogleMobileAdsDependencies.xml` should resolve this issue.

[2018-06-25 09:34] rampara commented on #694
Closing at duplicate of #695.

[2018-06-25 09:34] #694 closed

[2018-06-25 09:38] rampara commented on #693
@yosiharan a Consent SDK similar to the one offered for the Android and iOS SDKs is planned for Unity. As for you second point, under the Google EU User Consent Policy consent is required for non-personalized ads. For more information on policies, I would recommend you reach out on the [Google Mobile Ads Product Support Forum](https://productforums.google.com/forum/#!forum/google-admob-help-forum)

[2018-06-25 09:38] #693 closed

[2018-06-25 09:40] rampara commented on #690
@rotter currently investigating this issue and will follow up when I have more information.

[2018-06-25 09:42] rampara commented on #686
@wrramerson can you provide more information? Are you experiencing a crash? If so, can you provide a stack trace?

[2018-06-25 09:46] rampara commented on #682
Closing at duplicate of #695.

[2018-06-25 09:46] #682 closed

[2018-06-25 09:48] rampara commented on #665
@akwkong closing this issue as the AdColony dependencies file has been updated to reference v3.3.2.0.

[2018-06-25 09:48] #665 closed

[2018-06-25 09:51] rampara commented on #666
@msureka if you're provide more information on which devices this issue in present I can investigate further.

[2018-06-25 09:52] rampara commented on #685
Closing as duplicate of #666.

[2018-06-25 09:52] #685 closed

[2018-06-25 09:54] rampara commented on #673
@sathyaraj-shettigar is this issue still present for you on the latest version of the Unity plugin that supports Native Advanced (3.13.1.1) ?

[2018-06-25 10:04] sathyaraj-shettigar commented on #673
You can't comment at this time.

[2018-06-25 10:04] sathyaraj-shettigar commented on #673
@rampara Yes it does exist

[2018-06-25 10:31] Jbstudio425 commented on #694
Error is gone but the ads are still not showing @rampara

[2018-06-25 10:31] rampara commented on #687
@cowboybkit is this issue present for you on all devices with soft keys or just the Asus Zenphone 5?

[2018-06-25 10:33] rampara commented on #688
@obaidahmed234 closing this issue as the ANR is caused by WebView and not this plugin.

[2018-06-25 10:33] #688 closed

[2018-06-25 10:37] rampara commented on #684
@Brijesh-kumar-Vaishya are you experiencing this issue on Android or iOS? Are you able to consistently reproduce the issue? Are you registering your device as a test device?

[2018-06-25 10:39] rampara commented on #660
@malyawka would you be able to capture a network log of your ad request?

[2018-06-25 10:40] rampara commented on #694
@Jbstudio425 please open a new issue with additional details.

[2018-06-25 10:41] rampara commented on #673
@sathyaraj-shettigar can you provide the full stack trace to NullReferenceException from the latest plugin.

[2018-06-25 10:42] rampara commented on #632
Closing issue as generating a new iOS project that includes the latest version of the iOS SDK resolves this issue.

[2018-06-25 10:42] #632 closed

[2018-06-25 10:53] rampara commented on #623
@Andro-Samurai is this issue resolved for you now?

[2018-06-25 10:57] rampara commented on #674
@gokhandem can you capture a network log for and request made with a Unity 5.x build vs a Unity 2017 build?

[2018-06-25 11:00] rampara commented on #654
@alaslipknot is this issue still present for you with the latest UnityAds dependencies?

[2018-06-25 11:01] rampara commented on #652
@alaslipknot can you retest with the latest mediation support package for UnityAds?

[2018-06-25 17:51] akwkong commented on #665
@rampara I am not seeing a new version of the adapter on Bintray:
https://bintray.com/google/mobile-ads-adapters-unity/GoogleMobileAdsAdColonyMediation

The existing versions, 1.0.0 and 1.0.1, have not been updated recently either. Could you please make sure the updated .unitypackage is available on Bintray?

[2018-06-25 18:35] Pierre-Demessence commented on #702
Hello,

I get the same issue (v3.13.1):
After viewing an interstitial ad the app becomes totally irresponsive.
You're stuck and can't do anything but close it. Sometimes it would even crash directly.

There're several location where I load an intersitial ad but the issue doesn't occur everywhere.
It occurs only **when I try to load an image right after closing the ad** _(Loading some image raw dat

[2018-06-25 23:31] Lennotoecom commented on #702
Hello colleagues,

thank you very much for your reply.
You can observe the issue on the following video which I recorded:
https://drive.google.com/open?id=1_qWUQ4xJd7pKc7vkO9R2_fmjvQmvxaF2

Code of the project:
[code]

The Project structure:
![projectelements](https://user-images.githubusercontent.com/5365155/41880664-672f7034-78ad-11e8-83b9-ce5bb6abc6a6.PNG)

ScreenView:
![sceneview](https://user

[2018-06-25 23:37] Lennotoecom commented on #702
Additional information:
issue observed only on Android devices (don't have apple),
I do not observe any errors or exceptions,
all consequent ad requests are running without freezes (only first one lags).
It appears that application itself is not frozen but input is impacted.

[2018-06-27 07:10] #686 closed

[2018-06-27 13:57] Wanderer13 commented on #692
Hi, had same issue. Adding framework dependencies resolved this for me.
FrameworkDependencies: AdSupport;CoreData;CoreFoundation;CoreTelephony;MobileCoreServices;Security;StoreKit;CoreBluetooth;EventKit;GLKit;MessageUI;SafariServices;
![unity-2017 2 1](https://user-images.githubusercontent.com/22817174/41978208-fe84c1c8-7a29-11e8-8771-f1a39c3c1642.png)

[2018-06-28 04:46] AnitaVPN commented on #623
Hello there, i have go threw the conversations and get that without release my app , i am not able to see my ads or i can not test my apps with ids (ad-unit-ids)

How can i am sure that when app is live then whatever configuration i did was right ? or my ads work well..

With your test ids everything is working fine as you guys are experts and very well you all know the flow for add ads but what a

[2018-06-28 04:46] AnitaVPN commented on #623
please conform me that without having app live i can not test my google ads ?

[2018-06-28 12:07] msureka opened #703 "Native Advanced Ads"
Hello,

We are trying to show Native Ads along with other ad formats like banner, interstitial and rewarded.

As per https://developers.google.com/admob/unity/native-advanced, we downloaded the early access build unitypackage, but on importing it to the project, there are only 2-3 files. There is no API, Mediation, etc. folders in this package?

Are we suppose to remove the old GoogleMobileAds fol

[2018-06-28 12:57] galloperx commented on #696
Yes it's there, sorry for late reply.
Currently the exact error with showing the banner pops up after this line of code:
`bannerAd = new BannerView(adID, AdSize.SmartBanner, AdPosition.Top);`
and the exception is the class not found: com.google.unity.ads.adlistener
I've tried different ways to solve this, including reinstalling the Android SDK, clearing Gradle cache, updating Java to the latest SD

[2018-06-28 13:52] galloperx commented on #696
Additionally, I tried to use the Resolver's option "Prebuild with Gradle" which led to this error:

Error somewhere in the process of creating the gradle build, executing it, and copying the outputs.
This will break dependency resolution and your build will not run.
See the output below for possible gradle build errors. The most likely cases are: an invalid bundleID (which you can correct in the A

[2018-06-30 04:30] Lennotoecom commented on #702
Hello colleagues,
please let me know if you have any update for this.

Thank you.

[2018-06-30 08:48] perseus25 commented on #687
@rampara : I also get same issue on Redmi 5 (Android 7.1.2). I use latest admob plugin version and Unity 5.6.5p2.
Please fix it. My app on Play store get many 1 star rating because this.
:(

[2018-07-01 14:13] KiVo16 opened #704 "AdMob desn't work on Huawei/Apple/Xiaomi phones | Reward ADs doesn't show on IOS"
Hey,

2 Problems:

**1. AdMob desn't work on Huawei/Apple/Xiaomi phones**

So, i always test my games, apps etc.. on huawei phones.

**Everything was working, but now something is wrong.**

I just figured out that AD like Banners and Interstitials don't work on Huawei, Xiaomi and Apple phones. _**- No fill error**_
_**- HandleFailedToReceiveAd event received with message: No fill**_
_**- HandleInt

[2018-07-02 06:27] mianyaasiraali opened #705 "Rewarded Ad not showing"
Hi,
I've been using Admob for banners and interstitials and have never encountered a problem. But now i want to implement admob rewarded ad and for some reason i am not getting anything out of it. I've imported the latest admob, my sdk has latest play services and the I'm using the GoogleMobileAdsDemoScript.

[2018-07-04 02:54] Lennotoecom commented on #702
bump

[2018-07-04 05:35] msureka commented on #640
Any idea what can be done to resolve this?

[2018-07-04 07:10] hameedullahjan835 commented on #200
Maybe it's too late to answer, I was facing the same issue, I created a plugin this plugin contains Facebook SDK+Admob+unityads +unity IAP, all of them work together, I've created this plugin in unity 5.6.0, but I've checked it, it is working fine in unity 2017 as well, there is a scene "DemoScene", just open it everything is implemented, unity ads, admob, facebook share with callback, unityIAP.

[2018-07-04 07:34] AnhPham opened #706 "OnAdCompleted of Rewarded Video never called on iOS"
I found that rewardBasedVideoAdDidCompletePlaying (iOS) have never called even after finish watching rewarded video.

[2018-07-04 09:44] msureka opened #707 "ANR on Android"
**Title:**
Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 10. Wait queue head age: 21118.3ms.)
com.google.android.gms.ads.AdActivity

OS: Android 7.0
Device: Galaxy J7
Reported by Google Play ANRs

Using Google Ads Unity SDK & Google Play Services.

[2018-07-04 10:37] rafante opened #708 "Plugin incompatible with firebase in unity"
In unity, If you add for instance firebase auth or real time database, and also add the admob plugin. They conflict about some dll, and If you proceed It seems it will work because in editor It shows no problem but If you build the app on Android, the app crashes when you call the RequestBanner () method more especifically in the new BannerView([...]) command. Please fix this issue because I reall

[2018-07-04 16:43] davegabe opened #709 "Ads not showing and crash on request interstitial"
This is the function I call when it crash
`public void showInt()
    {
        if (interstitial != null && interstitial.IsLoaded())
        {
            interstitial.Show();
        }
        else
        {
           if (interstitial == null)
                RequestInterstitial();//error seems to be in this function
        }
    }
`
This is the function:
`    void RequestInterstitial()
    {

[2018-07-05 01:07] rafaelf82 opened #710 "Nothing is showing."
Not really sure what's going on, apparently it's something with the "java.lang.NoClassDefFoundError: Failed resolution of: Landroid/webkit/SafeBrowsingResponse" however I couldn't find any way to fix it.

The entire logcat for the unity test application I made is attached.

[pluginerrorlogcat.txt](https://github.com/googleads/googleads-mobile-unity/files/2164577/pluginerrorlogcat.txt)

[2018-07-05 08:29] martin3361 opened #711 "[EGL] Unable to acquire context: EGL_BAD_ALLOC: EGL failed to allocate resources for the requested operation."
Strangely, I started getting this error some days ago, without changing anything - Android version stayed the same, Admob Unity plugin stayed the same, Unity version stayed the same. But all of a sudden:
`[EGL] Unable to acquire context: EGL_BAD_ALLOC: EGL failed to allocate resources for the requested operation.`
This happens when a video interstitial is loaded, and my application in the backgrou

[2018-07-05 09:44] martin3361 commented on #711
I am attaching the logs I obtained with `adb`. The logs start with the exact moment the ad was triggered and end a bit after it was closed (and ad should return to app context).
This specific snippet contains the error:

07-05 12:14:19.217   239   239 I BufferQueue: [unnamed-239-819](this:0x7cedb37800,id:819,api:0,p:-1,c:-1) BufferQueue core=(239:/system/bin/surfaceflinger)
07-05 12:14:19.217   23

[2018-07-06 08:31] davinderkumar opened #712 "iOS Compilation error"
While compiling in Xcode 9.3, I am getting following error

In file included from /project/Assets/Plugins/iOS/GADUNativeExpressAd.m:3:
/project/Assets/Plugins/iOS/GADUNativeExpressAd.h:16:22: error: expected a type
                    (GADUTypeNativeExpressAdClientRef *)nativeExpressAdClient
                     ^
/project/Assets/Plugins/iOS/GADUNativeExpressAd.h:25:22: error: expected a type

[2018-07-06 10:19] perseus25 commented on #687
@cowboybkit Mình dùng bản unity 2017.3.1f1 thì không bị lỗi này nữa, còn unity 2018 với unity 5.6 thì bị. Bạn thử xem sao.

[2018-07-07 11:14] siddharth3322 opened #713 "AdMob Ads Not Showing in Android"
I have just integrated Admob plugin within my game project. I only want to display Admob fullscreen ads in Android build of game.

I have followed this document from first to last to display ads:
[https://developers.google.com/admob/unity/start](url)

I was getting this kind of messages in debug log:
![yman_log_ads_tag](https://user-images.githubusercontent.com/3082151/42410282-eaff02b6-8204-11e8-

[2018-07-07 12:24] mstfcbn opened #714 "Banner not showing up on iOS 10.3.3"
Hi. I have integrated Admob plugin within my project. When tested on my iPad with iOS 11.4 it worked fine, but on iPhone 5 with iOS 10.3.3, the banner not showing up. Also I didn't receive an error message with related this issue on Xcode console while bulding and running. I noticed only a warning and error but I'm not sure this is the why. Because I tested about two months ago and worked fine on

[2018-07-07 14:53] habosoft commented on #432
I have the same issue with msureka.
Any updates?

[2018-07-07 20:21] rotter commented on #690
I'm also seeing a rare NPE on the same exact line - com.google.unity.ads.Banner.destroy(Banner.java:328).

AndroidJavaException: java.lang.NullPointerException

Managed Stack Trace:
java.lang.NullPointerException
com.google.unity.ads.Banner.destroy(Banner.java:328)
com.unity3d.player.UnityPlayer.nativeRender(Native Method)
com.unity3d.player.UnityPlayer.c(Unknown Source)
...

[2018-07-09 04:00] blueveno opened #715 "AdMob Ads Not Showing"
I have just downloaded plugin and using for showing advertisement, but not ads show.
If i use old plugin version, ads ready to show. Can you fix this bugs? Thank you so much

[2018-07-09 06:14] rahat10120141 opened #716 "Rewarded Video Events Are not Working"
I opened this issue few months earlier, I show them a video that actually the events are not working even with their hello world file. But unfortunately they closed the issue instead of solving it. Then I switched back to Unity Ads. Now I again I am opening this issue because I need to integrate Admob Video Add Badly.

Again I am submitting the video file that your events are not working. Please f

[2018-07-10 15:00] dermarder commented on #640
I have the same issue. Any ideas?

[2018-07-10 15:03] waqasahmeddevbatch commented on #707
I have same issue, Please let me now how to resolve it?

[2018-07-10 21:20] rampara commented on #715
@blueveno for technical support with integrating this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2018-07-10 21:20] #715 closed

[2018-07-10 21:22] rampara commented on #713
@siddharth3322 for technical support with integrating this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2018-07-10 21:22] #713 closed

[2018-07-10 21:30] rampara commented on #708
Closing as duplicate of #695.

[2018-07-10 21:30] #708 closed

[2018-07-10 22:42] rampara commented on #711
@martin3361 this issue seems to be caused by your workaround to your app being paused and not by this plugin. Closing this issue as it is out of the scope of this issue tracker.

[2018-07-10 22:42] #711 closed

[2018-07-10 23:45] rampara commented on #709
@davegabe looks like you may not be including the required Google Play services dependencies in your project. For technical support regarding integration of this plugin, I would recommend you reach out the [Google Mobile Ads Technical Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2018-07-10 23:45] #709 closed

[2018-07-10 23:48] rampara commented on #704
@KiVo16 on iOS, are you testing with a bundle id that corresponds to an app published on the App Store? Are you able to load test ads without issue?

[2018-07-11 15:51] MartinGonzalez opened #717 "Separate iOS GMA Adapter and Network SDK"
Is there a way that the GMA adapter for any network (ex: Tapjoy) and the network SDK to be separated for iOS?

Right now in the mediations, adapters and SDKS are in the same PodFile

https://cocoapods.org/pods/GoogleMobileAdsMediationTapjoy

In Android this is separated but in iOS not. This would be really useful to not couple the sdk with the adpater.

[2018-07-11 17:16] akwkong commented on #665
Saw that there is a 1.0.2 version available on Bintray now that uses version 3.3.4 of the AdColony SDK, thanks!

[2018-07-13 11:09] AsilKan38 opened #718 "AndroidJavaException: java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds"
Hello iam still learning about unity and android game developing. i make a simple game and i want to use admobs but ads not showing
İ try Unity Jar Resolver and i change the androidPackage spec="com.google.android.gms:play-services-ads:12.0.1 to 15.0.1

here is the Logcat
AndroidJavaException: java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds
07-13 14:04:52.215  2086  2126 E U

[2018-07-13 12:31] AsilKan38 commented on #718
Yes I did it

[2018-07-13 22:55] casolorz commented on #695
Just want to be clear, I'm getting the exception below under 15.0.1, it is my understanding it will be fixed in a future version?

[code]

[2018-07-14 02:03] Lennotoecom commented on #702
bump

[2018-07-14 08:34] ciogenis opened #719 "Interstitial ads is played when run rewardBasedVideo.Show();"
I've tested in
- Unity : 2017.4.1f1
- google mobile ads : 3.14.0, 3.13.1

Test app ID is working good. But if I use my admob app id, fail message is showed.
And I don't understand why interstital ads is showing when I run rewardBasedVideo.Show() function in this case. Is it normal?

- logcat log
------------------------------------------------------------------------------------------------
W/Ads

[2018-07-15 20:44] coderpavel opened #720 "Test ad does not work"
I used hello app, but al buttons do not show me test ad. What problem can be?

[2018-07-15 23:11] arcv commented on #718
Check if Minify option is active in the Unity publising settings.
Edit -> Project Settings -> Player -> Publishing Settings -> Minify options to None

[2018-07-16 07:38] AsilKan38 commented on #718
both of them are none

[2018-07-16 09:53] Evantko commented on #707
Same issue.

- GoogleMobileAds - v3.14.0
- play-games-plugin-for-unity-master-0.9.50
- Unity 2018.1.5f1
- Android API Level 27

Need help

[2018-07-16 18:10] henryhe1 commented on #397
adblocker was an issue for me to react to comments. Turned it off and was able to react to above post haha

[2018-07-17 10:29] dermarder commented on #707
Same here.

[2018-07-17 10:33] msureka commented on #707
@rampara can you please look into this?

[2018-07-17 11:22] Jbstudio425 opened #722 "Ad Mob Ads Not Showing"
com.google.android.gms.ads.MobileAds problem is solved by :-

`https://github.com/googleads/googleads-mobile-unity/issues/694`

**But the ads are not showing & debug is giving no errors.**

[2018-07-17 14:05] avinash018 opened #723 "Crash on Reward Video Completed on Android"
Hello,

I am using 3 mediation networks with admob to get ads.
Facebook, UnityAds, IronSource.
When the rewarded ad played from unity ads, it was showing test ads because i added the device as test device. Then after closing the ad the app crashes immediately throwing this exception.

I`ve tried one of you solutions by  updating the version of the Google Mobile Ads SDK from 12.0.1 to 15.0.1 in Ass

[2018-07-17 15:05] sarthakz9 commented on #238
@rampara This is how you can reproduce this error for Admob unity.
1. make 2 scenes, say A and B.
2. you can go from scene A to scene B and vice versa.
3. All you rewarded video ad logics and callbacks should be written in script present in scene B.
4. now, when you will go to scene B for the first time your callbacks will be init. for the first time and everything will work fine.
5. go back from

[2018-07-17 21:46] LeonAppDev commented on #397
The same issue happens to me, no ad blocker

[2018-07-18 06:22] rchallenger commented on #722
Hello, According to screenshot of Plugins folder content I can tell you that resolver didn't explode some firebase aar's wich were denedent on project's bundle or something else, that had to be pasted in plugin's manifest. See additional folders in screenshot.
![fb gad](https://user-images.githubusercontent.com/20810488/42863270-383d92fe-8a6b-11e8-94a7-83faa4500f5e.PNG)

By the way latest firebase

[2018-07-19 03:26] sarthakz9 opened #724 "Rewarded video callbacks not occurring in this particular scenario."
Rewarded video callbacks don't work as expected in the following case.

This is how you can reproduce this error for Admob unity & android phones.

1. make 2 scenes, say A and B.
2. you can go from scene A to scene B and vice versa.
3. All your rewarded video adv. logics and callbacks should be written in script present in scene B.
4. now, when you will go to scene B for the first time your callba

[2018-07-20 10:42] ItsGodHand opened #725 "System.IO.FileLoadException: The assembly name is invalid.I have encountered this error, please help me to look at it."
When I import the plugin into Tolua's LuaFrameWork project. When I imported the plugin into Tolua's LuaFrameWork project, I encountered an error when I generated the tolua file. Please help.：
`System.IO.FileLoadException: The assembly name is invalid.
  at System.Reflection.AssemblyName..ctor (System.String assemblyName) [0x0003a] in /Users/builduser/buildslave/mono/build/mcs/class/corlib/System.R

[2018-07-20 15:45] ItsGodHand opened #726 "Error: ??????????????? "uses-sdk" ?????????????????? "tools:overrideLibrary" ????????? "tools" ????????????"
`/Volumes/mac/Use/Project/DHSCLI/Client/unity.proj/Temp/StagingArea/AndroidManifest-main.xml:3:3-72 Error:
	uses-sdk:minSdkVersion 14 cannot be smaller than version 15 declared in library /Volumes/mac/Use/Project/DHSCLI/Client/unity.proj/Temp/StagingArea/android-libraries/com.android.support.customtabs-26.1.0/AndroidManifest.xml as the library might be using APIs not available in 14
	Suggestion: u

[2018-07-20 18:19] rampara commented on #726
@ItsGodHand Increasing the minimum SDK version under Android build settings should resolve this issue for you.

[2018-07-20 18:19] #726 closed

[2018-07-20 18:22] rampara commented on #725
@ItsGodHand as this issue stems from the Play Services resolver component, I would recommend you open an issue on the [Play Services Resolver GitHub issue tracker](https://github.com/googlesamples/unity-jar-resolver/issues). Resolving these issues is outside the scope of this issue tracker.

[2018-07-20 18:23] #725 closed

[2018-07-20 18:30] rampara commented on #707
@msureka this issue does seem to come from the Unity JNI bridge. Currently investigating alternative ways to forward ad events from GMA SDK to the Unity plugin that are less ANR-prone.

[2018-07-20 18:31] rampara commented on #718
@AsilKan38 can you provide a Unity test project that reproduces this issue. It would help get to the bottom of what is causing this issue for you.

[2018-07-20 18:32] #718 closed

[2018-07-20 20:32] rampara commented on #719
@ciogenis can you provide the code you're using to request and display rewarded video ads?

[2018-07-20 20:35] rampara commented on #702
@Lennotoecom looks like the slowdown you're experiencing is due to GMA SDK initialization that occurs on the first ad request (and not something in this plugin). I have shared this issue the GMA SDK team and they are working towards refining initialization behavior. Closing this issue as it is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google

[2018-07-20 20:35] #702 closed

[2018-07-20 20:36] rampara commented on #695
Closing as this has been resolved in the latest version of this plugin.

[2018-07-20 20:36] #695 closed

[2018-07-20 20:37] YashMakadia commented on #712
Even i am facing this. Did u get a solution?

[2018-07-20 20:38] rampara commented on #696
@galloperx can you provide a test Unity project that reproduces this issue?

[2018-07-20 20:39] rampara commented on #705
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-20 20:39] #705 closed

[2018-07-20 20:40] rampara commented on #706
@AnhPham are you experiencing issue with the `HelloWorld` sample app included in this repo?

[2018-07-20 20:43] rampara commented on #714
@mstfcbn the `no ad to show` message indicates there wasn't an ad available for your ad request.
If you are able to load test ads without issue, everything is working as intended. Mediation is a good option for increasing fill rates.

[2018-07-20 20:43] #714 closed

[2018-07-20 20:46] rampara commented on #640
Closing as duplicate of #707

[2018-07-20 20:47] rampara commented on #717
@MartinGonzalez Android will soon be updated to follow the iOS approach. Why would you want the adapters without the SDK?

[2018-07-20 20:48] rampara commented on #720
As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-20 20:48] #720 closed

[2018-07-20 20:49] rampara commented on #690
@rotter having trouble reproducing the issue. Will keep it open for now.

[2018-07-20 20:53] rampara commented on #659
closing as this has been resolved.

[2018-07-20 20:53] #659 closed

[2018-07-20 20:53] rampara commented on #654
Closing as not reproducible.

[2018-07-20 20:53] #654 closed

[2018-07-20 21:16] rampara commented on #712
@davinderkumar For integration issues, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-20 21:16] #712 closed

[2018-07-20 21:17] rampara commented on #411
Closing issue as new Unity directory structure will not permit this.

[2018-07-20 21:17] #411 closed

[2018-07-20 21:22] rotter commented on #690
Thanks for the feedback.

I cant reproduce it as well, and as I mentioned it's pretty rare, happens in less than 1% of the sessions, but it's still a lot. Maybe it happens on an unusual situation such as when the app is being closed, the phone is being shutdown, the disk is completely full, the memory is completely full, etc.

Could you just do a general try/catch on that line? Since it's an excep

[2018-07-20 21:41] rampara commented on #722
@Jbstudio425 For integration issues, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-20 21:41] #722 closed

[2018-07-20 21:44] rampara commented on #716
For integration issues, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support. Keep in mind, you shouldn't be using Unity API from ad event callbacks as described in this [blog post](https://ads-developers.googleblog.com/2016/04/handling-android-ad-events-in-unity.html).

[2018-07-20 21:44] #716 closed

[2018-07-20 21:48] rampara commented on #683
@pedicagames you shouldn't be using Unity API from ad events as discussed in this [blog post](https://ads-developers.googleblog.com/2016/04/handling-android-ad-events-in-unity.html).

[2018-07-20 21:48] #683 closed

[2018-07-21 04:15] ItsGodHand opened #727 "Hello, program crash, when loading the video, I get an error "Fatal signal 11 (SIGSEGV) at 0x00000000 (code=1),""
The program is running on the emulator, I need your help, thank you. The following is the logcat after loading the video:
`07-21 12:00:47.663: I/Ads(3817): Starting ad request.
07-21 12:00:47.663: I/Ads(3817): This request is sent from a test device.
07-21 12:00:47.667: W/Ads(3817): Not retrying to fetch app settings
07-21 12:00:47.671: W/GooglePlayServicesUtil(3817): Google Play Store is missing.

[2018-07-21 12:32] waqasahmeddevbatch commented on #707
@rampara please help me, how can we move Ads event from GMA SDK to Unity Plugin that is more stable? As this issue causing so many ANRs and it directly impact to our Android Vitals. Vitals threshold are directly responsible for game discovery.

Please help me the way around.

[2018-07-21 12:53] msureka commented on #707
@rampara Yes, @waqasahmeddevbatch is correct. With the new algorithm of Google Play, discovery is massively affected due to poor Vitals (ANRs & Crash). We are facing several ANRs and crashes due to the GMA SDK, but since it seems the only way to integrate Google Ads, we can't remove it.

Please treat the ANRs and Crashes on priority.

Thanks!

[2018-07-21 21:02] coderpavel opened #728 "Does not show any thing"
I wrote code, but ad does not appear
HERE IS MY CODE

using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using GoogleMobileAds.Api;

public class GoogleMobileAdsDemoScript : MonoBehaviour {

	private InterstitialAd interstitial;

    public void Start()
    {
        #if UNITY_ANDROID
            string appId = "ca-app-pub-6424440213593674~9492123081";
        #elif UNI

[2018-07-22 09:06] assafcohen1 opened #729 "Memory Leak in the HelloWorld project"
Hi,
When using the plugin in iOS, It looks like the memory consumption only goes up, until the app crashes.
on iPad2, Unity 2018.2, SDK 3.14, Xcode 9.4 and the default HelloWorld Project (also tested with 3.13 and 3.12 and other iOS devices)
![screen shot 2018-07-22 at 12 03 44](https://user-images.githubusercontent.com/10744930/43044045-5d1e4c96-8da7-11e8-9dad-7419e13adcad.png)
All I did is click

[2018-07-23 02:14] #727 closed

[2018-07-23 12:02] z5084633 opened #730 "Admob banner ads not showing up after building but test ads worked."
While I was making the game I used the Admob test IDs and when I built the game and tested it on my phone everything worked fine, I would get a banner ad saying, this is a admob test ad. Once I finished making the game, all I did was replace the AppID and unitID with the real ones that were in my admob account but when I published the game today I see that there are no banner ads showing. Any idea

[2018-07-23 12:08] z5084633 commented on #728
Are you calling the GameOver function at all? Also you will not see an ad unless you build it and run it on a device. Do you get Loading dummy ad in the console when running it in the unity editor?

[2018-07-23 19:09] rampara commented on #728
For plugin integration issues I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-23 19:10] #728 closed

[2018-07-23 19:11] rampara commented on #730
@z5084633 as test ads are working without issue, the problem you are encountering does not seem to be caused by this plugin but rather a serving issue. I would recommend you reach out on the  [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-07-23 19:11] #730 closed

[2018-07-24 12:39] mstfcbn commented on #714
I have updated Unity and Admob plugin to latest version and tried again. The issue still exists. On my iPad (iOS 11.4.1) Ads always working fine but on my iPhone (iOS 10.3.3) never works.

[2018-07-24 19:53] rampara commented on #707
@msureka @waqasahmeddevbatch @dermarder @Evantko just pushed v3.15.0 of this plugin which includes changes to mitigate this issue. Can you give that a try and let me know if ANRs are no longer as prominent.

[2018-07-24 19:54] rampara commented on #572
Closing this issue as it seems to have been resolved on the latest version of this plugin.

[2018-07-24 19:54] #572 closed

[2018-07-24 19:55] rampara commented on #629
Closing this issue as it should no longer be present on the latest version of this plugin.

[2018-07-24 19:55] #629 closed

[2018-07-24 19:56] rampara commented on #652
Closing issue due to non-response.

[2018-07-24 19:56] #652 closed

[2018-07-24 19:56] rampara commented on #649
Closing issue due to non-response.

[2018-07-24 19:56] #649 closed

[2018-07-24 19:56] rampara commented on #660
Closing issue due to non-response.

[2018-07-24 19:56] #660 closed

[2018-07-24 19:57] rampara commented on #673
Closing issue due to non-response.

[2018-07-24 19:57] #673 closed

[2018-07-24 19:57] rampara commented on #698
Closing issue due to non-response.

[2018-07-24 19:57] #698 closed

[2018-07-24 19:58] rampara commented on #703
@msureka yes, as mentioned in the developer docs integration instructions, you should remove all existing plugin files before integration the Native Advanced version of the plugin.

[2018-07-24 19:58] #703 closed

[2018-07-24 20:01] rampara commented on #671
@wallaby3 @Mitnainartinarian is this issue only reproducible on certain devices for you or across all devices ?

[2018-07-24 20:03] rotter opened #731 "How to know when MobileAds is initialized?"
I am trying to use:
MobileAds.SetApplicationVolume(xxxx);

But am getting an error/exception saying MobileAds isnt initialized yet. I dont think I am supposed to call MobileAds.Initialize(), right? Because I have never called this in the past, so I think it is called automatically internally.

So my question is, is there a way to know if MobileAds is initialized? This way I can call SetApplication

[2018-07-24 20:15] arcv commented on #731
According to [MobileAds.cs](https://github.com/googleads/googleads-mobile-unity/blob/master/source/plugin/Assets/GoogleMobileAds/Api/MobileAds.cs) source, you should call `MobileAds.Initialize(appId)` before calling `SetApplicationVolume`

[2018-07-24 21:53] rampara commented on #731
@rotter there is currently no API to poll initialization state of the GMA SDK. As @arcv mentioned, it is best practice to call `MobileAds.Initialize()` as early as possible.

[2018-07-24 21:53] #731 closed

[2018-07-24 21:56] rampara commented on #674
Closing due to non-response.

[2018-07-24 21:56] #674 closed

[2018-07-24 21:56] rampara commented on #662
Closing due to non-response.

[2018-07-24 21:56] #662 closed

[2018-07-24 21:57] rampara commented on #671
Closing as this issue seems to be resolved on the latest version of the plugin.

[2018-07-24 21:57] #671 closed

[2018-07-24 22:11] rotter commented on #731
Thanks! But just to make sure, I need to call this MobileAds.Initialize() myself (even if I dont use the SetAppVolume)? This seems to be an important part of the admob plugin workflow, and I have never called this method before (on Unity at least, dont remember back when my game was native Android).

[2018-07-24 22:13] rampara commented on #731
@rotter yep. You should call `MobileAds.Initialize()` before interacting with any GMA SDK API.

[2018-07-24 22:30] rampara commented on #666
Closing issue due to non-response.

[2018-07-24 22:30] #666 closed

[2018-07-24 22:32] rampara commented on #692
@Klonium can you try testing with the latest version of the plugin (which includes an updated Play Services Resolver build) and incorporating the steps mentioned by @Wanderer13.

[2018-07-24 22:38] rampara commented on #667
A fix for this issue will be included in an upcoming release of the plugin.

[2018-07-24 23:08] rampara commented on #714
@mstfcbn I would recommend handling on `OnAdFailedToLoad` ad event to receive more information on why ads failed to load and attempting to load our test ad unit (`ca-app-pub-3940256099942544/2934735716 `). For additional integration support, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2018-07-25 05:33] waqasahmeddevbatch commented on #707
@rampara thanks for the update, We have implemented this version in our latest game  and will update the outcomes in this threads soon.

[2018-07-25 06:57] waht123msn commented on #723
I have the same error，after I udate the 3.15.0,not work.And then I  check my project on the android studio,find the verison11 in it,So I delete it ,hahhah, it finally worked!!!!!!
//	compile(name: 'play-services-ads-lite-11.0.4', ext:'aar')
//	compile(name: 'play-services-basement-11.0.4', ext:'aar')
//	compile(name: 'recyclerview-v7', ext:'aar')
//	compile(name: 'support-compat', ext:'aar')
//	co

[2018-07-25 10:52] yinghuizhou opened #732 "AdsManager.loadInterstitial UnityEngine.AndroidJavaException: java.lang.NoSuchFieldError: no ""Ljava/lang/Object;"" field ""currentActivity""
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> UnityEngine.AndroidJavaException: java.lang.NoSuchFieldError: no ""Ljava/lang/Object;"" field ""currentActivity"" in class ""Lcom/unity3d/player/UnityPlayer;"" or its superclasses
java.lang.NoSuchFieldError: no ""Ljava/lang/Object;"" field ""currentActivity"" in class ""Lcom/unity3d/player/U

[2018-07-25 15:17] coderpavel commented on #728
Yes, I got dummy message and also I have built my app, but on the device I did not get add.

[2018-07-25 15:18] coderpavel commented on #728
GameOver function is called after clicking on a btn

[2018-07-25 15:19] coderpavel commented on #728
I do not know what is a problem

[2018-07-25 18:13] rampara commented on #732
@yinghuizhou for technical support I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk).

[2018-07-25 18:13] #732 closed

[2018-07-25 18:13] rampara commented on #723
@waht123msn glad you were able to resolve your issue.

[2018-07-25 18:16] rampara commented on #707
Will keep the issue open while waiting on feedback.

[2018-07-25 18:19] rampara commented on #633
@anightinseoul will investigate and follow up once I have more information on this issue.

[2018-07-25 18:40] rampara commented on #687
@cowboybkit currently don't have access to a Redmi 5. Are you able to reproduce the issue with the latest version of the plugin on any other devices?

[2018-07-26 05:53] avinash018 commented on #723
@rampara Thanks for the response. Actually i added all of the files as per the guidelines given [Unity ads mediation for Android developer docs](https://developers.google.com/admob/android/mediation/unity).
**The issue was solved buy downgrading the unity ads file to the previous version.**

They mentioned to use the latest files in the links provided. I used the latest files only. But later i not

[2018-07-26 05:54] avinash018 commented on #397
I tried disabling the adblocker its working for me.

[2018-07-26 11:28] SparklingLukas opened #733 "Sending message to a Handler on a dead thread"
Using Unity 2017.4.3f1 and AdMob 3.15.0 I get the follow error in Logcat.
This error seems be caused by calling `InterstitialAd.Destroy()` inside the `InterstitialAd.OnAdClosed` eventhandler.

I can reproduce it on an Acer A1-840FHD (API 19) but not on Wiko View2 (API 26).

Edit: After some more testing it seems to happen on the second, third etc Interstitial I close but not on the first.

[2018-07-26 15:36] guyhazi opened #734 "admob banner height issue"
in galaxy 9s+ show admob banner at bottom.
swipe bottom of screen for bottom navigation bar to pop up.
press the left button to view all open apps.
select the same app.
**banner will raise above the navigation bar and after few seconds/refresh will go down again.
the last stage doesnt happen all the time.

so the banner is higher then expected for few seconds, any idea how to handle this issue?

[2018-07-27 05:08] avinash018 commented on #397
@zixuan75 Try logout and login back after clearing cookies and cache. Then try it.

[2018-07-27 13:47] RafaelC2 opened #735 "Version 3.14.0 does not import .aar files"
Versions 3.15.0 and 3.13.1 work well here, but for some reason version 3.14.0 does not seem to be importing .aar files.

[2018-07-27 17:39] rampara commented on #735
@RafaelC2 might be due to a bug for with a specific version of Play Services Resolver included in v3.14.0. However, I'm not able to reproduce the issue. Closing the issue as it doesn't seem to be a problem in the latest release of the plugin. Please re-open if it is.

[2018-07-27 17:40] #735 closed

[2018-07-27 17:41] rampara commented on #733
@SparklingLukas I'm having trouble reproducing the issue. Are you able to reproduce the issue on any device other than a Acer A1-840FHD.

[2018-07-27 18:21] rampara commented on #723
@avinash018 integrating with Unity Ads should not require any additional steps beyond importing the Unity Ads mediation support package and resolving dependencies. If you already manually included any Unity Ads artifacts you may have to remove them yourself. For additional integration support, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.

[2018-07-27 18:21] #723 closed

[2018-07-28 01:54] MartinGonzalez commented on #717
@rampara Thanks for your answer!

This is to avoid 3rd parties classes collisions. There are other mediators that also bring 3rd party sdks and classes collide when building because we have duplicate code.

Splitting this file into XXXAdapterDependencies.xml and XXXSDKDependencies.xml would be the best approach, so if we already have that sdk or other mediator integrates it, we can only remove a f

[2018-07-28 23:10] happyone7 opened #737 "CommandInvokationFailure: Unable to convert classes into dex format."
my envirounment is
- Unity version : 2017.3.1f1 Personal
- google play service Plugin 0.9.5
- Unity IAP plugin

I have a build error.

I did a search.

It seems to be a matter of overlap between .aar and .jar.

In the picture below, 11.8.0 is created by the Google Play Service Plugin. 15.0.1 was created by the Googleads Plugin.

![image](https://user-images.githubusercontent.com/41842617/43361319-

[2018-07-29 15:57] mgrogin opened #738 "UnityAds Unity Mediation Plugin needs to be updated"
I think UnityAds Unity Mediation Plugin needs to be updated to match the new versions that are here
https://bintray.com/google/mobile-ads-adapters-ios/UnityAdapter/2.3.0.0#files/UnityAdapter/2.3.0.0

[2018-07-30 00:48] SebastianMR commented on #737
The way I've solved this problem was to remove both Google Ads plugin and the Google Play Services plugin, then import the Ads plugin first and the Play Services second but without the Play Services Resolver, because there already was a newer version installed with the Ads plugin.

[2018-07-30 08:01] rchallenger commented on #734
Try playing with immersive mode. It helped me sometimes

[2018-07-30 08:58] mgrogin commented on #738
I updated Assets/GoogleMobileAds/Editor/UnityMediationDependencies.xml

changed line
`    <iosPod name="GoogleMobileAdsMediationUnity" version="2.2.1.0">`
to
`    <iosPod name="GoogleMobileAdsMediationUnity" version="2.2.1.1">`

**whole file:**
[code]

I know theres already 2.3 out but no pod and I didn't change android version yet.

Any chance I'm breaking something by making this change?

[2018-07-30 15:05] SparklingLukas commented on #733
@rampara I have tested again and I can also reproduce it on Samsung Note 3 (API 23) and Samsung S6 (API 24).

My steps to reproduce is:

1. Start game
2. Wait for interstitial to be available, so play the game a bit
3. Show interstitial
4. When interstitial is done, click the round close button at top right
5. Interstitial closes
6. Error shows up in logcat

Below is the stacktrace from the Note 3

[2018-07-30 20:28] rampara commented on #737
@happyone7 it looks like your attempting to include conflicting versions of Play Services dependencies (11.8.0 and 15.0.1). I would recommend you remove all Play Services dependency files from the `Assets/Plugins/Android` directory and resolve dependencies again. As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Tec

[2018-07-30 20:28] #737 closed

[2018-07-30 20:32] rampara commented on #738
@mgrogin updates are pushed to mediation packages on a weekly basis after recertifying that there are no breaking 3rd party SDK changes. I wouldn't be able to tell if you if there are breaking changes until the updated 3rd party SDK is certified against a new build of the adapter.

[2018-07-30 20:32] #738 closed

[2018-07-31 08:50] OniTheC4t opened #739 "Crash while adding AdColonyMediationExtras"
The app crash on android when calling RewardBasedVideoAdClient.LoadAd with AdColonyMediationExtras and GDPR parameters.

GoogleMobileAdsAdColonyMediation-1.0.2
Google Mobile Ads Unity Plugin v3.15.0

07-30 13:51:02.006: E/CRASH(19517): 	#00  pc 00011464  /system/lib/libc.so (strlen+83)
07-30 13:51:02.006: E/CRASH(19517): 	#01  pc 00120f3c  /data/app/com.WhatWapp.BeloteLeDefi-1/lib/arm/libunity.so

[2018-07-31 12:06] SparklingLukas commented on #733
@rampara  I think I found the reason why you couldn't repro it.

I created a repro project with only our AdMob provider and at first I didn't get the above error. But I noticed that I got different looking interstitials, comparing to the live game. In the repro I got the simple/cheap looking ads; no video's but just a static image with some brand awareness and a close (X) button.

Then I changed t

[2018-07-31 12:31] happyone7 commented on #737
Thanks for reply.

Already I have tried many times remove all Play Services dependency files from the Assets/Plugins/Android directory and resolve dependencies again.

But the problem is repeated.

As you recommend me, i'll reach out Google Mobile Ads Technical Support Forum.

Thank you.

[2018-07-31 22:44] rampara commented on #739
Assigning to joshuajplagonera to investigate.

[2018-08-01 08:17] leoHN commented on #645
@vanminh2501 I got same issues sometime. Admob may block your device id (or unit id...) if you sent to many request in short time. Just wait or change package name or unit id (for testing). It works for me

[2018-08-01 22:28] coderpavel opened #740 "Admob does not work at all"
I used latest release of the plugin. for the test I used Hello world scene, I added  Test adds into code

Banner | ca-app-pub-3940256099942544/6300978111
-- | --
Interstitial | ca-app-pub-3940256099942544/1033173712

in Unity I see dummy message, but when I build and test on several devices, ad does not work, it does not show anything on a device

[2018-08-02 03:38] abiaocom commented on #687
this bug show in HUAWEI nova 3e (ANE-AL00). I use GoogleMobileAds v3.15.0

[2018-08-02 08:42] jjstaats opened #741 "Fatal exceptions in "gms.ads.internal" when loading interstitial ads."
In our google play crash reporting we are seeing many "java.lang.Error" errors.

Example:
[code]

The game uses:
- Unity: 2017.4.3f1
- GoogleMobileAds Unity: v3.15.0

We are in the process of improving out google play android vitals and this is currently our most prominent error.

[2018-08-02 17:13] perseus25 commented on #687
This bug show in OnePlus6
I use lastest version plugin. Unity 2017.3.1f1

[2018-08-03 21:18] cometa93 opened #742 "Rewarded Video Callbacks not gets called after error in SDK"
`W Ads     : Unable to append parameter to URL: https://googleads.g.doubleclick.net/aclk?sa=L&ai=CN-VsxLxkW-RkwviAB4_1hDiQuKncUqPBz9e1B-Sr6eW4ARABIIqQwDZg6cTGhdQaoAHJ--jQA6kC-ALl_vVzsz6oAwHIAwiqBOgBT9A37PM-IejDpAv8jpjllsKiH5C2gvp0ry6xEKvIqmb25sOlnqGBeZGENHo_H0IS-YqBMG2Ix7MJMbC2Y9JoPq03TRRc-tuVlwni8FOT9ekDwiGDg4Yk1H4Nk_k38lZ79ElrnJlHeKMPLHyCZTRoS77Q5FNy6b7UM62Dk-zbY02hEH9Zukw20uyTaG8XvNdBs9JJ-u6WVh

[2018-08-06 04:42] msureka commented on #707
Still got ANR with new plugin:

Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 4. Wait queue head age: 13238.1ms.), VisibleToUser
com.unity3d.player.UnityPlayerActivity

"main" prio=5 tid=1 Native
  | group="main" sCount=1 dsCount=0 obj=0x734292a0 s

[2018-08-06 04:45] msureka commented on #707
Another ANR:

Android 7.0
Xiaomi Redmi Note 4

Input dispatching timed out (com.company.gamename/com.unity3d.player.UnityPlayerActivity, Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 3. Wait queue head age: 8609.3ms.)
com.unity3d.player.UnityPlayerActivity

"main" prio=5 tid=1

[2018-08-06 06:32] waqasahmeddevbatch commented on #707
Still have ANRs issue with update AdMob SDK. I'm using
Unity 2018.1.2f1
minSDKVersion 21
targetSDKVersion 27
**One of the ANRs Cluster report pasted below.**

_Input dispatching timed out (Waiting to send non-key event because the touched window has not finished processing certain input events that were delivered to it over 500.0ms ago. Wait queue length: 27. Wait queue head age: 5560.7ms.)

com.u

[2018-08-07 05:39] ramkeshcse084 commented on #432
public void ShowRewardBasedAd (){
	if (this.rewardBasedVideoAd.IsLoaded ()) {
		this.rewardBasedVideoAd.Show ();

	} else {
		this.LoadRewardBasedAd ();
	}

remove else{}:
public void ShowRewardBasedAd (){
	if (this.rewardBasedVideoAd.IsLoaded ()) {
		this.rewardBasedVideoAd.Show ();

	}
		LoadRewardBasedAd ();
Starting method run only one times so first time your ad was showing coz you have calle

[2018-08-07 14:13] rampara commented on #707
@msureka the first ANR trace you provided is caused by the GMA SDK and not this plugin. I would recommend reporting that issue on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk). It looks like second ANR is caused by Google Play games. Are you including that plugin in your app? If so, you would need to report the issue on the issue trac

[2018-08-07 14:13] rampara commented on #707
@waqasahmeddevbatch can you provide full ANR logs?

[2018-08-07 14:28] waqasahmeddevbatch commented on #707
**@rampara Here are the Full ANR log**

DEXP ES355 (ES355), Android 6.0
Report 1 of 2

COLLAPSE ALL
"main" tid=1 Blocked
"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 obj=0x74529668 self=0xb4d76500
  | sysTid=16352 nice=-4 cgrp=default sched=0/0 handle=0xb6f40c00
  | state=S schedstat=( 0 0 0 ) utm=117 stm=53 core=0 HZ=100
  | stack=0xbe1b2000-0xbe1b4000 stackSize=8MB
  | held mu

[2018-08-07 17:10] msureka commented on #707
I am not using any GMA SDK. I’m only using this plugin for serving Google Ads (Admob) in our Unity game. Don’t think there is any other SDK that can be used to serve ads in Unity.

We are also using the official Google Play Games SDK as mentioned by Google.
Note: There is a conflict if we use Tye latest releases of both the plugins.

Please advice,

Mohit

[2018-08-07 20:57] rampara commented on #707
@msureka by GMA SDK, I was referring to the Google Mobile Ads SDK, which is used by this plugin to request and display ads.

@waqasahmeddevbatch the log you posted does not seem to be caused by this plugin.

[2018-08-07 21:12] rampara commented on #742
@cometa93 is this issue present for AdMob ads or for mediated ads? Are you able to consistently reproduce the problem?

[2018-08-07 21:28] rampara commented on #741
As this issue is caused by the GMA SDK and not this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-08-07 21:29] #741 closed

[2018-08-07 21:30] rampara commented on #687
Attempting to get a hold of one of the devices mentioned to reproduce the issue. Will follow up when I have more information.

[2018-08-07 21:31] rampara commented on #740
@coderpavel are you receiving an ad failed to load ad event? If so, what error information did your receive?

[2018-08-09 04:49] mongpoo94 opened #743 "java.lang.ClassNotFoundException: com.google.android.gms.ads.MobileAds"
![dd](https://user-images.githubusercontent.com/20275074/43878556-c2fb7da4-9bda-11e8-9656-4f2b3fd3becd.png)
![sdf](https://user-images.githubusercontent.com/20275074/43878571-d2113824-9bda-11e8-8b0d-ebfc4a4717c1.png)
i want put ad in my game made by unity. but error comes out. is there any solution for it?

[2018-08-09 06:49] waqasahmeddevbatch commented on #707
@rampara I'm not using any other plugin or SDK except AdMob SDK in my game. I think _com.google.android.gms.internal.measurement_ unavailability is the main reason of this ANR, but I'm not sure.
Still if this is not causing by this Plugin then please suggest any way around to get rid of this ANRs issue (As both GA & GMA linked with each other) as it's direct impacting visibility of our games day b

[2018-08-09 06:53] mongpoo94 commented on #743
I did all documentation told(https://developers.google.com/admob/unity/start). but still not work.

[2018-08-09 07:27] mongpoo94 commented on #743
![dddsd](https://user-images.githubusercontent.com/20275074/43884454-1ea5ca22-9bf1-11e8-8bda-f2007fad0e08.png)

[2018-08-09 11:13] rchallenger commented on #743
Here is what [Developer guide](https://firebase.google.com/docs/admob/unity/start) says:
![alt text](https://developers.google.com/admob/images/unity_dependencies.png)

[2018-08-09 11:43] mongpoo94 commented on #743
i don't have that option.. Resove or Force Resove

[2018-08-09 18:38] rampara commented on #743
@mongpoo94 As this issue is not related to a bug in this plugin or a feature request, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-08-09 18:39] #743 closed

[2018-08-09 18:42] rampara commented on #707
@waqasahmeddevbatch I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for issues regarding the Google Mobile Ads SDK. This issue tracker is only for issues with the Google Mobile Ads Unity plugin.

[2018-08-10 06:31] waqasahmeddevbatch commented on #707
I have reached out to GMA team in following thread but can't found any solution yet.
[Link to Issue Thread at GMA Forum](https://groups.google.com/d/msgid/google-admob-ads-sdk/b01f65fa-c3e3-45d4-b6a9-858f9e49ec85%40googlegroups.com)

[2018-08-10 06:52] tucano commented on #687
I have also this issue I'm oneplus6 and Wiko view 2. any news on this? Seems that you are correcting for a "safe area" but Unity is not.

[2018-08-11 14:54] coderpavel commented on #740
I didn't get any message

[2018-08-13 16:14] Tanek81 commented on #712
If anyone stumbles on this issue, since the v3.13.1 in the AdMob plugin there are some obsolete classes that the Unity Package installer cannot delete (as it works only adding new files or editing existing ones), those are referencing old classes hence this error.
You can simply reinstall the plugin (deleting all the files and then reimporting the .UnityPackage ) or delete them manually, here's al

[2018-08-13 18:53] Mitnainartinarian opened #744 "AdMob smart banner not centered"
My smart banners are not properly centered on one of my test devices. It's a Galaxy S6 (SM-G920W8) running Android 6.0.1. I'm using Unity 2018.1.6f1. The attached screenshot shows an example. On my other devices they are properly centered. They are a Galaxy S6 with Android 5.1.1 and a Galaxy S7 with Android 7.0.0 (I no longer have the S7, but it was working fine in the past). This is a problem I'v

[2018-08-16 08:36] fschaar opened #745 "Rewarded Videos fail to load on iOS"
I'm getting crazy on this.

While this Plugin works on Android and shows some Ads, loading of video always fails on iOS. I tried the test-Ads as well as own ads. I also added unity Ads network to my admob account, to make sure there are ads available. nothing works.
It always fires the ad failed to load event.

Any Idea, what i'm doing wrong?

Here is my code:

`public class AdmobManager : MonoBeh

[2018-08-20 06:07] AC002 commented on #739
Same problem here but with Vungle, sadly it needs mediation extras to even work.

[2018-08-20 08:33] WhatWapp commented on #687
We have the same issue on devices like Zenphone and OnePlus. Any news on this?

[2018-08-20 08:50] rchallenger opened #746 "crash on Oreo"
Hello. After alpha testing on Google Play console we were reported about app crash on Pixel Android 8.0.
Unity 2018.2.2
GAD 3.15.0
com.google.android.gms.play-services-ads-15.0.1.aar
FirebaseAnalytics 5.2.0

Process: com.masha_and_bear_games.girls_boys.hospital_toy_doctor, PID: 9301
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.masha_and_bear_games.girls_boys.hospital_toy_

[2018-08-20 11:19] karanvariya opened #747 "Native Advance Ads Loaded Game Hang For iOS"
hi..

I have use this example,see link below
https://developers.google.com/admob/unity/native-advanced-unified

The problem is native ads texture downloaded time iOS device hang.android native ads smooth work.

I have also try multithread request.but this not work.

Anyone suggest?how to solve this issue?

Thanks in advance.

[2018-08-21 07:57] abiaocom commented on #746
hnn... i get the crash too..
https://github.com/googleads/googleads-mobile-unity/issues/746

[2018-08-21 10:14] kobyle69 commented on #746
Same here

[2018-08-21 20:12] ussef145 commented on #513
you just need to request loading ad again by using loadRewardedVideoAd() in the last line in the function
Like this :
fun showRewardedVideo(view: View){
If(rewardBasedVideo.isLoaded){
rewardBasedVideo.show()
//Rest of your code}
loadRewardedVideoAd()
}

[2018-08-22 06:59] Wolar opened #748 "Slow Rendering Android"
We are basically facing same issue that is mentioned here https://github.com/googleads/googleads-mobile-unity/issues/557 but since this issue appeared we experienced >95% drop in downloads so it seems that Android Vitals team are punishing us for this.

We have:
Unity 2018.2.0 (we have tried 2018.2.4 as well with same results)
AdMob 3.15.0

The problem is that Android Vitals are not tracking OpenG

[2018-08-22 11:34] Wolar commented on #748
So I've spent like 5 days trying to dig out why or how it happens and I'm now pretty confident I know the cause.

The problem seems to be in displaying Interstitial or Reward while Banner Ad is active or loaded but hidden but it happens only for some banners.

For example:
Forge of Empires (video) + Wish (banner) = 90% janky frames
Forge of Empires (video) + Creative Dock (banner) = 16% janky fram

[2018-08-23 00:13] ericleich commented on #745
If you haven't already, can you post this question to the [AdMob developer forum](https://groups.google.com/forum/#!categories/google-admob-ads-sdk/game-engines) in the game engines section? This looks like a support question and you'll get a quicker response there. Nothing in particular looks wrong with the code, and the fact that the code is working on Android means that the only difference in i

[2018-08-25 07:32] Piotr12 opened #749 "wrong position of SmartBanner on some devices"
Seems a duplicate of #744 but I am unable to post my comment there for some reason.

This screen is from pre-launch report:

 * Galaxy S7 edge
 * Spanish (United States)
 * Android 6.0
 * Unity 2018.2
 * Admob package v3.15

`banner = new BannerView(Config.BANNER_AD_ID, AdSize.SmartBanner, AdPosition.Top);`

I was unable to replicate this on my device (but its not S7 edge).

![admob_wrong_position

[2018-08-26 12:26] devingDev opened #750 "ClassNotFoundException without proguard"
Hi after adding the lib to Unity via doubleclicking the .unitypackage ( got it from the main admob unity page ) and importing I coded a little and added the some basic smart banner and interstitial but I am getting a ClassNotFoundException.

And yes I did press Resolve at least once in the Assets -> Play Resolver -> android menus

UNity version : 2018.2.4f1 (64bit)
Player settings :
Release ,
Prog

[2018-08-26 14:50] devingDev opened #751 "Can't seem to position (smart) banner ad where I want."
In Unity :
I have some sort of navigation bar on the bottom. ( i guess something like BottomNavigationBar )
I have canvas set to scale with screen size and match width/height set to 0.5 and reference resolution is 1080x1920 (portrait game)

So I now want to place the ad right above the bar on the bottom which in the editor is like 150 px high (at least thats what I set it to when I was in 1080x192

[2018-08-26 15:43] devingDev opened #752 "Interstitial ad not showing on iOS"
hi i have the banner ad working but the interstitial does not work.
I get the callback that ad is loaded, IsLoaded() returns true.
But calling .Show() does not show anything and I do not see any callback like cancel or error or similiar.
And nothing shows up on screen.

[2018-08-27 07:31] MushoodMunir opened #753 "Banner ad position changes after viewing interstitial ad."
![issue](https://user-images.githubusercontent.com/10167077/44646888-e80c4500-a9f5-11e8-883f-29f7376f6af3.png)
![sample](https://user-images.githubusercontent.com/10167077/44646889-e80c4500-a9f5-11e8-8aec-bf30ae997581.png)

I'm using unity 2017.2.1 and Google Mobile Ads Unity Plugin v3.13.0
Issue: The Smart Banner Position move up after the soft keys appeared on interstitial ad. Sometimes the bann

[2018-08-27 07:50] MushoodMunir commented on #687
I'm facing same issue on Nexus6P

[2018-08-29 09:05] fschaar commented on #745
Hi,

thanks for the reply. That's what i  thought to. I also checked the ID several times. One tester also said he saw some ad already. The App was not in store at that time. May it be possible, that it doesn't work, when the app isn't connected to the AdMob Account, which can only be done, when the app is published in the store?

[2018-08-29 12:39] Check2016 commented on #739
I got the same error in Unity 2018.2.5f1 when adding Vungle extras. I found out that this likely is a Unity3d bug caused by an AndroidJavaObject call that returns null (In the plugin probably: GoogleMobileAds.Android.Utils line: 189 with a call to map.put)
Unity Issue: https://issuetracker.unity3d.com/issues/android-application-crashes-when-native-function-returns-null
They say it is fixed "in a f

[2018-08-29 17:17] scorp2007 opened #754 "v3.15.0 version"
Why do not I show ads in this version at all? Although earlier I worked with previous versions and I had no problems. Also I see that the weight of the plug-in of this version is less than 300 kb, and in other versions of the plug-in it is about 8 mb. Maybe it's some kind of mistake?

[2018-08-30 20:44] rampara commented on #754
@scorp2007 For integration issues with this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-08-30 20:44] #754 closed

[2018-08-30 20:53] rampara commented on #745
@fschaar this is a known issue on our end where if bundle id/package name for an app does not correspond to a published app, you may notice fill issues. A quick way to verify would to test with a bundle id/ package name of a published app. Once your app is published, the app will receive ads as expected.

[2018-08-30 20:59] rampara commented on #745
As @ericleich mentioned, for further support with this issue, you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-08-30 20:59] #745 closed

[2018-08-30 21:01] rampara commented on #752
@devingDev are you able to consistently reproduce the issue? If so, can you provide a Unity project that in which this issue is present.

[2018-08-30 21:02] rampara commented on #750
@devingDev can you post the contents of the `Plugins/Android` directory of your Unity project?

[2018-08-30 21:30] rampara commented on #752
@devingDev glad to here the issue has been resolved for you.

[2018-08-30 21:30] #752 closed

[2018-08-30 21:30] rampara commented on #750
@devingDev glad to hear the issue has been resolved for you.

[2018-08-30 21:30] #750 closed

[2018-08-30 21:32] rampara commented on #746
@rchallenger @abiaocom @kobyle69 can you post the contents of the `Assets/Plugins/Android` directory of your Unity project. When using the latest version of Play Services, this issue shouldn't be present.

[2018-08-30 21:33] rampara commented on #740
For integration issues with this plugin, I would recommend you reach out on the [Google Mobile Ads Technical Support Forum](https://groups.google.com/forum/#!forum/google-admob-ads-sdk) for further support.

[2018-08-30 21:33] #740 closed

[2018-08-31 05:58] devingDev commented on #753
As a temporary solution you could recreate the bannerview after an interstitial

[2018-08-31 19:38] rampara commented on #739
This issue should be resolved on the latest version of this plugin (3.15.1).

[2018-08-31 19:38] #739 closed

[2018-09-01 03:41] sebastiaosantos opened #755 "Admob in IOS without advertisements or SDK problem?"
Is google ads without advertisement for IOS? I'm using Unity 2018.2.4 and tested the SDK V3.13, V3.14, V3.15 and V3.15.1 and in Banner calls, SmartBanner, Interstitial it always returns me this: HandleFailedToReceiveAd event received with message: Failed to receive ad with error: Request Error: No ad to show.

In Admob the request is 13000 and printing is 900. The correspondence rate is 20% or low

[2018-09-04 00:09] kobyle69 commented on #746
Still present

[2018-09-04 14:58] kobyle69 opened #756 "BannerView.MediationAdapterClassName() is causing a Crash on Android"
After 20 hours, and 100 unknown crashes, I found out that calling BannerView.MediationAdapterClassName() is causing a crash on my S8+ device.

It seems to work for interstitial/rewardvideos though I encountered rare issues with it on them as well.

Code Snippet:
[code]

Without the above Debug.Log, the game won't crash and the banner will be shown succesfully.

This happens on v3.13.1 (12.0.1) + v

[2018-09-05 00:00] rampara commented on #746
@kobyle69 @rchallenger I'm having trouble reproducing this on my end. Can you provide me with a test project that can reproduce the crash?

[2018-09-05 03:09] waht123msn opened #757 "`Utils' does not contain a definition for `CheckInitialization'"
when I update to 3.15.1,the unity show the error: Assets/GoogleMobileAds/Api/AdLoader.cs(48,19): error CS0117: `Utils' does not contain a definition for `CheckInitialization',and Assets/GoogleMobileAds/Api/CustomNativeTemplateAd.cs(53,26): error CS0117: `Utils' does not contain a definition for `GetTexture2DFromByteArray'

[2018-09-05 13:25] armnotstrong opened #758 "multiple dex files define Error with android build"
Hi, I am using the latest AdMob unity plugin(V3.15.1) together with firebase SDK to build an android apk

The problem is that it will complain about this error:

[code]

Have been struggling with this problem whole day and really need some help

here is the hierarchy of the project folder of Unity:

![qq 20180905212158](https://user-images.githubusercontent.com/3839691/45095908-d3e0ea00-b151-11e8-

[2018-09-05 13:46] kobyle69 commented on #758
Same here

[2018-09-05 22:40] rampara commented on #758
@armnotstrong @kobyle69 it looks like the issue you're experiencing is caused by using multiple conflicting versions of Google Play services dependencies. Can you ensure you're using the latest version of this plugin and the Firebase plugin. Can you also force a clean dependency resolution by selecting `Assets -> Play Services Resolver -> Android Resolver -> Force Resolve`.

[2018-09-06 03:13] armnotstrong commented on #758
Thanks, @rampara things work now after A Force Resolve of the Android Resolver

But the interesting thing is I have tried deleting all the `com.google.xxx` plugins and let the resolver do a fresh resolve but didn't get any luck, So why a Force Resolve will work?

Thanks anyway @kobyle69 you could also try if a ForceResolve will give you luck :+1:

[2018-09-06 22:37] rampara commented on #758
I believe some of the dependency resolution steps are cached where as force resolve starts from scratch. Though the [Play Services Resolver repo](https://github.com/googlesamples/unity-jar-resolver) is a better bet to get a more thorough answer.

[2018-09-06 22:37] #758 closed

[2018-09-06 22:38] rampara commented on #757
@waht123msn @natereese does seem like a namespace issue. I would ensure your project is not defining a different `Utils` class. Closing as a duplicate of #259.

[2018-09-06 22:39] #757 closed

[2018-09-06 22:39] rampara commented on #753
Closing as duplicate of #687 as that's still an open issue.

[2018-09-06 22:39] #753 closed

[2018-09-06 22:42] rampara commented on #747
@karanvariya there is an upcoming update to this plugin to address this issue.

[2018-09-06 22:43] rampara commented on #684
Closing issue due to non-response.

[2018-09-06 22:43] #684 closed

[2018-09-06 22:45] rampara commented on #719
Closing issue due to non-response.

[2018-09-06 22:45] #719 closed

[2018-09-06 22:45] rampara commented on #696
Closing issue due to non-response.

[2018-09-06 22:45] #696 closed

[2018-09-06 22:47] rampara commented on #744
Closing as duplicate of #749.

[2018-09-06 22:47] #744 closed

[2018-09-10 19:46] 1exip opened #759 "Video Rewarded Getting Called Twice After Reloading The Scene"
I have tried reimporting the plugin, reinstalling the jdk and the sdk. Nothing works, Video Rewarded and Video Closed gets called twice

[2018-09-11 06:37] 08irfan opened #760 "Compilation errors related to missing interfaces"
Getting following errors on Xcode while building the code.

**No visible @interface for 'GADNativeCustomTemplateAd' declares the selector 'setCustomClickHandler:'**

**No visible @interface for 'GADNativeCustomTemplateAd' declares the selector 'performClickOnAssetWithKey:'**

![screen shot 2018-09-11 at 11 36 26 am](https://user-images.githubusercontent.com/6177881/45342316-fe4dff80-b5b6-11e8-940e

[2018-09-12 16:08] tucano commented on #690
Hello, I have also this issue. Has been fixed in the last version of the plugin?

Thanks

[2018-09-13 18:44] ajon542 opened #761 "MonoPInvokeCallback ambiguous reference"
The MonoPInvokeCallbackAttribute is in the global namespace which is conflicting with other 3rd party libraries. Shall I create a pull request for moving it into a GoogleMobileAds namespace?

[2018-09-15 01:13] arminho opened #762 "MoPub mediation unity package missing MoPub.cs"
When following the instructions to add the MoPub mediation unity package to a unity project, MoPub.cs is missing from the unity package.

https://developers.google.com/admob/unity/mediation/mopub#step_3_import_the_mopub_sdk_and_adapter

![image](https://user-images.githubusercontent.com/453716/45580769-f74b1980-b862-11e8-9c04-a7d618c60b43.png)

I would expect to see this file in the above image, s

[2018-09-15 05:10] rbsl-yasmin commented on #391
I am having the similar problem, rewarded videos are only loading when the network is on wifi. I am using react native firebase. what should I need to do solve this issue?

[2018-09-17 05:10] xbhuang1994 opened #763 "can not found ForUnifiedNativeAd function in AdLoader.Builder"
Hi,
I can not found ForUnifiedNativeAd function in AdLoader.Builder.
How can I use it？
![image](https://user-images.githubusercontent.com/6432896/45606813-d8bf6b00-ba7a-11e8-8b32-01f1024134c9.png)

[2018-09-17 16:47] ajon542 commented on #763
Under the "Prerequisites" section on this page https://developers.google.com/admob/unity/native-advanced-unified, you can download an "early access build" which contains the method you are looking for.

[2018-09-25 07:04] nostel opened #764 "ANR on Android."
Hi, my game Skychamp. Has a lot of ANR. It seem related to Facebook adapter, Unity Ads adapter.
I'm using Google Ads Unity 3.15.1 and newest adapters.

Log:

[code]

Another log:
[code]

Any idea to reduce ANR rate?
Thanks in advance.

[2018-09-25 17:14] vitorbaraujo opened #765 "Cannot use unity sdk because com.android.gms.ads.InterstitialAd does not exist on 'com.google.android.gms:play-services-ads:15.0.1'"
I'm trying to integrate the sdk to my Unity project, but when I call the method to load an interstitial I receive an exception telling `Failed resolution of: Lcom/google/android/gms/ads/InterstitialAd`.

I inspected the `com.google.android.gms:play-services-ads:15.0.1` package and I did not find this class there. Am I missing some import?

[2018-09-26 22:03] vitorbaraujo commented on #765
This is the error I'm getting

[code]

[2018-09-27 03:44] Minuzzzz2 opened #766 "[There was a problem getting an ad response. ErrorCode: 0] error occurs some android device (tested at Galaxy S9)"
The following error occurs in the test app:
Nexus5(6.0.1), Pixel(8.0.0) does not have any problems,
Galaxy9 (8.0.0)has problems.

[log]
09-27 12:34:29.379 5290-12580/? E/Ads: Error waiting for future.
                                       java.util.concurrent.ExecutionException: java.util.concurrent.TimeoutException
                                           at com.google.android.gms.ads.internal

[2018-09-27 04:19] nmtoan91 opened #767 "Build Error: Multiple dex files define"
I got this error when build using:
Unity 2018.2.10
Plugin version 3.15.1
 Any help would be appreciated!

CommandInvokationFailure: Gradle build failed.
C:/Program Files/Java/jdk1.8.0_131\bin\java.exe -classpath "F:\Unity2018210\Editor\Data\PlaybackEngines\AndroidPlayer\Tools\gradle\lib\gradle-launcher-4.2.1.jar" org.gradle.launcher.GradleMain "-Dorg.gradle.jvmargs=-Xmx2048m" "assembleRelease"

st

[2018-09-27 09:56] nostel commented on #767
I guess you have duplicated library in your project.

[2018-09-28 04:48] ha-quang-vu opened #768 "RewardVideo cannot show in iPhone Xs and Xs Max"
**Description:**
Both of my project and sample project with name HelloWord cannot show rewardVideo in iPhone Xs(iOS 12.1) and Xs Max(iOS 12.0).
It run well when I tested in iPhone 7Plus(iOS12.1), iPhone X (11.3.1), iPhone 6s (iOS 11.3).
Other services like: Banner, Interstitial work well without error.

I tried to do something but it seem not successful.
1. Update Google-Mobile-Ads-SDK from ver 7.

[2018-09-28 07:18] hkk007 opened #769 "reward video callback not working in iOS build"
In iOS build
when reward video is playing game not automatically paused. so i used
MobileAds.SetiOSAppPauseOnBackground(true);

Then game paused
but problem is when i resume game.

    HandleRewardBasedVideoRewarded(object sender, Reward args)    is called when video is completed not closed.

HandleRewardBasedVideoClosed(object sender, EventArgs args)  this method is called only when user closed b

[2018-09-28 07:55] sahujaunpuri commented on #769
Where u get reward placement id?
Kya aap mujhe reward placement id generate krne ka link de sakte hai bhaee?

[2018-09-28 08:08] hkk007 commented on #769
Go to admob -> Apps -> Add Ad unit -> select reward video and follow steps

If you know interstitial and banner ads then it is near to it.

[2018-09-28 09:35] hkk007 commented on #769
please reply to my problem here

[2018-09-28 10:37] nostel opened #770 "How to decide with Adapter version will work with specific google ads version"
Hi,
I'm using google ads version 3.15.1 and FAN adapter 1.2.1 (https://bintray.com/google/mobile-ads-adapters-unity/GoogleMobileAdsFacebookMediation)
I want to use FAN adapter 1.1.3 since it use less Method (avoiding 65k method limit).

Is there anyway to know which adapter version will compatible with google ads version 3.15.1
I don't know where to find it.

[2018-09-30 01:56] programmermattsrum commented on #766
I'm getting the same error using the test reward ad "ca-app-pub-3940256099942544/5224354917" on my s8+ .  It was working a few days ago and just stopped working at all.  My appId is approved as well that I am using.

[2018-09-30 09:41] ChaleChan commented on #767
I got the similar problem. When I try to import "GoogleMobileAds.unitypackage" and "GoogleMobileAdsMediationTestSuite.unitypackage" to Unity,which from Google Admob, Unity fails building, and says"CommandInvokationFailure". I think the reason is that these two packages deploy repetitive Jar or aar dependent packages.

[2018-10-01 10:12] Mecze opened #771 "Unity App crashes after RewardedBasedVideo.run is called"
Hi, This is a weird crash being reported to us through Fabric.

Our players are suffering "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)" Crashes:

[code]
As you can see: name: Thread-59 refers to an specific thread.

Sadly, we've got no output error from that thread, but we've got last calls on that thread before the crash: Thread-59:

[code]
(This is being reported the same on all crashes with this